<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0241_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,309},{72,76}}</string>
        <key>offset</key>
        <string>{-4,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,76}}</string>
        <key>sourceSize</key>
        <string>{72,76}</string>
      </dict>
      <key>monster_0241_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,383},{70,76}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,76}}</string>
        <key>sourceSize</key>
        <string>{70,76}</string>
      </dict>
      <key>monster_0241_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,0},{83,85}}</string>
        <key>offset</key>
        <string>{-1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,85}}</string>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>monster_0241_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,87},{75,82}}</string>
        <key>offset</key>
        <string>{-20,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,82}}</string>
        <key>sourceSize</key>
        <string>{75,82}</string>
      </dict>
      <key>monster_0241_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,479},{78,84}}</string>
        <key>offset</key>
        <string>{-26,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,84}}</string>
        <key>sourceSize</key>
        <string>{78,84}</string>
      </dict>
      <key>monster_0241_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{75,82}}</string>
        <key>offset</key>
        <string>{-20,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,82}}</string>
        <key>sourceSize</key>
        <string>{75,82}</string>
      </dict>
      <key>monster_0241_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,565},{64,81}}</string>
        <key>offset</key>
        <string>{6,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,81}}</string>
        <key>sourceSize</key>
        <string>{64,81}</string>
      </dict>
      <key>monster_0241_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{103,85}}</string>
        <key>offset</key>
        <string>{-22,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,85}}</string>
        <key>sourceSize</key>
        <string>{103,85}</string>
      </dict>
      <key>monster_0241_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,232},{97,83}}</string>
        <key>offset</key>
        <string>{-14,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,83}}</string>
        <key>sourceSize</key>
        <string>{97,83}</string>
      </dict>
      <key>monster_0241_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,171},{79,76}}</string>
        <key>offset</key>
        <string>{2,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,76}}</string>
        <key>sourceSize</key>
        <string>{79,76}</string>
      </dict>
      <key>monster_0241_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{81,77}}</string>
        <key>offset</key>
        <string>{1,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,77}}</string>
        <key>sourceSize</key>
        <string>{81,77}</string>
      </dict>
      <key>monster_0241_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,364},{79,77}}</string>
        <key>offset</key>
        <string>{2,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,77}}</string>
        <key>sourceSize</key>
        <string>{79,77}</string>
      </dict>
      <key>monster_0241_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,0},{57,86}}</string>
        <key>offset</key>
        <string>{13,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,86}}</string>
        <key>sourceSize</key>
        <string>{57,86}</string>
      </dict>
      <key>monster_0241_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,265},{108,101}}</string>
        <key>offset</key>
        <string>{-35,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,101}}</string>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>monster_0241_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,524},{120,83}}</string>
        <key>offset</key>
        <string>{-32,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,83}}</string>
        <key>sourceSize</key>
        <string>{120,83}</string>
      </dict>
      <key>monster_0241_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,79},{81,74}}</string>
        <key>offset</key>
        <string>{14,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,74}}</string>
        <key>sourceSize</key>
        <string>{81,74}</string>
      </dict>
      <key>monster_0241_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,105},{89,73}}</string>
        <key>offset</key>
        <string>{11,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,73}}</string>
        <key>sourceSize</key>
        <string>{89,73}</string>
      </dict>
      <key>monster_0241_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,331},{83,74}}</string>
        <key>offset</key>
        <string>{14,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,74}}</string>
        <key>sourceSize</key>
        <string>{83,74}</string>
      </dict>
      <key>monster_0241_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,252},{73,79}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,79}}</string>
        <key>sourceSize</key>
        <string>{73,79}</string>
      </dict>
      <key>monster_0241_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,401},{84,121}}</string>
        <key>offset</key>
        <string>{-13,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,121}}</string>
        <key>sourceSize</key>
        <string>{84,121}</string>
      </dict>
      <key>monster_0241_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,124},{106,102}}</string>
        <key>offset</key>
        <string>{-28,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>monster_0241_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,84},{68,69}}</string>
        <key>offset</key>
        <string>{29,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,69}}</string>
        <key>sourceSize</key>
        <string>{68,69}</string>
      </dict>
      <key>monster_0241_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,445},{77,66}}</string>
        <key>offset</key>
        <string>{23,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,66}}</string>
        <key>sourceSize</key>
        <string>{77,66}</string>
      </dict>
      <key>monster_0241_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,529},{67,69}}</string>
        <key>offset</key>
        <string>{29,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,69}}</string>
        <key>sourceSize</key>
        <string>{67,69}</string>
      </dict>
      <key>monster_0241_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,196},{83,75}}</string>
        <key>offset</key>
        <string>{-12,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>monster_0241_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{86,122}}</string>
        <key>offset</key>
        <string>{-1,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,122}}</string>
        <key>sourceSize</key>
        <string>{86,122}</string>
      </dict>
      <key>monster_0241_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,401},{76,119}}</string>
        <key>offset</key>
        <string>{2,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,119}}</string>
        <key>sourceSize</key>
        <string>{76,119}</string>
      </dict>
      <key>monster_0241_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,416},{61,66}}</string>
        <key>offset</key>
        <string>{15,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,66}}</string>
        <key>sourceSize</key>
        <string>{61,66}</string>
      </dict>
      <key>monster_0241_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,235},{63,62}}</string>
        <key>offset</key>
        <string>{15,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,62}}</string>
        <key>sourceSize</key>
        <string>{63,62}</string>
      </dict>
      <key>monster_0241_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,0},{60,66}}</string>
        <key>offset</key>
        <string>{15,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,66}}</string>
        <key>sourceSize</key>
        <string>{60,66}</string>
      </dict>
      <key>monster_0241_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,281},{76,81}}</string>
        <key>offset</key>
        <string>{-14,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,81}}</string>
        <key>sourceSize</key>
        <string>{76,81}</string>
      </dict>
      <key>monster_0241_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{127,112}}</string>
        <key>offset</key>
        <string>{-14,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,112}}</string>
        <key>sourceSize</key>
        <string>{127,112}</string>
      </dict>
      <key>monster_0241_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,522},{110,115}}</string>
        <key>offset</key>
        <string>{-11,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,115}}</string>
        <key>sourceSize</key>
        <string>{110,115}</string>
      </dict>
      <key>monster_0241_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,333},{66,77}}</string>
        <key>offset</key>
        <string>{-9,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,77}}</string>
        <key>sourceSize</key>
        <string>{66,77}</string>
      </dict>
      <key>monster_0241_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,529},{65,67}}</string>
        <key>offset</key>
        <string>{-12,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,67}}</string>
        <key>sourceSize</key>
        <string>{65,67}</string>
      </dict>
      <key>monster_0241_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,524},{66,77}}</string>
        <key>offset</key>
        <string>{-9,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,77}}</string>
        <key>sourceSize</key>
        <string>{66,77}</string>
      </dict>
      <key>monster_0241_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,412},{66,77}}</string>
        <key>offset</key>
        <string>{-7,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,77}}</string>
        <key>sourceSize</key>
        <string>{66,77}</string>
      </dict>
      <key>monster_0241_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{130,88}}</string>
        <key>offset</key>
        <string>{-6,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,88}}</string>
        <key>sourceSize</key>
        <string>{130,88}</string>
      </dict>
      <key>monster_0241_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,96}}</string>
        <key>offset</key>
        <string>{-18,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,96}}</string>
        <key>sourceSize</key>
        <string>{138,96}</string>
      </dict>
      <key>monster_0241_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,155},{73,78}}</string>
        <key>offset</key>
        <string>{-24,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,78}}</string>
        <key>sourceSize</key>
        <string>{73,78}</string>
      </dict>
      <key>monster_0241_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,333},{73,77}}</string>
        <key>offset</key>
        <string>{-26,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,77}}</string>
        <key>sourceSize</key>
        <string>{73,77}</string>
      </dict>
      <key>monster_0241_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,155},{73,78}}</string>
        <key>offset</key>
        <string>{-24,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,78}}</string>
        <key>sourceSize</key>
        <string>{73,78}</string>
      </dict>
      <key>monster_0241_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,455},{76,72}}</string>
        <key>offset</key>
        <string>{-14,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,72}}</string>
        <key>sourceSize</key>
        <string>{76,72}</string>
      </dict>
      <key>monster_0241_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,375},{102,71}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,71}}</string>
        <key>sourceSize</key>
        <string>{102,71}</string>
      </dict>
      <key>monster_0241_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,140},{123,75}}</string>
        <key>offset</key>
        <string>{-8,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,75}}</string>
        <key>sourceSize</key>
        <string>{123,75}</string>
      </dict>
      <key>monster_0241_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,230},{77,78}}</string>
        <key>offset</key>
        <string>{-39,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,78}}</string>
        <key>sourceSize</key>
        <string>{77,78}</string>
      </dict>
      <key>monster_0241_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,445},{74,78}}</string>
        <key>offset</key>
        <string>{-31,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,78}}</string>
        <key>sourceSize</key>
        <string>{74,78}</string>
      </dict>
      <key>monster_0241_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,525},{77,78}}</string>
        <key>offset</key>
        <string>{-39,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,78}}</string>
        <key>sourceSize</key>
        <string>{77,78}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0241_0_2.png</string>
      <key>size</key>
      <string>{640,640}</string>
      <key>textureFileName</key>
      <string>monster_0241_0_2.png</string>
    </dict>
  </dict>
</plist>