<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0038_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,555},{76,77}}</string>
        <key>offset</key>
        <string>{-9,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,77}}</string>
        <key>sourceSize</key>
        <string>{76,77}</string>
      </dict>
      <key>monster_0038_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,609},{77,75}}</string>
        <key>offset</key>
        <string>{-11,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>monster_0038_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,345},{80,79}}</string>
        <key>offset</key>
        <string>{-12,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,79}}</string>
        <key>sourceSize</key>
        <string>{80,79}</string>
      </dict>
      <key>monster_0038_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,291},{89,74}}</string>
        <key>offset</key>
        <string>{-15,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,74}}</string>
        <key>sourceSize</key>
        <string>{89,74}</string>
      </dict>
      <key>monster_0038_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,467},{102,73}}</string>
        <key>offset</key>
        <string>{-19,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,73}}</string>
        <key>sourceSize</key>
        <string>{102,73}</string>
      </dict>
      <key>monster_0038_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,100},{96,67}}</string>
        <key>offset</key>
        <string>{-10,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,67}}</string>
        <key>sourceSize</key>
        <string>{96,67}</string>
      </dict>
      <key>monster_0038_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,253},{107,57}}</string>
        <key>offset</key>
        <string>{-10,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,57}}</string>
        <key>sourceSize</key>
        <string>{107,57}</string>
      </dict>
      <key>monster_0038_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,312},{99,52}}</string>
        <key>offset</key>
        <string>{-13,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,52}}</string>
        <key>sourceSize</key>
        <string>{99,52}</string>
      </dict>
      <key>monster_0038_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,189},{89,46}}</string>
        <key>offset</key>
        <string>{-13,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,46}}</string>
        <key>sourceSize</key>
        <string>{89,46}</string>
      </dict>
      <key>monster_0038_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,92},{88,47}}</string>
        <key>offset</key>
        <string>{-13,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,47}}</string>
        <key>sourceSize</key>
        <string>{88,47}</string>
      </dict>
      <key>monster_0038_0_4_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,453},{87,49}}</string>
        <key>offset</key>
        <string>{-13,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,49}}</string>
        <key>sourceSize</key>
        <string>{87,49}</string>
      </dict>
      <key>monster_0038_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{104,69}}</string>
        <key>offset</key>
        <string>{-21,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,69}}</string>
        <key>sourceSize</key>
        <string>{104,69}</string>
      </dict>
      <key>monster_0038_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,106},{100,68}}</string>
        <key>offset</key>
        <string>{-16,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,68}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>monster_0038_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,496},{109,69}}</string>
        <key>offset</key>
        <string>{-17,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,69}}</string>
        <key>sourceSize</key>
        <string>{109,69}</string>
      </dict>
      <key>monster_0038_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,131},{120,68}}</string>
        <key>offset</key>
        <string>{-22,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,68}}</string>
        <key>sourceSize</key>
        <string>{120,68}</string>
      </dict>
      <key>monster_0038_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{129,56}}</string>
        <key>offset</key>
        <string>{-27,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,56}}</string>
        <key>sourceSize</key>
        <string>{129,56}</string>
      </dict>
      <key>monster_0038_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,117},{105,64}}</string>
        <key>offset</key>
        <string>{-11,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,64}}</string>
        <key>sourceSize</key>
        <string>{105,64}</string>
      </dict>
      <key>monster_0038_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,0},{83,59}}</string>
        <key>offset</key>
        <string>{-9,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,59}}</string>
        <key>sourceSize</key>
        <string>{83,59}</string>
      </dict>
      <key>monster_0038_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,633},{75,54}}</string>
        <key>offset</key>
        <string>{-9,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,54}}</string>
        <key>sourceSize</key>
        <string>{75,54}</string>
      </dict>
      <key>monster_0038_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{72,55}}</string>
        <key>offset</key>
        <string>{-10,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,55}}</string>
        <key>sourceSize</key>
        <string>{72,55}</string>
      </dict>
      <key>monster_0038_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,640},{71,56}}</string>
        <key>offset</key>
        <string>{-10,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,56}}</string>
        <key>sourceSize</key>
        <string>{71,56}</string>
      </dict>
      <key>monster_0038_0_4_1_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,640},{70,58}}</string>
        <key>offset</key>
        <string>{-10,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,58}}</string>
        <key>sourceSize</key>
        <string>{70,58}</string>
      </dict>
      <key>monster_0038_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{115,47}}</string>
        <key>offset</key>
        <string>{-17,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,47}}</string>
        <key>sourceSize</key>
        <string>{115,47}</string>
      </dict>
      <key>monster_0038_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,491},{107,47}}</string>
        <key>offset</key>
        <string>{-13,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,47}}</string>
        <key>sourceSize</key>
        <string>{107,47}</string>
      </dict>
      <key>monster_0038_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,362},{107,52}}</string>
        <key>offset</key>
        <string>{-10,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,52}}</string>
        <key>sourceSize</key>
        <string>{107,52}</string>
      </dict>
      <key>monster_0038_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{100,59}}</string>
        <key>offset</key>
        <string>{-7,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,59}}</string>
        <key>sourceSize</key>
        <string>{100,59}</string>
      </dict>
      <key>monster_0038_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,471},{104,59}}</string>
        <key>offset</key>
        <string>{-12,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,59}}</string>
        <key>sourceSize</key>
        <string>{104,59}</string>
      </dict>
      <key>monster_0038_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,182},{86,51}}</string>
        <key>offset</key>
        <string>{-4,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,51}}</string>
        <key>sourceSize</key>
        <string>{86,51}</string>
      </dict>
      <key>monster_0038_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,640},{67,52}}</string>
        <key>offset</key>
        <string>{-4,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,52}}</string>
        <key>sourceSize</key>
        <string>{67,52}</string>
      </dict>
      <key>monster_0038_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,174},{81,47}}</string>
        <key>offset</key>
        <string>{-17,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,47}}</string>
        <key>sourceSize</key>
        <string>{81,47}</string>
      </dict>
      <key>monster_0038_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,265},{84,48}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,48}}</string>
        <key>sourceSize</key>
        <string>{84,48}</string>
      </dict>
      <key>monster_0038_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,270},{85,49}}</string>
        <key>offset</key>
        <string>{-21,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,49}}</string>
        <key>sourceSize</key>
        <string>{85,49}</string>
      </dict>
      <key>monster_0038_0_4_2_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,178},{85,50}}</string>
        <key>offset</key>
        <string>{-21,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,50}}</string>
        <key>sourceSize</key>
        <string>{85,50}</string>
      </dict>
      <key>monster_0038_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,413},{97,46}}</string>
        <key>offset</key>
        <string>{-14,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,46}}</string>
        <key>sourceSize</key>
        <string>{97,46}</string>
      </dict>
      <key>monster_0038_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{95,49}}</string>
        <key>offset</key>
        <string>{-16,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,49}}</string>
        <key>sourceSize</key>
        <string>{95,49}</string>
      </dict>
      <key>monster_0038_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,548},{90,60}}</string>
        <key>offset</key>
        <string>{-15,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,60}}</string>
        <key>sourceSize</key>
        <string>{90,60}</string>
      </dict>
      <key>monster_0038_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,85},{83,66}}</string>
        <key>offset</key>
        <string>{-17,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,66}}</string>
        <key>sourceSize</key>
        <string>{83,66}</string>
      </dict>
      <key>monster_0038_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,631},{63,73}}</string>
        <key>offset</key>
        <string>{8,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>monster_0038_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,0},{88,54}}</string>
        <key>offset</key>
        <string>{-18,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,54}}</string>
        <key>sourceSize</key>
        <string>{88,54}</string>
      </dict>
      <key>monster_0038_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,224},{101,46}}</string>
        <key>offset</key>
        <string>{-27,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,46}}</string>
        <key>sourceSize</key>
        <string>{101,46}</string>
      </dict>
      <key>monster_0038_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,381},{108,42}}</string>
        <key>offset</key>
        <string>{-31,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,42}}</string>
        <key>sourceSize</key>
        <string>{108,42}</string>
      </dict>
      <key>monster_0038_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,106},{101,40}}</string>
        <key>offset</key>
        <string>{-23,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,40}}</string>
        <key>sourceSize</key>
        <string>{101,40}</string>
      </dict>
      <key>monster_0038_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,327},{101,39}}</string>
        <key>offset</key>
        <string>{-23,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,39}}</string>
        <key>sourceSize</key>
        <string>{101,39}</string>
      </dict>
      <key>monster_0038_0_4_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,209},{101,40}}</string>
        <key>offset</key>
        <string>{-23,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,40}}</string>
        <key>sourceSize</key>
        <string>{101,40}</string>
      </dict>
      <key>monster_0038_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,170},{76,51}}</string>
        <key>offset</key>
        <string>{-2,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,51}}</string>
        <key>sourceSize</key>
        <string>{76,51}</string>
      </dict>
      <key>monster_0038_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,502},{78,51}}</string>
        <key>offset</key>
        <string>{-1,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,51}}</string>
        <key>sourceSize</key>
        <string>{78,51}</string>
      </dict>
      <key>monster_0038_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,257},{81,55}}</string>
        <key>offset</key>
        <string>{0,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,55}}</string>
        <key>sourceSize</key>
        <string>{81,55}</string>
      </dict>
      <key>monster_0038_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,461},{94,54}}</string>
        <key>offset</key>
        <string>{-10,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,54}}</string>
        <key>sourceSize</key>
        <string>{94,54}</string>
      </dict>
      <key>monster_0038_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,208},{99,59}}</string>
        <key>offset</key>
        <string>{-9,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,59}}</string>
        <key>sourceSize</key>
        <string>{99,59}</string>
      </dict>
      <key>monster_0038_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,198},{91,50}}</string>
        <key>offset</key>
        <string>{-13,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,50}}</string>
        <key>sourceSize</key>
        <string>{91,50}</string>
      </dict>
      <key>monster_0038_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,461},{95,66}}</string>
        <key>offset</key>
        <string>{-17,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,66}}</string>
        <key>sourceSize</key>
        <string>{95,66}</string>
      </dict>
      <key>monster_0038_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,382},{88,69}}</string>
        <key>offset</key>
        <string>{-9,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,69}}</string>
        <key>sourceSize</key>
        <string>{88,69}</string>
      </dict>
      <key>monster_0038_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,88},{85,58}}</string>
        <key>offset</key>
        <string>{-6,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,58}}</string>
        <key>sourceSize</key>
        <string>{85,58}</string>
      </dict>
      <key>monster_0038_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,90},{86,53}}</string>
        <key>offset</key>
        <string>{-7,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,53}}</string>
        <key>sourceSize</key>
        <string>{86,53}</string>
      </dict>
      <key>monster_0038_0_4_4_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,542},{87,44}}</string>
        <key>offset</key>
        <string>{-8,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,44}}</string>
        <key>sourceSize</key>
        <string>{87,44}</string>
      </dict>
      <key>monster_0038_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,408},{93,44}}</string>
        <key>offset</key>
        <string>{-8,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,44}}</string>
        <key>sourceSize</key>
        <string>{93,44}</string>
      </dict>
      <key>monster_0038_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,97},{90,42}}</string>
        <key>offset</key>
        <string>{-7,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,42}}</string>
        <key>sourceSize</key>
        <string>{90,42}</string>
      </dict>
      <key>monster_0038_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,571},{102,49}}</string>
        <key>offset</key>
        <string>{-14,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,49}}</string>
        <key>sourceSize</key>
        <string>{102,49}</string>
      </dict>
      <key>monster_0038_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{113,52}}</string>
        <key>offset</key>
        <string>{-21,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,52}}</string>
        <key>sourceSize</key>
        <string>{113,52}</string>
      </dict>
      <key>monster_0038_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{125,50}}</string>
        <key>offset</key>
        <string>{-27,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,50}}</string>
        <key>sourceSize</key>
        <string>{125,50}</string>
      </dict>
      <key>monster_0038_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,557},{94,53}}</string>
        <key>offset</key>
        <string>{-13,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,53}}</string>
        <key>sourceSize</key>
        <string>{94,53}</string>
      </dict>
      <key>monster_0038_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,0},{73,86}}</string>
        <key>offset</key>
        <string>{7,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,86}}</string>
        <key>sourceSize</key>
        <string>{73,86}</string>
      </dict>
      <key>monster_0038_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,175},{69,84}}</string>
        <key>offset</key>
        <string>{10,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,84}}</string>
        <key>sourceSize</key>
        <string>{69,84}</string>
      </dict>
      <key>monster_0038_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,640},{69,67}}</string>
        <key>offset</key>
        <string>{8,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,67}}</string>
        <key>sourceSize</key>
        <string>{69,67}</string>
      </dict>
      <key>monster_0038_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,640},{69,62}}</string>
        <key>offset</key>
        <string>{7,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,62}}</string>
        <key>sourceSize</key>
        <string>{69,62}</string>
      </dict>
      <key>monster_0038_0_4_5_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,631},{69,53}}</string>
        <key>offset</key>
        <string>{6,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,53}}</string>
        <key>sourceSize</key>
        <string>{69,53}</string>
      </dict>
      <key>monster_0038_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,361},{104,50}}</string>
        <key>offset</key>
        <string>{-22,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,50}}</string>
        <key>sourceSize</key>
        <string>{104,50}</string>
      </dict>
      <key>monster_0038_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,309},{97,59}}</string>
        <key>offset</key>
        <string>{-19,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,59}}</string>
        <key>sourceSize</key>
        <string>{97,59}</string>
      </dict>
      <key>monster_0038_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,203},{97,67}}</string>
        <key>offset</key>
        <string>{-19,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,67}}</string>
        <key>sourceSize</key>
        <string>{97,67}</string>
      </dict>
      <key>monster_0038_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,454},{92,69}}</string>
        <key>offset</key>
        <string>{-16,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,69}}</string>
        <key>sourceSize</key>
        <string>{92,69}</string>
      </dict>
      <key>monster_0038_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{98,71}}</string>
        <key>offset</key>
        <string>{-16,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,71}}</string>
        <key>sourceSize</key>
        <string>{98,71}</string>
      </dict>
      <key>monster_0038_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,426},{80,74}}</string>
        <key>offset</key>
        <string>{-3,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,74}}</string>
        <key>sourceSize</key>
        <string>{80,74}</string>
      </dict>
      <key>monster_0038_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,444},{77,82}}</string>
        <key>offset</key>
        <string>{5,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,82}}</string>
        <key>sourceSize</key>
        <string>{77,82}</string>
      </dict>
      <key>monster_0038_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,302},{92,72}}</string>
        <key>offset</key>
        <string>{2,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,72}}</string>
        <key>sourceSize</key>
        <string>{92,72}</string>
      </dict>
      <key>monster_0038_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,0},{90,59}}</string>
        <key>offset</key>
        <string>{2,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,59}}</string>
        <key>sourceSize</key>
        <string>{90,59}</string>
      </dict>
      <key>monster_0038_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,453},{87,54}}</string>
        <key>offset</key>
        <string>{2,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,54}}</string>
        <key>sourceSize</key>
        <string>{87,54}</string>
      </dict>
      <key>monster_0038_0_4_6_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,351},{82,50}}</string>
        <key>offset</key>
        <string>{2,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,50}}</string>
        <key>sourceSize</key>
        <string>{82,50}</string>
      </dict>
      <key>monster_0038_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,542},{87,73}}</string>
        <key>offset</key>
        <string>{-8,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_0038_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,88},{84,72}}</string>
        <key>offset</key>
        <string>{-4,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,72}}</string>
        <key>sourceSize</key>
        <string>{84,72}</string>
      </dict>
      <key>monster_0038_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,528},{77,79}}</string>
        <key>offset</key>
        <string>{2,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,79}}</string>
        <key>sourceSize</key>
        <string>{77,79}</string>
      </dict>
      <key>monster_0038_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,261},{81,82}}</string>
        <key>offset</key>
        <string>{0,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,82}}</string>
        <key>sourceSize</key>
        <string>{81,82}</string>
      </dict>
      <key>monster_0038_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,0},{61,84}}</string>
        <key>offset</key>
        <string>{-4,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,84}}</string>
        <key>sourceSize</key>
        <string>{61,84}</string>
      </dict>
      <key>monster_0038_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,357},{85,78}}</string>
        <key>offset</key>
        <string>{3,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0038_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{115,70}}</string>
        <key>offset</key>
        <string>{-8,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,70}}</string>
        <key>sourceSize</key>
        <string>{115,70}</string>
      </dict>
      <key>monster_0038_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{121,60}}</string>
        <key>offset</key>
        <string>{-12,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,60}}</string>
        <key>sourceSize</key>
        <string>{121,60}</string>
      </dict>
      <key>monster_0038_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,253},{106,48}}</string>
        <key>offset</key>
        <string>{-12,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,48}}</string>
        <key>sourceSize</key>
        <string>{106,48}</string>
      </dict>
      <key>monster_0038_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,577},{103,44}}</string>
        <key>offset</key>
        <string>{-12,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,44}}</string>
        <key>sourceSize</key>
        <string>{103,44}</string>
      </dict>
      <key>monster_0038_0_4_7_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,102},{99,41}}</string>
        <key>offset</key>
        <string>{-12,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,41}}</string>
        <key>sourceSize</key>
        <string>{99,41}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0038_0_4.png</string>
      <key>size</key>
      <string>{770,714}</string>
      <key>textureFileName</key>
      <string>monster_0038_0_4.png</string>
    </dict>
  </dict>
</plist>