<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0090_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,201},{82,58}}</string>
        <key>offset</key>
        <string>{-16,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,58}}</string>
        <key>sourceSize</key>
        <string>{82,58}</string>
      </dict>
      <key>monster_0090_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,318},{82,51}}</string>
        <key>offset</key>
        <string>{-16,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,51}}</string>
        <key>sourceSize</key>
        <string>{82,51}</string>
      </dict>
      <key>monster_0090_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,351},{102,99}}</string>
        <key>offset</key>
        <string>{-15,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,99}}</string>
        <key>sourceSize</key>
        <string>{102,99}</string>
      </dict>
      <key>monster_0090_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,380},{68,65}}</string>
        <key>offset</key>
        <string>{-2,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,65}}</string>
        <key>sourceSize</key>
        <string>{68,65}</string>
      </dict>
      <key>monster_0090_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,0},{91,61}}</string>
        <key>offset</key>
        <string>{-21,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,61}}</string>
        <key>sourceSize</key>
        <string>{91,61}</string>
      </dict>
      <key>monster_0090_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,75},{87,58}}</string>
        <key>offset</key>
        <string>{-20,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,58}}</string>
        <key>sourceSize</key>
        <string>{87,58}</string>
      </dict>
      <key>monster_0090_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{119,99}}</string>
        <key>offset</key>
        <string>{-46,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,99}}</string>
        <key>sourceSize</key>
        <string>{119,99}</string>
      </dict>
      <key>monster_0090_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,318},{81,62}}</string>
        <key>offset</key>
        <string>{-34,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,62}}</string>
        <key>sourceSize</key>
        <string>{81,62}</string>
      </dict>
      <key>monster_0090_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,455},{84,54}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,54}}</string>
        <key>sourceSize</key>
        <string>{84,54}</string>
      </dict>
      <key>monster_0090_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,318},{80,60}}</string>
        <key>offset</key>
        <string>{-13,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>monster_0090_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,243},{113,91}}</string>
        <key>offset</key>
        <string>{-62,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,91}}</string>
        <key>sourceSize</key>
        <string>{113,91}</string>
      </dict>
      <key>monster_0090_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,0},{90,57}}</string>
        <key>offset</key>
        <string>{-55,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,57}}</string>
        <key>sourceSize</key>
        <string>{90,57}</string>
      </dict>
      <key>monster_0090_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{92,63}}</string>
        <key>offset</key>
        <string>{-22,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,63}}</string>
        <key>sourceSize</key>
        <string>{92,63}</string>
      </dict>
      <key>monster_0090_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,222},{94,71}}</string>
        <key>offset</key>
        <string>{-26,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,71}}</string>
        <key>sourceSize</key>
        <string>{94,71}</string>
      </dict>
      <key>monster_0090_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{120,89}}</string>
        <key>offset</key>
        <string>{-46,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,89}}</string>
        <key>sourceSize</key>
        <string>{120,89}</string>
      </dict>
      <key>monster_0090_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,135},{85,64}}</string>
        <key>offset</key>
        <string>{-35,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,64}}</string>
        <key>sourceSize</key>
        <string>{85,64}</string>
      </dict>
      <key>monster_0090_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,401},{81,60}}</string>
        <key>offset</key>
        <string>{-16,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,60}}</string>
        <key>sourceSize</key>
        <string>{81,60}</string>
      </dict>
      <key>monster_0090_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,261},{81,67}}</string>
        <key>offset</key>
        <string>{-16,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,67}}</string>
        <key>sourceSize</key>
        <string>{81,67}</string>
      </dict>
      <key>monster_0090_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,117},{103,85}}</string>
        <key>offset</key>
        <string>{-16,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,85}}</string>
        <key>sourceSize</key>
        <string>{103,85}</string>
      </dict>
      <key>monster_0090_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,447},{68,63}}</string>
        <key>offset</key>
        <string>{-2,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,63}}</string>
        <key>sourceSize</key>
        <string>{68,63}</string>
      </dict>
      <key>monster_0090_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,59},{90,64}}</string>
        <key>offset</key>
        <string>{-20,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,64}}</string>
        <key>sourceSize</key>
        <string>{90,64}</string>
      </dict>
      <key>monster_0090_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{91,73}}</string>
        <key>offset</key>
        <string>{-18,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,73}}</string>
        <key>sourceSize</key>
        <string>{91,73}</string>
      </dict>
      <key>monster_0090_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,358},{107,92}}</string>
        <key>offset</key>
        <string>{2,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,92}}</string>
        <key>sourceSize</key>
        <string>{107,92}</string>
      </dict>
      <key>monster_0090_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,251},{81,65}}</string>
        <key>offset</key>
        <string>{14,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,65}}</string>
        <key>sourceSize</key>
        <string>{81,65}</string>
      </dict>
      <key>monster_0090_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,455},{86,54}}</string>
        <key>offset</key>
        <string>{-16,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,54}}</string>
        <key>sourceSize</key>
        <string>{86,54}</string>
      </dict>
      <key>monster_0090_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,125},{87,62}}</string>
        <key>offset</key>
        <string>{-12,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,62}}</string>
        <key>sourceSize</key>
        <string>{87,62}</string>
      </dict>
      <key>monster_0090_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,243},{106,91}}</string>
        <key>offset</key>
        <string>{22,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,91}}</string>
        <key>sourceSize</key>
        <string>{106,91}</string>
      </dict>
      <key>monster_0090_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,380},{80,56}}</string>
        <key>offset</key>
        <string>{26,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,56}}</string>
        <key>sourceSize</key>
        <string>{80,56}</string>
      </dict>
      <key>monster_0090_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,94},{92,61}}</string>
        <key>offset</key>
        <string>{-21,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,61}}</string>
        <key>sourceSize</key>
        <string>{92,61}</string>
      </dict>
      <key>monster_0090_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,117},{94,56}}</string>
        <key>offset</key>
        <string>{-18,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,56}}</string>
        <key>sourceSize</key>
        <string>{94,56}</string>
      </dict>
      <key>monster_0090_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{115,99}}</string>
        <key>offset</key>
        <string>{-2,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,99}}</string>
        <key>sourceSize</key>
        <string>{115,99}</string>
      </dict>
      <key>monster_0090_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,189},{85,60}}</string>
        <key>offset</key>
        <string>{10,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0090_0_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_0090_0_4.png</string>
    </dict>
  </dict>
</plist>