<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0215_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,405},{129,99}}</string>
        <key>offset</key>
        <string>{-33,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,99}}</string>
        <key>sourceSize</key>
        <string>{129,99}</string>
      </dict>
      <key>monster_0215_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,405},{129,101}}</string>
        <key>offset</key>
        <string>{-33,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,101}}</string>
        <key>sourceSize</key>
        <string>{129,101}</string>
      </dict>
      <key>monster_0215_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,404},{128,100}}</string>
        <key>offset</key>
        <string>{-32,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,100}}</string>
        <key>sourceSize</key>
        <string>{128,100}</string>
      </dict>
      <key>monster_0215_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,267},{128,101}}</string>
        <key>offset</key>
        <string>{-32,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,101}}</string>
        <key>sourceSize</key>
        <string>{128,101}</string>
      </dict>
      <key>monster_0215_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,131},{128,101}}</string>
        <key>offset</key>
        <string>{-32,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,101}}</string>
        <key>sourceSize</key>
        <string>{128,101}</string>
      </dict>
      <key>monster_0215_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,273},{129,100}}</string>
        <key>offset</key>
        <string>{-33,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,100}}</string>
        <key>sourceSize</key>
        <string>{129,100}</string>
      </dict>
      <key>monster_0215_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{137,115}}</string>
        <key>offset</key>
        <string>{-36,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,115}}</string>
        <key>sourceSize</key>
        <string>{137,115}</string>
      </dict>
      <key>monster_0215_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,139},{137,115}}</string>
        <key>offset</key>
        <string>{-36,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,115}}</string>
        <key>sourceSize</key>
        <string>{137,115}</string>
      </dict>
      <key>monster_0215_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,417},{136,115}}</string>
        <key>offset</key>
        <string>{-35,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,115}}</string>
        <key>sourceSize</key>
        <string>{136,115}</string>
      </dict>
      <key>monster_0215_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,555},{136,116}}</string>
        <key>offset</key>
        <string>{-35,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,116}}</string>
        <key>sourceSize</key>
        <string>{136,116}</string>
      </dict>
      <key>monster_0215_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{136,116}}</string>
        <key>offset</key>
        <string>{-35,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,116}}</string>
        <key>sourceSize</key>
        <string>{136,116}</string>
      </dict>
      <key>monster_0215_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,278},{137,115}}</string>
        <key>offset</key>
        <string>{-36,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,115}}</string>
        <key>sourceSize</key>
        <string>{137,115}</string>
      </dict>
      <key>monster_0215_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,667},{101,112}}</string>
        <key>offset</key>
        <string>{-18,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,112}}</string>
        <key>sourceSize</key>
        <string>{101,112}</string>
      </dict>
      <key>monster_0215_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,569},{101,112}}</string>
        <key>offset</key>
        <string>{-18,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,112}}</string>
        <key>sourceSize</key>
        <string>{101,112}</string>
      </dict>
      <key>monster_0215_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,110},{101,111}}</string>
        <key>offset</key>
        <string>{-18,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,111}}</string>
        <key>sourceSize</key>
        <string>{101,111}</string>
      </dict>
      <key>monster_0215_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,569},{101,111}}</string>
        <key>offset</key>
        <string>{-18,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,111}}</string>
        <key>sourceSize</key>
        <string>{101,111}</string>
      </dict>
      <key>monster_0215_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,110},{101,112}}</string>
        <key>offset</key>
        <string>{-18,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,112}}</string>
        <key>sourceSize</key>
        <string>{101,112}</string>
      </dict>
      <key>monster_0215_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,213},{101,112}}</string>
        <key>offset</key>
        <string>{-18,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,112}}</string>
        <key>sourceSize</key>
        <string>{101,112}</string>
      </dict>
      <key>monster_0215_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,138},{135,112}}</string>
        <key>offset</key>
        <string>{-32,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,112}}</string>
        <key>sourceSize</key>
        <string>{135,112}</string>
      </dict>
      <key>monster_0215_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,275},{135,112}}</string>
        <key>offset</key>
        <string>{-32,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,112}}</string>
        <key>sourceSize</key>
        <string>{135,112}</string>
      </dict>
      <key>monster_0215_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,549},{134,113}}</string>
        <key>offset</key>
        <string>{-31,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,113}}</string>
        <key>sourceSize</key>
        <string>{134,113}</string>
      </dict>
      <key>monster_0215_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,137},{134,112}}</string>
        <key>offset</key>
        <string>{-31,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,112}}</string>
        <key>sourceSize</key>
        <string>{134,112}</string>
      </dict>
      <key>monster_0215_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,0},{134,112}}</string>
        <key>offset</key>
        <string>{-31,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,112}}</string>
        <key>sourceSize</key>
        <string>{134,112}</string>
      </dict>
      <key>monster_0215_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,412},{135,112}}</string>
        <key>offset</key>
        <string>{-32,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,112}}</string>
        <key>sourceSize</key>
        <string>{135,112}</string>
      </dict>
      <key>monster_0215_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,273},{130,103}}</string>
        <key>offset</key>
        <string>{-30,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,103}}</string>
        <key>sourceSize</key>
        <string>{130,103}</string>
      </dict>
      <key>monster_0215_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,136},{129,104}}</string>
        <key>offset</key>
        <string>{-29,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,104}}</string>
        <key>sourceSize</key>
        <string>{129,104}</string>
      </dict>
      <key>monster_0215_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{129,104}}</string>
        <key>offset</key>
        <string>{-29,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,104}}</string>
        <key>sourceSize</key>
        <string>{129,104}</string>
      </dict>
      <key>monster_0215_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,536},{129,104}}</string>
        <key>offset</key>
        <string>{-29,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,104}}</string>
        <key>sourceSize</key>
        <string>{129,104}</string>
      </dict>
      <key>monster_0215_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,0},{128,104}}</string>
        <key>offset</key>
        <string>{-29,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,104}}</string>
        <key>sourceSize</key>
        <string>{128,104}</string>
      </dict>
      <key>monster_0215_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,0},{128,104}}</string>
        <key>offset</key>
        <string>{-29,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,104}}</string>
        <key>sourceSize</key>
        <string>{128,104}</string>
      </dict>
      <key>monster_0215_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,549},{135,109}}</string>
        <key>offset</key>
        <string>{-27,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,109}}</string>
        <key>sourceSize</key>
        <string>{135,109}</string>
      </dict>
      <key>monster_0215_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,549},{135,108}}</string>
        <key>offset</key>
        <string>{-27,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,108}}</string>
        <key>sourceSize</key>
        <string>{135,108}</string>
      </dict>
      <key>monster_0215_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,138},{135,108}}</string>
        <key>offset</key>
        <string>{-27,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,108}}</string>
        <key>sourceSize</key>
        <string>{135,108}</string>
      </dict>
      <key>monster_0215_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,0},{135,108}}</string>
        <key>offset</key>
        <string>{-27,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,108}}</string>
        <key>sourceSize</key>
        <string>{135,108}</string>
      </dict>
      <key>monster_0215_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,275},{135,108}}</string>
        <key>offset</key>
        <string>{-27,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,108}}</string>
        <key>sourceSize</key>
        <string>{135,108}</string>
      </dict>
      <key>monster_0215_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,412},{135,108}}</string>
        <key>offset</key>
        <string>{-27,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,108}}</string>
        <key>sourceSize</key>
        <string>{135,108}</string>
      </dict>
      <key>monster_0215_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,569},{106,117}}</string>
        <key>offset</key>
        <string>{-17,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,117}}</string>
        <key>sourceSize</key>
        <string>{106,117}</string>
      </dict>
      <key>monster_0215_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,569},{108,117}}</string>
        <key>offset</key>
        <string>{-18,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,117}}</string>
        <key>sourceSize</key>
        <string>{108,117}</string>
      </dict>
      <key>monster_0215_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,451},{108,116}}</string>
        <key>offset</key>
        <string>{-18,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,116}}</string>
        <key>sourceSize</key>
        <string>{108,116}</string>
      </dict>
      <key>monster_0215_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,222},{108,117}}</string>
        <key>offset</key>
        <string>{-18,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,117}}</string>
        <key>sourceSize</key>
        <string>{108,117}</string>
      </dict>
      <key>monster_0215_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,0},{108,117}}</string>
        <key>offset</key>
        <string>{-18,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,117}}</string>
        <key>sourceSize</key>
        <string>{108,117}</string>
      </dict>
      <key>monster_0215_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,332},{108,117}}</string>
        <key>offset</key>
        <string>{-18,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,117}}</string>
        <key>sourceSize</key>
        <string>{108,117}</string>
      </dict>
      <key>monster_0215_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,222},{127,114}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,114}}</string>
        <key>sourceSize</key>
        <string>{127,114}</string>
      </dict>
      <key>monster_0215_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,106},{128,114}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,114}}</string>
        <key>sourceSize</key>
        <string>{128,114}</string>
      </dict>
      <key>monster_0215_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,534},{126,113}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,113}}</string>
        <key>sourceSize</key>
        <string>{126,113}</string>
      </dict>
      <key>monster_0215_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,397},{126,113}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,113}}</string>
        <key>sourceSize</key>
        <string>{126,113}</string>
      </dict>
      <key>monster_0215_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,338},{126,113}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,113}}</string>
        <key>sourceSize</key>
        <string>{126,113}</string>
      </dict>
      <key>monster_0215_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,453},{126,114}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,114}}</string>
        <key>sourceSize</key>
        <string>{126,114}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0215_0_0.png</string>
      <key>size</key>
      <string>{1104,772}</string>
      <key>textureFileName</key>
      <string>monster_0215_0_0.png</string>
    </dict>
  </dict>
</plist>