<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0210_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,262},{258,144}}</string>
        <key>offset</key>
        <string>{-82,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,144}}</string>
        <key>sourceSize</key>
        <string>{258,144}</string>
      </dict>
      <key>monster_0210_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{259,162}}</string>
        <key>offset</key>
        <string>{-82,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,162}}</string>
        <key>sourceSize</key>
        <string>{259,162}</string>
      </dict>
      <key>monster_0210_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,523},{259,162}}</string>
        <key>offset</key>
        <string>{-82,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,162}}</string>
        <key>sourceSize</key>
        <string>{259,162}</string>
      </dict>
      <key>monster_0210_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,401},{197,153}}</string>
        <key>offset</key>
        <string>{-55,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,153}}</string>
        <key>sourceSize</key>
        <string>{197,153}</string>
      </dict>
      <key>monster_0210_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,260},{199,171}}</string>
        <key>offset</key>
        <string>{-60,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,171}}</string>
        <key>sourceSize</key>
        <string>{199,171}</string>
      </dict>
      <key>monster_0210_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,662},{198,170}}</string>
        <key>offset</key>
        <string>{-58,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,170}}</string>
        <key>sourceSize</key>
        <string>{198,170}</string>
      </dict>
      <key>monster_0210_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,191},{147,183}}</string>
        <key>offset</key>
        <string>{-27,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,183}}</string>
        <key>sourceSize</key>
        <string>{147,183}</string>
      </dict>
      <key>monster_0210_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,399},{142,190}}</string>
        <key>offset</key>
        <string>{-33,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,190}}</string>
        <key>sourceSize</key>
        <string>{142,190}</string>
      </dict>
      <key>monster_0210_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,591},{143,190}}</string>
        <key>offset</key>
        <string>{-31,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,190}}</string>
        <key>sourceSize</key>
        <string>{143,190}</string>
      </dict>
      <key>monster_0210_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,200},{197,178}}</string>
        <key>offset</key>
        <string>{-54,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,178}}</string>
        <key>sourceSize</key>
        <string>{197,178}</string>
      </dict>
      <key>monster_0210_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,662},{198,176}}</string>
        <key>offset</key>
        <string>{-59,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,176}}</string>
        <key>sourceSize</key>
        <string>{198,176}</string>
      </dict>
      <key>monster_0210_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{197,177}}</string>
        <key>offset</key>
        <string>{-57,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,177}}</string>
        <key>sourceSize</key>
        <string>{197,177}</string>
      </dict>
      <key>monster_0210_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{258,175}}</string>
        <key>offset</key>
        <string>{-81,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,175}}</string>
        <key>sourceSize</key>
        <string>{258,175}</string>
      </dict>
      <key>monster_0210_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{260,172}}</string>
        <key>offset</key>
        <string>{-81,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,172}}</string>
        <key>sourceSize</key>
        <string>{260,172}</string>
      </dict>
      <key>monster_0210_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,523},{259,174}}</string>
        <key>offset</key>
        <string>{-81,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,174}}</string>
        <key>sourceSize</key>
        <string>{259,174}</string>
      </dict>
      <key>monster_0210_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,199},{197,176}}</string>
        <key>offset</key>
        <string>{-47,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,176}}</string>
        <key>sourceSize</key>
        <string>{197,176}</string>
      </dict>
      <key>monster_0210_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,0},{199,175}}</string>
        <key>offset</key>
        <string>{-43,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,175}}</string>
        <key>sourceSize</key>
        <string>{199,175}</string>
      </dict>
      <key>monster_0210_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,461},{199,176}}</string>
        <key>offset</key>
        <string>{-44,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,176}}</string>
        <key>sourceSize</key>
        <string>{199,176}</string>
      </dict>
      <key>monster_0210_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,597},{158,183}}</string>
        <key>offset</key>
        <string>{-22,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,183}}</string>
        <key>sourceSize</key>
        <string>{158,183}</string>
      </dict>
      <key>monster_0210_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,597},{138,188}}</string>
        <key>offset</key>
        <string>{-14,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,188}}</string>
        <key>sourceSize</key>
        <string>{138,188}</string>
      </dict>
      <key>monster_0210_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,0},{143,189}}</string>
        <key>offset</key>
        <string>{-20,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,189}}</string>
        <key>sourceSize</key>
        <string>{143,189}</string>
      </dict>
      <key>monster_0210_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,398},{197,154}}</string>
        <key>offset</key>
        <string>{-48,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,154}}</string>
        <key>sourceSize</key>
        <string>{197,154}</string>
      </dict>
      <key>monster_0210_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,201},{198,170}}</string>
        <key>offset</key>
        <string>{-43,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,170}}</string>
        <key>sourceSize</key>
        <string>{198,170}</string>
      </dict>
      <key>monster_0210_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{198,170}}</string>
        <key>offset</key>
        <string>{-44,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,170}}</string>
        <key>sourceSize</key>
        <string>{198,170}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0210_0_7.png</string>
      <key>size</key>
      <string>{1170,898}</string>
      <key>textureFileName</key>
      <string>monster_0210_0_7.png</string>
    </dict>
  </dict>
</plist>