<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0028_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,82},{54,79}}</string>
        <key>offset</key>
        <string>{-5,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,79}}</string>
        <key>sourceSize</key>
        <string>{54,79}</string>
      </dict>
      <key>monster_0028_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,163},{54,79}}</string>
        <key>offset</key>
        <string>{-4,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,79}}</string>
        <key>sourceSize</key>
        <string>{54,79}</string>
      </dict>
      <key>monster_0028_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{55,80}}</string>
        <key>offset</key>
        <string>{-4,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,80}}</string>
        <key>sourceSize</key>
        <string>{55,80}</string>
      </dict>
      <key>monster_0028_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,244},{52,79}}</string>
        <key>offset</key>
        <string>{-3,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,79}}</string>
        <key>sourceSize</key>
        <string>{52,79}</string>
      </dict>
      <key>monster_0028_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,338},{53,78}}</string>
        <key>offset</key>
        <string>{-4,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,78}}</string>
        <key>sourceSize</key>
        <string>{53,78}</string>
      </dict>
      <key>monster_0028_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,418},{54,78}}</string>
        <key>offset</key>
        <string>{-5,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,78}}</string>
        <key>sourceSize</key>
        <string>{54,78}</string>
      </dict>
      <key>monster_0028_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,111},{85,68}}</string>
        <key>offset</key>
        <string>{-19,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,68}}</string>
        <key>sourceSize</key>
        <string>{85,68}</string>
      </dict>
      <key>monster_0028_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{85,68}}</string>
        <key>offset</key>
        <string>{-19,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,68}}</string>
        <key>sourceSize</key>
        <string>{85,68}</string>
      </dict>
      <key>monster_0028_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,64},{84,69}}</string>
        <key>offset</key>
        <string>{-19,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,69}}</string>
        <key>sourceSize</key>
        <string>{84,69}</string>
      </dict>
      <key>monster_0028_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,315},{85,68}}</string>
        <key>offset</key>
        <string>{-19,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,68}}</string>
        <key>sourceSize</key>
        <string>{85,68}</string>
      </dict>
      <key>monster_0028_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,261},{84,67}}</string>
        <key>offset</key>
        <string>{-19,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,67}}</string>
        <key>sourceSize</key>
        <string>{84,67}</string>
      </dict>
      <key>monster_0028_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,174},{84,67}}</string>
        <key>offset</key>
        <string>{-19,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,67}}</string>
        <key>sourceSize</key>
        <string>{84,67}</string>
      </dict>
      <key>monster_0028_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{113,56}}</string>
        <key>offset</key>
        <string>{-37,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,56}}</string>
        <key>sourceSize</key>
        <string>{113,56}</string>
      </dict>
      <key>monster_0028_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,231},{113,56}}</string>
        <key>offset</key>
        <string>{-37,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,56}}</string>
        <key>sourceSize</key>
        <string>{113,56}</string>
      </dict>
      <key>monster_0028_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,114},{111,55}}</string>
        <key>offset</key>
        <string>{-36,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,55}}</string>
        <key>sourceSize</key>
        <string>{111,55}</string>
      </dict>
      <key>monster_0028_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,346},{113,56}}</string>
        <key>offset</key>
        <string>{-36,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,56}}</string>
        <key>sourceSize</key>
        <string>{113,56}</string>
      </dict>
      <key>monster_0028_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,56}}</string>
        <key>offset</key>
        <string>{-37,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,56}}</string>
        <key>sourceSize</key>
        <string>{114,56}</string>
      </dict>
      <key>monster_0028_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,346},{112,56}}</string>
        <key>offset</key>
        <string>{-36,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,56}}</string>
        <key>sourceSize</key>
        <string>{112,56}</string>
      </dict>
      <key>monster_0028_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,402},{85,64}}</string>
        <key>offset</key>
        <string>{-19,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,64}}</string>
        <key>sourceSize</key>
        <string>{85,64}</string>
      </dict>
      <key>monster_0028_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,198},{85,62}}</string>
        <key>offset</key>
        <string>{-19,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,62}}</string>
        <key>sourceSize</key>
        <string>{85,62}</string>
      </dict>
      <key>monster_0028_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,87},{85,59}}</string>
        <key>offset</key>
        <string>{-19,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,59}}</string>
        <key>sourceSize</key>
        <string>{85,59}</string>
      </dict>
      <key>monster_0028_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,227},{86,61}}</string>
        <key>offset</key>
        <string>{-19,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,61}}</string>
        <key>sourceSize</key>
        <string>{86,61}</string>
      </dict>
      <key>monster_0028_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{85,60}}</string>
        <key>offset</key>
        <string>{-19,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
      <key>monster_0028_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,174},{85,61}}</string>
        <key>offset</key>
        <string>{-19,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,61}}</string>
        <key>sourceSize</key>
        <string>{85,61}</string>
      </dict>
      <key>monster_0028_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,0},{55,73}}</string>
        <key>offset</key>
        <string>{-3,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,73}}</string>
        <key>sourceSize</key>
        <string>{55,73}</string>
      </dict>
      <key>monster_0028_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,82},{55,72}}</string>
        <key>offset</key>
        <string>{-3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,72}}</string>
        <key>sourceSize</key>
        <string>{55,72}</string>
      </dict>
      <key>monster_0028_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,253},{54,71}}</string>
        <key>offset</key>
        <string>{-3,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,71}}</string>
        <key>sourceSize</key>
        <string>{54,71}</string>
      </dict>
      <key>monster_0028_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,139},{54,72}}</string>
        <key>offset</key>
        <string>{-3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,72}}</string>
        <key>sourceSize</key>
        <string>{54,72}</string>
      </dict>
      <key>monster_0028_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,461},{54,72}}</string>
        <key>offset</key>
        <string>{-3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,72}}</string>
        <key>sourceSize</key>
        <string>{54,72}</string>
      </dict>
      <key>monster_0028_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,195},{56,72}}</string>
        <key>offset</key>
        <string>{-3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,72}}</string>
        <key>sourceSize</key>
        <string>{56,72}</string>
      </dict>
      <key>monster_0028_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,87},{85,61}}</string>
        <key>offset</key>
        <string>{-13,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,61}}</string>
        <key>sourceSize</key>
        <string>{85,61}</string>
      </dict>
      <key>monster_0028_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,204},{83,62}}</string>
        <key>offset</key>
        <string>{-13,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,62}}</string>
        <key>sourceSize</key>
        <string>{83,62}</string>
      </dict>
      <key>monster_0028_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,347},{83,62}}</string>
        <key>offset</key>
        <string>{-13,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,62}}</string>
        <key>sourceSize</key>
        <string>{83,62}</string>
      </dict>
      <key>monster_0028_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,268},{83,64}}</string>
        <key>offset</key>
        <string>{-13,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,64}}</string>
        <key>sourceSize</key>
        <string>{83,64}</string>
      </dict>
      <key>monster_0028_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{85,63}}</string>
        <key>offset</key>
        <string>{-12,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,63}}</string>
        <key>sourceSize</key>
        <string>{85,63}</string>
      </dict>
      <key>monster_0028_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{85,62}}</string>
        <key>offset</key>
        <string>{-12,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,62}}</string>
        <key>sourceSize</key>
        <string>{85,62}</string>
      </dict>
      <key>monster_0028_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{112,57}}</string>
        <key>offset</key>
        <string>{-23,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,57}}</string>
        <key>sourceSize</key>
        <string>{112,57}</string>
      </dict>
      <key>monster_0028_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,342},{108,57}}</string>
        <key>offset</key>
        <string>{-22,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,57}}</string>
        <key>sourceSize</key>
        <string>{108,57}</string>
      </dict>
      <key>monster_0028_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,452},{107,57}}</string>
        <key>offset</key>
        <string>{-22,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,57}}</string>
        <key>sourceSize</key>
        <string>{107,57}</string>
      </dict>
      <key>monster_0028_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{109,56}}</string>
        <key>offset</key>
        <string>{-23,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,56}}</string>
        <key>sourceSize</key>
        <string>{109,56}</string>
      </dict>
      <key>monster_0028_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,114},{112,56}}</string>
        <key>offset</key>
        <string>{-23,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,56}}</string>
        <key>sourceSize</key>
        <string>{112,56}</string>
      </dict>
      <key>monster_0028_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,228},{112,57}}</string>
        <key>offset</key>
        <string>{-22,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,57}}</string>
        <key>sourceSize</key>
        <string>{112,57}</string>
      </dict>
      <key>monster_0028_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,338},{82,68}}</string>
        <key>offset</key>
        <string>{-11,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,68}}</string>
        <key>sourceSize</key>
        <string>{82,68}</string>
      </dict>
      <key>monster_0028_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,432},{83,68}}</string>
        <key>offset</key>
        <string>{-12,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,68}}</string>
        <key>sourceSize</key>
        <string>{83,68}</string>
      </dict>
      <key>monster_0028_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,408},{82,69}}</string>
        <key>offset</key>
        <string>{-12,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,69}}</string>
        <key>sourceSize</key>
        <string>{82,69}</string>
      </dict>
      <key>monster_0028_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,334},{83,69}}</string>
        <key>offset</key>
        <string>{-13,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,69}}</string>
        <key>sourceSize</key>
        <string>{83,69}</string>
      </dict>
      <key>monster_0028_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,135},{84,67}}</string>
        <key>offset</key>
        <string>{-12,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,67}}</string>
        <key>sourceSize</key>
        <string>{84,67}</string>
      </dict>
      <key>monster_0028_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,268},{83,68}}</string>
        <key>offset</key>
        <string>{-11,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,68}}</string>
        <key>sourceSize</key>
        <string>{83,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0028_0_1.png</string>
      <key>size</key>
      <string>{646,517}</string>
      <key>textureFileName</key>
      <string>monster_0028_0_1.png</string>
    </dict>
  </dict>
</plist>