<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0382_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,443},{438,283}}</string>
        <key>offset</key>
        <string>{-174,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,283}}</string>
        <key>sourceSize</key>
        <string>{438,283}</string>
      </dict>
      <key>monster_0382_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{441,284}}</string>
        <key>offset</key>
        <string>{-176,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,284}}</string>
        <key>sourceSize</key>
        <string>{441,284}</string>
      </dict>
      <key>monster_0382_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,883},{437,284}}</string>
        <key>offset</key>
        <string>{-173,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,284}}</string>
        <key>sourceSize</key>
        <string>{437,284}</string>
      </dict>
      <key>monster_0382_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,443},{433,279}}</string>
        <key>offset</key>
        <string>{-171,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,279}}</string>
        <key>sourceSize</key>
        <string>{433,279}</string>
      </dict>
      <key>monster_0382_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,878},{430,278}}</string>
        <key>offset</key>
        <string>{-170,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{430,278}}</string>
        <key>sourceSize</key>
        <string>{430,278}</string>
      </dict>
      <key>monster_0382_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,0},{433,280}}</string>
        <key>offset</key>
        <string>{-171,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,280}}</string>
        <key>sourceSize</key>
        <string>{433,280}</string>
      </dict>
      <key>monster_0382_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1169},{363,364}}</string>
        <key>offset</key>
        <string>{-92,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,364}}</string>
        <key>sourceSize</key>
        <string>{363,364}</string>
      </dict>
      <key>monster_0382_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,354},{368,361}}</string>
        <key>offset</key>
        <string>{-91,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,361}}</string>
        <key>sourceSize</key>
        <string>{368,361}</string>
      </dict>
      <key>monster_0382_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,717},{367,355}}</string>
        <key>offset</key>
        <string>{-90,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,355}}</string>
        <key>sourceSize</key>
        <string>{367,355}</string>
      </dict>
      <key>monster_0382_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,0},{369,352}}</string>
        <key>offset</key>
        <string>{-91,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,352}}</string>
        <key>sourceSize</key>
        <string>{369,352}</string>
      </dict>
      <key>monster_0382_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,1074},{367,354}}</string>
        <key>offset</key>
        <string>{-92,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,354}}</string>
        <key>sourceSize</key>
        <string>{367,354}</string>
      </dict>
      <key>monster_0382_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,1158},{366,362}}</string>
        <key>offset</key>
        <string>{-93,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,362}}</string>
        <key>sourceSize</key>
        <string>{366,362}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0382_0_0_2.png</string>
      <key>size</key>
      <string>{1282,1638}</string>
      <key>textureFileName</key>
      <string>monster_0382_0_0_2.png</string>
    </dict>
  </dict>
</plist>