<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0196_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,145},{97,112}}</string>
        <key>offset</key>
        <string>{-9,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,112}}</string>
        <key>sourceSize</key>
        <string>{97,112}</string>
      </dict>
      <key>monster_0196_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,118},{98,114}}</string>
        <key>offset</key>
        <string>{-9,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,114}}</string>
        <key>sourceSize</key>
        <string>{98,114}</string>
      </dict>
      <key>monster_0196_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,778},{98,116}}</string>
        <key>offset</key>
        <string>{-9,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,116}}</string>
        <key>sourceSize</key>
        <string>{98,116}</string>
      </dict>
      <key>monster_0196_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,658},{99,118}}</string>
        <key>offset</key>
        <string>{-9,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,118}}</string>
        <key>sourceSize</key>
        <string>{99,118}</string>
      </dict>
      <key>monster_0196_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,537},{98,119}}</string>
        <key>offset</key>
        <string>{-9,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,119}}</string>
        <key>sourceSize</key>
        <string>{98,119}</string>
      </dict>
      <key>monster_0196_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,0},{98,116}}</string>
        <key>offset</key>
        <string>{-9,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,116}}</string>
        <key>sourceSize</key>
        <string>{98,116}</string>
      </dict>
      <key>monster_0196_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{143,112}}</string>
        <key>offset</key>
        <string>{-16,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,112}}</string>
        <key>sourceSize</key>
        <string>{143,112}</string>
      </dict>
      <key>monster_0196_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,0},{143,113}}</string>
        <key>offset</key>
        <string>{-15,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,113}}</string>
        <key>sourceSize</key>
        <string>{143,113}</string>
      </dict>
      <key>monster_0196_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,115},{143,115}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,115}}</string>
        <key>sourceSize</key>
        <string>{143,115}</string>
      </dict>
      <key>monster_0196_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,298},{142,116}}</string>
        <key>offset</key>
        <string>{-12,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>monster_0196_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,357},{140,115}}</string>
        <key>offset</key>
        <string>{-10,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,115}}</string>
        <key>sourceSize</key>
        <string>{140,115}</string>
      </dict>
      <key>monster_0196_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,659},{143,114}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,114}}</string>
        <key>sourceSize</key>
        <string>{143,114}</string>
      </dict>
      <key>monster_0196_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{174,105}}</string>
        <key>offset</key>
        <string>{-39,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,105}}</string>
        <key>sourceSize</key>
        <string>{174,105}</string>
      </dict>
      <key>monster_0196_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,181},{176,105}}</string>
        <key>offset</key>
        <string>{-40,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,105}}</string>
        <key>sourceSize</key>
        <string>{176,105}</string>
      </dict>
      <key>monster_0196_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,364},{178,106}}</string>
        <key>offset</key>
        <string>{-40,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,106}}</string>
        <key>sourceSize</key>
        <string>{178,106}</string>
      </dict>
      <key>monster_0196_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,729},{179,107}}</string>
        <key>offset</key>
        <string>{-39,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,107}}</string>
        <key>sourceSize</key>
        <string>{179,107}</string>
      </dict>
      <key>monster_0196_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,544},{178,107}}</string>
        <key>offset</key>
        <string>{-37,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,107}}</string>
        <key>sourceSize</key>
        <string>{178,107}</string>
      </dict>
      <key>monster_0196_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,364},{177,106}}</string>
        <key>offset</key>
        <string>{-38,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,106}}</string>
        <key>sourceSize</key>
        <string>{177,106}</string>
      </dict>
      <key>monster_0196_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,232},{141,123}}</string>
        <key>offset</key>
        <string>{-47,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,123}}</string>
        <key>sourceSize</key>
        <string>{141,123}</string>
      </dict>
      <key>monster_0196_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,475},{143,123}}</string>
        <key>offset</key>
        <string>{-49,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,123}}</string>
        <key>sourceSize</key>
        <string>{143,123}</string>
      </dict>
      <key>monster_0196_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,327},{146,123}}</string>
        <key>offset</key>
        <string>{-49,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,123}}</string>
        <key>sourceSize</key>
        <string>{146,123}</string>
      </dict>
      <key>monster_0196_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,543},{149,122}}</string>
        <key>offset</key>
        <string>{-49,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,122}}</string>
        <key>sourceSize</key>
        <string>{149,122}</string>
      </dict>
      <key>monster_0196_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,724},{150,121}}</string>
        <key>offset</key>
        <string>{-48,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,121}}</string>
        <key>sourceSize</key>
        <string>{150,121}</string>
      </dict>
      <key>monster_0196_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,150},{146,122}}</string>
        <key>offset</key>
        <string>{-47,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,122}}</string>
        <key>sourceSize</key>
        <string>{146,122}</string>
      </dict>
      <key>monster_0196_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,135},{107,132}}</string>
        <key>offset</key>
        <string>{-18,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,132}}</string>
        <key>sourceSize</key>
        <string>{107,132}</string>
      </dict>
      <key>monster_0196_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,613},{108,133}}</string>
        <key>offset</key>
        <string>{-20,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,133}}</string>
        <key>sourceSize</key>
        <string>{108,133}</string>
      </dict>
      <key>monster_0196_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,269},{108,132}}</string>
        <key>offset</key>
        <string>{-20,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,132}}</string>
        <key>sourceSize</key>
        <string>{108,132}</string>
      </dict>
      <key>monster_0196_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,403},{107,132}}</string>
        <key>offset</key>
        <string>{-18,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,132}}</string>
        <key>sourceSize</key>
        <string>{107,132}</string>
      </dict>
      <key>monster_0196_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,0},{106,133}}</string>
        <key>offset</key>
        <string>{-17,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,133}}</string>
        <key>sourceSize</key>
        <string>{106,133}</string>
      </dict>
      <key>monster_0196_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,748},{106,132}}</string>
        <key>offset</key>
        <string>{-17,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,132}}</string>
        <key>sourceSize</key>
        <string>{106,132}</string>
      </dict>
      <key>monster_0196_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,474},{139,112}}</string>
        <key>offset</key>
        <string>{-59,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,112}}</string>
        <key>sourceSize</key>
        <string>{139,112}</string>
      </dict>
      <key>monster_0196_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,762},{139,112}}</string>
        <key>offset</key>
        <string>{-59,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,112}}</string>
        <key>sourceSize</key>
        <string>{139,112}</string>
      </dict>
      <key>monster_0196_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,620},{140,113}}</string>
        <key>offset</key>
        <string>{-60,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,113}}</string>
        <key>sourceSize</key>
        <string>{140,113}</string>
      </dict>
      <key>monster_0196_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,615},{139,114}}</string>
        <key>offset</key>
        <string>{-59,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,114}}</string>
        <key>sourceSize</key>
        <string>{139,114}</string>
      </dict>
      <key>monster_0196_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,756},{137,115}}</string>
        <key>offset</key>
        <string>{-58,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,115}}</string>
        <key>sourceSize</key>
        <string>{137,115}</string>
      </dict>
      <key>monster_0196_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,474},{137,114}}</string>
        <key>offset</key>
        <string>{-58,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,114}}</string>
        <key>sourceSize</key>
        <string>{137,114}</string>
      </dict>
      <key>monster_0196_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{180,112}}</string>
        <key>offset</key>
        <string>{-68,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,112}}</string>
        <key>sourceSize</key>
        <string>{180,112}</string>
      </dict>
      <key>monster_0196_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{181,113}}</string>
        <key>offset</key>
        <string>{-68,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,113}}</string>
        <key>sourceSize</key>
        <string>{181,113}</string>
      </dict>
      <key>monster_0196_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{180,112}}</string>
        <key>offset</key>
        <string>{-68,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,112}}</string>
        <key>sourceSize</key>
        <string>{180,112}</string>
      </dict>
      <key>monster_0196_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,183},{179,113}}</string>
        <key>offset</key>
        <string>{-69,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,113}}</string>
        <key>sourceSize</key>
        <string>{179,113}</string>
      </dict>
      <key>monster_0196_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{179,114}}</string>
        <key>offset</key>
        <string>{-70,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,114}}</string>
        <key>sourceSize</key>
        <string>{179,114}</string>
      </dict>
      <key>monster_0196_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,547},{180,113}}</string>
        <key>offset</key>
        <string>{-70,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,113}}</string>
        <key>sourceSize</key>
        <string>{180,113}</string>
      </dict>
      <key>monster_0196_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{148,108}}</string>
        <key>offset</key>
        <string>{-27,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,108}}</string>
        <key>sourceSize</key>
        <string>{148,108}</string>
      </dict>
      <key>monster_0196_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,694},{147,109}}</string>
        <key>offset</key>
        <string>{-26,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,109}}</string>
        <key>sourceSize</key>
        <string>{147,109}</string>
      </dict>
      <key>monster_0196_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,510},{147,111}}</string>
        <key>offset</key>
        <string>{-26,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,111}}</string>
        <key>sourceSize</key>
        <string>{147,111}</string>
      </dict>
      <key>monster_0196_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,359},{149,113}}</string>
        <key>offset</key>
        <string>{-29,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,113}}</string>
        <key>sourceSize</key>
        <string>{149,113}</string>
      </dict>
      <key>monster_0196_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,176},{149,113}}</string>
        <key>offset</key>
        <string>{-31,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,113}}</string>
        <key>sourceSize</key>
        <string>{149,113}</string>
      </dict>
      <key>monster_0196_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{149,110}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,110}}</string>
        <key>sourceSize</key>
        <string>{149,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0196_0_0.png</string>
      <key>size</key>
      <string>{1047,899}</string>
      <key>textureFileName</key>
      <string>monster_0196_0_0.png</string>
    </dict>
  </dict>
</plist>