<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0264_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,365},{113,95}}</string>
        <key>offset</key>
        <string>{-28,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,95}}</string>
        <key>sourceSize</key>
        <string>{113,95}</string>
      </dict>
      <key>monster_0264_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,229},{103,91}}</string>
        <key>offset</key>
        <string>{-16,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,91}}</string>
        <key>sourceSize</key>
        <string>{103,91}</string>
      </dict>
      <key>monster_0264_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,247},{106,95}}</string>
        <key>offset</key>
        <string>{-19,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,95}}</string>
        <key>sourceSize</key>
        <string>{106,95}</string>
      </dict>
      <key>monster_0264_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,366},{87,95}}</string>
        <key>offset</key>
        <string>{-11,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,95}}</string>
        <key>sourceSize</key>
        <string>{87,95}</string>
      </dict>
      <key>monster_0264_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{119,81}}</string>
        <key>offset</key>
        <string>{-18,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,81}}</string>
        <key>sourceSize</key>
        <string>{119,81}</string>
      </dict>
      <key>monster_0264_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,89}}</string>
        <key>offset</key>
        <string>{-26,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,89}}</string>
        <key>sourceSize</key>
        <string>{122,89}</string>
      </dict>
      <key>monster_0264_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,334},{89,97}}</string>
        <key>offset</key>
        <string>{-10,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,97}}</string>
        <key>sourceSize</key>
        <string>{89,97}</string>
      </dict>
      <key>monster_0264_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,103},{99,89}}</string>
        <key>offset</key>
        <string>{-12,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,89}}</string>
        <key>sourceSize</key>
        <string>{99,89}</string>
      </dict>
      <key>monster_0264_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,0},{99,91}}</string>
        <key>offset</key>
        <string>{-13,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,91}}</string>
        <key>sourceSize</key>
        <string>{99,91}</string>
      </dict>
      <key>monster_0264_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,101},{99,88}}</string>
        <key>offset</key>
        <string>{-18,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,88}}</string>
        <key>sourceSize</key>
        <string>{99,88}</string>
      </dict>
      <key>monster_0264_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,433},{74,96}}</string>
        <key>offset</key>
        <string>{-3,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,96}}</string>
        <key>sourceSize</key>
        <string>{74,96}</string>
      </dict>
      <key>monster_0264_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,204},{79,93}}</string>
        <key>offset</key>
        <string>{-1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,93}}</string>
        <key>sourceSize</key>
        <string>{79,93}</string>
      </dict>
      <key>monster_0264_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{114,83}}</string>
        <key>offset</key>
        <string>{-28,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,83}}</string>
        <key>sourceSize</key>
        <string>{114,83}</string>
      </dict>
      <key>monster_0264_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,121},{106,94}}</string>
        <key>offset</key>
        <string>{-27,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,94}}</string>
        <key>sourceSize</key>
        <string>{106,94}</string>
      </dict>
      <key>monster_0264_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{101,88}}</string>
        <key>offset</key>
        <string>{-24,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,88}}</string>
        <key>sourceSize</key>
        <string>{101,88}</string>
      </dict>
      <key>monster_0264_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,455},{94,93}}</string>
        <key>offset</key>
        <string>{-18,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,93}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
      <key>monster_0264_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{121,95}}</string>
        <key>offset</key>
        <string>{-42,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,95}}</string>
        <key>sourceSize</key>
        <string>{121,95}</string>
      </dict>
      <key>monster_0264_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{116,91}}</string>
        <key>offset</key>
        <string>{-33,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,91}}</string>
        <key>sourceSize</key>
        <string>{116,91}</string>
      </dict>
      <key>monster_0264_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,191},{76,98}}</string>
        <key>offset</key>
        <string>{-11,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,98}}</string>
        <key>sourceSize</key>
        <string>{76,98}</string>
      </dict>
      <key>monster_0264_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{105,95}}</string>
        <key>offset</key>
        <string>{-28,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,95}}</string>
        <key>sourceSize</key>
        <string>{105,95}</string>
      </dict>
      <key>monster_0264_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,269},{95,97}}</string>
        <key>offset</key>
        <string>{-22,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,97}}</string>
        <key>sourceSize</key>
        <string>{95,97}</string>
      </dict>
      <key>monster_0264_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,355},{105,92}}</string>
        <key>offset</key>
        <string>{-24,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,92}}</string>
        <key>sourceSize</key>
        <string>{105,92}</string>
      </dict>
      <key>monster_0264_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,0},{84,95}}</string>
        <key>offset</key>
        <string>{-9,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,95}}</string>
        <key>sourceSize</key>
        <string>{84,95}</string>
      </dict>
      <key>monster_0264_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,107},{78,103}}</string>
        <key>offset</key>
        <string>{-9,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,103}}</string>
        <key>sourceSize</key>
        <string>{78,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0264_0_7.png</string>
      <key>size</key>
      <string>{555,559}</string>
      <key>textureFileName</key>
      <string>monster_0264_0_7.png</string>
    </dict>
  </dict>
</plist>