<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0210_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{258,144}}</string>
        <key>offset</key>
        <string>{-82,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,144}}</string>
        <key>sourceSize</key>
        <string>{258,144}</string>
      </dict>
      <key>monster_0210_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,260},{243,146}}</string>
        <key>offset</key>
        <string>{-77,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,146}}</string>
        <key>sourceSize</key>
        <string>{243,146}</string>
      </dict>
      <key>monster_0210_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,770},{235,147}}</string>
        <key>offset</key>
        <string>{-69,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,147}}</string>
        <key>sourceSize</key>
        <string>{235,147}</string>
      </dict>
      <key>monster_0210_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{258,154}}</string>
        <key>offset</key>
        <string>{-72,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,154}}</string>
        <key>sourceSize</key>
        <string>{258,154}</string>
      </dict>
      <key>monster_0210_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,260},{256,164}}</string>
        <key>offset</key>
        <string>{-67,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,164}}</string>
        <key>sourceSize</key>
        <string>{256,164}</string>
      </dict>
      <key>monster_0210_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1037},{250,145}}</string>
        <key>offset</key>
        <string>{-69,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,145}}</string>
        <key>sourceSize</key>
        <string>{250,145}</string>
      </dict>
      <key>monster_0210_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,204},{197,153}}</string>
        <key>offset</key>
        <string>{-55,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,153}}</string>
        <key>sourceSize</key>
        <string>{197,153}</string>
      </dict>
      <key>monster_0210_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1192,190},{187,151}}</string>
        <key>offset</key>
        <string>{-45,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,151}}</string>
        <key>sourceSize</key>
        <string>{187,151}</string>
      </dict>
      <key>monster_0210_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1352,365},{184,153}}</string>
        <key>offset</key>
        <string>{-44,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,153}}</string>
        <key>sourceSize</key>
        <string>{184,153}</string>
      </dict>
      <key>monster_0210_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,207},{202,176}}</string>
        <key>offset</key>
        <string>{-45,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,176}}</string>
        <key>sourceSize</key>
        <string>{202,176}</string>
      </dict>
      <key>monster_0210_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,245},{205,193}}</string>
        <key>offset</key>
        <string>{-37,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,193}}</string>
        <key>sourceSize</key>
        <string>{205,193}</string>
      </dict>
      <key>monster_0210_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,0},{197,172}}</string>
        <key>offset</key>
        <string>{-44,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,172}}</string>
        <key>sourceSize</key>
        <string>{197,172}</string>
      </dict>
      <key>monster_0210_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1188,589},{147,183}}</string>
        <key>offset</key>
        <string>{-27,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,183}}</string>
        <key>sourceSize</key>
        <string>{147,183}</string>
      </dict>
      <key>monster_0210_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1337,737},{148,182}}</string>
        <key>offset</key>
        <string>{-28,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,182}}</string>
        <key>sourceSize</key>
        <string>{148,182}</string>
      </dict>
      <key>monster_0210_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1134,955},{147,174}}</string>
        <key>offset</key>
        <string>{-28,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,174}}</string>
        <key>sourceSize</key>
        <string>{147,174}</string>
      </dict>
      <key>monster_0210_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,657},{147,200}}</string>
        <key>offset</key>
        <string>{-28,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,200}}</string>
        <key>sourceSize</key>
        <string>{147,200}</string>
      </dict>
      <key>monster_0210_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,505},{147,207}}</string>
        <key>offset</key>
        <string>{-27,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,207}}</string>
        <key>sourceSize</key>
        <string>{147,207}</string>
      </dict>
      <key>monster_0210_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1043,0},{147,196}}</string>
        <key>offset</key>
        <string>{-27,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,196}}</string>
        <key>sourceSize</key>
        <string>{147,196}</string>
      </dict>
      <key>monster_0210_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,859},{197,177}}</string>
        <key>offset</key>
        <string>{-54,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,177}}</string>
        <key>sourceSize</key>
        <string>{197,177}</string>
      </dict>
      <key>monster_0210_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,398},{189,183}}</string>
        <key>offset</key>
        <string>{-45,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,183}}</string>
        <key>sourceSize</key>
        <string>{189,183}</string>
      </dict>
      <key>monster_0210_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1345,190},{185,173}}</string>
        <key>offset</key>
        <string>{-44,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,173}}</string>
        <key>sourceSize</key>
        <string>{185,173}</string>
      </dict>
      <key>monster_0210_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,0},{202,177}}</string>
        <key>offset</key>
        <string>{-45,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,177}}</string>
        <key>sourceSize</key>
        <string>{202,177}</string>
      </dict>
      <key>monster_0210_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,0},{205,187}}</string>
        <key>offset</key>
        <string>{-36,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,187}}</string>
        <key>sourceSize</key>
        <string>{205,187}</string>
      </dict>
      <key>monster_0210_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,1058},{197,175}}</string>
        <key>offset</key>
        <string>{-43,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,175}}</string>
        <key>sourceSize</key>
        <string>{197,175}</string>
      </dict>
      <key>monster_0210_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{258,175}}</string>
        <key>offset</key>
        <string>{-81,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,175}}</string>
        <key>sourceSize</key>
        <string>{258,175}</string>
      </dict>
      <key>monster_0210_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{243,176}}</string>
        <key>offset</key>
        <string>{-76,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,176}}</string>
        <key>sourceSize</key>
        <string>{243,176}</string>
      </dict>
      <key>monster_0210_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,1007},{234,175}}</string>
        <key>offset</key>
        <string>{-68,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,175}}</string>
        <key>sourceSize</key>
        <string>{234,175}</string>
      </dict>
      <key>monster_0210_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,520},{258,174}}</string>
        <key>offset</key>
        <string>{-72,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,174}}</string>
        <key>sourceSize</key>
        <string>{258,174}</string>
      </dict>
      <key>monster_0210_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{255,174}}</string>
        <key>offset</key>
        <string>{-66,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,174}}</string>
        <key>sourceSize</key>
        <string>{255,174}</string>
      </dict>
      <key>monster_0210_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,518},{250,175}}</string>
        <key>offset</key>
        <string>{-68,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,175}}</string>
        <key>sourceSize</key>
        <string>{250,175}</string>
      </dict>
      <key>monster_0210_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,611},{197,176}}</string>
        <key>offset</key>
        <string>{-47,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,176}}</string>
        <key>sourceSize</key>
        <string>{197,176}</string>
      </dict>
      <key>monster_0210_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,602},{191,185}}</string>
        <key>offset</key>
        <string>{-54,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,185}}</string>
        <key>sourceSize</key>
        <string>{191,185}</string>
      </dict>
      <key>monster_0210_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1352,0},{188,176}}</string>
        <key>offset</key>
        <string>{-44,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,176}}</string>
        <key>sourceSize</key>
        <string>{188,176}</string>
      </dict>
      <key>monster_0210_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,921},{202,177}}</string>
        <key>offset</key>
        <string>{-43,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,177}}</string>
        <key>sourceSize</key>
        <string>{202,177}</string>
      </dict>
      <key>monster_0210_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,980},{205,188}}</string>
        <key>offset</key>
        <string>{-45,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,188}}</string>
        <key>sourceSize</key>
        <string>{205,188}</string>
      </dict>
      <key>monster_0210_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,411},{198,175}}</string>
        <key>offset</key>
        <string>{-40,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,175}}</string>
        <key>sourceSize</key>
        <string>{198,175}</string>
      </dict>
      <key>monster_0210_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1134,795},{158,182}}</string>
        <key>offset</key>
        <string>{-22,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,182}}</string>
        <key>sourceSize</key>
        <string>{158,182}</string>
      </dict>
      <key>monster_0210_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1352,551},{157,184}}</string>
        <key>offset</key>
        <string>{-22,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,184}}</string>
        <key>sourceSize</key>
        <string>{157,184}</string>
      </dict>
      <key>monster_0210_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1318,887},{154,178}}</string>
        <key>offset</key>
        <string>{-21,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,178}}</string>
        <key>sourceSize</key>
        <string>{154,178}</string>
      </dict>
      <key>monster_0210_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,1125},{151,201}}</string>
        <key>offset</key>
        <string>{-21,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,201}}</string>
        <key>sourceSize</key>
        <string>{151,201}</string>
      </dict>
      <key>monster_0210_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,770},{152,208}}</string>
        <key>offset</key>
        <string>{-21,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,208}}</string>
        <key>sourceSize</key>
        <string>{152,208}</string>
      </dict>
      <key>monster_0210_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,810},{155,196}}</string>
        <key>offset</key>
        <string>{-22,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,196}}</string>
        <key>sourceSize</key>
        <string>{155,196}</string>
      </dict>
      <key>monster_0210_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,403},{197,154}}</string>
        <key>offset</key>
        <string>{-48,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,154}}</string>
        <key>sourceSize</key>
        <string>{197,154}</string>
      </dict>
      <key>monster_0210_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,398},{191,153}}</string>
        <key>offset</key>
        <string>{-55,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,153}}</string>
        <key>sourceSize</key>
        <string>{191,153}</string>
      </dict>
      <key>monster_0210_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1192,0},{188,153}}</string>
        <key>offset</key>
        <string>{-44,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,153}}</string>
        <key>sourceSize</key>
        <string>{188,153}</string>
      </dict>
      <key>monster_0210_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,452},{203,175}}</string>
        <key>offset</key>
        <string>{-44,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,175}}</string>
        <key>sourceSize</key>
        <string>{203,175}</string>
      </dict>
      <key>monster_0210_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,714},{205,193}}</string>
        <key>offset</key>
        <string>{-46,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,193}}</string>
        <key>sourceSize</key>
        <string>{205,193}</string>
      </dict>
      <key>monster_0210_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,199},{197,173}}</string>
        <key>offset</key>
        <string>{-40,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,173}}</string>
        <key>sourceSize</key>
        <string>{197,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0210_0_0.png</string>
      <key>size</key>
      <string>{1536,1280}</string>
      <key>textureFileName</key>
      <string>monster_0210_0_0.png</string>
    </dict>
  </dict>
</plist>