<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0146_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,291},{82,70}}</string>
        <key>offset</key>
        <string>{-8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,70}}</string>
        <key>sourceSize</key>
        <string>{82,70}</string>
      </dict>
      <key>monster_0146_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,375},{82,70}}</string>
        <key>offset</key>
        <string>{-8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,70}}</string>
        <key>sourceSize</key>
        <string>{82,70}</string>
      </dict>
      <key>monster_0146_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,291},{82,70}}</string>
        <key>offset</key>
        <string>{-8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,70}}</string>
        <key>sourceSize</key>
        <string>{82,70}</string>
      </dict>
      <key>monster_0146_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,189},{82,70}}</string>
        <key>offset</key>
        <string>{-8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,70}}</string>
        <key>sourceSize</key>
        <string>{82,70}</string>
      </dict>
      <key>monster_0146_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,89},{82,70}}</string>
        <key>offset</key>
        <string>{-8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,70}}</string>
        <key>sourceSize</key>
        <string>{82,70}</string>
      </dict>
      <key>monster_0146_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{82,70}}</string>
        <key>offset</key>
        <string>{-8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,70}}</string>
        <key>sourceSize</key>
        <string>{82,70}</string>
      </dict>
      <key>monster_0146_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{99,74}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,74}}</string>
        <key>sourceSize</key>
        <string>{99,74}</string>
      </dict>
      <key>monster_0146_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,207},{99,74}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,74}}</string>
        <key>sourceSize</key>
        <string>{99,74}</string>
      </dict>
      <key>monster_0146_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{98,74}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,74}}</string>
        <key>sourceSize</key>
        <string>{98,74}</string>
      </dict>
      <key>monster_0146_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,308},{99,74}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,74}}</string>
        <key>sourceSize</key>
        <string>{99,74}</string>
      </dict>
      <key>monster_0146_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,409},{99,74}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,74}}</string>
        <key>sourceSize</key>
        <string>{99,74}</string>
      </dict>
      <key>monster_0146_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,101},{99,74}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,74}}</string>
        <key>sourceSize</key>
        <string>{99,74}</string>
      </dict>
      <key>monster_0146_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,307},{74,74}}</string>
        <key>offset</key>
        <string>{3,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>monster_0146_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,307},{74,75}}</string>
        <key>offset</key>
        <string>{3,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,75}}</string>
        <key>sourceSize</key>
        <string>{74,75}</string>
      </dict>
      <key>monster_0146_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,383},{74,75}}</string>
        <key>offset</key>
        <string>{3,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,75}}</string>
        <key>sourceSize</key>
        <string>{74,75}</string>
      </dict>
      <key>monster_0146_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,383},{75,75}}</string>
        <key>offset</key>
        <string>{3,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>monster_0146_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,76},{75,75}}</string>
        <key>offset</key>
        <string>{3,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>monster_0146_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,0},{74,75}}</string>
        <key>offset</key>
        <string>{3,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,75}}</string>
        <key>sourceSize</key>
        <string>{74,75}</string>
      </dict>
      <key>monster_0146_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,84},{73,80}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,80}}</string>
        <key>sourceSize</key>
        <string>{73,80}</string>
      </dict>
      <key>monster_0146_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,375},{73,81}}</string>
        <key>offset</key>
        <string>{-8,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,81}}</string>
        <key>sourceSize</key>
        <string>{73,81}</string>
      </dict>
      <key>monster_0146_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,273},{73,81}}</string>
        <key>offset</key>
        <string>{-8,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,81}}</string>
        <key>sourceSize</key>
        <string>{73,81}</string>
      </dict>
      <key>monster_0146_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{73,80}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,80}}</string>
        <key>sourceSize</key>
        <string>{73,80}</string>
      </dict>
      <key>monster_0146_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,356},{73,80}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,80}}</string>
        <key>sourceSize</key>
        <string>{73,80}</string>
      </dict>
      <key>monster_0146_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,256},{73,80}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,80}}</string>
        <key>sourceSize</key>
        <string>{73,80}</string>
      </dict>
      <key>monster_0146_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,202},{87,73}}</string>
        <key>offset</key>
        <string>{-15,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_0146_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,291},{87,73}}</string>
        <key>offset</key>
        <string>{-15,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_0146_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,202},{87,73}}</string>
        <key>offset</key>
        <string>{-15,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_0146_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,100},{87,73}}</string>
        <key>offset</key>
        <string>{-15,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_0146_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{87,73}}</string>
        <key>offset</key>
        <string>{-15,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_0146_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,380},{87,73}}</string>
        <key>offset</key>
        <string>{-15,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_0146_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,312},{101,74}}</string>
        <key>offset</key>
        <string>{-32,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,74}}</string>
        <key>sourceSize</key>
        <string>{101,74}</string>
      </dict>
      <key>monster_0146_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{102,74}}</string>
        <key>offset</key>
        <string>{-32,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,74}}</string>
        <key>sourceSize</key>
        <string>{102,74}</string>
      </dict>
      <key>monster_0146_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{102,73}}</string>
        <key>offset</key>
        <string>{-32,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,73}}</string>
        <key>sourceSize</key>
        <string>{102,73}</string>
      </dict>
      <key>monster_0146_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,415},{101,73}}</string>
        <key>offset</key>
        <string>{-32,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,73}}</string>
        <key>sourceSize</key>
        <string>{101,73}</string>
      </dict>
      <key>monster_0146_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{102,73}}</string>
        <key>offset</key>
        <string>{-33,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,73}}</string>
        <key>sourceSize</key>
        <string>{102,73}</string>
      </dict>
      <key>monster_0146_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,104},{101,74}}</string>
        <key>offset</key>
        <string>{-32,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,74}}</string>
        <key>sourceSize</key>
        <string>{101,74}</string>
      </dict>
      <key>monster_0146_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,76},{79,76}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,76}}</string>
        <key>sourceSize</key>
        <string>{79,76}</string>
      </dict>
      <key>monster_0146_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,154},{79,75}}</string>
        <key>offset</key>
        <string>{-17,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
      <key>monster_0146_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,0},{80,74}}</string>
        <key>offset</key>
        <string>{-17,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,74}}</string>
        <key>sourceSize</key>
        <string>{80,74}</string>
      </dict>
      <key>monster_0146_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,173},{81,74}}</string>
        <key>offset</key>
        <string>{-18,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,74}}</string>
        <key>sourceSize</key>
        <string>{81,74}</string>
      </dict>
      <key>monster_0146_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,154},{79,74}}</string>
        <key>offset</key>
        <string>{-18,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,74}}</string>
        <key>sourceSize</key>
        <string>{79,74}</string>
      </dict>
      <key>monster_0146_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,230},{79,75}}</string>
        <key>offset</key>
        <string>{-18,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
      <key>monster_0146_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,74},{71,68}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>monster_0146_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,438},{71,68}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>monster_0146_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{72,68}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,68}}</string>
        <key>sourceSize</key>
        <string>{72,68}</string>
      </dict>
      <key>monster_0146_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,383},{71,68}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>monster_0146_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,153},{71,68}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>monster_0146_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,223},{71,68}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0146_0_0.png</string>
      <key>size</key>
      <string>{714,514}</string>
      <key>textureFileName</key>
      <string>monster_0146_0_0.png</string>
    </dict>
  </dict>
</plist>