<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0090_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,172},{82,58}}</string>
        <key>offset</key>
        <string>{-16,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,58}}</string>
        <key>sourceSize</key>
        <string>{82,58}</string>
      </dict>
      <key>monster_0090_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{81,57}}</string>
        <key>offset</key>
        <string>{-16,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,57}}</string>
        <key>sourceSize</key>
        <string>{81,57}</string>
      </dict>
      <key>monster_0090_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,188},{91,61}}</string>
        <key>offset</key>
        <string>{-21,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,61}}</string>
        <key>sourceSize</key>
        <string>{91,61}</string>
      </dict>
      <key>monster_0090_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,94},{91,59}}</string>
        <key>offset</key>
        <string>{-21,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,59}}</string>
        <key>sourceSize</key>
        <string>{91,59}</string>
      </dict>
      <key>monster_0090_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{84,54}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,54}}</string>
        <key>sourceSize</key>
        <string>{84,54}</string>
      </dict>
      <key>monster_0090_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,86},{84,52}}</string>
        <key>offset</key>
        <string>{-10,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,52}}</string>
        <key>sourceSize</key>
        <string>{84,52}</string>
      </dict>
      <key>monster_0090_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{91,64}}</string>
        <key>offset</key>
        <string>{-21,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,64}}</string>
        <key>sourceSize</key>
        <string>{91,64}</string>
      </dict>
      <key>monster_0090_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,187},{91,61}}</string>
        <key>offset</key>
        <string>{-21,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,61}}</string>
        <key>sourceSize</key>
        <string>{91,61}</string>
      </dict>
      <key>monster_0090_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,83},{81,60}}</string>
        <key>offset</key>
        <string>{-16,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,60}}</string>
        <key>sourceSize</key>
        <string>{81,60}</string>
      </dict>
      <key>monster_0090_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,251},{81,58}}</string>
        <key>offset</key>
        <string>{-16,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,58}}</string>
        <key>sourceSize</key>
        <string>{81,58}</string>
      </dict>
      <key>monster_0090_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,93},{91,64}}</string>
        <key>offset</key>
        <string>{-21,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,64}}</string>
        <key>sourceSize</key>
        <string>{91,64}</string>
      </dict>
      <key>monster_0090_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{91,59}}</string>
        <key>offset</key>
        <string>{-21,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,59}}</string>
        <key>sourceSize</key>
        <string>{91,59}</string>
      </dict>
      <key>monster_0090_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,186},{86,54}}</string>
        <key>offset</key>
        <string>{-16,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,54}}</string>
        <key>sourceSize</key>
        <string>{86,54}</string>
      </dict>
      <key>monster_0090_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,93},{85,51}}</string>
        <key>offset</key>
        <string>{-17,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,51}}</string>
        <key>sourceSize</key>
        <string>{85,51}</string>
      </dict>
      <key>monster_0090_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{92,61}}</string>
        <key>offset</key>
        <string>{-21,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,61}}</string>
        <key>sourceSize</key>
        <string>{92,61}</string>
      </dict>
      <key>monster_0090_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{92,58}}</string>
        <key>offset</key>
        <string>{-21,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,58}}</string>
        <key>sourceSize</key>
        <string>{92,58}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0090_0_0.png</string>
      <key>size</key>
      <string>{386,314}</string>
      <key>textureFileName</key>
      <string>monster_0090_0_0.png</string>
    </dict>
  </dict>
</plist>