<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0452_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,218},{204,221}}</string>
        <key>offset</key>
        <string>{-64,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,221}}</string>
        <key>sourceSize</key>
        <string>{204,221}</string>
      </dict>
      <key>monster_0452_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,0},{224,216}}</string>
        <key>offset</key>
        <string>{-64,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,216}}</string>
        <key>sourceSize</key>
        <string>{224,216}</string>
      </dict>
      <key>monster_0452_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,472},{214,218}}</string>
        <key>offset</key>
        <string>{-64,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,218}}</string>
        <key>sourceSize</key>
        <string>{214,218}</string>
      </dict>
      <key>monster_0452_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,295},{278,219}}</string>
        <key>offset</key>
        <string>{-74,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,219}}</string>
        <key>sourceSize</key>
        <string>{278,219}</string>
      </dict>
      <key>monster_0452_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,575},{260,219}}</string>
        <key>offset</key>
        <string>{-79,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,219}}</string>
        <key>sourceSize</key>
        <string>{260,219}</string>
      </dict>
      <key>monster_0452_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{265,219}}</string>
        <key>offset</key>
        <string>{-75,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,219}}</string>
        <key>sourceSize</key>
        <string>{265,219}</string>
      </dict>
      <key>monster_0452_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{293,181}}</string>
        <key>offset</key>
        <string>{-102,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,181}}</string>
        <key>sourceSize</key>
        <string>{293,181}</string>
      </dict>
      <key>monster_0452_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,490},{235,195}}</string>
        <key>offset</key>
        <string>{-103,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,195}}</string>
        <key>sourceSize</key>
        <string>{235,195}</string>
      </dict>
      <key>monster_0452_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,575},{256,186}}</string>
        <key>offset</key>
        <string>{-100,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,186}}</string>
        <key>sourceSize</key>
        <string>{256,186}</string>
      </dict>
      <key>monster_0452_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,0},{237,174}}</string>
        <key>offset</key>
        <string>{-94,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,174}}</string>
        <key>sourceSize</key>
        <string>{237,174}</string>
      </dict>
      <key>monster_0452_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,424},{213,202}}</string>
        <key>offset</key>
        <string>{-94,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,202}}</string>
        <key>sourceSize</key>
        <string>{213,202}</string>
      </dict>
      <key>monster_0452_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,0},{225,191}}</string>
        <key>offset</key>
        <string>{-94,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,191}}</string>
        <key>sourceSize</key>
        <string>{225,191}</string>
      </dict>
      <key>monster_0452_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,833},{183,156}}</string>
        <key>offset</key>
        <string>{-56,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,156}}</string>
        <key>sourceSize</key>
        <string>{183,156}</string>
      </dict>
      <key>monster_0452_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1191,0},{206,173}}</string>
        <key>offset</key>
        <string>{-80,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,173}}</string>
        <key>sourceSize</key>
        <string>{206,173}</string>
      </dict>
      <key>monster_0452_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,218},{196,165}}</string>
        <key>offset</key>
        <string>{-71,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,165}}</string>
        <key>sourceSize</key>
        <string>{196,165}</string>
      </dict>
      <key>monster_0452_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,525},{244,163}}</string>
        <key>offset</key>
        <string>{-111,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,163}}</string>
        <key>sourceSize</key>
        <string>{244,163}</string>
      </dict>
      <key>monster_0452_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,248},{240,191}}</string>
        <key>offset</key>
        <string>{-101,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,191}}</string>
        <key>sourceSize</key>
        <string>{240,191}</string>
      </dict>
      <key>monster_0452_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{246,176}}</string>
        <key>offset</key>
        <string>{-110,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,176}}</string>
        <key>sourceSize</key>
        <string>{246,176}</string>
      </dict>
      <key>monster_0452_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,267},{256,190}}</string>
        <key>offset</key>
        <string>{-98,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,190}}</string>
        <key>sourceSize</key>
        <string>{256,190}</string>
      </dict>
      <key>monster_0452_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,771},{207,204}}</string>
        <key>offset</key>
        <string>{-51,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,204}}</string>
        <key>sourceSize</key>
        <string>{207,204}</string>
      </dict>
      <key>monster_0452_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,239},{231,196}}</string>
        <key>offset</key>
        <string>{-75,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,196}}</string>
        <key>sourceSize</key>
        <string>{231,196}</string>
      </dict>
      <key>monster_0452_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,692},{189,218}}</string>
        <key>offset</key>
        <string>{-51,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,218}}</string>
        <key>sourceSize</key>
        <string>{189,218}</string>
      </dict>
      <key>monster_0452_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,639},{185,207}}</string>
        <key>offset</key>
        <string>{-47,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,207}}</string>
        <key>sourceSize</key>
        <string>{185,207}</string>
      </dict>
      <key>monster_0452_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,639},{185,208}}</string>
        <key>offset</key>
        <string>{-47,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,208}}</string>
        <key>sourceSize</key>
        <string>{185,208}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0452_0_7.png</string>
      <key>size</key>
      <string>{1374,1085}</string>
      <key>textureFileName</key>
      <string>monster_0452_0_7.png</string>
    </dict>
  </dict>
</plist>