<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0036_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,117},{71,73}}</string>
        <key>offset</key>
        <string>{-6,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,73}}</string>
        <key>sourceSize</key>
        <string>{71,73}</string>
      </dict>
      <key>monster_0036_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,428},{74,55}}</string>
        <key>offset</key>
        <string>{-7,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,55}}</string>
        <key>sourceSize</key>
        <string>{74,55}</string>
      </dict>
      <key>monster_0036_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,203},{72,93}}</string>
        <key>offset</key>
        <string>{-7,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,93}}</string>
        <key>sourceSize</key>
        <string>{72,93}</string>
      </dict>
      <key>monster_0036_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,118},{71,108}}</string>
        <key>offset</key>
        <string>{-6,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,108}}</string>
        <key>sourceSize</key>
        <string>{71,108}</string>
      </dict>
      <key>monster_0036_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,110},{73,103}}</string>
        <key>offset</key>
        <string>{-6,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,103}}</string>
        <key>sourceSize</key>
        <string>{73,103}</string>
      </dict>
      <key>monster_0036_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,43},{72,86}}</string>
        <key>offset</key>
        <string>{-7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,86}}</string>
        <key>sourceSize</key>
        <string>{72,86}</string>
      </dict>
      <key>monster_0036_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,437},{97,64}}</string>
        <key>offset</key>
        <string>{-17,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,64}}</string>
        <key>sourceSize</key>
        <string>{97,64}</string>
      </dict>
      <key>monster_0036_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,403},{66,59}}</string>
        <key>offset</key>
        <string>{-13,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,59}}</string>
        <key>sourceSize</key>
        <string>{66,59}</string>
      </dict>
      <key>monster_0036_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,215},{98,91}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,91}}</string>
        <key>sourceSize</key>
        <string>{98,91}</string>
      </dict>
      <key>monster_0036_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,276},{118,105}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,105}}</string>
        <key>sourceSize</key>
        <string>{118,105}</string>
      </dict>
      <key>monster_0036_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{132,94}}</string>
        <key>offset</key>
        <string>{-9,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,94}}</string>
        <key>sourceSize</key>
        <string>{132,94}</string>
      </dict>
      <key>monster_0036_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,228},{105,78}}</string>
        <key>offset</key>
        <string>{-9,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,78}}</string>
        <key>sourceSize</key>
        <string>{105,78}</string>
      </dict>
      <key>monster_0036_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,367},{107,43}}</string>
        <key>offset</key>
        <string>{-14,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,43}}</string>
        <key>sourceSize</key>
        <string>{107,43}</string>
      </dict>
      <key>monster_0036_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,348},{68,53}}</string>
        <key>offset</key>
        <string>{-9,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,53}}</string>
        <key>sourceSize</key>
        <string>{68,53}</string>
      </dict>
      <key>monster_0036_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,134},{118,64}}</string>
        <key>offset</key>
        <string>{-9,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,64}}</string>
        <key>sourceSize</key>
        <string>{118,64}</string>
      </dict>
      <key>monster_0036_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,141},{133,75}}</string>
        <key>offset</key>
        <string>{-5,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,75}}</string>
        <key>sourceSize</key>
        <string>{133,75}</string>
      </dict>
      <key>monster_0036_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{139,59}}</string>
        <key>offset</key>
        <string>{0,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,59}}</string>
        <key>sourceSize</key>
        <string>{139,59}</string>
      </dict>
      <key>monster_0036_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,134},{116,52}}</string>
        <key>offset</key>
        <string>{-9,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,52}}</string>
        <key>sourceSize</key>
        <string>{116,52}</string>
      </dict>
      <key>monster_0036_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{91,42}}</string>
        <key>offset</key>
        <string>{-11,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,42}}</string>
        <key>sourceSize</key>
        <string>{91,42}</string>
      </dict>
      <key>monster_0036_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,384},{74,40}}</string>
        <key>offset</key>
        <string>{-14,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,40}}</string>
        <key>sourceSize</key>
        <string>{74,40}</string>
      </dict>
      <key>monster_0036_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,396},{113,39}}</string>
        <key>offset</key>
        <string>{-14,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,39}}</string>
        <key>sourceSize</key>
        <string>{113,39}</string>
      </dict>
      <key>monster_0036_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{127,50}}</string>
        <key>offset</key>
        <string>{-12,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,50}}</string>
        <key>sourceSize</key>
        <string>{127,50}</string>
      </dict>
      <key>monster_0036_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{116,54}}</string>
        <key>offset</key>
        <string>{-9,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,54}}</string>
        <key>sourceSize</key>
        <string>{116,54}</string>
      </dict>
      <key>monster_0036_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,335},{101,43}}</string>
        <key>offset</key>
        <string>{-14,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,43}}</string>
        <key>sourceSize</key>
        <string>{101,43}</string>
      </dict>
      <key>monster_0036_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,117},{71,48}}</string>
        <key>offset</key>
        <string>{1,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,48}}</string>
        <key>sourceSize</key>
        <string>{71,48}</string>
      </dict>
      <key>monster_0036_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,428},{75,36}}</string>
        <key>offset</key>
        <string>{-2,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,36}}</string>
        <key>sourceSize</key>
        <string>{75,36}</string>
      </dict>
      <key>monster_0036_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,192},{73,45}}</string>
        <key>offset</key>
        <string>{-1,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,45}}</string>
        <key>sourceSize</key>
        <string>{73,45}</string>
      </dict>
      <key>monster_0036_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,332},{71,50}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,50}}</string>
        <key>sourceSize</key>
        <string>{71,50}</string>
      </dict>
      <key>monster_0036_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,288},{70,58}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,58}}</string>
        <key>sourceSize</key>
        <string>{70,58}</string>
      </dict>
      <key>monster_0036_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,239},{73,47}}</string>
        <key>offset</key>
        <string>{-1,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,47}}</string>
        <key>sourceSize</key>
        <string>{73,47}</string>
      </dict>
      <key>monster_0036_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,0},{87,41}}</string>
        <key>offset</key>
        <string>{-5,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,41}}</string>
        <key>sourceSize</key>
        <string>{87,41}</string>
      </dict>
      <key>monster_0036_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,464},{59,42}}</string>
        <key>offset</key>
        <string>{19,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,42}}</string>
        <key>sourceSize</key>
        <string>{59,42}</string>
      </dict>
      <key>monster_0036_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,384},{80,42}}</string>
        <key>offset</key>
        <string>{-5,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,42}}</string>
        <key>sourceSize</key>
        <string>{80,42}</string>
      </dict>
      <key>monster_0036_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,0},{96,49}}</string>
        <key>offset</key>
        <string>{-22,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,49}}</string>
        <key>sourceSize</key>
        <string>{96,49}</string>
      </dict>
      <key>monster_0036_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,252},{113,43}}</string>
        <key>offset</key>
        <string>{-39,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,43}}</string>
        <key>sourceSize</key>
        <string>{113,43}</string>
      </dict>
      <key>monster_0036_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{90,40}}</string>
        <key>offset</key>
        <string>{-15,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,40}}</string>
        <key>sourceSize</key>
        <string>{90,40}</string>
      </dict>
      <key>monster_0036_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,315},{96,47}}</string>
        <key>offset</key>
        <string>{-18,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,47}}</string>
        <key>sourceSize</key>
        <string>{96,47}</string>
      </dict>
      <key>monster_0036_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,477},{54,50}}</string>
        <key>offset</key>
        <string>{19,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,50}}</string>
        <key>sourceSize</key>
        <string>{54,50}</string>
      </dict>
      <key>monster_0036_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,104},{97,62}}</string>
        <key>offset</key>
        <string>{-24,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,62}}</string>
        <key>sourceSize</key>
        <string>{97,62}</string>
      </dict>
      <key>monster_0036_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{108,72}}</string>
        <key>offset</key>
        <string>{-39,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,72}}</string>
        <key>sourceSize</key>
        <string>{108,72}</string>
      </dict>
      <key>monster_0036_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,405},{120,70}}</string>
        <key>offset</key>
        <string>{-55,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,70}}</string>
        <key>sourceSize</key>
        <string>{120,70}</string>
      </dict>
      <key>monster_0036_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,438},{99,61}}</string>
        <key>offset</key>
        <string>{-26,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,61}}</string>
        <key>sourceSize</key>
        <string>{99,61}</string>
      </dict>
      <key>monster_0036_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,192},{81,68}}</string>
        <key>offset</key>
        <string>{-5,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,68}}</string>
        <key>sourceSize</key>
        <string>{81,68}</string>
      </dict>
      <key>monster_0036_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,275},{72,55}}</string>
        <key>offset</key>
        <string>{7,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,55}}</string>
        <key>sourceSize</key>
        <string>{72,55}</string>
      </dict>
      <key>monster_0036_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,98},{92,83}}</string>
        <key>offset</key>
        <string>{-14,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,83}}</string>
        <key>sourceSize</key>
        <string>{92,83}</string>
      </dict>
      <key>monster_0036_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{102,98}}</string>
        <key>offset</key>
        <string>{-26,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,98}}</string>
        <key>sourceSize</key>
        <string>{102,98}</string>
      </dict>
      <key>monster_0036_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,335},{96,100}}</string>
        <key>offset</key>
        <string>{-22,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,100}}</string>
        <key>sourceSize</key>
        <string>{96,100}</string>
      </dict>
      <key>monster_0036_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,298},{84,81}}</string>
        <key>offset</key>
        <string>{-6,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,81}}</string>
        <key>sourceSize</key>
        <string>{84,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0036_0_2.png</string>
      <key>size</key>
      <string>{641,537}</string>
      <key>textureFileName</key>
      <string>monster_0036_0_2.png</string>
    </dict>
  </dict>
</plist>