<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0652_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,245},{240,172}}</string>
        <key>offset</key>
        <string>{-68,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,172}}</string>
        <key>sourceSize</key>
        <string>{240,172}</string>
      </dict>
      <key>monster_0652_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,245},{240,172}}</string>
        <key>offset</key>
        <string>{-68,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,172}}</string>
        <key>sourceSize</key>
        <string>{240,172}</string>
      </dict>
      <key>monster_0652_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{243,172}}</string>
        <key>offset</key>
        <string>{-69,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,172}}</string>
        <key>sourceSize</key>
        <string>{243,172}</string>
      </dict>
      <key>monster_0652_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{238,171}}</string>
        <key>offset</key>
        <string>{-66,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,171}}</string>
        <key>sourceSize</key>
        <string>{238,171}</string>
      </dict>
      <key>monster_0652_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,0},{235,170}}</string>
        <key>offset</key>
        <string>{-65,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,170}}</string>
        <key>sourceSize</key>
        <string>{235,170}</string>
      </dict>
      <key>monster_0652_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,0},{237,170}}</string>
        <key>offset</key>
        <string>{-66,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,170}}</string>
        <key>sourceSize</key>
        <string>{237,170}</string>
      </dict>
      <key>monster_0652_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,375},{200,209}}</string>
        <key>offset</key>
        <string>{-42,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,209}}</string>
        <key>sourceSize</key>
        <string>{200,209}</string>
      </dict>
      <key>monster_0652_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,172},{201,210}}</string>
        <key>offset</key>
        <string>{-42,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,210}}</string>
        <key>sourceSize</key>
        <string>{201,210}</string>
      </dict>
      <key>monster_0652_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,375},{172,180}}</string>
        <key>offset</key>
        <string>{-33,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,180}}</string>
        <key>sourceSize</key>
        <string>{172,180}</string>
      </dict>
      <key>monster_0652_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{172,178}}</string>
        <key>offset</key>
        <string>{-33,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,178}}</string>
        <key>sourceSize</key>
        <string>{172,178}</string>
      </dict>
      <key>monster_0652_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,174},{170,177}}</string>
        <key>offset</key>
        <string>{-32,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,177}}</string>
        <key>sourceSize</key>
        <string>{170,177}</string>
      </dict>
      <key>monster_0652_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,353},{170,177}}</string>
        <key>offset</key>
        <string>{-32,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,177}}</string>
        <key>sourceSize</key>
        <string>{170,177}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0652_0_0_2.png</string>
      <key>size</key>
      <string>{940,642}</string>
      <key>textureFileName</key>
      <string>monster_0652_0_0_2.png</string>
    </dict>
  </dict>
</plist>