<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0456_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,444},{118,126}}</string>
        <key>offset</key>
        <string>{-10,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,126}}</string>
        <key>sourceSize</key>
        <string>{118,126}</string>
      </dict>
      <key>monster_0456_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,279},{126,121}}</string>
        <key>offset</key>
        <string>{-10,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,121}}</string>
        <key>sourceSize</key>
        <string>{126,121}</string>
      </dict>
      <key>monster_0456_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,128},{112,124}}</string>
        <key>offset</key>
        <string>{-10,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,124}}</string>
        <key>sourceSize</key>
        <string>{112,124}</string>
      </dict>
      <key>monster_0456_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,383},{113,123}}</string>
        <key>offset</key>
        <string>{-17,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,123}}</string>
        <key>sourceSize</key>
        <string>{113,123}</string>
      </dict>
      <key>monster_0456_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,572},{125,94}}</string>
        <key>offset</key>
        <string>{-25,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,94}}</string>
        <key>sourceSize</key>
        <string>{125,94}</string>
      </dict>
      <key>monster_0456_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,407},{125,79}}</string>
        <key>offset</key>
        <string>{-27,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,79}}</string>
        <key>sourceSize</key>
        <string>{125,79}</string>
      </dict>
      <key>monster_0456_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,0},{124,111}}</string>
        <key>offset</key>
        <string>{-11,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,111}}</string>
        <key>sourceSize</key>
        <string>{124,111}</string>
      </dict>
      <key>monster_0456_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,534},{124,103}}</string>
        <key>offset</key>
        <string>{-9,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,103}}</string>
        <key>sourceSize</key>
        <string>{124,103}</string>
      </dict>
      <key>monster_0456_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,247},{115,111}}</string>
        <key>offset</key>
        <string>{-9,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,111}}</string>
        <key>sourceSize</key>
        <string>{115,111}</string>
      </dict>
      <key>monster_0456_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{141,108}}</string>
        <key>offset</key>
        <string>{-7,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,108}}</string>
        <key>sourceSize</key>
        <string>{141,108}</string>
      </dict>
      <key>monster_0456_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,575},{127,91}}</string>
        <key>offset</key>
        <string>{3,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,91}}</string>
        <key>sourceSize</key>
        <string>{127,91}</string>
      </dict>
      <key>monster_0456_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,119},{112,76}}</string>
        <key>offset</key>
        <string>{6,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,76}}</string>
        <key>sourceSize</key>
        <string>{112,76}</string>
      </dict>
      <key>monster_0456_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,364},{109,99}}</string>
        <key>offset</key>
        <string>{-12,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,99}}</string>
        <key>sourceSize</key>
        <string>{109,99}</string>
      </dict>
      <key>monster_0456_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,364},{101,91}}</string>
        <key>offset</key>
        <string>{-11,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,91}}</string>
        <key>sourceSize</key>
        <string>{101,91}</string>
      </dict>
      <key>monster_0456_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,475},{109,106}}</string>
        <key>offset</key>
        <string>{-12,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,106}}</string>
        <key>sourceSize</key>
        <string>{109,106}</string>
      </dict>
      <key>monster_0456_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{157,101}}</string>
        <key>offset</key>
        <string>{-10,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,101}}</string>
        <key>sourceSize</key>
        <string>{157,101}</string>
      </dict>
      <key>monster_0456_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{148,88}}</string>
        <key>offset</key>
        <string>{5,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,88}}</string>
        <key>sourceSize</key>
        <string>{148,88}</string>
      </dict>
      <key>monster_0456_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,602},{130,79}}</string>
        <key>offset</key>
        <string>{14,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,79}}</string>
        <key>sourceSize</key>
        <string>{130,79}</string>
      </dict>
      <key>monster_0456_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,678},{88,99}}</string>
        <key>offset</key>
        <string>{-8,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,99}}</string>
        <key>sourceSize</key>
        <string>{88,99}</string>
      </dict>
      <key>monster_0456_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,0},{89,96}}</string>
        <key>offset</key>
        <string>{-8,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,96}}</string>
        <key>sourceSize</key>
        <string>{89,96}</string>
      </dict>
      <key>monster_0456_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,214},{91,103}}</string>
        <key>offset</key>
        <string>{-8,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,103}}</string>
        <key>sourceSize</key>
        <string>{91,103}</string>
      </dict>
      <key>monster_0456_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,135},{126,84}}</string>
        <key>offset</key>
        <string>{-20,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,84}}</string>
        <key>sourceSize</key>
        <string>{126,84}</string>
      </dict>
      <key>monster_0456_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,254},{123,87}}</string>
        <key>offset</key>
        <string>{-13,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,87}}</string>
        <key>sourceSize</key>
        <string>{123,87}</string>
      </dict>
      <key>monster_0456_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,660},{121,89}}</string>
        <key>offset</key>
        <string>{-12,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,89}}</string>
        <key>sourceSize</key>
        <string>{121,89}</string>
      </dict>
      <key>monster_0456_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,678},{89,98}}</string>
        <key>offset</key>
        <string>{-19,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,98}}</string>
        <key>sourceSize</key>
        <string>{89,98}</string>
      </dict>
      <key>monster_0456_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,115},{97,105}}</string>
        <key>offset</key>
        <string>{-28,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,105}}</string>
        <key>sourceSize</key>
        <string>{97,105}</string>
      </dict>
      <key>monster_0456_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,583},{90,94}}</string>
        <key>offset</key>
        <string>{-19,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,94}}</string>
        <key>sourceSize</key>
        <string>{90,94}</string>
      </dict>
      <key>monster_0456_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,126},{119,86}}</string>
        <key>offset</key>
        <string>{-46,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,86}}</string>
        <key>sourceSize</key>
        <string>{119,86}</string>
      </dict>
      <key>monster_0456_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{126,101}}</string>
        <key>offset</key>
        <string>{-51,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,101}}</string>
        <key>sourceSize</key>
        <string>{126,101}</string>
      </dict>
      <key>monster_0456_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,256},{125,102}}</string>
        <key>offset</key>
        <string>{-53,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,102}}</string>
        <key>sourceSize</key>
        <string>{125,102}</string>
      </dict>
      <key>monster_0456_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,631},{98,112}}</string>
        <key>offset</key>
        <string>{-24,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,112}}</string>
        <key>sourceSize</key>
        <string>{98,112}</string>
      </dict>
      <key>monster_0456_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,379},{97,120}}</string>
        <key>offset</key>
        <string>{-26,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,120}}</string>
        <key>sourceSize</key>
        <string>{97,120}</string>
      </dict>
      <key>monster_0456_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,583},{93,106}}</string>
        <key>offset</key>
        <string>{-22,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,106}}</string>
        <key>sourceSize</key>
        <string>{93,106}</string>
      </dict>
      <key>monster_0456_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,0},{118,75}}</string>
        <key>offset</key>
        <string>{-58,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,75}}</string>
        <key>sourceSize</key>
        <string>{118,75}</string>
      </dict>
      <key>monster_0456_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,602},{131,75}}</string>
        <key>offset</key>
        <string>{-75,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,75}}</string>
        <key>sourceSize</key>
        <string>{131,75}</string>
      </dict>
      <key>monster_0456_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,254},{120,81}}</string>
        <key>offset</key>
        <string>{-68,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,81}}</string>
        <key>sourceSize</key>
        <string>{120,81}</string>
      </dict>
      <key>monster_0456_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,128},{83,126}}</string>
        <key>offset</key>
        <string>{-14,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,126}}</string>
        <key>sourceSize</key>
        <string>{83,126}</string>
      </dict>
      <key>monster_0456_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{83,133}}</string>
        <key>offset</key>
        <string>{-16,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,133}}</string>
        <key>sourceSize</key>
        <string>{83,133}</string>
      </dict>
      <key>monster_0456_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,508},{81,121}}</string>
        <key>offset</key>
        <string>{-12,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,121}}</string>
        <key>sourceSize</key>
        <string>{81,121}</string>
      </dict>
      <key>monster_0456_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,465},{135,95}}</string>
        <key>offset</key>
        <string>{-72,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,95}}</string>
        <key>sourceSize</key>
        <string>{135,95}</string>
      </dict>
      <key>monster_0456_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{154,70}}</string>
        <key>offset</key>
        <string>{-98,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,70}}</string>
        <key>sourceSize</key>
        <string>{154,70}</string>
      </dict>
      <key>monster_0456_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,159},{146,68}}</string>
        <key>offset</key>
        <string>{-97,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,68}}</string>
        <key>sourceSize</key>
        <string>{146,68}</string>
      </dict>
      <key>monster_0456_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,143},{84,134}}</string>
        <key>offset</key>
        <string>{-5,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,134}}</string>
        <key>sourceSize</key>
        <string>{84,134}</string>
      </dict>
      <key>monster_0456_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,307},{101,135}}</string>
        <key>offset</key>
        <string>{-7,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,135}}</string>
        <key>sourceSize</key>
        <string>{101,135}</string>
      </dict>
      <key>monster_0456_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,444},{81,129}}</string>
        <key>offset</key>
        <string>{-4,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,129}}</string>
        <key>sourceSize</key>
        <string>{81,129}</string>
      </dict>
      <key>monster_0456_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,0},{100,117}}</string>
        <key>offset</key>
        <string>{-31,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,117}}</string>
        <key>sourceSize</key>
        <string>{100,117}</string>
      </dict>
      <key>monster_0456_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,501},{112,90}}</string>
        <key>offset</key>
        <string>{-51,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,90}}</string>
        <key>sourceSize</key>
        <string>{112,90}</string>
      </dict>
      <key>monster_0456_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,0},{113,72}}</string>
        <key>offset</key>
        <string>{-56,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,72}}</string>
        <key>sourceSize</key>
        <string>{113,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0456_0_4.png</string>
      <key>size</key>
      <string>{860,770}</string>
      <key>textureFileName</key>
      <string>monster_0456_0_4.png</string>
    </dict>
  </dict>
</plist>