<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0028_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,335},{56,76}}</string>
        <key>offset</key>
        <string>{-5,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,76}}</string>
        <key>sourceSize</key>
        <string>{56,76}</string>
      </dict>
      <key>monster_0028_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,250},{56,75}}</string>
        <key>offset</key>
        <string>{-5,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,75}}</string>
        <key>sourceSize</key>
        <string>{56,75}</string>
      </dict>
      <key>monster_0028_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,327},{56,74}}</string>
        <key>offset</key>
        <string>{-5,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,74}}</string>
        <key>sourceSize</key>
        <string>{56,74}</string>
      </dict>
      <key>monster_0028_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,413},{56,75}}</string>
        <key>offset</key>
        <string>{-5,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,75}}</string>
        <key>sourceSize</key>
        <string>{56,75}</string>
      </dict>
      <key>monster_0028_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,199},{56,69}}</string>
        <key>offset</key>
        <string>{-5,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>monster_0028_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,250},{56,72}}</string>
        <key>offset</key>
        <string>{-5,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,72}}</string>
        <key>sourceSize</key>
        <string>{56,72}</string>
      </dict>
      <key>monster_0028_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,445},{83,64}}</string>
        <key>offset</key>
        <string>{-20,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,64}}</string>
        <key>sourceSize</key>
        <string>{83,64}</string>
      </dict>
      <key>monster_0028_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,168},{80,63}}</string>
        <key>offset</key>
        <string>{-19,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,63}}</string>
        <key>sourceSize</key>
        <string>{80,63}</string>
      </dict>
      <key>monster_0028_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{79,64}}</string>
        <key>offset</key>
        <string>{-17,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,64}}</string>
        <key>sourceSize</key>
        <string>{79,64}</string>
      </dict>
      <key>monster_0028_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{91,64}}</string>
        <key>offset</key>
        <string>{-15,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,64}}</string>
        <key>sourceSize</key>
        <string>{91,64}</string>
      </dict>
      <key>monster_0028_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,89},{85,63}}</string>
        <key>offset</key>
        <string>{-10,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,63}}</string>
        <key>sourceSize</key>
        <string>{85,63}</string>
      </dict>
      <key>monster_0028_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,273},{84,61}}</string>
        <key>offset</key>
        <string>{-16,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,61}}</string>
        <key>sourceSize</key>
        <string>{84,61}</string>
      </dict>
      <key>monster_0028_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,236},{110,57}}</string>
        <key>offset</key>
        <string>{-38,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,57}}</string>
        <key>sourceSize</key>
        <string>{110,57}</string>
      </dict>
      <key>monster_0028_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,113},{107,56}}</string>
        <key>offset</key>
        <string>{-36,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,56}}</string>
        <key>sourceSize</key>
        <string>{107,56}</string>
      </dict>
      <key>monster_0028_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{107,55}}</string>
        <key>offset</key>
        <string>{-33,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,55}}</string>
        <key>sourceSize</key>
        <string>{107,55}</string>
      </dict>
      <key>monster_0028_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{118,57}}</string>
        <key>offset</key>
        <string>{-30,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,57}}</string>
        <key>sourceSize</key>
        <string>{118,57}</string>
      </dict>
      <key>monster_0028_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{111,57}}</string>
        <key>offset</key>
        <string>{-24,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,57}}</string>
        <key>sourceSize</key>
        <string>{111,57}</string>
      </dict>
      <key>monster_0028_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,121},{113,57}}</string>
        <key>offset</key>
        <string>{-33,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,57}}</string>
        <key>sourceSize</key>
        <string>{113,57}</string>
      </dict>
      <key>monster_0028_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,176},{84,70}}</string>
        <key>offset</key>
        <string>{-20,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,70}}</string>
        <key>sourceSize</key>
        <string>{84,70}</string>
      </dict>
      <key>monster_0028_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,169},{81,67}}</string>
        <key>offset</key>
        <string>{-19,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,67}}</string>
        <key>sourceSize</key>
        <string>{81,67}</string>
      </dict>
      <key>monster_0028_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,83},{80,68}}</string>
        <key>offset</key>
        <string>{-16,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,68}}</string>
        <key>sourceSize</key>
        <string>{80,68}</string>
      </dict>
      <key>monster_0028_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,316},{91,65}}</string>
        <key>offset</key>
        <string>{-15,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,65}}</string>
        <key>sourceSize</key>
        <string>{91,65}</string>
      </dict>
      <key>monster_0028_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,359},{84,70}}</string>
        <key>offset</key>
        <string>{-10,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,70}}</string>
        <key>sourceSize</key>
        <string>{84,70}</string>
      </dict>
      <key>monster_0028_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,262},{84,69}}</string>
        <key>offset</key>
        <string>{-17,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,69}}</string>
        <key>sourceSize</key>
        <string>{84,69}</string>
      </dict>
      <key>monster_0028_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,85},{57,82}}</string>
        <key>offset</key>
        <string>{-5,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,82}}</string>
        <key>sourceSize</key>
        <string>{57,82}</string>
      </dict>
      <key>monster_0028_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,81},{57,77}}</string>
        <key>offset</key>
        <string>{-5,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,77}}</string>
        <key>sourceSize</key>
        <string>{57,77}</string>
      </dict>
      <key>monster_0028_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,0},{57,79}}</string>
        <key>offset</key>
        <string>{-5,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,79}}</string>
        <key>sourceSize</key>
        <string>{57,79}</string>
      </dict>
      <key>monster_0028_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,140},{57,77}}</string>
        <key>offset</key>
        <string>{-5,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,77}}</string>
        <key>sourceSize</key>
        <string>{57,77}</string>
      </dict>
      <key>monster_0028_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,348},{57,83}}</string>
        <key>offset</key>
        <string>{-5,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,83}}</string>
        <key>sourceSize</key>
        <string>{57,83}</string>
      </dict>
      <key>monster_0028_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,85},{57,81}}</string>
        <key>offset</key>
        <string>{-5,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,81}}</string>
        <key>sourceSize</key>
        <string>{57,81}</string>
      </dict>
      <key>monster_0028_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{87,70}}</string>
        <key>offset</key>
        <string>{-11,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>monster_0028_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,0},{81,67}}</string>
        <key>offset</key>
        <string>{-9,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,67}}</string>
        <key>sourceSize</key>
        <string>{81,67}</string>
      </dict>
      <key>monster_0028_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,433},{83,69}}</string>
        <key>offset</key>
        <string>{-9,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,69}}</string>
        <key>sourceSize</key>
        <string>{83,69}</string>
      </dict>
      <key>monster_0028_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,441},{92,65}}</string>
        <key>offset</key>
        <string>{-19,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,65}}</string>
        <key>sourceSize</key>
        <string>{92,65}</string>
      </dict>
      <key>monster_0028_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,222},{92,70}}</string>
        <key>offset</key>
        <string>{-18,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,70}}</string>
        <key>sourceSize</key>
        <string>{92,70}</string>
      </dict>
      <key>monster_0028_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,346},{93,68}}</string>
        <key>offset</key>
        <string>{-16,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,68}}</string>
        <key>sourceSize</key>
        <string>{93,68}</string>
      </dict>
      <key>monster_0028_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,362},{114,57}}</string>
        <key>offset</key>
        <string>{-21,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,57}}</string>
        <key>sourceSize</key>
        <string>{114,57}</string>
      </dict>
      <key>monster_0028_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,0},{106,56}}</string>
        <key>offset</key>
        <string>{-17,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,56}}</string>
        <key>sourceSize</key>
        <string>{106,56}</string>
      </dict>
      <key>monster_0028_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,236},{108,55}}</string>
        <key>offset</key>
        <string>{-18,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,55}}</string>
        <key>sourceSize</key>
        <string>{108,55}</string>
      </dict>
      <key>monster_0028_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{119,58}}</string>
        <key>offset</key>
        <string>{-31,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,58}}</string>
        <key>sourceSize</key>
        <string>{119,58}</string>
      </dict>
      <key>monster_0028_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{118,57}}</string>
        <key>offset</key>
        <string>{-30,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,57}}</string>
        <key>sourceSize</key>
        <string>{118,57}</string>
      </dict>
      <key>monster_0028_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{119,57}}</string>
        <key>offset</key>
        <string>{-27,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,57}}</string>
        <key>sourceSize</key>
        <string>{119,57}</string>
      </dict>
      <key>monster_0028_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,185},{86,64}}</string>
        <key>offset</key>
        <string>{-10,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>monster_0028_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,252},{81,64}}</string>
        <key>offset</key>
        <string>{-9,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,64}}</string>
        <key>sourceSize</key>
        <string>{81,64}</string>
      </dict>
      <key>monster_0028_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{83,63}}</string>
        <key>offset</key>
        <string>{-9,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,63}}</string>
        <key>sourceSize</key>
        <string>{83,63}</string>
      </dict>
      <key>monster_0028_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,93},{90,64}}</string>
        <key>offset</key>
        <string>{-18,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,64}}</string>
        <key>sourceSize</key>
        <string>{90,64}</string>
      </dict>
      <key>monster_0028_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,108},{92,63}}</string>
        <key>offset</key>
        <string>{-18,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,63}}</string>
        <key>sourceSize</key>
        <string>{92,63}</string>
      </dict>
      <key>monster_0028_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,409},{91,61}}</string>
        <key>offset</key>
        <string>{-15,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,61}}</string>
        <key>sourceSize</key>
        <string>{91,61}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0028_0_2.png</string>
      <key>size</key>
      <string>{640,512}</string>
      <key>textureFileName</key>
      <string>monster_0028_0_2.png</string>
    </dict>
  </dict>
</plist>