<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0221_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,252},{107,120}}</string>
        <key>offset</key>
        <string>{-9,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,120}}</string>
        <key>sourceSize</key>
        <string>{107,120}</string>
      </dict>
      <key>monster_0221_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,776},{108,109}}</string>
        <key>offset</key>
        <string>{-8,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,109}}</string>
        <key>sourceSize</key>
        <string>{108,109}</string>
      </dict>
      <key>monster_0221_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,600},{111,108}}</string>
        <key>offset</key>
        <string>{-9,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,108}}</string>
        <key>sourceSize</key>
        <string>{111,108}</string>
      </dict>
      <key>monster_0221_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,125},{109,119}}</string>
        <key>offset</key>
        <string>{-10,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,119}}</string>
        <key>sourceSize</key>
        <string>{109,119}</string>
      </dict>
      <key>monster_0221_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,262},{108,123}}</string>
        <key>offset</key>
        <string>{-11,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,123}}</string>
        <key>sourceSize</key>
        <string>{108,123}</string>
      </dict>
      <key>monster_0221_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,0},{110,118}}</string>
        <key>offset</key>
        <string>{-11,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{110,118}</string>
      </dict>
      <key>monster_0221_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,632},{113,118}}</string>
        <key>offset</key>
        <string>{-12,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,118}}</string>
        <key>sourceSize</key>
        <string>{113,118}</string>
      </dict>
      <key>monster_0221_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,404},{109,124}}</string>
        <key>offset</key>
        <string>{-11,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,124}}</string>
        <key>sourceSize</key>
        <string>{109,124}</string>
      </dict>
      <key>monster_0221_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,273},{129,118}}</string>
        <key>offset</key>
        <string>{-5,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,118}}</string>
        <key>sourceSize</key>
        <string>{129,118}</string>
      </dict>
      <key>monster_0221_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,496},{118,111}}</string>
        <key>offset</key>
        <string>{4,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,111}}</string>
        <key>sourceSize</key>
        <string>{118,111}</string>
      </dict>
      <key>monster_0221_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,446},{104,108}}</string>
        <key>offset</key>
        <string>{8,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,108}}</string>
        <key>sourceSize</key>
        <string>{104,108}</string>
      </dict>
      <key>monster_0221_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,0},{102,116}}</string>
        <key>offset</key>
        <string>{9,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,116}}</string>
        <key>sourceSize</key>
        <string>{102,116}</string>
      </dict>
      <key>monster_0221_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,736},{107,116}}</string>
        <key>offset</key>
        <string>{1,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,116}}</string>
        <key>sourceSize</key>
        <string>{107,116}</string>
      </dict>
      <key>monster_0221_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,725},{102,115}}</string>
        <key>offset</key>
        <string>{8,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,115}}</string>
        <key>sourceSize</key>
        <string>{102,115}</string>
      </dict>
      <key>monster_0221_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,246},{107,119}}</string>
        <key>offset</key>
        <string>{5,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,119}}</string>
        <key>sourceSize</key>
        <string>{107,119}</string>
      </dict>
      <key>monster_0221_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,510},{118,120}}</string>
        <key>offset</key>
        <string>{2,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,120}}</string>
        <key>sourceSize</key>
        <string>{118,120}</string>
      </dict>
      <key>monster_0221_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{137,103}}</string>
        <key>offset</key>
        <string>{-12,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,103}}</string>
        <key>sourceSize</key>
        <string>{137,103}</string>
      </dict>
      <key>monster_0221_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,558},{104,109}}</string>
        <key>offset</key>
        <string>{14,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,109}}</string>
        <key>sourceSize</key>
        <string>{104,109}</string>
      </dict>
      <key>monster_0221_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,367},{88,118}}</string>
        <key>offset</key>
        <string>{26,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,118}}</string>
        <key>sourceSize</key>
        <string>{88,118}</string>
      </dict>
      <key>monster_0221_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,367},{106,117}}</string>
        <key>offset</key>
        <string>{6,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,117}}</string>
        <key>sourceSize</key>
        <string>{106,117}</string>
      </dict>
      <key>monster_0221_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,125},{119,110}}</string>
        <key>offset</key>
        <string>{-9,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,110}}</string>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
      <key>monster_0221_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,236},{108,114}}</string>
        <key>offset</key>
        <string>{4,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,114}}</string>
        <key>sourceSize</key>
        <string>{108,114}</string>
      </dict>
      <key>monster_0221_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,118},{99,114}}</string>
        <key>offset</key>
        <string>{15,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>monster_0221_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,133},{127,107}}</string>
        <key>offset</key>
        <string>{-8,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,107}}</string>
        <key>sourceSize</key>
        <string>{127,107}</string>
      </dict>
      <key>monster_0221_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,113},{112,112}}</string>
        <key>offset</key>
        <string>{-4,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,112}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>monster_0221_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,607},{97,116}}</string>
        <key>offset</key>
        <string>{13,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,116}}</string>
        <key>sourceSize</key>
        <string>{97,116}</string>
      </dict>
      <key>monster_0221_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,246},{104,117}}</string>
        <key>offset</key>
        <string>{9,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,117}}</string>
        <key>sourceSize</key>
        <string>{104,117}</string>
      </dict>
      <key>monster_0221_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{115,125}}</string>
        <key>offset</key>
        <string>{-1,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,125}}</string>
        <key>sourceSize</key>
        <string>{115,125}</string>
      </dict>
      <key>monster_0221_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{131,118}}</string>
        <key>offset</key>
        <string>{-9,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,118}}</string>
        <key>sourceSize</key>
        <string>{131,118}</string>
      </dict>
      <key>monster_0221_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,752},{118,114}}</string>
        <key>offset</key>
        <string>{0,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,114}}</string>
        <key>sourceSize</key>
        <string>{118,114}</string>
      </dict>
      <key>monster_0221_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,604},{99,115}}</string>
        <key>offset</key>
        <string>{14,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,115}}</string>
        <key>sourceSize</key>
        <string>{99,115}</string>
      </dict>
      <key>monster_0221_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,483},{110,115}}</string>
        <key>offset</key>
        <string>{0,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,115}}</string>
        <key>sourceSize</key>
        <string>{110,115}</string>
      </dict>
      <key>monster_0221_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,0},{105,119}}</string>
        <key>offset</key>
        <string>{-6,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,119}}</string>
        <key>sourceSize</key>
        <string>{105,119}</string>
      </dict>
      <key>monster_0221_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,783},{108,121}}</string>
        <key>offset</key>
        <string>{-7,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,121}}</string>
        <key>sourceSize</key>
        <string>{108,121}</string>
      </dict>
      <key>monster_0221_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,0},{114,113}}</string>
        <key>offset</key>
        <string>{-12,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,113}}</string>
        <key>sourceSize</key>
        <string>{114,113}</string>
      </dict>
      <key>monster_0221_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,127},{116,123}}</string>
        <key>offset</key>
        <string>{-14,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,123}}</string>
        <key>sourceSize</key>
        <string>{116,123}</string>
      </dict>
      <key>monster_0221_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,357},{112,115}}</string>
        <key>offset</key>
        <string>{-9,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,115}}</string>
        <key>sourceSize</key>
        <string>{112,115}</string>
      </dict>
      <key>monster_0221_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,227},{112,109}}</string>
        <key>offset</key>
        <string>{-8,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,109}}</string>
        <key>sourceSize</key>
        <string>{112,109}</string>
      </dict>
      <key>monster_0221_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,670},{110,104}}</string>
        <key>offset</key>
        <string>{-5,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,104}}</string>
        <key>sourceSize</key>
        <string>{110,104}</string>
      </dict>
      <key>monster_0221_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,338},{106,112}}</string>
        <key>offset</key>
        <string>{-5,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,112}}</string>
        <key>sourceSize</key>
        <string>{106,112}</string>
      </dict>
      <key>monster_0221_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,374},{120,119}}</string>
        <key>offset</key>
        <string>{-31,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,119}}</string>
        <key>sourceSize</key>
        <string>{120,119}</string>
      </dict>
      <key>monster_0221_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,658},{115,122}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,122}}</string>
        <key>sourceSize</key>
        <string>{115,122}</string>
      </dict>
      <key>monster_0221_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,782},{110,121}}</string>
        <key>offset</key>
        <string>{-25,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,121}}</string>
        <key>sourceSize</key>
        <string>{110,121}</string>
      </dict>
      <key>monster_0221_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{114,123}}</string>
        <key>offset</key>
        <string>{-30,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,123}}</string>
        <key>sourceSize</key>
        <string>{114,123}</string>
      </dict>
      <key>monster_0221_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,530},{108,121}}</string>
        <key>offset</key>
        <string>{-26,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,121}}</string>
        <key>sourceSize</key>
        <string>{108,121}</string>
      </dict>
      <key>monster_0221_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,658},{93,123}}</string>
        <key>offset</key>
        <string>{-9,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,123}}</string>
        <key>sourceSize</key>
        <string>{93,123}</string>
      </dict>
      <key>monster_0221_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,653},{108,121}}</string>
        <key>offset</key>
        <string>{-20,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,121}}</string>
        <key>sourceSize</key>
        <string>{108,121}</string>
      </dict>
      <key>monster_0221_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,486},{116,114}}</string>
        <key>offset</key>
        <string>{-29,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,114}}</string>
        <key>sourceSize</key>
        <string>{116,114}</string>
      </dict>
      <key>monster_0221_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,404},{125,114}}</string>
        <key>offset</key>
        <string>{-38,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,114}}</string>
        <key>sourceSize</key>
        <string>{125,114}</string>
      </dict>
      <key>monster_0221_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,365},{107,116}}</string>
        <key>offset</key>
        <string>{-36,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,116}}</string>
        <key>sourceSize</key>
        <string>{107,116}</string>
      </dict>
      <key>monster_0221_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,252},{85,120}}</string>
        <key>offset</key>
        <string>{-14,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,120}}</string>
        <key>sourceSize</key>
        <string>{85,120}</string>
      </dict>
      <key>monster_0221_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,239},{108,116}}</string>
        <key>offset</key>
        <string>{-38,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,116}}</string>
        <key>sourceSize</key>
        <string>{108,116}</string>
      </dict>
      <key>monster_0221_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,446},{110,112}}</string>
        <key>offset</key>
        <string>{-33,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,112}}</string>
        <key>sourceSize</key>
        <string>{110,112}</string>
      </dict>
      <key>monster_0221_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,118},{97,116}}</string>
        <key>offset</key>
        <string>{-27,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,116}}</string>
        <key>sourceSize</key>
        <string>{97,116}</string>
      </dict>
      <key>monster_0221_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,387},{84,121}}</string>
        <key>offset</key>
        <string>{-12,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,121}}</string>
        <key>sourceSize</key>
        <string>{84,121}</string>
      </dict>
      <key>monster_0221_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,616},{102,118}}</string>
        <key>offset</key>
        <string>{-28,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,118}}</string>
        <key>sourceSize</key>
        <string>{102,118}</string>
      </dict>
      <key>monster_0221_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,120},{109,117}}</string>
        <key>offset</key>
        <string>{-29,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,117}}</string>
        <key>sourceSize</key>
        <string>{109,117}</string>
      </dict>
      <key>monster_0221_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,558},{111,110}}</string>
        <key>offset</key>
        <string>{-29,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,110}}</string>
        <key>sourceSize</key>
        <string>{111,110}</string>
      </dict>
      <key>monster_0221_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,721},{109,112}}</string>
        <key>offset</key>
        <string>{-24,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,112}}</string>
        <key>sourceSize</key>
        <string>{109,112}</string>
      </dict>
      <key>monster_0221_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,531},{125,117}}</string>
        <key>offset</key>
        <string>{-35,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,117}}</string>
        <key>sourceSize</key>
        <string>{125,117}</string>
      </dict>
      <key>monster_0221_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,139},{132,117}}</string>
        <key>offset</key>
        <string>{-40,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,117}}</string>
        <key>sourceSize</key>
        <string>{132,117}</string>
      </dict>
      <key>monster_0221_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,776},{121,116}}</string>
        <key>offset</key>
        <string>{-37,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,116}}</string>
        <key>sourceSize</key>
        <string>{121,116}</string>
      </dict>
      <key>monster_0221_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,0},{111,114}}</string>
        <key>offset</key>
        <string>{-27,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,114}}</string>
        <key>sourceSize</key>
        <string>{111,114}</string>
      </dict>
      <key>monster_0221_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,487},{96,118}}</string>
        <key>offset</key>
        <string>{-14,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,118}}</string>
        <key>sourceSize</key>
        <string>{96,118}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0221_0_1.png</string>
      <key>size</key>
      <string>{1076,897}</string>
      <key>textureFileName</key>
      <string>monster_0221_0_1.png</string>
    </dict>
  </dict>
</plist>