<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0341_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,294},{290,246}}</string>
        <key>offset</key>
        <string>{-116,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,246}}</string>
        <key>sourceSize</key>
        <string>{290,246}</string>
      </dict>
      <key>monster_0341_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,294},{290,247}}</string>
        <key>offset</key>
        <string>{-116,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,247}}</string>
        <key>sourceSize</key>
        <string>{290,247}</string>
      </dict>
      <key>monster_0341_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,883},{289,247}}</string>
        <key>offset</key>
        <string>{-115,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,247}}</string>
        <key>sourceSize</key>
        <string>{289,247}</string>
      </dict>
      <key>monster_0341_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,878},{287,247}}</string>
        <key>offset</key>
        <string>{-115,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,247}}</string>
        <key>sourceSize</key>
        <string>{287,247}</string>
      </dict>
      <key>monster_0341_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,883},{289,245}}</string>
        <key>offset</key>
        <string>{-115,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,245}}</string>
        <key>sourceSize</key>
        <string>{289,245}</string>
      </dict>
      <key>monster_0341_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,0},{290,246}}</string>
        <key>offset</key>
        <string>{-116,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,246}}</string>
        <key>sourceSize</key>
        <string>{290,246}</string>
      </dict>
      <key>monster_0341_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{293,248}}</string>
        <key>offset</key>
        <string>{-120,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,248}}</string>
        <key>sourceSize</key>
        <string>{293,248}</string>
      </dict>
      <key>monster_0341_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,295},{292,249}}</string>
        <key>offset</key>
        <string>{-119,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,249}}</string>
        <key>sourceSize</key>
        <string>{292,249}</string>
      </dict>
      <key>monster_0341_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{292,249}}</string>
        <key>offset</key>
        <string>{-119,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,249}}</string>
        <key>sourceSize</key>
        <string>{292,249}</string>
      </dict>
      <key>monster_0341_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,586},{290,248}}</string>
        <key>offset</key>
        <string>{-118,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,248}}</string>
        <key>sourceSize</key>
        <string>{290,248}</string>
      </dict>
      <key>monster_0341_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,589},{292,247}}</string>
        <key>offset</key>
        <string>{-119,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,247}}</string>
        <key>sourceSize</key>
        <string>{292,247}</string>
      </dict>
      <key>monster_0341_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,589},{292,248}}</string>
        <key>offset</key>
        <string>{-119,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,248}}</string>
        <key>sourceSize</key>
        <string>{292,248}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0341_0_1_3.png</string>
      <key>size</key>
      <string>{1026,1142}</string>
      <key>textureFileName</key>
      <string>monster_0341_0_1_3.png</string>
    </dict>
  </dict>
</plist>