<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1003_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,217},{69,96}}</string>
        <key>offset</key>
        <string>{0,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,96}}</string>
        <key>sourceSize</key>
        <string>{69,96}</string>
      </dict>
      <key>monster_1003_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{70,96}}</string>
        <key>offset</key>
        <string>{-6,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,96}}</string>
        <key>sourceSize</key>
        <string>{70,96}</string>
      </dict>
      <key>monster_1003_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,413},{62,95}}</string>
        <key>offset</key>
        <string>{-5,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,95}}</string>
        <key>sourceSize</key>
        <string>{62,95}</string>
      </dict>
      <key>monster_1003_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,349},{60,55}}</string>
        <key>offset</key>
        <string>{-8,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,55}}</string>
        <key>sourceSize</key>
        <string>{60,55}</string>
      </dict>
      <key>monster_1003_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{106,91}}</string>
        <key>offset</key>
        <string>{-19,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,91}}</string>
        <key>sourceSize</key>
        <string>{106,91}</string>
      </dict>
      <key>monster_1003_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{93,89}}</string>
        <key>offset</key>
        <string>{-11,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,89}}</string>
        <key>sourceSize</key>
        <string>{93,89}</string>
      </dict>
      <key>monster_1003_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,95},{77,89}}</string>
        <key>offset</key>
        <string>{-28,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,89}}</string>
        <key>sourceSize</key>
        <string>{77,89}</string>
      </dict>
      <key>monster_1003_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,139},{79,49}}</string>
        <key>offset</key>
        <string>{-30,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,49}}</string>
        <key>sourceSize</key>
        <string>{79,49}</string>
      </dict>
      <key>monster_1003_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,84}}</string>
        <key>offset</key>
        <string>{-21,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,84}}</string>
        <key>sourceSize</key>
        <string>{107,84}</string>
      </dict>
      <key>monster_1003_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{106,81}}</string>
        <key>offset</key>
        <string>{-13,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,81}}</string>
        <key>sourceSize</key>
        <string>{106,81}</string>
      </dict>
      <key>monster_1003_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,186},{88,76}}</string>
        <key>offset</key>
        <string>{-36,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>monster_1003_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,204},{90,40}}</string>
        <key>offset</key>
        <string>{-42,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,40}}</string>
        <key>sourceSize</key>
        <string>{90,40}</string>
      </dict>
      <key>monster_1003_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,276},{84,83}}</string>
        <key>offset</key>
        <string>{-13,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,83}}</string>
        <key>sourceSize</key>
        <string>{84,83}</string>
      </dict>
      <key>monster_1003_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,184},{83,74}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,74}}</string>
        <key>sourceSize</key>
        <string>{83,74}</string>
      </dict>
      <key>monster_1003_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{81,72}}</string>
        <key>offset</key>
        <string>{-24,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,72}}</string>
        <key>sourceSize</key>
        <string>{81,72}</string>
      </dict>
      <key>monster_1003_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,190},{77,62}}</string>
        <key>offset</key>
        <string>{-24,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,62}}</string>
        <key>sourceSize</key>
        <string>{77,62}</string>
      </dict>
      <key>monster_1003_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{67,80}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,80}}</string>
        <key>sourceSize</key>
        <string>{67,80}</string>
      </dict>
      <key>monster_1003_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,442},{65,76}}</string>
        <key>offset</key>
        <string>{1,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,76}}</string>
        <key>sourceSize</key>
        <string>{65,76}</string>
      </dict>
      <key>monster_1003_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,88},{54,82}}</string>
        <key>offset</key>
        <string>{5,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,82}}</string>
        <key>sourceSize</key>
        <string>{54,82}</string>
      </dict>
      <key>monster_1003_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,443},{59,78}}</string>
        <key>offset</key>
        <string>{-3,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,78}}</string>
        <key>sourceSize</key>
        <string>{59,78}</string>
      </dict>
      <key>monster_1003_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,315},{94,79}}</string>
        <key>offset</key>
        <string>{-19,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,79}}</string>
        <key>sourceSize</key>
        <string>{94,79}</string>
      </dict>
      <key>monster_1003_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,362},{78,76}}</string>
        <key>offset</key>
        <string>{-12,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,76}}</string>
        <key>sourceSize</key>
        <string>{78,76}</string>
      </dict>
      <key>monster_1003_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,269},{74,78}}</string>
        <key>offset</key>
        <string>{10,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,78}}</string>
        <key>sourceSize</key>
        <string>{74,78}</string>
      </dict>
      <key>monster_1003_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,69},{80,68}}</string>
        <key>offset</key>
        <string>{-1,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,68}}</string>
        <key>sourceSize</key>
        <string>{80,68}</string>
      </dict>
      <key>monster_1003_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,413},{95,86}}</string>
        <key>offset</key>
        <string>{-17,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,86}}</string>
        <key>sourceSize</key>
        <string>{95,86}</string>
      </dict>
      <key>monster_1003_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{86,84}}</string>
        <key>offset</key>
        <string>{-20,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>monster_1003_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,95},{87,86}}</string>
        <key>offset</key>
        <string>{8,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,86}}</string>
        <key>sourceSize</key>
        <string>{87,86}</string>
      </dict>
      <key>monster_1003_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,315},{95,45}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,45}}</string>
        <key>sourceSize</key>
        <string>{95,45}</string>
      </dict>
      <key>monster_1003_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,411},{65,94}}</string>
        <key>offset</key>
        <string>{4,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,94}}</string>
        <key>sourceSize</key>
        <string>{65,94}</string>
      </dict>
      <key>monster_1003_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,108},{76,94}}</string>
        <key>offset</key>
        <string>{-7,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,94}}</string>
        <key>sourceSize</key>
        <string>{76,94}</string>
      </dict>
      <key>monster_1003_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,217},{81,96}}</string>
        <key>offset</key>
        <string>{0,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,96}}</string>
        <key>sourceSize</key>
        <string>{81,96}</string>
      </dict>
      <key>monster_1003_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,362},{79,49}}</string>
        <key>offset</key>
        <string>{-4,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,49}}</string>
        <key>sourceSize</key>
        <string>{79,49}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1003_0_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_1003_0_4.png</string>
    </dict>
  </dict>
</plist>