<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0256_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,785},{251,233}}</string>
        <key>offset</key>
        <string>{-61,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,233}}</string>
        <key>sourceSize</key>
        <string>{251,233}</string>
      </dict>
      <key>monster_0256_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,348},{324,253}}</string>
        <key>offset</key>
        <string>{-95,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,253}}</string>
        <key>sourceSize</key>
        <string>{324,253}</string>
      </dict>
      <key>monster_0256_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,709},{326,280}}</string>
        <key>offset</key>
        <string>{-153,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,280}}</string>
        <key>sourceSize</key>
        <string>{326,280}</string>
      </dict>
      <key>monster_0256_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,564},{273,219}}</string>
        <key>offset</key>
        <string>{-24,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,219}}</string>
        <key>sourceSize</key>
        <string>{273,219}</string>
      </dict>
      <key>monster_0256_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{220,356}}</string>
        <key>offset</key>
        <string>{-54,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,356}}</string>
        <key>sourceSize</key>
        <string>{220,356}</string>
      </dict>
      <key>monster_0256_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,758},{342,246}}</string>
        <key>offset</key>
        <string>{-157,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,246}}</string>
        <key>sourceSize</key>
        <string>{342,246}</string>
      </dict>
      <key>monster_0256_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,0},{308,219}}</string>
        <key>offset</key>
        <string>{-37,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,219}}</string>
        <key>sourceSize</key>
        <string>{308,219}</string>
      </dict>
      <key>monster_0256_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,674},{301,257}}</string>
        <key>offset</key>
        <string>{-84,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,257}}</string>
        <key>sourceSize</key>
        <string>{301,257}</string>
      </dict>
      <key>monster_0256_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{379,223}}</string>
        <key>offset</key>
        <string>{-181,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,223}}</string>
        <key>sourceSize</key>
        <string>{379,223}</string>
      </dict>
      <key>monster_0256_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,358},{317,349}}</string>
        <key>offset</key>
        <string>{-141,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,349}}</string>
        <key>sourceSize</key>
        <string>{317,349}</string>
      </dict>
      <key>monster_0256_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,318},{275,244}}</string>
        <key>offset</key>
        <string>{-18,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,244}}</string>
        <key>sourceSize</key>
        <string>{275,244}</string>
      </dict>
      <key>monster_0256_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{258,375}}</string>
        <key>offset</key>
        <string>{-28,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,375}}</string>
        <key>sourceSize</key>
        <string>{258,375}</string>
      </dict>
      <key>monster_0256_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{346,329}}</string>
        <key>offset</key>
        <string>{-158,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,329}}</string>
        <key>sourceSize</key>
        <string>{346,329}</string>
      </dict>
      <key>monster_0256_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,0},{316,277}}</string>
        <key>offset</key>
        <string>{-84,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,277}}</string>
        <key>sourceSize</key>
        <string>{316,277}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0256_0_2_1.png</string>
      <key>size</key>
      <string>{1280,1024}</string>
      <key>textureFileName</key>
      <string>monster_0256_0_2_1.png</string>
    </dict>
  </dict>
</plist>