<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0092_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1119,621},{130,132}}</string>
        <key>offset</key>
        <string>{-27,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,132}}</string>
        <key>sourceSize</key>
        <string>{130,132}</string>
      </dict>
      <key>monster_0092_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,702},{135,128}}</string>
        <key>offset</key>
        <string>{-29,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,128}}</string>
        <key>sourceSize</key>
        <string>{135,128}</string>
      </dict>
      <key>monster_0092_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,286},{140,126}}</string>
        <key>offset</key>
        <string>{-31,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,126}}</string>
        <key>sourceSize</key>
        <string>{140,126}</string>
      </dict>
      <key>monster_0092_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,310},{144,133}}</string>
        <key>offset</key>
        <string>{-34,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,133}}</string>
        <key>sourceSize</key>
        <string>{144,133}</string>
      </dict>
      <key>monster_0092_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,0},{141,133}}</string>
        <key>offset</key>
        <string>{-34,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,133}}</string>
        <key>sourceSize</key>
        <string>{141,133}</string>
      </dict>
      <key>monster_0092_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,285},{138,129}}</string>
        <key>offset</key>
        <string>{-32,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,129}}</string>
        <key>sourceSize</key>
        <string>{138,129}</string>
      </dict>
      <key>monster_0092_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,0},{137,125}}</string>
        <key>offset</key>
        <string>{-30,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,125}}</string>
        <key>sourceSize</key>
        <string>{137,125}</string>
      </dict>
      <key>monster_0092_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,716},{137,131}}</string>
        <key>offset</key>
        <string>{-31,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,131}}</string>
        <key>sourceSize</key>
        <string>{137,131}</string>
      </dict>
      <key>monster_0092_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,456},{111,142}}</string>
        <key>offset</key>
        <string>{-17,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,142}}</string>
        <key>sourceSize</key>
        <string>{111,142}</string>
      </dict>
      <key>monster_0092_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,394},{115,134}}</string>
        <key>offset</key>
        <string>{-20,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,134}}</string>
        <key>sourceSize</key>
        <string>{115,134}</string>
      </dict>
      <key>monster_0092_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,267},{124,129}}</string>
        <key>offset</key>
        <string>{-26,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,129}}</string>
        <key>sourceSize</key>
        <string>{124,129}</string>
      </dict>
      <key>monster_0092_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,295},{142,133}}</string>
        <key>offset</key>
        <string>{-35,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,133}}</string>
        <key>sourceSize</key>
        <string>{142,133}</string>
      </dict>
      <key>monster_0092_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,0},{159,132}}</string>
        <key>offset</key>
        <string>{-42,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,132}}</string>
        <key>sourceSize</key>
        <string>{159,132}</string>
      </dict>
      <key>monster_0092_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,321},{148,133}}</string>
        <key>offset</key>
        <string>{-33,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,133}}</string>
        <key>sourceSize</key>
        <string>{148,133}</string>
      </dict>
      <key>monster_0092_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,393},{128,129}}</string>
        <key>offset</key>
        <string>{-20,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,129}}</string>
        <key>sourceSize</key>
        <string>{128,129}</string>
      </dict>
      <key>monster_0092_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,511},{108,133}}</string>
        <key>offset</key>
        <string>{-13,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,133}}</string>
        <key>sourceSize</key>
        <string>{108,133}</string>
      </dict>
      <key>monster_0092_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,600},{131,141}}</string>
        <key>offset</key>
        <string>{-21,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,141}}</string>
        <key>sourceSize</key>
        <string>{131,141}</string>
      </dict>
      <key>monster_0092_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,143},{105,140}}</string>
        <key>offset</key>
        <string>{-12,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,140}}</string>
        <key>sourceSize</key>
        <string>{105,140}</string>
      </dict>
      <key>monster_0092_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,145},{99,142}}</string>
        <key>offset</key>
        <string>{-3,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,142}}</string>
        <key>sourceSize</key>
        <string>{99,142}</string>
      </dict>
      <key>monster_0092_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,569},{110,137}}</string>
        <key>offset</key>
        <string>{-13,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,137}}</string>
        <key>sourceSize</key>
        <string>{110,137}</string>
      </dict>
      <key>monster_0092_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,753},{132,130}}</string>
        <key>offset</key>
        <string>{-21,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,130}}</string>
        <key>sourceSize</key>
        <string>{132,130}</string>
      </dict>
      <key>monster_0092_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1302,0},{120,129}}</string>
        <key>offset</key>
        <string>{-13,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,129}}</string>
        <key>sourceSize</key>
        <string>{120,129}</string>
      </dict>
      <key>monster_0092_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,564},{95,136}}</string>
        <key>offset</key>
        <string>{1,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,136}}</string>
        <key>sourceSize</key>
        <string>{95,136}</string>
      </dict>
      <key>monster_0092_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,743},{104,141}}</string>
        <key>offset</key>
        <string>{-8,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,141}}</string>
        <key>sourceSize</key>
        <string>{104,141}</string>
      </dict>
      <key>monster_0092_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{160,135}}</string>
        <key>offset</key>
        <string>{-42,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,135}}</string>
        <key>sourceSize</key>
        <string>{160,135}</string>
      </dict>
      <key>monster_0092_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1168,0},{132,132}}</string>
        <key>offset</key>
        <string>{-30,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,132}}</string>
        <key>sourceSize</key>
        <string>{132,132}</string>
      </dict>
      <key>monster_0092_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,575},{116,139}}</string>
        <key>offset</key>
        <string>{-18,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,139}}</string>
        <key>sourceSize</key>
        <string>{116,139}</string>
      </dict>
      <key>monster_0092_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,161},{107,147}}</string>
        <key>offset</key>
        <string>{-12,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,147}}</string>
        <key>sourceSize</key>
        <string>{107,147}</string>
      </dict>
      <key>monster_0092_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,471},{112,145}}</string>
        <key>offset</key>
        <string>{-18,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,145}}</string>
        <key>sourceSize</key>
        <string>{112,145}</string>
      </dict>
      <key>monster_0092_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,743},{115,141}}</string>
        <key>offset</key>
        <string>{-21,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,141}}</string>
        <key>sourceSize</key>
        <string>{115,141}</string>
      </dict>
      <key>monster_0092_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,0},{111,140}}</string>
        <key>offset</key>
        <string>{-13,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,140}}</string>
        <key>sourceSize</key>
        <string>{111,140}</string>
      </dict>
      <key>monster_0092_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,564},{130,135}}</string>
        <key>offset</key>
        <string>{-26,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,135}}</string>
        <key>sourceSize</key>
        <string>{130,135}</string>
      </dict>
      <key>monster_0092_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,641},{146,134}}</string>
        <key>offset</key>
        <string>{-34,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,134}}</string>
        <key>sourceSize</key>
        <string>{146,134}</string>
      </dict>
      <key>monster_0092_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{143,126}}</string>
        <key>offset</key>
        <string>{-33,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,126}}</string>
        <key>sourceSize</key>
        <string>{143,126}</string>
      </dict>
      <key>monster_0092_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,618},{143,119}}</string>
        <key>offset</key>
        <string>{-32,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,119}}</string>
        <key>sourceSize</key>
        <string>{143,119}</string>
      </dict>
      <key>monster_0092_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,439},{141,133}}</string>
        <key>offset</key>
        <string>{-30,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,133}}</string>
        <key>sourceSize</key>
        <string>{141,133}</string>
      </dict>
      <key>monster_0092_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,139},{135,136}}</string>
        <key>offset</key>
        <string>{-27,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,136}}</string>
        <key>sourceSize</key>
        <string>{135,136}</string>
      </dict>
      <key>monster_0092_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,425},{137,130}}</string>
        <key>offset</key>
        <string>{-29,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,130}}</string>
        <key>sourceSize</key>
        <string>{137,130}</string>
      </dict>
      <key>monster_0092_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,763},{143,127}}</string>
        <key>offset</key>
        <string>{-30,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,127}}</string>
        <key>sourceSize</key>
        <string>{143,127}</string>
      </dict>
      <key>monster_0092_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,490},{149,130}}</string>
        <key>offset</key>
        <string>{-33,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,130}}</string>
        <key>sourceSize</key>
        <string>{149,130}</string>
      </dict>
      <key>monster_0092_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,289},{131,141}}</string>
        <key>offset</key>
        <string>{-30,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,141}}</string>
        <key>sourceSize</key>
        <string>{131,141}</string>
      </dict>
      <key>monster_0092_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1164,753},{124,132}}</string>
        <key>offset</key>
        <string>{-21,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,132}}</string>
        <key>sourceSize</key>
        <string>{124,132}</string>
      </dict>
      <key>monster_0092_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,142},{138,130}}</string>
        <key>offset</key>
        <string>{-28,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,130}}</string>
        <key>sourceSize</key>
        <string>{138,130}</string>
      </dict>
      <key>monster_0092_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{157,130}}</string>
        <key>offset</key>
        <string>{-44,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,130}}</string>
        <key>sourceSize</key>
        <string>{157,130}</string>
      </dict>
      <key>monster_0092_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,133}}</string>
        <key>offset</key>
        <string>{-49,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,133}}</string>
        <key>sourceSize</key>
        <string>{162,133}</string>
      </dict>
      <key>monster_0092_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,161},{158,128}}</string>
        <key>offset</key>
        <string>{-47,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,128}}</string>
        <key>sourceSize</key>
        <string>{158,128}</string>
      </dict>
      <key>monster_0092_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,649},{152,132}}</string>
        <key>offset</key>
        <string>{-41,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,132}}</string>
        <key>sourceSize</key>
        <string>{152,132}</string>
      </dict>
      <key>monster_0092_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,143},{134,141}}</string>
        <key>offset</key>
        <string>{-26,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,141}}</string>
        <key>sourceSize</key>
        <string>{134,141}</string>
      </dict>
      <key>monster_0092_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,725},{140,129}}</string>
        <key>offset</key>
        <string>{-44,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,129}}</string>
        <key>sourceSize</key>
        <string>{140,129}</string>
      </dict>
      <key>monster_0092_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,753},{112,131}}</string>
        <key>offset</key>
        <string>{-21,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,131}}</string>
        <key>sourceSize</key>
        <string>{112,131}</string>
      </dict>
      <key>monster_0092_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,282},{95,137}}</string>
        <key>offset</key>
        <string>{-3,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,137}}</string>
        <key>sourceSize</key>
        <string>{95,137}</string>
      </dict>
      <key>monster_0092_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,428},{126,139}}</string>
        <key>offset</key>
        <string>{-30,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,139}}</string>
        <key>sourceSize</key>
        <string>{126,139}</string>
      </dict>
      <key>monster_0092_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,0},{141,138}}</string>
        <key>offset</key>
        <string>{-45,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,138}}</string>
        <key>sourceSize</key>
        <string>{141,138}</string>
      </dict>
      <key>monster_0092_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,421},{135,135}}</string>
        <key>offset</key>
        <string>{-41,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,135}}</string>
        <key>sourceSize</key>
        <string>{135,135}</string>
      </dict>
      <key>monster_0092_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,139},{118,137}}</string>
        <key>offset</key>
        <string>{-26,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,137}}</string>
        <key>sourceSize</key>
        <string>{118,137}</string>
      </dict>
      <key>monster_0092_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,276},{116,136}}</string>
        <key>offset</key>
        <string>{-23,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,136}}</string>
        <key>sourceSize</key>
        <string>{116,136}</string>
      </dict>
      <key>monster_0092_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{162,133}}</string>
        <key>offset</key>
        <string>{-50,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,133}}</string>
        <key>sourceSize</key>
        <string>{162,133}</string>
      </dict>
      <key>monster_0092_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,582},{141,134}}</string>
        <key>offset</key>
        <string>{-36,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,134}}</string>
        <key>sourceSize</key>
        <string>{141,134}</string>
      </dict>
      <key>monster_0092_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1253,621},{130,132}}</string>
        <key>offset</key>
        <string>{-26,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,132}}</string>
        <key>sourceSize</key>
        <string>{130,132}</string>
      </dict>
      <key>monster_0092_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,432},{118,141}}</string>
        <key>offset</key>
        <string>{-16,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,141}}</string>
        <key>sourceSize</key>
        <string>{118,141}</string>
      </dict>
      <key>monster_0092_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,149},{129,144}}</string>
        <key>offset</key>
        <string>{-31,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,144}}</string>
        <key>sourceSize</key>
        <string>{129,144}</string>
      </dict>
      <key>monster_0092_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,0},{118,137}}</string>
        <key>offset</key>
        <string>{-21,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,137}}</string>
        <key>sourceSize</key>
        <string>{118,137}</string>
      </dict>
      <key>monster_0092_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,134},{126,131}}</string>
        <key>offset</key>
        <string>{-24,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,131}}</string>
        <key>sourceSize</key>
        <string>{126,131}</string>
      </dict>
      <key>monster_0092_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,0},{147,134}}</string>
        <key>offset</key>
        <string>{-41,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,134}}</string>
        <key>sourceSize</key>
        <string>{147,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0092_0_1.png</string>
      <key>size</key>
      <string>{1471,899}</string>
      <key>textureFileName</key>
      <string>monster_0092_0_1.png</string>
    </dict>
  </dict>
</plist>