<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0340_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,114},{57,109}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,109}}</string>
        <key>sourceSize</key>
        <string>{57,109}</string>
      </dict>
      <key>monster_0340_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,225},{57,108}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,108}}</string>
        <key>sourceSize</key>
        <string>{57,108}</string>
      </dict>
      <key>monster_0340_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,335},{57,108}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,108}}</string>
        <key>sourceSize</key>
        <string>{57,108}</string>
      </dict>
      <key>monster_0340_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,394},{56,108}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,108}}</string>
        <key>sourceSize</key>
        <string>{56,108}</string>
      </dict>
      <key>monster_0340_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,452},{56,108}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,108}}</string>
        <key>sourceSize</key>
        <string>{56,108}</string>
      </dict>
      <key>monster_0340_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,470},{56,108}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,108}}</string>
        <key>sourceSize</key>
        <string>{56,108}</string>
      </dict>
      <key>monster_0340_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,509},{117,93}}</string>
        <key>offset</key>
        <string>{-29,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,93}}</string>
        <key>sourceSize</key>
        <string>{117,93}</string>
      </dict>
      <key>monster_0340_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,243},{117,94}}</string>
        <key>offset</key>
        <string>{-29,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,94}}</string>
        <key>sourceSize</key>
        <string>{117,94}</string>
      </dict>
      <key>monster_0340_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,121},{117,93}}</string>
        <key>offset</key>
        <string>{-29,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,93}}</string>
        <key>sourceSize</key>
        <string>{117,93}</string>
      </dict>
      <key>monster_0340_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{115,92}}</string>
        <key>offset</key>
        <string>{-27,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,92}}</string>
        <key>sourceSize</key>
        <string>{115,92}</string>
      </dict>
      <key>monster_0340_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,240},{114,92}}</string>
        <key>offset</key>
        <string>{-26,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,92}}</string>
        <key>sourceSize</key>
        <string>{114,92}</string>
      </dict>
      <key>monster_0340_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,362},{115,92}}</string>
        <key>offset</key>
        <string>{-27,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,92}}</string>
        <key>sourceSize</key>
        <string>{115,92}</string>
      </dict>
      <key>monster_0340_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{150,63}}</string>
        <key>offset</key>
        <string>{-50,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,63}}</string>
        <key>sourceSize</key>
        <string>{150,63}</string>
      </dict>
      <key>monster_0340_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{150,63}}</string>
        <key>offset</key>
        <string>{-50,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,63}}</string>
        <key>sourceSize</key>
        <string>{150,63}</string>
      </dict>
      <key>monster_0340_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,304},{149,62}}</string>
        <key>offset</key>
        <string>{-49,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,62}}</string>
        <key>sourceSize</key>
        <string>{149,62}</string>
      </dict>
      <key>monster_0340_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,455},{148,62}}</string>
        <key>offset</key>
        <string>{-48,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,62}}</string>
        <key>sourceSize</key>
        <string>{148,62}</string>
      </dict>
      <key>monster_0340_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,455},{148,62}}</string>
        <key>offset</key>
        <string>{-48,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,62}}</string>
        <key>sourceSize</key>
        <string>{148,62}</string>
      </dict>
      <key>monster_0340_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,304},{148,62}}</string>
        <key>offset</key>
        <string>{-48,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,62}}</string>
        <key>sourceSize</key>
        <string>{148,62}</string>
      </dict>
      <key>monster_0340_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,267},{119,74}}</string>
        <key>offset</key>
        <string>{-30,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,74}}</string>
        <key>sourceSize</key>
        <string>{119,74}</string>
      </dict>
      <key>monster_0340_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,145},{120,74}}</string>
        <key>offset</key>
        <string>{-30,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,74}}</string>
        <key>sourceSize</key>
        <string>{120,74}</string>
      </dict>
      <key>monster_0340_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{120,74}}</string>
        <key>offset</key>
        <string>{-30,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,74}}</string>
        <key>sourceSize</key>
        <string>{120,74}</string>
      </dict>
      <key>monster_0340_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,122},{119,74}}</string>
        <key>offset</key>
        <string>{-29,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,74}}</string>
        <key>sourceSize</key>
        <string>{119,74}</string>
      </dict>
      <key>monster_0340_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{119,74}}</string>
        <key>offset</key>
        <string>{-29,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,74}}</string>
        <key>sourceSize</key>
        <string>{119,74}</string>
      </dict>
      <key>monster_0340_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,388},{119,74}}</string>
        <key>offset</key>
        <string>{-30,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,74}}</string>
        <key>sourceSize</key>
        <string>{119,74}</string>
      </dict>
      <key>monster_0340_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,619},{56,89}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,89}}</string>
        <key>sourceSize</key>
        <string>{56,89}</string>
      </dict>
      <key>monster_0340_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,619},{56,89}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,89}}</string>
        <key>sourceSize</key>
        <string>{56,89}</string>
      </dict>
      <key>monster_0340_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,619},{56,89}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,89}}</string>
        <key>sourceSize</key>
        <string>{56,89}</string>
      </dict>
      <key>monster_0340_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,510},{56,89}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,89}}</string>
        <key>sourceSize</key>
        <string>{56,89}</string>
      </dict>
      <key>monster_0340_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,0},{56,89}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,89}}</string>
        <key>sourceSize</key>
        <string>{56,89}</string>
      </dict>
      <key>monster_0340_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,91},{56,89}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,89}}</string>
        <key>sourceSize</key>
        <string>{56,89}</string>
      </dict>
      <key>monster_0340_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,510},{107,83}}</string>
        <key>offset</key>
        <string>{-21,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,83}}</string>
        <key>sourceSize</key>
        <string>{107,83}</string>
      </dict>
      <key>monster_0340_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,593},{107,82}}</string>
        <key>offset</key>
        <string>{-21,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,82}}</string>
        <key>sourceSize</key>
        <string>{107,82}</string>
      </dict>
      <key>monster_0340_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,590},{107,82}}</string>
        <key>offset</key>
        <string>{-21,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,82}}</string>
        <key>sourceSize</key>
        <string>{107,82}</string>
      </dict>
      <key>monster_0340_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,228},{106,83}}</string>
        <key>offset</key>
        <string>{-21,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,83}}</string>
        <key>sourceSize</key>
        <string>{106,83}</string>
      </dict>
      <key>monster_0340_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,628},{104,82}}</string>
        <key>offset</key>
        <string>{-21,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,82}}</string>
        <key>sourceSize</key>
        <string>{104,82}</string>
      </dict>
      <key>monster_0340_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,605},{104,82}}</string>
        <key>offset</key>
        <string>{-21,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,82}}</string>
        <key>sourceSize</key>
        <string>{104,82}</string>
      </dict>
      <key>monster_0340_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,0},{146,64}}</string>
        <key>offset</key>
        <string>{-39,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,64}}</string>
        <key>sourceSize</key>
        <string>{146,64}</string>
      </dict>
      <key>monster_0340_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,148},{146,64}}</string>
        <key>offset</key>
        <string>{-39,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,64}}</string>
        <key>sourceSize</key>
        <string>{146,64}</string>
      </dict>
      <key>monster_0340_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,296},{146,63}}</string>
        <key>offset</key>
        <string>{-39,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,63}}</string>
        <key>sourceSize</key>
        <string>{146,63}</string>
      </dict>
      <key>monster_0340_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,444},{144,63}}</string>
        <key>offset</key>
        <string>{-38,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,63}}</string>
        <key>sourceSize</key>
        <string>{144,63}</string>
      </dict>
      <key>monster_0340_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,444},{143,63}}</string>
        <key>offset</key>
        <string>{-38,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,63}}</string>
        <key>sourceSize</key>
        <string>{143,63}</string>
      </dict>
      <key>monster_0340_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{143,63}}</string>
        <key>offset</key>
        <string>{-38,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,63}}</string>
        <key>sourceSize</key>
        <string>{143,63}</string>
      </dict>
      <key>monster_0340_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{112,93}}</string>
        <key>offset</key>
        <string>{-26,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,93}}</string>
        <key>sourceSize</key>
        <string>{112,93}</string>
      </dict>
      <key>monster_0340_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,117},{113,93}}</string>
        <key>offset</key>
        <string>{-26,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,93}}</string>
        <key>sourceSize</key>
        <string>{113,93}</string>
      </dict>
      <key>monster_0340_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,0},{112,92}}</string>
        <key>offset</key>
        <string>{-26,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,92}}</string>
        <key>sourceSize</key>
        <string>{112,92}</string>
      </dict>
      <key>monster_0340_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,114},{112,90}}</string>
        <key>offset</key>
        <string>{-26,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,90}}</string>
        <key>sourceSize</key>
        <string>{112,90}</string>
      </dict>
      <key>monster_0340_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,479},{112,91}}</string>
        <key>offset</key>
        <string>{-26,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,91}}</string>
        <key>sourceSize</key>
        <string>{112,91}</string>
      </dict>
      <key>monster_0340_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,356},{112,91}}</string>
        <key>offset</key>
        <string>{-26,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,91}}</string>
        <key>sourceSize</key>
        <string>{112,91}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0340_0_0.png</string>
      <key>size</key>
      <string>{698,724}</string>
      <key>textureFileName</key>
      <string>monster_0340_0_0.png</string>
    </dict>
  </dict>
</plist>