<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0048_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,60},{45,53}}</string>
        <key>offset</key>
        <string>{1,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,53}}</string>
        <key>sourceSize</key>
        <string>{45,53}</string>
      </dict>
      <key>monster_0048_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,119},{45,46}}</string>
        <key>offset</key>
        <string>{1,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,46}}</string>
        <key>sourceSize</key>
        <string>{45,46}</string>
      </dict>
      <key>monster_0048_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{46,58}}</string>
        <key>offset</key>
        <string>{1,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,58}}</string>
        <key>sourceSize</key>
        <string>{46,58}</string>
      </dict>
      <key>monster_0048_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,166},{45,46}}</string>
        <key>offset</key>
        <string>{1,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,46}}</string>
        <key>sourceSize</key>
        <string>{45,46}</string>
      </dict>
      <key>monster_0048_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,196},{53,47}}</string>
        <key>offset</key>
        <string>{-5,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,47}}</string>
        <key>sourceSize</key>
        <string>{53,47}</string>
      </dict>
      <key>monster_0048_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,325},{53,55}}</string>
        <key>offset</key>
        <string>{-5,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,55}}</string>
        <key>sourceSize</key>
        <string>{53,55}</string>
      </dict>
      <key>monster_0048_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,140},{65,54}}</string>
        <key>offset</key>
        <string>{-8,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,54}}</string>
        <key>sourceSize</key>
        <string>{65,54}</string>
      </dict>
      <key>monster_0048_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,60},{57,46}}</string>
        <key>offset</key>
        <string>{-9,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,46}}</string>
        <key>sourceSize</key>
        <string>{57,46}</string>
      </dict>
      <key>monster_0048_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{68,55}}</string>
        <key>offset</key>
        <string>{-11,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,55}}</string>
        <key>sourceSize</key>
        <string>{68,55}</string>
      </dict>
      <key>monster_0048_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,203},{62,49}}</string>
        <key>offset</key>
        <string>{-8,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,49}}</string>
        <key>sourceSize</key>
        <string>{62,49}</string>
      </dict>
      <key>monster_0048_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,339},{61,41}}</string>
        <key>offset</key>
        <string>{-9,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,41}}</string>
        <key>sourceSize</key>
        <string>{61,41}</string>
      </dict>
      <key>monster_0048_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,67},{63,45}}</string>
        <key>offset</key>
        <string>{-10,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,45}}</string>
        <key>sourceSize</key>
        <string>{63,45}</string>
      </dict>
      <key>monster_0048_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,320},{71,53}}</string>
        <key>offset</key>
        <string>{-13,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,53}}</string>
        <key>sourceSize</key>
        <string>{71,53}</string>
      </dict>
      <key>monster_0048_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,284},{66,51}}</string>
        <key>offset</key>
        <string>{-16,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,51}}</string>
        <key>sourceSize</key>
        <string>{66,51}</string>
      </dict>
      <key>monster_0048_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{80,46}}</string>
        <key>offset</key>
        <string>{-23,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,46}}</string>
        <key>sourceSize</key>
        <string>{80,46}</string>
      </dict>
      <key>monster_0048_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{63,53}}</string>
        <key>offset</key>
        <string>{-6,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,53}}</string>
        <key>sourceSize</key>
        <string>{63,53}</string>
      </dict>
      <key>monster_0048_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,251},{75,36}}</string>
        <key>offset</key>
        <string>{-18,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,36}}</string>
        <key>sourceSize</key>
        <string>{75,36}</string>
      </dict>
      <key>monster_0048_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{81,36}}</string>
        <key>offset</key>
        <string>{-22,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,36}}</string>
        <key>sourceSize</key>
        <string>{81,36}</string>
      </dict>
      <key>monster_0048_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,70},{65,65}}</string>
        <key>offset</key>
        <string>{-7,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,65}}</string>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>monster_0048_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,65},{57,61}}</string>
        <key>offset</key>
        <string>{-8,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,61}}</string>
        <key>sourceSize</key>
        <string>{57,61}</string>
      </dict>
      <key>monster_0048_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,154},{70,61}}</string>
        <key>offset</key>
        <string>{-11,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,61}}</string>
        <key>sourceSize</key>
        <string>{70,61}</string>
      </dict>
      <key>monster_0048_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,132},{62,61}}</string>
        <key>offset</key>
        <string>{-7,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,61}}</string>
        <key>sourceSize</key>
        <string>{62,61}</string>
      </dict>
      <key>monster_0048_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{61,45}}</string>
        <key>offset</key>
        <string>{-7,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,45}}</string>
        <key>sourceSize</key>
        <string>{61,45}</string>
      </dict>
      <key>monster_0048_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{69,36}}</string>
        <key>offset</key>
        <string>{-11,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,36}}</string>
        <key>sourceSize</key>
        <string>{69,36}</string>
      </dict>
      <key>monster_0048_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,296},{46,67}}</string>
        <key>offset</key>
        <string>{2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,67}}</string>
        <key>sourceSize</key>
        <string>{46,67}</string>
      </dict>
      <key>monster_0048_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,137},{45,64}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,64}}</string>
        <key>sourceSize</key>
        <string>{45,64}</string>
      </dict>
      <key>monster_0048_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,215},{48,67}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,67}}</string>
        <key>sourceSize</key>
        <string>{48,67}</string>
      </dict>
      <key>monster_0048_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,226},{45,68}}</string>
        <key>offset</key>
        <string>{2,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,68}}</string>
        <key>sourceSize</key>
        <string>{45,68}</string>
      </dict>
      <key>monster_0048_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,267},{53,56}}</string>
        <key>offset</key>
        <string>{-3,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,56}}</string>
        <key>sourceSize</key>
        <string>{53,56}</string>
      </dict>
      <key>monster_0048_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,115},{53,41}}</string>
        <key>offset</key>
        <string>{-3,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,41}}</string>
        <key>sourceSize</key>
        <string>{53,41}</string>
      </dict>
      <key>monster_0048_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,145},{68,66}}</string>
        <key>offset</key>
        <string>{-2,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,66}}</string>
        <key>sourceSize</key>
        <string>{68,66}</string>
      </dict>
      <key>monster_0048_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,0},{65,63}}</string>
        <key>offset</key>
        <string>{2,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,63}}</string>
        <key>sourceSize</key>
        <string>{65,63}</string>
      </dict>
      <key>monster_0048_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,81},{71,63}}</string>
        <key>offset</key>
        <string>{-1,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,63}}</string>
        <key>sourceSize</key>
        <string>{71,63}</string>
      </dict>
      <key>monster_0048_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,283},{64,65}}</string>
        <key>offset</key>
        <string>{-2,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,65}}</string>
        <key>sourceSize</key>
        <string>{64,65}</string>
      </dict>
      <key>monster_0048_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,274},{63,48}}</string>
        <key>offset</key>
        <string>{-3,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,48}}</string>
        <key>sourceSize</key>
        <string>{63,48}</string>
      </dict>
      <key>monster_0048_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,0},{58,41}}</string>
        <key>offset</key>
        <string>{-3,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,41}}</string>
        <key>sourceSize</key>
        <string>{58,41}</string>
      </dict>
      <key>monster_0048_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,0},{79,54}}</string>
        <key>offset</key>
        <string>{-4,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,54}}</string>
        <key>sourceSize</key>
        <string>{79,54}</string>
      </dict>
      <key>monster_0048_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,168},{74,51}}</string>
        <key>offset</key>
        <string>{4,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,51}}</string>
        <key>sourceSize</key>
        <string>{74,51}</string>
      </dict>
      <key>monster_0048_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{84,47}}</string>
        <key>offset</key>
        <string>{-2,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,47}}</string>
        <key>sourceSize</key>
        <string>{84,47}</string>
      </dict>
      <key>monster_0048_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{75,54}}</string>
        <key>offset</key>
        <string>{-6,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,54}}</string>
        <key>sourceSize</key>
        <string>{75,54}</string>
      </dict>
      <key>monster_0048_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,86},{80,36}}</string>
        <key>offset</key>
        <string>{-8,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,36}}</string>
        <key>sourceSize</key>
        <string>{80,36}</string>
      </dict>
      <key>monster_0048_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,251},{75,36}}</string>
        <key>offset</key>
        <string>{-8,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,36}}</string>
        <key>sourceSize</key>
        <string>{75,36}</string>
      </dict>
      <key>monster_0048_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,73},{70,54}}</string>
        <key>offset</key>
        <string>{-3,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,54}}</string>
        <key>sourceSize</key>
        <string>{70,54}</string>
      </dict>
      <key>monster_0048_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{71,47}}</string>
        <key>offset</key>
        <string>{-3,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,47}}</string>
        <key>sourceSize</key>
        <string>{71,47}</string>
      </dict>
      <key>monster_0048_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,244},{74,55}}</string>
        <key>offset</key>
        <string>{-3,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,55}}</string>
        <key>sourceSize</key>
        <string>{74,55}</string>
      </dict>
      <key>monster_0048_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,207},{65,50}}</string>
        <key>offset</key>
        <string>{-3,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,50}}</string>
        <key>sourceSize</key>
        <string>{65,50}</string>
      </dict>
      <key>monster_0048_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,215},{66,41}}</string>
        <key>offset</key>
        <string>{-5,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,41}}</string>
        <key>sourceSize</key>
        <string>{66,41}</string>
      </dict>
      <key>monster_0048_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,70},{68,44}}</string>
        <key>offset</key>
        <string>{-12,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,44}}</string>
        <key>sourceSize</key>
        <string>{68,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0048_0_4.png</string>
      <key>size</key>
      <string>{512,384}</string>
      <key>textureFileName</key>
      <string>monster_0048_0_4.png</string>
    </dict>
  </dict>
</plist>