<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0460_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,447},{112,110}}</string>
        <key>offset</key>
        <string>{-15,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,110}}</string>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>monster_0460_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,331},{114,114}}</string>
        <key>offset</key>
        <string>{-13,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>monster_0460_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,450},{141,113}}</string>
        <key>offset</key>
        <string>{-13,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,113}}</string>
        <key>sourceSize</key>
        <string>{141,113}</string>
      </dict>
      <key>monster_0460_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,299},{141,114}}</string>
        <key>offset</key>
        <string>{-5,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,114}}</string>
        <key>sourceSize</key>
        <string>{141,114}</string>
      </dict>
      <key>monster_0460_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{135,118}}</string>
        <key>offset</key>
        <string>{-12,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,118}}</string>
        <key>sourceSize</key>
        <string>{135,118}</string>
      </dict>
      <key>monster_0460_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,145},{137,120}}</string>
        <key>offset</key>
        <string>{-2,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,120}}</string>
        <key>sourceSize</key>
        <string>{137,120}</string>
      </dict>
      <key>monster_0460_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{154,118}}</string>
        <key>offset</key>
        <string>{-2,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,118}}</string>
        <key>sourceSize</key>
        <string>{154,118}</string>
      </dict>
      <key>monster_0460_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,303},{145,127}}</string>
        <key>offset</key>
        <string>{-42,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,127}}</string>
        <key>sourceSize</key>
        <string>{145,127}</string>
      </dict>
      <key>monster_0460_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{136,150}}</string>
        <key>offset</key>
        <string>{-25,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>monster_0460_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{124,143}}</string>
        <key>offset</key>
        <string>{-19,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,143}}</string>
        <key>sourceSize</key>
        <string>{124,143}</string>
      </dict>
      <key>monster_0460_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,152},{145,143}}</string>
        <key>offset</key>
        <string>{-38,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,143}}</string>
        <key>sourceSize</key>
        <string>{145,143}</string>
      </dict>
      <key>monster_0460_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,350},{141,156}}</string>
        <key>offset</key>
        <string>{-24,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,156}}</string>
        <key>sourceSize</key>
        <string>{141,156}</string>
      </dict>
      <key>monster_0460_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,173},{116,151}}</string>
        <key>offset</key>
        <string>{-18,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,151}}</string>
        <key>sourceSize</key>
        <string>{116,151}</string>
      </dict>
      <key>monster_0460_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,101},{136,129}}</string>
        <key>offset</key>
        <string>{-38,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,129}}</string>
        <key>sourceSize</key>
        <string>{136,129}</string>
      </dict>
      <key>monster_0460_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,176},{172,127}}</string>
        <key>offset</key>
        <string>{-73,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,127}}</string>
        <key>sourceSize</key>
        <string>{172,127}</string>
      </dict>
      <key>monster_0460_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{158,126}}</string>
        <key>offset</key>
        <string>{-69,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,126}}</string>
        <key>sourceSize</key>
        <string>{158,126}</string>
      </dict>
      <key>monster_0460_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,508},{152,119}}</string>
        <key>offset</key>
        <string>{-59,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,119}}</string>
        <key>sourceSize</key>
        <string>{152,119}</string>
      </dict>
      <key>monster_0460_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{174,119}}</string>
        <key>offset</key>
        <string>{-79,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,119}}</string>
        <key>sourceSize</key>
        <string>{174,119}</string>
      </dict>
      <key>monster_0460_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{171,116}}</string>
        <key>offset</key>
        <string>{-86,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,116}}</string>
        <key>sourceSize</key>
        <string>{171,116}</string>
      </dict>
      <key>monster_0460_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,152},{149,108}}</string>
        <key>offset</key>
        <string>{-36,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,108}}</string>
        <key>sourceSize</key>
        <string>{149,108}</string>
      </dict>
      <key>monster_0460_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,331},{125,108}}</string>
        <key>offset</key>
        <string>{-28,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,108}}</string>
        <key>sourceSize</key>
        <string>{125,108}</string>
      </dict>
      <key>monster_0460_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,442},{132,111}}</string>
        <key>offset</key>
        <string>{-39,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,111}}</string>
        <key>sourceSize</key>
        <string>{132,111}</string>
      </dict>
      <key>monster_0460_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{137,99}}</string>
        <key>offset</key>
        <string>{-28,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,99}}</string>
        <key>sourceSize</key>
        <string>{137,99}</string>
      </dict>
      <key>monster_0460_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,232},{133,97}}</string>
        <key>offset</key>
        <string>{-34,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,97}}</string>
        <key>sourceSize</key>
        <string>{133,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0460_0_7.png</string>
      <key>size</key>
      <string>{768,640}</string>
      <key>textureFileName</key>
      <string>monster_0460_0_7.png</string>
    </dict>
  </dict>
</plist>