<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0418_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,98},{69,90}}</string>
        <key>offset</key>
        <string>{-1,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,90}}</string>
        <key>sourceSize</key>
        <string>{69,90}</string>
      </dict>
      <key>monster_0418_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,313},{70,92}}</string>
        <key>offset</key>
        <string>{-1,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,92}}</string>
        <key>sourceSize</key>
        <string>{70,92}</string>
      </dict>
      <key>monster_0418_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,89},{71,86}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,86}}</string>
        <key>sourceSize</key>
        <string>{71,86}</string>
      </dict>
      <key>monster_0418_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{71,86}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,86}}</string>
        <key>sourceSize</key>
        <string>{71,86}</string>
      </dict>
      <key>monster_0418_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,296},{71,88}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,88}}</string>
        <key>sourceSize</key>
        <string>{71,88}</string>
      </dict>
      <key>monster_0418_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,203},{71,91}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,91}}</string>
        <key>sourceSize</key>
        <string>{71,91}</string>
      </dict>
      <key>monster_0418_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,459},{71,86}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,86}}</string>
        <key>sourceSize</key>
        <string>{71,86}</string>
      </dict>
      <key>monster_0418_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,92},{70,87}}</string>
        <key>offset</key>
        <string>{-1,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,87}}</string>
        <key>sourceSize</key>
        <string>{70,87}</string>
      </dict>
      <key>monster_0418_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,190},{81,88}}</string>
        <key>offset</key>
        <string>{5,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,88}}</string>
        <key>sourceSize</key>
        <string>{81,88}</string>
      </dict>
      <key>monster_0418_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,280},{81,88}}</string>
        <key>offset</key>
        <string>{5,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,88}}</string>
        <key>sourceSize</key>
        <string>{81,88}</string>
      </dict>
      <key>monster_0418_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,443},{80,85}}</string>
        <key>offset</key>
        <string>{6,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,85}}</string>
        <key>sourceSize</key>
        <string>{80,85}</string>
      </dict>
      <key>monster_0418_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,353},{78,85}}</string>
        <key>offset</key>
        <string>{7,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,85}}</string>
        <key>sourceSize</key>
        <string>{78,85}</string>
      </dict>
      <key>monster_0418_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,633},{80,84}}</string>
        <key>offset</key>
        <string>{5,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>monster_0418_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,617},{84,84}}</string>
        <key>offset</key>
        <string>{1,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>monster_0418_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,530},{78,85}}</string>
        <key>offset</key>
        <string>{7,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,85}}</string>
        <key>sourceSize</key>
        <string>{78,85}</string>
      </dict>
      <key>monster_0418_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,369},{81,86}}</string>
        <key>offset</key>
        <string>{5,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,86}}</string>
        <key>sourceSize</key>
        <string>{81,86}</string>
      </dict>
      <key>monster_0418_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{102,83}}</string>
        <key>offset</key>
        <string>{1,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,83}}</string>
        <key>sourceSize</key>
        <string>{102,83}</string>
      </dict>
      <key>monster_0418_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,83}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,83}}</string>
        <key>sourceSize</key>
        <string>{106,83}</string>
      </dict>
      <key>monster_0418_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,214},{97,84}}</string>
        <key>offset</key>
        <string>{5,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,84}}</string>
        <key>sourceSize</key>
        <string>{97,84}</string>
      </dict>
      <key>monster_0418_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,0},{96,85}}</string>
        <key>offset</key>
        <string>{5,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,85}}</string>
        <key>sourceSize</key>
        <string>{96,85}</string>
      </dict>
      <key>monster_0418_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,104},{97,85}}</string>
        <key>offset</key>
        <string>{4,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,85}}</string>
        <key>sourceSize</key>
        <string>{97,85}</string>
      </dict>
      <key>monster_0418_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{104,85}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,85}}</string>
        <key>sourceSize</key>
        <string>{104,85}</string>
      </dict>
      <key>monster_0418_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{98,84}}</string>
        <key>offset</key>
        <string>{4,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>monster_0418_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{98,85}}</string>
        <key>offset</key>
        <string>{4,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,85}}</string>
        <key>sourceSize</key>
        <string>{98,85}</string>
      </dict>
      <key>monster_0418_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,190},{88,83}}</string>
        <key>offset</key>
        <string>{4,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,83}}</string>
        <key>sourceSize</key>
        <string>{88,83}</string>
      </dict>
      <key>monster_0418_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,98},{90,84}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,84}}</string>
        <key>sourceSize</key>
        <string>{90,84}</string>
      </dict>
      <key>monster_0418_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,547},{86,84}}</string>
        <key>offset</key>
        <string>{4,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>monster_0418_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,0},{86,87}}</string>
        <key>offset</key>
        <string>{3,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,87}}</string>
        <key>sourceSize</key>
        <string>{86,87}</string>
      </dict>
      <key>monster_0418_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,0},{85,90}}</string>
        <key>offset</key>
        <string>{3,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,90}}</string>
        <key>sourceSize</key>
        <string>{85,90}</string>
      </dict>
      <key>monster_0418_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,457},{86,84}}</string>
        <key>offset</key>
        <string>{3,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>monster_0418_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,545},{86,84}}</string>
        <key>offset</key>
        <string>{4,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>monster_0418_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,267},{86,84}}</string>
        <key>offset</key>
        <string>{5,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>monster_0418_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,440},{72,85}}</string>
        <key>offset</key>
        <string>{9,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,85}}</string>
        <key>sourceSize</key>
        <string>{72,85}</string>
      </dict>
      <key>monster_0418_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,177},{73,86}}</string>
        <key>offset</key>
        <string>{8,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,86}}</string>
        <key>sourceSize</key>
        <string>{73,86}</string>
      </dict>
      <key>monster_0418_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,88},{73,86}}</string>
        <key>offset</key>
        <string>{8,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,86}}</string>
        <key>sourceSize</key>
        <string>{73,86}</string>
      </dict>
      <key>monster_0418_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,89},{72,87}}</string>
        <key>offset</key>
        <string>{7,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,87}}</string>
        <key>sourceSize</key>
        <string>{72,87}</string>
      </dict>
      <key>monster_0418_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{71,87}}</string>
        <key>offset</key>
        <string>{7,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,87}}</string>
        <key>sourceSize</key>
        <string>{71,87}</string>
      </dict>
      <key>monster_0418_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,0},{73,86}}</string>
        <key>offset</key>
        <string>{7,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,86}}</string>
        <key>sourceSize</key>
        <string>{73,86}</string>
      </dict>
      <key>monster_0418_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,501},{71,87}}</string>
        <key>offset</key>
        <string>{8,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,87}}</string>
        <key>sourceSize</key>
        <string>{71,87}</string>
      </dict>
      <key>monster_0418_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,501},{73,87}}</string>
        <key>offset</key>
        <string>{8,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,87}}</string>
        <key>sourceSize</key>
        <string>{73,87}</string>
      </dict>
      <key>monster_0418_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,353},{85,83}}</string>
        <key>offset</key>
        <string>{-10,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,83}}</string>
        <key>sourceSize</key>
        <string>{85,83}</string>
      </dict>
      <key>monster_0418_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,264},{85,82}}</string>
        <key>offset</key>
        <string>{-10,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,82}}</string>
        <key>sourceSize</key>
        <string>{85,82}</string>
      </dict>
      <key>monster_0418_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,370},{87,83}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,83}}</string>
        <key>sourceSize</key>
        <string>{87,83}</string>
      </dict>
      <key>monster_0418_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,355},{86,84}}</string>
        <key>offset</key>
        <string>{-9,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>monster_0418_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,280},{87,84}}</string>
        <key>offset</key>
        <string>{-9,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,84}}</string>
        <key>sourceSize</key>
        <string>{87,84}</string>
      </dict>
      <key>monster_0418_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,176},{85,83}}</string>
        <key>offset</key>
        <string>{-9,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,83}}</string>
        <key>sourceSize</key>
        <string>{85,83}</string>
      </dict>
      <key>monster_0418_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,265},{86,82}}</string>
        <key>offset</key>
        <string>{-9,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,82}}</string>
        <key>sourceSize</key>
        <string>{86,82}</string>
      </dict>
      <key>monster_0418_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,178},{87,82}}</string>
        <key>offset</key>
        <string>{-10,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,82}}</string>
        <key>sourceSize</key>
        <string>{87,82}</string>
      </dict>
      <key>monster_0418_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,414},{93,76}}</string>
        <key>offset</key>
        <string>{-27,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,76}}</string>
        <key>sourceSize</key>
        <string>{93,76}</string>
      </dict>
      <key>monster_0418_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,407},{92,77}}</string>
        <key>offset</key>
        <string>{-26,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,77}}</string>
        <key>sourceSize</key>
        <string>{92,77}</string>
      </dict>
      <key>monster_0418_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,313},{93,77}}</string>
        <key>offset</key>
        <string>{-26,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,77}}</string>
        <key>sourceSize</key>
        <string>{93,77}</string>
      </dict>
      <key>monster_0418_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,414},{94,78}}</string>
        <key>offset</key>
        <string>{-26,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,78}}</string>
        <key>sourceSize</key>
        <string>{94,78}</string>
      </dict>
      <key>monster_0418_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,509},{93,78}}</string>
        <key>offset</key>
        <string>{-25,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,78}}</string>
        <key>sourceSize</key>
        <string>{93,78}</string>
      </dict>
      <key>monster_0418_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{94,76}}</string>
        <key>offset</key>
        <string>{-26,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,76}}</string>
        <key>sourceSize</key>
        <string>{94,76}</string>
      </dict>
      <key>monster_0418_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,408},{93,76}}</string>
        <key>offset</key>
        <string>{-26,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,76}}</string>
        <key>sourceSize</key>
        <string>{93,76}</string>
      </dict>
      <key>monster_0418_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,510},{94,77}}</string>
        <key>offset</key>
        <string>{-27,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,77}}</string>
        <key>sourceSize</key>
        <string>{94,77}</string>
      </dict>
      <key>monster_0418_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,176},{86,79}}</string>
        <key>offset</key>
        <string>{-16,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,79}}</string>
        <key>sourceSize</key>
        <string>{86,79}</string>
      </dict>
      <key>monster_0418_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,527},{85,78}}</string>
        <key>offset</key>
        <string>{-15,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0418_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,590},{85,78}}</string>
        <key>offset</key>
        <string>{-14,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0418_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,635},{85,80}}</string>
        <key>offset</key>
        <string>{-13,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,80}}</string>
        <key>sourceSize</key>
        <string>{85,80}</string>
      </dict>
      <key>monster_0418_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,88},{86,80}}</string>
        <key>offset</key>
        <string>{-13,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,80}}</string>
        <key>sourceSize</key>
        <string>{86,80}</string>
      </dict>
      <key>monster_0418_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,635},{85,82}}</string>
        <key>offset</key>
        <string>{-13,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,82}}</string>
        <key>sourceSize</key>
        <string>{85,82}</string>
      </dict>
      <key>monster_0418_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,604},{85,78}}</string>
        <key>offset</key>
        <string>{-14,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0418_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,0},{86,78}}</string>
        <key>offset</key>
        <string>{-15,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,78}}</string>
        <key>sourceSize</key>
        <string>{86,78}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0418_0_1.png</string>
      <key>size</key>
      <string>{770,719}</string>
      <key>textureFileName</key>
      <string>monster_0418_0_1.png</string>
    </dict>
  </dict>
</plist>