<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0045_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,102},{76,97}}</string>
        <key>offset</key>
        <string>{-6,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,97}}</string>
        <key>sourceSize</key>
        <string>{76,97}</string>
      </dict>
      <key>monster_0045_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,113},{73,104}}</string>
        <key>offset</key>
        <string>{-2,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,104}}</string>
        <key>sourceSize</key>
        <string>{73,104}</string>
      </dict>
      <key>monster_0045_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{72,103}}</string>
        <key>offset</key>
        <string>{1,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,103}}</string>
        <key>sourceSize</key>
        <string>{72,103}</string>
      </dict>
      <key>monster_0045_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,426},{73,98}}</string>
        <key>offset</key>
        <string>{2,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,98}}</string>
        <key>sourceSize</key>
        <string>{73,98}</string>
      </dict>
      <key>monster_0045_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,324},{73,100}}</string>
        <key>offset</key>
        <string>{2,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{73,100}</string>
      </dict>
      <key>monster_0045_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,0},{74,97}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,97}}</string>
        <key>sourceSize</key>
        <string>{74,97}</string>
      </dict>
      <key>monster_0045_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,257},{68,79}}</string>
        <key>offset</key>
        <string>{-1,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,79}}</string>
        <key>sourceSize</key>
        <string>{68,79}</string>
      </dict>
      <key>monster_0045_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,687},{60,57}}</string>
        <key>offset</key>
        <string>{-4,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,57}}</string>
        <key>sourceSize</key>
        <string>{60,57}</string>
      </dict>
      <key>monster_0045_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,391},{59,55}}</string>
        <key>offset</key>
        <string>{-4,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,55}}</string>
        <key>sourceSize</key>
        <string>{59,55}</string>
      </dict>
      <key>monster_0045_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,740},{59,62}}</string>
        <key>offset</key>
        <string>{-4,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,62}}</string>
        <key>sourceSize</key>
        <string>{59,62}</string>
      </dict>
      <key>monster_0045_0_4_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,327},{59,62}}</string>
        <key>offset</key>
        <string>{-4,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,62}}</string>
        <key>sourceSize</key>
        <string>{59,62}</string>
      </dict>
      <key>monster_0045_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,675},{102,86}}</string>
        <key>offset</key>
        <string>{-26,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,86}}</string>
        <key>sourceSize</key>
        <string>{102,86}</string>
      </dict>
      <key>monster_0045_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,351},{109,98}}</string>
        <key>offset</key>
        <string>{-30,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,98}}</string>
        <key>sourceSize</key>
        <string>{109,98}</string>
      </dict>
      <key>monster_0045_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,246},{113,103}}</string>
        <key>offset</key>
        <string>{-32,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,103}}</string>
        <key>sourceSize</key>
        <string>{113,103}</string>
      </dict>
      <key>monster_0045_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,123},{113,99}}</string>
        <key>offset</key>
        <string>{-30,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,99}}</string>
        <key>sourceSize</key>
        <string>{113,99}</string>
      </dict>
      <key>monster_0045_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,361},{112,97}}</string>
        <key>offset</key>
        <string>{-26,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,97}}</string>
        <key>sourceSize</key>
        <string>{112,97}</string>
      </dict>
      <key>monster_0045_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{113,95}}</string>
        <key>offset</key>
        <string>{-19,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,95}}</string>
        <key>sourceSize</key>
        <string>{113,95}</string>
      </dict>
      <key>monster_0045_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,696},{105,61}}</string>
        <key>offset</key>
        <string>{-2,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,61}}</string>
        <key>sourceSize</key>
        <string>{105,61}</string>
      </dict>
      <key>monster_0045_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,99},{95,55}}</string>
        <key>offset</key>
        <string>{4,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,55}}</string>
        <key>sourceSize</key>
        <string>{95,55}</string>
      </dict>
      <key>monster_0045_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,625},{94,53}}</string>
        <key>offset</key>
        <string>{3,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,53}}</string>
        <key>sourceSize</key>
        <string>{94,53}</string>
      </dict>
      <key>monster_0045_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,543},{99,55}}</string>
        <key>offset</key>
        <string>{-1,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,55}}</string>
        <key>sourceSize</key>
        <string>{99,55}</string>
      </dict>
      <key>monster_0045_0_4_1_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,306},{96,53}}</string>
        <key>offset</key>
        <string>{1,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,53}}</string>
        <key>sourceSize</key>
        <string>{96,53}</string>
      </dict>
      <key>monster_0045_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{118,65}}</string>
        <key>offset</key>
        <string>{-42,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,65}}</string>
        <key>sourceSize</key>
        <string>{118,65}</string>
      </dict>
      <key>monster_0045_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130,76}}</string>
        <key>offset</key>
        <string>{-49,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,76}}</string>
        <key>sourceSize</key>
        <string>{130,76}</string>
      </dict>
      <key>monster_0045_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,260},{122,89}}</string>
        <key>offset</key>
        <string>{-51,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,89}}</string>
        <key>sourceSize</key>
        <string>{122,89}</string>
      </dict>
      <key>monster_0045_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{121,90}}</string>
        <key>offset</key>
        <string>{-48,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,90}}</string>
        <key>sourceSize</key>
        <string>{121,90}</string>
      </dict>
      <key>monster_0045_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,123},{121,91}}</string>
        <key>offset</key>
        <string>{-43,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,91}}</string>
        <key>sourceSize</key>
        <string>{121,91}</string>
      </dict>
      <key>monster_0045_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,0},{121,89}}</string>
        <key>offset</key>
        <string>{-32,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,89}}</string>
        <key>sourceSize</key>
        <string>{121,89}</string>
      </dict>
      <key>monster_0045_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,636},{116,46}}</string>
        <key>offset</key>
        <string>{-9,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,46}}</string>
        <key>sourceSize</key>
        <string>{116,46}</string>
      </dict>
      <key>monster_0045_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,570},{103,61}}</string>
        <key>offset</key>
        <string>{1,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,61}}</string>
        <key>sourceSize</key>
        <string>{103,61}</string>
      </dict>
      <key>monster_0045_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,699},{106,59}}</string>
        <key>offset</key>
        <string>{-1,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,59}}</string>
        <key>sourceSize</key>
        <string>{106,59}</string>
      </dict>
      <key>monster_0045_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,625},{113,43}}</string>
        <key>offset</key>
        <string>{-6,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,43}}</string>
        <key>sourceSize</key>
        <string>{113,43}</string>
      </dict>
      <key>monster_0045_0_4_2_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,238},{111,42}}</string>
        <key>offset</key>
        <string>{-4,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,42}}</string>
        <key>sourceSize</key>
        <string>{111,42}</string>
      </dict>
      <key>monster_0045_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,444},{103,68}}</string>
        <key>offset</key>
        <string>{-26,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,68}}</string>
        <key>sourceSize</key>
        <string>{103,68}</string>
      </dict>
      <key>monster_0045_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,513},{121,68}}</string>
        <key>offset</key>
        <string>{-30,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,68}}</string>
        <key>sourceSize</key>
        <string>{121,68}</string>
      </dict>
      <key>monster_0045_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,228},{107,88}}</string>
        <key>offset</key>
        <string>{-32,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,88}}</string>
        <key>sourceSize</key>
        <string>{107,88}</string>
      </dict>
      <key>monster_0045_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,0},{97,91}}</string>
        <key>offset</key>
        <string>{-30,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,91}}</string>
        <key>sourceSize</key>
        <string>{97,91}</string>
      </dict>
      <key>monster_0045_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,404},{93,91}}</string>
        <key>offset</key>
        <string>{-26,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,91}}</string>
        <key>sourceSize</key>
        <string>{93,91}</string>
      </dict>
      <key>monster_0045_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,311},{98,84}}</string>
        <key>offset</key>
        <string>{-19,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>monster_0045_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,209},{100,66}}</string>
        <key>offset</key>
        <string>{-2,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,66}}</string>
        <key>sourceSize</key>
        <string>{100,66}</string>
      </dict>
      <key>monster_0045_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,197},{95,88}}</string>
        <key>offset</key>
        <string>{4,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,88}}</string>
        <key>sourceSize</key>
        <string>{95,88}</string>
      </dict>
      <key>monster_0045_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,206},{98,86}}</string>
        <key>offset</key>
        <string>{3,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,86}}</string>
        <key>sourceSize</key>
        <string>{98,86}</string>
      </dict>
      <key>monster_0045_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,335},{103,72}}</string>
        <key>offset</key>
        <string>{-1,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,72}}</string>
        <key>sourceSize</key>
        <string>{103,72}</string>
      </dict>
      <key>monster_0045_0_4_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,104},{100,74}}</string>
        <key>offset</key>
        <string>{1,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,74}}</string>
        <key>sourceSize</key>
        <string>{100,74}</string>
      </dict>
      <key>monster_0045_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,84},{76,62}}</string>
        <key>offset</key>
        <string>{-6,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,62}}</string>
        <key>sourceSize</key>
        <string>{76,62}</string>
      </dict>
      <key>monster_0045_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,676},{84,66}}</string>
        <key>offset</key>
        <string>{-5,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,66}}</string>
        <key>sourceSize</key>
        <string>{84,66}</string>
      </dict>
      <key>monster_0045_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,526},{86,75}}</string>
        <key>offset</key>
        <string>{-3,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,75}}</string>
        <key>sourceSize</key>
        <string>{86,75}</string>
      </dict>
      <key>monster_0045_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,676},{83,82}}</string>
        <key>offset</key>
        <string>{-1,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,82}}</string>
        <key>sourceSize</key>
        <string>{83,82}</string>
      </dict>
      <key>monster_0045_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,603},{82,83}}</string>
        <key>offset</key>
        <string>{1,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,83}}</string>
        <key>sourceSize</key>
        <string>{82,83}</string>
      </dict>
      <key>monster_0045_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,687},{82,73}}</string>
        <key>offset</key>
        <string>{-1,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,73}}</string>
        <key>sourceSize</key>
        <string>{82,73}</string>
      </dict>
      <key>monster_0045_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,588},{53,86}}</string>
        <key>offset</key>
        <string>{0,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,86}}</string>
        <key>sourceSize</key>
        <string>{53,86}</string>
      </dict>
      <key>monster_0045_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,102},{63,98}}</string>
        <key>offset</key>
        <string>{-5,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,98}}</string>
        <key>sourceSize</key>
        <string>{63,98}</string>
      </dict>
      <key>monster_0045_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,510},{64,94}}</string>
        <key>offset</key>
        <string>{-5,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,94}}</string>
        <key>sourceSize</key>
        <string>{64,94}</string>
      </dict>
      <key>monster_0045_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,0},{61,82}}</string>
        <key>offset</key>
        <string>{-4,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,82}}</string>
        <key>sourceSize</key>
        <string>{61,82}</string>
      </dict>
      <key>monster_0045_0_4_4_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,196},{59,82}}</string>
        <key>offset</key>
        <string>{-5,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,82}}</string>
        <key>sourceSize</key>
        <string>{59,82}</string>
      </dict>
      <key>monster_0045_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,644},{97,68}}</string>
        <key>offset</key>
        <string>{-14,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,68}}</string>
        <key>sourceSize</key>
        <string>{97,68}</string>
      </dict>
      <key>monster_0045_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,549},{101,65}}</string>
        <key>offset</key>
        <string>{-13,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,65}}</string>
        <key>sourceSize</key>
        <string>{101,65}</string>
      </dict>
      <key>monster_0045_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,440},{101,72}}</string>
        <key>offset</key>
        <string>{-11,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,72}}</string>
        <key>sourceSize</key>
        <string>{101,72}</string>
      </dict>
      <key>monster_0045_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,201},{96,78}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,78}}</string>
        <key>sourceSize</key>
        <string>{96,78}</string>
      </dict>
      <key>monster_0045_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,526},{97,79}}</string>
        <key>offset</key>
        <string>{-9,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,79}}</string>
        <key>sourceSize</key>
        <string>{97,79}</string>
      </dict>
      <key>monster_0045_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,99},{96,66}}</string>
        <key>offset</key>
        <string>{-20,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,66}}</string>
        <key>sourceSize</key>
        <string>{96,66}</string>
      </dict>
      <key>monster_0045_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,0},{100,78}}</string>
        <key>offset</key>
        <string>{-36,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,78}}</string>
        <key>sourceSize</key>
        <string>{100,78}</string>
      </dict>
      <key>monster_0045_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,115},{111,93}}</string>
        <key>offset</key>
        <string>{-45,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,93}}</string>
        <key>sourceSize</key>
        <string>{111,93}</string>
      </dict>
      <key>monster_0045_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{111,89}}</string>
        <key>offset</key>
        <string>{-45,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,89}}</string>
        <key>sourceSize</key>
        <string>{111,89}</string>
      </dict>
      <key>monster_0045_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,587},{107,75}}</string>
        <key>offset</key>
        <string>{-46,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,75}}</string>
        <key>sourceSize</key>
        <string>{107,75}</string>
      </dict>
      <key>monster_0045_0_4_5_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,462},{106,76}}</string>
        <key>offset</key>
        <string>{-47,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,76}}</string>
        <key>sourceSize</key>
        <string>{106,76}</string>
      </dict>
      <key>monster_0045_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,219},{103,65}}</string>
        <key>offset</key>
        <string>{-2,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,65}}</string>
        <key>sourceSize</key>
        <string>{103,65}</string>
      </dict>
      <key>monster_0045_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,501},{113,65}}</string>
        <key>offset</key>
        <string>{-5,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,65}}</string>
        <key>sourceSize</key>
        <string>{113,65}</string>
      </dict>
      <key>monster_0045_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,475},{110,69}}</string>
        <key>offset</key>
        <string>{0,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,69}}</string>
        <key>sourceSize</key>
        <string>{110,69}</string>
      </dict>
      <key>monster_0045_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,337},{105,72}}</string>
        <key>offset</key>
        <string>{1,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,72}}</string>
        <key>sourceSize</key>
        <string>{105,72}</string>
      </dict>
      <key>monster_0045_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,105},{102,74}}</string>
        <key>offset</key>
        <string>{-2,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,74}}</string>
        <key>sourceSize</key>
        <string>{102,74}</string>
      </dict>
      <key>monster_0045_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,228},{105,74}}</string>
        <key>offset</key>
        <string>{-14,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,74}}</string>
        <key>sourceSize</key>
        <string>{105,74}</string>
      </dict>
      <key>monster_0045_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{126,59}}</string>
        <key>offset</key>
        <string>{-54,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,59}}</string>
        <key>sourceSize</key>
        <string>{126,59}</string>
      </dict>
      <key>monster_0045_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,387},{124,63}}</string>
        <key>offset</key>
        <string>{-53,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,63}}</string>
        <key>sourceSize</key>
        <string>{124,63}</string>
      </dict>
      <key>monster_0045_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{125,58}}</string>
        <key>offset</key>
        <string>{-54,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,58}}</string>
        <key>sourceSize</key>
        <string>{125,58}</string>
      </dict>
      <key>monster_0045_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,132},{122,42}}</string>
        <key>offset</key>
        <string>{-54,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,42}}</string>
        <key>sourceSize</key>
        <string>{122,42}</string>
      </dict>
      <key>monster_0045_0_4_6_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,384},{121,43}}</string>
        <key>offset</key>
        <string>{-56,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,43}}</string>
        <key>sourceSize</key>
        <string>{121,43}</string>
      </dict>
      <key>monster_0045_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,411},{97,86}}</string>
        <key>offset</key>
        <string>{-14,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,86}}</string>
        <key>sourceSize</key>
        <string>{97,86}</string>
      </dict>
      <key>monster_0045_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,0},{102,83}}</string>
        <key>offset</key>
        <string>{-14,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,83}}</string>
        <key>sourceSize</key>
        <string>{102,83}</string>
      </dict>
      <key>monster_0045_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,499},{83,87}}</string>
        <key>offset</key>
        <string>{7,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,87}}</string>
        <key>sourceSize</key>
        <string>{83,87}</string>
      </dict>
      <key>monster_0045_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,445},{79,91}}</string>
        <key>offset</key>
        <string>{8,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,91}}</string>
        <key>sourceSize</key>
        <string>{79,91}</string>
      </dict>
      <key>monster_0045_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,287},{76,95}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,95}}</string>
        <key>sourceSize</key>
        <string>{76,95}</string>
      </dict>
      <key>monster_0045_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,365},{78,92}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,92}}</string>
        <key>sourceSize</key>
        <string>{78,92}</string>
      </dict>
      <key>monster_0045_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,587},{110,78}}</string>
        <key>offset</key>
        <string>{-46,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,78}}</string>
        <key>sourceSize</key>
        <string>{110,78}</string>
      </dict>
      <key>monster_0045_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,384},{115,53}}</string>
        <key>offset</key>
        <string>{-49,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,53}}</string>
        <key>sourceSize</key>
        <string>{115,53}</string>
      </dict>
      <key>monster_0045_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,507},{116,50}}</string>
        <key>offset</key>
        <string>{-50,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,50}}</string>
        <key>sourceSize</key>
        <string>{116,50}</string>
      </dict>
      <key>monster_0045_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,616},{111,52}}</string>
        <key>offset</key>
        <string>{-50,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,52}}</string>
        <key>sourceSize</key>
        <string>{111,52}</string>
      </dict>
      <key>monster_0045_0_4_7_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,475},{110,53}}</string>
        <key>offset</key>
        <string>{-51,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,53}}</string>
        <key>sourceSize</key>
        <string>{110,53}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0045_0_4.png</string>
      <key>size</key>
      <string>{956,801}</string>
      <key>textureFileName</key>
      <string>monster_0045_0_4.png</string>
    </dict>
  </dict>
</plist>