<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1011_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,556},{136,79}}</string>
        <key>offset</key>
        <string>{-62,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,79}}</string>
        <key>sourceSize</key>
        <string>{136,79}</string>
      </dict>
      <key>monster_1011_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{137,78}}</string>
        <key>offset</key>
        <string>{-62,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,78}}</string>
        <key>sourceSize</key>
        <string>{137,78}</string>
      </dict>
      <key>monster_1011_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,139},{137,78}}</string>
        <key>offset</key>
        <string>{-62,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,78}}</string>
        <key>sourceSize</key>
        <string>{137,78}</string>
      </dict>
      <key>monster_1011_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,0},{136,77}}</string>
        <key>offset</key>
        <string>{-62,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,77}}</string>
        <key>sourceSize</key>
        <string>{136,77}</string>
      </dict>
      <key>monster_1011_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,278},{137,79}}</string>
        <key>offset</key>
        <string>{-63,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,79}}</string>
        <key>sourceSize</key>
        <string>{137,79}</string>
      </dict>
      <key>monster_1011_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,417},{137,79}}</string>
        <key>offset</key>
        <string>{-63,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,79}}</string>
        <key>sourceSize</key>
        <string>{137,79}</string>
      </dict>
      <key>monster_1011_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,487},{102,107}}</string>
        <key>offset</key>
        <string>{-24,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,107}}</string>
        <key>sourceSize</key>
        <string>{102,107}</string>
      </dict>
      <key>monster_1011_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,291},{102,106}}</string>
        <key>offset</key>
        <string>{-24,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>monster_1011_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,0},{102,106}}</string>
        <key>offset</key>
        <string>{-24,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>monster_1011_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,104},{101,105}}</string>
        <key>offset</key>
        <string>{-24,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,105}}</string>
        <key>sourceSize</key>
        <string>{101,105}</string>
      </dict>
      <key>monster_1011_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,364},{102,107}}</string>
        <key>offset</key>
        <string>{-24,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,107}}</string>
        <key>sourceSize</key>
        <string>{102,107}</string>
      </dict>
      <key>monster_1011_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,473},{102,107}}</string>
        <key>offset</key>
        <string>{-24,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,107}}</string>
        <key>sourceSize</key>
        <string>{102,107}</string>
      </dict>
      <key>monster_1011_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,489},{66,118}}</string>
        <key>offset</key>
        <string>{8,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,118}}</string>
        <key>sourceSize</key>
        <string>{66,118}</string>
      </dict>
      <key>monster_1011_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,172},{66,117}}</string>
        <key>offset</key>
        <string>{7,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,117}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>monster_1011_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,172},{66,117}}</string>
        <key>offset</key>
        <string>{7,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,117}}</string>
        <key>sourceSize</key>
        <string>{66,117}</string>
      </dict>
      <key>monster_1011_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,240},{65,117}}</string>
        <key>offset</key>
        <string>{8,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,117}}</string>
        <key>sourceSize</key>
        <string>{65,117}</string>
      </dict>
      <key>monster_1011_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,367},{65,118}}</string>
        <key>offset</key>
        <string>{9,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,118}}</string>
        <key>sourceSize</key>
        <string>{65,118}</string>
      </dict>
      <key>monster_1011_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,244},{65,118}}</string>
        <key>offset</key>
        <string>{9,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,118}}</string>
        <key>sourceSize</key>
        <string>{65,118}</string>
      </dict>
      <key>monster_1011_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,138},{121,107}}</string>
        <key>offset</key>
        <string>{5,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,107}}</string>
        <key>sourceSize</key>
        <string>{121,107}</string>
      </dict>
      <key>monster_1011_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,246},{120,106}}</string>
        <key>offset</key>
        <string>{5,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,106}}</string>
        <key>sourceSize</key>
        <string>{120,106}</string>
      </dict>
      <key>monster_1011_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{121,106}}</string>
        <key>offset</key>
        <string>{4,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,106}}</string>
        <key>sourceSize</key>
        <string>{121,106}</string>
      </dict>
      <key>monster_1011_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,123},{120,106}}</string>
        <key>offset</key>
        <string>{5,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,106}}</string>
        <key>sourceSize</key>
        <string>{120,106}</string>
      </dict>
      <key>monster_1011_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{120,106}}</string>
        <key>offset</key>
        <string>{6,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,106}}</string>
        <key>sourceSize</key>
        <string>{120,106}</string>
      </dict>
      <key>monster_1011_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,368},{120,107}}</string>
        <key>offset</key>
        <string>{6,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,107}}</string>
        <key>sourceSize</key>
        <string>{120,107}</string>
      </dict>
      <key>monster_1011_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{148,73}}</string>
        <key>offset</key>
        <string>{-11,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,73}}</string>
        <key>sourceSize</key>
        <string>{148,73}</string>
      </dict>
      <key>monster_1011_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{148,73}}</string>
        <key>offset</key>
        <string>{-11,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,73}}</string>
        <key>sourceSize</key>
        <string>{148,73}</string>
      </dict>
      <key>monster_1011_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,300},{147,73}}</string>
        <key>offset</key>
        <string>{-11,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,73}}</string>
        <key>sourceSize</key>
        <string>{147,73}</string>
      </dict>
      <key>monster_1011_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{148,72}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,72}}</string>
        <key>sourceSize</key>
        <string>{148,72}</string>
      </dict>
      <key>monster_1011_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{148,72}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,72}}</string>
        <key>sourceSize</key>
        <string>{148,72}</string>
      </dict>
      <key>monster_1011_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,450},{148,73}}</string>
        <key>offset</key>
        <string>{-11,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,73}}</string>
        <key>sourceSize</key>
        <string>{148,73}</string>
      </dict>
      <key>monster_1011_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,261},{121,96}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,96}}</string>
        <key>sourceSize</key>
        <string>{121,96}</string>
      </dict>
      <key>monster_1011_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,123},{121,96}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,96}}</string>
        <key>sourceSize</key>
        <string>{121,96}</string>
      </dict>
      <key>monster_1011_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,245},{120,96}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,96}}</string>
        <key>sourceSize</key>
        <string>{120,96}</string>
      </dict>
      <key>monster_1011_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{121,95}}</string>
        <key>offset</key>
        <string>{-17,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,95}}</string>
        <key>sourceSize</key>
        <string>{121,95}</string>
      </dict>
      <key>monster_1011_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,122},{120,96}}</string>
        <key>offset</key>
        <string>{-17,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,96}}</string>
        <key>sourceSize</key>
        <string>{120,96}</string>
      </dict>
      <key>monster_1011_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,384},{121,97}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,97}}</string>
        <key>sourceSize</key>
        <string>{121,97}</string>
      </dict>
      <key>monster_1011_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,395},{67,103}}</string>
        <key>offset</key>
        <string>{-5,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,103}}</string>
        <key>sourceSize</key>
        <string>{67,103}</string>
      </dict>
      <key>monster_1011_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,395},{68,103}}</string>
        <key>offset</key>
        <string>{-5,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,103}}</string>
        <key>sourceSize</key>
        <string>{68,103}</string>
      </dict>
      <key>monster_1011_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,207},{68,102}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,102}}</string>
        <key>sourceSize</key>
        <string>{68,102}</string>
      </dict>
      <key>monster_1011_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,500},{67,102}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,102}}</string>
        <key>sourceSize</key>
        <string>{67,102}</string>
      </dict>
      <key>monster_1011_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,569},{67,102}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,102}}</string>
        <key>sourceSize</key>
        <string>{67,102}</string>
      </dict>
      <key>monster_1011_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,277},{67,102}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,102}}</string>
        <key>sourceSize</key>
        <string>{67,102}</string>
      </dict>
      <key>monster_1011_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,0},{120,84}}</string>
        <key>offset</key>
        <string>{-52,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,84}}</string>
        <key>sourceSize</key>
        <string>{120,84}</string>
      </dict>
      <key>monster_1011_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,0},{120,84}}</string>
        <key>offset</key>
        <string>{-51,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,84}}</string>
        <key>sourceSize</key>
        <string>{120,84}</string>
      </dict>
      <key>monster_1011_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,86},{120,84}}</string>
        <key>offset</key>
        <string>{-51,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,84}}</string>
        <key>sourceSize</key>
        <string>{120,84}</string>
      </dict>
      <key>monster_1011_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,490},{120,83}}</string>
        <key>offset</key>
        <string>{-52,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,83}}</string>
        <key>sourceSize</key>
        <string>{120,83}</string>
      </dict>
      <key>monster_1011_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,507},{121,84}}</string>
        <key>offset</key>
        <string>{-53,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,84}}</string>
        <key>sourceSize</key>
        <string>{121,84}</string>
      </dict>
      <key>monster_1011_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,367},{120,84}}</string>
        <key>offset</key>
        <string>{-52,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,84}}</string>
        <key>sourceSize</key>
        <string>{120,84}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1011_0_0.png</string>
      <key>size</key>
      <string>{903,643}</string>
      <key>textureFileName</key>
      <string>monster_1011_0_0.png</string>
    </dict>
  </dict>
</plist>