<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1001_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,225},{67,108}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,108}}</string>
        <key>sourceSize</key>
        <string>{67,108}</string>
      </dict>
      <key>monster_1001_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,111},{64,107}}</string>
        <key>offset</key>
        <string>{4,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,107}}</string>
        <key>sourceSize</key>
        <string>{64,107}</string>
      </dict>
      <key>monster_1001_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,225},{66,108}}</string>
        <key>offset</key>
        <string>{3,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,108}}</string>
        <key>sourceSize</key>
        <string>{66,108}</string>
      </dict>
      <key>monster_1001_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{79,111}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,111}}</string>
        <key>sourceSize</key>
        <string>{79,111}</string>
      </dict>
      <key>monster_1001_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{79,109}}</string>
        <key>offset</key>
        <string>{-4,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,109}}</string>
        <key>sourceSize</key>
        <string>{79,109}</string>
      </dict>
      <key>monster_1001_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,113},{80,110}}</string>
        <key>offset</key>
        <string>{-6,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,110}}</string>
        <key>sourceSize</key>
        <string>{80,110}</string>
      </dict>
      <key>monster_1001_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,236},{111,91}}</string>
        <key>offset</key>
        <string>{-39,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,91}}</string>
        <key>sourceSize</key>
        <string>{111,91}</string>
      </dict>
      <key>monster_1001_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,243},{114,87}}</string>
        <key>offset</key>
        <string>{-39,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,87}}</string>
        <key>sourceSize</key>
        <string>{114,87}</string>
      </dict>
      <key>monster_1001_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,121},{113,89}}</string>
        <key>offset</key>
        <string>{-39,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,89}}</string>
        <key>sourceSize</key>
        <string>{113,89}</string>
      </dict>
      <key>monster_1001_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{119,76}}</string>
        <key>offset</key>
        <string>{-45,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,76}}</string>
        <key>sourceSize</key>
        <string>{119,76}</string>
      </dict>
      <key>monster_1001_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{120,70}}</string>
        <key>offset</key>
        <string>{-45,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,70}}</string>
        <key>sourceSize</key>
        <string>{120,70}</string>
      </dict>
      <key>monster_1001_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{119,72}}</string>
        <key>offset</key>
        <string>{-45,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,72}}</string>
        <key>sourceSize</key>
        <string>{119,72}</string>
      </dict>
      <key>monster_1001_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,268},{83,79}}</string>
        <key>offset</key>
        <string>{-11,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,79}}</string>
        <key>sourceSize</key>
        <string>{83,79}</string>
      </dict>
      <key>monster_1001_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,344},{82,76}}</string>
        <key>offset</key>
        <string>{-12,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,76}</string>
      </dict>
      <key>monster_1001_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,335},{83,77}}</string>
        <key>offset</key>
        <string>{-12,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,77}}</string>
        <key>sourceSize</key>
        <string>{83,77}</string>
      </dict>
      <key>monster_1001_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,335},{55,82}}</string>
        <key>offset</key>
        <string>{9,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,82}}</string>
        <key>sourceSize</key>
        <string>{55,82}</string>
      </dict>
      <key>monster_1001_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{55,80}}</string>
        <key>offset</key>
        <string>{6,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,80}}</string>
        <key>sourceSize</key>
        <string>{55,80}</string>
      </dict>
      <key>monster_1001_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,101},{55,81}}</string>
        <key>offset</key>
        <string>{7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,81}}</string>
        <key>sourceSize</key>
        <string>{55,81}</string>
      </dict>
      <key>monster_1001_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,184},{91,82}}</string>
        <key>offset</key>
        <string>{3,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,82}}</string>
        <key>sourceSize</key>
        <string>{91,82}</string>
      </dict>
      <key>monster_1001_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,184},{90,77}}</string>
        <key>offset</key>
        <string>{3,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,77}}</string>
        <key>sourceSize</key>
        <string>{90,77}</string>
      </dict>
      <key>monster_1001_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,263},{90,79}}</string>
        <key>offset</key>
        <string>{3,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,79}}</string>
        <key>sourceSize</key>
        <string>{90,79}</string>
      </dict>
      <key>monster_1001_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{98,91}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,91}}</string>
        <key>sourceSize</key>
        <string>{98,91}</string>
      </dict>
      <key>monster_1001_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,93},{97,89}}</string>
        <key>offset</key>
        <string>{2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,89}}</string>
        <key>sourceSize</key>
        <string>{97,89}</string>
      </dict>
      <key>monster_1001_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,0},{99,90}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,90}}</string>
        <key>sourceSize</key>
        <string>{99,90}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1001_0_7.png</string>
      <key>size</key>
      <string>{567,424}</string>
      <key>textureFileName</key>
      <string>monster_1001_0_7.png</string>
    </dict>
  </dict>
</plist>