<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0183_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{73,45}}</string>
        <key>offset</key>
        <string>{-13,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,45}}</string>
        <key>sourceSize</key>
        <string>{73,45}</string>
      </dict>
      <key>monster_0183_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{68,40}}</string>
        <key>offset</key>
        <string>{-11,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,40}}</string>
        <key>sourceSize</key>
        <string>{68,40}</string>
      </dict>
      <key>monster_0183_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,75},{68,48}}</string>
        <key>offset</key>
        <string>{-15,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,48}}</string>
        <key>sourceSize</key>
        <string>{68,48}</string>
      </dict>
      <key>monster_0183_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,145},{68,45}}</string>
        <key>offset</key>
        <string>{-15,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,45}}</string>
        <key>sourceSize</key>
        <string>{68,45}</string>
      </dict>
      <key>monster_0183_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,181},{52,44}}</string>
        <key>offset</key>
        <string>{-2,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,44}}</string>
        <key>sourceSize</key>
        <string>{52,44}</string>
      </dict>
      <key>monster_0183_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{57,48}}</string>
        <key>offset</key>
        <string>{3,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,48}}</string>
        <key>sourceSize</key>
        <string>{57,48}</string>
      </dict>
      <key>monster_0183_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,126},{59,41}}</string>
        <key>offset</key>
        <string>{-15,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,41}}</string>
        <key>sourceSize</key>
        <string>{59,41}</string>
      </dict>
      <key>monster_0183_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,70},{67,44}}</string>
        <key>offset</key>
        <string>{-15,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,44}}</string>
        <key>sourceSize</key>
        <string>{67,44}</string>
      </dict>
      <key>monster_0183_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,75},{73,34}}</string>
        <key>offset</key>
        <string>{-13,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,34}}</string>
        <key>sourceSize</key>
        <string>{73,34}</string>
      </dict>
      <key>monster_0183_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,0},{68,43}}</string>
        <key>offset</key>
        <string>{-11,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,43}}</string>
        <key>sourceSize</key>
        <string>{68,43}</string>
      </dict>
      <key>monster_0183_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,64},{60,42}}</string>
        <key>offset</key>
        <string>{3,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,42}}</string>
        <key>sourceSize</key>
        <string>{60,42}</string>
      </dict>
      <key>monster_0183_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{62,44}}</string>
        <key>offset</key>
        <string>{-1,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,44}}</string>
        <key>sourceSize</key>
        <string>{62,44}</string>
      </dict>
      <key>monster_0183_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,59},{47,52}}</string>
        <key>offset</key>
        <string>{9,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,52}}</string>
        <key>sourceSize</key>
        <string>{47,52}</string>
      </dict>
      <key>monster_0183_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,62},{58,49}}</string>
        <key>offset</key>
        <string>{-9,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,49}}</string>
        <key>sourceSize</key>
        <string>{58,49}</string>
      </dict>
      <key>monster_0183_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,122},{57,56}}</string>
        <key>offset</key>
        <string>{5,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,56}}</string>
        <key>sourceSize</key>
        <string>{57,56}</string>
      </dict>
      <key>monster_0183_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{60,45}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,45}}</string>
        <key>sourceSize</key>
        <string>{60,45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0183_0_7.png</string>
      <key>size</key>
      <string>{281,237}</string>
      <key>textureFileName</key>
      <string>monster_0183_0_7.png</string>
    </dict>
  </dict>
</plist>