<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1003_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{69,94}}</string>
        <key>offset</key>
        <string>{0,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,94}}</string>
        <key>sourceSize</key>
        <string>{69,94}</string>
      </dict>
      <key>monster_1003_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{67,92}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,92}}</string>
        <key>sourceSize</key>
        <string>{67,92}</string>
      </dict>
      <key>monster_1003_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{68,93}}</string>
        <key>offset</key>
        <string>{0,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,93}}</string>
        <key>sourceSize</key>
        <string>{68,93}</string>
      </dict>
      <key>monster_1003_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,288},{81,92}}</string>
        <key>offset</key>
        <string>{-10,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,92}}</string>
        <key>sourceSize</key>
        <string>{81,92}</string>
      </dict>
      <key>monster_1003_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{79,91}}</string>
        <key>offset</key>
        <string>{-8,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,91}}</string>
        <key>sourceSize</key>
        <string>{79,91}</string>
      </dict>
      <key>monster_1003_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,193},{82,92}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,92}}</string>
        <key>sourceSize</key>
        <string>{82,92}</string>
      </dict>
      <key>monster_1003_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,84}}</string>
        <key>offset</key>
        <string>{-13,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,84}}</string>
        <key>sourceSize</key>
        <string>{95,84}</string>
      </dict>
      <key>monster_1003_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,278},{85,83}}</string>
        <key>offset</key>
        <string>{-11,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,83}}</string>
        <key>sourceSize</key>
        <string>{85,83}</string>
      </dict>
      <key>monster_1003_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,92},{89,84}}</string>
        <key>offset</key>
        <string>{-15,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,84}}</string>
        <key>sourceSize</key>
        <string>{89,84}</string>
      </dict>
      <key>monster_1003_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{90,81}}</string>
        <key>offset</key>
        <string>{-10,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,81}}</string>
        <key>sourceSize</key>
        <string>{90,81}</string>
      </dict>
      <key>monster_1003_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{88,80}}</string>
        <key>offset</key>
        <string>{-8,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,80}}</string>
        <key>sourceSize</key>
        <string>{88,80}</string>
      </dict>
      <key>monster_1003_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,186},{90,80}}</string>
        <key>offset</key>
        <string>{-11,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,80}}</string>
        <key>sourceSize</key>
        <string>{90,80}</string>
      </dict>
      <key>monster_1003_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,270},{64,81}}</string>
        <key>offset</key>
        <string>{4,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,81}}</string>
        <key>sourceSize</key>
        <string>{64,81}</string>
      </dict>
      <key>monster_1003_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,177},{66,81}}</string>
        <key>offset</key>
        <string>{4,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,81}}</string>
        <key>sourceSize</key>
        <string>{66,81}</string>
      </dict>
      <key>monster_1003_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,126},{65,79}}</string>
        <key>offset</key>
        <string>{4,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,79}}</string>
        <key>sourceSize</key>
        <string>{65,79}</string>
      </dict>
      <key>monster_1003_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{61,83}}</string>
        <key>offset</key>
        <string>{4,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,83}}</string>
        <key>sourceSize</key>
        <string>{61,83}</string>
      </dict>
      <key>monster_1003_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,260},{60,81}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,81}}</string>
        <key>sourceSize</key>
        <string>{60,81}</string>
      </dict>
      <key>monster_1003_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,63},{61,82}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,82}}</string>
        <key>sourceSize</key>
        <string>{61,82}</string>
      </dict>
      <key>monster_1003_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,183},{72,85}}</string>
        <key>offset</key>
        <string>{-6,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,85}}</string>
        <key>sourceSize</key>
        <string>{72,85}</string>
      </dict>
      <key>monster_1003_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,90},{68,85}}</string>
        <key>offset</key>
        <string>{-2,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,85}}</string>
        <key>sourceSize</key>
        <string>{68,85}</string>
      </dict>
      <key>monster_1003_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,0},{70,85}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,85}}</string>
        <key>sourceSize</key>
        <string>{70,85}</string>
      </dict>
      <key>monster_1003_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,287},{69,91}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,91}}</string>
        <key>sourceSize</key>
        <string>{69,91}</string>
      </dict>
      <key>monster_1003_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,93},{69,91}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,91}}</string>
        <key>sourceSize</key>
        <string>{69,91}</string>
      </dict>
      <key>monster_1003_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,97},{70,92}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,92}}</string>
        <key>sourceSize</key>
        <string>{70,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1003_0_0.png</string>
      <key>size</key>
      <string>{512,384}</string>
      <key>textureFileName</key>
      <string>monster_1003_0_0.png</string>
    </dict>
  </dict>
</plist>