<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0030_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,583},{99,107}}</string>
        <key>offset</key>
        <string>{-15,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,107}}</string>
        <key>sourceSize</key>
        <string>{99,107}</string>
      </dict>
      <key>monster_0030_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{99,110}}</string>
        <key>offset</key>
        <string>{-14,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,110}}</string>
        <key>sourceSize</key>
        <string>{99,110}</string>
      </dict>
      <key>monster_0030_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,471},{100,110}}</string>
        <key>offset</key>
        <string>{-14,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,110}}</string>
        <key>sourceSize</key>
        <string>{100,110}</string>
      </dict>
      <key>monster_0030_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,354},{101,110}}</string>
        <key>offset</key>
        <string>{-15,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,110}}</string>
        <key>sourceSize</key>
        <string>{101,110}</string>
      </dict>
      <key>monster_0030_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,112},{101,109}}</string>
        <key>offset</key>
        <string>{-16,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,109}}</string>
        <key>sourceSize</key>
        <string>{101,109}</string>
      </dict>
      <key>monster_0030_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,229},{102,110}}</string>
        <key>offset</key>
        <string>{-16,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,110}}</string>
        <key>sourceSize</key>
        <string>{102,110}</string>
      </dict>
      <key>monster_0030_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,116},{102,111}}</string>
        <key>offset</key>
        <string>{-16,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,111}}</string>
        <key>sourceSize</key>
        <string>{102,111}</string>
      </dict>
      <key>monster_0030_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{100,109}}</string>
        <key>offset</key>
        <string>{-15,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,109}}</string>
        <key>sourceSize</key>
        <string>{100,109}</string>
      </dict>
      <key>monster_0030_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,341},{104,102}}</string>
        <key>offset</key>
        <string>{-11,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,102}}</string>
        <key>sourceSize</key>
        <string>{104,102}</string>
      </dict>
      <key>monster_0030_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,223},{104,101}}</string>
        <key>offset</key>
        <string>{-14,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,101}}</string>
        <key>sourceSize</key>
        <string>{104,101}</string>
      </dict>
      <key>monster_0030_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,573},{103,100}}</string>
        <key>offset</key>
        <string>{-15,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,100}}</string>
        <key>sourceSize</key>
        <string>{103,100}</string>
      </dict>
      <key>monster_0030_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,111},{104,100}}</string>
        <key>offset</key>
        <string>{-16,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,100}}</string>
        <key>sourceSize</key>
        <string>{104,100}</string>
      </dict>
      <key>monster_0030_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,447},{103,99}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,99}}</string>
        <key>sourceSize</key>
        <string>{103,99}</string>
      </dict>
      <key>monster_0030_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,329},{99,103}}</string>
        <key>offset</key>
        <string>{-11,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,103}}</string>
        <key>sourceSize</key>
        <string>{99,103}</string>
      </dict>
      <key>monster_0030_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,466},{95,105}}</string>
        <key>offset</key>
        <string>{-7,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,105}}</string>
        <key>sourceSize</key>
        <string>{95,105}</string>
      </dict>
      <key>monster_0030_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,573},{94,105}}</string>
        <key>offset</key>
        <string>{-8,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,105}}</string>
        <key>sourceSize</key>
        <string>{94,105}</string>
      </dict>
      <key>monster_0030_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{114,94}}</string>
        <key>offset</key>
        <string>{-27,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,94}}</string>
        <key>sourceSize</key>
        <string>{114,94}</string>
      </dict>
      <key>monster_0030_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,237},{115,94}}</string>
        <key>offset</key>
        <string>{-26,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,94}}</string>
        <key>sourceSize</key>
        <string>{115,94}</string>
      </dict>
      <key>monster_0030_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{114,96}}</string>
        <key>offset</key>
        <string>{-24,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,96}}</string>
        <key>sourceSize</key>
        <string>{114,96}</string>
      </dict>
      <key>monster_0030_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{115,97}}</string>
        <key>offset</key>
        <string>{-24,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,97}}</string>
        <key>sourceSize</key>
        <string>{115,97}</string>
      </dict>
      <key>monster_0030_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{116,96}}</string>
        <key>offset</key>
        <string>{-26,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,96}}</string>
        <key>sourceSize</key>
        <string>{116,96}</string>
      </dict>
      <key>monster_0030_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117,97}}</string>
        <key>offset</key>
        <string>{-26,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,97}}</string>
        <key>sourceSize</key>
        <string>{117,97}</string>
      </dict>
      <key>monster_0030_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,237},{115,101}}</string>
        <key>offset</key>
        <string>{-25,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,101}}</string>
        <key>sourceSize</key>
        <string>{115,101}</string>
      </dict>
      <key>monster_0030_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,119},{115,98}}</string>
        <key>offset</key>
        <string>{-26,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,98}}</string>
        <key>sourceSize</key>
        <string>{115,98}</string>
      </dict>
      <key>monster_0030_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,217},{100,92}}</string>
        <key>offset</key>
        <string>{-13,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,92}}</string>
        <key>sourceSize</key>
        <string>{100,92}</string>
      </dict>
      <key>monster_0030_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,290},{97,92}}</string>
        <key>offset</key>
        <string>{-8,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,92}}</string>
        <key>sourceSize</key>
        <string>{97,92}</string>
      </dict>
      <key>monster_0030_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,577},{94,93}}</string>
        <key>offset</key>
        <string>{-5,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,93}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
      <key>monster_0030_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,626},{94,95}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,95}}</string>
        <key>sourceSize</key>
        <string>{94,95}</string>
      </dict>
      <key>monster_0030_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,106},{100,93}}</string>
        <key>offset</key>
        <string>{-9,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,93}}</string>
        <key>sourceSize</key>
        <string>{100,93}</string>
      </dict>
      <key>monster_0030_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,322},{101,89}}</string>
        <key>offset</key>
        <string>{-12,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,89}}</string>
        <key>sourceSize</key>
        <string>{101,89}</string>
      </dict>
      <key>monster_0030_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,0},{104,89}}</string>
        <key>offset</key>
        <string>{-15,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,89}}</string>
        <key>sourceSize</key>
        <string>{104,89}</string>
      </dict>
      <key>monster_0030_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,217},{103,93}}</string>
        <key>offset</key>
        <string>{-15,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,93}}</string>
        <key>sourceSize</key>
        <string>{103,93}</string>
      </dict>
      <key>monster_0030_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,204},{98,92}}</string>
        <key>offset</key>
        <string>{-12,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,92}}</string>
        <key>sourceSize</key>
        <string>{98,92}</string>
      </dict>
      <key>monster_0030_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,641},{97,89}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,89}}</string>
        <key>sourceSize</key>
        <string>{97,89}</string>
      </dict>
      <key>monster_0030_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,101},{98,83}}</string>
        <key>offset</key>
        <string>{-12,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,83}}</string>
        <key>sourceSize</key>
        <string>{98,83}</string>
      </dict>
      <key>monster_0030_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,0},{100,90}}</string>
        <key>offset</key>
        <string>{-14,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,90}}</string>
        <key>sourceSize</key>
        <string>{100,90}</string>
      </dict>
      <key>monster_0030_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,538},{101,88}}</string>
        <key>offset</key>
        <string>{-15,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,88}}</string>
        <key>sourceSize</key>
        <string>{101,88}</string>
      </dict>
      <key>monster_0030_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,425},{101,82}}</string>
        <key>offset</key>
        <string>{-15,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,82}}</string>
        <key>sourceSize</key>
        <string>{101,82}</string>
      </dict>
      <key>monster_0030_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,680},{103,77}}</string>
        <key>offset</key>
        <string>{-17,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,77}}</string>
        <key>sourceSize</key>
        <string>{103,77}</string>
      </dict>
      <key>monster_0030_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,425},{100,84}}</string>
        <key>offset</key>
        <string>{-14,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,84}}</string>
        <key>sourceSize</key>
        <string>{100,84}</string>
      </dict>
      <key>monster_0030_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,101},{98,95}}</string>
        <key>offset</key>
        <string>{-25,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,95}}</string>
        <key>sourceSize</key>
        <string>{98,95}</string>
      </dict>
      <key>monster_0030_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,0},{98,93}}</string>
        <key>offset</key>
        <string>{-24,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,93}}</string>
        <key>sourceSize</key>
        <string>{98,93}</string>
      </dict>
      <key>monster_0030_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,577},{95,91}}</string>
        <key>offset</key>
        <string>{-20,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,91}}</string>
        <key>sourceSize</key>
        <string>{95,91}</string>
      </dict>
      <key>monster_0030_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,673},{88,91}}</string>
        <key>offset</key>
        <string>{-13,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,91}}</string>
        <key>sourceSize</key>
        <string>{88,91}</string>
      </dict>
      <key>monster_0030_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,673},{84,91}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,91}}</string>
        <key>sourceSize</key>
        <string>{84,91}</string>
      </dict>
      <key>monster_0030_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,480},{83,91}}</string>
        <key>offset</key>
        <string>{-10,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,91}}</string>
        <key>sourceSize</key>
        <string>{83,91}</string>
      </dict>
      <key>monster_0030_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,384},{85,91}}</string>
        <key>offset</key>
        <string>{-13,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,91}}</string>
        <key>sourceSize</key>
        <string>{85,91}</string>
      </dict>
      <key>monster_0030_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,674},{95,89}}</string>
        <key>offset</key>
        <string>{-23,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,89}}</string>
        <key>sourceSize</key>
        <string>{95,89}</string>
      </dict>
      <key>monster_0030_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,552},{103,97}}</string>
        <key>offset</key>
        <string>{-17,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,97}}</string>
        <key>sourceSize</key>
        <string>{103,97}</string>
      </dict>
      <key>monster_0030_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,319},{100,97}}</string>
        <key>offset</key>
        <string>{-15,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,97}}</string>
        <key>sourceSize</key>
        <string>{100,97}</string>
      </dict>
      <key>monster_0030_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,527},{91,97}}</string>
        <key>offset</key>
        <string>{-8,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,97}}</string>
        <key>sourceSize</key>
        <string>{91,97}</string>
      </dict>
      <key>monster_0030_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,0},{99,97}}</string>
        <key>offset</key>
        <string>{-16,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,97}}</string>
        <key>sourceSize</key>
        <string>{99,97}</string>
      </dict>
      <key>monster_0030_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,480},{96,95}}</string>
        <key>offset</key>
        <string>{-11,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,95}}</string>
        <key>sourceSize</key>
        <string>{96,95}</string>
      </dict>
      <key>monster_0030_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,421},{93,97}}</string>
        <key>offset</key>
        <string>{-8,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,97}}</string>
        <key>sourceSize</key>
        <string>{93,97}</string>
      </dict>
      <key>monster_0030_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,198},{90,98}}</string>
        <key>offset</key>
        <string>{-6,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,98}}</string>
        <key>sourceSize</key>
        <string>{90,98}</string>
      </dict>
      <key>monster_0030_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,384},{94,97}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,97}}</string>
        <key>sourceSize</key>
        <string>{94,97}</string>
      </dict>
      <key>monster_0030_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,208},{86,100}}</string>
        <key>offset</key>
        <string>{-12,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,100}}</string>
        <key>sourceSize</key>
        <string>{86,100}</string>
      </dict>
      <key>monster_0030_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,678},{84,103}}</string>
        <key>offset</key>
        <string>{-12,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,103}}</string>
        <key>sourceSize</key>
        <string>{84,103}</string>
      </dict>
      <key>monster_0030_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,583},{89,106}}</string>
        <key>offset</key>
        <string>{-18,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,106}}</string>
        <key>sourceSize</key>
        <string>{89,106}</string>
      </dict>
      <key>monster_0030_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,466},{93,105}}</string>
        <key>offset</key>
        <string>{-23,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,105}}</string>
        <key>sourceSize</key>
        <string>{93,105}</string>
      </dict>
      <key>monster_0030_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,657},{96,103}}</string>
        <key>offset</key>
        <string>{-26,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,103}}</string>
        <key>sourceSize</key>
        <string>{96,103}</string>
      </dict>
      <key>monster_0030_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,434},{96,102}}</string>
        <key>offset</key>
        <string>{-24,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,102}}</string>
        <key>sourceSize</key>
        <string>{96,102}</string>
      </dict>
      <key>monster_0030_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,322},{93,101}}</string>
        <key>offset</key>
        <string>{-19,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,101}}</string>
        <key>sourceSize</key>
        <string>{93,101}</string>
      </dict>
      <key>monster_0030_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,102},{89,100}}</string>
        <key>offset</key>
        <string>{-14,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,100}}</string>
        <key>sourceSize</key>
        <string>{89,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0030_0_1.png</string>
      <key>size</key>
      <string>{980,770}</string>
      <key>textureFileName</key>
      <string>monster_0030_0_1.png</string>
    </dict>
  </dict>
</plist>