<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0044_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,0},{175,67}}</string>
        <key>offset</key>
        <string>{-53,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,67}}</string>
        <key>sourceSize</key>
        <string>{175,67}</string>
      </dict>
      <key>monster_0044_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,565},{173,79}}</string>
        <key>offset</key>
        <string>{-46,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,79}}</string>
        <key>sourceSize</key>
        <string>{173,79}</string>
      </dict>
      <key>monster_0044_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,581},{177,81}}</string>
        <key>offset</key>
        <string>{-46,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,81}}</string>
        <key>sourceSize</key>
        <string>{177,81}</string>
      </dict>
      <key>monster_0044_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{189,91}}</string>
        <key>offset</key>
        <string>{-47,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,91}}</string>
        <key>sourceSize</key>
        <string>{189,91}</string>
      </dict>
      <key>monster_0044_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{194,67}}</string>
        <key>offset</key>
        <string>{-55,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,67}}</string>
        <key>sourceSize</key>
        <string>{194,67}</string>
      </dict>
      <key>monster_0044_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,361},{128,85}}</string>
        <key>offset</key>
        <string>{-31,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,85}}</string>
        <key>sourceSize</key>
        <string>{128,85}</string>
      </dict>
      <key>monster_0044_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,181},{130,91}}</string>
        <key>offset</key>
        <string>{-23,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,91}}</string>
        <key>sourceSize</key>
        <string>{130,91}</string>
      </dict>
      <key>monster_0044_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,445},{134,96}}</string>
        <key>offset</key>
        <string>{-21,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,96}}</string>
        <key>sourceSize</key>
        <string>{134,96}</string>
      </dict>
      <key>monster_0044_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,328},{147,115}}</string>
        <key>offset</key>
        <string>{-21,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,115}}</string>
        <key>sourceSize</key>
        <string>{147,115}</string>
      </dict>
      <key>monster_0044_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,151},{146,97}}</string>
        <key>offset</key>
        <string>{-29,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,97}}</string>
        <key>sourceSize</key>
        <string>{146,97}</string>
      </dict>
      <key>monster_0044_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,658},{90,105}}</string>
        <key>offset</key>
        <string>{-10,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,105}}</string>
        <key>sourceSize</key>
        <string>{90,105}</string>
      </dict>
      <key>monster_0044_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,659},{92,113}}</string>
        <key>offset</key>
        <string>{-10,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,113}}</string>
        <key>sourceSize</key>
        <string>{92,113}</string>
      </dict>
      <key>monster_0044_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,448},{94,119}}</string>
        <key>offset</key>
        <string>{-10,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,119}}</string>
        <key>sourceSize</key>
        <string>{94,119}</string>
      </dict>
      <key>monster_0044_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,0},{92,131}}</string>
        <key>offset</key>
        <string>{-10,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,131}}</string>
        <key>sourceSize</key>
        <string>{92,131}</string>
      </dict>
      <key>monster_0044_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,448},{90,123}}</string>
        <key>offset</key>
        <string>{-9,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,123}}</string>
        <key>sourceSize</key>
        <string>{90,123}</string>
      </dict>
      <key>monster_0044_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,274},{130,85}}</string>
        <key>offset</key>
        <string>{-31,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,85}}</string>
        <key>sourceSize</key>
        <string>{130,85}</string>
      </dict>
      <key>monster_0044_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,0},{132,91}}</string>
        <key>offset</key>
        <string>{-23,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,91}}</string>
        <key>sourceSize</key>
        <string>{132,91}</string>
      </dict>
      <key>monster_0044_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,148},{136,97}}</string>
        <key>offset</key>
        <string>{-22,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,97}}</string>
        <key>sourceSize</key>
        <string>{136,97}</string>
      </dict>
      <key>monster_0044_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,176},{150,108}}</string>
        <key>offset</key>
        <string>{-21,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,108}}</string>
        <key>sourceSize</key>
        <string>{150,108}</string>
      </dict>
      <key>monster_0044_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,477},{145,98}}</string>
        <key>offset</key>
        <string>{-28,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,98}}</string>
        <key>sourceSize</key>
        <string>{145,98}</string>
      </dict>
      <key>monster_0044_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,581},{177,58}}</string>
        <key>offset</key>
        <string>{-53,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,58}}</string>
        <key>sourceSize</key>
        <string>{177,58}</string>
      </dict>
      <key>monster_0044_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{174,65}}</string>
        <key>offset</key>
        <string>{-46,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,65}}</string>
        <key>sourceSize</key>
        <string>{174,65}</string>
      </dict>
      <key>monster_0044_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,386},{177,68}}</string>
        <key>offset</key>
        <string>{-45,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,68}}</string>
        <key>sourceSize</key>
        <string>{177,68}</string>
      </dict>
      <key>monster_0044_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,196},{188,83}}</string>
        <key>offset</key>
        <string>{-44,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,83}}</string>
        <key>sourceSize</key>
        <string>{188,83}</string>
      </dict>
      <key>monster_0044_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{192,62}}</string>
        <key>offset</key>
        <string>{-53,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,62}}</string>
        <key>sourceSize</key>
        <string>{192,62}</string>
      </dict>
      <key>monster_0044_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,94},{131,85}}</string>
        <key>offset</key>
        <string>{-30,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,85}}</string>
        <key>sourceSize</key>
        <string>{131,85}</string>
      </dict>
      <key>monster_0044_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,581},{131,89}}</string>
        <key>offset</key>
        <string>{-28,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,89}}</string>
        <key>sourceSize</key>
        <string>{131,89}</string>
      </dict>
      <key>monster_0044_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,286},{134,95}}</string>
        <key>offset</key>
        <string>{-29,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,95}}</string>
        <key>sourceSize</key>
        <string>{134,95}</string>
      </dict>
      <key>monster_0044_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,624},{142,115}}</string>
        <key>offset</key>
        <string>{-28,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,115}}</string>
        <key>sourceSize</key>
        <string>{142,115}</string>
      </dict>
      <key>monster_0044_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,299},{144,102}}</string>
        <key>offset</key>
        <string>{-34,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,102}}</string>
        <key>sourceSize</key>
        <string>{144,102}</string>
      </dict>
      <key>monster_0044_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,544},{87,105}}</string>
        <key>offset</key>
        <string>{-8,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,105}}</string>
        <key>sourceSize</key>
        <string>{87,105}</string>
      </dict>
      <key>monster_0044_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,544},{88,112}}</string>
        <key>offset</key>
        <string>{-8,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,112}}</string>
        <key>sourceSize</key>
        <string>{88,112}</string>
      </dict>
      <key>monster_0044_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,540},{88,117}}</string>
        <key>offset</key>
        <string>{-8,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,117}}</string>
        <key>sourceSize</key>
        <string>{88,117}</string>
      </dict>
      <key>monster_0044_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{88,135}}</string>
        <key>offset</key>
        <string>{-8,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,135}}</string>
        <key>sourceSize</key>
        <string>{88,135}</string>
      </dict>
      <key>monster_0044_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,555},{86,127}}</string>
        <key>offset</key>
        <string>{-8,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,127}}</string>
        <key>sourceSize</key>
        <string>{86,127}</string>
      </dict>
      <key>monster_0044_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,422},{131,86}}</string>
        <key>offset</key>
        <string>{-31,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,86}}</string>
        <key>sourceSize</key>
        <string>{131,86}</string>
      </dict>
      <key>monster_0044_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,273},{131,90}}</string>
        <key>offset</key>
        <string>{-29,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,90}}</string>
        <key>sourceSize</key>
        <string>{131,90}</string>
      </dict>
      <key>monster_0044_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,137},{134,95}}</string>
        <key>offset</key>
        <string>{-29,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,95}}</string>
        <key>sourceSize</key>
        <string>{134,95}</string>
      </dict>
      <key>monster_0044_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,0},{149,117}}</string>
        <key>offset</key>
        <string>{-33,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,117}}</string>
        <key>sourceSize</key>
        <string>{149,117}</string>
      </dict>
      <key>monster_0044_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{146,102}}</string>
        <key>offset</key>
        <string>{-35,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,102}}</string>
        <key>sourceSize</key>
        <string>{146,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0044_0_0.png</string>
      <key>size</key>
      <string>{811,769}</string>
      <key>textureFileName</key>
      <string>monster_0044_0_0.png</string>
    </dict>
  </dict>
</plist>