<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0329_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,266},{56,59}}</string>
        <key>offset</key>
        <string>{-5,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,59}}</string>
        <key>sourceSize</key>
        <string>{56,59}</string>
      </dict>
      <key>monster_0329_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{56,57}}</string>
        <key>offset</key>
        <string>{-5,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>monster_0329_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,126},{56,56}}</string>
        <key>offset</key>
        <string>{-5,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>monster_0329_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,118},{56,54}}</string>
        <key>offset</key>
        <string>{-5,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,54}}</string>
        <key>sourceSize</key>
        <string>{56,54}</string>
      </dict>
      <key>monster_0329_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,198},{56,57}}</string>
        <key>offset</key>
        <string>{-5,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>monster_0329_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,66},{56,58}}</string>
        <key>offset</key>
        <string>{-5,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>monster_0329_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,201},{64,56}}</string>
        <key>offset</key>
        <string>{-8,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,56}}</string>
        <key>sourceSize</key>
        <string>{64,56}</string>
      </dict>
      <key>monster_0329_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,134},{64,54}}</string>
        <key>offset</key>
        <string>{-8,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,54}}</string>
        <key>sourceSize</key>
        <string>{64,54}</string>
      </dict>
      <key>monster_0329_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,67},{64,54}}</string>
        <key>offset</key>
        <string>{-8,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,54}}</string>
        <key>sourceSize</key>
        <string>{64,54}</string>
      </dict>
      <key>monster_0329_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{64,50}}</string>
        <key>offset</key>
        <string>{-8,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,50}}</string>
        <key>sourceSize</key>
        <string>{64,50}</string>
      </dict>
      <key>monster_0329_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,288},{65,52}}</string>
        <key>offset</key>
        <string>{-8,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,52}}</string>
        <key>sourceSize</key>
        <string>{65,52}</string>
      </dict>
      <key>monster_0329_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,267},{64,54}}</string>
        <key>offset</key>
        <string>{-8,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,54}}</string>
        <key>sourceSize</key>
        <string>{64,54}</string>
      </dict>
      <key>monster_0329_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,0},{70,50}}</string>
        <key>offset</key>
        <string>{-12,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>monster_0329_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{68,49}}</string>
        <key>offset</key>
        <string>{-12,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,49}}</string>
        <key>sourceSize</key>
        <string>{68,49}</string>
      </dict>
      <key>monster_0329_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,200},{64,52}}</string>
        <key>offset</key>
        <string>{-12,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,52}}</string>
        <key>sourceSize</key>
        <string>{64,52}</string>
      </dict>
      <key>monster_0329_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{70,41}}</string>
        <key>offset</key>
        <string>{-12,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,41}}</string>
        <key>sourceSize</key>
        <string>{70,41}</string>
      </dict>
      <key>monster_0329_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{71,43}}</string>
        <key>offset</key>
        <string>{-12,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,43}}</string>
        <key>sourceSize</key>
        <string>{71,43}</string>
      </dict>
      <key>monster_0329_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{71,47}}</string>
        <key>offset</key>
        <string>{-12,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,47}}</string>
        <key>sourceSize</key>
        <string>{71,47}</string>
      </dict>
      <key>monster_0329_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{66,48}}</string>
        <key>offset</key>
        <string>{-10,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,48}}</string>
        <key>sourceSize</key>
        <string>{66,48}</string>
      </dict>
      <key>monster_0329_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,215},{65,49}}</string>
        <key>offset</key>
        <string>{-10,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,49}}</string>
        <key>sourceSize</key>
        <string>{65,49}</string>
      </dict>
      <key>monster_0329_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,141},{65,51}}</string>
        <key>offset</key>
        <string>{-10,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,51}}</string>
        <key>sourceSize</key>
        <string>{65,51}</string>
      </dict>
      <key>monster_0329_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,68},{65,49}}</string>
        <key>offset</key>
        <string>{-10,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,49}}</string>
        <key>sourceSize</key>
        <string>{65,49}</string>
      </dict>
      <key>monster_0329_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,146},{67,46}}</string>
        <key>offset</key>
        <string>{-10,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,46}}</string>
        <key>sourceSize</key>
        <string>{67,46}</string>
      </dict>
      <key>monster_0329_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{66,47}}</string>
        <key>offset</key>
        <string>{-10,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,47}}</string>
        <key>sourceSize</key>
        <string>{66,47}</string>
      </dict>
      <key>monster_0329_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{57,44}}</string>
        <key>offset</key>
        <string>{-5,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,44}}</string>
        <key>sourceSize</key>
        <string>{57,44}</string>
      </dict>
      <key>monster_0329_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,59},{57,45}}</string>
        <key>offset</key>
        <string>{-5,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,45}}</string>
        <key>sourceSize</key>
        <string>{57,45}</string>
      </dict>
      <key>monster_0329_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,59},{57,46}}</string>
        <key>offset</key>
        <string>{-5,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,46}}</string>
        <key>sourceSize</key>
        <string>{57,46}</string>
      </dict>
      <key>monster_0329_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,118},{57,44}}</string>
        <key>offset</key>
        <string>{-5,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,44}}</string>
        <key>sourceSize</key>
        <string>{57,44}</string>
      </dict>
      <key>monster_0329_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,257},{57,42}}</string>
        <key>offset</key>
        <string>{-5,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,42}}</string>
        <key>sourceSize</key>
        <string>{57,42}</string>
      </dict>
      <key>monster_0329_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,316},{57,43}}</string>
        <key>offset</key>
        <string>{-5,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,43}}</string>
        <key>sourceSize</key>
        <string>{57,43}</string>
      </dict>
      <key>monster_0329_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{65,48}}</string>
        <key>offset</key>
        <string>{-10,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,48}}</string>
        <key>sourceSize</key>
        <string>{65,48}</string>
      </dict>
      <key>monster_0329_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,208},{65,49}}</string>
        <key>offset</key>
        <string>{-10,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,49}}</string>
        <key>sourceSize</key>
        <string>{65,49}</string>
      </dict>
      <key>monster_0329_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,72},{67,51}}</string>
        <key>offset</key>
        <string>{-10,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,51}}</string>
        <key>sourceSize</key>
        <string>{67,51}</string>
      </dict>
      <key>monster_0329_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,135},{65,48}}</string>
        <key>offset</key>
        <string>{-10,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,48}}</string>
        <key>sourceSize</key>
        <string>{65,48}</string>
      </dict>
      <key>monster_0329_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,67},{65,46}}</string>
        <key>offset</key>
        <string>{-10,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,46}}</string>
        <key>sourceSize</key>
        <string>{65,46}</string>
      </dict>
      <key>monster_0329_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{65,47}}</string>
        <key>offset</key>
        <string>{-10,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,47}}</string>
        <key>sourceSize</key>
        <string>{65,47}</string>
      </dict>
      <key>monster_0329_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{58,50}}</string>
        <key>offset</key>
        <string>{0,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,50}}</string>
        <key>sourceSize</key>
        <string>{58,50}</string>
      </dict>
      <key>monster_0329_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,257},{57,49}}</string>
        <key>offset</key>
        <string>{1,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,49}}</string>
        <key>sourceSize</key>
        <string>{57,49}</string>
      </dict>
      <key>monster_0329_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,327},{59,52}}</string>
        <key>offset</key>
        <string>{1,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,52}}</string>
        <key>sourceSize</key>
        <string>{59,52}</string>
      </dict>
      <key>monster_0329_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,66},{61,41}}</string>
        <key>offset</key>
        <string>{-3,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,41}}</string>
        <key>sourceSize</key>
        <string>{61,41}</string>
      </dict>
      <key>monster_0329_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,133},{63,43}}</string>
        <key>offset</key>
        <string>{-5,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,43}}</string>
        <key>sourceSize</key>
        <string>{63,43}</string>
      </dict>
      <key>monster_0329_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,333},{60,48}}</string>
        <key>offset</key>
        <string>{-2,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,48}}</string>
        <key>sourceSize</key>
        <string>{60,48}</string>
      </dict>
      <key>monster_0329_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,275},{65,56}}</string>
        <key>offset</key>
        <string>{-9,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,56}}</string>
        <key>sourceSize</key>
        <string>{65,56}</string>
      </dict>
      <key>monster_0329_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,202},{65,54}}</string>
        <key>offset</key>
        <string>{-9,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,54}}</string>
        <key>sourceSize</key>
        <string>{65,54}</string>
      </dict>
      <key>monster_0329_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,134},{65,54}}</string>
        <key>offset</key>
        <string>{-9,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,54}}</string>
        <key>sourceSize</key>
        <string>{65,54}</string>
      </dict>
      <key>monster_0329_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,67},{65,49}}</string>
        <key>offset</key>
        <string>{-9,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,49}}</string>
        <key>sourceSize</key>
        <string>{65,49}</string>
      </dict>
      <key>monster_0329_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{65,52}}</string>
        <key>offset</key>
        <string>{-9,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,52}}</string>
        <key>sourceSize</key>
        <string>{65,52}</string>
      </dict>
      <key>monster_0329_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,269},{65,54}}</string>
        <key>offset</key>
        <string>{-9,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,54}}</string>
        <key>sourceSize</key>
        <string>{65,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0329_0_2.png</string>
      <key>size</key>
      <string>{512,384}</string>
      <key>textureFileName</key>
      <string>monster_0329_0_2.png</string>
    </dict>
  </dict>
</plist>