<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0321_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{73,109}}</string>
        <key>offset</key>
        <string>{7,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,109}}</string>
        <key>sourceSize</key>
        <string>{73,109}</string>
      </dict>
      <key>monster_0321_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,89},{84,73}}</string>
        <key>offset</key>
        <string>{2,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,73}}</string>
        <key>sourceSize</key>
        <string>{84,73}</string>
      </dict>
      <key>monster_0321_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,84},{81,68}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,68}}</string>
        <key>sourceSize</key>
        <string>{81,68}</string>
      </dict>
      <key>monster_0321_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,250},{115,99}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,99}}</string>
        <key>sourceSize</key>
        <string>{115,99}</string>
      </dict>
      <key>monster_0321_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,276},{80,67}}</string>
        <key>offset</key>
        <string>{-19,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,67}}</string>
        <key>sourceSize</key>
        <string>{80,67}</string>
      </dict>
      <key>monster_0321_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{87,75}}</string>
        <key>offset</key>
        <string>{-34,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,75}}</string>
        <key>sourceSize</key>
        <string>{87,75}</string>
      </dict>
      <key>monster_0321_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{129,87}}</string>
        <key>offset</key>
        <string>{-26,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,87}}</string>
        <key>sourceSize</key>
        <string>{129,87}</string>
      </dict>
      <key>monster_0321_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{70,73}}</string>
        <key>offset</key>
        <string>{-27,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,73}}</string>
        <key>sourceSize</key>
        <string>{70,73}</string>
      </dict>
      <key>monster_0321_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,111},{105,53}}</string>
        <key>offset</key>
        <string>{-53,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,53}}</string>
        <key>sourceSize</key>
        <string>{105,53}</string>
      </dict>
      <key>monster_0321_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{96,85}}</string>
        <key>offset</key>
        <string>{-14,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,85}}</string>
        <key>sourceSize</key>
        <string>{96,85}</string>
      </dict>
      <key>monster_0321_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,276},{65,80}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,80}}</string>
        <key>sourceSize</key>
        <string>{65,80}</string>
      </dict>
      <key>monster_0321_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{117,60}}</string>
        <key>offset</key>
        <string>{-60,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,60}}</string>
        <key>sourceSize</key>
        <string>{117,60}</string>
      </dict>
      <key>monster_0321_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,250},{74,77}}</string>
        <key>offset</key>
        <string>{-5,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,77}}</string>
        <key>sourceSize</key>
        <string>{74,77}</string>
      </dict>
      <key>monster_0321_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,0},{75,82}}</string>
        <key>offset</key>
        <string>{-11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,82}}</string>
        <key>sourceSize</key>
        <string>{75,82}</string>
      </dict>
      <key>monster_0321_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,167},{81,70}}</string>
        <key>offset</key>
        <string>{-23,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,70}}</string>
        <key>sourceSize</key>
        <string>{81,70}</string>
      </dict>
      <key>monster_0321_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,106},{98,77}}</string>
        <key>offset</key>
        <string>{-29,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,77}}</string>
        <key>sourceSize</key>
        <string>{98,77}</string>
      </dict>
      <key>monster_0321_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,206},{76,91}}</string>
        <key>offset</key>
        <string>{9,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,91}}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>monster_0321_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,299},{90,72}}</string>
        <key>offset</key>
        <string>{-3,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,72}}</string>
        <key>sourceSize</key>
        <string>{90,72}</string>
      </dict>
      <key>monster_0321_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,131},{110,84}}</string>
        <key>offset</key>
        <string>{-26,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,84}}</string>
        <key>sourceSize</key>
        <string>{110,84}</string>
      </dict>
      <key>monster_0321_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,189},{82,85}}</string>
        <key>offset</key>
        <string>{10,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,85}}</string>
        <key>sourceSize</key>
        <string>{82,85}</string>
      </dict>
      <key>monster_0321_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{104,52}}</string>
        <key>offset</key>
        <string>{2,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,52}}</string>
        <key>sourceSize</key>
        <string>{104,52}</string>
      </dict>
      <key>monster_0321_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,218},{81,100}}</string>
        <key>offset</key>
        <string>{-8,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,100}}</string>
        <key>sourceSize</key>
        <string>{81,100}</string>
      </dict>
      <key>monster_0321_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,98},{89,81}}</string>
        <key>offset</key>
        <string>{5,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,81}}</string>
        <key>sourceSize</key>
        <string>{89,81}</string>
      </dict>
      <key>monster_0321_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{117,54}}</string>
        <key>offset</key>
        <string>{-5,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,54}}</string>
        <key>sourceSize</key>
        <string>{117,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0321_0_4.png</string>
      <key>size</key>
      <string>{549,385}</string>
      <key>textureFileName</key>
      <string>monster_0321_0_4.png</string>
    </dict>
  </dict>
</plist>