<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0341_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,878},{276,235}}</string>
        <key>offset</key>
        <string>{-105,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,235}}</string>
        <key>sourceSize</key>
        <string>{276,235}</string>
      </dict>
      <key>monster_0341_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,600},{276,284}}</string>
        <key>offset</key>
        <string>{-101,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,284}}</string>
        <key>sourceSize</key>
        <string>{276,284}</string>
      </dict>
      <key>monster_0341_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{281,310}}</string>
        <key>offset</key>
        <string>{-103,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,310}}</string>
        <key>sourceSize</key>
        <string>{281,310}</string>
      </dict>
      <key>monster_0341_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,696},{294,344}}</string>
        <key>offset</key>
        <string>{-105,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,344}}</string>
        <key>sourceSize</key>
        <string>{294,344}</string>
      </dict>
      <key>monster_0341_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,992},{276,274}}</string>
        <key>offset</key>
        <string>{-105,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,274}}</string>
        <key>sourceSize</key>
        <string>{276,274}</string>
      </dict>
      <key>monster_0341_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,992},{276,220}}</string>
        <key>offset</key>
        <string>{-105,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,220}}</string>
        <key>sourceSize</key>
        <string>{276,220}</string>
      </dict>
      <key>monster_0341_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,312},{286,248}}</string>
        <key>offset</key>
        <string>{-107,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,248}}</string>
        <key>sourceSize</key>
        <string>{286,248}</string>
      </dict>
      <key>monster_0341_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,661},{301,286}}</string>
        <key>offset</key>
        <string>{-104,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,286}}</string>
        <key>sourceSize</key>
        <string>{301,286}</string>
      </dict>
      <key>monster_0341_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,348},{297,311}}</string>
        <key>offset</key>
        <string>{-105,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,311}}</string>
        <key>sourceSize</key>
        <string>{297,311}</string>
      </dict>
      <key>monster_0341_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{346,346}}</string>
        <key>offset</key>
        <string>{-107,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,346}}</string>
        <key>sourceSize</key>
        <string>{346,346}</string>
      </dict>
      <key>monster_0341_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,348},{346,257}}</string>
        <key>offset</key>
        <string>{-107,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,257}}</string>
        <key>sourceSize</key>
        <string>{346,257}</string>
      </dict>
      <key>monster_0341_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,0},{286,226}}</string>
        <key>offset</key>
        <string>{-107,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,226}}</string>
        <key>sourceSize</key>
        <string>{286,226}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0341_0_4_0.png</string>
      <key>size</key>
      <string>{1026,1278}</string>
      <key>textureFileName</key>
      <string>monster_0341_0_4_0.png</string>
    </dict>
  </dict>
</plist>