<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0458_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,682},{165,156}}</string>
        <key>offset</key>
        <string>{-34,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,156}}</string>
        <key>sourceSize</key>
        <string>{165,156}</string>
      </dict>
      <key>monster_0458_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,849},{163,153}}</string>
        <key>offset</key>
        <string>{-32,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,153}}</string>
        <key>sourceSize</key>
        <string>{163,153}</string>
      </dict>
      <key>monster_0458_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1014},{163,153}}</string>
        <key>offset</key>
        <string>{-33,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,153}}</string>
        <key>sourceSize</key>
        <string>{163,153}</string>
      </dict>
      <key>monster_0458_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,345},{167,161}}</string>
        <key>offset</key>
        <string>{-41,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,161}}</string>
        <key>sourceSize</key>
        <string>{167,161}</string>
      </dict>
      <key>monster_0458_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{170,159}}</string>
        <key>offset</key>
        <string>{-47,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,159}}</string>
        <key>sourceSize</key>
        <string>{170,159}</string>
      </dict>
      <key>monster_0458_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{168,156}}</string>
        <key>offset</key>
        <string>{-44,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,156}}</string>
        <key>sourceSize</key>
        <string>{168,156}</string>
      </dict>
      <key>monster_0458_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{164,159}}</string>
        <key>offset</key>
        <string>{-38,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,159}}</string>
        <key>sourceSize</key>
        <string>{164,159}</string>
      </dict>
      <key>monster_0458_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,1014},{163,159}}</string>
        <key>offset</key>
        <string>{-35,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,159}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>monster_0458_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,323},{138,154}}</string>
        <key>offset</key>
        <string>{-26,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,154}}</string>
        <key>sourceSize</key>
        <string>{138,154}</string>
      </dict>
      <key>monster_0458_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,322},{139,152}}</string>
        <key>offset</key>
        <string>{-24,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,152}}</string>
        <key>sourceSize</key>
        <string>{139,152}</string>
      </dict>
      <key>monster_0458_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,571},{145,144}}</string>
        <key>offset</key>
        <string>{-27,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,144}}</string>
        <key>sourceSize</key>
        <string>{145,144}</string>
      </dict>
      <key>monster_0458_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,958},{141,150}}</string>
        <key>offset</key>
        <string>{-25,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,150}}</string>
        <key>sourceSize</key>
        <string>{141,150}</string>
      </dict>
      <key>monster_0458_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,628},{140,148}}</string>
        <key>offset</key>
        <string>{-25,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,148}}</string>
        <key>sourceSize</key>
        <string>{140,148}</string>
      </dict>
      <key>monster_0458_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,1110},{142,150}}</string>
        <key>offset</key>
        <string>{-24,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,150}}</string>
        <key>sourceSize</key>
        <string>{142,150}</string>
      </dict>
      <key>monster_0458_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,996},{141,153}}</string>
        <key>offset</key>
        <string>{-23,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,153}}</string>
        <key>sourceSize</key>
        <string>{141,153}</string>
      </dict>
      <key>monster_0458_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,166},{137,154}}</string>
        <key>offset</key>
        <string>{-23,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,154}}</string>
        <key>sourceSize</key>
        <string>{137,154}</string>
      </dict>
      <key>monster_0458_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,335},{138,155}}</string>
        <key>offset</key>
        <string>{-21,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,155}}</string>
        <key>sourceSize</key>
        <string>{138,155}</string>
      </dict>
      <key>monster_0458_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,0},{129,154}}</string>
        <key>offset</key>
        <string>{-7,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,154}}</string>
        <key>sourceSize</key>
        <string>{129,154}</string>
      </dict>
      <key>monster_0458_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,1151},{125,153}}</string>
        <key>offset</key>
        <string>{0,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,153}}</string>
        <key>sourceSize</key>
        <string>{125,153}</string>
      </dict>
      <key>monster_0458_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,634},{147,150}}</string>
        <key>offset</key>
        <string>{-23,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,150}}</string>
        <key>sourceSize</key>
        <string>{147,150}</string>
      </dict>
      <key>monster_0458_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,476},{150,147}}</string>
        <key>offset</key>
        <string>{-29,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,147}}</string>
        <key>sourceSize</key>
        <string>{150,147}</string>
      </dict>
      <key>monster_0458_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,462},{139,148}}</string>
        <key>offset</key>
        <string>{-15,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,148}}</string>
        <key>sourceSize</key>
        <string>{139,148}</string>
      </dict>
      <key>monster_0458_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,156},{140,152}}</string>
        <key>offset</key>
        <string>{-15,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,152}}</string>
        <key>sourceSize</key>
        <string>{140,152}</string>
      </dict>
      <key>monster_0458_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,649},{145,153}}</string>
        <key>offset</key>
        <string>{-23,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,153}}</string>
        <key>sourceSize</key>
        <string>{145,153}</string>
      </dict>
      <key>monster_0458_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1115,717},{140,144}}</string>
        <key>offset</key>
        <string>{-26,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,144}}</string>
        <key>sourceSize</key>
        <string>{140,144}</string>
      </dict>
      <key>monster_0458_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,0},{140,147}}</string>
        <key>offset</key>
        <string>{-23,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,147}}</string>
        <key>sourceSize</key>
        <string>{140,147}</string>
      </dict>
      <key>monster_0458_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,310},{136,150}}</string>
        <key>offset</key>
        <string>{-19,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,150}}</string>
        <key>sourceSize</key>
        <string>{136,150}</string>
      </dict>
      <key>monster_0458_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,310},{136,148}}</string>
        <key>offset</key>
        <string>{-20,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,148}}</string>
        <key>sourceSize</key>
        <string>{136,148}</string>
      </dict>
      <key>monster_0458_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,154},{136,148}}</string>
        <key>offset</key>
        <string>{-22,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,148}}</string>
        <key>sourceSize</key>
        <string>{136,148}</string>
      </dict>
      <key>monster_0458_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,1134},{139,139}}</string>
        <key>offset</key>
        <string>{-22,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,139}}</string>
        <key>sourceSize</key>
        <string>{139,139}</string>
      </dict>
      <key>monster_0458_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,992},{141,140}}</string>
        <key>offset</key>
        <string>{-24,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,140}}</string>
        <key>sourceSize</key>
        <string>{141,140}</string>
      </dict>
      <key>monster_0458_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1096,859},{138,142}}</string>
        <key>offset</key>
        <string>{-23,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,142}}</string>
        <key>sourceSize</key>
        <string>{138,142}</string>
      </dict>
      <key>monster_0458_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{171,141}}</string>
        <key>offset</key>
        <string>{-46,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,141}}</string>
        <key>sourceSize</key>
        <string>{171,141}</string>
      </dict>
      <key>monster_0458_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,170},{167,139}}</string>
        <key>offset</key>
        <string>{-41,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,139}}</string>
        <key>sourceSize</key>
        <string>{167,139}</string>
      </dict>
      <key>monster_0458_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,849},{163,131}}</string>
        <key>offset</key>
        <string>{-37,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,131}}</string>
        <key>sourceSize</key>
        <string>{163,131}</string>
      </dict>
      <key>monster_0458_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,514},{165,142}}</string>
        <key>offset</key>
        <string>{-35,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,142}}</string>
        <key>sourceSize</key>
        <string>{165,142}</string>
      </dict>
      <key>monster_0458_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,339},{165,141}}</string>
        <key>offset</key>
        <string>{-32,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,141}}</string>
        <key>sourceSize</key>
        <string>{165,141}</string>
      </dict>
      <key>monster_0458_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{166,127}}</string>
        <key>offset</key>
        <string>{-33,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,127}}</string>
        <key>sourceSize</key>
        <string>{166,127}</string>
      </dict>
      <key>monster_0458_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,168},{165,132}}</string>
        <key>offset</key>
        <string>{-34,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,132}}</string>
        <key>sourceSize</key>
        <string>{165,132}</string>
      </dict>
      <key>monster_0458_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,514},{166,140}}</string>
        <key>offset</key>
        <string>{-39,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,140}}</string>
        <key>sourceSize</key>
        <string>{166,140}</string>
      </dict>
      <key>monster_0458_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,0},{152,148}}</string>
        <key>offset</key>
        <string>{-34,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,148}}</string>
        <key>sourceSize</key>
        <string>{152,148}</string>
      </dict>
      <key>monster_0458_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,166},{155,147}}</string>
        <key>offset</key>
        <string>{-38,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,147}}</string>
        <key>sourceSize</key>
        <string>{155,147}</string>
      </dict>
      <key>monster_0458_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,681},{156,137}}</string>
        <key>offset</key>
        <string>{-38,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,137}}</string>
        <key>sourceSize</key>
        <string>{156,137}</string>
      </dict>
      <key>monster_0458_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,427},{146,142}}</string>
        <key>offset</key>
        <string>{-27,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,142}}</string>
        <key>sourceSize</key>
        <string>{146,142}</string>
      </dict>
      <key>monster_0458_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,707},{137,145}}</string>
        <key>offset</key>
        <string>{-17,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,145}}</string>
        <key>sourceSize</key>
        <string>{137,145}</string>
      </dict>
      <key>monster_0458_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,571},{134,146}}</string>
        <key>offset</key>
        <string>{-16,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,146}}</string>
        <key>sourceSize</key>
        <string>{134,146}</string>
      </dict>
      <key>monster_0458_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,938},{139,148}}</string>
        <key>offset</key>
        <string>{-22,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,148}}</string>
        <key>sourceSize</key>
        <string>{139,148}</string>
      </dict>
      <key>monster_0458_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,142},{142,147}}</string>
        <key>offset</key>
        <string>{-25,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,147}}</string>
        <key>sourceSize</key>
        <string>{142,147}</string>
      </dict>
      <key>monster_0458_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,778},{127,148}}</string>
        <key>offset</key>
        <string>{-22,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,148}}</string>
        <key>sourceSize</key>
        <string>{127,148}</string>
      </dict>
      <key>monster_0458_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,612},{115,148}}</string>
        <key>offset</key>
        <string>{-13,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,148}}</string>
        <key>sourceSize</key>
        <string>{115,148}</string>
      </dict>
      <key>monster_0458_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,1112},{117,151}}</string>
        <key>offset</key>
        <string>{-17,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,151}}</string>
        <key>sourceSize</key>
        <string>{117,151}</string>
      </dict>
      <key>monster_0458_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,839},{123,155}}</string>
        <key>offset</key>
        <string>{-23,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,155}}</string>
        <key>sourceSize</key>
        <string>{123,155}</string>
      </dict>
      <key>monster_0458_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,506},{121,156}}</string>
        <key>offset</key>
        <string>{-20,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,156}}</string>
        <key>sourceSize</key>
        <string>{121,156}</string>
      </dict>
      <key>monster_0458_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,664},{114,155}}</string>
        <key>offset</key>
        <string>{-14,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,155}}</string>
        <key>sourceSize</key>
        <string>{114,155}</string>
      </dict>
      <key>monster_0458_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,492},{115,155}}</string>
        <key>offset</key>
        <string>{-15,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,155}}</string>
        <key>sourceSize</key>
        <string>{115,155}</string>
      </dict>
      <key>monster_0458_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,804},{122,152}}</string>
        <key>offset</key>
        <string>{-20,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,152}}</string>
        <key>sourceSize</key>
        <string>{122,152}</string>
      </dict>
      <key>monster_0458_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,286},{139,147}}</string>
        <key>offset</key>
        <string>{-18,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,147}}</string>
        <key>sourceSize</key>
        <string>{139,147}</string>
      </dict>
      <key>monster_0458_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,786},{133,150}}</string>
        <key>offset</key>
        <string>{-15,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,150}}</string>
        <key>sourceSize</key>
        <string>{133,150}</string>
      </dict>
      <key>monster_0458_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,0},{135,154}}</string>
        <key>offset</key>
        <string>{-19,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,154}}</string>
        <key>sourceSize</key>
        <string>{135,154}</string>
      </dict>
      <key>monster_0458_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,958},{141,152}}</string>
        <key>offset</key>
        <string>{-26,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,152}}</string>
        <key>sourceSize</key>
        <string>{141,152}</string>
      </dict>
      <key>monster_0458_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,1112},{151,150}}</string>
        <key>offset</key>
        <string>{-36,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,150}}</string>
        <key>sourceSize</key>
        <string>{151,150}</string>
      </dict>
      <key>monster_0458_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,479},{153,150}}</string>
        <key>offset</key>
        <string>{-39,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,150}}</string>
        <key>sourceSize</key>
        <string>{153,150}</string>
      </dict>
      <key>monster_0458_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,804},{152,147}}</string>
        <key>offset</key>
        <string>{-37,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,147}}</string>
        <key>sourceSize</key>
        <string>{152,147}</string>
      </dict>
      <key>monster_0458_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,846},{144,144}}</string>
        <key>offset</key>
        <string>{-26,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,144}}</string>
        <key>sourceSize</key>
        <string>{144,144}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0458_0_1.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>monster_0458_0_1.png</string>
    </dict>
  </dict>
</plist>