<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1014_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1072,490},{214,200}}</string>
        <key>offset</key>
        <string>{-46,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,200}}</string>
        <key>sourceSize</key>
        <string>{214,200}</string>
      </dict>
      <key>monster_1014_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,0},{313,212}}</string>
        <key>offset</key>
        <string>{-41,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,212}}</string>
        <key>sourceSize</key>
        <string>{313,212}</string>
      </dict>
      <key>monster_1014_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,588},{181,257}}</string>
        <key>offset</key>
        <string>{-56,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,257}}</string>
        <key>sourceSize</key>
        <string>{181,257}</string>
      </dict>
      <key>monster_1014_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1056,994},{199,192}}</string>
        <key>offset</key>
        <string>{-88,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,192}}</string>
        <key>sourceSize</key>
        <string>{199,192}</string>
      </dict>
      <key>monster_1014_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,340},{324,277}}</string>
        <key>offset</key>
        <string>{-78,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,277}}</string>
        <key>sourceSize</key>
        <string>{324,277}</string>
      </dict>
      <key>monster_1014_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,946},{272,226}}</string>
        <key>offset</key>
        <string>{-175,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,226}}</string>
        <key>sourceSize</key>
        <string>{272,226}</string>
      </dict>
      <key>monster_1014_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,663},{172,225}}</string>
        <key>offset</key>
        <string>{-63,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,225}}</string>
        <key>sourceSize</key>
        <string>{172,225}</string>
      </dict>
      <key>monster_1014_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,1092},{173,237}}</string>
        <key>offset</key>
        <string>{-22,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,237}}</string>
        <key>sourceSize</key>
        <string>{173,237}</string>
      </dict>
      <key>monster_1014_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,666},{182,278}}</string>
        <key>offset</key>
        <string>{-31,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,278}}</string>
        <key>sourceSize</key>
        <string>{182,278}</string>
      </dict>
      <key>monster_1014_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,666},{237,302}}</string>
        <key>offset</key>
        <string>{-65,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,302}}</string>
        <key>sourceSize</key>
        <string>{237,302}</string>
      </dict>
      <key>monster_1014_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,262},{253,234}}</string>
        <key>offset</key>
        <string>{-150,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,234}}</string>
        <key>sourceSize</key>
        <string>{253,234}</string>
      </dict>
      <key>monster_1014_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{345,234}}</string>
        <key>offset</key>
        <string>{-72,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,234}}</string>
        <key>sourceSize</key>
        <string>{345,234}</string>
      </dict>
      <key>monster_1014_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,208},{245,234}}</string>
        <key>offset</key>
        <string>{-94,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,234}}</string>
        <key>sourceSize</key>
        <string>{245,234}</string>
      </dict>
      <key>monster_1014_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,444},{217,230}}</string>
        <key>offset</key>
        <string>{-49,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,230}}</string>
        <key>sourceSize</key>
        <string>{217,230}</string>
      </dict>
      <key>monster_1014_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,315},{170,271}}</string>
        <key>offset</key>
        <string>{-43,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,271}}</string>
        <key>sourceSize</key>
        <string>{170,271}</string>
      </dict>
      <key>monster_1014_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,0},{259,260}}</string>
        <key>offset</key>
        <string>{-93,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,260}}</string>
        <key>sourceSize</key>
        <string>{259,260}</string>
      </dict>
      <key>monster_1014_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,703},{237,329}}</string>
        <key>offset</key>
        <string>{-71,273}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,329}}</string>
        <key>sourceSize</key>
        <string>{237,329}</string>
      </dict>
      <key>monster_1014_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,970},{269,297}}</string>
        <key>offset</key>
        <string>{-113,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,297}}</string>
        <key>sourceSize</key>
        <string>{269,297}</string>
      </dict>
      <key>monster_1014_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,756},{236,235}}</string>
        <key>offset</key>
        <string>{-24,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,235}}</string>
        <key>sourceSize</key>
        <string>{236,235}</string>
      </dict>
      <key>monster_1014_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,0},{246,229}}</string>
        <key>offset</key>
        <string>{-43,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,229}}</string>
        <key>sourceSize</key>
        <string>{246,229}</string>
      </dict>
      <key>monster_1014_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,847},{243,223}}</string>
        <key>offset</key>
        <string>{-28,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,223}}</string>
        <key>sourceSize</key>
        <string>{243,223}</string>
      </dict>
      <key>monster_1014_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,0},{206,246}}</string>
        <key>offset</key>
        <string>{-57,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,246}}</string>
        <key>sourceSize</key>
        <string>{206,246}</string>
      </dict>
      <key>monster_1014_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{354,224}}</string>
        <key>offset</key>
        <string>{-192,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,224}}</string>
        <key>sourceSize</key>
        <string>{354,224}</string>
      </dict>
      <key>monster_1014_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{203,338}}</string>
        <key>offset</key>
        <string>{-42,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,338}}</string>
        <key>sourceSize</key>
        <string>{203,338}</string>
      </dict>
      <key>monster_1014_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1034},{231,316}}</string>
        <key>offset</key>
        <string>{-59,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,316}}</string>
        <key>sourceSize</key>
        <string>{231,316}</string>
      </dict>
      <key>monster_1014_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,837},{208,215}}</string>
        <key>offset</key>
        <string>{-42,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,215}}</string>
        <key>sourceSize</key>
        <string>{208,215}</string>
      </dict>
      <key>monster_1014_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,248},{240,205}}</string>
        <key>offset</key>
        <string>{-44,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,205}}</string>
        <key>sourceSize</key>
        <string>{240,205}</string>
      </dict>
      <key>monster_1014_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,517},{237,225}}</string>
        <key>offset</key>
        <string>{-43,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,225}}</string>
        <key>sourceSize</key>
        <string>{237,225}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1014_0_2_0.png</string>
      <key>size</key>
      <string>{1536,1280}</string>
      <key>textureFileName</key>
      <string>monster_1014_0_2_0.png</string>
    </dict>
  </dict>
</plist>