<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0323_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,423},{87,97}}</string>
        <key>offset</key>
        <string>{-14,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,97}}</string>
        <key>sourceSize</key>
        <string>{87,97}</string>
      </dict>
      <key>monster_0323_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,197},{85,90}}</string>
        <key>offset</key>
        <string>{-14,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,90}}</string>
        <key>sourceSize</key>
        <string>{85,90}</string>
      </dict>
      <key>monster_0323_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,289},{83,70}}</string>
        <key>offset</key>
        <string>{-13,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,70}}</string>
        <key>sourceSize</key>
        <string>{83,70}</string>
      </dict>
      <key>monster_0323_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{90,98}}</string>
        <key>offset</key>
        <string>{-8,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,98}}</string>
        <key>sourceSize</key>
        <string>{90,98}</string>
      </dict>
      <key>monster_0323_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,204},{88,93}}</string>
        <key>offset</key>
        <string>{-17,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,93}}</string>
        <key>sourceSize</key>
        <string>{88,93}</string>
      </dict>
      <key>monster_0323_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,429},{90,74}}</string>
        <key>offset</key>
        <string>{-21,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,74}}</string>
        <key>sourceSize</key>
        <string>{90,74}</string>
      </dict>
      <key>monster_0323_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{88,96}}</string>
        <key>offset</key>
        <string>{1,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,96}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>monster_0323_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,299},{74,92}}</string>
        <key>offset</key>
        <string>{0,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,92}}</string>
        <key>sourceSize</key>
        <string>{74,92}</string>
      </dict>
      <key>monster_0323_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,393},{87,83}}</string>
        <key>offset</key>
        <string>{-17,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,83}}</string>
        <key>sourceSize</key>
        <string>{87,83}</string>
      </dict>
      <key>monster_0323_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,103},{97,99}}</string>
        <key>offset</key>
        <string>{-1,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,99}}</string>
        <key>sourceSize</key>
        <string>{97,99}</string>
      </dict>
      <key>monster_0323_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,100},{88,95}}</string>
        <key>offset</key>
        <string>{-3,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,95}}</string>
        <key>sourceSize</key>
        <string>{88,95}</string>
      </dict>
      <key>monster_0323_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,423},{87,95}}</string>
        <key>offset</key>
        <string>{-5,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,95}}</string>
        <key>sourceSize</key>
        <string>{87,95}</string>
      </dict>
      <key>monster_0323_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{91,103}}</string>
        <key>offset</key>
        <string>{0,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,103}}</string>
        <key>sourceSize</key>
        <string>{91,103}</string>
      </dict>
      <key>monster_0323_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{90,99}}</string>
        <key>offset</key>
        <string>{0,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,99}}</string>
        <key>sourceSize</key>
        <string>{90,99}</string>
      </dict>
      <key>monster_0323_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{88,101}}</string>
        <key>offset</key>
        <string>{0,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,101}}</string>
        <key>sourceSize</key>
        <string>{88,101}</string>
      </dict>
      <key>monster_0323_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,106}}</string>
        <key>offset</key>
        <string>{-16,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,106}}</string>
        <key>sourceSize</key>
        <string>{101,106}</string>
      </dict>
      <key>monster_0323_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,108},{99,102}}</string>
        <key>offset</key>
        <string>{-6,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,102}}</string>
        <key>sourceSize</key>
        <string>{99,102}</string>
      </dict>
      <key>monster_0323_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,321},{99,100}}</string>
        <key>offset</key>
        <string>{-4,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,100}}</string>
        <key>sourceSize</key>
        <string>{99,100}</string>
      </dict>
      <key>monster_0323_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,90},{94,96}}</string>
        <key>offset</key>
        <string>{-22,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,96}}</string>
        <key>sourceSize</key>
        <string>{94,96}</string>
      </dict>
      <key>monster_0323_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,314},{89,94}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,94}}</string>
        <key>sourceSize</key>
        <string>{89,94}</string>
      </dict>
      <key>monster_0323_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{106,83}}</string>
        <key>offset</key>
        <string>{-5,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,83}}</string>
        <key>sourceSize</key>
        <string>{106,83}</string>
      </dict>
      <key>monster_0323_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,216},{103,97}}</string>
        <key>offset</key>
        <string>{-30,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,97}}</string>
        <key>sourceSize</key>
        <string>{103,97}</string>
      </dict>
      <key>monster_0323_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,212},{100,92}}</string>
        <key>offset</key>
        <string>{-20,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,92}}</string>
        <key>sourceSize</key>
        <string>{100,92}</string>
      </dict>
      <key>monster_0323_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{106,74}}</string>
        <key>offset</key>
        <string>{-18,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,74}}</string>
        <key>sourceSize</key>
        <string>{106,74}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0323_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_0323_0_7.png</string>
    </dict>
  </dict>
</plist>