<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0415_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{89,84}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,84}}</string>
        <key>sourceSize</key>
        <string>{89,84}</string>
      </dict>
      <key>monster_0415_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,428},{73,78}}</string>
        <key>offset</key>
        <string>{-3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,78}}</string>
        <key>sourceSize</key>
        <string>{73,78}</string>
      </dict>
      <key>monster_0415_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,264},{77,79}}</string>
        <key>offset</key>
        <string>{-6,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,79}}</string>
        <key>sourceSize</key>
        <string>{77,79}</string>
      </dict>
      <key>monster_0415_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,393},{115,83}}</string>
        <key>offset</key>
        <string>{-16,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,83}}</string>
        <key>sourceSize</key>
        <string>{115,83}</string>
      </dict>
      <key>monster_0415_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,304},{92,74}}</string>
        <key>offset</key>
        <string>{-26,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,74}}</string>
        <key>sourceSize</key>
        <string>{92,74}</string>
      </dict>
      <key>monster_0415_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,0},{81,84}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,84}}</string>
        <key>sourceSize</key>
        <string>{81,84}</string>
      </dict>
      <key>monster_0415_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,360},{81,74}}</string>
        <key>offset</key>
        <string>{3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,74}}</string>
        <key>sourceSize</key>
        <string>{81,74}</string>
      </dict>
      <key>monster_0415_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,264},{77,80}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,80}}</string>
        <key>sourceSize</key>
        <string>{77,80}</string>
      </dict>
      <key>monster_0415_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{103,91}}</string>
        <key>offset</key>
        <string>{1,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,91}}</string>
        <key>sourceSize</key>
        <string>{103,91}</string>
      </dict>
      <key>monster_0415_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{121,63}}</string>
        <key>offset</key>
        <string>{4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,63}}</string>
        <key>sourceSize</key>
        <string>{121,63}</string>
      </dict>
      <key>monster_0415_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,95},{75,90}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,90}}</string>
        <key>sourceSize</key>
        <string>{75,90}</string>
      </dict>
      <key>monster_0415_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,345},{78,73}}</string>
        <key>offset</key>
        <string>{0,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,73}}</string>
        <key>sourceSize</key>
        <string>{78,73}</string>
      </dict>
      <key>monster_0415_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,274},{70,84}}</string>
        <key>offset</key>
        <string>{-3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,84}}</string>
        <key>sourceSize</key>
        <string>{70,84}</string>
      </dict>
      <key>monster_0415_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,207},{84,95}}</string>
        <key>offset</key>
        <string>{4,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,95}}</string>
        <key>sourceSize</key>
        <string>{84,95}</string>
      </dict>
      <key>monster_0415_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{133,48}}</string>
        <key>offset</key>
        <string>{12,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,48}}</string>
        <key>sourceSize</key>
        <string>{133,48}</string>
      </dict>
      <key>monster_0415_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,398},{86,85}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,85}}</string>
        <key>sourceSize</key>
        <string>{86,85}</string>
      </dict>
      <key>monster_0415_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,178},{84,82}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,82}}</string>
        <key>sourceSize</key>
        <string>{84,82}</string>
      </dict>
      <key>monster_0415_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,86},{75,84}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>monster_0415_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,105},{95,81}}</string>
        <key>offset</key>
        <string>{-16,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,81}}</string>
        <key>sourceSize</key>
        <string>{95,81}</string>
      </dict>
      <key>monster_0415_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,244},{102,70}}</string>
        <key>offset</key>
        <string>{0,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,70}}</string>
        <key>sourceSize</key>
        <string>{102,70}</string>
      </dict>
      <key>monster_0415_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{93,74}}</string>
        <key>offset</key>
        <string>{-21,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,74}}</string>
        <key>sourceSize</key>
        <string>{93,74}</string>
      </dict>
      <key>monster_0415_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,425},{77,78}}</string>
        <key>offset</key>
        <string>{-10,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,78}}</string>
        <key>sourceSize</key>
        <string>{77,78}</string>
      </dict>
      <key>monster_0415_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,0},{84,74}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,74}}</string>
        <key>sourceSize</key>
        <string>{84,74}</string>
      </dict>
      <key>monster_0415_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,123},{119,58}}</string>
        <key>offset</key>
        <string>{-46,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,58}}</string>
        <key>sourceSize</key>
        <string>{119,58}</string>
      </dict>
      <key>monster_0415_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,202},{91,80}}</string>
        <key>offset</key>
        <string>{-21,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,80}}</string>
        <key>sourceSize</key>
        <string>{91,80}</string>
      </dict>
      <key>monster_0415_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,295},{86,82}}</string>
        <key>offset</key>
        <string>{-23,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,82}}</string>
        <key>sourceSize</key>
        <string>{86,82}</string>
      </dict>
      <key>monster_0415_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,398},{88,73}}</string>
        <key>offset</key>
        <string>{-27,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,73}}</string>
        <key>sourceSize</key>
        <string>{88,73}</string>
      </dict>
      <key>monster_0415_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,187},{85,80}}</string>
        <key>offset</key>
        <string>{-22,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,80}}</string>
        <key>sourceSize</key>
        <string>{85,80}</string>
      </dict>
      <key>monster_0415_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,105},{100,66}}</string>
        <key>offset</key>
        <string>{-44,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,66}}</string>
        <key>sourceSize</key>
        <string>{100,66}</string>
      </dict>
      <key>monster_0415_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{121,56}}</string>
        <key>offset</key>
        <string>{-81,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,56}}</string>
        <key>sourceSize</key>
        <string>{121,56}</string>
      </dict>
      <key>monster_0415_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,0},{65,84}}</string>
        <key>offset</key>
        <string>{-2,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,84}}</string>
        <key>sourceSize</key>
        <string>{65,84}</string>
      </dict>
      <key>monster_0415_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,67},{84,73}}</string>
        <key>offset</key>
        <string>{-20,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,73}}</string>
        <key>sourceSize</key>
        <string>{84,73}</string>
      </dict>
      <key>monster_0415_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,443},{66,81}}</string>
        <key>offset</key>
        <string>{-6,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,81}}</string>
        <key>sourceSize</key>
        <string>{66,81}</string>
      </dict>
      <key>monster_0415_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,428},{63,79}}</string>
        <key>offset</key>
        <string>{-19,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,79}}</string>
        <key>sourceSize</key>
        <string>{63,79}</string>
      </dict>
      <key>monster_0415_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{133,54}}</string>
        <key>offset</key>
        <string>{-101,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,54}}</string>
        <key>sourceSize</key>
        <string>{133,54}</string>
      </dict>
      <key>monster_0415_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,91},{85,78}}</string>
        <key>offset</key>
        <string>{-14,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0415_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,142},{82,71}}</string>
        <key>offset</key>
        <string>{-15,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,71}}</string>
        <key>sourceSize</key>
        <string>{82,71}</string>
      </dict>
      <key>monster_0415_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,215},{77,73}}</string>
        <key>offset</key>
        <string>{-9,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,73}}</string>
        <key>sourceSize</key>
        <string>{77,73}</string>
      </dict>
      <key>monster_0415_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,346},{80,79}}</string>
        <key>offset</key>
        <string>{-15,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,79}}</string>
        <key>sourceSize</key>
        <string>{80,79}</string>
      </dict>
      <key>monster_0415_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,348},{99,63}}</string>
        <key>offset</key>
        <string>{-55,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,63}}</string>
        <key>sourceSize</key>
        <string>{99,63}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0415_0_4.png</string>
      <key>size</key>
      <string>{640,512}</string>
      <key>textureFileName</key>
      <string>monster_0415_0_4.png</string>
    </dict>
  </dict>
</plist>