<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0382_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,701},{439,336}}</string>
        <key>offset</key>
        <string>{-176,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,336}}</string>
        <key>sourceSize</key>
        <string>{439,336}</string>
      </dict>
      <key>monster_0382_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,974},{408,333}}</string>
        <key>offset</key>
        <string>{-182,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,333}}</string>
        <key>sourceSize</key>
        <string>{408,333}</string>
      </dict>
      <key>monster_0382_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,496},{476,366}}</string>
        <key>offset</key>
        <string>{-215,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{476,366}}</string>
        <key>sourceSize</key>
        <string>{476,366}</string>
      </dict>
      <key>monster_0382_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{494,269}}</string>
        <key>offset</key>
        <string>{-203,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,269}}</string>
        <key>sourceSize</key>
        <string>{494,269}</string>
      </dict>
      <key>monster_0382_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{469,270}}</string>
        <key>offset</key>
        <string>{-200,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{469,270}}</string>
        <key>sourceSize</key>
        <string>{469,270}</string>
      </dict>
      <key>monster_0382_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,1074},{367,360}}</string>
        <key>offset</key>
        <string>{-141,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,360}}</string>
        <key>sourceSize</key>
        <string>{367,360}</string>
      </dict>
      <key>monster_0382_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,1074},{337,375}}</string>
        <key>offset</key>
        <string>{-119,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,375}}</string>
        <key>sourceSize</key>
        <string>{337,375}</string>
      </dict>
      <key>monster_0382_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,0},{449,380}}</string>
        <key>offset</key>
        <string>{-189,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,380}}</string>
        <key>sourceSize</key>
        <string>{449,380}</string>
      </dict>
      <key>monster_0382_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,382},{444,317}}</string>
        <key>offset</key>
        <string>{-170,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,317}}</string>
        <key>sourceSize</key>
        <string>{444,317}</string>
      </dict>
      <key>monster_0382_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,701},{430,371}}</string>
        <key>offset</key>
        <string>{-158,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{430,371}}</string>
        <key>sourceSize</key>
        <string>{430,371}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0382_0_4_0.png</string>
      <key>size</key>
      <string>{1449,1447}</string>
      <key>textureFileName</key>
      <string>monster_0382_0_4_0.png</string>
    </dict>
  </dict>
</plist>