<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0415_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,295},{67,88}}</string>
        <key>offset</key>
        <string>{1,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,88}}</string>
        <key>sourceSize</key>
        <string>{67,88}</string>
      </dict>
      <key>monster_0415_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,93},{72,85}}</string>
        <key>offset</key>
        <string>{-2,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,85}}</string>
        <key>sourceSize</key>
        <string>{72,85}</string>
      </dict>
      <key>monster_0415_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,295},{72,89}}</string>
        <key>offset</key>
        <string>{-2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,89}}</string>
        <key>sourceSize</key>
        <string>{72,89}</string>
      </dict>
      <key>monster_0415_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,190},{70,88}}</string>
        <key>offset</key>
        <string>{-2,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,88}}</string>
        <key>sourceSize</key>
        <string>{70,88}</string>
      </dict>
      <key>monster_0415_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,87},{66,84}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,84}}</string>
        <key>sourceSize</key>
        <string>{66,84}</string>
      </dict>
      <key>monster_0415_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{65,89}}</string>
        <key>offset</key>
        <string>{3,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,89}}</string>
        <key>sourceSize</key>
        <string>{65,89}</string>
      </dict>
      <key>monster_0415_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{91,79}}</string>
        <key>offset</key>
        <string>{-10,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,79}}</string>
        <key>sourceSize</key>
        <string>{91,79}</string>
      </dict>
      <key>monster_0415_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{77,79}}</string>
        <key>offset</key>
        <string>{6,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,79}}</string>
        <key>sourceSize</key>
        <string>{77,79}</string>
      </dict>
      <key>monster_0415_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,269},{80,82}}</string>
        <key>offset</key>
        <string>{3,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,82}}</string>
        <key>sourceSize</key>
        <string>{80,82}</string>
      </dict>
      <key>monster_0415_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,355},{83,80}}</string>
        <key>offset</key>
        <string>{-2,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,80}}</string>
        <key>sourceSize</key>
        <string>{83,80}</string>
      </dict>
      <key>monster_0415_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,79},{78,78}}</string>
        <key>offset</key>
        <string>{5,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>monster_0415_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,280},{87,81}}</string>
        <key>offset</key>
        <string>{-3,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,81}}</string>
        <key>sourceSize</key>
        <string>{87,81}</string>
      </dict>
      <key>monster_0415_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{97,74}}</string>
        <key>offset</key>
        <string>{-14,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,74}}</string>
        <key>sourceSize</key>
        <string>{97,74}</string>
      </dict>
      <key>monster_0415_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,369},{84,76}}</string>
        <key>offset</key>
        <string>{2,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,76}}</string>
        <key>sourceSize</key>
        <string>{84,76}</string>
      </dict>
      <key>monster_0415_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{94,76}}</string>
        <key>offset</key>
        <string>{-8,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,76}}</string>
        <key>sourceSize</key>
        <string>{94,76}</string>
      </dict>
      <key>monster_0415_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,74}}</string>
        <key>offset</key>
        <string>{-14,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,74}}</string>
        <key>sourceSize</key>
        <string>{98,74}</string>
      </dict>
      <key>monster_0415_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,93},{86,73}}</string>
        <key>offset</key>
        <string>{-1,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,73}}</string>
        <key>sourceSize</key>
        <string>{86,73}</string>
      </dict>
      <key>monster_0415_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,96},{92,74}}</string>
        <key>offset</key>
        <string>{-7,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,74}}</string>
        <key>sourceSize</key>
        <string>{92,74}</string>
      </dict>
      <key>monster_0415_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,0},{80,68}}</string>
        <key>offset</key>
        <string>{-5,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,68}}</string>
        <key>sourceSize</key>
        <string>{80,68}</string>
      </dict>
      <key>monster_0415_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,437},{81,72}}</string>
        <key>offset</key>
        <string>{-4,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,72}}</string>
        <key>sourceSize</key>
        <string>{81,72}</string>
      </dict>
      <key>monster_0415_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,173},{81,73}}</string>
        <key>offset</key>
        <string>{-4,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,73}}</string>
        <key>sourceSize</key>
        <string>{81,73}</string>
      </dict>
      <key>monster_0415_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,269},{84,69}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,69}}</string>
        <key>sourceSize</key>
        <string>{84,69}</string>
      </dict>
      <key>monster_0415_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,170},{80,68}}</string>
        <key>offset</key>
        <string>{-4,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,68}}</string>
        <key>sourceSize</key>
        <string>{80,68}</string>
      </dict>
      <key>monster_0415_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,252},{80,67}}</string>
        <key>offset</key>
        <string>{-3,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,67}}</string>
        <key>sourceSize</key>
        <string>{80,67}</string>
      </dict>
      <key>monster_0415_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,363},{73,70}}</string>
        <key>offset</key>
        <string>{-13,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,70}}</string>
        <key>sourceSize</key>
        <string>{73,70}</string>
      </dict>
      <key>monster_0415_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,159},{77,62}}</string>
        <key>offset</key>
        <string>{-14,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,62}}</string>
        <key>sourceSize</key>
        <string>{77,62}</string>
      </dict>
      <key>monster_0415_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,161},{77,63}}</string>
        <key>offset</key>
        <string>{-13,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,63}}</string>
        <key>sourceSize</key>
        <string>{77,63}</string>
      </dict>
      <key>monster_0415_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,435},{73,62}}</string>
        <key>offset</key>
        <string>{-11,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,62}}</string>
        <key>sourceSize</key>
        <string>{73,62}</string>
      </dict>
      <key>monster_0415_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,0},{71,71}}</string>
        <key>offset</key>
        <string>{-10,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>monster_0415_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,81},{72,78}}</string>
        <key>offset</key>
        <string>{-11,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,78}}</string>
        <key>sourceSize</key>
        <string>{72,78}</string>
      </dict>
      <key>monster_0415_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,334},{80,70}}</string>
        <key>offset</key>
        <string>{-18,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,70}}</string>
        <key>sourceSize</key>
        <string>{80,70}</string>
      </dict>
      <key>monster_0415_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,435},{73,67}}</string>
        <key>offset</key>
        <string>{-22,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,67}}</string>
        <key>sourceSize</key>
        <string>{73,67}</string>
      </dict>
      <key>monster_0415_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,226},{76,66}}</string>
        <key>offset</key>
        <string>{-25,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,66}}</string>
        <key>sourceSize</key>
        <string>{76,66}</string>
      </dict>
      <key>monster_0415_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,293},{75,68}}</string>
        <key>offset</key>
        <string>{-20,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,68}}</string>
        <key>sourceSize</key>
        <string>{75,68}</string>
      </dict>
      <key>monster_0415_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,294},{71,73}}</string>
        <key>offset</key>
        <string>{-18,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,73}}</string>
        <key>sourceSize</key>
        <string>{71,73}</string>
      </dict>
      <key>monster_0415_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,294},{69,74}}</string>
        <key>offset</key>
        <string>{-14,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>monster_0415_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,190},{87,66}}</string>
        <key>offset</key>
        <string>{-21,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,66}}</string>
        <key>sourceSize</key>
        <string>{87,66}</string>
      </dict>
      <key>monster_0415_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,0},{79,68}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,68}}</string>
        <key>sourceSize</key>
        <string>{79,68}</string>
      </dict>
      <key>monster_0415_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,223},{77,68}}</string>
        <key>offset</key>
        <string>{-17,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,68}}</string>
        <key>sourceSize</key>
        <string>{77,68}</string>
      </dict>
      <key>monster_0415_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,440},{82,68}}</string>
        <key>offset</key>
        <string>{-16,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,68}}</string>
        <key>sourceSize</key>
        <string>{82,68}</string>
      </dict>
      <key>monster_0415_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{85,69}}</string>
        <key>offset</key>
        <string>{-19,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,69}}</string>
        <key>sourceSize</key>
        <string>{85,69}</string>
      </dict>
      <key>monster_0415_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{94,69}}</string>
        <key>offset</key>
        <string>{-25,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,69}}</string>
        <key>sourceSize</key>
        <string>{94,69}</string>
      </dict>
      <key>monster_0415_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{85,85}}</string>
        <key>offset</key>
        <string>{-16,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,85}}</string>
        <key>sourceSize</key>
        <string>{85,85}</string>
      </dict>
      <key>monster_0415_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,416},{80,80}}</string>
        <key>offset</key>
        <string>{-13,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>monster_0415_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,353},{77,82}}</string>
        <key>offset</key>
        <string>{-11,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,82}}</string>
        <key>sourceSize</key>
        <string>{77,82}</string>
      </dict>
      <key>monster_0415_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,87},{81,81}}</string>
        <key>offset</key>
        <string>{-14,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>monster_0415_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,181},{86,83}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,83}}</string>
        <key>sourceSize</key>
        <string>{86,83}</string>
      </dict>
      <key>monster_0415_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,386},{89,86}}</string>
        <key>offset</key>
        <string>{-18,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,86}}</string>
        <key>sourceSize</key>
        <string>{89,86}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0415_0_1.png</string>
      <key>size</key>
      <string>{710,514}</string>
      <key>textureFileName</key>
      <string>monster_0415_0_1.png</string>
    </dict>
  </dict>
</plist>