<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0186_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,311},{57,58}}</string>
        <key>offset</key>
        <string>{-3,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,58}}</string>
        <key>sourceSize</key>
        <string>{57,58}</string>
      </dict>
      <key>monster_0186_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,153},{56,58}}</string>
        <key>offset</key>
        <string>{-3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>monster_0186_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,211},{55,58}}</string>
        <key>offset</key>
        <string>{-2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,58}}</string>
        <key>sourceSize</key>
        <string>{55,58}</string>
      </dict>
      <key>monster_0186_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,268},{56,58}}</string>
        <key>offset</key>
        <string>{-3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>monster_0186_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,157},{75,56}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,56}}</string>
        <key>sourceSize</key>
        <string>{75,56}</string>
      </dict>
      <key>monster_0186_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,164},{77,57}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,57}}</string>
        <key>sourceSize</key>
        <string>{77,57}</string>
      </dict>
      <key>monster_0186_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,243},{77,57}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,57}}</string>
        <key>sourceSize</key>
        <string>{77,57}</string>
      </dict>
      <key>monster_0186_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,322},{77,57}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,57}}</string>
        <key>sourceSize</key>
        <string>{77,57}</string>
      </dict>
      <key>monster_0186_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{82,50}}</string>
        <key>offset</key>
        <string>{-7,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,50}}</string>
        <key>sourceSize</key>
        <string>{82,50}</string>
      </dict>
      <key>monster_0186_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,84},{81,50}}</string>
        <key>offset</key>
        <string>{-7,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,50}}</string>
        <key>sourceSize</key>
        <string>{81,50}</string>
      </dict>
      <key>monster_0186_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,167},{81,50}}</string>
        <key>offset</key>
        <string>{-8,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,50}}</string>
        <key>sourceSize</key>
        <string>{81,50}</string>
      </dict>
      <key>monster_0186_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{81,50}}</string>
        <key>offset</key>
        <string>{-7,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,50}}</string>
        <key>sourceSize</key>
        <string>{81,50}</string>
      </dict>
      <key>monster_0186_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,78},{75,54}}</string>
        <key>offset</key>
        <string>{-6,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,54}}</string>
        <key>sourceSize</key>
        <string>{75,54}</string>
      </dict>
      <key>monster_0186_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,79},{76,54}}</string>
        <key>offset</key>
        <string>{-6,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,54}}</string>
        <key>sourceSize</key>
        <string>{76,54}</string>
      </dict>
      <key>monster_0186_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{77,55}}</string>
        <key>offset</key>
        <string>{-6,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,55}}</string>
        <key>sourceSize</key>
        <string>{77,55}</string>
      </dict>
      <key>monster_0186_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,79},{76,54}}</string>
        <key>offset</key>
        <string>{-6,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,54}}</string>
        <key>sourceSize</key>
        <string>{76,54}</string>
      </dict>
      <key>monster_0186_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,326},{57,58}}</string>
        <key>offset</key>
        <string>{-3,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,58}}</string>
        <key>sourceSize</key>
        <string>{57,58}</string>
      </dict>
      <key>monster_0186_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,76},{56,57}}</string>
        <key>offset</key>
        <string>{-3,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>monster_0186_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,135},{56,56}}</string>
        <key>offset</key>
        <string>{-3,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>monster_0186_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,0},{56,57}}</string>
        <key>offset</key>
        <string>{-3,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>monster_0186_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,155},{74,54}}</string>
        <key>offset</key>
        <string>{-16,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,54}}</string>
        <key>sourceSize</key>
        <string>{74,54}</string>
      </dict>
      <key>monster_0186_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{75,54}}</string>
        <key>offset</key>
        <string>{-17,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,54}}</string>
        <key>sourceSize</key>
        <string>{75,54}</string>
      </dict>
      <key>monster_0186_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{76,54}}</string>
        <key>offset</key>
        <string>{-18,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,54}}</string>
        <key>sourceSize</key>
        <string>{76,54}</string>
      </dict>
      <key>monster_0186_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,234},{75,54}}</string>
        <key>offset</key>
        <string>{-17,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,54}}</string>
        <key>sourceSize</key>
        <string>{75,54}</string>
      </dict>
      <key>monster_0186_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,250},{81,50}}</string>
        <key>offset</key>
        <string>{-21,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,50}}</string>
        <key>sourceSize</key>
        <string>{81,50}</string>
      </dict>
      <key>monster_0186_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,0},{80,50}}</string>
        <key>offset</key>
        <string>{-20,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,50}}</string>
        <key>sourceSize</key>
        <string>{80,50}</string>
      </dict>
      <key>monster_0186_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,164},{79,50}}</string>
        <key>offset</key>
        <string>{-19,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,50}}</string>
        <key>sourceSize</key>
        <string>{79,50}</string>
      </dict>
      <key>monster_0186_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,82},{80,50}}</string>
        <key>offset</key>
        <string>{-20,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,50}}</string>
        <key>sourceSize</key>
        <string>{80,50}</string>
      </dict>
      <key>monster_0186_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,77},{74,56}}</string>
        <key>offset</key>
        <string>{-16,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,56}}</string>
        <key>sourceSize</key>
        <string>{74,56}</string>
      </dict>
      <key>monster_0186_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,311},{75,56}}</string>
        <key>offset</key>
        <string>{-17,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,56}}</string>
        <key>sourceSize</key>
        <string>{75,56}</string>
      </dict>
      <key>monster_0186_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,0},{74,56}}</string>
        <key>offset</key>
        <string>{-17,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,56}}</string>
        <key>sourceSize</key>
        <string>{74,56}</string>
      </dict>
      <key>monster_0186_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,234},{75,56}}</string>
        <key>offset</key>
        <string>{-17,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,56}}</string>
        <key>sourceSize</key>
        <string>{75,56}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0186_0_0.png</string>
      <key>size</key>
      <string>{440,386}</string>
      <key>textureFileName</key>
      <string>monster_0186_0_0.png</string>
    </dict>
  </dict>
</plist>