<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0031_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{133,103}}</string>
        <key>offset</key>
        <string>{-28,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,103}}</string>
        <key>sourceSize</key>
        <string>{133,103}</string>
      </dict>
      <key>monster_0031_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,671},{131,106}}</string>
        <key>offset</key>
        <string>{-28,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,106}}</string>
        <key>sourceSize</key>
        <string>{131,106}</string>
      </dict>
      <key>monster_0031_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,537},{131,108}}</string>
        <key>offset</key>
        <string>{-27,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,108}}</string>
        <key>sourceSize</key>
        <string>{131,108}</string>
      </dict>
      <key>monster_0031_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,403},{131,109}}</string>
        <key>offset</key>
        <string>{-25,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,109}}</string>
        <key>sourceSize</key>
        <string>{131,109}</string>
      </dict>
      <key>monster_0031_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{132,108}}</string>
        <key>offset</key>
        <string>{-24,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,108}}</string>
        <key>sourceSize</key>
        <string>{132,108}</string>
      </dict>
      <key>monster_0031_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{132,108}}</string>
        <key>offset</key>
        <string>{-23,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,108}}</string>
        <key>sourceSize</key>
        <string>{132,108}</string>
      </dict>
      <key>monster_0031_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,269},{132,107}}</string>
        <key>offset</key>
        <string>{-23,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,107}}</string>
        <key>sourceSize</key>
        <string>{132,107}</string>
      </dict>
      <key>monster_0031_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,403},{132,106}}</string>
        <key>offset</key>
        <string>{-26,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,106}}</string>
        <key>sourceSize</key>
        <string>{132,106}</string>
      </dict>
      <key>monster_0031_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,529},{121,104}}</string>
        <key>offset</key>
        <string>{-34,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,104}}</string>
        <key>sourceSize</key>
        <string>{121,104}</string>
      </dict>
      <key>monster_0031_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,394},{118,103}}</string>
        <key>offset</key>
        <string>{-33,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,103}}</string>
        <key>sourceSize</key>
        <string>{118,103}</string>
      </dict>
      <key>monster_0031_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,0},{114,101}}</string>
        <key>offset</key>
        <string>{-31,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,101}}</string>
        <key>sourceSize</key>
        <string>{114,101}</string>
      </dict>
      <key>monster_0031_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,231},{112,102}}</string>
        <key>offset</key>
        <string>{-29,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,102}}</string>
        <key>sourceSize</key>
        <string>{112,102}</string>
      </dict>
      <key>monster_0031_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,335},{112,103}}</string>
        <key>offset</key>
        <string>{-29,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,103}}</string>
        <key>sourceSize</key>
        <string>{112,103}</string>
      </dict>
      <key>monster_0031_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,440},{112,103}}</string>
        <key>offset</key>
        <string>{-29,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,103}}</string>
        <key>sourceSize</key>
        <string>{112,103}</string>
      </dict>
      <key>monster_0031_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,468},{112,103}}</string>
        <key>offset</key>
        <string>{-29,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,103}}</string>
        <key>sourceSize</key>
        <string>{112,103}</string>
      </dict>
      <key>monster_0031_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,116},{113,105}}</string>
        <key>offset</key>
        <string>{-31,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,105}}</string>
        <key>sourceSize</key>
        <string>{113,105}</string>
      </dict>
      <key>monster_0031_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,595},{111,107}}</string>
        <key>offset</key>
        <string>{-28,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,107}}</string>
        <key>sourceSize</key>
        <string>{111,107}</string>
      </dict>
      <key>monster_0031_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,363},{114,106}}</string>
        <key>offset</key>
        <string>{-28,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,106}}</string>
        <key>sourceSize</key>
        <string>{114,106}</string>
      </dict>
      <key>monster_0031_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,236},{114,107}}</string>
        <key>offset</key>
        <string>{-28,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,107}}</string>
        <key>sourceSize</key>
        <string>{114,107}</string>
      </dict>
      <key>monster_0031_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,514},{116,108}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,108}}</string>
        <key>sourceSize</key>
        <string>{116,108}</string>
      </dict>
      <key>monster_0031_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,0},{117,109}}</string>
        <key>offset</key>
        <string>{-31,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,109}}</string>
        <key>sourceSize</key>
        <string>{117,109}</string>
      </dict>
      <key>monster_0031_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,496},{115,110}}</string>
        <key>offset</key>
        <string>{-29,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,110}}</string>
        <key>sourceSize</key>
        <string>{115,110}</string>
      </dict>
      <key>monster_0031_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,116},{114,109}}</string>
        <key>offset</key>
        <string>{-28,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,109}}</string>
        <key>sourceSize</key>
        <string>{114,109}</string>
      </dict>
      <key>monster_0031_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,0},{114,108}}</string>
        <key>offset</key>
        <string>{-28,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,108}}</string>
        <key>sourceSize</key>
        <string>{114,108}</string>
      </dict>
      <key>monster_0031_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,545},{112,111}}</string>
        <key>offset</key>
        <string>{-29,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,111}}</string>
        <key>sourceSize</key>
        <string>{112,111}</string>
      </dict>
      <key>monster_0031_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,750},{114,110}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,110}}</string>
        <key>sourceSize</key>
        <string>{114,110}</string>
      </dict>
      <key>monster_0031_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,613},{114,110}}</string>
        <key>offset</key>
        <string>{-30,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,110}}</string>
        <key>sourceSize</key>
        <string>{114,110}</string>
      </dict>
      <key>monster_0031_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,479},{114,112}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,112}}</string>
        <key>sourceSize</key>
        <string>{114,112}</string>
      </dict>
      <key>monster_0031_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,652},{117,111}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,111}}</string>
        <key>sourceSize</key>
        <string>{117,111}</string>
      </dict>
      <key>monster_0031_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,378},{115,106}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,106}}</string>
        <key>sourceSize</key>
        <string>{115,106}</string>
      </dict>
      <key>monster_0031_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,246},{115,108}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,108}}</string>
        <key>sourceSize</key>
        <string>{115,108}</string>
      </dict>
      <key>monster_0031_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,352},{114,111}}</string>
        <key>offset</key>
        <string>{-30,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,111}}</string>
        <key>sourceSize</key>
        <string>{114,111}</string>
      </dict>
      <key>monster_0031_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,269},{131,107}}</string>
        <key>offset</key>
        <string>{-22,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,107}}</string>
        <key>sourceSize</key>
        <string>{131,107}</string>
      </dict>
      <key>monster_0031_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,670},{129,103}}</string>
        <key>offset</key>
        <string>{-21,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,103}}</string>
        <key>sourceSize</key>
        <string>{129,103}</string>
      </dict>
      <key>monster_0031_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,267},{130,100}}</string>
        <key>offset</key>
        <string>{-22,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,100}}</string>
        <key>sourceSize</key>
        <string>{130,100}</string>
      </dict>
      <key>monster_0031_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,133},{130,107}}</string>
        <key>offset</key>
        <string>{-24,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,107}}</string>
        <key>sourceSize</key>
        <string>{130,107}</string>
      </dict>
      <key>monster_0031_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,134},{131,103}}</string>
        <key>offset</key>
        <string>{-25,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,103}}</string>
        <key>sourceSize</key>
        <string>{131,103}</string>
      </dict>
      <key>monster_0031_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,134},{131,97}}</string>
        <key>offset</key>
        <string>{-26,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,97}}</string>
        <key>sourceSize</key>
        <string>{131,97}</string>
      </dict>
      <key>monster_0031_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{131,95}}</string>
        <key>offset</key>
        <string>{-26,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,95}}</string>
        <key>sourceSize</key>
        <string>{131,95}</string>
      </dict>
      <key>monster_0031_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{131,100}}</string>
        <key>offset</key>
        <string>{-24,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,100}}</string>
        <key>sourceSize</key>
        <string>{131,100}</string>
      </dict>
      <key>monster_0031_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{130,112}}</string>
        <key>offset</key>
        <string>{-19,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,112}}</string>
        <key>sourceSize</key>
        <string>{130,112}</string>
      </dict>
      <key>monster_0031_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,399},{128,109}}</string>
        <key>offset</key>
        <string>{-18,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,109}}</string>
        <key>sourceSize</key>
        <string>{128,109}</string>
      </dict>
      <key>monster_0031_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,132},{124,110}}</string>
        <key>offset</key>
        <string>{-15,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,110}}</string>
        <key>sourceSize</key>
        <string>{124,110}</string>
      </dict>
      <key>monster_0031_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,771},{117,112}}</string>
        <key>offset</key>
        <string>{-9,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,112}}</string>
        <key>sourceSize</key>
        <string>{117,112}</string>
      </dict>
      <key>monster_0031_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,232},{114,113}}</string>
        <key>offset</key>
        <string>{-6,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,113}}</string>
        <key>sourceSize</key>
        <string>{114,113}</string>
      </dict>
      <key>monster_0031_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,119},{115,113}}</string>
        <key>offset</key>
        <string>{-7,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,113}}</string>
        <key>sourceSize</key>
        <string>{115,113}</string>
      </dict>
      <key>monster_0031_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,258},{118,110}}</string>
        <key>offset</key>
        <string>{-9,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,110}}</string>
        <key>sourceSize</key>
        <string>{118,110}</string>
      </dict>
      <key>monster_0031_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,265},{127,109}}</string>
        <key>offset</key>
        <string>{-17,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,109}}</string>
        <key>sourceSize</key>
        <string>{127,109}</string>
      </dict>
      <key>monster_0031_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,704},{102,109}}</string>
        <key>offset</key>
        <string>{-12,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,109}}</string>
        <key>sourceSize</key>
        <string>{102,109}</string>
      </dict>
      <key>monster_0031_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,729},{99,109}}</string>
        <key>offset</key>
        <string>{-9,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,109}}</string>
        <key>sourceSize</key>
        <string>{99,109}</string>
      </dict>
      <key>monster_0031_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,0},{93,108}}</string>
        <key>offset</key>
        <string>{-4,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,108}}</string>
        <key>sourceSize</key>
        <string>{93,108}</string>
      </dict>
      <key>monster_0031_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,754},{99,109}}</string>
        <key>offset</key>
        <string>{-11,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,109}}</string>
        <key>sourceSize</key>
        <string>{99,109}</string>
      </dict>
      <key>monster_0031_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,658},{94,110}}</string>
        <key>offset</key>
        <string>{-6,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,110}}</string>
        <key>sourceSize</key>
        <string>{94,110}</string>
      </dict>
      <key>monster_0031_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,801},{93,109}}</string>
        <key>offset</key>
        <string>{-5,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,109}}</string>
        <key>sourceSize</key>
        <string>{93,109}</string>
      </dict>
      <key>monster_0031_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,110},{92,108}}</string>
        <key>offset</key>
        <string>{-4,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,108}}</string>
        <key>sourceSize</key>
        <string>{92,108}</string>
      </dict>
      <key>monster_0031_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,801},{93,109}}</string>
        <key>offset</key>
        <string>{-5,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,109}}</string>
        <key>sourceSize</key>
        <string>{93,109}</string>
      </dict>
      <key>monster_0031_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,378},{116,103}}</string>
        <key>offset</key>
        <string>{-8,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,103}}</string>
        <key>sourceSize</key>
        <string>{116,103}</string>
      </dict>
      <key>monster_0031_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,632},{116,103}}</string>
        <key>offset</key>
        <string>{-7,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,103}}</string>
        <key>sourceSize</key>
        <string>{116,103}</string>
      </dict>
      <key>monster_0031_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,667},{123,103}}</string>
        <key>offset</key>
        <string>{-13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,103}}</string>
        <key>sourceSize</key>
        <string>{123,103}</string>
      </dict>
      <key>monster_0031_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,670},{129,103}}</string>
        <key>offset</key>
        <string>{-18,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,103}}</string>
        <key>sourceSize</key>
        <string>{129,103}</string>
      </dict>
      <key>monster_0031_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,537},{132,104}}</string>
        <key>offset</key>
        <string>{-20,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,104}}</string>
        <key>sourceSize</key>
        <string>{132,104}</string>
      </dict>
      <key>monster_0031_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,536},{129,104}}</string>
        <key>offset</key>
        <string>{-18,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,104}}</string>
        <key>sourceSize</key>
        <string>{129,104}</string>
      </dict>
      <key>monster_0031_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{124,103}}</string>
        <key>offset</key>
        <string>{-14,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,103}}</string>
        <key>sourceSize</key>
        <string>{124,103}</string>
      </dict>
      <key>monster_0031_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,126},{118,103}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,103}}</string>
        <key>sourceSize</key>
        <string>{118,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0031_0_1.png</string>
      <key>size</key>
      <string>{1070,897}</string>
      <key>textureFileName</key>
      <string>monster_0031_0_1.png</string>
    </dict>
  </dict>
</plist>