<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1014_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,577},{214,200}}</string>
        <key>offset</key>
        <string>{-46,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,200}}</string>
        <key>sourceSize</key>
        <string>{214,200}</string>
      </dict>
      <key>monster_1014_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,354},{222,221}}</string>
        <key>offset</key>
        <string>{-52,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,221}}</string>
        <key>sourceSize</key>
        <string>{222,221}</string>
      </dict>
      <key>monster_1014_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,729},{228,151}}</string>
        <key>offset</key>
        <string>{-77,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,151}}</string>
        <key>sourceSize</key>
        <string>{228,151}</string>
      </dict>
      <key>monster_1014_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,793},{202,188}}</string>
        <key>offset</key>
        <string>{-61,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,188}}</string>
        <key>sourceSize</key>
        <string>{202,188}</string>
      </dict>
      <key>monster_1014_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,805},{195,165}}</string>
        <key>offset</key>
        <string>{-64,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,165}}</string>
        <key>sourceSize</key>
        <string>{195,165}</string>
      </dict>
      <key>monster_1014_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,179},{173,237}}</string>
        <key>offset</key>
        <string>{-22,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,237}}</string>
        <key>sourceSize</key>
        <string>{173,237}</string>
      </dict>
      <key>monster_1014_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,0},{232,239}}</string>
        <key>offset</key>
        <string>{-35,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,239}}</string>
        <key>sourceSize</key>
        <string>{232,239}</string>
      </dict>
      <key>monster_1014_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,732},{192,185}}</string>
        <key>offset</key>
        <string>{-31,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,185}}</string>
        <key>sourceSize</key>
        <string>{192,185}</string>
      </dict>
      <key>monster_1014_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{314,165}}</string>
        <key>offset</key>
        <string>{-55,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,165}}</string>
        <key>sourceSize</key>
        <string>{314,165}</string>
      </dict>
      <key>monster_1014_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,554},{245,155}}</string>
        <key>offset</key>
        <string>{-38,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,155}}</string>
        <key>sourceSize</key>
        <string>{245,155}</string>
      </dict>
      <key>monster_1014_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,633},{170,271}}</string>
        <key>offset</key>
        <string>{-43,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,271}}</string>
        <key>sourceSize</key>
        <string>{170,271}</string>
      </dict>
      <key>monster_1014_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,304},{180,248}}</string>
        <key>offset</key>
        <string>{-39,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,248}}</string>
        <key>sourceSize</key>
        <string>{180,248}</string>
      </dict>
      <key>monster_1014_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,354},{167,212}}</string>
        <key>offset</key>
        <string>{-28,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,212}}</string>
        <key>sourceSize</key>
        <string>{167,212}</string>
      </dict>
      <key>monster_1014_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{302,147}}</string>
        <key>offset</key>
        <string>{-33,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,147}}</string>
        <key>sourceSize</key>
        <string>{302,147}</string>
      </dict>
      <key>monster_1014_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{315,109}}</string>
        <key>offset</key>
        <string>{-49,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,109}}</string>
        <key>sourceSize</key>
        <string>{315,109}</string>
      </dict>
      <key>monster_1014_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{206,246}}</string>
        <key>offset</key>
        <string>{-57,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,246}}</string>
        <key>sourceSize</key>
        <string>{206,246}</string>
      </dict>
      <key>monster_1014_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,493},{215,234}}</string>
        <key>offset</key>
        <string>{-55,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,234}}</string>
        <key>sourceSize</key>
        <string>{215,234}</string>
      </dict>
      <key>monster_1014_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,523},{207,208}}</string>
        <key>offset</key>
        <string>{-50,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,208}}</string>
        <key>sourceSize</key>
        <string>{207,208}</string>
      </dict>
      <key>monster_1014_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,0},{238,177}}</string>
        <key>offset</key>
        <string>{-55,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,177}}</string>
        <key>sourceSize</key>
        <string>{238,177}</string>
      </dict>
      <key>monster_1014_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,248},{243,159}}</string>
        <key>offset</key>
        <string>{-54,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,159}}</string>
        <key>sourceSize</key>
        <string>{243,159}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1014_0_4_0.png</string>
      <key>size</key>
      <string>{1108,991}</string>
      <key>textureFileName</key>
      <string>monster_1014_0_4_0.png</string>
    </dict>
  </dict>
</plist>