<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0382_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,310},{357,359}}</string>
        <key>offset</key>
        <string>{-98,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,359}}</string>
        <key>sourceSize</key>
        <string>{357,359}</string>
      </dict>
      <key>monster_0382_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,0},{308,373}}</string>
        <key>offset</key>
        <string>{-82,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,373}}</string>
        <key>sourceSize</key>
        <string>{308,373}</string>
      </dict>
      <key>monster_0382_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1100},{355,352}}</string>
        <key>offset</key>
        <string>{-112,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,352}}</string>
        <key>sourceSize</key>
        <string>{355,352}</string>
      </dict>
      <key>monster_0382_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,0},{462,344}}</string>
        <key>offset</key>
        <string>{-166,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,344}}</string>
        <key>sourceSize</key>
        <string>{462,344}</string>
      </dict>
      <key>monster_0382_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,515},{498,369}}</string>
        <key>offset</key>
        <string>{-208,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{498,369}}</string>
        <key>sourceSize</key>
        <string>{498,369}</string>
      </dict>
      <key>monster_0382_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,703},{395,350}}</string>
        <key>offset</key>
        <string>{-116,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,350}}</string>
        <key>sourceSize</key>
        <string>{395,350}</string>
      </dict>
      <key>monster_0382_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,703},{394,337}}</string>
        <key>offset</key>
        <string>{-145,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,337}}</string>
        <key>sourceSize</key>
        <string>{394,337}</string>
      </dict>
      <key>monster_0382_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,346},{441,355}}</string>
        <key>offset</key>
        <string>{-182,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,355}}</string>
        <key>sourceSize</key>
        <string>{441,355}</string>
      </dict>
      <key>monster_0382_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{464,308}}</string>
        <key>offset</key>
        <string>{-164,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{464,308}}</string>
        <key>sourceSize</key>
        <string>{464,308}</string>
      </dict>
      <key>monster_0382_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{513,283}}</string>
        <key>offset</key>
        <string>{-206,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{513,283}}</string>
        <key>sourceSize</key>
        <string>{513,283}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0382_0_4_3.png</string>
      <key>size</key>
      <string>{1435,1457}</string>
      <key>textureFileName</key>
      <string>monster_0382_0_4_3.png</string>
    </dict>
  </dict>
</plist>