<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0360_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,203},{67,95}}</string>
        <key>offset</key>
        <string>{1,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,95}}</string>
        <key>sourceSize</key>
        <string>{67,95}</string>
      </dict>
      <key>monster_0360_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,98},{65,95}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,95}}</string>
        <key>sourceSize</key>
        <string>{65,95}</string>
      </dict>
      <key>monster_0360_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{64,96}}</string>
        <key>offset</key>
        <string>{2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,96}}</string>
        <key>sourceSize</key>
        <string>{64,96}</string>
      </dict>
      <key>monster_0360_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,524},{64,97}}</string>
        <key>offset</key>
        <string>{3,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,97}}</string>
        <key>sourceSize</key>
        <string>{64,97}</string>
      </dict>
      <key>monster_0360_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{63,95}}</string>
        <key>offset</key>
        <string>{4,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,95}}</string>
        <key>sourceSize</key>
        <string>{63,95}</string>
      </dict>
      <key>monster_0360_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,524},{65,97}}</string>
        <key>offset</key>
        <string>{2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,97}}</string>
        <key>sourceSize</key>
        <string>{65,97}</string>
      </dict>
      <key>monster_0360_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{65,96}}</string>
        <key>offset</key>
        <string>{1,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,96}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>monster_0360_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,512},{66,95}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,95}}</string>
        <key>sourceSize</key>
        <string>{66,95}</string>
      </dict>
      <key>monster_0360_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,134},{92,81}}</string>
        <key>offset</key>
        <string>{-13,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,81}}</string>
        <key>sourceSize</key>
        <string>{92,81}</string>
      </dict>
      <key>monster_0360_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,406},{95,80}}</string>
        <key>offset</key>
        <string>{-12,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,80}}</string>
        <key>sourceSize</key>
        <string>{95,80}</string>
      </dict>
      <key>monster_0360_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,414},{96,81}}</string>
        <key>offset</key>
        <string>{-11,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,81}}</string>
        <key>sourceSize</key>
        <string>{96,81}</string>
      </dict>
      <key>monster_0360_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,315},{97,80}}</string>
        <key>offset</key>
        <string>{-12,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,80}}</string>
        <key>sourceSize</key>
        <string>{97,80}</string>
      </dict>
      <key>monster_0360_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,209},{97,78}}</string>
        <key>offset</key>
        <string>{-13,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,78}}</string>
        <key>sourceSize</key>
        <string>{97,78}</string>
      </dict>
      <key>monster_0360_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,104},{97,80}}</string>
        <key>offset</key>
        <string>{-12,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,80}}</string>
        <key>sourceSize</key>
        <string>{97,80}</string>
      </dict>
      <key>monster_0360_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,308},{96,81}}</string>
        <key>offset</key>
        <string>{-11,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,81}}</string>
        <key>sourceSize</key>
        <string>{96,81}</string>
      </dict>
      <key>monster_0360_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,503},{95,83}}</string>
        <key>offset</key>
        <string>{-12,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,83}}</string>
        <key>sourceSize</key>
        <string>{95,83}</string>
      </dict>
      <key>monster_0360_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,105},{102,71}}</string>
        <key>offset</key>
        <string>{-13,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,71}}</string>
        <key>sourceSize</key>
        <string>{102,71}</string>
      </dict>
      <key>monster_0360_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{102,72}}</string>
        <key>offset</key>
        <string>{-11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,72}}</string>
        <key>sourceSize</key>
        <string>{102,72}</string>
      </dict>
      <key>monster_0360_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{103,74}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,74}}</string>
        <key>sourceSize</key>
        <string>{103,74}</string>
      </dict>
      <key>monster_0360_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{103,73}}</string>
        <key>offset</key>
        <string>{-11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,73}}</string>
        <key>sourceSize</key>
        <string>{103,73}</string>
      </dict>
      <key>monster_0360_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,210},{103,69}}</string>
        <key>offset</key>
        <string>{-13,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,69}}</string>
        <key>sourceSize</key>
        <string>{103,69}</string>
      </dict>
      <key>monster_0360_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{103,72}}</string>
        <key>offset</key>
        <string>{-11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,72}}</string>
        <key>sourceSize</key>
        <string>{103,72}</string>
      </dict>
      <key>monster_0360_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,210},{103,73}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,73}}</string>
        <key>sourceSize</key>
        <string>{103,73}</string>
      </dict>
      <key>monster_0360_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,420},{102,72}}</string>
        <key>offset</key>
        <string>{-11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,72}}</string>
        <key>sourceSize</key>
        <string>{102,72}</string>
      </dict>
      <key>monster_0360_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,366},{74,70}}</string>
        <key>offset</key>
        <string>{8,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,70}}</string>
        <key>sourceSize</key>
        <string>{74,70}</string>
      </dict>
      <key>monster_0360_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,291},{72,71}}</string>
        <key>offset</key>
        <string>{11,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,71}}</string>
        <key>sourceSize</key>
        <string>{72,71}</string>
      </dict>
      <key>monster_0360_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,146},{71,72}}</string>
        <key>offset</key>
        <string>{12,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>monster_0360_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,506},{70,75}}</string>
        <key>offset</key>
        <string>{11,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,75}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>monster_0360_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,74},{68,71}}</string>
        <key>offset</key>
        <string>{10,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,71}}</string>
        <key>sourceSize</key>
        <string>{68,71}</string>
      </dict>
      <key>monster_0360_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,292},{70,70}}</string>
        <key>offset</key>
        <string>{11,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>monster_0360_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,219},{71,72}}</string>
        <key>offset</key>
        <string>{12,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>monster_0360_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,0},{72,71}}</string>
        <key>offset</key>
        <string>{11,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,71}}</string>
        <key>sourceSize</key>
        <string>{72,71}</string>
      </dict>
      <key>monster_0360_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{67,75}}</string>
        <key>offset</key>
        <string>{1,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,75}}</string>
        <key>sourceSize</key>
        <string>{67,75}</string>
      </dict>
      <key>monster_0360_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,69},{66,75}}</string>
        <key>offset</key>
        <string>{2,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,75}}</string>
        <key>sourceSize</key>
        <string>{66,75}</string>
      </dict>
      <key>monster_0360_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,518},{62,76}}</string>
        <key>offset</key>
        <string>{7,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,76}}</string>
        <key>sourceSize</key>
        <string>{62,76}</string>
      </dict>
      <key>monster_0360_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,577},{59,77}}</string>
        <key>offset</key>
        <string>{8,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,77}}</string>
        <key>sourceSize</key>
        <string>{59,77}</string>
      </dict>
      <key>monster_0360_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,223},{58,74}}</string>
        <key>offset</key>
        <string>{7,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,74}}</string>
        <key>sourceSize</key>
        <string>{58,74}</string>
      </dict>
      <key>monster_0360_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,578},{59,75}}</string>
        <key>offset</key>
        <string>{8,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,75}}</string>
        <key>sourceSize</key>
        <string>{59,75}</string>
      </dict>
      <key>monster_0360_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,442},{62,76}}</string>
        <key>offset</key>
        <string>{8,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,76}}</string>
        <key>sourceSize</key>
        <string>{62,76}</string>
      </dict>
      <key>monster_0360_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,146},{65,75}}</string>
        <key>offset</key>
        <string>{3,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>monster_0360_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,442},{82,74}}</string>
        <key>offset</key>
        <string>{-6,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,74}}</string>
        <key>sourceSize</key>
        <string>{82,74}</string>
      </dict>
      <key>monster_0360_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,366},{84,74}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,74}}</string>
        <key>sourceSize</key>
        <string>{84,74}</string>
      </dict>
      <key>monster_0360_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,341},{85,73}}</string>
        <key>offset</key>
        <string>{-9,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,73}}</string>
        <key>sourceSize</key>
        <string>{85,73}</string>
      </dict>
      <key>monster_0360_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,266},{86,73}}</string>
        <key>offset</key>
        <string>{-10,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,73}}</string>
        <key>sourceSize</key>
        <string>{86,73}</string>
      </dict>
      <key>monster_0360_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,217},{87,72}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,72}}</string>
        <key>sourceSize</key>
        <string>{87,72}</string>
      </dict>
      <key>monster_0360_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,291},{86,73}}</string>
        <key>offset</key>
        <string>{-10,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,73}}</string>
        <key>sourceSize</key>
        <string>{86,73}</string>
      </dict>
      <key>monster_0360_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,416},{85,73}}</string>
        <key>offset</key>
        <string>{-9,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,73}}</string>
        <key>sourceSize</key>
        <string>{85,73}</string>
      </dict>
      <key>monster_0360_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,491},{84,73}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,73}}</string>
        <key>sourceSize</key>
        <string>{84,73}</string>
      </dict>
      <key>monster_0360_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{94,73}}</string>
        <key>offset</key>
        <string>{-18,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,73}}</string>
        <key>sourceSize</key>
        <string>{94,73}</string>
      </dict>
      <key>monster_0360_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,397},{94,75}}</string>
        <key>offset</key>
        <string>{-19,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,75}}</string>
        <key>sourceSize</key>
        <string>{94,75}</string>
      </dict>
      <key>monster_0360_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,493},{94,77}}</string>
        <key>offset</key>
        <string>{-20,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,77}}</string>
        <key>sourceSize</key>
        <string>{94,77}</string>
      </dict>
      <key>monster_0360_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,300},{95,77}}</string>
        <key>offset</key>
        <string>{-20,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,77}}</string>
        <key>sourceSize</key>
        <string>{95,77}</string>
      </dict>
      <key>monster_0360_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,195},{95,75}}</string>
        <key>offset</key>
        <string>{-19,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,75}}</string>
        <key>sourceSize</key>
        <string>{95,75}</string>
      </dict>
      <key>monster_0360_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,97},{95,77}}</string>
        <key>offset</key>
        <string>{-20,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,77}}</string>
        <key>sourceSize</key>
        <string>{95,77}</string>
      </dict>
      <key>monster_0360_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,397},{94,77}}</string>
        <key>offset</key>
        <string>{-20,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,77}}</string>
        <key>sourceSize</key>
        <string>{94,77}</string>
      </dict>
      <key>monster_0360_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,292},{94,75}}</string>
        <key>offset</key>
        <string>{-19,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,75}}</string>
        <key>sourceSize</key>
        <string>{94,75}</string>
      </dict>
      <key>monster_0360_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,201},{63,90}}</string>
        <key>offset</key>
        <string>{-8,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,90}}</string>
        <key>sourceSize</key>
        <string>{63,90}</string>
      </dict>
      <key>monster_0360_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,67},{65,93}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,93}}</string>
        <key>sourceSize</key>
        <string>{65,93}</string>
      </dict>
      <key>monster_0360_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,194},{65,94}}</string>
        <key>offset</key>
        <string>{-7,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,94}}</string>
        <key>sourceSize</key>
        <string>{65,94}</string>
      </dict>
      <key>monster_0360_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,96},{66,94}}</string>
        <key>offset</key>
        <string>{-7,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,94}}</string>
        <key>sourceSize</key>
        <string>{66,94}</string>
      </dict>
      <key>monster_0360_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{67,94}}</string>
        <key>offset</key>
        <string>{-7,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,94}}</string>
        <key>sourceSize</key>
        <string>{67,94}</string>
      </dict>
      <key>monster_0360_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,493},{67,94}}</string>
        <key>offset</key>
        <string>{-8,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,94}}</string>
        <key>sourceSize</key>
        <string>{67,94}</string>
      </dict>
      <key>monster_0360_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{65,94}}</string>
        <key>offset</key>
        <string>{-7,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,94}}</string>
        <key>sourceSize</key>
        <string>{65,94}</string>
      </dict>
      <key>monster_0360_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,134},{65,93}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,93}}</string>
        <key>sourceSize</key>
        <string>{65,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0360_0_1.png</string>
      <key>size</key>
      <string>{774,644}</string>
      <key>textureFileName</key>
      <string>monster_0360_0_1.png</string>
    </dict>
  </dict>
</plist>