<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0051_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{50,73}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,73}}</string>
        <key>sourceSize</key>
        <string>{50,73}</string>
      </dict>
      <key>monster_0051_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{50,74}}</string>
        <key>offset</key>
        <string>{13,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,74}}</string>
        <key>sourceSize</key>
        <string>{50,74}</string>
      </dict>
      <key>monster_0051_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{50,73}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,73}}</string>
        <key>sourceSize</key>
        <string>{50,73}</string>
      </dict>
      <key>monster_0051_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{50,72}}</string>
        <key>offset</key>
        <string>{12,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,72}}</string>
        <key>sourceSize</key>
        <string>{50,72}</string>
      </dict>
      <key>monster_0051_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,52},{51,72}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,72}}</string>
        <key>sourceSize</key>
        <string>{51,72}</string>
      </dict>
      <key>monster_0051_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{51,73}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,73}}</string>
        <key>sourceSize</key>
        <string>{51,73}</string>
      </dict>
      <key>monster_0051_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,52},{51,72}}</string>
        <key>offset</key>
        <string>{16,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,72}}</string>
        <key>sourceSize</key>
        <string>{51,72}</string>
      </dict>
      <key>monster_0051_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,52},{52,71}}</string>
        <key>offset</key>
        <string>{17,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,71}}</string>
        <key>sourceSize</key>
        <string>{52,71}</string>
      </dict>
      <key>monster_0051_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{50,71}}</string>
        <key>offset</key>
        <string>{17,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,71}}</string>
        <key>sourceSize</key>
        <string>{50,71}</string>
      </dict>
      <key>monster_0051_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,52},{50,71}}</string>
        <key>offset</key>
        <string>{16,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,71}}</string>
        <key>sourceSize</key>
        <string>{50,71}</string>
      </dict>
      <key>monster_0051_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,53},{51,71}}</string>
        <key>offset</key>
        <string>{15,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,71}}</string>
        <key>sourceSize</key>
        <string>{51,71}</string>
      </dict>
      <key>monster_0051_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,104},{51,71}}</string>
        <key>offset</key>
        <string>{15,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,71}}</string>
        <key>sourceSize</key>
        <string>{51,71}</string>
      </dict>
      <key>monster_0051_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{59,68}}</string>
        <key>offset</key>
        <string>{10,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,68}}</string>
        <key>sourceSize</key>
        <string>{59,68}</string>
      </dict>
      <key>monster_0051_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,157},{60,67}}</string>
        <key>offset</key>
        <string>{10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>monster_0051_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,209},{60,67}}</string>
        <key>offset</key>
        <string>{10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>monster_0051_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{59,67}}</string>
        <key>offset</key>
        <string>{10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,67}}</string>
        <key>sourceSize</key>
        <string>{59,67}</string>
      </dict>
      <key>monster_0051_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,157},{59,67}}</string>
        <key>offset</key>
        <string>{10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,67}}</string>
        <key>sourceSize</key>
        <string>{59,67}</string>
      </dict>
      <key>monster_0051_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,207},{59,67}}</string>
        <key>offset</key>
        <string>{10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,67}}</string>
        <key>sourceSize</key>
        <string>{59,67}</string>
      </dict>
      <key>monster_0051_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,417},{55,62}}</string>
        <key>offset</key>
        <string>{11,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,62}}</string>
        <key>sourceSize</key>
        <string>{55,62}</string>
      </dict>
      <key>monster_0051_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,417},{55,61}}</string>
        <key>offset</key>
        <string>{11,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,61}}</string>
        <key>sourceSize</key>
        <string>{55,61}</string>
      </dict>
      <key>monster_0051_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,371},{54,61}}</string>
        <key>offset</key>
        <string>{11,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,61}}</string>
        <key>sourceSize</key>
        <string>{54,61}</string>
      </dict>
      <key>monster_0051_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,427},{54,61}}</string>
        <key>offset</key>
        <string>{11,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,61}}</string>
        <key>sourceSize</key>
        <string>{54,61}</string>
      </dict>
      <key>monster_0051_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,207},{55,61}}</string>
        <key>offset</key>
        <string>{11,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,61}}</string>
        <key>sourceSize</key>
        <string>{55,61}</string>
      </dict>
      <key>monster_0051_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,270},{55,61}}</string>
        <key>offset</key>
        <string>{11,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,61}}</string>
        <key>sourceSize</key>
        <string>{55,61}</string>
      </dict>
      <key>monster_0051_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,320},{51,65}}</string>
        <key>offset</key>
        <string>{10,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,65}}</string>
        <key>sourceSize</key>
        <string>{51,65}</string>
      </dict>
      <key>monster_0051_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,426},{51,64}}</string>
        <key>offset</key>
        <string>{9,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,64}}</string>
        <key>sourceSize</key>
        <string>{51,64}</string>
      </dict>
      <key>monster_0051_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,417},{51,64}}</string>
        <key>offset</key>
        <string>{9,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,64}}</string>
        <key>sourceSize</key>
        <string>{51,64}</string>
      </dict>
      <key>monster_0051_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,319},{50,64}}</string>
        <key>offset</key>
        <string>{10,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,64}}</string>
        <key>sourceSize</key>
        <string>{50,64}</string>
      </dict>
      <key>monster_0051_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,364},{51,64}}</string>
        <key>offset</key>
        <string>{10,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,64}}</string>
        <key>sourceSize</key>
        <string>{51,64}</string>
      </dict>
      <key>monster_0051_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,417},{51,64}}</string>
        <key>offset</key>
        <string>{10,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,64}}</string>
        <key>sourceSize</key>
        <string>{51,64}</string>
      </dict>
      <key>monster_0051_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,218},{49,67}}</string>
        <key>offset</key>
        <string>{9,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,67}}</string>
        <key>sourceSize</key>
        <string>{49,67}</string>
      </dict>
      <key>monster_0051_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,219},{48,67}}</string>
        <key>offset</key>
        <string>{8,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,67}}</string>
        <key>sourceSize</key>
        <string>{48,67}</string>
      </dict>
      <key>monster_0051_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,269},{49,67}}</string>
        <key>offset</key>
        <string>{8,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,67}}</string>
        <key>sourceSize</key>
        <string>{49,67}</string>
      </dict>
      <key>monster_0051_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,365},{50,65}}</string>
        <key>offset</key>
        <string>{8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,65}}</string>
        <key>sourceSize</key>
        <string>{50,65}</string>
      </dict>
      <key>monster_0051_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,375},{49,65}}</string>
        <key>offset</key>
        <string>{9,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,65}}</string>
        <key>sourceSize</key>
        <string>{49,65}</string>
      </dict>
      <key>monster_0051_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,268},{49,66}}</string>
        <key>offset</key>
        <string>{9,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,66}}</string>
        <key>sourceSize</key>
        <string>{49,66}</string>
      </dict>
      <key>monster_0051_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,271},{46,67}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,67}}</string>
        <key>sourceSize</key>
        <string>{46,67}</string>
      </dict>
      <key>monster_0051_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,319},{44,67}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,67}}</string>
        <key>sourceSize</key>
        <string>{44,67}</string>
      </dict>
      <key>monster_0051_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,329},{44,67}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,67}}</string>
        <key>sourceSize</key>
        <string>{44,67}</string>
      </dict>
      <key>monster_0051_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,269},{45,66}}</string>
        <key>offset</key>
        <string>{11,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,66}}</string>
        <key>sourceSize</key>
        <string>{45,66}</string>
      </dict>
      <key>monster_0051_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{45,65}}</string>
        <key>offset</key>
        <string>{11,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,65}}</string>
        <key>sourceSize</key>
        <string>{45,65}</string>
      </dict>
      <key>monster_0051_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,316},{46,66}}</string>
        <key>offset</key>
        <string>{11,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,66}}</string>
        <key>sourceSize</key>
        <string>{46,66}</string>
      </dict>
      <key>monster_0051_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,157},{50,69}}</string>
        <key>offset</key>
        <string>{10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,69}}</string>
        <key>sourceSize</key>
        <string>{50,69}</string>
      </dict>
      <key>monster_0051_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,106},{49,70}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,70}}</string>
        <key>sourceSize</key>
        <string>{49,70}</string>
      </dict>
      <key>monster_0051_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{48,69}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,69}}</string>
        <key>sourceSize</key>
        <string>{48,69}</string>
      </dict>
      <key>monster_0051_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,105},{48,68}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,68}}</string>
        <key>sourceSize</key>
        <string>{48,68}</string>
      </dict>
      <key>monster_0051_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,106},{49,68}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,68}}</string>
        <key>sourceSize</key>
        <string>{49,68}</string>
      </dict>
      <key>monster_0051_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,155},{50,68}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,68}}</string>
        <key>sourceSize</key>
        <string>{50,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0051_0_0.png</string>
      <key>size</key>
      <string>{411,513}</string>
      <key>textureFileName</key>
      <string>monster_0051_0_0.png</string>
    </dict>
  </dict>
</plist>