<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0147_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,677},{72,78}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,78}}</string>
        <key>sourceSize</key>
        <string>{72,78}</string>
      </dict>
      <key>monster_0147_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,663},{77,75}}</string>
        <key>offset</key>
        <string>{-7,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>monster_0147_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,436},{75,94}}</string>
        <key>offset</key>
        <string>{-7,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,94}}</string>
        <key>sourceSize</key>
        <string>{75,94}</string>
      </dict>
      <key>monster_0147_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,532},{73,94}}</string>
        <key>offset</key>
        <string>{-7,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,94}}</string>
        <key>sourceSize</key>
        <string>{73,94}</string>
      </dict>
      <key>monster_0147_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,259},{74,115}}</string>
        <key>offset</key>
        <string>{-7,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,115}}</string>
        <key>sourceSize</key>
        <string>{74,115}</string>
      </dict>
      <key>monster_0147_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,0},{76,90}}</string>
        <key>offset</key>
        <string>{-7,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,90}}</string>
        <key>sourceSize</key>
        <string>{76,90}</string>
      </dict>
      <key>monster_0147_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,515},{75,91}}</string>
        <key>offset</key>
        <string>{0,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,91}}</string>
        <key>sourceSize</key>
        <string>{75,91}</string>
      </dict>
      <key>monster_0147_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,321},{85,89}}</string>
        <key>offset</key>
        <string>{-2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,89}}</string>
        <key>sourceSize</key>
        <string>{85,89}</string>
      </dict>
      <key>monster_0147_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,532},{88,93}}</string>
        <key>offset</key>
        <string>{-2,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,93}}</string>
        <key>sourceSize</key>
        <string>{88,93}</string>
      </dict>
      <key>monster_0147_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,436},{83,92}}</string>
        <key>offset</key>
        <string>{4,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,92}}</string>
        <key>sourceSize</key>
        <string>{83,92}</string>
      </dict>
      <key>monster_0147_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,473},{129,100}}</string>
        <key>offset</key>
        <string>{5,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,100}}</string>
        <key>sourceSize</key>
        <string>{129,100}</string>
      </dict>
      <key>monster_0147_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,327},{84,92}}</string>
        <key>offset</key>
        <string>{2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,92}}</string>
        <key>sourceSize</key>
        <string>{84,92}</string>
      </dict>
      <key>monster_0147_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,104},{63,95}}</string>
        <key>offset</key>
        <string>{4,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,95}}</string>
        <key>sourceSize</key>
        <string>{63,95}</string>
      </dict>
      <key>monster_0147_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,421},{84,92}}</string>
        <key>offset</key>
        <string>{-3,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,92}}</string>
        <key>sourceSize</key>
        <string>{84,92}</string>
      </dict>
      <key>monster_0147_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,335},{99,89}}</string>
        <key>offset</key>
        <string>{-5,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,89}}</string>
        <key>sourceSize</key>
        <string>{99,89}</string>
      </dict>
      <key>monster_0147_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,335},{101,89}}</string>
        <key>offset</key>
        <string>{-5,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,89}}</string>
        <key>sourceSize</key>
        <string>{101,89}</string>
      </dict>
      <key>monster_0147_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{166,91}}</string>
        <key>offset</key>
        <string>{-1,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,91}}</string>
        <key>sourceSize</key>
        <string>{166,91}</string>
      </dict>
      <key>monster_0147_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{88,95}}</string>
        <key>offset</key>
        <string>{-1,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,95}}</string>
        <key>sourceSize</key>
        <string>{88,95}</string>
      </dict>
      <key>monster_0147_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,97},{84,85}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,85}}</string>
        <key>sourceSize</key>
        <string>{84,85}</string>
      </dict>
      <key>monster_0147_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,492},{83,86}}</string>
        <key>offset</key>
        <string>{-6,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,86}}</string>
        <key>sourceSize</key>
        <string>{83,86}</string>
      </dict>
      <key>monster_0147_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,166},{84,76}}</string>
        <key>offset</key>
        <string>{-6,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,76}}</string>
        <key>sourceSize</key>
        <string>{84,76}</string>
      </dict>
      <key>monster_0147_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,412},{88,76}}</string>
        <key>offset</key>
        <string>{-6,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>monster_0147_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,339},{132,106}}</string>
        <key>offset</key>
        <string>{-6,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,106}}</string>
        <key>sourceSize</key>
        <string>{132,106}</string>
      </dict>
      <key>monster_0147_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,577},{84,83}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,83}}</string>
        <key>sourceSize</key>
        <string>{84,83}</string>
      </dict>
      <key>monster_0147_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,515},{91,80}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,80}}</string>
        <key>sourceSize</key>
        <string>{91,80}</string>
      </dict>
      <key>monster_0147_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,78},{90,86}}</string>
        <key>offset</key>
        <string>{-9,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,86}}</string>
        <key>sourceSize</key>
        <string>{90,86}</string>
      </dict>
      <key>monster_0147_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,628},{81,82}}</string>
        <key>offset</key>
        <string>{-9,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,82}}</string>
        <key>sourceSize</key>
        <string>{81,82}</string>
      </dict>
      <key>monster_0147_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,84},{80,85}}</string>
        <key>offset</key>
        <string>{-9,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,85}}</string>
        <key>sourceSize</key>
        <string>{80,85}</string>
      </dict>
      <key>monster_0147_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,136},{85,121}}</string>
        <key>offset</key>
        <string>{-9,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,121}}</string>
        <key>sourceSize</key>
        <string>{85,121}</string>
      </dict>
      <key>monster_0147_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,166},{90,76}}</string>
        <key>offset</key>
        <string>{-9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,76}}</string>
        <key>sourceSize</key>
        <string>{90,76}</string>
      </dict>
      <key>monster_0147_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,244},{87,75}}</string>
        <key>offset</key>
        <string>{-13,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,75}}</string>
        <key>sourceSize</key>
        <string>{87,75}</string>
      </dict>
      <key>monster_0147_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,244},{90,75}}</string>
        <key>offset</key>
        <string>{-16,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,75}}</string>
        <key>sourceSize</key>
        <string>{90,75}</string>
      </dict>
      <key>monster_0147_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,627},{83,80}}</string>
        <key>offset</key>
        <string>{-13,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,80}}</string>
        <key>sourceSize</key>
        <string>{83,80}</string>
      </dict>
      <key>monster_0147_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,628},{81,81}}</string>
        <key>offset</key>
        <string>{-12,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>monster_0147_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{134,99}}</string>
        <key>offset</key>
        <string>{-66,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,99}}</string>
        <key>sourceSize</key>
        <string>{134,99}</string>
      </dict>
      <key>monster_0147_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,628},{83,78}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,78}}</string>
        <key>sourceSize</key>
        <string>{83,78}</string>
      </dict>
      <key>monster_0147_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,677},{79,75}}</string>
        <key>offset</key>
        <string>{-13,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
      <key>monster_0147_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,136},{102,73}}</string>
        <key>offset</key>
        <string>{-28,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,73}}</string>
        <key>sourceSize</key>
        <string>{102,73}</string>
      </dict>
      <key>monster_0147_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,240},{99,85}}</string>
        <key>offset</key>
        <string>{-26,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,85}}</string>
        <key>sourceSize</key>
        <string>{99,85}</string>
      </dict>
      <key>monster_0147_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{102,85}}</string>
        <key>offset</key>
        <string>{-27,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,85}}</string>
        <key>sourceSize</key>
        <string>{102,85}</string>
      </dict>
      <key>monster_0147_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,87}}</string>
        <key>offset</key>
        <string>{-97,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,87}}</string>
        <key>sourceSize</key>
        <string>{169,87}</string>
      </dict>
      <key>monster_0147_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{82,86}}</string>
        <key>offset</key>
        <string>{-11,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,86}}</string>
        <key>sourceSize</key>
        <string>{82,86}</string>
      </dict>
      <key>monster_0147_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,713},{76,67}}</string>
        <key>offset</key>
        <string>{-10,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,67}}</string>
        <key>sourceSize</key>
        <string>{76,67}</string>
      </dict>
      <key>monster_0147_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,608},{84,67}}</string>
        <key>offset</key>
        <string>{-13,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,67}}</string>
        <key>sourceSize</key>
        <string>{84,67}</string>
      </dict>
      <key>monster_0147_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,244},{81,88}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,88}}</string>
        <key>sourceSize</key>
        <string>{81,88}</string>
      </dict>
      <key>monster_0147_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,327},{86,88}}</string>
        <key>offset</key>
        <string>{-14,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,88}}</string>
        <key>sourceSize</key>
        <string>{86,88}</string>
      </dict>
      <key>monster_0147_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,473},{128,95}}</string>
        <key>offset</key>
        <string>{-58,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,95}}</string>
        <key>sourceSize</key>
        <string>{128,95}</string>
      </dict>
      <key>monster_0147_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,415},{75,87}}</string>
        <key>offset</key>
        <string>{-5,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,87}}</string>
        <key>sourceSize</key>
        <string>{75,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0147_0_2.png</string>
      <key>size</key>
      <string>{644,791}</string>
      <key>textureFileName</key>
      <string>monster_0147_0_2.png</string>
    </dict>
  </dict>
</plist>