<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1009_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,811},{84,91}}</string>
        <key>offset</key>
        <string>{-17,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,91}}</string>
        <key>sourceSize</key>
        <string>{84,91}</string>
      </dict>
      <key>monster_1009_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,906},{84,94}}</string>
        <key>offset</key>
        <string>{-11,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,94}}</string>
        <key>sourceSize</key>
        <string>{84,94}</string>
      </dict>
      <key>monster_1009_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,363},{108,92}}</string>
        <key>offset</key>
        <string>{-19,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,92}}</string>
        <key>sourceSize</key>
        <string>{108,92}</string>
      </dict>
      <key>monster_1009_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,414},{127,90}}</string>
        <key>offset</key>
        <string>{-33,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,90}}</string>
        <key>sourceSize</key>
        <string>{127,90}</string>
      </dict>
      <key>monster_1009_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,716},{130,89}}</string>
        <key>offset</key>
        <string>{-37,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,89}}</string>
        <key>sourceSize</key>
        <string>{130,89}</string>
      </dict>
      <key>monster_1009_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,543},{121,87}}</string>
        <key>offset</key>
        <string>{-35,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,87}}</string>
        <key>sourceSize</key>
        <string>{121,87}</string>
      </dict>
      <key>monster_1009_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,0},{116,87}}</string>
        <key>offset</key>
        <string>{-37,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,87}}</string>
        <key>sourceSize</key>
        <string>{116,87}</string>
      </dict>
      <key>monster_1009_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,938},{115,83}}</string>
        <key>offset</key>
        <string>{-35,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,83}}</string>
        <key>sourceSize</key>
        <string>{115,83}</string>
      </dict>
      <key>monster_1009_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,118},{115,82}}</string>
        <key>offset</key>
        <string>{-35,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,82}}</string>
        <key>sourceSize</key>
        <string>{115,82}</string>
      </dict>
      <key>monster_1009_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,0},{115,86}}</string>
        <key>offset</key>
        <string>{-35,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,86}}</string>
        <key>sourceSize</key>
        <string>{115,86}</string>
      </dict>
      <key>monster_1009_0_4_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,901},{114,89}}</string>
        <key>offset</key>
        <string>{-35,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,89}}</string>
        <key>sourceSize</key>
        <string>{114,89}</string>
      </dict>
      <key>monster_1009_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,726},{100,83}}</string>
        <key>offset</key>
        <string>{-22,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,83}}</string>
        <key>sourceSize</key>
        <string>{100,83}</string>
      </dict>
      <key>monster_1009_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,549},{102,88}}</string>
        <key>offset</key>
        <string>{-29,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,88}}</string>
        <key>sourceSize</key>
        <string>{102,88}</string>
      </dict>
      <key>monster_1009_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,811},{95,93}}</string>
        <key>offset</key>
        <string>{-31,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,93}}</string>
        <key>sourceSize</key>
        <string>{95,93}</string>
      </dict>
      <key>monster_1009_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,820},{116,95}}</string>
        <key>offset</key>
        <string>{-62,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,95}}</string>
        <key>sourceSize</key>
        <string>{116,95}</string>
      </dict>
      <key>monster_1009_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,456},{144,80}}</string>
        <key>offset</key>
        <string>{-94,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,80}}</string>
        <key>sourceSize</key>
        <string>{144,80}</string>
      </dict>
      <key>monster_1009_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{154,84}}</string>
        <key>offset</key>
        <string>{-93,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,84}}</string>
        <key>sourceSize</key>
        <string>{154,84}</string>
      </dict>
      <key>monster_1009_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{152,90}}</string>
        <key>offset</key>
        <string>{-91,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,90}}</string>
        <key>sourceSize</key>
        <string>{152,90}</string>
      </dict>
      <key>monster_1009_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,776},{152,88}}</string>
        <key>offset</key>
        <string>{-92,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,88}}</string>
        <key>sourceSize</key>
        <string>{152,88}</string>
      </dict>
      <key>monster_1009_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,930},{152,85}}</string>
        <key>offset</key>
        <string>{-93,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,85}}</string>
        <key>sourceSize</key>
        <string>{152,85}</string>
      </dict>
      <key>monster_1009_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{153,85}}</string>
        <key>offset</key>
        <string>{-93,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,85}}</string>
        <key>sourceSize</key>
        <string>{153,85}</string>
      </dict>
      <key>monster_1009_0_4_1_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,312},{153,85}}</string>
        <key>offset</key>
        <string>{-93,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,85}}</string>
        <key>sourceSize</key>
        <string>{153,85}</string>
      </dict>
      <key>monster_1009_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,784},{115,70}}</string>
        <key>offset</key>
        <string>{-28,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,70}}</string>
        <key>sourceSize</key>
        <string>{115,70}</string>
      </dict>
      <key>monster_1009_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,639},{112,84}}</string>
        <key>offset</key>
        <string>{-37,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,84}}</string>
        <key>sourceSize</key>
        <string>{112,84}</string>
      </dict>
      <key>monster_1009_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,235},{97,108}}</string>
        <key>offset</key>
        <string>{-52,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,108}}</string>
        <key>sourceSize</key>
        <string>{97,108}</string>
      </dict>
      <key>monster_1009_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,696},{122,115}}</string>
        <key>offset</key>
        <string>{-81,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,115}}</string>
        <key>sourceSize</key>
        <string>{122,115}</string>
      </dict>
      <key>monster_1009_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,441},{138,80}}</string>
        <key>offset</key>
        <string>{-102,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,80}}</string>
        <key>sourceSize</key>
        <string>{138,80}</string>
      </dict>
      <key>monster_1009_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,292},{137,64}}</string>
        <key>offset</key>
        <string>{-102,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,64}}</string>
        <key>sourceSize</key>
        <string>{137,64}</string>
      </dict>
      <key>monster_1009_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,292},{136,70}}</string>
        <key>offset</key>
        <string>{-103,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,70}}</string>
        <key>sourceSize</key>
        <string>{136,70}</string>
      </dict>
      <key>monster_1009_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,880},{134,67}}</string>
        <key>offset</key>
        <string>{-103,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,67}}</string>
        <key>sourceSize</key>
        <string>{134,67}</string>
      </dict>
      <key>monster_1009_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,743},{134,64}}</string>
        <key>offset</key>
        <string>{-102,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,64}}</string>
        <key>sourceSize</key>
        <string>{134,64}</string>
      </dict>
      <key>monster_1009_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,141},{136,63}}</string>
        <key>offset</key>
        <string>{-102,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,63}}</string>
        <key>sourceSize</key>
        <string>{136,63}</string>
      </dict>
      <key>monster_1009_0_4_2_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{139,63}}</string>
        <key>offset</key>
        <string>{-103,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,63}}</string>
        <key>sourceSize</key>
        <string>{139,63}</string>
      </dict>
      <key>monster_1009_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,0},{99,76}}</string>
        <key>offset</key>
        <string>{-22,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,76}}</string>
        <key>sourceSize</key>
        <string>{99,76}</string>
      </dict>
      <key>monster_1009_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,639},{101,85}}</string>
        <key>offset</key>
        <string>{-29,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,85}}</string>
        <key>sourceSize</key>
        <string>{101,85}</string>
      </dict>
      <key>monster_1009_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,117},{108,105}}</string>
        <key>offset</key>
        <string>{-34,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,105}}</string>
        <key>sourceSize</key>
        <string>{108,105}</string>
      </dict>
      <key>monster_1009_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,784},{114,103}}</string>
        <key>offset</key>
        <string>{-62,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,103}}</string>
        <key>sourceSize</key>
        <string>{114,103}</string>
      </dict>
      <key>monster_1009_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,271},{127,80}}</string>
        <key>offset</key>
        <string>{-81,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,80}}</string>
        <key>sourceSize</key>
        <string>{127,80}</string>
      </dict>
      <key>monster_1009_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{148,80}}</string>
        <key>offset</key>
        <string>{-87,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,80}}</string>
        <key>sourceSize</key>
        <string>{148,80}</string>
      </dict>
      <key>monster_1009_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,155},{149,88}}</string>
        <key>offset</key>
        <string>{-86,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,88}}</string>
        <key>sourceSize</key>
        <string>{149,88}</string>
      </dict>
      <key>monster_1009_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,618},{148,92}}</string>
        <key>offset</key>
        <string>{-87,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,92}}</string>
        <key>sourceSize</key>
        <string>{148,92}</string>
      </dict>
      <key>monster_1009_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{146,91}}</string>
        <key>offset</key>
        <string>{-86,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,91}}</string>
        <key>sourceSize</key>
        <string>{146,91}</string>
      </dict>
      <key>monster_1009_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,148},{146,89}}</string>
        <key>offset</key>
        <string>{-86,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,89}}</string>
        <key>sourceSize</key>
        <string>{146,89}</string>
      </dict>
      <key>monster_1009_0_4_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{146,89}}</string>
        <key>offset</key>
        <string>{-86,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,89}}</string>
        <key>sourceSize</key>
        <string>{146,89}</string>
      </dict>
      <key>monster_1009_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1017},{83,75}}</string>
        <key>offset</key>
        <string>{-16,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>monster_1009_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,973},{85,84}}</string>
        <key>offset</key>
        <string>{-17,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,84}}</string>
        <key>sourceSize</key>
        <string>{85,84}</string>
      </dict>
      <key>monster_1009_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,400},{119,107}}</string>
        <key>offset</key>
        <string>{-28,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,107}}</string>
        <key>sourceSize</key>
        <string>{119,107}</string>
      </dict>
      <key>monster_1009_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,768},{144,99}}</string>
        <key>offset</key>
        <string>{-37,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,99}}</string>
        <key>sourceSize</key>
        <string>{144,99}</string>
      </dict>
      <key>monster_1009_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,137},{127,85}}</string>
        <key>offset</key>
        <string>{-36,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,85}}</string>
        <key>sourceSize</key>
        <string>{127,85}</string>
      </dict>
      <key>monster_1009_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,126},{117,87}}</string>
        <key>offset</key>
        <string>{-36,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,87}}</string>
        <key>sourceSize</key>
        <string>{117,87}</string>
      </dict>
      <key>monster_1009_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,266},{119,89}}</string>
        <key>offset</key>
        <string>{-36,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,89}}</string>
        <key>sourceSize</key>
        <string>{119,89}</string>
      </dict>
      <key>monster_1009_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,666},{116,90}}</string>
        <key>offset</key>
        <string>{-36,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,90}}</string>
        <key>sourceSize</key>
        <string>{116,90}</string>
      </dict>
      <key>monster_1009_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,521},{116,90}}</string>
        <key>offset</key>
        <string>{-36,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,90}}</string>
        <key>sourceSize</key>
        <string>{116,90}</string>
      </dict>
      <key>monster_1009_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,387},{116,90}}</string>
        <key>offset</key>
        <string>{-36,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,90}}</string>
        <key>sourceSize</key>
        <string>{116,90}</string>
      </dict>
      <key>monster_1009_0_4_4_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,245},{116,88}}</string>
        <key>offset</key>
        <string>{-36,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,88}}</string>
        <key>sourceSize</key>
        <string>{116,88}</string>
      </dict>
      <key>monster_1009_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,101},{92,76}}</string>
        <key>offset</key>
        <string>{-19,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,76}}</string>
        <key>sourceSize</key>
        <string>{92,76}</string>
      </dict>
      <key>monster_1009_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,227},{106,86}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,86}}</string>
        <key>sourceSize</key>
        <string>{106,86}</string>
      </dict>
      <key>monster_1009_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,443},{105,104}}</string>
        <key>offset</key>
        <string>{2,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,104}}</string>
        <key>sourceSize</key>
        <string>{105,104}</string>
      </dict>
      <key>monster_1009_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,848},{123,92}}</string>
        <key>offset</key>
        <string>{14,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,92}}</string>
        <key>sourceSize</key>
        <string>{123,92}</string>
      </dict>
      <key>monster_1009_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,602},{139,85}}</string>
        <key>offset</key>
        <string>{7,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,85}}</string>
        <key>sourceSize</key>
        <string>{139,85}</string>
      </dict>
      <key>monster_1009_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,306},{148,95}}</string>
        <key>offset</key>
        <string>{-11,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,95}}</string>
        <key>sourceSize</key>
        <string>{148,95}</string>
      </dict>
      <key>monster_1009_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,312},{151,84}}</string>
        <key>offset</key>
        <string>{-14,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,84}}</string>
        <key>sourceSize</key>
        <string>{151,84}</string>
      </dict>
      <key>monster_1009_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,467},{153,85}}</string>
        <key>offset</key>
        <string>{-14,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,85}}</string>
        <key>sourceSize</key>
        <string>{153,85}</string>
      </dict>
      <key>monster_1009_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{154,88}}</string>
        <key>offset</key>
        <string>{-15,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,88}}</string>
        <key>sourceSize</key>
        <string>{154,88}</string>
      </dict>
      <key>monster_1009_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,776},{152,84}}</string>
        <key>offset</key>
        <string>{-15,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,84}}</string>
        <key>sourceSize</key>
        <string>{152,84}</string>
      </dict>
      <key>monster_1009_0_4_5_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,930},{152,81}}</string>
        <key>offset</key>
        <string>{-15,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,81}}</string>
        <key>sourceSize</key>
        <string>{152,81}</string>
      </dict>
      <key>monster_1009_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,722},{101,70}}</string>
        <key>offset</key>
        <string>{-27,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,70}}</string>
        <key>sourceSize</key>
        <string>{101,70}</string>
      </dict>
      <key>monster_1009_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,0},{108,83}}</string>
        <key>offset</key>
        <string>{-5,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,83}}</string>
        <key>sourceSize</key>
        <string>{108,83}</string>
      </dict>
      <key>monster_1009_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,335},{106,99}}</string>
        <key>offset</key>
        <string>{18,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,99}}</string>
        <key>sourceSize</key>
        <string>{106,99}</string>
      </dict>
      <key>monster_1009_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{124,95}}</string>
        <key>offset</key>
        <string>{27,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,95}}</string>
        <key>sourceSize</key>
        <string>{124,95}</string>
      </dict>
      <key>monster_1009_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,581},{133,89}}</string>
        <key>offset</key>
        <string>{22,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,89}}</string>
        <key>sourceSize</key>
        <string>{133,89}</string>
      </dict>
      <key>monster_1009_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{135,75}}</string>
        <key>offset</key>
        <string>{14,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,75}}</string>
        <key>sourceSize</key>
        <string>{135,75}</string>
      </dict>
      <key>monster_1009_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,430},{133,64}}</string>
        <key>offset</key>
        <string>{18,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,64}}</string>
        <key>sourceSize</key>
        <string>{133,64}</string>
      </dict>
      <key>monster_1009_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,137},{132,64}}</string>
        <key>offset</key>
        <string>{18,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,64}}</string>
        <key>sourceSize</key>
        <string>{132,64}</string>
      </dict>
      <key>monster_1009_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,279},{133,62}}</string>
        <key>offset</key>
        <string>{16,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,62}}</string>
        <key>sourceSize</key>
        <string>{133,62}</string>
      </dict>
      <key>monster_1009_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,879},{134,63}}</string>
        <key>offset</key>
        <string>{15,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,63}}</string>
        <key>sourceSize</key>
        <string>{134,63}</string>
      </dict>
      <key>monster_1009_0_4_6_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,743},{135,64}}</string>
        <key>offset</key>
        <string>{14,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,64}}</string>
        <key>sourceSize</key>
        <string>{135,64}</string>
      </dict>
      <key>monster_1009_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,906},{92,83}}</string>
        <key>offset</key>
        <string>{-19,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,83}}</string>
        <key>sourceSize</key>
        <string>{92,83}</string>
      </dict>
      <key>monster_1009_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,616},{104,88}}</string>
        <key>offset</key>
        <string>{-11,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,88}}</string>
        <key>sourceSize</key>
        <string>{104,88}</string>
      </dict>
      <key>monster_1009_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,505},{109,90}}</string>
        <key>offset</key>
        <string>{-3,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,90}}</string>
        <key>sourceSize</key>
        <string>{109,90}</string>
      </dict>
      <key>monster_1009_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,900},{113,86}}</string>
        <key>offset</key>
        <string>{15,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,86}}</string>
        <key>sourceSize</key>
        <string>{113,86}</string>
      </dict>
      <key>monster_1009_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,565},{129,93}}</string>
        <key>offset</key>
        <string>{12,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,93}}</string>
        <key>sourceSize</key>
        <string>{129,93}</string>
      </dict>
      <key>monster_1009_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,465},{151,95}}</string>
        <key>offset</key>
        <string>{-14,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,95}}</string>
        <key>sourceSize</key>
        <string>{151,95}</string>
      </dict>
      <key>monster_1009_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,602},{144,86}}</string>
        <key>offset</key>
        <string>{-14,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,86}}</string>
        <key>sourceSize</key>
        <string>{144,86}</string>
      </dict>
      <key>monster_1009_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,150},{147,85}}</string>
        <key>offset</key>
        <string>{-14,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,85}}</string>
        <key>sourceSize</key>
        <string>{147,85}</string>
      </dict>
      <key>monster_1009_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,456},{144,86}}</string>
        <key>offset</key>
        <string>{-14,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,86}}</string>
        <key>sourceSize</key>
        <string>{144,86}</string>
      </dict>
      <key>monster_1009_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,296},{143,87}}</string>
        <key>offset</key>
        <string>{-13,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,87}}</string>
        <key>sourceSize</key>
        <string>{143,87}</string>
      </dict>
      <key>monster_1009_0_4_7_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,148},{142,88}}</string>
        <key>offset</key>
        <string>{-12,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,88}}</string>
        <key>sourceSize</key>
        <string>{142,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1009_0_4.png</string>
      <key>size</key>
      <string>{1068,1104}</string>
      <key>textureFileName</key>
      <string>monster_1009_0_4.png</string>
    </dict>
  </dict>
</plist>