<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0255_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,753},{130,207}}</string>
        <key>offset</key>
        <string>{-28,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,207}}</string>
        <key>sourceSize</key>
        <string>{130,207}</string>
      </dict>
      <key>monster_0255_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,0},{129,205}}</string>
        <key>offset</key>
        <string>{-28,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,205}}</string>
        <key>sourceSize</key>
        <string>{129,205}</string>
      </dict>
      <key>monster_0255_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,0},{129,204}}</string>
        <key>offset</key>
        <string>{-28,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,204}}</string>
        <key>sourceSize</key>
        <string>{129,204}</string>
      </dict>
      <key>monster_0255_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,695},{129,204}}</string>
        <key>offset</key>
        <string>{-28,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,204}}</string>
        <key>sourceSize</key>
        <string>{129,204}</string>
      </dict>
      <key>monster_0255_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,653},{195,200}}</string>
        <key>offset</key>
        <string>{-23,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,200}}</string>
        <key>sourceSize</key>
        <string>{195,200}</string>
      </dict>
      <key>monster_0255_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,304},{195,197}}</string>
        <key>offset</key>
        <string>{-23,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,197}}</string>
        <key>sourceSize</key>
        <string>{195,197}</string>
      </dict>
      <key>monster_0255_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,501},{197,195}}</string>
        <key>offset</key>
        <string>{-23,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,195}}</string>
        <key>sourceSize</key>
        <string>{197,195}</string>
      </dict>
      <key>monster_0255_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,698},{196,197}}</string>
        <key>offset</key>
        <string>{-22,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,197}}</string>
        <key>sourceSize</key>
        <string>{196,197}</string>
      </dict>
      <key>monster_0255_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{279,146}}</string>
        <key>offset</key>
        <string>{-59,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,146}}</string>
        <key>sourceSize</key>
        <string>{279,146}</string>
      </dict>
      <key>monster_0255_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{279,144}}</string>
        <key>offset</key>
        <string>{-60,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,144}}</string>
        <key>sourceSize</key>
        <string>{279,144}</string>
      </dict>
      <key>monster_0255_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,564},{277,144}}</string>
        <key>offset</key>
        <string>{-59,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,144}}</string>
        <key>sourceSize</key>
        <string>{277,144}</string>
      </dict>
      <key>monster_0255_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{281,145}}</string>
        <key>offset</key>
        <string>{-59,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,145}}</string>
        <key>sourceSize</key>
        <string>{281,145}</string>
      </dict>
      <key>monster_0255_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,564},{262,151}}</string>
        <key>offset</key>
        <string>{-78,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,151}}</string>
        <key>sourceSize</key>
        <string>{262,151}</string>
      </dict>
      <key>monster_0255_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,281},{262,151}}</string>
        <key>offset</key>
        <string>{-80,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,151}}</string>
        <key>sourceSize</key>
        <string>{262,151}</string>
      </dict>
      <key>monster_0255_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{261,153}}</string>
        <key>offset</key>
        <string>{-79,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,153}}</string>
        <key>sourceSize</key>
        <string>{261,153}</string>
      </dict>
      <key>monster_0255_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,545},{260,153}}</string>
        <key>offset</key>
        <string>{-78,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,153}}</string>
        <key>sourceSize</key>
        <string>{260,153}</string>
      </dict>
      <key>monster_0255_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1265,322},{159,171}}</string>
        <key>offset</key>
        <string>{-39,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,171}}</string>
        <key>sourceSize</key>
        <string>{159,171}</string>
      </dict>
      <key>monster_0255_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1268,0},{159,172}}</string>
        <key>offset</key>
        <string>{-39,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,172}}</string>
        <key>sourceSize</key>
        <string>{159,172}</string>
      </dict>
      <key>monster_0255_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,358},{159,173}}</string>
        <key>offset</key>
        <string>{-40,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,173}}</string>
        <key>sourceSize</key>
        <string>{159,173}</string>
      </dict>
      <key>monster_0255_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1268,161},{159,172}}</string>
        <key>offset</key>
        <string>{-39,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,172}}</string>
        <key>sourceSize</key>
        <string>{159,172}</string>
      </dict>
      <key>monster_0255_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,206},{198,150}}</string>
        <key>offset</key>
        <string>{-80,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,150}}</string>
        <key>sourceSize</key>
        <string>{198,150}</string>
      </dict>
      <key>monster_0255_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,0},{200,150}}</string>
        <key>offset</key>
        <string>{-82,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,150}}</string>
        <key>sourceSize</key>
        <string>{200,150}</string>
      </dict>
      <key>monster_0255_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,450},{201,149}}</string>
        <key>offset</key>
        <string>{-84,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,149}}</string>
        <key>sourceSize</key>
        <string>{201,149}</string>
      </dict>
      <key>monster_0255_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,152},{200,150}}</string>
        <key>offset</key>
        <string>{-83,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,150}}</string>
        <key>sourceSize</key>
        <string>{200,150}</string>
      </dict>
      <key>monster_0255_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{242,128}}</string>
        <key>offset</key>
        <string>{-129,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,128}}</string>
        <key>sourceSize</key>
        <string>{242,128}</string>
      </dict>
      <key>monster_0255_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,263},{244,129}}</string>
        <key>offset</key>
        <string>{-130,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,129}}</string>
        <key>sourceSize</key>
        <string>{244,129}</string>
      </dict>
      <key>monster_0255_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,263},{245,128}}</string>
        <key>offset</key>
        <string>{-132,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,128}}</string>
        <key>sourceSize</key>
        <string>{245,128}</string>
      </dict>
      <key>monster_0255_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,509},{242,128}}</string>
        <key>offset</key>
        <string>{-130,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,128}}</string>
        <key>sourceSize</key>
        <string>{242,128}</string>
      </dict>
      <key>monster_0255_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,0},{223,151}}</string>
        <key>offset</key>
        <string>{-91,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,151}}</string>
        <key>sourceSize</key>
        <string>{223,151}</string>
      </dict>
      <key>monster_0255_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,470},{223,148}}</string>
        <key>offset</key>
        <string>{-90,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,148}}</string>
        <key>sourceSize</key>
        <string>{223,148}</string>
      </dict>
      <key>monster_0255_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,244},{224,148}}</string>
        <key>offset</key>
        <string>{-91,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,148}}</string>
        <key>sourceSize</key>
        <string>{224,148}</string>
      </dict>
      <key>monster_0255_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,225},{223,148}}</string>
        <key>offset</key>
        <string>{-91,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,148}}</string>
        <key>sourceSize</key>
        <string>{223,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0255_0_0.png</string>
      <key>size</key>
      <string>{1457,898}</string>
      <key>textureFileName</key>
      <string>monster_0255_0_0.png</string>
    </dict>
  </dict>
</plist>