<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0214_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{154,117}}</string>
        <key>offset</key>
        <string>{-44,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,117}}</string>
        <key>sourceSize</key>
        <string>{154,117}</string>
      </dict>
      <key>monster_0214_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{147,122}}</string>
        <key>offset</key>
        <string>{-43,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,122}}</string>
        <key>sourceSize</key>
        <string>{147,122}</string>
      </dict>
      <key>monster_0214_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,478},{152,117}}</string>
        <key>offset</key>
        <string>{-44,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,117}}</string>
        <key>sourceSize</key>
        <string>{152,117}</string>
      </dict>
      <key>monster_0214_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{158,133}}</string>
        <key>offset</key>
        <string>{-51,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,133}}</string>
        <key>sourceSize</key>
        <string>{158,133}</string>
      </dict>
      <key>monster_0214_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,443},{139,137}}</string>
        <key>offset</key>
        <string>{-49,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,137}}</string>
        <key>sourceSize</key>
        <string>{139,137}</string>
      </dict>
      <key>monster_0214_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,162},{148,134}}</string>
        <key>offset</key>
        <string>{-49,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,134}}</string>
        <key>sourceSize</key>
        <string>{148,134}</string>
      </dict>
      <key>monster_0214_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,142},{113,133}}</string>
        <key>offset</key>
        <string>{-19,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,133}}</string>
        <key>sourceSize</key>
        <string>{113,133}</string>
      </dict>
      <key>monster_0214_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,277},{110,132}}</string>
        <key>offset</key>
        <string>{-19,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,132}}</string>
        <key>sourceSize</key>
        <string>{110,132}</string>
      </dict>
      <key>monster_0214_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,411},{105,131}}</string>
        <key>offset</key>
        <string>{-14,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,131}}</string>
        <key>sourceSize</key>
        <string>{105,131}</string>
      </dict>
      <key>monster_0214_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,433},{137,137}}</string>
        <key>offset</key>
        <string>{-31,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,137}}</string>
        <key>sourceSize</key>
        <string>{137,137}</string>
      </dict>
      <key>monster_0214_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,149},{146,127}}</string>
        <key>offset</key>
        <string>{-41,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,127}}</string>
        <key>sourceSize</key>
        <string>{146,127}</string>
      </dict>
      <key>monster_0214_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{141,129}}</string>
        <key>offset</key>
        <string>{-35,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,129}}</string>
        <key>sourceSize</key>
        <string>{141,129}</string>
      </dict>
      <key>monster_0214_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,322},{150,122}}</string>
        <key>offset</key>
        <string>{-33,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,122}}</string>
        <key>sourceSize</key>
        <string>{150,122}</string>
      </dict>
      <key>monster_0214_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,312},{147,124}}</string>
        <key>offset</key>
        <string>{-30,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,124}}</string>
        <key>sourceSize</key>
        <string>{147,124}</string>
      </dict>
      <key>monster_0214_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{148,119}}</string>
        <key>offset</key>
        <string>{-32,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,119}}</string>
        <key>sourceSize</key>
        <string>{148,119}</string>
      </dict>
      <key>monster_0214_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{160,135}}</string>
        <key>offset</key>
        <string>{-37,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,135}}</string>
        <key>sourceSize</key>
        <string>{160,135}</string>
      </dict>
      <key>monster_0214_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,461},{144,138}}</string>
        <key>offset</key>
        <string>{-22,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,138}}</string>
        <key>sourceSize</key>
        <string>{144,138}</string>
      </dict>
      <key>monster_0214_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,478},{151,136}}</string>
        <key>offset</key>
        <string>{-30,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,136}}</string>
        <key>sourceSize</key>
        <string>{151,136}</string>
      </dict>
      <key>monster_0214_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,0},{120,145}}</string>
        <key>offset</key>
        <string>{-23,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,145}}</string>
        <key>sourceSize</key>
        <string>{120,145}</string>
      </dict>
      <key>monster_0214_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{111,140}}</string>
        <key>offset</key>
        <string>{-13,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,140}}</string>
        <key>sourceSize</key>
        <string>{111,140}</string>
      </dict>
      <key>monster_0214_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,147},{110,143}}</string>
        <key>offset</key>
        <string>{-16,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,143}}</string>
        <key>sourceSize</key>
        <string>{110,143}</string>
      </dict>
      <key>monster_0214_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,292},{137,139}}</string>
        <key>offset</key>
        <string>{-32,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,139}}</string>
        <key>sourceSize</key>
        <string>{137,139}</string>
      </dict>
      <key>monster_0214_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,297},{144,127}}</string>
        <key>offset</key>
        <string>{-32,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,127}}</string>
        <key>sourceSize</key>
        <string>{144,127}</string>
      </dict>
      <key>monster_0214_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,143},{138,133}}</string>
        <key>offset</key>
        <string>{-32,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,133}}</string>
        <key>sourceSize</key>
        <string>{138,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0214_0_7.png</string>
      <key>size</key>
      <string>{820,641}</string>
      <key>textureFileName</key>
      <string>monster_0214_0_7.png</string>
    </dict>
  </dict>
</plist>