<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0355_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,463},{140,135}}</string>
        <key>offset</key>
        <string>{-33,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,135}}</string>
        <key>sourceSize</key>
        <string>{140,135}</string>
      </dict>
      <key>monster_0355_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,179},{158,119}}</string>
        <key>offset</key>
        <string>{-34,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,119}}</string>
        <key>sourceSize</key>
        <string>{158,119}</string>
      </dict>
      <key>monster_0355_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,537},{156,132}}</string>
        <key>offset</key>
        <string>{-29,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,132}}</string>
        <key>sourceSize</key>
        <string>{156,132}</string>
      </dict>
      <key>monster_0355_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{106,157}}</string>
        <key>offset</key>
        <string>{-26,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,157}}</string>
        <key>sourceSize</key>
        <string>{106,157}</string>
      </dict>
      <key>monster_0355_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,695},{142,147}}</string>
        <key>offset</key>
        <string>{-28,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,147}}</string>
        <key>sourceSize</key>
        <string>{142,147}</string>
      </dict>
      <key>monster_0355_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,583},{168,133}}</string>
        <key>offset</key>
        <string>{-32,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,133}}</string>
        <key>sourceSize</key>
        <string>{168,133}</string>
      </dict>
      <key>monster_0355_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,486},{138,126}}</string>
        <key>offset</key>
        <string>{-34,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,126}}</string>
        <key>sourceSize</key>
        <string>{138,126}</string>
      </dict>
      <key>monster_0355_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{177,126}}</string>
        <key>offset</key>
        <string>{-31,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,126}}</string>
        <key>sourceSize</key>
        <string>{177,126}</string>
      </dict>
      <key>monster_0355_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,719},{193,126}}</string>
        <key>offset</key>
        <string>{-3,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,126}}</string>
        <key>sourceSize</key>
        <string>{193,126}</string>
      </dict>
      <key>monster_0355_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,191},{182,131}}</string>
        <key>offset</key>
        <string>{-4,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,131}}</string>
        <key>sourceSize</key>
        <string>{182,131}</string>
      </dict>
      <key>monster_0355_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,753},{161,120}}</string>
        <key>offset</key>
        <string>{-36,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,120}}</string>
        <key>sourceSize</key>
        <string>{161,120}</string>
      </dict>
      <key>monster_0355_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,886},{126,109}}</string>
        <key>offset</key>
        <string>{-16,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,109}}</string>
        <key>sourceSize</key>
        <string>{126,109}</string>
      </dict>
      <key>monster_0355_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,116},{149,123}}</string>
        <key>offset</key>
        <string>{-23,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,123}}</string>
        <key>sourceSize</key>
        <string>{149,123}</string>
      </dict>
      <key>monster_0355_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{242,108}}</string>
        <key>offset</key>
        <string>{13,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,108}}</string>
        <key>sourceSize</key>
        <string>{242,108}</string>
      </dict>
      <key>monster_0355_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,487},{230,121}}</string>
        <key>offset</key>
        <string>{-1,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,121}}</string>
        <key>sourceSize</key>
        <string>{230,121}</string>
      </dict>
      <key>monster_0355_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,497},{145,116}}</string>
        <key>offset</key>
        <string>{-24,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,116}}</string>
        <key>sourceSize</key>
        <string>{145,116}</string>
      </dict>
      <key>monster_0355_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,0},{152,116}}</string>
        <key>offset</key>
        <string>{-49,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,116}}</string>
        <key>sourceSize</key>
        <string>{152,116}</string>
      </dict>
      <key>monster_0355_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,886},{125,114}}</string>
        <key>offset</key>
        <string>{0,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,114}}</string>
        <key>sourceSize</key>
        <string>{125,114}</string>
      </dict>
      <key>monster_0355_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{189,137}}</string>
        <key>offset</key>
        <string>{6,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,137}}</string>
        <key>sourceSize</key>
        <string>{189,137}</string>
      </dict>
      <key>monster_0355_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,476},{193,136}}</string>
        <key>offset</key>
        <string>{-21,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,136}}</string>
        <key>sourceSize</key>
        <string>{193,136}</string>
      </dict>
      <key>monster_0355_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,790},{126,115}}</string>
        <key>offset</key>
        <string>{-30,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,115}}</string>
        <key>sourceSize</key>
        <string>{126,115}</string>
      </dict>
      <key>monster_0355_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,751},{133,124}}</string>
        <key>offset</key>
        <string>{-41,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,124}}</string>
        <key>sourceSize</key>
        <string>{133,124}</string>
      </dict>
      <key>monster_0355_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,0},{150,114}}</string>
        <key>offset</key>
        <string>{-45,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,114}}</string>
        <key>sourceSize</key>
        <string>{150,114}</string>
      </dict>
      <key>monster_0355_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,339},{106,156}}</string>
        <key>offset</key>
        <string>{-8,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,156}}</string>
        <key>sourceSize</key>
        <string>{106,156}</string>
      </dict>
      <key>monster_0355_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,159},{135,156}}</string>
        <key>offset</key>
        <string>{-36,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,156}}</string>
        <key>sourceSize</key>
        <string>{135,156}</string>
      </dict>
      <key>monster_0355_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,317},{144,125}}</string>
        <key>offset</key>
        <string>{-59,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,125}}</string>
        <key>sourceSize</key>
        <string>{144,125}</string>
      </dict>
      <key>monster_0355_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,241},{114,139}}</string>
        <key>offset</key>
        <string>{-23,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,139}}</string>
        <key>sourceSize</key>
        <string>{114,139}</string>
      </dict>
      <key>monster_0355_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,0},{156,120}}</string>
        <key>offset</key>
        <string>{-64,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,120}}</string>
        <key>sourceSize</key>
        <string>{156,120}</string>
      </dict>
      <key>monster_0355_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,671},{192,130}}</string>
        <key>offset</key>
        <string>{-123,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,130}}</string>
        <key>sourceSize</key>
        <string>{192,130}</string>
      </dict>
      <key>monster_0355_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,397},{184,144}}</string>
        <key>offset</key>
        <string>{-110,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,144}}</string>
        <key>sourceSize</key>
        <string>{184,144}</string>
      </dict>
      <key>monster_0355_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,357},{139,127}}</string>
        <key>offset</key>
        <string>{-43,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,127}}</string>
        <key>sourceSize</key>
        <string>{139,127}</string>
      </dict>
      <key>monster_0355_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,745},{129,134}}</string>
        <key>offset</key>
        <string>{-30,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,134}}</string>
        <key>sourceSize</key>
        <string>{129,134}</string>
      </dict>
      <key>monster_0355_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,614},{129,135}}</string>
        <key>offset</key>
        <string>{-41,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,135}}</string>
        <key>sourceSize</key>
        <string>{129,135}</string>
      </dict>
      <key>monster_0355_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{241,104}}</string>
        <key>offset</key>
        <string>{-186,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,104}}</string>
        <key>sourceSize</key>
        <string>{241,104}</string>
      </dict>
      <key>monster_0355_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,244},{230,117}}</string>
        <key>offset</key>
        <string>{-160,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,117}}</string>
        <key>sourceSize</key>
        <string>{230,117}</string>
      </dict>
      <key>monster_0355_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,614},{123,135}}</string>
        <key>offset</key>
        <string>{-38,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,135}}</string>
        <key>sourceSize</key>
        <string>{123,135}</string>
      </dict>
      <key>monster_0355_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,375},{160,126}}</string>
        <key>offset</key>
        <string>{-29,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>monster_0355_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,644},{120,144}}</string>
        <key>offset</key>
        <string>{-47,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,144}}</string>
        <key>sourceSize</key>
        <string>{120,144}</string>
      </dict>
      <key>monster_0355_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,205},{190,131}}</string>
        <key>offset</key>
        <string>{-127,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,131}}</string>
        <key>sourceSize</key>
        <string>{190,131}</string>
      </dict>
      <key>monster_0355_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{203,126}}</string>
        <key>offset</key>
        <string>{-104,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,126}}</string>
        <key>sourceSize</key>
        <string>{203,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0355_0_2.png</string>
      <key>size</key>
      <string>{1024,1020}</string>
      <key>textureFileName</key>
      <string>monster_0355_0_2.png</string>
    </dict>
  </dict>
</plist>