<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0262_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,491},{122,121}}</string>
        <key>offset</key>
        <string>{-23,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,121}}</string>
        <key>sourceSize</key>
        <string>{122,121}</string>
      </dict>
      <key>monster_0262_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,579},{122,120}}</string>
        <key>offset</key>
        <string>{-22,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,120}}</string>
        <key>sourceSize</key>
        <string>{122,120}</string>
      </dict>
      <key>monster_0262_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,359},{123,116}}</string>
        <key>offset</key>
        <string>{-22,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,116}}</string>
        <key>sourceSize</key>
        <string>{123,116}</string>
      </dict>
      <key>monster_0262_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,364},{124,123}}</string>
        <key>offset</key>
        <string>{-23,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,123}}</string>
        <key>sourceSize</key>
        <string>{124,123}</string>
      </dict>
      <key>monster_0262_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,358},{123,125}}</string>
        <key>offset</key>
        <string>{-23,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,125}}</string>
        <key>sourceSize</key>
        <string>{123,125}</string>
      </dict>
      <key>monster_0262_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,370},{123,119}}</string>
        <key>offset</key>
        <string>{-24,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,119}}</string>
        <key>sourceSize</key>
        <string>{123,119}</string>
      </dict>
      <key>monster_0262_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,458},{123,119}}</string>
        <key>offset</key>
        <string>{-24,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,119}}</string>
        <key>sourceSize</key>
        <string>{123,119}</string>
      </dict>
      <key>monster_0262_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,477},{123,122}}</string>
        <key>offset</key>
        <string>{-24,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,122}}</string>
        <key>sourceSize</key>
        <string>{123,122}</string>
      </dict>
      <key>monster_0262_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,491},{114,122}}</string>
        <key>offset</key>
        <string>{-2,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,122}}</string>
        <key>sourceSize</key>
        <string>{114,122}</string>
      </dict>
      <key>monster_0262_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,607},{111,122}}</string>
        <key>offset</key>
        <string>{-1,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,122}}</string>
        <key>sourceSize</key>
        <string>{111,122}</string>
      </dict>
      <key>monster_0262_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,962},{107,113}}</string>
        <key>offset</key>
        <string>{1,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,113}}</string>
        <key>sourceSize</key>
        <string>{107,113}</string>
      </dict>
      <key>monster_0262_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,961},{109,108}}</string>
        <key>offset</key>
        <string>{-2,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,108}}</string>
        <key>sourceSize</key>
        <string>{109,108}</string>
      </dict>
      <key>monster_0262_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,962},{114,109}}</string>
        <key>offset</key>
        <string>{-8,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,109}}</string>
        <key>sourceSize</key>
        <string>{114,109}</string>
      </dict>
      <key>monster_0262_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,964},{115,112}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,112}}</string>
        <key>sourceSize</key>
        <string>{115,112}</string>
      </dict>
      <key>monster_0262_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,843},{108,119}}</string>
        <key>offset</key>
        <string>{0,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,119}}</string>
        <key>sourceSize</key>
        <string>{108,119}</string>
      </dict>
      <key>monster_0262_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,702},{111,121}}</string>
        <key>offset</key>
        <string>{-2,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,121}}</string>
        <key>sourceSize</key>
        <string>{111,121}</string>
      </dict>
      <key>monster_0262_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,843},{119,117}}</string>
        <key>offset</key>
        <string>{3,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,117}}</string>
        <key>sourceSize</key>
        <string>{119,117}</string>
      </dict>
      <key>monster_0262_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,0},{116,115}}</string>
        <key>offset</key>
        <string>{7,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,115}}</string>
        <key>sourceSize</key>
        <string>{116,115}</string>
      </dict>
      <key>monster_0262_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,964},{105,115}}</string>
        <key>offset</key>
        <string>{18,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,115}}</string>
        <key>sourceSize</key>
        <string>{105,115}</string>
      </dict>
      <key>monster_0262_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,244},{117,115}}</string>
        <key>offset</key>
        <string>{6,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,115}}</string>
        <key>sourceSize</key>
        <string>{117,115}</string>
      </dict>
      <key>monster_0262_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,246},{126,116}}</string>
        <key>offset</key>
        <string>{-4,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,116}}</string>
        <key>sourceSize</key>
        <string>{126,116}</string>
      </dict>
      <key>monster_0262_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,843},{119,117}}</string>
        <key>offset</key>
        <string>{4,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,117}}</string>
        <key>sourceSize</key>
        <string>{119,117}</string>
      </dict>
      <key>monster_0262_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,843},{107,119}}</string>
        <key>offset</key>
        <string>{16,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,119}}</string>
        <key>sourceSize</key>
        <string>{107,119}</string>
      </dict>
      <key>monster_0262_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,370},{112,119}}</string>
        <key>offset</key>
        <string>{11,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,119}}</string>
        <key>sourceSize</key>
        <string>{112,119}</string>
      </dict>
      <key>monster_0262_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,614},{115,122}}</string>
        <key>offset</key>
        <string>{-2,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,122}}</string>
        <key>sourceSize</key>
        <string>{115,122}</string>
      </dict>
      <key>monster_0262_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,597},{116,121}}</string>
        <key>offset</key>
        <string>{-3,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,121}}</string>
        <key>sourceSize</key>
        <string>{116,121}</string>
      </dict>
      <key>monster_0262_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{107,124}}</string>
        <key>offset</key>
        <string>{6,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,124}}</string>
        <key>sourceSize</key>
        <string>{107,124}</string>
      </dict>
      <key>monster_0262_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,0},{108,134}}</string>
        <key>offset</key>
        <string>{4,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,134}}</string>
        <key>sourceSize</key>
        <string>{108,134}</string>
      </dict>
      <key>monster_0262_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,0},{112,134}}</string>
        <key>offset</key>
        <string>{3,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,134}}</string>
        <key>sourceSize</key>
        <string>{112,134}</string>
      </dict>
      <key>monster_0262_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,125},{110,131}}</string>
        <key>offset</key>
        <string>{4,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,131}}</string>
        <key>sourceSize</key>
        <string>{110,131}</string>
      </dict>
      <key>monster_0262_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{106,126}}</string>
        <key>offset</key>
        <string>{7,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,126}}</string>
        <key>sourceSize</key>
        <string>{106,126}</string>
      </dict>
      <key>monster_0262_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,483},{112,123}}</string>
        <key>offset</key>
        <string>{2,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,123}}</string>
        <key>sourceSize</key>
        <string>{112,123}</string>
      </dict>
      <key>monster_0262_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,123},{121,133}}</string>
        <key>offset</key>
        <string>{-16,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,133}}</string>
        <key>sourceSize</key>
        <string>{121,133}</string>
      </dict>
      <key>monster_0262_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,121},{121,127}}</string>
        <key>offset</key>
        <string>{-16,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,127}}</string>
        <key>sourceSize</key>
        <string>{121,127}</string>
      </dict>
      <key>monster_0262_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,720},{122,121}}</string>
        <key>offset</key>
        <string>{-18,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,121}}</string>
        <key>sourceSize</key>
        <string>{122,121}</string>
      </dict>
      <key>monster_0262_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,110},{123,134}}</string>
        <key>offset</key>
        <string>{-18,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,134}}</string>
        <key>sourceSize</key>
        <string>{123,134}</string>
      </dict>
      <key>monster_0262_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{123,135}}</string>
        <key>offset</key>
        <string>{-18,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,135}}</string>
        <key>sourceSize</key>
        <string>{123,135}</string>
      </dict>
      <key>monster_0262_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,237},{123,130}}</string>
        <key>offset</key>
        <string>{-17,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,130}}</string>
        <key>sourceSize</key>
        <string>{123,130}</string>
      </dict>
      <key>monster_0262_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,843},{122,121}}</string>
        <key>offset</key>
        <string>{-16,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,121}}</string>
        <key>sourceSize</key>
        <string>{122,121}</string>
      </dict>
      <key>monster_0262_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{121,135}}</string>
        <key>offset</key>
        <string>{-15,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,135}}</string>
        <key>sourceSize</key>
        <string>{121,135}</string>
      </dict>
      <key>monster_0262_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,120},{122,134}}</string>
        <key>offset</key>
        <string>{-35,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,134}}</string>
        <key>sourceSize</key>
        <string>{122,134}</string>
      </dict>
      <key>monster_0262_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,0},{119,130}}</string>
        <key>offset</key>
        <string>{-32,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>monster_0262_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,223},{116,127}}</string>
        <key>offset</key>
        <string>{-29,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,127}}</string>
        <key>sourceSize</key>
        <string>{116,127}</string>
      </dict>
      <key>monster_0262_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,235},{127,122}}</string>
        <key>offset</key>
        <string>{-41,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,122}}</string>
        <key>sourceSize</key>
        <string>{127,122}</string>
      </dict>
      <key>monster_0262_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,244},{124,124}}</string>
        <key>offset</key>
        <string>{-38,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,124}}</string>
        <key>sourceSize</key>
        <string>{124,124}</string>
      </dict>
      <key>monster_0262_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,341},{115,124}}</string>
        <key>offset</key>
        <string>{-29,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,124}}</string>
        <key>sourceSize</key>
        <string>{115,124}</string>
      </dict>
      <key>monster_0262_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,244},{112,127}}</string>
        <key>offset</key>
        <string>{-27,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,127}}</string>
        <key>sourceSize</key>
        <string>{112,127}</string>
      </dict>
      <key>monster_0262_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{118,135}}</string>
        <key>offset</key>
        <string>{-31,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,135}}</string>
        <key>sourceSize</key>
        <string>{118,135}</string>
      </dict>
      <key>monster_0262_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,121},{117,117}}</string>
        <key>offset</key>
        <string>{-39,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>monster_0262_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,843},{109,116}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,116}}</string>
        <key>sourceSize</key>
        <string>{109,116}</string>
      </dict>
      <key>monster_0262_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,715},{109,120}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,120}}</string>
        <key>sourceSize</key>
        <string>{109,120}</string>
      </dict>
      <key>monster_0262_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,701},{120,120}}</string>
        <key>offset</key>
        <string>{-42,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>monster_0262_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,724},{117,120}}</string>
        <key>offset</key>
        <string>{-39,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,120}}</string>
        <key>sourceSize</key>
        <string>{117,120}</string>
      </dict>
      <key>monster_0262_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,731},{109,120}}</string>
        <key>offset</key>
        <string>{-30,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,120}}</string>
        <key>sourceSize</key>
        <string>{109,120}</string>
      </dict>
      <key>monster_0262_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,823},{109,120}}</string>
        <key>offset</key>
        <string>{-30,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,120}}</string>
        <key>sourceSize</key>
        <string>{109,120}</string>
      </dict>
      <key>monster_0262_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,702},{122,117}}</string>
        <key>offset</key>
        <string>{-43,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,117}}</string>
        <key>sourceSize</key>
        <string>{122,117}</string>
      </dict>
      <key>monster_0262_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,489},{123,106}}</string>
        <key>offset</key>
        <string>{-42,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,106}}</string>
        <key>sourceSize</key>
        <string>{123,106}</string>
      </dict>
      <key>monster_0262_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,964},{115,110}}</string>
        <key>offset</key>
        <string>{-33,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,110}}</string>
        <key>sourceSize</key>
        <string>{115,110}</string>
      </dict>
      <key>monster_0262_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,964},{112,115}}</string>
        <key>offset</key>
        <string>{-31,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,115}}</string>
        <key>sourceSize</key>
        <string>{112,115}</string>
      </dict>
      <key>monster_0262_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,842},{118,120}}</string>
        <key>offset</key>
        <string>{-36,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,120}}</string>
        <key>sourceSize</key>
        <string>{118,120}</string>
      </dict>
      <key>monster_0262_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,601},{121,121}}</string>
        <key>offset</key>
        <string>{-38,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,121}}</string>
        <key>sourceSize</key>
        <string>{121,121}</string>
      </dict>
      <key>monster_0262_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,579},{121,123}}</string>
        <key>offset</key>
        <string>{-36,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,123}}</string>
        <key>sourceSize</key>
        <string>{121,123}</string>
      </dict>
      <key>monster_0262_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,967},{116,112}}</string>
        <key>offset</key>
        <string>{-32,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,112}}</string>
        <key>sourceSize</key>
        <string>{116,112}</string>
      </dict>
      <key>monster_0262_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,114},{128,107}}</string>
        <key>offset</key>
        <string>{-45,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,107}}</string>
        <key>sourceSize</key>
        <string>{128,107}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0262_0_1.png</string>
      <key>size</key>
      <string>{953,1081}</string>
      <key>textureFileName</key>
      <string>monster_0262_0_1.png</string>
    </dict>
  </dict>
</plist>