<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0211_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{136,118}}</string>
        <key>offset</key>
        <string>{-36,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,118}}</string>
        <key>sourceSize</key>
        <string>{136,118}</string>
      </dict>
      <key>monster_0211_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{130,127}}</string>
        <key>offset</key>
        <string>{-35,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,127}}</string>
        <key>sourceSize</key>
        <string>{130,127}</string>
      </dict>
      <key>monster_0211_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,138},{131,122}}</string>
        <key>offset</key>
        <string>{-35,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,122}}</string>
        <key>sourceSize</key>
        <string>{131,122}</string>
      </dict>
      <key>monster_0211_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,302},{110,140}}</string>
        <key>offset</key>
        <string>{-25,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,140}}</string>
        <key>sourceSize</key>
        <string>{110,140}</string>
      </dict>
      <key>monster_0211_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,318},{102,144}}</string>
        <key>offset</key>
        <string>{-23,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,144}}</string>
        <key>sourceSize</key>
        <string>{102,144}</string>
      </dict>
      <key>monster_0211_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,464},{106,142}}</string>
        <key>offset</key>
        <string>{-22,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,142}}</string>
        <key>sourceSize</key>
        <string>{106,142}</string>
      </dict>
      <key>monster_0211_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,157},{105,138}}</string>
        <key>offset</key>
        <string>{-18,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,138}}</string>
        <key>sourceSize</key>
        <string>{105,138}</string>
      </dict>
      <key>monster_0211_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,444},{118,136}}</string>
        <key>offset</key>
        <string>{-32,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,136}}</string>
        <key>sourceSize</key>
        <string>{118,136}</string>
      </dict>
      <key>monster_0211_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,297},{111,136}}</string>
        <key>offset</key>
        <string>{-22,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,136}}</string>
        <key>sourceSize</key>
        <string>{111,136}</string>
      </dict>
      <key>monster_0211_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,157},{143,126}}</string>
        <key>offset</key>
        <string>{-47,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,126}}</string>
        <key>sourceSize</key>
        <string>{143,126}</string>
      </dict>
      <key>monster_0211_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,318},{150,122}}</string>
        <key>offset</key>
        <string>{-55,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,122}}</string>
        <key>sourceSize</key>
        <string>{150,122}</string>
      </dict>
      <key>monster_0211_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{146,123}}</string>
        <key>offset</key>
        <string>{-50,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,123}}</string>
        <key>sourceSize</key>
        <string>{146,123}</string>
      </dict>
      <key>monster_0211_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{158,125}}</string>
        <key>offset</key>
        <string>{-50,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,125}}</string>
        <key>sourceSize</key>
        <string>{158,125}</string>
      </dict>
      <key>monster_0211_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{155,130}}</string>
        <key>offset</key>
        <string>{-46,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,130}}</string>
        <key>sourceSize</key>
        <string>{155,130}</string>
      </dict>
      <key>monster_0211_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{156,126}}</string>
        <key>offset</key>
        <string>{-48,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,126}}</string>
        <key>sourceSize</key>
        <string>{156,126}</string>
      </dict>
      <key>monster_0211_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,362},{125,126}}</string>
        <key>offset</key>
        <string>{-22,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,126}}</string>
        <key>sourceSize</key>
        <string>{125,126}</string>
      </dict>
      <key>monster_0211_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,0},{111,131}}</string>
        <key>offset</key>
        <string>{-10,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,131}}</string>
        <key>sourceSize</key>
        <string>{111,131}</string>
      </dict>
      <key>monster_0211_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,245},{115,127}}</string>
        <key>offset</key>
        <string>{-16,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,127}}</string>
        <key>sourceSize</key>
        <string>{115,127}</string>
      </dict>
      <key>monster_0211_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,362},{112,124}}</string>
        <key>offset</key>
        <string>{-13,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,124}}</string>
        <key>sourceSize</key>
        <string>{112,124}</string>
      </dict>
      <key>monster_0211_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,489},{120,125}}</string>
        <key>offset</key>
        <string>{-12,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,125}}</string>
        <key>sourceSize</key>
        <string>{120,125}</string>
      </dict>
      <key>monster_0211_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,245},{114,124}}</string>
        <key>offset</key>
        <string>{-13,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,124}}</string>
        <key>sourceSize</key>
        <string>{114,124}</string>
      </dict>
      <key>monster_0211_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{121,116}}</string>
        <key>offset</key>
        <string>{-25,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,116}}</string>
        <key>sourceSize</key>
        <string>{121,116}</string>
      </dict>
      <key>monster_0211_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,129},{128,114}}</string>
        <key>offset</key>
        <string>{-26,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,114}}</string>
        <key>sourceSize</key>
        <string>{128,114}</string>
      </dict>
      <key>monster_0211_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,489},{125,115}}</string>
        <key>offset</key>
        <string>{-27,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,115}}</string>
        <key>sourceSize</key>
        <string>{125,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0211_0_7.png</string>
      <key>size</key>
      <string>{753,642}</string>
      <key>textureFileName</key>
      <string>monster_0211_0_7.png</string>
    </dict>
  </dict>
</plist>