<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0082_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,99}}</string>
        <key>offset</key>
        <string>{3,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,99}}</string>
        <key>sourceSize</key>
        <string>{58,99}</string>
      </dict>
      <key>monster_0082_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{56,93}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,93}}</string>
        <key>sourceSize</key>
        <string>{56,93}</string>
      </dict>
      <key>monster_0082_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,283},{56,87}}</string>
        <key>offset</key>
        <string>{0,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,87}}</string>
        <key>sourceSize</key>
        <string>{56,87}</string>
      </dict>
      <key>monster_0082_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,101},{77,89}}</string>
        <key>offset</key>
        <string>{-13,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,89}}</string>
        <key>sourceSize</key>
        <string>{77,89}</string>
      </dict>
      <key>monster_0082_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{68,89}}</string>
        <key>offset</key>
        <string>{-12,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,89}}</string>
        <key>sourceSize</key>
        <string>{68,89}</string>
      </dict>
      <key>monster_0082_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{70,87}}</string>
        <key>offset</key>
        <string>{-13,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,87}}</string>
        <key>sourceSize</key>
        <string>{70,87}</string>
      </dict>
      <key>monster_0082_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,192},{89,84}}</string>
        <key>offset</key>
        <string>{-24,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,84}}</string>
        <key>sourceSize</key>
        <string>{89,84}</string>
      </dict>
      <key>monster_0082_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{86,82}}</string>
        <key>offset</key>
        <string>{-24,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,82}}</string>
        <key>sourceSize</key>
        <string>{86,82}</string>
      </dict>
      <key>monster_0082_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,88},{75,85}}</string>
        <key>offset</key>
        <string>{-24,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,85}}</string>
        <key>sourceSize</key>
        <string>{75,85}</string>
      </dict>
      <key>monster_0082_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,175},{76,85}}</string>
        <key>offset</key>
        <string>{-13,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,85}}</string>
        <key>sourceSize</key>
        <string>{76,85}</string>
      </dict>
      <key>monster_0082_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,145},{78,82}}</string>
        <key>offset</key>
        <string>{-12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,82}}</string>
        <key>sourceSize</key>
        <string>{78,82}</string>
      </dict>
      <key>monster_0082_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,262},{74,82}}</string>
        <key>offset</key>
        <string>{-13,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>monster_0082_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,283},{57,88}}</string>
        <key>offset</key>
        <string>{3,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,88}}</string>
        <key>sourceSize</key>
        <string>{57,88}</string>
      </dict>
      <key>monster_0082_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,88},{59,85}}</string>
        <key>offset</key>
        <string>{3,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,85}}</string>
        <key>sourceSize</key>
        <string>{59,85}</string>
      </dict>
      <key>monster_0082_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,225},{60,81}}</string>
        <key>offset</key>
        <string>{3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,81}}</string>
        <key>sourceSize</key>
        <string>{60,81}</string>
      </dict>
      <key>monster_0082_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{66,85}}</string>
        <key>offset</key>
        <string>{-2,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,85}}</string>
        <key>sourceSize</key>
        <string>{66,85}</string>
      </dict>
      <key>monster_0082_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,77},{66,83}}</string>
        <key>offset</key>
        <string>{0,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,83}}</string>
        <key>sourceSize</key>
        <string>{66,83}</string>
      </dict>
      <key>monster_0082_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,287},{64,80}}</string>
        <key>offset</key>
        <string>{0,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,80}}</string>
        <key>sourceSize</key>
        <string>{64,80}</string>
      </dict>
      <key>monster_0082_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{75,84}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>monster_0082_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,0},{71,75}}</string>
        <key>offset</key>
        <string>{7,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,75}}</string>
        <key>sourceSize</key>
        <string>{71,75}</string>
      </dict>
      <key>monster_0082_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,143},{67,73}}</string>
        <key>offset</key>
        <string>{8,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,73}}</string>
        <key>sourceSize</key>
        <string>{67,73}</string>
      </dict>
      <key>monster_0082_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{65,90}}</string>
        <key>offset</key>
        <string>{-1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,90}}</string>
        <key>sourceSize</key>
        <string>{65,90}</string>
      </dict>
      <key>monster_0082_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,287},{66,81}}</string>
        <key>offset</key>
        <string>{0,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,81}}</string>
        <key>sourceSize</key>
        <string>{66,81}</string>
      </dict>
      <key>monster_0082_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,77},{64,77}}</string>
        <key>offset</key>
        <string>{1,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,77}}</string>
        <key>sourceSize</key>
        <string>{64,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0082_0_7.png</string>
      <key>size</key>
      <string>{448,386}</string>
      <key>textureFileName</key>
      <string>monster_0082_0_7.png</string>
    </dict>
  </dict>
</plist>