<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0074_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,204},{40,46}}</string>
        <key>offset</key>
        <string>{10,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,46}}</string>
        <key>sourceSize</key>
        <string>{40,46}</string>
      </dict>
      <key>monster_0074_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,151},{39,46}}</string>
        <key>offset</key>
        <string>{10,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,46}}</string>
        <key>sourceSize</key>
        <string>{39,46}</string>
      </dict>
      <key>monster_0074_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,154},{38,48}}</string>
        <key>offset</key>
        <string>{10,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,48}}</string>
        <key>sourceSize</key>
        <string>{38,48}</string>
      </dict>
      <key>monster_0074_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,48},{39,45}}</string>
        <key>offset</key>
        <string>{10,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,45}}</string>
        <key>sourceSize</key>
        <string>{39,45}</string>
      </dict>
      <key>monster_0074_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,106},{41,49}}</string>
        <key>offset</key>
        <string>{10,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,49}}</string>
        <key>sourceSize</key>
        <string>{41,49}</string>
      </dict>
      <key>monster_0074_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,210},{49,44}}</string>
        <key>offset</key>
        <string>{10,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,44}}</string>
        <key>sourceSize</key>
        <string>{49,44}</string>
      </dict>
      <key>monster_0074_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,100},{46,43}}</string>
        <key>offset</key>
        <string>{15,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,43}}</string>
        <key>sourceSize</key>
        <string>{46,43}</string>
      </dict>
      <key>monster_0074_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,49},{45,46}}</string>
        <key>offset</key>
        <string>{14,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,46}}</string>
        <key>sourceSize</key>
        <string>{45,46}</string>
      </dict>
      <key>monster_0074_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,0},{46,42}}</string>
        <key>offset</key>
        <string>{12,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,42}}</string>
        <key>sourceSize</key>
        <string>{46,42}</string>
      </dict>
      <key>monster_0074_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,52},{49,47}}</string>
        <key>offset</key>
        <string>{9,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,47}}</string>
        <key>sourceSize</key>
        <string>{49,47}</string>
      </dict>
      <key>monster_0074_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{57,40}}</string>
        <key>offset</key>
        <string>{8,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,40}}</string>
        <key>sourceSize</key>
        <string>{57,40}</string>
      </dict>
      <key>monster_0074_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{54,41}}</string>
        <key>offset</key>
        <string>{14,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,41}}</string>
        <key>sourceSize</key>
        <string>{54,41}</string>
      </dict>
      <key>monster_0074_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{51,42}}</string>
        <key>offset</key>
        <string>{15,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,42}}</string>
        <key>sourceSize</key>
        <string>{51,42}</string>
      </dict>
      <key>monster_0074_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{54,39}}</string>
        <key>offset</key>
        <string>{12,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,39}}</string>
        <key>sourceSize</key>
        <string>{54,39}</string>
      </dict>
      <key>monster_0074_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,111},{51,43}}</string>
        <key>offset</key>
        <string>{9,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,43}}</string>
        <key>sourceSize</key>
        <string>{51,43}</string>
      </dict>
      <key>monster_0074_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{49,43}}</string>
        <key>offset</key>
        <string>{10,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,43}}</string>
        <key>sourceSize</key>
        <string>{49,43}</string>
      </dict>
      <key>monster_0074_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,199},{46,44}}</string>
        <key>offset</key>
        <string>{15,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,44}}</string>
        <key>sourceSize</key>
        <string>{46,44}</string>
      </dict>
      <key>monster_0074_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,148},{46,43}}</string>
        <key>offset</key>
        <string>{13,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,43}}</string>
        <key>sourceSize</key>
        <string>{46,43}</string>
      </dict>
      <key>monster_0074_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,102},{47,44}}</string>
        <key>offset</key>
        <string>{11,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,44}}</string>
        <key>sourceSize</key>
        <string>{47,44}</string>
      </dict>
      <key>monster_0074_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,103},{49,44}}</string>
        <key>offset</key>
        <string>{9,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,44}}</string>
        <key>sourceSize</key>
        <string>{49,44}</string>
      </dict>
      <key>monster_0074_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,196},{40,45}}</string>
        <key>offset</key>
        <string>{10,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,45}}</string>
        <key>sourceSize</key>
        <string>{40,45}</string>
      </dict>
      <key>monster_0074_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,97},{39,46}}</string>
        <key>offset</key>
        <string>{10,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,46}}</string>
        <key>sourceSize</key>
        <string>{39,46}</string>
      </dict>
      <key>monster_0074_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{38,45}}</string>
        <key>offset</key>
        <string>{10,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,45}}</string>
        <key>sourceSize</key>
        <string>{38,45}</string>
      </dict>
      <key>monster_0074_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,204},{39,48}}</string>
        <key>offset</key>
        <string>{10,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,48}}</string>
        <key>sourceSize</key>
        <string>{39,48}</string>
      </dict>
      <key>monster_0074_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,95},{41,45}}</string>
        <key>offset</key>
        <string>{10,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,45}}</string>
        <key>sourceSize</key>
        <string>{41,45}</string>
      </dict>
      <key>monster_0074_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{50,43}}</string>
        <key>offset</key>
        <string>{-1,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,43}}</string>
        <key>sourceSize</key>
        <string>{50,43}</string>
      </dict>
      <key>monster_0074_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,51},{49,44}}</string>
        <key>offset</key>
        <string>{-4,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,44}}</string>
        <key>sourceSize</key>
        <string>{49,44}</string>
      </dict>
      <key>monster_0074_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,138},{44,43}}</string>
        <key>offset</key>
        <string>{-1,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,43}}</string>
        <key>sourceSize</key>
        <string>{44,43}</string>
      </dict>
      <key>monster_0074_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,164},{51,44}}</string>
        <key>offset</key>
        <string>{-2,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,44}}</string>
        <key>sourceSize</key>
        <string>{51,44}</string>
      </dict>
      <key>monster_0074_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,154},{48,43}}</string>
        <key>offset</key>
        <string>{1,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,43}}</string>
        <key>sourceSize</key>
        <string>{48,43}</string>
      </dict>
      <key>monster_0074_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,0},{55,40}}</string>
        <key>offset</key>
        <string>{-6,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,40}}</string>
        <key>sourceSize</key>
        <string>{55,40}</string>
      </dict>
      <key>monster_0074_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,174},{53,41}}</string>
        <key>offset</key>
        <string>{-9,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,41}}</string>
        <key>sourceSize</key>
        <string>{53,41}</string>
      </dict>
      <key>monster_0074_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,106},{50,42}}</string>
        <key>offset</key>
        <string>{-7,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{50,42}</string>
      </dict>
      <key>monster_0074_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,59},{57,41}}</string>
        <key>offset</key>
        <string>{-8,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,41}}</string>
        <key>sourceSize</key>
        <string>{57,41}</string>
      </dict>
      <key>monster_0074_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,57},{52,43}}</string>
        <key>offset</key>
        <string>{-2,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,43}}</string>
        <key>sourceSize</key>
        <string>{52,43}</string>
      </dict>
      <key>monster_0074_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,158},{50,44}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,44}}</string>
        <key>sourceSize</key>
        <string>{50,44}</string>
      </dict>
      <key>monster_0074_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{49,42}}</string>
        <key>offset</key>
        <string>{-4,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,42}}</string>
        <key>sourceSize</key>
        <string>{49,42}</string>
      </dict>
      <key>monster_0074_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,51},{47,46}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>monster_0074_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,53},{51,44}}</string>
        <key>offset</key>
        <string>{-2,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,44}}</string>
        <key>sourceSize</key>
        <string>{51,44}</string>
      </dict>
      <key>monster_0074_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{45,47}}</string>
        <key>offset</key>
        <string>{4,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,47}}</string>
        <key>sourceSize</key>
        <string>{45,47}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0074_0_1.png</string>
      <key>size</key>
      <string>{403,257}</string>
      <key>textureFileName</key>
      <string>monster_0074_0_1.png</string>
    </dict>
  </dict>
</plist>