<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0164_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,627},{106,119}}</string>
        <key>offset</key>
        <string>{-25,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,119}}</string>
        <key>sourceSize</key>
        <string>{106,119}</string>
      </dict>
      <key>monster_0164_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,576},{144,116}}</string>
        <key>offset</key>
        <string>{-38,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,116}}</string>
        <key>sourceSize</key>
        <string>{144,116}</string>
      </dict>
      <key>monster_0164_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,175},{163,141}}</string>
        <key>offset</key>
        <string>{-52,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,141}}</string>
        <key>sourceSize</key>
        <string>{163,141}</string>
      </dict>
      <key>monster_0164_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,382},{172,101}}</string>
        <key>offset</key>
        <string>{-31,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,101}}</string>
        <key>sourceSize</key>
        <string>{172,101}</string>
      </dict>
      <key>monster_0164_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,204},{158,124}}</string>
        <key>offset</key>
        <string>{-28,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,124}}</string>
        <key>sourceSize</key>
        <string>{158,124}</string>
      </dict>
      <key>monster_0164_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{201,131}}</string>
        <key>offset</key>
        <string>{-54,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,131}}</string>
        <key>sourceSize</key>
        <string>{201,131}</string>
      </dict>
      <key>monster_0164_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,392},{182,72}}</string>
        <key>offset</key>
        <string>{-37,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,72}}</string>
        <key>sourceSize</key>
        <string>{182,72}</string>
      </dict>
      <key>monster_0164_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,579},{145,112}}</string>
        <key>offset</key>
        <string>{-36,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,112}}</string>
        <key>sourceSize</key>
        <string>{145,112}</string>
      </dict>
      <key>monster_0164_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{187,111}}</string>
        <key>offset</key>
        <string>{-57,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,111}}</string>
        <key>sourceSize</key>
        <string>{187,111}</string>
      </dict>
      <key>monster_0164_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{161,103}}</string>
        <key>offset</key>
        <string>{-21,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,103}}</string>
        <key>sourceSize</key>
        <string>{161,103}</string>
      </dict>
      <key>monster_0164_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,476},{152,96}}</string>
        <key>offset</key>
        <string>{-23,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,96}}</string>
        <key>sourceSize</key>
        <string>{152,96}</string>
      </dict>
      <key>monster_0164_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,203},{177,104}}</string>
        <key>offset</key>
        <string>{-40,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,104}}</string>
        <key>sourceSize</key>
        <string>{177,104}</string>
      </dict>
      <key>monster_0164_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,341},{103,99}}</string>
        <key>offset</key>
        <string>{-22,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,99}}</string>
        <key>sourceSize</key>
        <string>{103,99}</string>
      </dict>
      <key>monster_0164_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,476},{149,73}}</string>
        <key>offset</key>
        <string>{-33,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>monster_0164_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,105},{159,97}}</string>
        <key>offset</key>
        <string>{-36,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,97}}</string>
        <key>sourceSize</key>
        <string>{159,97}</string>
      </dict>
      <key>monster_0164_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{173,85}}</string>
        <key>offset</key>
        <string>{-84,-11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,85}}</string>
        <key>sourceSize</key>
        <string>{173,85}</string>
      </dict>
      <key>monster_0164_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,204},{135,80}}</string>
        <key>offset</key>
        <string>{-55,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,80}}</string>
        <key>sourceSize</key>
        <string>{135,80}</string>
      </dict>
      <key>monster_0164_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{185,88}}</string>
        <key>offset</key>
        <string>{-72,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,88}}</string>
        <key>sourceSize</key>
        <string>{185,88}</string>
      </dict>
      <key>monster_0164_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{177,79}}</string>
        <key>offset</key>
        <string>{-88,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,79}}</string>
        <key>sourceSize</key>
        <string>{177,79}</string>
      </dict>
      <key>monster_0164_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,633},{129,106}}</string>
        <key>offset</key>
        <string>{-43,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,106}}</string>
        <key>sourceSize</key>
        <string>{129,106}</string>
      </dict>
      <key>monster_0164_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{163,118}}</string>
        <key>offset</key>
        <string>{-53,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,118}}</string>
        <key>sourceSize</key>
        <string>{163,118}</string>
      </dict>
      <key>monster_0164_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,476},{155,105}}</string>
        <key>offset</key>
        <string>{-84,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,105}}</string>
        <key>sourceSize</key>
        <string>{155,105}</string>
      </dict>
      <key>monster_0164_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,630},{122,123}}</string>
        <key>offset</key>
        <string>{-50,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,123}}</string>
        <key>sourceSize</key>
        <string>{122,123}</string>
      </dict>
      <key>monster_0164_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,330},{156,144}}</string>
        <key>offset</key>
        <string>{-66,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,144}}</string>
        <key>sourceSize</key>
        <string>{156,144}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0164_0_7.png</string>
      <key>size</key>
      <string>{642,754}</string>
      <key>textureFileName</key>
      <string>monster_0164_0_7.png</string>
    </dict>
  </dict>
</plist>