<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0375_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,888},{111,113}}</string>
        <key>offset</key>
        <string>{-12,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,113}}</string>
        <key>sourceSize</key>
        <string>{111,113}</string>
      </dict>
      <key>monster_0375_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,0},{146,108}}</string>
        <key>offset</key>
        <string>{-6,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,108}}</string>
        <key>sourceSize</key>
        <string>{146,108}</string>
      </dict>
      <key>monster_0375_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,668},{111,146}}</string>
        <key>offset</key>
        <string>{-13,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,146}}</string>
        <key>sourceSize</key>
        <string>{111,146}</string>
      </dict>
      <key>monster_0375_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,588},{105,164}}</string>
        <key>offset</key>
        <string>{-16,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,164}}</string>
        <key>sourceSize</key>
        <string>{105,164}</string>
      </dict>
      <key>monster_0375_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,0},{104,157}}</string>
        <key>offset</key>
        <string>{-15,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,157}}</string>
        <key>sourceSize</key>
        <string>{104,157}</string>
      </dict>
      <key>monster_0375_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,455},{79,133}}</string>
        <key>offset</key>
        <string>{-11,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>monster_0375_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,651},{129,107}}</string>
        <key>offset</key>
        <string>{-5,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,107}}</string>
        <key>sourceSize</key>
        <string>{129,107}</string>
      </dict>
      <key>monster_0375_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,479},{145,117}}</string>
        <key>offset</key>
        <string>{4,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,117}}</string>
        <key>sourceSize</key>
        <string>{145,117}</string>
      </dict>
      <key>monster_0375_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,329},{148,135}}</string>
        <key>offset</key>
        <string>{-9,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,135}}</string>
        <key>sourceSize</key>
        <string>{148,135}</string>
      </dict>
      <key>monster_0375_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,180},{136,168}}</string>
        <key>offset</key>
        <string>{-11,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,168}}</string>
        <key>sourceSize</key>
        <string>{136,168}</string>
      </dict>
      <key>monster_0375_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,167},{160,144}}</string>
        <key>offset</key>
        <string>{-8,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,144}}</string>
        <key>sourceSize</key>
        <string>{160,144}</string>
      </dict>
      <key>monster_0375_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{165,106}}</string>
        <key>offset</key>
        <string>{-14,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,106}}</string>
        <key>sourceSize</key>
        <string>{165,106}</string>
      </dict>
      <key>monster_0375_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,538},{132,111}}</string>
        <key>offset</key>
        <string>{4,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,111}}</string>
        <key>sourceSize</key>
        <string>{132,111}</string>
      </dict>
      <key>monster_0375_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,761},{114,125}}</string>
        <key>offset</key>
        <string>{-10,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,125}}</string>
        <key>sourceSize</key>
        <string>{114,125}</string>
      </dict>
      <key>monster_0375_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,350},{163,108}}</string>
        <key>offset</key>
        <string>{-1,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,108}}</string>
        <key>sourceSize</key>
        <string>{163,108}</string>
      </dict>
      <key>monster_0375_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{178,145}}</string>
        <key>offset</key>
        <string>{-5,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,145}}</string>
        <key>sourceSize</key>
        <string>{178,145}</string>
      </dict>
      <key>monster_0375_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,451},{196,104}}</string>
        <key>offset</key>
        <string>{-2,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,104}}</string>
        <key>sourceSize</key>
        <string>{196,104}</string>
      </dict>
      <key>monster_0375_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{226,66}}</string>
        <key>offset</key>
        <string>{-29,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,66}}</string>
        <key>sourceSize</key>
        <string>{226,66}</string>
      </dict>
      <key>monster_0375_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,777},{114,116}}</string>
        <key>offset</key>
        <string>{-14,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>monster_0375_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,285},{115,122}}</string>
        <key>offset</key>
        <string>{-21,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,122}}</string>
        <key>sourceSize</key>
        <string>{115,122}</string>
      </dict>
      <key>monster_0375_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,651},{131,108}}</string>
        <key>offset</key>
        <string>{0,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,108}}</string>
        <key>sourceSize</key>
        <string>{131,108}</string>
      </dict>
      <key>monster_0375_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{159,104}}</string>
        <key>offset</key>
        <string>{8,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,104}}</string>
        <key>sourceSize</key>
        <string>{159,104}</string>
      </dict>
      <key>monster_0375_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,416},{170,120}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,120}}</string>
        <key>sourceSize</key>
        <string>{170,120}</string>
      </dict>
      <key>monster_0375_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,649},{177,101}}</string>
        <key>offset</key>
        <string>{-25,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,101}}</string>
        <key>sourceSize</key>
        <string>{177,101}</string>
      </dict>
      <key>monster_0375_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,665},{110,120}}</string>
        <key>offset</key>
        <string>{-15,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,120}}</string>
        <key>sourceSize</key>
        <string>{110,120}</string>
      </dict>
      <key>monster_0375_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,308},{145,103}}</string>
        <key>offset</key>
        <string>{-61,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,103}}</string>
        <key>sourceSize</key>
        <string>{145,103}</string>
      </dict>
      <key>monster_0375_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,888},{109,109}}</string>
        <key>offset</key>
        <string>{-19,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,109}}</string>
        <key>sourceSize</key>
        <string>{109,109}</string>
      </dict>
      <key>monster_0375_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,828},{116,105}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,105}}</string>
        <key>sourceSize</key>
        <string>{116,105}</string>
      </dict>
      <key>monster_0375_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,294},{103,135}}</string>
        <key>offset</key>
        <string>{-7,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,135}}</string>
        <key>sourceSize</key>
        <string>{103,135}</string>
      </dict>
      <key>monster_0375_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,538},{85,125}}</string>
        <key>offset</key>
        <string>{-18,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,125}}</string>
        <key>sourceSize</key>
        <string>{85,125}</string>
      </dict>
      <key>monster_0375_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,536},{133,113}}</string>
        <key>offset</key>
        <string>{-46,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,113}}</string>
        <key>sourceSize</key>
        <string>{133,113}</string>
      </dict>
      <key>monster_0375_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,0},{143,115}}</string>
        <key>offset</key>
        <string>{-70,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,115}}</string>
        <key>sourceSize</key>
        <string>{143,115}</string>
      </dict>
      <key>monster_0375_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,761},{130,102}}</string>
        <key>offset</key>
        <string>{-51,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,102}}</string>
        <key>sourceSize</key>
        <string>{130,102}</string>
      </dict>
      <key>monster_0375_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,895},{114,105}}</string>
        <key>offset</key>
        <string>{-34,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,105}}</string>
        <key>sourceSize</key>
        <string>{114,105}</string>
      </dict>
      <key>monster_0375_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,515},{151,109}}</string>
        <key>offset</key>
        <string>{-69,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,109}}</string>
        <key>sourceSize</key>
        <string>{151,109}</string>
      </dict>
      <key>monster_0375_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,754},{164,96}}</string>
        <key>offset</key>
        <string>{-99,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,96}}</string>
        <key>sourceSize</key>
        <string>{164,96}</string>
      </dict>
      <key>monster_0375_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,285},{138,115}}</string>
        <key>offset</key>
        <string>{-57,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,115}}</string>
        <key>sourceSize</key>
        <string>{138,115}</string>
      </dict>
      <key>monster_0375_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,761},{108,125}}</string>
        <key>offset</key>
        <string>{-25,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,125}}</string>
        <key>sourceSize</key>
        <string>{108,125}</string>
      </dict>
      <key>monster_0375_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,144},{139,112}}</string>
        <key>offset</key>
        <string>{-69,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,112}}</string>
        <key>sourceSize</key>
        <string>{139,112}</string>
      </dict>
      <key>monster_0375_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,159},{147,107}}</string>
        <key>offset</key>
        <string>{-76,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,107}}</string>
        <key>sourceSize</key>
        <string>{147,107}</string>
      </dict>
      <key>monster_0375_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,228},{186,100}}</string>
        <key>offset</key>
        <string>{-111,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,100}}</string>
        <key>sourceSize</key>
        <string>{186,100}</string>
      </dict>
      <key>monster_0375_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{221,62}}</string>
        <key>offset</key>
        <string>{-144,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,62}}</string>
        <key>sourceSize</key>
        <string>{221,62}</string>
      </dict>
      <key>monster_0375_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,893},{116,108}}</string>
        <key>offset</key>
        <string>{-23,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,108}}</string>
        <key>sourceSize</key>
        <string>{116,108}</string>
      </dict>
      <key>monster_0375_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,409},{118,122}}</string>
        <key>offset</key>
        <string>{-16,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,122}}</string>
        <key>sourceSize</key>
        <string>{118,122}</string>
      </dict>
      <key>monster_0375_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,0},{123,142}}</string>
        <key>offset</key>
        <string>{-39,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,142}}</string>
        <key>sourceSize</key>
        <string>{123,142}</string>
      </dict>
      <key>monster_0375_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,148},{133,144}}</string>
        <key>offset</key>
        <string>{-66,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,144}}</string>
        <key>sourceSize</key>
        <string>{133,144}</string>
      </dict>
      <key>monster_0375_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,402},{135,134}}</string>
        <key>offset</key>
        <string>{-76,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,134}}</string>
        <key>sourceSize</key>
        <string>{135,134}</string>
      </dict>
      <key>monster_0375_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,649},{173,94}}</string>
        <key>offset</key>
        <string>{-100,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,94}}</string>
        <key>sourceSize</key>
        <string>{173,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0375_0_4.png</string>
      <key>size</key>
      <string>{955,1003}</string>
      <key>textureFileName</key>
      <string>monster_0375_0_4.png</string>
    </dict>
  </dict>
</plist>