<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0234_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,387},{78,80}}</string>
        <key>offset</key>
        <string>{-6,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,80}}</string>
        <key>sourceSize</key>
        <string>{78,80}</string>
      </dict>
      <key>monster_0234_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,523},{78,82}}</string>
        <key>offset</key>
        <string>{-7,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,82}}</string>
        <key>sourceSize</key>
        <string>{78,82}</string>
      </dict>
      <key>monster_0234_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,362},{79,83}}</string>
        <key>offset</key>
        <string>{-8,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,83}}</string>
        <key>sourceSize</key>
        <string>{79,83}</string>
      </dict>
      <key>monster_0234_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,279},{80,84}}</string>
        <key>offset</key>
        <string>{-9,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>monster_0234_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,440},{81,83}}</string>
        <key>offset</key>
        <string>{-9,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,83}}</string>
        <key>sourceSize</key>
        <string>{81,83}</string>
      </dict>
      <key>monster_0234_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,387},{79,82}}</string>
        <key>offset</key>
        <string>{-7,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>monster_0234_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,496},{65,83}}</string>
        <key>offset</key>
        <string>{11,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,83}}</string>
        <key>sourceSize</key>
        <string>{65,83}</string>
      </dict>
      <key>monster_0234_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,294},{66,84}}</string>
        <key>offset</key>
        <string>{9,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,84}}</string>
        <key>sourceSize</key>
        <string>{66,84}</string>
      </dict>
      <key>monster_0234_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{68,86}}</string>
        <key>offset</key>
        <string>{8,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,86}}</string>
        <key>sourceSize</key>
        <string>{68,86}</string>
      </dict>
      <key>monster_0234_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{70,87}}</string>
        <key>offset</key>
        <string>{8,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,87}}</string>
        <key>sourceSize</key>
        <string>{70,87}</string>
      </dict>
      <key>monster_0234_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{69,86}}</string>
        <key>offset</key>
        <string>{9,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,86}}</string>
        <key>sourceSize</key>
        <string>{69,86}</string>
      </dict>
      <key>monster_0234_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,71},{66,85}}</string>
        <key>offset</key>
        <string>{10,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,85}}</string>
        <key>sourceSize</key>
        <string>{66,85}</string>
      </dict>
      <key>monster_0234_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{71,85}}</string>
        <key>offset</key>
        <string>{9,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,85}}</string>
        <key>sourceSize</key>
        <string>{71,85}</string>
      </dict>
      <key>monster_0234_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,149},{70,85}}</string>
        <key>offset</key>
        <string>{9,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,85}}</string>
        <key>sourceSize</key>
        <string>{70,85}</string>
      </dict>
      <key>monster_0234_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,158},{67,85}}</string>
        <key>offset</key>
        <string>{10,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,85}}</string>
        <key>sourceSize</key>
        <string>{67,85}</string>
      </dict>
      <key>monster_0234_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,70},{69,86}}</string>
        <key>offset</key>
        <string>{10,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,86}}</string>
        <key>sourceSize</key>
        <string>{69,86}</string>
      </dict>
      <key>monster_0234_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,144},{69,85}}</string>
        <key>offset</key>
        <string>{10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,85}}</string>
        <key>sourceSize</key>
        <string>{69,85}</string>
      </dict>
      <key>monster_0234_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,206},{71,85}}</string>
        <key>offset</key>
        <string>{9,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,85}}</string>
        <key>sourceSize</key>
        <string>{71,85}</string>
      </dict>
      <key>monster_0234_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,467},{73,78}}</string>
        <key>offset</key>
        <string>{4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,78}}</string>
        <key>sourceSize</key>
        <string>{73,78}</string>
      </dict>
      <key>monster_0234_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,552},{73,77}}</string>
        <key>offset</key>
        <string>{3,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,77}}</string>
        <key>sourceSize</key>
        <string>{73,77}</string>
      </dict>
      <key>monster_0234_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,563},{74,78}}</string>
        <key>offset</key>
        <string>{3,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,78}}</string>
        <key>sourceSize</key>
        <string>{74,78}</string>
      </dict>
      <key>monster_0234_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,552},{76,77}}</string>
        <key>offset</key>
        <string>{3,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,77}}</string>
        <key>sourceSize</key>
        <string>{76,77}</string>
      </dict>
      <key>monster_0234_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,542},{75,76}}</string>
        <key>offset</key>
        <string>{4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,76}}</string>
        <key>sourceSize</key>
        <string>{75,76}</string>
      </dict>
      <key>monster_0234_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,245},{73,77}}</string>
        <key>offset</key>
        <string>{4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,77}}</string>
        <key>sourceSize</key>
        <string>{73,77}</string>
      </dict>
      <key>monster_0234_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,443},{83,78}}</string>
        <key>offset</key>
        <string>{-11,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,78}}</string>
        <key>sourceSize</key>
        <string>{83,78}</string>
      </dict>
      <key>monster_0234_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,523},{83,78}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,78}}</string>
        <key>sourceSize</key>
        <string>{83,78}</string>
      </dict>
      <key>monster_0234_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,361},{84,77}}</string>
        <key>offset</key>
        <string>{-9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,77}}</string>
        <key>sourceSize</key>
        <string>{84,77}</string>
      </dict>
      <key>monster_0234_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,71},{86,76}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,76}}</string>
        <key>sourceSize</key>
        <string>{86,76}</string>
      </dict>
      <key>monster_0234_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,215},{85,77}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,77}}</string>
        <key>sourceSize</key>
        <string>{85,77}</string>
      </dict>
      <key>monster_0234_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{84,78}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,78}}</string>
        <key>sourceSize</key>
        <string>{84,78}</string>
      </dict>
      <key>monster_0234_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{71,88}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,88}}</string>
        <key>sourceSize</key>
        <string>{71,88}</string>
      </dict>
      <key>monster_0234_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{70,87}}</string>
        <key>offset</key>
        <string>{-9,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,87}}</string>
        <key>sourceSize</key>
        <string>{70,87}</string>
      </dict>
      <key>monster_0234_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,72},{68,86}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,86}}</string>
        <key>sourceSize</key>
        <string>{68,86}</string>
      </dict>
      <key>monster_0234_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,223},{68,85}}</string>
        <key>offset</key>
        <string>{-7,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,85}}</string>
        <key>sourceSize</key>
        <string>{68,85}</string>
      </dict>
      <key>monster_0234_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{69,85}}</string>
        <key>offset</key>
        <string>{-9,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,85}}</string>
        <key>sourceSize</key>
        <string>{69,85}</string>
      </dict>
      <key>monster_0234_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,72},{70,86}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,86}}</string>
        <key>sourceSize</key>
        <string>{70,86}</string>
      </dict>
      <key>monster_0234_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,245},{70,84}}</string>
        <key>offset</key>
        <string>{-17,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,84}}</string>
        <key>sourceSize</key>
        <string>{70,84}</string>
      </dict>
      <key>monster_0234_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,293},{66,85}}</string>
        <key>offset</key>
        <string>{-13,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,85}}</string>
        <key>sourceSize</key>
        <string>{66,85}</string>
      </dict>
      <key>monster_0234_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,141},{63,86}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,86}}</string>
        <key>sourceSize</key>
        <string>{63,86}</string>
      </dict>
      <key>monster_0234_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{62,86}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,86}}</string>
        <key>sourceSize</key>
        <string>{62,86}</string>
      </dict>
      <key>monster_0234_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{64,86}}</string>
        <key>offset</key>
        <string>{-12,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,86}}</string>
        <key>sourceSize</key>
        <string>{64,86}</string>
      </dict>
      <key>monster_0234_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{67,85}}</string>
        <key>offset</key>
        <string>{-15,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,85}}</string>
        <key>sourceSize</key>
        <string>{67,85}</string>
      </dict>
      <key>monster_0234_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,142},{86,79}}</string>
        <key>offset</key>
        <string>{-23,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,79}}</string>
        <key>sourceSize</key>
        <string>{86,79}</string>
      </dict>
      <key>monster_0234_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,304},{84,81}}</string>
        <key>offset</key>
        <string>{-20,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,81}}</string>
        <key>sourceSize</key>
        <string>{84,81}</string>
      </dict>
      <key>monster_0234_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,468},{81,82}}</string>
        <key>offset</key>
        <string>{-17,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,82}}</string>
        <key>sourceSize</key>
        <string>{81,82}</string>
      </dict>
      <key>monster_0234_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,523},{83,83}}</string>
        <key>offset</key>
        <string>{-18,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,83}}</string>
        <key>sourceSize</key>
        <string>{83,83}</string>
      </dict>
      <key>monster_0234_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,361},{84,83}}</string>
        <key>offset</key>
        <string>{-20,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,83}}</string>
        <key>sourceSize</key>
        <string>{84,83}</string>
      </dict>
      <key>monster_0234_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,221},{85,81}}</string>
        <key>offset</key>
        <string>{-22,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,81}}</string>
        <key>sourceSize</key>
        <string>{85,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0234_0_0.png</string>
      <key>size</key>
      <string>{584,642}</string>
      <key>textureFileName</key>
      <string>monster_0234_0_0.png</string>
    </dict>
  </dict>
</plist>