<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0654_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,407},{92,80}}</string>
        <key>offset</key>
        <string>{-9,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,80}}</string>
        <key>sourceSize</key>
        <string>{92,80}</string>
      </dict>
      <key>monster_0654_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,266},{89,75}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,75}}</string>
        <key>sourceSize</key>
        <string>{89,75}</string>
      </dict>
      <key>monster_0654_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,292},{88,65}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,65}}</string>
        <key>sourceSize</key>
        <string>{88,65}</string>
      </dict>
      <key>monster_0654_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,117},{106,86}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,86}}</string>
        <key>sourceSize</key>
        <string>{106,86}</string>
      </dict>
      <key>monster_0654_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,225},{103,78}}</string>
        <key>offset</key>
        <string>{-17,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,78}}</string>
        <key>sourceSize</key>
        <string>{103,78}</string>
      </dict>
      <key>monster_0654_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,225},{105,70}}</string>
        <key>offset</key>
        <string>{-19,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,70}}</string>
        <key>sourceSize</key>
        <string>{105,70}</string>
      </dict>
      <key>monster_0654_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,199},{91,91}}</string>
        <key>offset</key>
        <string>{6,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,91}}</string>
        <key>sourceSize</key>
        <string>{91,91}</string>
      </dict>
      <key>monster_0654_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{91,85}}</string>
        <key>offset</key>
        <string>{-7,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,85}}</string>
        <key>sourceSize</key>
        <string>{91,85}</string>
      </dict>
      <key>monster_0654_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,101},{96,80}}</string>
        <key>offset</key>
        <string>{-12,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,80}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_0654_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{90,99}}</string>
        <key>offset</key>
        <string>{6,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,99}}</string>
        <key>sourceSize</key>
        <string>{90,99}</string>
      </dict>
      <key>monster_0654_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,311},{86,94}}</string>
        <key>offset</key>
        <string>{1,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,94}}</string>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>monster_0654_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,176},{88,90}}</string>
        <key>offset</key>
        <string>{-2,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,90}}</string>
        <key>sourceSize</key>
        <string>{88,90}</string>
      </dict>
      <key>monster_0654_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,330},{89,99}}</string>
        <key>offset</key>
        <string>{4,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,99}}</string>
        <key>sourceSize</key>
        <string>{89,99}</string>
      </dict>
      <key>monster_0654_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{88,95}}</string>
        <key>offset</key>
        <string>{4,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,95}}</string>
        <key>sourceSize</key>
        <string>{88,95}</string>
      </dict>
      <key>monster_0654_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,87},{87,91}}</string>
        <key>offset</key>
        <string>{4,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,91}}</string>
        <key>sourceSize</key>
        <string>{87,91}</string>
      </dict>
      <key>monster_0654_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,93}}</string>
        <key>offset</key>
        <string>{-19,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,93}}</string>
        <key>sourceSize</key>
        <string>{115,93}</string>
      </dict>
      <key>monster_0654_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{115,89}}</string>
        <key>offset</key>
        <string>{-13,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,89}}</string>
        <key>sourceSize</key>
        <string>{115,89}</string>
      </dict>
      <key>monster_0654_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{114,89}}</string>
        <key>offset</key>
        <string>{-12,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,89}}</string>
        <key>sourceSize</key>
        <string>{114,89}</string>
      </dict>
      <key>monster_0654_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{106,86}}</string>
        <key>offset</key>
        <string>{-21,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,86}}</string>
        <key>sourceSize</key>
        <string>{106,86}</string>
      </dict>
      <key>monster_0654_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{111,82}}</string>
        <key>offset</key>
        <string>{-12,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,82}}</string>
        <key>sourceSize</key>
        <string>{111,82}</string>
      </dict>
      <key>monster_0654_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,350},{110,79}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,79}}</string>
        <key>sourceSize</key>
        <string>{110,79}</string>
      </dict>
      <key>monster_0654_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,211},{98,80}}</string>
        <key>offset</key>
        <string>{-21,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,80}}</string>
        <key>sourceSize</key>
        <string>{98,80}</string>
      </dict>
      <key>monster_0654_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,431},{99,78}}</string>
        <key>offset</key>
        <string>{-14,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,78}}</string>
        <key>sourceSize</key>
        <string>{99,78}</string>
      </dict>
      <key>monster_0654_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,108},{101,73}}</string>
        <key>offset</key>
        <string>{-14,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,73}}</string>
        <key>sourceSize</key>
        <string>{101,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0654_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_0654_0_7.png</string>
    </dict>
  </dict>
</plist>