<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0242_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1081,0},{153,322}}</string>
        <key>offset</key>
        <string>{-34,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,322}}</string>
        <key>sourceSize</key>
        <string>{153,322}</string>
      </dict>
      <key>monster_0242_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,872},{156,324}}</string>
        <key>offset</key>
        <string>{-35,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,324}}</string>
        <key>sourceSize</key>
        <string>{156,324}</string>
      </dict>
      <key>monster_0242_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1081,324},{152,321}}</string>
        <key>offset</key>
        <string>{-34,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,321}}</string>
        <key>sourceSize</key>
        <string>{152,321}</string>
      </dict>
      <key>monster_0242_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1081,647},{150,318}}</string>
        <key>offset</key>
        <string>{-33,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,318}}</string>
        <key>sourceSize</key>
        <string>{150,318}</string>
      </dict>
      <key>monster_0242_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,0},{343,260}}</string>
        <key>offset</key>
        <string>{-158,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,260}}</string>
        <key>sourceSize</key>
        <string>{343,260}</string>
      </dict>
      <key>monster_0242_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,345},{342,264}}</string>
        <key>offset</key>
        <string>{-158,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,264}}</string>
        <key>sourceSize</key>
        <string>{342,264}</string>
      </dict>
      <key>monster_0242_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,0},{342,259}}</string>
        <key>offset</key>
        <string>{-159,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,259}}</string>
        <key>sourceSize</key>
        <string>{342,259}</string>
      </dict>
      <key>monster_0242_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,616},{344,254}}</string>
        <key>offset</key>
        <string>{-160,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,254}}</string>
        <key>sourceSize</key>
        <string>{344,254}</string>
      </dict>
      <key>monster_0242_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{456,152}}</string>
        <key>offset</key>
        <string>{-230,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,152}}</string>
        <key>sourceSize</key>
        <string>{456,152}</string>
      </dict>
      <key>monster_0242_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{461,150}}</string>
        <key>offset</key>
        <string>{-235,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,150}}</string>
        <key>sourceSize</key>
        <string>{461,150}</string>
      </dict>
      <key>monster_0242_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,463},{457,151}}</string>
        <key>offset</key>
        <string>{-231,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{457,151}}</string>
        <key>sourceSize</key>
        <string>{457,151}</string>
      </dict>
      <key>monster_0242_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{453,153}}</string>
        <key>offset</key>
        <string>{-227,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,153}}</string>
        <key>sourceSize</key>
        <string>{453,153}</string>
      </dict>
      <key>monster_0242_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,344},{338,176}}</string>
        <key>offset</key>
        <string>{-154,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,176}}</string>
        <key>sourceSize</key>
        <string>{338,176}</string>
      </dict>
      <key>monster_0242_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,455},{346,176}}</string>
        <key>offset</key>
        <string>{-161,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,176}}</string>
        <key>sourceSize</key>
        <string>{346,176}</string>
      </dict>
      <key>monster_0242_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,689},{342,173}}</string>
        <key>offset</key>
        <string>{-157,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,173}}</string>
        <key>sourceSize</key>
        <string>{342,173}</string>
      </dict>
      <key>monster_0242_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,872},{334,175}}</string>
        <key>offset</key>
        <string>{-150,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,175}}</string>
        <key>sourceSize</key>
        <string>{334,175}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0242_0_0_0.png</string>
      <key>size</key>
      <string>{1282,1070}</string>
      <key>textureFileName</key>
      <string>monster_0242_0_0_0.png</string>
    </dict>
  </dict>
</plist>