<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0162_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,66},{61,60}}</string>
        <key>offset</key>
        <string>{1,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,60}}</string>
        <key>sourceSize</key>
        <string>{61,60}</string>
      </dict>
      <key>monster_0162_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,128},{61,59}}</string>
        <key>offset</key>
        <string>{0,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,59}}</string>
        <key>sourceSize</key>
        <string>{61,59}</string>
      </dict>
      <key>monster_0162_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,215},{66,58}}</string>
        <key>offset</key>
        <string>{-3,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,58}}</string>
        <key>sourceSize</key>
        <string>{66,58}</string>
      </dict>
      <key>monster_0162_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,139},{66,56}}</string>
        <key>offset</key>
        <string>{-3,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,56}}</string>
        <key>sourceSize</key>
        <string>{66,56}</string>
      </dict>
      <key>monster_0162_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,145},{68,57}}</string>
        <key>offset</key>
        <string>{-5,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,57}}</string>
        <key>sourceSize</key>
        <string>{68,57}</string>
      </dict>
      <key>monster_0162_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{65,57}}</string>
        <key>offset</key>
        <string>{-4,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,57}}</string>
        <key>sourceSize</key>
        <string>{65,57}</string>
      </dict>
      <key>monster_0162_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{76,56}}</string>
        <key>offset</key>
        <string>{-7,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,56}}</string>
        <key>sourceSize</key>
        <string>{76,56}</string>
      </dict>
      <key>monster_0162_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,249},{75,55}}</string>
        <key>offset</key>
        <string>{-3,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>monster_0162_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,254},{80,54}}</string>
        <key>offset</key>
        <string>{-17,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,54}}</string>
        <key>sourceSize</key>
        <string>{80,54}</string>
      </dict>
      <key>monster_0162_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,83},{77,52}}</string>
        <key>offset</key>
        <string>{-19,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,52}}</string>
        <key>sourceSize</key>
        <string>{77,52}</string>
      </dict>
      <key>monster_0162_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,0},{81,51}}</string>
        <key>offset</key>
        <string>{-23,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,51}}</string>
        <key>sourceSize</key>
        <string>{81,51}</string>
      </dict>
      <key>monster_0162_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,169},{78,50}}</string>
        <key>offset</key>
        <string>{-23,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,50}}</string>
        <key>sourceSize</key>
        <string>{78,50}</string>
      </dict>
      <key>monster_0162_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{82,49}}</string>
        <key>offset</key>
        <string>{-12,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,49}}</string>
        <key>sourceSize</key>
        <string>{82,49}</string>
      </dict>
      <key>monster_0162_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,85},{82,47}}</string>
        <key>offset</key>
        <string>{-8,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,47}}</string>
        <key>sourceSize</key>
        <string>{82,47}</string>
      </dict>
      <key>monster_0162_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,49}}</string>
        <key>offset</key>
        <string>{-23,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,49}}</string>
        <key>sourceSize</key>
        <string>{83,49}</string>
      </dict>
      <key>monster_0162_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,85},{83,43}}</string>
        <key>offset</key>
        <string>{-25,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,43}}</string>
        <key>sourceSize</key>
        <string>{83,43}</string>
      </dict>
      <key>monster_0162_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,254},{81,44}}</string>
        <key>offset</key>
        <string>{-28,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,44}}</string>
        <key>sourceSize</key>
        <string>{81,44}</string>
      </dict>
      <key>monster_0162_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{80,43}}</string>
        <key>offset</key>
        <string>{-30,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,43}}</string>
        <key>sourceSize</key>
        <string>{80,43}</string>
      </dict>
      <key>monster_0162_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,336},{74,43}}</string>
        <key>offset</key>
        <string>{-5,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,43}}</string>
        <key>sourceSize</key>
        <string>{74,43}</string>
      </dict>
      <key>monster_0162_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,162},{74,39}}</string>
        <key>offset</key>
        <string>{-2,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,39}}</string>
        <key>sourceSize</key>
        <string>{74,39}</string>
      </dict>
      <key>monster_0162_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{71,44}}</string>
        <key>offset</key>
        <string>{-11,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,44}}</string>
        <key>sourceSize</key>
        <string>{71,44}</string>
      </dict>
      <key>monster_0162_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,152},{70,40}}</string>
        <key>offset</key>
        <string>{-13,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,40}}</string>
        <key>sourceSize</key>
        <string>{70,40}</string>
      </dict>
      <key>monster_0162_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,237},{71,39}}</string>
        <key>offset</key>
        <string>{-15,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,39}}</string>
        <key>sourceSize</key>
        <string>{71,39}</string>
      </dict>
      <key>monster_0162_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,71},{68,38}}</string>
        <key>offset</key>
        <string>{-16,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,38}}</string>
        <key>sourceSize</key>
        <string>{68,38}</string>
      </dict>
      <key>monster_0162_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,337},{60,43}}</string>
        <key>offset</key>
        <string>{2,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,43}}</string>
        <key>sourceSize</key>
        <string>{60,43}</string>
      </dict>
      <key>monster_0162_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,0},{58,42}}</string>
        <key>offset</key>
        <string>{2,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,42}}</string>
        <key>sourceSize</key>
        <string>{58,42}</string>
      </dict>
      <key>monster_0162_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,283},{65,42}}</string>
        <key>offset</key>
        <string>{-4,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,42}}</string>
        <key>sourceSize</key>
        <string>{65,42}</string>
      </dict>
      <key>monster_0162_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,137},{64,43}}</string>
        <key>offset</key>
        <string>{-4,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,43}}</string>
        <key>sourceSize</key>
        <string>{64,43}</string>
      </dict>
      <key>monster_0162_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,70},{67,42}}</string>
        <key>offset</key>
        <string>{-5,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,42}}</string>
        <key>sourceSize</key>
        <string>{67,42}</string>
      </dict>
      <key>monster_0162_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,67},{64,39}}</string>
        <key>offset</key>
        <string>{-4,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,39}}</string>
        <key>sourceSize</key>
        <string>{64,39}</string>
      </dict>
      <key>monster_0162_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,266},{58,43}}</string>
        <key>offset</key>
        <string>{0,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,43}}</string>
        <key>sourceSize</key>
        <string>{58,43}</string>
      </dict>
      <key>monster_0162_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,189},{58,38}}</string>
        <key>offset</key>
        <string>{-3,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,38}}</string>
        <key>sourceSize</key>
        <string>{58,38}</string>
      </dict>
      <key>monster_0162_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,0},{67,47}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,47}}</string>
        <key>sourceSize</key>
        <string>{67,47}</string>
      </dict>
      <key>monster_0162_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{68,43}}</string>
        <key>offset</key>
        <string>{4,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,43}}</string>
        <key>sourceSize</key>
        <string>{68,43}</string>
      </dict>
      <key>monster_0162_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{69,42}}</string>
        <key>offset</key>
        <string>{9,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,42}}</string>
        <key>sourceSize</key>
        <string>{69,42}</string>
      </dict>
      <key>monster_0162_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,207},{65,42}}</string>
        <key>offset</key>
        <string>{10,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,42}}</string>
        <key>sourceSize</key>
        <string>{65,42}</string>
      </dict>
      <key>monster_0162_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,224},{69,50}}</string>
        <key>offset</key>
        <string>{-6,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>monster_0162_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,73},{70,48}}</string>
        <key>offset</key>
        <string>{-11,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,48}}</string>
        <key>sourceSize</key>
        <string>{70,48}</string>
      </dict>
      <key>monster_0162_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,78},{72,49}}</string>
        <key>offset</key>
        <string>{5,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,49}}</string>
        <key>sourceSize</key>
        <string>{72,49}</string>
      </dict>
      <key>monster_0162_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,162},{73,47}}</string>
        <key>offset</key>
        <string>{9,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,47}}</string>
        <key>sourceSize</key>
        <string>{73,47}</string>
      </dict>
      <key>monster_0162_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,326},{74,50}}</string>
        <key>offset</key>
        <string>{11,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,50}}</string>
        <key>sourceSize</key>
        <string>{74,50}</string>
      </dict>
      <key>monster_0162_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,69},{66,47}}</string>
        <key>offset</key>
        <string>{14,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,47}}</string>
        <key>sourceSize</key>
        <string>{66,47}</string>
      </dict>
      <key>monster_0162_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,326},{56,57}}</string>
        <key>offset</key>
        <string>{0,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>monster_0162_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,229},{57,55}}</string>
        <key>offset</key>
        <string>{-4,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,55}}</string>
        <key>sourceSize</key>
        <string>{57,55}</string>
      </dict>
      <key>monster_0162_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{64,54}}</string>
        <key>offset</key>
        <string>{0,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,54}}</string>
        <key>sourceSize</key>
        <string>{64,54}</string>
      </dict>
      <key>monster_0162_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,295},{67,56}}</string>
        <key>offset</key>
        <string>{1,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,56}}</string>
        <key>sourceSize</key>
        <string>{67,56}</string>
      </dict>
      <key>monster_0162_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,274},{61,56}}</string>
        <key>offset</key>
        <string>{5,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,56}}</string>
        <key>sourceSize</key>
        <string>{61,56}</string>
      </dict>
      <key>monster_0162_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,203},{61,56}}</string>
        <key>offset</key>
        <string>{5,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,56}}</string>
        <key>sourceSize</key>
        <string>{61,56}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0162_0_4.png</string>
      <key>size</key>
      <string>{512,384}</string>
      <key>textureFileName</key>
      <string>monster_0162_0_4.png</string>
    </dict>
  </dict>
</plist>