<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0144_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,390},{69,73}}</string>
        <key>offset</key>
        <string>{-4,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,73}}</string>
        <key>sourceSize</key>
        <string>{69,73}</string>
      </dict>
      <key>monster_0144_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,301},{87,83}}</string>
        <key>offset</key>
        <string>{-5,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,83}}</string>
        <key>sourceSize</key>
        <string>{87,83}</string>
      </dict>
      <key>monster_0144_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,354},{94,83}}</string>
        <key>offset</key>
        <string>{-4,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,83}}</string>
        <key>sourceSize</key>
        <string>{94,83}</string>
      </dict>
      <key>monster_0144_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{90,74}}</string>
        <key>offset</key>
        <string>{-3,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,74}}</string>
        <key>sourceSize</key>
        <string>{90,74}</string>
      </dict>
      <key>monster_0144_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,230},{83,75}}</string>
        <key>offset</key>
        <string>{-1,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>monster_0144_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,194},{91,79}}</string>
        <key>offset</key>
        <string>{-3,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,79}}</string>
        <key>sourceSize</key>
        <string>{91,79}</string>
      </dict>
      <key>monster_0144_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,241},{111,78}}</string>
        <key>offset</key>
        <string>{-8,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,78}}</string>
        <key>sourceSize</key>
        <string>{111,78}</string>
      </dict>
      <key>monster_0144_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{115,63}}</string>
        <key>offset</key>
        <string>{-9,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,63}}</string>
        <key>sourceSize</key>
        <string>{115,63}</string>
      </dict>
      <key>monster_0144_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,128},{120,57}}</string>
        <key>offset</key>
        <string>{-16,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,57}}</string>
        <key>sourceSize</key>
        <string>{120,57}</string>
      </dict>
      <key>monster_0144_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,250},{119,56}}</string>
        <key>offset</key>
        <string>{-13,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,56}}</string>
        <key>sourceSize</key>
        <string>{119,56}</string>
      </dict>
      <key>monster_0144_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,0},{89,74}}</string>
        <key>offset</key>
        <string>{4,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,74}}</string>
        <key>sourceSize</key>
        <string>{89,74}</string>
      </dict>
      <key>monster_0144_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,117},{109,76}}</string>
        <key>offset</key>
        <string>{-13,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,76}}</string>
        <key>sourceSize</key>
        <string>{109,76}</string>
      </dict>
      <key>monster_0144_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,61}}</string>
        <key>offset</key>
        <string>{-19,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,61}}</string>
        <key>sourceSize</key>
        <string>{126,61}</string>
      </dict>
      <key>monster_0144_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{126,57}}</string>
        <key>offset</key>
        <string>{-20,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,57}}</string>
        <key>sourceSize</key>
        <string>{126,57}</string>
      </dict>
      <key>monster_0144_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{124,52}}</string>
        <key>offset</key>
        <string>{-17,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,52}}</string>
        <key>sourceSize</key>
        <string>{124,52}</string>
      </dict>
      <key>monster_0144_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,307},{83,81}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,81}}</string>
        <key>sourceSize</key>
        <string>{83,81}</string>
      </dict>
      <key>monster_0144_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,228},{94,74}}</string>
        <key>offset</key>
        <string>{-18,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,74}}</string>
        <key>sourceSize</key>
        <string>{94,74}</string>
      </dict>
      <key>monster_0144_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,76},{88,73}}</string>
        <key>offset</key>
        <string>{-12,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,73}}</string>
        <key>sourceSize</key>
        <string>{88,73}</string>
      </dict>
      <key>monster_0144_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,301},{87,74}}</string>
        <key>offset</key>
        <string>{-10,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,74}}</string>
        <key>sourceSize</key>
        <string>{87,74}</string>
      </dict>
      <key>monster_0144_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,377},{86,66}}</string>
        <key>offset</key>
        <string>{-8,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,66}}</string>
        <key>sourceSize</key>
        <string>{86,66}</string>
      </dict>
      <key>monster_0144_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,151},{77,84}}</string>
        <key>offset</key>
        <string>{-8,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,84}}</string>
        <key>sourceSize</key>
        <string>{77,84}</string>
      </dict>
      <key>monster_0144_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,94},{91,70}}</string>
        <key>offset</key>
        <string>{-23,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,70}}</string>
        <key>sourceSize</key>
        <string>{91,70}</string>
      </dict>
      <key>monster_0144_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,354},{95,74}}</string>
        <key>offset</key>
        <string>{-32,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,74}}</string>
        <key>sourceSize</key>
        <string>{95,74}</string>
      </dict>
      <key>monster_0144_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,100},{92,74}}</string>
        <key>offset</key>
        <string>{-34,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,74}}</string>
        <key>sourceSize</key>
        <string>{92,74}</string>
      </dict>
      <key>monster_0144_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,445},{82,66}}</string>
        <key>offset</key>
        <string>{-29,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,66}}</string>
        <key>sourceSize</key>
        <string>{82,66}</string>
      </dict>
      <key>monster_0144_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{92,75}}</string>
        <key>offset</key>
        <string>{-23,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,75}}</string>
        <key>sourceSize</key>
        <string>{92,75}</string>
      </dict>
      <key>monster_0144_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,451},{94,58}}</string>
        <key>offset</key>
        <string>{-33,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,58}}</string>
        <key>sourceSize</key>
        <string>{94,58}</string>
      </dict>
      <key>monster_0144_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,371},{114,58}}</string>
        <key>offset</key>
        <string>{-43,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,58}}</string>
        <key>sourceSize</key>
        <string>{114,58}</string>
      </dict>
      <key>monster_0144_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,256},{122,48}}</string>
        <key>offset</key>
        <string>{-49,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,48}}</string>
        <key>sourceSize</key>
        <string>{122,48}</string>
      </dict>
      <key>monster_0144_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,122},{117,44}}</string>
        <key>offset</key>
        <string>{-50,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,44}}</string>
        <key>sourceSize</key>
        <string>{117,44}</string>
      </dict>
      <key>monster_0144_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{98,73}}</string>
        <key>offset</key>
        <string>{-27,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,73}}</string>
        <key>sourceSize</key>
        <string>{98,73}</string>
      </dict>
      <key>monster_0144_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,151},{88,70}}</string>
        <key>offset</key>
        <string>{-25,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,70}}</string>
        <key>sourceSize</key>
        <string>{88,70}</string>
      </dict>
      <key>monster_0144_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{120,57}}</string>
        <key>offset</key>
        <string>{-43,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,57}}</string>
        <key>sourceSize</key>
        <string>{120,57}</string>
      </dict>
      <key>monster_0144_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{125,48}}</string>
        <key>offset</key>
        <string>{-49,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,48}}</string>
        <key>sourceSize</key>
        <string>{125,48}</string>
      </dict>
      <key>monster_0144_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,380},{120,46}}</string>
        <key>offset</key>
        <string>{-51,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,46}}</string>
        <key>sourceSize</key>
        <string>{120,46}</string>
      </dict>
      <key>monster_0144_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,390},{74,74}}</string>
        <key>offset</key>
        <string>{-7,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>monster_0144_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,386},{78,85}}</string>
        <key>offset</key>
        <string>{-5,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,85}}</string>
        <key>sourceSize</key>
        <string>{78,85}</string>
      </dict>
      <key>monster_0144_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,223},{88,76}}</string>
        <key>offset</key>
        <string>{-16,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>monster_0144_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,76},{81,69}}</string>
        <key>offset</key>
        <string>{-19,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,69}}</string>
        <key>sourceSize</key>
        <string>{81,69}</string>
      </dict>
      <key>monster_0144_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{78,71}}</string>
        <key>offset</key>
        <string>{-19,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,71}}</string>
        <key>sourceSize</key>
        <string>{78,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0144_0_4.png</string>
      <key>size</key>
      <string>{656,516}</string>
      <key>textureFileName</key>
      <string>monster_0144_0_4.png</string>
    </dict>
  </dict>
</plist>