<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0062_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,426},{103,120}}</string>
        <key>offset</key>
        <string>{-2,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,120}}</string>
        <key>sourceSize</key>
        <string>{103,120}</string>
      </dict>
      <key>monster_0062_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,373},{97,119}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,119}}</string>
        <key>sourceSize</key>
        <string>{97,119}</string>
      </dict>
      <key>monster_0062_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,251},{104,120}}</string>
        <key>offset</key>
        <string>{-5,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,120}}</string>
        <key>sourceSize</key>
        <string>{104,120}</string>
      </dict>
      <key>monster_0062_0_7_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,494},{104,118}}</string>
        <key>offset</key>
        <string>{-3,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,118}}</string>
        <key>sourceSize</key>
        <string>{104,118}</string>
      </dict>
      <key>monster_0062_0_7_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,246},{104,117}}</string>
        <key>offset</key>
        <string>{-2,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,117}}</string>
        <key>sourceSize</key>
        <string>{104,117}</string>
      </dict>
      <key>monster_0062_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,443},{132,105}}</string>
        <key>offset</key>
        <string>{-26,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,105}}</string>
        <key>sourceSize</key>
        <string>{132,105}</string>
      </dict>
      <key>monster_0062_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,293},{131,110}}</string>
        <key>offset</key>
        <string>{-26,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,110}}</string>
        <key>sourceSize</key>
        <string>{131,110}</string>
      </dict>
      <key>monster_0062_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,149},{142,95}}</string>
        <key>offset</key>
        <string>{-33,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,95}}</string>
        <key>sourceSize</key>
        <string>{142,95}</string>
      </dict>
      <key>monster_0062_0_7_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{147,90}}</string>
        <key>offset</key>
        <string>{-37,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,90}}</string>
        <key>sourceSize</key>
        <string>{147,90}</string>
      </dict>
      <key>monster_0062_0_7_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,297},{144,92}}</string>
        <key>offset</key>
        <string>{-36,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,92}}</string>
        <key>sourceSize</key>
        <string>{144,92}</string>
      </dict>
      <key>monster_0062_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{136,89}}</string>
        <key>offset</key>
        <string>{-48,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,89}}</string>
        <key>sourceSize</key>
        <string>{136,89}</string>
      </dict>
      <key>monster_0062_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{146,88}}</string>
        <key>offset</key>
        <string>{-48,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,88}}</string>
        <key>sourceSize</key>
        <string>{146,88}</string>
      </dict>
      <key>monster_0062_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{139,86}}</string>
        <key>offset</key>
        <string>{-42,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,86}}</string>
        <key>sourceSize</key>
        <string>{139,86}</string>
      </dict>
      <key>monster_0062_0_7_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,443},{135,84}}</string>
        <key>offset</key>
        <string>{-41,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,84}}</string>
        <key>sourceSize</key>
        <string>{135,84}</string>
      </dict>
      <key>monster_0062_0_7_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,293},{132,85}}</string>
        <key>offset</key>
        <string>{-42,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,85}}</string>
        <key>sourceSize</key>
        <string>{132,85}</string>
      </dict>
      <key>monster_0062_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,223},{107,88}}</string>
        <key>offset</key>
        <string>{-26,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,88}}</string>
        <key>sourceSize</key>
        <string>{107,88}</string>
      </dict>
      <key>monster_0062_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,112},{109,89}}</string>
        <key>offset</key>
        <string>{-26,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,89}}</string>
        <key>sourceSize</key>
        <string>{109,89}</string>
      </dict>
      <key>monster_0062_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,590},{94,88}}</string>
        <key>offset</key>
        <string>{-13,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,88}}</string>
        <key>sourceSize</key>
        <string>{94,88}</string>
      </dict>
      <key>monster_0062_0_7_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,577},{91,86}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,86}}</string>
        <key>sourceSize</key>
        <string>{91,86}</string>
      </dict>
      <key>monster_0062_0_7_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{92,86}}</string>
        <key>offset</key>
        <string>{-11,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,86}}</string>
        <key>sourceSize</key>
        <string>{92,86}</string>
      </dict>
      <key>monster_0062_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,490},{98,83}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,83}}</string>
        <key>sourceSize</key>
        <string>{98,83}</string>
      </dict>
      <key>monster_0062_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,490},{94,80}}</string>
        <key>offset</key>
        <string>{-13,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,80}}</string>
        <key>sourceSize</key>
        <string>{94,80}</string>
      </dict>
      <key>monster_0062_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,332},{100,81}}</string>
        <key>offset</key>
        <string>{-17,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,81}}</string>
        <key>sourceSize</key>
        <string>{100,81}</string>
      </dict>
      <key>monster_0062_0_7_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,286},{100,80}}</string>
        <key>offset</key>
        <string>{-19,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,80}}</string>
        <key>sourceSize</key>
        <string>{100,80}</string>
      </dict>
      <key>monster_0062_0_7_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,388},{100,80}}</string>
        <key>offset</key>
        <string>{-19,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,80}}</string>
        <key>sourceSize</key>
        <string>{100,80}</string>
      </dict>
      <key>monster_0062_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,194},{101,90}}</string>
        <key>offset</key>
        <string>{-19,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,90}}</string>
        <key>sourceSize</key>
        <string>{101,90}</string>
      </dict>
      <key>monster_0062_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,112},{106,83}}</string>
        <key>offset</key>
        <string>{-24,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,83}}</string>
        <key>sourceSize</key>
        <string>{106,83}</string>
      </dict>
      <key>monster_0062_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,493},{117,85}}</string>
        <key>offset</key>
        <string>{-23,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,85}}</string>
        <key>sourceSize</key>
        <string>{117,85}</string>
      </dict>
      <key>monster_0062_0_7_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,138},{125,86}}</string>
        <key>offset</key>
        <string>{-23,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,86}}</string>
        <key>sourceSize</key>
        <string>{125,86}</string>
      </dict>
      <key>monster_0062_0_7_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{124,85}}</string>
        <key>offset</key>
        <string>{-22,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,85}}</string>
        <key>sourceSize</key>
        <string>{124,85}</string>
      </dict>
      <key>monster_0062_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,97},{106,95}}</string>
        <key>offset</key>
        <string>{-3,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,95}}</string>
        <key>sourceSize</key>
        <string>{106,95}</string>
      </dict>
      <key>monster_0062_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,548},{120,87}}</string>
        <key>offset</key>
        <string>{-17,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,87}}</string>
        <key>sourceSize</key>
        <string>{120,87}</string>
      </dict>
      <key>monster_0062_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,373},{118,94}}</string>
        <key>offset</key>
        <string>{-12,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,94}}</string>
        <key>sourceSize</key>
        <string>{118,94}</string>
      </dict>
      <key>monster_0062_0_7_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,365},{117,96}}</string>
        <key>offset</key>
        <string>{-9,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,96}}</string>
        <key>sourceSize</key>
        <string>{117,96}</string>
      </dict>
      <key>monster_0062_0_7_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,0},{114,95}}</string>
        <key>offset</key>
        <string>{-6,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,95}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>monster_0062_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,484},{91,115}}</string>
        <key>offset</key>
        <string>{-7,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,115}}</string>
        <key>sourceSize</key>
        <string>{91,115}</string>
      </dict>
      <key>monster_0062_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{88,110}}</string>
        <key>offset</key>
        <string>{-6,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,110}}</string>
        <key>sourceSize</key>
        <string>{88,110}</string>
      </dict>
      <key>monster_0062_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,124},{85,120}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,120}}</string>
        <key>sourceSize</key>
        <string>{85,120}</string>
      </dict>
      <key>monster_0062_0_7_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,126},{87,123}}</string>
        <key>offset</key>
        <string>{-7,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,123}}</string>
        <key>sourceSize</key>
        <string>{87,123}</string>
      </dict>
      <key>monster_0062_0_7_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{91,122}}</string>
        <key>offset</key>
        <string>{-8,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,122}}</string>
        <key>sourceSize</key>
        <string>{91,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0062_0_7.png</string>
      <key>size</key>
      <string>{769,684}</string>
      <key>textureFileName</key>
      <string>monster_0062_0_7.png</string>
    </dict>
  </dict>
</plist>