<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0430_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{98,80}}</string>
        <key>offset</key>
        <string>{-13,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,80}}</string>
        <key>sourceSize</key>
        <string>{98,80}</string>
      </dict>
      <key>monster_0430_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,204},{98,91}}</string>
        <key>offset</key>
        <string>{-18,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,91}}</string>
        <key>sourceSize</key>
        <string>{98,91}</string>
      </dict>
      <key>monster_0430_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,378},{104,94}}</string>
        <key>offset</key>
        <string>{-24,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,94}}</string>
        <key>sourceSize</key>
        <string>{104,94}</string>
      </dict>
      <key>monster_0430_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,484},{95,100}}</string>
        <key>offset</key>
        <string>{-28,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,100}}</string>
        <key>sourceSize</key>
        <string>{95,100}</string>
      </dict>
      <key>monster_0430_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,543},{88,88}}</string>
        <key>offset</key>
        <string>{-28,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,88}}</string>
        <key>sourceSize</key>
        <string>{88,88}</string>
      </dict>
      <key>monster_0430_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,637},{71,66}}</string>
        <key>offset</key>
        <string>{-22,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,66}}</string>
        <key>sourceSize</key>
        <string>{71,66}</string>
      </dict>
      <key>monster_0430_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,545},{90,87}}</string>
        <key>offset</key>
        <string>{-5,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,87}}</string>
        <key>sourceSize</key>
        <string>{90,87}</string>
      </dict>
      <key>monster_0430_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,85},{83,97}}</string>
        <key>offset</key>
        <string>{-5,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,97}}</string>
        <key>sourceSize</key>
        <string>{83,97}</string>
      </dict>
      <key>monster_0430_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,131},{115,77}}</string>
        <key>offset</key>
        <string>{-20,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,77}}</string>
        <key>sourceSize</key>
        <string>{115,77}</string>
      </dict>
      <key>monster_0430_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,260},{116,79}}</string>
        <key>offset</key>
        <string>{-23,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,79}}</string>
        <key>sourceSize</key>
        <string>{116,79}</string>
      </dict>
      <key>monster_0430_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,248},{104,73}}</string>
        <key>offset</key>
        <string>{-28,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,73}}</string>
        <key>sourceSize</key>
        <string>{104,73}</string>
      </dict>
      <key>monster_0430_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{102,55}}</string>
        <key>offset</key>
        <string>{-29,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,55}}</string>
        <key>sourceSize</key>
        <string>{102,55}</string>
      </dict>
      <key>monster_0430_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,330},{80,95}}</string>
        <key>offset</key>
        <string>{1,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,95}}</string>
        <key>sourceSize</key>
        <string>{80,95}</string>
      </dict>
      <key>monster_0430_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,170},{77,97}}</string>
        <key>offset</key>
        <string>{1,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,97}}</string>
        <key>sourceSize</key>
        <string>{77,97}</string>
      </dict>
      <key>monster_0430_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{127,73}}</string>
        <key>offset</key>
        <string>{-22,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,73}}</string>
        <key>sourceSize</key>
        <string>{127,73}</string>
      </dict>
      <key>monster_0430_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{124,68}}</string>
        <key>offset</key>
        <string>{-28,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,68}}</string>
        <key>sourceSize</key>
        <string>{124,68}</string>
      </dict>
      <key>monster_0430_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,109},{104,58}}</string>
        <key>offset</key>
        <string>{-29,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,58}}</string>
        <key>sourceSize</key>
        <string>{104,58}</string>
      </dict>
      <key>monster_0430_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,310},{99,40}}</string>
        <key>offset</key>
        <string>{-28,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,40}}</string>
        <key>sourceSize</key>
        <string>{99,40}</string>
      </dict>
      <key>monster_0430_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,249},{79,96}}</string>
        <key>offset</key>
        <string>{-3,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,96}}</string>
        <key>sourceSize</key>
        <string>{79,96}</string>
      </dict>
      <key>monster_0430_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,100},{87,98}}</string>
        <key>offset</key>
        <string>{-5,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,98}}</string>
        <key>sourceSize</key>
        <string>{87,98}</string>
      </dict>
      <key>monster_0430_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,412},{91,94}}</string>
        <key>offset</key>
        <string>{-7,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,94}}</string>
        <key>sourceSize</key>
        <string>{91,94}</string>
      </dict>
      <key>monster_0430_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,599},{81,76}}</string>
        <key>offset</key>
        <string>{-9,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,76}}</string>
        <key>sourceSize</key>
        <string>{81,76}</string>
      </dict>
      <key>monster_0430_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,361},{80,54}}</string>
        <key>offset</key>
        <string>{-11,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,54}}</string>
        <key>sourceSize</key>
        <string>{80,54}</string>
      </dict>
      <key>monster_0430_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,427},{76,52}}</string>
        <key>offset</key>
        <string>{-10,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,52}}</string>
        <key>sourceSize</key>
        <string>{76,52}</string>
      </dict>
      <key>monster_0430_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,506},{97,105}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,105}}</string>
        <key>sourceSize</key>
        <string>{97,105}</string>
      </dict>
      <key>monster_0430_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{101,101}}</string>
        <key>offset</key>
        <string>{-13,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,101}}</string>
        <key>sourceSize</key>
        <string>{101,101}</string>
      </dict>
      <key>monster_0430_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,354},{95,100}}</string>
        <key>offset</key>
        <string>{-4,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,100}}</string>
        <key>sourceSize</key>
        <string>{95,100}</string>
      </dict>
      <key>monster_0430_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,587},{88,74}}</string>
        <key>offset</key>
        <string>{-2,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,74}}</string>
        <key>sourceSize</key>
        <string>{88,74}</string>
      </dict>
      <key>monster_0430_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,601},{74,53}}</string>
        <key>offset</key>
        <string>{-2,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,53}}</string>
        <key>sourceSize</key>
        <string>{74,53}</string>
      </dict>
      <key>monster_0430_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,637},{70,55}}</string>
        <key>offset</key>
        <string>{-4,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,55}}</string>
        <key>sourceSize</key>
        <string>{70,55}</string>
      </dict>
      <key>monster_0430_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,103},{98,99}}</string>
        <key>offset</key>
        <string>{-16,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,99}}</string>
        <key>sourceSize</key>
        <string>{98,99}</string>
      </dict>
      <key>monster_0430_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,505},{86,94}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,94}}</string>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>monster_0430_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{118,85}}</string>
        <key>offset</key>
        <string>{-23,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,85}}</string>
        <key>sourceSize</key>
        <string>{118,85}</string>
      </dict>
      <key>monster_0430_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,484},{101,68}}</string>
        <key>offset</key>
        <string>{-20,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,68}}</string>
        <key>sourceSize</key>
        <string>{101,68}</string>
      </dict>
      <key>monster_0430_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,330},{95,60}}</string>
        <key>offset</key>
        <string>{-23,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,60}}</string>
        <key>sourceSize</key>
        <string>{95,60}</string>
      </dict>
      <key>monster_0430_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,104},{102,55}}</string>
        <key>offset</key>
        <string>{-29,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,55}}</string>
        <key>sourceSize</key>
        <string>{102,55}</string>
      </dict>
      <key>monster_0430_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,208},{100,86}}</string>
        <key>offset</key>
        <string>{-26,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,86}}</string>
        <key>sourceSize</key>
        <string>{100,86}</string>
      </dict>
      <key>monster_0430_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,269},{96,90}}</string>
        <key>offset</key>
        <string>{-27,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,90}}</string>
        <key>sourceSize</key>
        <string>{96,90}</string>
      </dict>
      <key>monster_0430_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{129,91}}</string>
        <key>offset</key>
        <string>{-33,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,91}}</string>
        <key>sourceSize</key>
        <string>{129,91}</string>
      </dict>
      <key>monster_0430_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{107,86}}</string>
        <key>offset</key>
        <string>{-22,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,86}}</string>
        <key>sourceSize</key>
        <string>{107,86}</string>
      </dict>
      <key>monster_0430_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{98,83}}</string>
        <key>offset</key>
        <string>{-25,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,83}}</string>
        <key>sourceSize</key>
        <string>{98,83}</string>
      </dict>
      <key>monster_0430_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,170},{97,70}}</string>
        <key>offset</key>
        <string>{-26,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,70}}</string>
        <key>sourceSize</key>
        <string>{97,70}</string>
      </dict>
      <key>monster_0430_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,505},{92,81}}</string>
        <key>offset</key>
        <string>{-22,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,81}}</string>
        <key>sourceSize</key>
        <string>{92,81}</string>
      </dict>
      <key>monster_0430_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,451},{90,89}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,89}}</string>
        <key>sourceSize</key>
        <string>{90,89}</string>
      </dict>
      <key>monster_0430_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,361},{92,88}}</string>
        <key>offset</key>
        <string>{-11,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,88}}</string>
        <key>sourceSize</key>
        <string>{92,88}</string>
      </dict>
      <key>monster_0430_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{83,98}}</string>
        <key>offset</key>
        <string>{-16,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,98}}</string>
        <key>sourceSize</key>
        <string>{83,98}</string>
      </dict>
      <key>monster_0430_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,451},{77,92}}</string>
        <key>offset</key>
        <string>{-20,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,92}}</string>
        <key>sourceSize</key>
        <string>{77,92}</string>
      </dict>
      <key>monster_0430_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,601},{72,73}}</string>
        <key>offset</key>
        <string>{-17,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,73}}</string>
        <key>sourceSize</key>
        <string>{72,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0430_0_4.png</string>
      <key>size</key>
      <string>{642,710}</string>
      <key>textureFileName</key>
      <string>monster_0430_0_4.png</string>
    </dict>
  </dict>
</plist>