<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0140_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{353,299}}</string>
        <key>offset</key>
        <string>{-143,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,299}}</string>
        <key>sourceSize</key>
        <string>{353,299}</string>
      </dict>
      <key>monster_0140_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{354,306}}</string>
        <key>offset</key>
        <string>{-139,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,306}}</string>
        <key>sourceSize</key>
        <string>{354,306}</string>
      </dict>
      <key>monster_0140_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,657},{353,296}}</string>
        <key>offset</key>
        <string>{-142,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,296}}</string>
        <key>sourceSize</key>
        <string>{353,296}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0140_0_0.png</string>
      <key>size</key>
      <string>{643,957}</string>
      <key>textureFileName</key>
      <string>monster_0140_0_0.png</string>
    </dict>
  </dict>
</plist>