<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0355_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,308},{140,135}}</string>
        <key>offset</key>
        <string>{-33,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,135}}</string>
        <key>sourceSize</key>
        <string>{140,135}</string>
      </dict>
      <key>monster_0355_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{156,118}}</string>
        <key>offset</key>
        <string>{-38,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,118}}</string>
        <key>sourceSize</key>
        <string>{156,118}</string>
      </dict>
      <key>monster_0355_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,158},{148,124}}</string>
        <key>offset</key>
        <string>{-47,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,124}}</string>
        <key>sourceSize</key>
        <string>{148,124}</string>
      </dict>
      <key>monster_0355_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,0},{144,109}}</string>
        <key>offset</key>
        <string>{-35,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,109}}</string>
        <key>sourceSize</key>
        <string>{144,109}</string>
      </dict>
      <key>monster_0355_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{157,86}}</string>
        <key>offset</key>
        <string>{-45,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,86}}</string>
        <key>sourceSize</key>
        <string>{157,86}</string>
      </dict>
      <key>monster_0355_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,574},{168,133}}</string>
        <key>offset</key>
        <string>{-32,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,133}}</string>
        <key>sourceSize</key>
        <string>{168,133}</string>
      </dict>
      <key>monster_0355_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,393},{163,120}}</string>
        <key>offset</key>
        <string>{-14,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,120}}</string>
        <key>sourceSize</key>
        <string>{163,120}</string>
      </dict>
      <key>monster_0355_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{193,123}}</string>
        <key>offset</key>
        <string>{-43,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,123}}</string>
        <key>sourceSize</key>
        <string>{193,123}</string>
      </dict>
      <key>monster_0355_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{181,107}}</string>
        <key>offset</key>
        <string>{-18,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,107}}</string>
        <key>sourceSize</key>
        <string>{181,107}</string>
      </dict>
      <key>monster_0355_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,470},{143,93}}</string>
        <key>offset</key>
        <string>{3,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,93}}</string>
        <key>sourceSize</key>
        <string>{143,93}</string>
      </dict>
      <key>monster_0355_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,183},{161,120}}</string>
        <key>offset</key>
        <string>{-36,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,120}}</string>
        <key>sourceSize</key>
        <string>{161,120}</string>
      </dict>
      <key>monster_0355_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,591},{138,128}}</string>
        <key>offset</key>
        <string>{-21,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,128}}</string>
        <key>sourceSize</key>
        <string>{138,128}</string>
      </dict>
      <key>monster_0355_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,476},{154,116}}</string>
        <key>offset</key>
        <string>{-19,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,116}}</string>
        <key>sourceSize</key>
        <string>{154,116}</string>
      </dict>
      <key>monster_0355_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,146},{144,114}}</string>
        <key>offset</key>
        <string>{-4,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,114}}</string>
        <key>sourceSize</key>
        <string>{144,114}</string>
      </dict>
      <key>monster_0355_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,158},{155,86}}</string>
        <key>offset</key>
        <string>{17,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,86}}</string>
        <key>sourceSize</key>
        <string>{155,86}</string>
      </dict>
      <key>monster_0355_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,0},{145,116}}</string>
        <key>offset</key>
        <string>{-24,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,116}}</string>
        <key>sourceSize</key>
        <string>{145,116}</string>
      </dict>
      <key>monster_0355_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,759},{132,129}}</string>
        <key>offset</key>
        <string>{-19,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,129}}</string>
        <key>sourceSize</key>
        <string>{132,129}</string>
      </dict>
      <key>monster_0355_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,615},{142,122}}</string>
        <key>offset</key>
        <string>{-19,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,122}}</string>
        <key>sourceSize</key>
        <string>{142,122}</string>
      </dict>
      <key>monster_0355_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,506},{156,131}}</string>
        <key>offset</key>
        <string>{-16,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,131}}</string>
        <key>sourceSize</key>
        <string>{156,131}</string>
      </dict>
      <key>monster_0355_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,558},{160,82}}</string>
        <key>offset</key>
        <string>{-19,-15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,82}}</string>
        <key>sourceSize</key>
        <string>{160,82}</string>
      </dict>
      <key>monster_0355_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,433},{126,115}}</string>
        <key>offset</key>
        <string>{-30,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,115}}</string>
        <key>sourceSize</key>
        <string>{126,115}</string>
      </dict>
      <key>monster_0355_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,0},{148,114}}</string>
        <key>offset</key>
        <string>{-56,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,114}}</string>
        <key>sourceSize</key>
        <string>{148,114}</string>
      </dict>
      <key>monster_0355_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,147},{141,111}}</string>
        <key>offset</key>
        <string>{-37,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,111}}</string>
        <key>sourceSize</key>
        <string>{141,111}</string>
      </dict>
      <key>monster_0355_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,346},{158,113}}</string>
        <key>offset</key>
        <string>{-57,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,113}}</string>
        <key>sourceSize</key>
        <string>{158,113}</string>
      </dict>
      <key>monster_0355_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,159},{157,93}}</string>
        <key>offset</key>
        <string>{-66,-18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,93}}</string>
        <key>sourceSize</key>
        <string>{157,93}</string>
      </dict>
      <key>monster_0355_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,632},{144,125}}</string>
        <key>offset</key>
        <string>{-59,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,125}}</string>
        <key>sourceSize</key>
        <string>{144,125}</string>
      </dict>
      <key>monster_0355_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,315},{153,122}}</string>
        <key>offset</key>
        <string>{-86,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,122}}</string>
        <key>sourceSize</key>
        <string>{153,122}</string>
      </dict>
      <key>monster_0355_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,393},{179,110}}</string>
        <key>offset</key>
        <string>{-85,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,110}}</string>
        <key>sourceSize</key>
        <string>{179,110}</string>
      </dict>
      <key>monster_0355_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{196,107}}</string>
        <key>offset</key>
        <string>{-112,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,107}}</string>
        <key>sourceSize</key>
        <string>{196,107}</string>
      </dict>
      <key>monster_0355_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,664},{145,91}}</string>
        <key>offset</key>
        <string>{-100,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,91}}</string>
        <key>sourceSize</key>
        <string>{145,91}</string>
      </dict>
      <key>monster_0355_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,450},{139,127}}</string>
        <key>offset</key>
        <string>{-43,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,127}}</string>
        <key>sourceSize</key>
        <string>{139,127}</string>
      </dict>
      <key>monster_0355_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,759},{137,131}}</string>
        <key>offset</key>
        <string>{-55,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,131}}</string>
        <key>sourceSize</key>
        <string>{137,131}</string>
      </dict>
      <key>monster_0355_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,292},{139,127}}</string>
        <key>offset</key>
        <string>{-71,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,127}}</string>
        <key>sourceSize</key>
        <string>{139,127}</string>
      </dict>
      <key>monster_0355_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{161,101}}</string>
        <key>offset</key>
        <string>{-89,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,101}}</string>
        <key>sourceSize</key>
        <string>{161,101}</string>
      </dict>
      <key>monster_0355_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,163},{158,88}}</string>
        <key>offset</key>
        <string>{-126,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,88}}</string>
        <key>sourceSize</key>
        <string>{158,88}</string>
      </dict>
      <key>monster_0355_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,759},{123,135}}</string>
        <key>offset</key>
        <string>{-38,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,135}}</string>
        <key>sourceSize</key>
        <string>{123,135}</string>
      </dict>
      <key>monster_0355_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,759},{123,119}}</string>
        <key>offset</key>
        <string>{-38,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,119}}</string>
        <key>sourceSize</key>
        <string>{123,119}</string>
      </dict>
      <key>monster_0355_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,759},{120,131}}</string>
        <key>offset</key>
        <string>{-46,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,131}}</string>
        <key>sourceSize</key>
        <string>{120,131}</string>
      </dict>
      <key>monster_0355_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,318},{156,113}}</string>
        <key>offset</key>
        <string>{-79,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,113}}</string>
        <key>sourceSize</key>
        <string>{156,113}</string>
      </dict>
      <key>monster_0355_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,558},{161,83}}</string>
        <key>offset</key>
        <string>{-95,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,83}}</string>
        <key>sourceSize</key>
        <string>{161,83}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0355_0_4.png</string>
      <key>size</key>
      <string>{896,898}</string>
      <key>textureFileName</key>
      <string>monster_0355_0_4.png</string>
    </dict>
  </dict>
</plist>