<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0652_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{249,215}}</string>
        <key>offset</key>
        <string>{-78,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,215}}</string>
        <key>sourceSize</key>
        <string>{249,215}</string>
      </dict>
      <key>monster_0652_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{256,207}}</string>
        <key>offset</key>
        <string>{-73,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,207}}</string>
        <key>sourceSize</key>
        <string>{256,207}</string>
      </dict>
      <key>monster_0652_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,509},{239,206}}</string>
        <key>offset</key>
        <string>{-70,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,206}}</string>
        <key>sourceSize</key>
        <string>{239,206}</string>
      </dict>
      <key>monster_0652_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,0},{247,201}}</string>
        <key>offset</key>
        <string>{-70,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,201}}</string>
        <key>sourceSize</key>
        <string>{247,201}</string>
      </dict>
      <key>monster_0652_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,200},{199,193}}</string>
        <key>offset</key>
        <string>{-60,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,193}}</string>
        <key>sourceSize</key>
        <string>{199,193}</string>
      </dict>
      <key>monster_0652_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,249},{217,202}}</string>
        <key>offset</key>
        <string>{-62,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,202}}</string>
        <key>sourceSize</key>
        <string>{217,202}</string>
      </dict>
      <key>monster_0652_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{217,212}}</string>
        <key>offset</key>
        <string>{-77,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,212}}</string>
        <key>sourceSize</key>
        <string>{217,212}</string>
      </dict>
      <key>monster_0652_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,509},{224,209}}</string>
        <key>offset</key>
        <string>{-72,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,209}}</string>
        <key>sourceSize</key>
        <string>{224,209}</string>
      </dict>
      <key>monster_0652_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,395},{188,190}}</string>
        <key>offset</key>
        <string>{-67,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,190}}</string>
        <key>sourceSize</key>
        <string>{188,190}</string>
      </dict>
      <key>monster_0652_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,219},{191,202}}</string>
        <key>offset</key>
        <string>{-65,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,202}}</string>
        <key>sourceSize</key>
        <string>{191,202}</string>
      </dict>
      <key>monster_0652_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,468},{177,203}}</string>
        <key>offset</key>
        <string>{-61,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,203}}</string>
        <key>sourceSize</key>
        <string>{177,203}</string>
      </dict>
      <key>monster_0652_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{198,200}}</string>
        <key>offset</key>
        <string>{-58,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,200}}</string>
        <key>sourceSize</key>
        <string>{198,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0652_0_2_0.png</string>
      <key>size</key>
      <string>{867,769}</string>
      <key>textureFileName</key>
      <string>monster_0652_0_2_0.png</string>
    </dict>
  </dict>
</plist>