<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0203_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,242},{117,98}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,98}}</string>
        <key>sourceSize</key>
        <string>{117,98}</string>
      </dict>
      <key>monster_0203_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,489},{119,98}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,98}}</string>
        <key>sourceSize</key>
        <string>{119,98}</string>
      </dict>
      <key>monster_0203_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,123},{120,95}}</string>
        <key>offset</key>
        <string>{-16,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,95}}</string>
        <key>sourceSize</key>
        <string>{120,95}</string>
      </dict>
      <key>monster_0203_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,510},{121,93}}</string>
        <key>offset</key>
        <string>{-16,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,93}}</string>
        <key>sourceSize</key>
        <string>{121,93}</string>
      </dict>
      <key>monster_0203_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,383},{121,92}}</string>
        <key>offset</key>
        <string>{-16,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,92}}</string>
        <key>sourceSize</key>
        <string>{121,92}</string>
      </dict>
      <key>monster_0203_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,633},{121,93}}</string>
        <key>offset</key>
        <string>{-16,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,93}}</string>
        <key>sourceSize</key>
        <string>{121,93}</string>
      </dict>
      <key>monster_0203_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{120,95}}</string>
        <key>offset</key>
        <string>{-16,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,95}}</string>
        <key>sourceSize</key>
        <string>{120,95}</string>
      </dict>
      <key>monster_0203_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,610},{119,97}}</string>
        <key>offset</key>
        <string>{-16,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,97}}</string>
        <key>sourceSize</key>
        <string>{119,97}</string>
      </dict>
      <key>monster_0203_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,95}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,95}}</string>
        <key>sourceSize</key>
        <string>{126,95}</string>
      </dict>
      <key>monster_0203_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{125,95}}</string>
        <key>offset</key>
        <string>{-7,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,95}}</string>
        <key>sourceSize</key>
        <string>{125,95}</string>
      </dict>
      <key>monster_0203_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{124,92}}</string>
        <key>offset</key>
        <string>{-6,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,92}}</string>
        <key>sourceSize</key>
        <string>{124,92}</string>
      </dict>
      <key>monster_0203_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,636},{122,91}}</string>
        <key>offset</key>
        <string>{-5,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,91}}</string>
        <key>sourceSize</key>
        <string>{122,91}</string>
      </dict>
      <key>monster_0203_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{121,89}}</string>
        <key>offset</key>
        <string>{-5,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,89}}</string>
        <key>sourceSize</key>
        <string>{121,89}</string>
      </dict>
      <key>monster_0203_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{123,90}}</string>
        <key>offset</key>
        <string>{-6,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,90}}</string>
        <key>sourceSize</key>
        <string>{123,90}</string>
      </dict>
      <key>monster_0203_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{125,93}}</string>
        <key>offset</key>
        <string>{-7,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,93}}</string>
        <key>sourceSize</key>
        <string>{125,93}</string>
      </dict>
      <key>monster_0203_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{126,95}}</string>
        <key>offset</key>
        <string>{-8,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,95}}</string>
        <key>sourceSize</key>
        <string>{126,95}</string>
      </dict>
      <key>monster_0203_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,121},{110,96}}</string>
        <key>offset</key>
        <string>{-11,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,96}}</string>
        <key>sourceSize</key>
        <string>{110,96}</string>
      </dict>
      <key>monster_0203_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,485},{108,97}}</string>
        <key>offset</key>
        <string>{-10,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,97}}</string>
        <key>sourceSize</key>
        <string>{108,97}</string>
      </dict>
      <key>monster_0203_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,0},{105,100}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,100}}</string>
        <key>sourceSize</key>
        <string>{105,100}</string>
      </dict>
      <key>monster_0203_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,665},{103,101}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,101}}</string>
        <key>sourceSize</key>
        <string>{103,101}</string>
      </dict>
      <key>monster_0203_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,745},{101,100}}</string>
        <key>offset</key>
        <string>{-9,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,100}}</string>
        <key>sourceSize</key>
        <string>{101,100}</string>
      </dict>
      <key>monster_0203_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,765},{102,101}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,101}}</string>
        <key>sourceSize</key>
        <string>{102,101}</string>
      </dict>
      <key>monster_0203_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,102},{105,100}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,100}}</string>
        <key>sourceSize</key>
        <string>{105,100}</string>
      </dict>
      <key>monster_0203_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,343},{106,99}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,99}}</string>
        <key>sourceSize</key>
        <string>{106,99}</string>
      </dict>
      <key>monster_0203_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,562},{78,105}}</string>
        <key>offset</key>
        <string>{-4,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,105}}</string>
        <key>sourceSize</key>
        <string>{78,105}</string>
      </dict>
      <key>monster_0203_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,0},{77,107}}</string>
        <key>offset</key>
        <string>{-3,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,107}}</string>
        <key>sourceSize</key>
        <string>{77,107}</string>
      </dict>
      <key>monster_0203_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,361},{75,108}}</string>
        <key>offset</key>
        <string>{0,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,108}}</string>
        <key>sourceSize</key>
        <string>{75,108}</string>
      </dict>
      <key>monster_0203_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,233},{74,108}}</string>
        <key>offset</key>
        <string>{0,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,108}}</string>
        <key>sourceSize</key>
        <string>{74,108}</string>
      </dict>
      <key>monster_0203_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,581},{73,107}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,107}}</string>
        <key>sourceSize</key>
        <string>{73,107}</string>
      </dict>
      <key>monster_0203_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,595},{74,108}}</string>
        <key>offset</key>
        <string>{0,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,108}}</string>
        <key>sourceSize</key>
        <string>{74,108}</string>
      </dict>
      <key>monster_0203_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,471},{74,108}}</string>
        <key>offset</key>
        <string>{0,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,108}}</string>
        <key>sourceSize</key>
        <string>{74,108}</string>
      </dict>
      <key>monster_0203_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,343},{76,108}}</string>
        <key>offset</key>
        <string>{-2,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,108}}</string>
        <key>sourceSize</key>
        <string>{76,108}</string>
      </dict>
      <key>monster_0203_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,731},{102,94}}</string>
        <key>offset</key>
        <string>{-24,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,94}}</string>
        <key>sourceSize</key>
        <string>{102,94}</string>
      </dict>
      <key>monster_0203_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,669},{105,94}}</string>
        <key>offset</key>
        <string>{-26,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,94}}</string>
        <key>sourceSize</key>
        <string>{105,94}</string>
      </dict>
      <key>monster_0203_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,221},{106,94}}</string>
        <key>offset</key>
        <string>{-27,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,94}}</string>
        <key>sourceSize</key>
        <string>{106,94}</string>
      </dict>
      <key>monster_0203_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,233},{108,94}}</string>
        <key>offset</key>
        <string>{-29,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,94}}</string>
        <key>sourceSize</key>
        <string>{108,94}</string>
      </dict>
      <key>monster_0203_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,0},{109,93}}</string>
        <key>offset</key>
        <string>{-30,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,93}}</string>
        <key>sourceSize</key>
        <string>{109,93}</string>
      </dict>
      <key>monster_0203_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,111},{108,94}}</string>
        <key>offset</key>
        <string>{-29,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,94}}</string>
        <key>sourceSize</key>
        <string>{108,94}</string>
      </dict>
      <key>monster_0203_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,453},{107,95}}</string>
        <key>offset</key>
        <string>{-28,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,95}}</string>
        <key>sourceSize</key>
        <string>{107,95}</string>
      </dict>
      <key>monster_0203_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,451},{105,95}}</string>
        <key>offset</key>
        <string>{-26,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,95}}</string>
        <key>sourceSize</key>
        <string>{105,95}</string>
      </dict>
      <key>monster_0203_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,122},{119,92}}</string>
        <key>offset</key>
        <string>{-42,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,92}}</string>
        <key>sourceSize</key>
        <string>{119,92}</string>
      </dict>
      <key>monster_0203_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{119,93}}</string>
        <key>offset</key>
        <string>{-42,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,93}}</string>
        <key>sourceSize</key>
        <string>{119,93}</string>
      </dict>
      <key>monster_0203_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,243},{119,94}}</string>
        <key>offset</key>
        <string>{-42,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,94}}</string>
        <key>sourceSize</key>
        <string>{119,94}</string>
      </dict>
      <key>monster_0203_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,121},{119,95}}</string>
        <key>offset</key>
        <string>{-42,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,95}}</string>
        <key>sourceSize</key>
        <string>{119,95}</string>
      </dict>
      <key>monster_0203_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{119,94}}</string>
        <key>offset</key>
        <string>{-42,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,94}}</string>
        <key>sourceSize</key>
        <string>{119,94}</string>
      </dict>
      <key>monster_0203_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,364},{119,94}}</string>
        <key>offset</key>
        <string>{-42,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,94}}</string>
        <key>sourceSize</key>
        <string>{119,94}</string>
      </dict>
      <key>monster_0203_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,245},{120,95}}</string>
        <key>offset</key>
        <string>{-42,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,95}}</string>
        <key>sourceSize</key>
        <string>{120,95}</string>
      </dict>
      <key>monster_0203_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,367},{120,96}}</string>
        <key>offset</key>
        <string>{-42,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,96}}</string>
        <key>sourceSize</key>
        <string>{120,96}</string>
      </dict>
      <key>monster_0203_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,768},{99,102}}</string>
        <key>offset</key>
        <string>{-26,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,102}}</string>
        <key>sourceSize</key>
        <string>{99,102}</string>
      </dict>
      <key>monster_0203_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,768},{98,102}}</string>
        <key>offset</key>
        <string>{-24,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,102}}</string>
        <key>sourceSize</key>
        <string>{98,102}</string>
      </dict>
      <key>monster_0203_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,542},{98,103}}</string>
        <key>offset</key>
        <string>{-23,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,103}}</string>
        <key>sourceSize</key>
        <string>{98,103}</string>
      </dict>
      <key>monster_0203_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,430},{97,103}}</string>
        <key>offset</key>
        <string>{-22,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,103}}</string>
        <key>sourceSize</key>
        <string>{97,103}</string>
      </dict>
      <key>monster_0203_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,761},{95,101}}</string>
        <key>offset</key>
        <string>{-21,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,101}}</string>
        <key>sourceSize</key>
        <string>{95,101}</string>
      </dict>
      <key>monster_0203_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,535},{96,103}}</string>
        <key>offset</key>
        <string>{-21,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,103}}</string>
        <key>sourceSize</key>
        <string>{96,103}</string>
      </dict>
      <key>monster_0203_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,640},{97,103}}</string>
        <key>offset</key>
        <string>{-22,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,103}}</string>
        <key>sourceSize</key>
        <string>{97,103}</string>
      </dict>
      <key>monster_0203_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,705},{99,103}}</string>
        <key>offset</key>
        <string>{-24,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,103}}</string>
        <key>sourceSize</key>
        <string>{99,103}</string>
      </dict>
      <key>monster_0203_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,436},{79,104}}</string>
        <key>offset</key>
        <string>{-3,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,104}}</string>
        <key>sourceSize</key>
        <string>{79,104}</string>
      </dict>
      <key>monster_0203_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,324},{79,104}}</string>
        <key>offset</key>
        <string>{-3,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,104}}</string>
        <key>sourceSize</key>
        <string>{79,104}</string>
      </dict>
      <key>monster_0203_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,109},{83,106}}</string>
        <key>offset</key>
        <string>{-5,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,106}}</string>
        <key>sourceSize</key>
        <string>{83,106}</string>
      </dict>
      <key>monster_0203_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,558},{83,105}}</string>
        <key>offset</key>
        <string>{-5,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,105}}</string>
        <key>sourceSize</key>
        <string>{83,105}</string>
      </dict>
      <key>monster_0203_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,329},{83,105}}</string>
        <key>offset</key>
        <string>{-6,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,105}}</string>
        <key>sourceSize</key>
        <string>{83,105}</string>
      </dict>
      <key>monster_0203_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{83,106}}</string>
        <key>offset</key>
        <string>{-5,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,106}}</string>
        <key>sourceSize</key>
        <string>{83,106}</string>
      </dict>
      <key>monster_0203_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,204},{83,104}}</string>
        <key>offset</key>
        <string>{-4,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,104}}</string>
        <key>sourceSize</key>
        <string>{83,104}</string>
      </dict>
      <key>monster_0203_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,217},{81,105}}</string>
        <key>offset</key>
        <string>{-3,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,105}}</string>
        <key>sourceSize</key>
        <string>{81,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0203_0_1.png</string>
      <key>size</key>
      <string>{896,869}</string>
      <key>textureFileName</key>
      <string>monster_0203_0_1.png</string>
    </dict>
  </dict>
</plist>