<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0152_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,348},{102,74}}</string>
        <key>offset</key>
        <string>{-26,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,74}}</string>
        <key>sourceSize</key>
        <string>{102,74}</string>
      </dict>
      <key>monster_0152_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,492},{103,70}}</string>
        <key>offset</key>
        <string>{-12,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,70}}</string>
        <key>sourceSize</key>
        <string>{103,70}</string>
      </dict>
      <key>monster_0152_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,270},{109,85}}</string>
        <key>offset</key>
        <string>{-13,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,85}}</string>
        <key>sourceSize</key>
        <string>{109,85}</string>
      </dict>
      <key>monster_0152_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,0},{127,121}}</string>
        <key>offset</key>
        <string>{-18,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,121}}</string>
        <key>sourceSize</key>
        <string>{127,121}</string>
      </dict>
      <key>monster_0152_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,628},{58,79}}</string>
        <key>offset</key>
        <string>{1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,79}}</string>
        <key>sourceSize</key>
        <string>{58,79}</string>
      </dict>
      <key>monster_0152_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,179},{82,74}}</string>
        <key>offset</key>
        <string>{-8,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,74}}</string>
        <key>sourceSize</key>
        <string>{82,74}</string>
      </dict>
      <key>monster_0152_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,554},{69,84}}</string>
        <key>offset</key>
        <string>{-1,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,84}}</string>
        <key>sourceSize</key>
        <string>{69,84}</string>
      </dict>
      <key>monster_0152_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,627},{79,78}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>monster_0152_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{98,97}}</string>
        <key>offset</key>
        <string>{-20,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,97}}</string>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>monster_0152_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,418},{126,127}}</string>
        <key>offset</key>
        <string>{-22,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,127}}</string>
        <key>sourceSize</key>
        <string>{126,127}</string>
      </dict>
      <key>monster_0152_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,342},{90,70}}</string>
        <key>offset</key>
        <string>{14,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,70}}</string>
        <key>sourceSize</key>
        <string>{90,70}</string>
      </dict>
      <key>monster_0152_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,0},{68,73}}</string>
        <key>offset</key>
        <string>{9,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,73}}</string>
        <key>sourceSize</key>
        <string>{68,73}</string>
      </dict>
      <key>monster_0152_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,507},{65,84}}</string>
        <key>offset</key>
        <string>{5,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,84}}</string>
        <key>sourceSize</key>
        <string>{65,84}</string>
      </dict>
      <key>monster_0152_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,488},{64,87}}</string>
        <key>offset</key>
        <string>{2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,87}}</string>
        <key>sourceSize</key>
        <string>{64,87}</string>
      </dict>
      <key>monster_0152_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,515},{75,110}}</string>
        <key>offset</key>
        <string>{-8,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,110}}</string>
        <key>sourceSize</key>
        <string>{75,110}</string>
      </dict>
      <key>monster_0152_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,142}}</string>
        <key>offset</key>
        <string>{-9,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,142}}</string>
        <key>sourceSize</key>
        <string>{96,142}</string>
      </dict>
      <key>monster_0152_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,547},{117,61}}</string>
        <key>offset</key>
        <string>{5,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,61}}</string>
        <key>sourceSize</key>
        <string>{117,61}</string>
      </dict>
      <key>monster_0152_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,75},{73,67}}</string>
        <key>offset</key>
        <string>{5,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,67}}</string>
        <key>sourceSize</key>
        <string>{73,67}</string>
      </dict>
      <key>monster_0152_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,355},{88,71}}</string>
        <key>offset</key>
        <string>{-17,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,71}}</string>
        <key>sourceSize</key>
        <string>{88,71}</string>
      </dict>
      <key>monster_0152_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,99},{97,78}}</string>
        <key>offset</key>
        <string>{-16,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,78}}</string>
        <key>sourceSize</key>
        <string>{97,78}</string>
      </dict>
      <key>monster_0152_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{94,107}}</string>
        <key>offset</key>
        <string>{-18,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,107}}</string>
        <key>sourceSize</key>
        <string>{94,107}</string>
      </dict>
      <key>monster_0152_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{109,137}}</string>
        <key>offset</key>
        <string>{-15,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,137}}</string>
        <key>sourceSize</key>
        <string>{109,137}</string>
      </dict>
      <key>monster_0152_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,109},{100,72}}</string>
        <key>offset</key>
        <string>{-3,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,72}}</string>
        <key>sourceSize</key>
        <string>{100,72}</string>
      </dict>
      <key>monster_0152_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,614},{77,72}}</string>
        <key>offset</key>
        <string>{-3,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,72}}</string>
        <key>sourceSize</key>
        <string>{77,72}</string>
      </dict>
      <key>monster_0152_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,239},{101,65}}</string>
        <key>offset</key>
        <string>{-27,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,65}}</string>
        <key>sourceSize</key>
        <string>{101,65}</string>
      </dict>
      <key>monster_0152_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{100,80}}</string>
        <key>offset</key>
        <string>{-18,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,80}}</string>
        <key>sourceSize</key>
        <string>{100,80}</string>
      </dict>
      <key>monster_0152_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,515},{111,106}}</string>
        <key>offset</key>
        <string>{-13,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,106}}</string>
        <key>sourceSize</key>
        <string>{111,106}</string>
      </dict>
      <key>monster_0152_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,138},{128,130}}</string>
        <key>offset</key>
        <string>{-8,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,130}}</string>
        <key>sourceSize</key>
        <string>{128,130}</string>
      </dict>
      <key>monster_0152_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,628},{57,80}}</string>
        <key>offset</key>
        <string>{-3,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,80}}</string>
        <key>sourceSize</key>
        <string>{57,80}</string>
      </dict>
      <key>monster_0152_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,574},{82,74}}</string>
        <key>offset</key>
        <string>{-13,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,74}}</string>
        <key>sourceSize</key>
        <string>{82,74}</string>
      </dict>
      <key>monster_0152_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,355},{73,83}}</string>
        <key>offset</key>
        <string>{-8,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,83}}</string>
        <key>sourceSize</key>
        <string>{73,83}</string>
      </dict>
      <key>monster_0152_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,179},{81,95}}</string>
        <key>offset</key>
        <string>{-5,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,95}}</string>
        <key>sourceSize</key>
        <string>{81,95}</string>
      </dict>
      <key>monster_0152_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,398},{115,115}}</string>
        <key>offset</key>
        <string>{-10,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,115}}</string>
        <key>sourceSize</key>
        <string>{115,115}</string>
      </dict>
      <key>monster_0152_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{125,133}}</string>
        <key>offset</key>
        <string>{-1,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,133}}</string>
        <key>sourceSize</key>
        <string>{125,133}</string>
      </dict>
      <key>monster_0152_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,414},{88,72}}</string>
        <key>offset</key>
        <string>{-46,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,72}}</string>
        <key>sourceSize</key>
        <string>{88,72}</string>
      </dict>
      <key>monster_0152_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,628},{80,72}}</string>
        <key>offset</key>
        <string>{-24,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,72}}</string>
        <key>sourceSize</key>
        <string>{80,72}</string>
      </dict>
      <key>monster_0152_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,554},{58,87}}</string>
        <key>offset</key>
        <string>{3,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,87}}</string>
        <key>sourceSize</key>
        <string>{58,87}</string>
      </dict>
      <key>monster_0152_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,428},{77,88}}</string>
        <key>offset</key>
        <string>{-2,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,88}}</string>
        <key>sourceSize</key>
        <string>{77,88}</string>
      </dict>
      <key>monster_0152_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,381},{89,109}}</string>
        <key>offset</key>
        <string>{3,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,109}}</string>
        <key>sourceSize</key>
        <string>{89,109}</string>
      </dict>
      <key>monster_0152_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{105,136}}</string>
        <key>offset</key>
        <string>{3,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,136}}</string>
        <key>sourceSize</key>
        <string>{105,136}</string>
      </dict>
      <key>monster_0152_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,129},{108,63}}</string>
        <key>offset</key>
        <string>{-64,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,63}}</string>
        <key>sourceSize</key>
        <string>{108,63}</string>
      </dict>
      <key>monster_0152_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,640},{77,68}}</string>
        <key>offset</key>
        <string>{-29,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,68}}</string>
        <key>sourceSize</key>
        <string>{77,68}</string>
      </dict>
      <key>monster_0152_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,262},{94,78}}</string>
        <key>offset</key>
        <string>{-22,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,78}}</string>
        <key>sourceSize</key>
        <string>{94,78}</string>
      </dict>
      <key>monster_0152_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,239},{107,68}}</string>
        <key>offset</key>
        <string>{-16,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,68}}</string>
        <key>sourceSize</key>
        <string>{107,68}</string>
      </dict>
      <key>monster_0152_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,129},{108,96}}</string>
        <key>offset</key>
        <string>{-5,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,96}}</string>
        <key>sourceSize</key>
        <string>{108,96}</string>
      </dict>
      <key>monster_0152_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,270},{111,126}}</string>
        <key>offset</key>
        <string>{-5,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,126}}</string>
        <key>sourceSize</key>
        <string>{111,126}</string>
      </dict>
      <key>monster_0152_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,262},{91,64}}</string>
        <key>offset</key>
        <string>{-39,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,64}}</string>
        <key>sourceSize</key>
        <string>{91,64}</string>
      </dict>
      <key>monster_0152_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,627},{82,67}}</string>
        <key>offset</key>
        <string>{-19,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,67}}</string>
        <key>sourceSize</key>
        <string>{82,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0152_0_2.png</string>
      <key>size</key>
      <string>{679,744}</string>
      <key>textureFileName</key>
      <string>monster_0152_0_2.png</string>
    </dict>
  </dict>
</plist>