<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0224_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,453},{78,80}}</string>
        <key>offset</key>
        <string>{-5,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,80}}</string>
        <key>sourceSize</key>
        <string>{78,80}</string>
      </dict>
      <key>monster_0224_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,446},{73,76}}</string>
        <key>offset</key>
        <string>{0,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,76}}</string>
        <key>sourceSize</key>
        <string>{73,76}</string>
      </dict>
      <key>monster_0224_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,150},{84,79}}</string>
        <key>offset</key>
        <string>{-4,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,79}}</string>
        <key>sourceSize</key>
        <string>{84,79}</string>
      </dict>
      <key>monster_0224_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,0},{79,85}}</string>
        <key>offset</key>
        <string>{-3,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,85}}</string>
        <key>sourceSize</key>
        <string>{79,85}</string>
      </dict>
      <key>monster_0224_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{125,100}}</string>
        <key>offset</key>
        <string>{-42,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,100}}</string>
        <key>sourceSize</key>
        <string>{125,100}</string>
      </dict>
      <key>monster_0224_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,81},{85,67}}</string>
        <key>offset</key>
        <string>{-28,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,67}}</string>
        <key>sourceSize</key>
        <string>{85,67}</string>
      </dict>
      <key>monster_0224_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,302},{65,83}}</string>
        <key>offset</key>
        <string>{12,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,83}}</string>
        <key>sourceSize</key>
        <string>{65,83}</string>
      </dict>
      <key>monster_0224_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,0},{68,78}}</string>
        <key>offset</key>
        <string>{13,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,78}}</string>
        <key>sourceSize</key>
        <string>{68,78}</string>
      </dict>
      <key>monster_0224_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,379},{85,80}}</string>
        <key>offset</key>
        <string>{7,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,80}}</string>
        <key>sourceSize</key>
        <string>{85,80}</string>
      </dict>
      <key>monster_0224_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,336},{92,89}}</string>
        <key>offset</key>
        <string>{5,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,89}}</string>
        <key>sourceSize</key>
        <string>{92,89}</string>
      </dict>
      <key>monster_0224_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,232},{102,96}}</string>
        <key>offset</key>
        <string>{-6,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,96}}</string>
        <key>sourceSize</key>
        <string>{102,96}</string>
      </dict>
      <key>monster_0224_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,431},{91,66}}</string>
        <key>offset</key>
        <string>{-17,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,66}}</string>
        <key>sourceSize</key>
        <string>{91,66}</string>
      </dict>
      <key>monster_0224_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,278},{71,85}}</string>
        <key>offset</key>
        <string>{10,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,85}}</string>
        <key>sourceSize</key>
        <string>{71,85}</string>
      </dict>
      <key>monster_0224_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,179},{85,72}}</string>
        <key>offset</key>
        <string>{8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,72}}</string>
        <key>sourceSize</key>
        <string>{85,72}</string>
      </dict>
      <key>monster_0224_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,70},{72,78}}</string>
        <key>offset</key>
        <string>{11,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,78}}</string>
        <key>sourceSize</key>
        <string>{72,78}</string>
      </dict>
      <key>monster_0224_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,336},{93,84}}</string>
        <key>offset</key>
        <string>{9,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,84}}</string>
        <key>sourceSize</key>
        <string>{93,84}</string>
      </dict>
      <key>monster_0224_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,381},{111,92}}</string>
        <key>offset</key>
        <string>{-8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,92}}</string>
        <key>sourceSize</key>
        <string>{111,92}</string>
      </dict>
      <key>monster_0224_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{106,47}}</string>
        <key>offset</key>
        <string>{-11,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,47}}</string>
        <key>sourceSize</key>
        <string>{106,47}</string>
      </dict>
      <key>monster_0224_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,150},{73,78}}</string>
        <key>offset</key>
        <string>{5,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,78}}</string>
        <key>sourceSize</key>
        <string>{73,78}</string>
      </dict>
      <key>monster_0224_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,100},{94,68}}</string>
        <key>offset</key>
        <string>{-8,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,68}}</string>
        <key>sourceSize</key>
        <string>{94,68}</string>
      </dict>
      <key>monster_0224_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,453},{69,80}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,80}}</string>
        <key>sourceSize</key>
        <string>{69,80}</string>
      </dict>
      <key>monster_0224_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,369},{82,81}}</string>
        <key>offset</key>
        <string>{4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,81}}</string>
        <key>sourceSize</key>
        <string>{82,81}</string>
      </dict>
      <key>monster_0224_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,0},{120,84}}</string>
        <key>offset</key>
        <string>{-11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,84}}</string>
        <key>sourceSize</key>
        <string>{120,84}</string>
      </dict>
      <key>monster_0224_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{119,51}}</string>
        <key>offset</key>
        <string>{-8,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,51}}</string>
        <key>sourceSize</key>
        <string>{119,51}</string>
      </dict>
      <key>monster_0224_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,369},{82,78}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,78}}</string>
        <key>sourceSize</key>
        <string>{82,78}</string>
      </dict>
      <key>monster_0224_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,466},{75,81}}</string>
        <key>offset</key>
        <string>{-9,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,81}}</string>
        <key>sourceSize</key>
        <string>{75,81}</string>
      </dict>
      <key>monster_0224_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,90},{87,72}}</string>
        <key>offset</key>
        <string>{-13,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,72}}</string>
        <key>sourceSize</key>
        <string>{87,72}</string>
      </dict>
      <key>monster_0224_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,225},{75,77}}</string>
        <key>offset</key>
        <string>{-4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,77}}</string>
        <key>sourceSize</key>
        <string>{75,77}</string>
      </dict>
      <key>monster_0224_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130,63}}</string>
        <key>offset</key>
        <string>{-19,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,63}}</string>
        <key>sourceSize</key>
        <string>{130,63}</string>
      </dict>
      <key>monster_0224_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,365},{85,61}}</string>
        <key>offset</key>
        <string>{-8,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,61}}</string>
        <key>sourceSize</key>
        <string>{85,61}</string>
      </dict>
      <key>monster_0224_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{71,88}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,88}}</string>
        <key>sourceSize</key>
        <string>{71,88}</string>
      </dict>
      <key>monster_0224_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,466},{63,81}}</string>
        <key>offset</key>
        <string>{-9,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,81}}</string>
        <key>sourceSize</key>
        <string>{63,81}</string>
      </dict>
      <key>monster_0224_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,430},{90,77}}</string>
        <key>offset</key>
        <string>{-28,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,77}}</string>
        <key>sourceSize</key>
        <string>{90,77}</string>
      </dict>
      <key>monster_0224_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,196},{91,85}}</string>
        <key>offset</key>
        <string>{-25,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,85}}</string>
        <key>sourceSize</key>
        <string>{91,85}</string>
      </dict>
      <key>monster_0224_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,259},{108,76}}</string>
        <key>offset</key>
        <string>{-32,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,76}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>monster_0224_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,289},{88,68}}</string>
        <key>offset</key>
        <string>{-21,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,68}}</string>
        <key>sourceSize</key>
        <string>{88,68}</string>
      </dict>
      <key>monster_0224_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,231},{69,84}}</string>
        <key>offset</key>
        <string>{-16,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,84}}</string>
        <key>sourceSize</key>
        <string>{69,84}</string>
      </dict>
      <key>monster_0224_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{94,76}}</string>
        <key>offset</key>
        <string>{-34,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,76}}</string>
        <key>sourceSize</key>
        <string>{94,76}</string>
      </dict>
      <key>monster_0224_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,302},{69,77}}</string>
        <key>offset</key>
        <string>{-14,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,77}}</string>
        <key>sourceSize</key>
        <string>{69,77}</string>
      </dict>
      <key>monster_0224_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,188},{83,88}}</string>
        <key>offset</key>
        <string>{-29,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,88}}</string>
        <key>sourceSize</key>
        <string>{83,88}</string>
      </dict>
      <key>monster_0224_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,96},{89,90}}</string>
        <key>offset</key>
        <string>{-30,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>monster_0224_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,122},{108,52}}</string>
        <key>offset</key>
        <string>{-47,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,52}}</string>
        <key>sourceSize</key>
        <string>{108,52}</string>
      </dict>
      <key>monster_0224_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{86,79}}</string>
        <key>offset</key>
        <string>{-22,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,79}}</string>
        <key>sourceSize</key>
        <string>{86,79}</string>
      </dict>
      <key>monster_0224_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,108},{98,73}}</string>
        <key>offset</key>
        <string>{-26,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,73}}</string>
        <key>sourceSize</key>
        <string>{98,73}</string>
      </dict>
      <key>monster_0224_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,373},{71,77}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,77}}</string>
        <key>sourceSize</key>
        <string>{71,77}</string>
      </dict>
      <key>monster_0224_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,266},{67,85}}</string>
        <key>offset</key>
        <string>{-13,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,85}}</string>
        <key>sourceSize</key>
        <string>{67,85}</string>
      </dict>
      <key>monster_0224_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{98,88}}</string>
        <key>offset</key>
        <string>{-39,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,88}}</string>
        <key>sourceSize</key>
        <string>{98,88}</string>
      </dict>
      <key>monster_0224_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{120,62}}</string>
        <key>offset</key>
        <string>{-62,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,62}}</string>
        <key>sourceSize</key>
        <string>{120,62}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0224_0_4.png</string>
      <key>size</key>
      <string>{743,554}</string>
      <key>textureFileName</key>
      <string>monster_0224_0_4.png</string>
    </dict>
  </dict>
</plist>