<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0187_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,65},{61,62}}</string>
        <key>offset</key>
        <string>{-8,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,62}}</string>
        <key>sourceSize</key>
        <string>{61,62}</string>
      </dict>
      <key>monster_0187_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,0},{62,59}}</string>
        <key>offset</key>
        <string>{-8,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,59}}</string>
        <key>sourceSize</key>
        <string>{62,59}</string>
      </dict>
      <key>monster_0187_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{61,62}}</string>
        <key>offset</key>
        <string>{-7,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,62}}</string>
        <key>sourceSize</key>
        <string>{61,62}</string>
      </dict>
      <key>monster_0187_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,68},{60,63}}</string>
        <key>offset</key>
        <string>{-7,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>monster_0187_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,191},{61,58}}</string>
        <key>offset</key>
        <string>{-7,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,58}}</string>
        <key>sourceSize</key>
        <string>{61,58}</string>
      </dict>
      <key>monster_0187_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,303},{60,60}}</string>
        <key>offset</key>
        <string>{-7,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>monster_0187_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{76,56}}</string>
        <key>offset</key>
        <string>{-16,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,56}}</string>
        <key>sourceSize</key>
        <string>{76,56}</string>
      </dict>
      <key>monster_0187_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,306},{70,58}}</string>
        <key>offset</key>
        <string>{-13,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,58}}</string>
        <key>sourceSize</key>
        <string>{70,58}</string>
      </dict>
      <key>monster_0187_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,63},{62,59}}</string>
        <key>offset</key>
        <string>{-7,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,59}}</string>
        <key>sourceSize</key>
        <string>{62,59}</string>
      </dict>
      <key>monster_0187_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{63,58}}</string>
        <key>offset</key>
        <string>{-7,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,58}}</string>
        <key>sourceSize</key>
        <string>{63,58}</string>
      </dict>
      <key>monster_0187_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,142},{67,57}}</string>
        <key>offset</key>
        <string>{-9,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,57}}</string>
        <key>sourceSize</key>
        <string>{67,57}</string>
      </dict>
      <key>monster_0187_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,154},{72,55}}</string>
        <key>offset</key>
        <string>{-13,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,55}}</string>
        <key>sourceSize</key>
        <string>{72,55}</string>
      </dict>
      <key>monster_0187_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{74,51}}</string>
        <key>offset</key>
        <string>{-16,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,51}}</string>
        <key>sourceSize</key>
        <string>{74,51}</string>
      </dict>
      <key>monster_0187_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,75},{69,50}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>monster_0187_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{68,51}}</string>
        <key>offset</key>
        <string>{-10,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,51}}</string>
        <key>sourceSize</key>
        <string>{68,51}</string>
      </dict>
      <key>monster_0187_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{73,50}}</string>
        <key>offset</key>
        <string>{-15,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,50}}</string>
        <key>sourceSize</key>
        <string>{73,50}</string>
      </dict>
      <key>monster_0187_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,68},{64,51}}</string>
        <key>offset</key>
        <string>{-6,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,51}}</string>
        <key>sourceSize</key>
        <string>{64,51}</string>
      </dict>
      <key>monster_0187_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,228},{70,51}}</string>
        <key>offset</key>
        <string>{-12,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,51}}</string>
        <key>sourceSize</key>
        <string>{70,51}</string>
      </dict>
      <key>monster_0187_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,279},{64,52}}</string>
        <key>offset</key>
        <string>{-6,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,52}}</string>
        <key>sourceSize</key>
        <string>{64,52}</string>
      </dict>
      <key>monster_0187_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{66,53}}</string>
        <key>offset</key>
        <string>{-7,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,53}}</string>
        <key>sourceSize</key>
        <string>{66,53}</string>
      </dict>
      <key>monster_0187_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,231},{73,52}}</string>
        <key>offset</key>
        <string>{-11,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,52}}</string>
        <key>sourceSize</key>
        <string>{73,52}</string>
      </dict>
      <key>monster_0187_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,78},{74,50}}</string>
        <key>offset</key>
        <string>{-14,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,50}}</string>
        <key>sourceSize</key>
        <string>{74,50}</string>
      </dict>
      <key>monster_0187_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{69,51}}</string>
        <key>offset</key>
        <string>{-10,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,51}}</string>
        <key>sourceSize</key>
        <string>{69,51}</string>
      </dict>
      <key>monster_0187_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,279},{64,52}}</string>
        <key>offset</key>
        <string>{-6,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,52}}</string>
        <key>sourceSize</key>
        <string>{64,52}</string>
      </dict>
      <key>monster_0187_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,129},{60,51}}</string>
        <key>offset</key>
        <string>{-4,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,51}}</string>
        <key>sourceSize</key>
        <string>{60,51}</string>
      </dict>
      <key>monster_0187_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,305},{60,50}}</string>
        <key>offset</key>
        <string>{-5,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,50}}</string>
        <key>sourceSize</key>
        <string>{60,50}</string>
      </dict>
      <key>monster_0187_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,357},{60,49}}</string>
        <key>offset</key>
        <string>{-5,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,49}}</string>
        <key>sourceSize</key>
        <string>{60,49}</string>
      </dict>
      <key>monster_0187_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,191},{61,49}}</string>
        <key>offset</key>
        <string>{-6,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,49}}</string>
        <key>sourceSize</key>
        <string>{61,49}</string>
      </dict>
      <key>monster_0187_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,251},{61,50}}</string>
        <key>offset</key>
        <string>{-5,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,50}}</string>
        <key>sourceSize</key>
        <string>{61,50}</string>
      </dict>
      <key>monster_0187_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,254},{61,49}}</string>
        <key>offset</key>
        <string>{-4,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,49}}</string>
        <key>sourceSize</key>
        <string>{61,49}</string>
      </dict>
      <key>monster_0187_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{75,49}}</string>
        <key>offset</key>
        <string>{-12,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,49}}</string>
        <key>sourceSize</key>
        <string>{75,49}</string>
      </dict>
      <key>monster_0187_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,146},{69,50}}</string>
        <key>offset</key>
        <string>{-9,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>monster_0187_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,206},{64,51}}</string>
        <key>offset</key>
        <string>{-6,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,51}}</string>
        <key>sourceSize</key>
        <string>{64,51}</string>
      </dict>
      <key>monster_0187_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,127},{62,50}}</string>
        <key>offset</key>
        <string>{-3,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,50}}</string>
        <key>sourceSize</key>
        <string>{62,50}</string>
      </dict>
      <key>monster_0187_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{66,54}}</string>
        <key>offset</key>
        <string>{-6,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,54}}</string>
        <key>sourceSize</key>
        <string>{66,54}</string>
      </dict>
      <key>monster_0187_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{71,51}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,51}}</string>
        <key>sourceSize</key>
        <string>{71,51}</string>
      </dict>
      <key>monster_0187_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,300},{68,51}}</string>
        <key>offset</key>
        <string>{-6,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,51}}</string>
        <key>sourceSize</key>
        <string>{68,51}</string>
      </dict>
      <key>monster_0187_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,272},{63,52}}</string>
        <key>offset</key>
        <string>{-3,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,52}}</string>
        <key>sourceSize</key>
        <string>{63,52}</string>
      </dict>
      <key>monster_0187_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,272},{64,52}}</string>
        <key>offset</key>
        <string>{-4,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,52}}</string>
        <key>sourceSize</key>
        <string>{64,52}</string>
      </dict>
      <key>monster_0187_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,206},{64,52}}</string>
        <key>offset</key>
        <string>{-4,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,52}}</string>
        <key>sourceSize</key>
        <string>{64,52}</string>
      </dict>
      <key>monster_0187_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,200},{63,51}}</string>
        <key>offset</key>
        <string>{-3,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,51}}</string>
        <key>sourceSize</key>
        <string>{63,51}</string>
      </dict>
      <key>monster_0187_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,133},{63,51}}</string>
        <key>offset</key>
        <string>{-3,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,51}}</string>
        <key>sourceSize</key>
        <string>{63,51}</string>
      </dict>
      <key>monster_0187_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,134},{64,60}}</string>
        <key>offset</key>
        <string>{-5,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,60}}</string>
        <key>sourceSize</key>
        <string>{64,60}</string>
      </dict>
      <key>monster_0187_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,211},{66,59}}</string>
        <key>offset</key>
        <string>{-8,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,59}}</string>
        <key>sourceSize</key>
        <string>{66,59}</string>
      </dict>
      <key>monster_0187_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,71},{69,55}}</string>
        <key>offset</key>
        <string>{-12,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,55}}</string>
        <key>sourceSize</key>
        <string>{69,55}</string>
      </dict>
      <key>monster_0187_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,228},{70,55}}</string>
        <key>offset</key>
        <string>{-11,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,55}}</string>
        <key>sourceSize</key>
        <string>{70,55}</string>
      </dict>
      <key>monster_0187_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,70},{67,57}}</string>
        <key>offset</key>
        <string>{-10,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,57}}</string>
        <key>sourceSize</key>
        <string>{67,57}</string>
      </dict>
      <key>monster_0187_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,139},{65,58}}</string>
        <key>offset</key>
        <string>{-7,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,58}}</string>
        <key>sourceSize</key>
        <string>{65,58}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0187_0_1.png</string>
      <key>size</key>
      <string>{513,408}</string>
      <key>textureFileName</key>
      <string>monster_0187_0_1.png</string>
    </dict>
  </dict>
</plist>