<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0150_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{78,75}}</string>
        <key>offset</key>
        <string>{-8,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>monster_0150_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,88},{84,72}}</string>
        <key>offset</key>
        <string>{-7,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,72}}</string>
        <key>sourceSize</key>
        <string>{84,72}</string>
      </dict>
      <key>monster_0150_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,190},{85,74}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,74}}</string>
        <key>sourceSize</key>
        <string>{85,74}</string>
      </dict>
      <key>monster_0150_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,101},{87,74}}</string>
        <key>offset</key>
        <string>{6,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,74}}</string>
        <key>sourceSize</key>
        <string>{87,74}</string>
      </dict>
      <key>monster_0150_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,209},{92,72}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,72}}</string>
        <key>sourceSize</key>
        <string>{92,72}</string>
      </dict>
      <key>monster_0150_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{99,74}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,74}}</string>
        <key>sourceSize</key>
        <string>{99,74}</string>
      </dict>
      <key>monster_0150_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,76},{75,75}}</string>
        <key>offset</key>
        <string>{4,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>monster_0150_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,88},{68,83}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,83}}</string>
        <key>sourceSize</key>
        <string>{68,83}</string>
      </dict>
      <key>monster_0150_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,85},{76,80}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>monster_0150_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,260},{69,82}}</string>
        <key>offset</key>
        <string>{-1,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,82}}</string>
        <key>sourceSize</key>
        <string>{69,82}</string>
      </dict>
      <key>monster_0150_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{66,93}}</string>
        <key>offset</key>
        <string>{-7,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,93}}</string>
        <key>sourceSize</key>
        <string>{66,93}</string>
      </dict>
      <key>monster_0150_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,303},{65,88}}</string>
        <key>offset</key>
        <string>{-5,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,88}}</string>
        <key>sourceSize</key>
        <string>{65,88}</string>
      </dict>
      <key>monster_0150_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,0},{78,74}}</string>
        <key>offset</key>
        <string>{-18,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,74}}</string>
        <key>sourceSize</key>
        <string>{78,74}</string>
      </dict>
      <key>monster_0150_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{86,83}}</string>
        <key>offset</key>
        <string>{-25,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,83}}</string>
        <key>sourceSize</key>
        <string>{86,83}</string>
      </dict>
      <key>monster_0150_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,277},{84,78}}</string>
        <key>offset</key>
        <string>{-23,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,78}}</string>
        <key>sourceSize</key>
        <string>{84,78}</string>
      </dict>
      <key>monster_0150_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,209},{95,67}}</string>
        <key>offset</key>
        <string>{-42,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,67}}</string>
        <key>sourceSize</key>
        <string>{95,67}</string>
      </dict>
      <key>monster_0150_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{101,79}}</string>
        <key>offset</key>
        <string>{-40,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,79}}</string>
        <key>sourceSize</key>
        <string>{101,79}</string>
      </dict>
      <key>monster_0150_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,74}}</string>
        <key>offset</key>
        <string>{-44,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,74}}</string>
        <key>sourceSize</key>
        <string>{104,74}</string>
      </dict>
      <key>monster_0150_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,173},{81,70}}</string>
        <key>offset</key>
        <string>{-29,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,70}}</string>
        <key>sourceSize</key>
        <string>{81,70}</string>
      </dict>
      <key>monster_0150_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{83,75}}</string>
        <key>offset</key>
        <string>{-21,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>monster_0150_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,174},{84,76}}</string>
        <key>offset</key>
        <string>{-26,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,76}}</string>
        <key>sourceSize</key>
        <string>{84,76}</string>
      </dict>
      <key>monster_0150_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,243},{71,68}}</string>
        <key>offset</key>
        <string>{-12,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>monster_0150_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,256},{74,72}}</string>
        <key>offset</key>
        <string>{-6,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,72}}</string>
        <key>sourceSize</key>
        <string>{74,72}</string>
      </dict>
      <key>monster_0150_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,167},{72,74}}</string>
        <key>offset</key>
        <string>{-6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,74}}</string>
        <key>sourceSize</key>
        <string>{72,74}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0150_0_7.png</string>
      <key>size</key>
      <string>{512,384}</string>
      <key>textureFileName</key>
      <string>monster_0150_0_7.png</string>
    </dict>
  </dict>
</plist>