<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0256_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{266,223}}</string>
        <key>offset</key>
        <string>{-44,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,223}}</string>
        <key>sourceSize</key>
        <string>{266,223}</string>
      </dict>
      <key>monster_0256_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,765},{266,239}}</string>
        <key>offset</key>
        <string>{-49,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,239}}</string>
        <key>sourceSize</key>
        <string>{266,239}</string>
      </dict>
      <key>monster_0256_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,249},{240,278}}</string>
        <key>offset</key>
        <string>{-58,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,278}}</string>
        <key>sourceSize</key>
        <string>{240,278}</string>
      </dict>
      <key>monster_0256_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,396},{263,333}}</string>
        <key>offset</key>
        <string>{-44,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,333}}</string>
        <key>sourceSize</key>
        <string>{263,333}</string>
      </dict>
      <key>monster_0256_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{324,231}}</string>
        <key>offset</key>
        <string>{-47,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,231}}</string>
        <key>sourceSize</key>
        <string>{324,231}</string>
      </dict>
      <key>monster_0256_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,491},{272,260}}</string>
        <key>offset</key>
        <string>{-58,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,260}}</string>
        <key>sourceSize</key>
        <string>{272,260}</string>
      </dict>
      <key>monster_0256_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,491},{259,259}}</string>
        <key>offset</key>
        <string>{-38,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,259}}</string>
        <key>sourceSize</key>
        <string>{259,259}</string>
      </dict>
      <key>monster_0256_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{308,247}}</string>
        <key>offset</key>
        <string>{-38,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,247}}</string>
        <key>sourceSize</key>
        <string>{308,247}</string>
      </dict>
      <key>monster_0256_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{394,299}}</string>
        <key>offset</key>
        <string>{-78,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,299}}</string>
        <key>sourceSize</key>
        <string>{394,299}</string>
      </dict>
      <key>monster_0256_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{382,206}}</string>
        <key>offset</key>
        <string>{-46,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,206}}</string>
        <key>sourceSize</key>
        <string>{382,206}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0256_0_4_1.png</string>
      <key>size</key>
      <string>{1026,1008}</string>
      <key>textureFileName</key>
      <string>monster_0256_0_4_1.png</string>
    </dict>
  </dict>
</plist>