<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0116_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,138},{134,121}}</string>
        <key>offset</key>
        <string>{-31,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,121}}</string>
        <key>sourceSize</key>
        <string>{134,121}</string>
      </dict>
      <key>monster_0116_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,421},{135,120}}</string>
        <key>offset</key>
        <string>{-32,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,120}}</string>
        <key>sourceSize</key>
        <string>{135,120}</string>
      </dict>
      <key>monster_0116_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,558},{135,119}}</string>
        <key>offset</key>
        <string>{-32,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,119}}</string>
        <key>sourceSize</key>
        <string>{135,119}</string>
      </dict>
      <key>monster_0116_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{134,120}}</string>
        <key>offset</key>
        <string>{-32,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,120}}</string>
        <key>sourceSize</key>
        <string>{134,120}</string>
      </dict>
      <key>monster_0116_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,558},{135,121}}</string>
        <key>offset</key>
        <string>{-32,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,121}}</string>
        <key>sourceSize</key>
        <string>{135,121}</string>
      </dict>
      <key>monster_0116_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,476},{109,127}}</string>
        <key>offset</key>
        <string>{-16,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,127}}</string>
        <key>sourceSize</key>
        <string>{109,127}</string>
      </dict>
      <key>monster_0116_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,607},{112,128}}</string>
        <key>offset</key>
        <string>{-20,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,128}}</string>
        <key>sourceSize</key>
        <string>{112,128}</string>
      </dict>
      <key>monster_0116_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,250},{111,129}}</string>
        <key>offset</key>
        <string>{-19,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,129}}</string>
        <key>sourceSize</key>
        <string>{111,129}</string>
      </dict>
      <key>monster_0116_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,363},{111,129}}</string>
        <key>offset</key>
        <string>{-18,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,129}}</string>
        <key>sourceSize</key>
        <string>{111,129}</string>
      </dict>
      <key>monster_0116_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,538},{110,129}}</string>
        <key>offset</key>
        <string>{-16,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,129}}</string>
        <key>sourceSize</key>
        <string>{110,129}</string>
      </dict>
      <key>monster_0116_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,576},{91,137}}</string>
        <key>offset</key>
        <string>{2,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,137}}</string>
        <key>sourceSize</key>
        <string>{91,137}</string>
      </dict>
      <key>monster_0116_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,145},{93,136}}</string>
        <key>offset</key>
        <string>{-1,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,136}}</string>
        <key>sourceSize</key>
        <string>{93,136}</string>
      </dict>
      <key>monster_0116_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{95,136}}</string>
        <key>offset</key>
        <string>{-3,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,136}}</string>
        <key>sourceSize</key>
        <string>{95,136}</string>
      </dict>
      <key>monster_0116_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,283},{93,136}}</string>
        <key>offset</key>
        <string>{0,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,136}}</string>
        <key>sourceSize</key>
        <string>{93,136}</string>
      </dict>
      <key>monster_0116_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,421},{91,136}}</string>
        <key>offset</key>
        <string>{2,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,136}}</string>
        <key>sourceSize</key>
        <string>{91,136}</string>
      </dict>
      <key>monster_0116_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,0},{125,127}}</string>
        <key>offset</key>
        <string>{-23,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,127}}</string>
        <key>sourceSize</key>
        <string>{125,127}</string>
      </dict>
      <key>monster_0116_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,476},{127,127}}</string>
        <key>offset</key>
        <string>{-26,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,127}}</string>
        <key>sourceSize</key>
        <string>{127,127}</string>
      </dict>
      <key>monster_0116_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,607},{128,125}}</string>
        <key>offset</key>
        <string>{-27,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,125}}</string>
        <key>sourceSize</key>
        <string>{128,125}</string>
      </dict>
      <key>monster_0116_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,129},{127,125}}</string>
        <key>offset</key>
        <string>{-25,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,125}}</string>
        <key>sourceSize</key>
        <string>{127,125}</string>
      </dict>
      <key>monster_0116_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,258},{124,126}}</string>
        <key>offset</key>
        <string>{-23,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,126}}</string>
        <key>sourceSize</key>
        <string>{124,126}</string>
      </dict>
      <key>monster_0116_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,433},{141,122}}</string>
        <key>offset</key>
        <string>{-29,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,122}}</string>
        <key>sourceSize</key>
        <string>{141,122}</string>
      </dict>
      <key>monster_0116_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{143,122}}</string>
        <key>offset</key>
        <string>{-31,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,122}}</string>
        <key>sourceSize</key>
        <string>{143,122}</string>
      </dict>
      <key>monster_0116_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{142,121}}</string>
        <key>offset</key>
        <string>{-31,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,121}}</string>
        <key>sourceSize</key>
        <string>{142,121}</string>
      </dict>
      <key>monster_0116_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,289},{142,121}}</string>
        <key>offset</key>
        <string>{-31,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,121}}</string>
        <key>sourceSize</key>
        <string>{142,121}</string>
      </dict>
      <key>monster_0116_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,576},{141,122}}</string>
        <key>offset</key>
        <string>{-30,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,122}}</string>
        <key>sourceSize</key>
        <string>{141,122}</string>
      </dict>
      <key>monster_0116_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,133},{120,130}}</string>
        <key>offset</key>
        <string>{-18,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,130}}</string>
        <key>sourceSize</key>
        <string>{120,130}</string>
      </dict>
      <key>monster_0116_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,0},{122,130}}</string>
        <key>offset</key>
        <string>{-19,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,130}}</string>
        <key>sourceSize</key>
        <string>{122,130}</string>
      </dict>
      <key>monster_0116_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,476},{119,129}}</string>
        <key>offset</key>
        <string>{-17,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,129}}</string>
        <key>sourceSize</key>
        <string>{119,129}</string>
      </dict>
      <key>monster_0116_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,0},{119,130}}</string>
        <key>offset</key>
        <string>{-17,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,130}}</string>
        <key>sourceSize</key>
        <string>{119,130}</string>
      </dict>
      <key>monster_0116_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,272},{119,131}}</string>
        <key>offset</key>
        <string>{-17,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,131}}</string>
        <key>sourceSize</key>
        <string>{119,131}</string>
      </dict>
      <key>monster_0116_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,274},{102,134}}</string>
        <key>offset</key>
        <string>{-10,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,134}}</string>
        <key>sourceSize</key>
        <string>{102,134}</string>
      </dict>
      <key>monster_0116_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,274},{102,134}}</string>
        <key>offset</key>
        <string>{-10,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,134}}</string>
        <key>sourceSize</key>
        <string>{102,134}</string>
      </dict>
      <key>monster_0116_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,410},{100,133}}</string>
        <key>offset</key>
        <string>{-10,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,133}}</string>
        <key>sourceSize</key>
        <string>{100,133}</string>
      </dict>
      <key>monster_0116_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,136},{99,134}}</string>
        <key>offset</key>
        <string>{-10,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,134}}</string>
        <key>sourceSize</key>
        <string>{99,134}</string>
      </dict>
      <key>monster_0116_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{100,134}}</string>
        <key>offset</key>
        <string>{-10,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,134}}</string>
        <key>sourceSize</key>
        <string>{100,134}</string>
      </dict>
      <key>monster_0116_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,136},{131,126}}</string>
        <key>offset</key>
        <string>{-26,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,126}}</string>
        <key>sourceSize</key>
        <string>{131,126}</string>
      </dict>
      <key>monster_0116_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,0},{131,127}}</string>
        <key>offset</key>
        <string>{-27,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,127}}</string>
        <key>sourceSize</key>
        <string>{131,127}</string>
      </dict>
      <key>monster_0116_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,121},{130,127}}</string>
        <key>offset</key>
        <string>{-27,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,127}}</string>
        <key>sourceSize</key>
        <string>{130,127}</string>
      </dict>
      <key>monster_0116_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,405},{131,127}}</string>
        <key>offset</key>
        <string>{-28,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,127}}</string>
        <key>sourceSize</key>
        <string>{131,127}</string>
      </dict>
      <key>monster_0116_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,269},{131,127}}</string>
        <key>offset</key>
        <string>{-28,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,127}}</string>
        <key>sourceSize</key>
        <string>{131,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0116_0_0.png</string>
      <key>size</key>
      <string>{958,769}</string>
      <key>textureFileName</key>
      <string>monster_0116_0_0.png</string>
    </dict>
  </dict>
</plist>