<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1001_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,337},{80,105}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,105}}</string>
        <key>sourceSize</key>
        <string>{80,105}</string>
      </dict>
      <key>monster_1001_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,444},{80,105}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,105}}</string>
        <key>sourceSize</key>
        <string>{80,105}</string>
      </dict>
      <key>monster_1001_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,337},{80,105}}</string>
        <key>offset</key>
        <string>{2,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,105}}</string>
        <key>sourceSize</key>
        <string>{80,105}</string>
      </dict>
      <key>monster_1001_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,550},{78,103}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,103}}</string>
        <key>sourceSize</key>
        <string>{78,103}</string>
      </dict>
      <key>monster_1001_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,551},{79,104}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,104}}</string>
        <key>sourceSize</key>
        <string>{79,104}</string>
      </dict>
      <key>monster_1001_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,113},{80,106}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,106}}</string>
        <key>sourceSize</key>
        <string>{80,106}</string>
      </dict>
      <key>monster_1001_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,257},{78,113}}</string>
        <key>offset</key>
        <string>{-1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,113}}</string>
        <key>sourceSize</key>
        <string>{78,113}</string>
      </dict>
      <key>monster_1001_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,114},{76,111}}</string>
        <key>offset</key>
        <string>{2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,111}}</string>
        <key>sourceSize</key>
        <string>{76,111}</string>
      </dict>
      <key>monster_1001_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,114},{75,111}}</string>
        <key>offset</key>
        <string>{3,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,111}}</string>
        <key>sourceSize</key>
        <string>{75,111}</string>
      </dict>
      <key>monster_1001_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,355},{79,110}}</string>
        <key>offset</key>
        <string>{-1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,110}}</string>
        <key>sourceSize</key>
        <string>{79,110}</string>
      </dict>
      <key>monster_1001_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{80,111}}</string>
        <key>offset</key>
        <string>{-3,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,111}}</string>
        <key>sourceSize</key>
        <string>{80,111}</string>
      </dict>
      <key>monster_1001_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,127},{80,112}}</string>
        <key>offset</key>
        <string>{-3,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,112}}</string>
        <key>sourceSize</key>
        <string>{80,112}</string>
      </dict>
      <key>monster_1001_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{112,94}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,94}}</string>
        <key>sourceSize</key>
        <string>{112,94}</string>
      </dict>
      <key>monster_1001_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,372},{112,92}}</string>
        <key>offset</key>
        <string>{-35,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,92}}</string>
        <key>sourceSize</key>
        <string>{112,92}</string>
      </dict>
      <key>monster_1001_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,486},{111,92}}</string>
        <key>offset</key>
        <string>{-33,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,92}}</string>
        <key>sourceSize</key>
        <string>{111,92}</string>
      </dict>
      <key>monster_1001_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,227},{108,91}}</string>
        <key>offset</key>
        <string>{-31,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,91}}</string>
        <key>sourceSize</key>
        <string>{108,91}</string>
      </dict>
      <key>monster_1001_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,467},{109,92}}</string>
        <key>offset</key>
        <string>{-32,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,92}}</string>
        <key>sourceSize</key>
        <string>{109,92}</string>
      </dict>
      <key>monster_1001_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,241},{112,93}}</string>
        <key>offset</key>
        <string>{-34,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,93}}</string>
        <key>sourceSize</key>
        <string>{112,93}</string>
      </dict>
      <key>monster_1001_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,129},{126,77}}</string>
        <key>offset</key>
        <string>{-50,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,77}}</string>
        <key>sourceSize</key>
        <string>{126,77}</string>
      </dict>
      <key>monster_1001_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{125,72}}</string>
        <key>offset</key>
        <string>{-49,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,72}}</string>
        <key>sourceSize</key>
        <string>{125,72}</string>
      </dict>
      <key>monster_1001_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{124,70}}</string>
        <key>offset</key>
        <string>{-48,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,70}}</string>
        <key>sourceSize</key>
        <string>{124,70}</string>
      </dict>
      <key>monster_1001_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{121,73}}</string>
        <key>offset</key>
        <string>{-45,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,73}}</string>
        <key>sourceSize</key>
        <string>{121,73}</string>
      </dict>
      <key>monster_1001_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{122,70}}</string>
        <key>offset</key>
        <string>{-46,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,70}}</string>
        <key>sourceSize</key>
        <string>{122,70}</string>
      </dict>
      <key>monster_1001_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{127,72}}</string>
        <key>offset</key>
        <string>{-49,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,72}}</string>
        <key>sourceSize</key>
        <string>{127,72}</string>
      </dict>
      <key>monster_1001_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,211},{94,73}}</string>
        <key>offset</key>
        <string>{-23,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,73}}</string>
        <key>sourceSize</key>
        <string>{94,73}</string>
      </dict>
      <key>monster_1001_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,0},{93,68}}</string>
        <key>offset</key>
        <string>{-22,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,68}}</string>
        <key>sourceSize</key>
        <string>{93,68}</string>
      </dict>
      <key>monster_1001_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,95},{93,69}}</string>
        <key>offset</key>
        <string>{-22,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,69}}</string>
        <key>sourceSize</key>
        <string>{93,69}</string>
      </dict>
      <key>monster_1001_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,427},{91,73}}</string>
        <key>offset</key>
        <string>{-20,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,73}}</string>
        <key>sourceSize</key>
        <string>{91,73}</string>
      </dict>
      <key>monster_1001_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,190},{93,68}}</string>
        <key>offset</key>
        <string>{-21,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,68}}</string>
        <key>sourceSize</key>
        <string>{93,68}</string>
      </dict>
      <key>monster_1001_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,103},{94,68}}</string>
        <key>offset</key>
        <string>{-22,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,68}}</string>
        <key>sourceSize</key>
        <string>{94,68}</string>
      </dict>
      <key>monster_1001_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,630},{58,73}}</string>
        <key>offset</key>
        <string>{0,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,73}}</string>
        <key>sourceSize</key>
        <string>{58,73}</string>
      </dict>
      <key>monster_1001_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,630},{57,71}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,71}}</string>
        <key>sourceSize</key>
        <string>{57,71}</string>
      </dict>
      <key>monster_1001_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,632},{59,73}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,73}}</string>
        <key>sourceSize</key>
        <string>{59,73}</string>
      </dict>
      <key>monster_1001_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,0},{61,78}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,78}}</string>
        <key>sourceSize</key>
        <string>{61,78}</string>
      </dict>
      <key>monster_1001_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,630},{58,72}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,72}}</string>
        <key>sourceSize</key>
        <string>{58,72}</string>
      </dict>
      <key>monster_1001_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,469},{56,70}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,70}}</string>
        <key>sourceSize</key>
        <string>{56,70}</string>
      </dict>
      <key>monster_1001_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,520},{90,78}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,78}}</string>
        <key>sourceSize</key>
        <string>{90,78}</string>
      </dict>
      <key>monster_1001_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,285},{90,78}}</string>
        <key>offset</key>
        <string>{1,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,78}}</string>
        <key>sourceSize</key>
        <string>{90,78}</string>
      </dict>
      <key>monster_1001_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,377},{90,78}}</string>
        <key>offset</key>
        <string>{1,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,78}}</string>
        <key>sourceSize</key>
        <string>{90,78}</string>
      </dict>
      <key>monster_1001_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,599},{88,77}}</string>
        <key>offset</key>
        <string>{0,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,77}}</string>
        <key>sourceSize</key>
        <string>{88,77}</string>
      </dict>
      <key>monster_1001_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,632},{87,77}}</string>
        <key>offset</key>
        <string>{1,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,77}}</string>
        <key>sourceSize</key>
        <string>{87,77}</string>
      </dict>
      <key>monster_1001_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,599},{90,78}}</string>
        <key>offset</key>
        <string>{1,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,78}}</string>
        <key>sourceSize</key>
        <string>{90,78}</string>
      </dict>
      <key>monster_1001_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{106,90}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,90}}</string>
        <key>sourceSize</key>
        <string>{106,90}</string>
      </dict>
      <key>monster_1001_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,221},{103,87}}</string>
        <key>offset</key>
        <string>{3,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,87}}</string>
        <key>sourceSize</key>
        <string>{103,87}</string>
      </dict>
      <key>monster_1001_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,108},{101,88}}</string>
        <key>offset</key>
        <string>{5,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,88}}</string>
        <key>sourceSize</key>
        <string>{101,88}</string>
      </dict>
      <key>monster_1001_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{101,89}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,89}}</string>
        <key>sourceSize</key>
        <string>{101,89}</string>
      </dict>
      <key>monster_1001_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,326},{99,91}}</string>
        <key>offset</key>
        <string>{4,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,91}}</string>
        <key>sourceSize</key>
        <string>{99,91}</string>
      </dict>
      <key>monster_1001_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,444},{104,91}}</string>
        <key>offset</key>
        <string>{2,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,91}}</string>
        <key>sourceSize</key>
        <string>{104,91}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1001_0_1.png</string>
      <key>size</key>
      <string>{642,717}</string>
      <key>textureFileName</key>
      <string>monster_1001_0_1.png</string>
    </dict>
  </dict>
</plist>