<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0221_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,391},{106,101}}</string>
        <key>offset</key>
        <string>{-10,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,101}}</string>
        <key>sourceSize</key>
        <string>{106,101}</string>
      </dict>
      <key>monster_0221_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,198},{92,112}}</string>
        <key>offset</key>
        <string>{-6,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,112}}</string>
        <key>sourceSize</key>
        <string>{92,112}</string>
      </dict>
      <key>monster_0221_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,292},{97,110}}</string>
        <key>offset</key>
        <string>{-7,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,110}}</string>
        <key>sourceSize</key>
        <string>{97,110}</string>
      </dict>
      <key>monster_0221_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,196},{91,105}}</string>
        <key>offset</key>
        <string>{11,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,105}}</string>
        <key>sourceSize</key>
        <string>{91,105}</string>
      </dict>
      <key>monster_0221_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,124},{86,116}}</string>
        <key>offset</key>
        <string>{7,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,116}}</string>
        <key>sourceSize</key>
        <string>{86,116}</string>
      </dict>
      <key>monster_0221_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{91,116}}</string>
        <key>offset</key>
        <string>{17,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,116}}</string>
        <key>sourceSize</key>
        <string>{91,116}</string>
      </dict>
      <key>monster_0221_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,391},{101,109}}</string>
        <key>offset</key>
        <string>{8,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,109}}</string>
        <key>sourceSize</key>
        <string>{101,109}</string>
      </dict>
      <key>monster_0221_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{160,103}}</string>
        <key>offset</key>
        <string>{-22,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,103}}</string>
        <key>sourceSize</key>
        <string>{160,103}</string>
      </dict>
      <key>monster_0221_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{161,105}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,105}}</string>
        <key>sourceSize</key>
        <string>{161,105}</string>
      </dict>
      <key>monster_0221_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,0},{101,100}}</string>
        <key>offset</key>
        <string>{2,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,100}}</string>
        <key>sourceSize</key>
        <string>{101,100}</string>
      </dict>
      <key>monster_0221_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{165,104}}</string>
        <key>offset</key>
        <string>{-29,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,104}}</string>
        <key>sourceSize</key>
        <string>{165,104}</string>
      </dict>
      <key>monster_0221_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{168,94}}</string>
        <key>offset</key>
        <string>{-14,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,94}}</string>
        <key>sourceSize</key>
        <string>{168,94}</string>
      </dict>
      <key>monster_0221_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,198},{113,102}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,102}}</string>
        <key>sourceSize</key>
        <string>{113,102}</string>
      </dict>
      <key>monster_0221_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,274},{111,121}}</string>
        <key>offset</key>
        <string>{-10,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,121}}</string>
        <key>sourceSize</key>
        <string>{111,121}</string>
      </dict>
      <key>monster_0221_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,148},{109,124}}</string>
        <key>offset</key>
        <string>{-9,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,124}}</string>
        <key>sourceSize</key>
        <string>{109,124}</string>
      </dict>
      <key>monster_0221_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,102},{94,115}}</string>
        <key>offset</key>
        <string>{-16,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,115}}</string>
        <key>sourceSize</key>
        <string>{94,115}</string>
      </dict>
      <key>monster_0221_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,397},{95,119}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,119}}</string>
        <key>sourceSize</key>
        <string>{95,119}</string>
      </dict>
      <key>monster_0221_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{91,122}}</string>
        <key>offset</key>
        <string>{-19,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,122}}</string>
        <key>sourceSize</key>
        <string>{91,122}</string>
      </dict>
      <key>monster_0221_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,102},{92,106}}</string>
        <key>offset</key>
        <string>{-24,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,106}}</string>
        <key>sourceSize</key>
        <string>{92,106}</string>
      </dict>
      <key>monster_0221_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{146,100}}</string>
        <key>offset</key>
        <string>{-46,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,100}}</string>
        <key>sourceSize</key>
        <string>{146,100}</string>
      </dict>
      <key>monster_0221_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,313},{142,105}}</string>
        <key>offset</key>
        <string>{-65,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,105}}</string>
        <key>sourceSize</key>
        <string>{142,105}</string>
      </dict>
      <key>monster_0221_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,0},{116,100}}</string>
        <key>offset</key>
        <string>{-33,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,100}}</string>
        <key>sourceSize</key>
        <string>{116,100}</string>
      </dict>
      <key>monster_0221_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,337},{149,88}}</string>
        <key>offset</key>
        <string>{-44,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,88}}</string>
        <key>sourceSize</key>
        <string>{149,88}</string>
      </dict>
      <key>monster_0221_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,163},{148,102}}</string>
        <key>offset</key>
        <string>{-58,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,102}}</string>
        <key>sourceSize</key>
        <string>{148,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0221_0_7.png</string>
      <key>size</key>
      <string>{732,514}</string>
      <key>textureFileName</key>
      <string>monster_0221_0_7.png</string>
    </dict>
  </dict>
</plist>