<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0200_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,82},{61,77}}</string>
        <key>offset</key>
        <string>{4,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,77}}</string>
        <key>sourceSize</key>
        <string>{61,77}</string>
      </dict>
      <key>monster_0200_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,0},{60,74}}</string>
        <key>offset</key>
        <string>{5,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,74}}</string>
        <key>sourceSize</key>
        <string>{60,74}</string>
      </dict>
      <key>monster_0200_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{58,72}}</string>
        <key>offset</key>
        <string>{8,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,72}}</string>
        <key>sourceSize</key>
        <string>{58,72}</string>
      </dict>
      <key>monster_0200_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{59,79}}</string>
        <key>offset</key>
        <string>{9,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,79}}</string>
        <key>sourceSize</key>
        <string>{59,79}</string>
      </dict>
      <key>monster_0200_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{54,77}}</string>
        <key>offset</key>
        <string>{8,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,77}}</string>
        <key>sourceSize</key>
        <string>{54,77}</string>
      </dict>
      <key>monster_0200_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,156},{55,74}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,74}}</string>
        <key>sourceSize</key>
        <string>{55,74}</string>
      </dict>
      <key>monster_0200_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{59,79}}</string>
        <key>offset</key>
        <string>{8,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,79}}</string>
        <key>sourceSize</key>
        <string>{59,79}</string>
      </dict>
      <key>monster_0200_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,161},{61,76}}</string>
        <key>offset</key>
        <string>{6,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,76}}</string>
        <key>sourceSize</key>
        <string>{61,76}</string>
      </dict>
      <key>monster_0200_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,169},{64,78}}</string>
        <key>offset</key>
        <string>{8,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,78}}</string>
        <key>sourceSize</key>
        <string>{64,78}</string>
      </dict>
      <key>monster_0200_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,0},{61,80}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,80}}</string>
        <key>sourceSize</key>
        <string>{61,80}</string>
      </dict>
      <key>monster_0200_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,250},{59,79}}</string>
        <key>offset</key>
        <string>{4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,79}}</string>
        <key>sourceSize</key>
        <string>{59,79}</string>
      </dict>
      <key>monster_0200_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,60},{67,72}}</string>
        <key>offset</key>
        <string>{1,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,72}}</string>
        <key>sourceSize</key>
        <string>{67,72}</string>
      </dict>
      <key>monster_0200_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{60,73}}</string>
        <key>offset</key>
        <string>{4,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,73}}</string>
        <key>sourceSize</key>
        <string>{60,73}</string>
      </dict>
      <key>monster_0200_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{55,84}}</string>
        <key>offset</key>
        <string>{8,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,84}}</string>
        <key>sourceSize</key>
        <string>{55,84}</string>
      </dict>
      <key>monster_0200_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,232},{71,71}}</string>
        <key>offset</key>
        <string>{-6,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>monster_0200_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,79},{64,75}}</string>
        <key>offset</key>
        <string>{-6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>monster_0200_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{67,81}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,81}}</string>
        <key>sourceSize</key>
        <string>{67,81}</string>
      </dict>
      <key>monster_0200_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,76},{60,74}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,74}}</string>
        <key>sourceSize</key>
        <string>{60,74}</string>
      </dict>
      <key>monster_0200_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,328},{52,76}}</string>
        <key>offset</key>
        <string>{0,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,76}}</string>
        <key>sourceSize</key>
        <string>{52,76}</string>
      </dict>
      <key>monster_0200_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,249},{75,77}}</string>
        <key>offset</key>
        <string>{-12,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,77}}</string>
        <key>sourceSize</key>
        <string>{75,77}</string>
      </dict>
      <key>monster_0200_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,305},{56,70}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,70}}</string>
        <key>sourceSize</key>
        <string>{56,70}</string>
      </dict>
      <key>monster_0200_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,331},{51,73}}</string>
        <key>offset</key>
        <string>{6,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,73}}</string>
        <key>sourceSize</key>
        <string>{51,73}</string>
      </dict>
      <key>monster_0200_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,305},{65,71}}</string>
        <key>offset</key>
        <string>{1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,71}}</string>
        <key>sourceSize</key>
        <string>{65,71}</string>
      </dict>
      <key>monster_0200_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,129},{52,65}}</string>
        <key>offset</key>
        <string>{7,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,65}}</string>
        <key>sourceSize</key>
        <string>{52,65}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0200_0_7.png</string>
      <key>size</key>
      <string>{384,384}</string>
      <key>textureFileName</key>
      <string>monster_0200_0_7.png</string>
    </dict>
  </dict>
</plist>