<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0471_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,506},{118,124}}</string>
        <key>offset</key>
        <string>{-26,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,124}}</string>
        <key>sourceSize</key>
        <string>{118,124}</string>
      </dict>
      <key>monster_0471_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,614},{112,144}}</string>
        <key>offset</key>
        <string>{-20,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,144}}</string>
        <key>sourceSize</key>
        <string>{112,144}</string>
      </dict>
      <key>monster_0471_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,466},{146,144}}</string>
        <key>offset</key>
        <string>{-24,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,144}}</string>
        <key>sourceSize</key>
        <string>{146,144}</string>
      </dict>
      <key>monster_0471_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,691},{125,154}}</string>
        <key>offset</key>
        <string>{-25,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,154}}</string>
        <key>sourceSize</key>
        <string>{125,154}</string>
      </dict>
      <key>monster_0471_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1086,0},{123,123}}</string>
        <key>offset</key>
        <string>{-27,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,123}}</string>
        <key>sourceSize</key>
        <string>{123,123}</string>
      </dict>
      <key>monster_0471_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,380},{124,125}}</string>
        <key>offset</key>
        <string>{-28,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,125}}</string>
        <key>sourceSize</key>
        <string>{124,125}</string>
      </dict>
      <key>monster_0471_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,311},{145,136}}</string>
        <key>offset</key>
        <string>{-48,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,136}}</string>
        <key>sourceSize</key>
        <string>{145,136}</string>
      </dict>
      <key>monster_0471_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,475},{151,147}}</string>
        <key>offset</key>
        <string>{-47,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,147}}</string>
        <key>sourceSize</key>
        <string>{151,147}</string>
      </dict>
      <key>monster_0471_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,563},{137,131}}</string>
        <key>offset</key>
        <string>{-36,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,131}}</string>
        <key>sourceSize</key>
        <string>{137,131}</string>
      </dict>
      <key>monster_0471_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,314},{148,150}}</string>
        <key>offset</key>
        <string>{-19,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,150}}</string>
        <key>sourceSize</key>
        <string>{148,150}</string>
      </dict>
      <key>monster_0471_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,0},{129,137}}</string>
        <key>offset</key>
        <string>{-24,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,137}}</string>
        <key>sourceSize</key>
        <string>{129,137}</string>
      </dict>
      <key>monster_0471_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,280},{143,140}}</string>
        <key>offset</key>
        <string>{-33,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,140}}</string>
        <key>sourceSize</key>
        <string>{143,140}</string>
      </dict>
      <key>monster_0471_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,809},{127,121}}</string>
        <key>offset</key>
        <string>{-31,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,121}}</string>
        <key>sourceSize</key>
        <string>{127,121}</string>
      </dict>
      <key>monster_0471_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,159},{150,150}}</string>
        <key>offset</key>
        <string>{-42,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,150}}</string>
        <key>sourceSize</key>
        <string>{150,150}</string>
      </dict>
      <key>monster_0471_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,759},{135,142}}</string>
        <key>offset</key>
        <string>{-39,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,142}}</string>
        <key>sourceSize</key>
        <string>{135,142}</string>
      </dict>
      <key>monster_0471_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{181,131}}</string>
        <key>offset</key>
        <string>{-14,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,131}}</string>
        <key>sourceSize</key>
        <string>{181,131}</string>
      </dict>
      <key>monster_0471_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,367},{162,131}}</string>
        <key>offset</key>
        <string>{-14,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,131}}</string>
        <key>sourceSize</key>
        <string>{162,131}</string>
      </dict>
      <key>monster_0471_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,531},{158,131}}</string>
        <key>offset</key>
        <string>{-30,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,131}}</string>
        <key>sourceSize</key>
        <string>{158,131}</string>
      </dict>
      <key>monster_0471_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,159},{153,121}}</string>
        <key>offset</key>
        <string>{-45,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,121}}</string>
        <key>sourceSize</key>
        <string>{153,121}</string>
      </dict>
      <key>monster_0471_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,0},{132,149}}</string>
        <key>offset</key>
        <string>{-32,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,149}}</string>
        <key>sourceSize</key>
        <string>{132,149}</string>
      </dict>
      <key>monster_0471_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,422},{139,142}}</string>
        <key>offset</key>
        <string>{-32,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,142}}</string>
        <key>sourceSize</key>
        <string>{139,142}</string>
      </dict>
      <key>monster_0471_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{182,126}}</string>
        <key>offset</key>
        <string>{-38,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,126}}</string>
        <key>sourceSize</key>
        <string>{182,126}</string>
      </dict>
      <key>monster_0471_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,367},{174,129}}</string>
        <key>offset</key>
        <string>{-42,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,129}}</string>
        <key>sourceSize</key>
        <string>{174,129}</string>
      </dict>
      <key>monster_0471_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,708},{162,123}}</string>
        <key>offset</key>
        <string>{-56,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,123}}</string>
        <key>sourceSize</key>
        <string>{162,123}</string>
      </dict>
      <key>monster_0471_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,252},{126,116}}</string>
        <key>offset</key>
        <string>{-21,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,116}}</string>
        <key>sourceSize</key>
        <string>{126,116}</string>
      </dict>
      <key>monster_0471_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,498},{113,154}}</string>
        <key>offset</key>
        <string>{-22,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,154}}</string>
        <key>sourceSize</key>
        <string>{113,154}</string>
      </dict>
      <key>monster_0471_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,160},{139,157}}</string>
        <key>offset</key>
        <string>{-35,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,157}}</string>
        <key>sourceSize</key>
        <string>{139,157}</string>
      </dict>
      <key>monster_0471_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,143},{147,135}}</string>
        <key>offset</key>
        <string>{-40,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,135}}</string>
        <key>sourceSize</key>
        <string>{147,135}</string>
      </dict>
      <key>monster_0471_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,0},{148,141}}</string>
        <key>offset</key>
        <string>{-38,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,141}}</string>
        <key>sourceSize</key>
        <string>{148,141}</string>
      </dict>
      <key>monster_0471_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,628},{147,125}}</string>
        <key>offset</key>
        <string>{-36,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,125}}</string>
        <key>sourceSize</key>
        <string>{147,125}</string>
      </dict>
      <key>monster_0471_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,821},{126,118}}</string>
        <key>offset</key>
        <string>{-29,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,118}}</string>
        <key>sourceSize</key>
        <string>{126,118}</string>
      </dict>
      <key>monster_0471_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,319},{129,154}}</string>
        <key>offset</key>
        <string>{-19,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,154}}</string>
        <key>sourceSize</key>
        <string>{129,154}</string>
      </dict>
      <key>monster_0471_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,714},{120,167}}</string>
        <key>offset</key>
        <string>{-13,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,167}}</string>
        <key>sourceSize</key>
        <string>{120,167}</string>
      </dict>
      <key>monster_0471_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,0},{150,116}}</string>
        <key>offset</key>
        <string>{-49,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,116}}</string>
        <key>sourceSize</key>
        <string>{150,116}</string>
      </dict>
      <key>monster_0471_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,131},{136,119}}</string>
        <key>offset</key>
        <string>{-37,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,119}}</string>
        <key>sourceSize</key>
        <string>{136,119}</string>
      </dict>
      <key>monster_0471_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,760},{143,108}}</string>
        <key>offset</key>
        <string>{-43,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,108}}</string>
        <key>sourceSize</key>
        <string>{143,108}</string>
      </dict>
      <key>monster_0471_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,458},{105,123}}</string>
        <key>offset</key>
        <string>{-23,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,123}}</string>
        <key>sourceSize</key>
        <string>{105,123}</string>
      </dict>
      <key>monster_0471_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{157,147}}</string>
        <key>offset</key>
        <string>{-26,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,147}}</string>
        <key>sourceSize</key>
        <string>{157,147}</string>
      </dict>
      <key>monster_0471_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,178},{140,158}}</string>
        <key>offset</key>
        <string>{-16,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,158}}</string>
        <key>sourceSize</key>
        <string>{140,158}</string>
      </dict>
      <key>monster_0471_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{176,109}}</string>
        <key>offset</key>
        <string>{-86,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,109}}</string>
        <key>sourceSize</key>
        <string>{176,109}</string>
      </dict>
      <key>monster_0471_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,543},{169,104}}</string>
        <key>offset</key>
        <string>{-79,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,104}}</string>
        <key>sourceSize</key>
        <string>{169,104}</string>
      </dict>
      <key>monster_0471_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,777},{146,111}}</string>
        <key>offset</key>
        <string>{-57,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,111}}</string>
        <key>sourceSize</key>
        <string>{146,111}</string>
      </dict>
      <key>monster_0471_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,696},{123,132}}</string>
        <key>offset</key>
        <string>{-28,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,132}}</string>
        <key>sourceSize</key>
        <string>{123,132}</string>
      </dict>
      <key>monster_0471_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,654},{132,153}}</string>
        <key>offset</key>
        <string>{-12,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,153}}</string>
        <key>sourceSize</key>
        <string>{132,153}</string>
      </dict>
      <key>monster_0471_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{155,158}}</string>
        <key>offset</key>
        <string>{-23,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,158}}</string>
        <key>sourceSize</key>
        <string>{155,158}</string>
      </dict>
      <key>monster_0471_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,338},{158,138}}</string>
        <key>offset</key>
        <string>{-60,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,138}}</string>
        <key>sourceSize</key>
        <string>{158,138}</string>
      </dict>
      <key>monster_0471_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,543},{163,119}}</string>
        <key>offset</key>
        <string>{-62,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,119}}</string>
        <key>sourceSize</key>
        <string>{163,119}</string>
      </dict>
      <key>monster_0471_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,614},{143,126}}</string>
        <key>offset</key>
        <string>{-28,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,126}}</string>
        <key>sourceSize</key>
        <string>{143,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0471_0_2.png</string>
      <key>size</key>
      <string>{1212,959}</string>
      <key>textureFileName</key>
      <string>monster_0471_0_2.png</string>
    </dict>
  </dict>
</plist>