<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1014_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{273,233}}</string>
        <key>offset</key>
        <string>{-116,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,233}}</string>
        <key>sourceSize</key>
        <string>{273,233}</string>
      </dict>
      <key>monster_1014_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,275},{270,232}}</string>
        <key>offset</key>
        <string>{-111,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,232}}</string>
        <key>sourceSize</key>
        <string>{270,232}</string>
      </dict>
      <key>monster_1014_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,547},{267,230}}</string>
        <key>offset</key>
        <string>{-107,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,230}}</string>
        <key>sourceSize</key>
        <string>{267,230}</string>
      </dict>
      <key>monster_1014_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,0},{266,228}}</string>
        <key>offset</key>
        <string>{-107,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,228}}</string>
        <key>sourceSize</key>
        <string>{266,228}</string>
      </dict>
      <key>monster_1014_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,275},{267,228}}</string>
        <key>offset</key>
        <string>{-109,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,228}}</string>
        <key>sourceSize</key>
        <string>{267,228}</string>
      </dict>
      <key>monster_1014_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,547},{270,231}}</string>
        <key>offset</key>
        <string>{-112,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,231}}</string>
        <key>sourceSize</key>
        <string>{270,231}</string>
      </dict>
      <key>monster_1014_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,268},{228,238}}</string>
        <key>offset</key>
        <string>{-99,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,238}}</string>
        <key>sourceSize</key>
        <string>{228,238}</string>
      </dict>
      <key>monster_1014_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{232,237}}</string>
        <key>offset</key>
        <string>{-99,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,237}}</string>
        <key>sourceSize</key>
        <string>{232,237}</string>
      </dict>
      <key>monster_1014_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,239},{234,236}}</string>
        <key>offset</key>
        <string>{-98,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,236}}</string>
        <key>sourceSize</key>
        <string>{234,236}</string>
      </dict>
      <key>monster_1014_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,747},{235,235}}</string>
        <key>offset</key>
        <string>{-101,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,235}}</string>
        <key>sourceSize</key>
        <string>{235,235}</string>
      </dict>
      <key>monster_1014_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,0},{232,236}}</string>
        <key>offset</key>
        <string>{-102,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,236}}</string>
        <key>sourceSize</key>
        <string>{232,236}</string>
      </dict>
      <key>monster_1014_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,508},{230,237}}</string>
        <key>offset</key>
        <string>{-101,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,237}}</string>
        <key>sourceSize</key>
        <string>{230,237}</string>
      </dict>
      <key>monster_1014_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,819},{195,210}}</string>
        <key>offset</key>
        <string>{-42,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,210}}</string>
        <key>sourceSize</key>
        <string>{195,210}</string>
      </dict>
      <key>monster_1014_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,689},{196,209}}</string>
        <key>offset</key>
        <string>{-43,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,209}}</string>
        <key>sourceSize</key>
        <string>{196,209}</string>
      </dict>
      <key>monster_1014_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,687},{199,207}}</string>
        <key>offset</key>
        <string>{-45,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,207}}</string>
        <key>sourceSize</key>
        <string>{199,207}</string>
      </dict>
      <key>monster_1014_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,477},{196,208}}</string>
        <key>offset</key>
        <string>{-47,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,208}}</string>
        <key>sourceSize</key>
        <string>{196,208}</string>
      </dict>
      <key>monster_1014_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,819},{193,210}}</string>
        <key>offset</key>
        <string>{-46,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,210}}</string>
        <key>sourceSize</key>
        <string>{193,210}</string>
      </dict>
      <key>monster_1014_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,477},{193,210}}</string>
        <key>offset</key>
        <string>{-44,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,210}}</string>
        <key>sourceSize</key>
        <string>{193,210}</string>
      </dict>
      <key>monster_1014_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,420},{206,177}}</string>
        <key>offset</key>
        <string>{-52,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,177}}</string>
        <key>sourceSize</key>
        <string>{206,177}</string>
      </dict>
      <key>monster_1014_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,0},{208,176}}</string>
        <key>offset</key>
        <string>{-53,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,176}}</string>
        <key>sourceSize</key>
        <string>{208,176}</string>
      </dict>
      <key>monster_1014_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,210},{208,175}}</string>
        <key>offset</key>
        <string>{-53,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,175}}</string>
        <key>sourceSize</key>
        <string>{208,175}</string>
      </dict>
      <key>monster_1014_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,628},{206,177}}</string>
        <key>offset</key>
        <string>{-53,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,177}}</string>
        <key>sourceSize</key>
        <string>{206,177}</string>
      </dict>
      <key>monster_1014_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,900},{206,179}}</string>
        <key>offset</key>
        <string>{-54,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,179}}</string>
        <key>sourceSize</key>
        <string>{206,179}</string>
      </dict>
      <key>monster_1014_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,836},{205,177}}</string>
        <key>offset</key>
        <string>{-53,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,177}}</string>
        <key>sourceSize</key>
        <string>{205,177}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1014_0_0_1.png</string>
      <key>size</key>
      <string>{1281,1112}</string>
      <key>textureFileName</key>
      <string>monster_1014_0_0_1.png</string>
    </dict>
  </dict>
</plist>