<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0164_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,407},{106,119}}</string>
        <key>offset</key>
        <string>{-25,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,119}}</string>
        <key>sourceSize</key>
        <string>{106,119}</string>
      </dict>
      <key>monster_0164_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,348},{102,125}}</string>
        <key>offset</key>
        <string>{-22,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,125}}</string>
        <key>sourceSize</key>
        <string>{102,125}</string>
      </dict>
      <key>monster_0164_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,217},{113,129}}</string>
        <key>offset</key>
        <string>{-19,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,129}}</string>
        <key>sourceSize</key>
        <string>{113,129}</string>
      </dict>
      <key>monster_0164_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,0},{149,128}}</string>
        <key>offset</key>
        <string>{-23,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,128}}</string>
        <key>sourceSize</key>
        <string>{149,128}</string>
      </dict>
      <key>monster_0164_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,152},{77,128}}</string>
        <key>offset</key>
        <string>{-3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,128}}</string>
        <key>sourceSize</key>
        <string>{77,128}</string>
      </dict>
      <key>monster_0164_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,452},{85,123}}</string>
        <key>offset</key>
        <string>{-9,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,123}}</string>
        <key>sourceSize</key>
        <string>{85,123}</string>
      </dict>
      <key>monster_0164_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,176},{172,101}}</string>
        <key>offset</key>
        <string>{-31,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,101}}</string>
        <key>sourceSize</key>
        <string>{172,101}</string>
      </dict>
      <key>monster_0164_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,630},{169,110}}</string>
        <key>offset</key>
        <string>{-33,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,110}}</string>
        <key>sourceSize</key>
        <string>{169,110}</string>
      </dict>
      <key>monster_0164_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{172,127}}</string>
        <key>offset</key>
        <string>{-32,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,127}}</string>
        <key>sourceSize</key>
        <string>{172,127}</string>
      </dict>
      <key>monster_0164_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,0},{163,117}}</string>
        <key>offset</key>
        <string>{-27,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,117}}</string>
        <key>sourceSize</key>
        <string>{163,117}</string>
      </dict>
      <key>monster_0164_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,0},{170,119}}</string>
        <key>offset</key>
        <string>{-39,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,119}}</string>
        <key>sourceSize</key>
        <string>{170,119}</string>
      </dict>
      <key>monster_0164_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,350},{172,110}}</string>
        <key>offset</key>
        <string>{-37,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,110}}</string>
        <key>sourceSize</key>
        <string>{172,110}</string>
      </dict>
      <key>monster_0164_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,634},{182,72}}</string>
        <key>offset</key>
        <string>{-37,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,72}}</string>
        <key>sourceSize</key>
        <string>{182,72}</string>
      </dict>
      <key>monster_0164_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{186,76}}</string>
        <key>offset</key>
        <string>{-38,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,76}}</string>
        <key>sourceSize</key>
        <string>{186,76}</string>
      </dict>
      <key>monster_0164_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{174,103}}</string>
        <key>offset</key>
        <string>{-39,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,103}}</string>
        <key>sourceSize</key>
        <string>{174,103}</string>
      </dict>
      <key>monster_0164_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,367},{174,121}}</string>
        <key>offset</key>
        <string>{-45,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,121}}</string>
        <key>sourceSize</key>
        <string>{174,121}</string>
      </dict>
      <key>monster_0164_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{215,77}}</string>
        <key>offset</key>
        <string>{-48,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,77}}</string>
        <key>sourceSize</key>
        <string>{215,77}</string>
      </dict>
      <key>monster_0164_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,431},{201,73}}</string>
        <key>offset</key>
        <string>{-43,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,73}}</string>
        <key>sourceSize</key>
        <string>{201,73}</string>
      </dict>
      <key>monster_0164_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,783},{161,103}}</string>
        <key>offset</key>
        <string>{-21,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,103}}</string>
        <key>sourceSize</key>
        <string>{161,103}</string>
      </dict>
      <key>monster_0164_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,172},{165,103}}</string>
        <key>offset</key>
        <string>{-21,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,103}}</string>
        <key>sourceSize</key>
        <string>{165,103}</string>
      </dict>
      <key>monster_0164_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,619},{162,99}}</string>
        <key>offset</key>
        <string>{-26,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,99}}</string>
        <key>sourceSize</key>
        <string>{162,99}</string>
      </dict>
      <key>monster_0164_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,771},{141,115}}</string>
        <key>offset</key>
        <string>{-40,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,115}}</string>
        <key>sourceSize</key>
        <string>{141,115}</string>
      </dict>
      <key>monster_0164_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,634},{182,92}}</string>
        <key>offset</key>
        <string>{-52,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,92}}</string>
        <key>sourceSize</key>
        <string>{182,92}</string>
      </dict>
      <key>monster_0164_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,801},{168,93}}</string>
        <key>offset</key>
        <string>{-37,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,93}}</string>
        <key>sourceSize</key>
        <string>{168,93}</string>
      </dict>
      <key>monster_0164_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,888},{103,99}}</string>
        <key>offset</key>
        <string>{-22,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,99}}</string>
        <key>sourceSize</key>
        <string>{103,99}</string>
      </dict>
      <key>monster_0164_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,892},{105,99}}</string>
        <key>offset</key>
        <string>{-21,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,99}}</string>
        <key>sourceSize</key>
        <string>{105,99}</string>
      </dict>
      <key>monster_0164_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,749},{128,87}}</string>
        <key>offset</key>
        <string>{-32,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,87}}</string>
        <key>sourceSize</key>
        <string>{128,87}</string>
      </dict>
      <key>monster_0164_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,339},{159,95}}</string>
        <key>offset</key>
        <string>{-57,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,95}}</string>
        <key>sourceSize</key>
        <string>{159,95}</string>
      </dict>
      <key>monster_0164_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,539},{88,118}}</string>
        <key>offset</key>
        <string>{-28,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,118}}</string>
        <key>sourceSize</key>
        <string>{88,118}</string>
      </dict>
      <key>monster_0164_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,629},{83,109}}</string>
        <key>offset</key>
        <string>{-14,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,109}}</string>
        <key>sourceSize</key>
        <string>{83,109}</string>
      </dict>
      <key>monster_0164_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,543},{173,85}}</string>
        <key>offset</key>
        <string>{-84,-11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,85}}</string>
        <key>sourceSize</key>
        <string>{173,85}</string>
      </dict>
      <key>monster_0164_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,630},{170,80}}</string>
        <key>offset</key>
        <string>{-80,-11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,80}}</string>
        <key>sourceSize</key>
        <string>{170,80}</string>
      </dict>
      <key>monster_0164_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,818},{166,72}}</string>
        <key>offset</key>
        <string>{-79,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,72}}</string>
        <key>sourceSize</key>
        <string>{166,72}</string>
      </dict>
      <key>monster_0164_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,130},{149,85}}</string>
        <key>offset</key>
        <string>{-66,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,85}}</string>
        <key>sourceSize</key>
        <string>{149,85}</string>
      </dict>
      <key>monster_0164_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,524},{168,93}}</string>
        <key>offset</key>
        <string>{-78,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,93}}</string>
        <key>sourceSize</key>
        <string>{168,93}</string>
      </dict>
      <key>monster_0164_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,348},{168,86}}</string>
        <key>offset</key>
        <string>{-77,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,86}}</string>
        <key>sourceSize</key>
        <string>{168,86}</string>
      </dict>
      <key>monster_0164_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,415},{177,79}}</string>
        <key>offset</key>
        <string>{-88,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,79}}</string>
        <key>sourceSize</key>
        <string>{177,79}</string>
      </dict>
      <key>monster_0164_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,188},{177,82}}</string>
        <key>offset</key>
        <string>{-87,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,82}}</string>
        <key>sourceSize</key>
        <string>{177,82}</string>
      </dict>
      <key>monster_0164_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,619},{160,83}}</string>
        <key>offset</key>
        <string>{-70,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,83}}</string>
        <key>sourceSize</key>
        <string>{160,83}</string>
      </dict>
      <key>monster_0164_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,612},{157,103}}</string>
        <key>offset</key>
        <string>{-61,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,103}}</string>
        <key>sourceSize</key>
        <string>{157,103}</string>
      </dict>
      <key>monster_0164_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,217},{212,60}}</string>
        <key>offset</key>
        <string>{-113,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,60}}</string>
        <key>sourceSize</key>
        <string>{212,60}</string>
      </dict>
      <key>monster_0164_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,217},{196,71}}</string>
        <key>offset</key>
        <string>{-101,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,71}}</string>
        <key>sourceSize</key>
        <string>{196,71}</string>
      </dict>
      <key>monster_0164_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,165},{155,105}}</string>
        <key>offset</key>
        <string>{-84,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,105}}</string>
        <key>sourceSize</key>
        <string>{155,105}</string>
      </dict>
      <key>monster_0164_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,0},{150,110}}</string>
        <key>offset</key>
        <string>{-80,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,110}}</string>
        <key>sourceSize</key>
        <string>{150,110}</string>
      </dict>
      <key>monster_0164_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,612},{135,114}}</string>
        <key>offset</key>
        <string>{-60,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,114}}</string>
        <key>sourceSize</key>
        <string>{135,114}</string>
      </dict>
      <key>monster_0164_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,282},{123,119}}</string>
        <key>offset</key>
        <string>{-32,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,119}}</string>
        <key>sourceSize</key>
        <string>{123,119}</string>
      </dict>
      <key>monster_0164_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,174},{172,110}}</string>
        <key>offset</key>
        <string>{-73,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,110}}</string>
        <key>sourceSize</key>
        <string>{172,110}</string>
      </dict>
      <key>monster_0164_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,500},{158,110}}</string>
        <key>offset</key>
        <string>{-73,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,110}}</string>
        <key>sourceSize</key>
        <string>{158,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0164_0_2.png</string>
      <key>size</key>
      <string>{898,994}</string>
      <key>textureFileName</key>
      <string>monster_0164_0_2.png</string>
    </dict>
  </dict>
</plist>