<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0652_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,498},{246,224}}</string>
        <key>offset</key>
        <string>{-68,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,224}}</string>
        <key>sourceSize</key>
        <string>{246,224}</string>
      </dict>
      <key>monster_0652_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{247,225}}</string>
        <key>offset</key>
        <string>{-68,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,225}}</string>
        <key>sourceSize</key>
        <string>{247,225}</string>
      </dict>
      <key>monster_0652_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,249},{245,224}}</string>
        <key>offset</key>
        <string>{-68,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,224}}</string>
        <key>sourceSize</key>
        <string>{245,224}</string>
      </dict>
      <key>monster_0652_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,222},{242,225}}</string>
        <key>offset</key>
        <string>{-68,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,225}}</string>
        <key>sourceSize</key>
        <string>{242,225}</string>
      </dict>
      <key>monster_0652_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{243,225}}</string>
        <key>offset</key>
        <string>{-69,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,225}}</string>
        <key>sourceSize</key>
        <string>{243,225}</string>
      </dict>
      <key>monster_0652_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,249},{247,226}}</string>
        <key>offset</key>
        <string>{-70,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,226}}</string>
        <key>sourceSize</key>
        <string>{247,226}</string>
      </dict>
      <key>monster_0652_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,498},{246,223}}</string>
        <key>offset</key>
        <string>{-70,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,223}}</string>
        <key>sourceSize</key>
        <string>{246,223}</string>
      </dict>
      <key>monster_0652_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{247,223}}</string>
        <key>offset</key>
        <string>{-69,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,223}}</string>
        <key>sourceSize</key>
        <string>{247,223}</string>
      </dict>
      <key>monster_0652_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,489},{241,217}}</string>
        <key>offset</key>
        <string>{-78,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,217}}</string>
        <key>sourceSize</key>
        <string>{241,217}</string>
      </dict>
      <key>monster_0652_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,245},{242,219}}</string>
        <key>offset</key>
        <string>{-78,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,219}}</string>
        <key>sourceSize</key>
        <string>{242,219}</string>
      </dict>
      <key>monster_0652_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,0},{243,220}}</string>
        <key>offset</key>
        <string>{-78,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,220}}</string>
        <key>sourceSize</key>
        <string>{243,220}</string>
      </dict>
      <key>monster_0652_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,449},{242,220}}</string>
        <key>offset</key>
        <string>{-78,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,220}}</string>
        <key>sourceSize</key>
        <string>{242,220}</string>
      </dict>
      <key>monster_0652_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,892},{239,217}}</string>
        <key>offset</key>
        <string>{-79,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,217}}</string>
        <key>sourceSize</key>
        <string>{239,217}</string>
      </dict>
      <key>monster_0652_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,671},{240,219}}</string>
        <key>offset</key>
        <string>{-78,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,219}}</string>
        <key>sourceSize</key>
        <string>{240,219}</string>
      </dict>
      <key>monster_0652_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,732},{240,218}}</string>
        <key>offset</key>
        <string>{-76,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,218}}</string>
        <key>sourceSize</key>
        <string>{240,218}</string>
      </dict>
      <key>monster_0652_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,746},{240,217}}</string>
        <key>offset</key>
        <string>{-76,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,217}}</string>
        <key>sourceSize</key>
        <string>{240,217}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0652_0_1_0.png</string>
      <key>size</key>
      <string>{1026,1113}</string>
      <key>textureFileName</key>
      <string>monster_0652_0_1_0.png</string>
    </dict>
  </dict>
</plist>