<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0458_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{160,149}}</string>
        <key>offset</key>
        <string>{-34,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,149}}</string>
        <key>sourceSize</key>
        <string>{160,149}</string>
      </dict>
      <key>monster_0458_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,564},{127,145}}</string>
        <key>offset</key>
        <string>{-21,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,145}}</string>
        <key>sourceSize</key>
        <string>{127,145}</string>
      </dict>
      <key>monster_0458_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,424},{137,145}}</string>
        <key>offset</key>
        <string>{-24,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,145}}</string>
        <key>sourceSize</key>
        <string>{137,145}</string>
      </dict>
      <key>monster_0458_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,297},{125,150}}</string>
        <key>offset</key>
        <string>{-16,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,150}}</string>
        <key>sourceSize</key>
        <string>{125,150}</string>
      </dict>
      <key>monster_0458_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{113,158}}</string>
        <key>offset</key>
        <string>{-16,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,158}}</string>
        <key>sourceSize</key>
        <string>{113,158}</string>
      </dict>
      <key>monster_0458_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,543},{112,155}}</string>
        <key>offset</key>
        <string>{-11,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,155}}</string>
        <key>sourceSize</key>
        <string>{112,155}</string>
      </dict>
      <key>monster_0458_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,323},{120,151}}</string>
        <key>offset</key>
        <string>{-4,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,151}}</string>
        <key>sourceSize</key>
        <string>{120,151}</string>
      </dict>
      <key>monster_0458_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,400},{182,142}}</string>
        <key>offset</key>
        <string>{-48,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,142}}</string>
        <key>sourceSize</key>
        <string>{182,142}</string>
      </dict>
      <key>monster_0458_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,584},{177,142}}</string>
        <key>offset</key>
        <string>{-33,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,142}}</string>
        <key>sourceSize</key>
        <string>{177,142}</string>
      </dict>
      <key>monster_0458_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,693},{144,137}}</string>
        <key>offset</key>
        <string>{-27,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,137}}</string>
        <key>sourceSize</key>
        <string>{144,137}</string>
      </dict>
      <key>monster_0458_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{199,139}}</string>
        <key>offset</key>
        <string>{-62,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,139}}</string>
        <key>sourceSize</key>
        <string>{199,139}</string>
      </dict>
      <key>monster_0458_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{197,138}}</string>
        <key>offset</key>
        <string>{-47,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,138}}</string>
        <key>sourceSize</key>
        <string>{197,138}</string>
      </dict>
      <key>monster_0458_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,379},{162,139}}</string>
        <key>offset</key>
        <string>{-41,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,139}}</string>
        <key>sourceSize</key>
        <string>{162,139}</string>
      </dict>
      <key>monster_0458_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,0},{147,156}}</string>
        <key>offset</key>
        <string>{-28,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,156}}</string>
        <key>sourceSize</key>
        <string>{147,156}</string>
      </dict>
      <key>monster_0458_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,149},{146,156}}</string>
        <key>offset</key>
        <string>{-26,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,156}}</string>
        <key>sourceSize</key>
        <string>{146,156}</string>
      </dict>
      <key>monster_0458_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,424},{138,147}}</string>
        <key>offset</key>
        <string>{-23,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,147}}</string>
        <key>sourceSize</key>
        <string>{138,147}</string>
      </dict>
      <key>monster_0458_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,162},{127,159}}</string>
        <key>offset</key>
        <string>{-12,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,159}}</string>
        <key>sourceSize</key>
        <string>{127,159}</string>
      </dict>
      <key>monster_0458_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,171},{120,161}}</string>
        <key>offset</key>
        <string>{-9,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,161}}</string>
        <key>sourceSize</key>
        <string>{120,161}</string>
      </dict>
      <key>monster_0458_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,719},{116,144}}</string>
        <key>offset</key>
        <string>{-12,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,144}}</string>
        <key>sourceSize</key>
        <string>{116,144}</string>
      </dict>
      <key>monster_0458_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,201},{176,143}}</string>
        <key>offset</key>
        <string>{-48,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,143}}</string>
        <key>sourceSize</key>
        <string>{176,143}</string>
      </dict>
      <key>monster_0458_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,0},{169,144}}</string>
        <key>offset</key>
        <string>{-52,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,144}}</string>
        <key>sourceSize</key>
        <string>{169,144}</string>
      </dict>
      <key>monster_0458_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,564},{147,136}}</string>
        <key>offset</key>
        <string>{-31,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,136}}</string>
        <key>sourceSize</key>
        <string>{147,136}</string>
      </dict>
      <key>monster_0458_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{189,125}}</string>
        <key>offset</key>
        <string>{-52,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,125}}</string>
        <key>sourceSize</key>
        <string>{189,125}</string>
      </dict>
      <key>monster_0458_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,591},{186,126}}</string>
        <key>offset</key>
        <string>{-59,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,126}}</string>
        <key>sourceSize</key>
        <string>{186,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0458_0_7.png</string>
      <key>size</key>
      <string>{837,837}</string>
      <key>textureFileName</key>
      <string>monster_0458_0_7.png</string>
    </dict>
  </dict>
</plist>