<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0041_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{82,71}}</string>
        <key>offset</key>
        <string>{-16,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,71}}</string>
        <key>sourceSize</key>
        <string>{82,71}</string>
      </dict>
      <key>monster_0041_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,155},{78,68}}</string>
        <key>offset</key>
        <string>{-14,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,68}}</string>
        <key>sourceSize</key>
        <string>{78,68}</string>
      </dict>
      <key>monster_0041_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,84},{80,69}}</string>
        <key>offset</key>
        <string>{-15,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>monster_0041_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,280},{82,72}}</string>
        <key>offset</key>
        <string>{-13,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,72}}</string>
        <key>sourceSize</key>
        <string>{82,72}</string>
      </dict>
      <key>monster_0041_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{80,69}}</string>
        <key>offset</key>
        <string>{-13,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>monster_0041_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,166},{80,70}}</string>
        <key>offset</key>
        <string>{-13,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,70}}</string>
        <key>sourceSize</key>
        <string>{80,70}</string>
      </dict>
      <key>monster_0041_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,297},{75,76}}</string>
        <key>offset</key>
        <string>{-6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,76}}</string>
        <key>sourceSize</key>
        <string>{75,76}</string>
      </dict>
      <key>monster_0041_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,376},{73,73}}</string>
        <key>offset</key>
        <string>{-6,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{73,73}</string>
      </dict>
      <key>monster_0041_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,374},{74,74}}</string>
        <key>offset</key>
        <string>{-6,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>monster_0041_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,285},{87,75}}</string>
        <key>offset</key>
        <string>{-4,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,75}}</string>
        <key>sourceSize</key>
        <string>{87,75}</string>
      </dict>
      <key>monster_0041_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,97},{84,72}}</string>
        <key>offset</key>
        <string>{-4,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,72}}</string>
        <key>sourceSize</key>
        <string>{84,72}</string>
      </dict>
      <key>monster_0041_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,192},{86,74}}</string>
        <key>offset</key>
        <string>{-4,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,74}}</string>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>monster_0041_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,75}}</string>
        <key>offset</key>
        <string>{-8,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,75}}</string>
        <key>sourceSize</key>
        <string>{95,75}</string>
      </dict>
      <key>monster_0041_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{91,71}}</string>
        <key>offset</key>
        <string>{-8,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,71}}</string>
        <key>sourceSize</key>
        <string>{91,71}</string>
      </dict>
      <key>monster_0041_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{93,73}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,73}}</string>
        <key>sourceSize</key>
        <string>{93,73}</string>
      </dict>
      <key>monster_0041_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,82},{80,76}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,76}}</string>
        <key>sourceSize</key>
        <string>{80,76}</string>
      </dict>
      <key>monster_0041_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,376},{76,73}}</string>
        <key>offset</key>
        <string>{-7,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,73}}</string>
        <key>sourceSize</key>
        <string>{76,73}</string>
      </dict>
      <key>monster_0041_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,297},{77,74}}</string>
        <key>offset</key>
        <string>{-7,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,74}}</string>
        <key>sourceSize</key>
        <string>{77,74}</string>
      </dict>
      <key>monster_0041_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{79,74}}</string>
        <key>offset</key>
        <string>{-10,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,74}}</string>
        <key>sourceSize</key>
        <string>{79,74}</string>
      </dict>
      <key>monster_0041_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,297},{77,72}}</string>
        <key>offset</key>
        <string>{-10,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,72}}</string>
        <key>sourceSize</key>
        <string>{77,72}</string>
      </dict>
      <key>monster_0041_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,164},{78,72}}</string>
        <key>offset</key>
        <string>{-10,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>monster_0041_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{80,73}}</string>
        <key>offset</key>
        <string>{-17,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,73}}</string>
        <key>sourceSize</key>
        <string>{80,73}</string>
      </dict>
      <key>monster_0041_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,225},{78,70}}</string>
        <key>offset</key>
        <string>{-17,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,70}}</string>
        <key>sourceSize</key>
        <string>{78,70}</string>
      </dict>
      <key>monster_0041_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,81},{79,72}}</string>
        <key>offset</key>
        <string>{-17,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0041_0_7.png</string>
      <key>size</key>
      <string>{422,456}</string>
      <key>textureFileName</key>
      <string>monster_0041_0_7.png</string>
    </dict>
  </dict>
</plist>