<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0133_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,210},{54,47}}</string>
        <key>offset</key>
        <string>{1,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>monster_0133_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,568},{64,55}}</string>
        <key>offset</key>
        <string>{-5,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,55}}</string>
        <key>sourceSize</key>
        <string>{64,55}</string>
      </dict>
      <key>monster_0133_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,370},{69,58}}</string>
        <key>offset</key>
        <string>{-9,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,58}}</string>
        <key>sourceSize</key>
        <string>{69,58}</string>
      </dict>
      <key>monster_0133_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,571},{75,60}}</string>
        <key>offset</key>
        <string>{-15,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,60}}</string>
        <key>sourceSize</key>
        <string>{75,60}</string>
      </dict>
      <key>monster_0133_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,247},{78,59}}</string>
        <key>offset</key>
        <string>{-18,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,59}}</string>
        <key>sourceSize</key>
        <string>{78,59}</string>
      </dict>
      <key>monster_0133_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,0},{67,58}}</string>
        <key>offset</key>
        <string>{-6,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>monster_0133_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,512},{68,49}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,49}}</string>
        <key>sourceSize</key>
        <string>{68,49}</string>
      </dict>
      <key>monster_0133_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,291},{69,50}}</string>
        <key>offset</key>
        <string>{-8,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>monster_0133_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,79},{71,50}}</string>
        <key>offset</key>
        <string>{-9,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,50}}</string>
        <key>sourceSize</key>
        <string>{71,50}</string>
      </dict>
      <key>monster_0133_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{71,51}}</string>
        <key>offset</key>
        <string>{-9,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,51}}</string>
        <key>sourceSize</key>
        <string>{71,51}</string>
      </dict>
      <key>monster_0133_0_4_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,492},{73,52}}</string>
        <key>offset</key>
        <string>{-10,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,52}}</string>
        <key>sourceSize</key>
        <string>{73,52}</string>
      </dict>
      <key>monster_0133_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,354},{55,47}}</string>
        <key>offset</key>
        <string>{-9,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,47}}</string>
        <key>sourceSize</key>
        <string>{55,47}</string>
      </dict>
      <key>monster_0133_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,0},{66,53}}</string>
        <key>offset</key>
        <string>{-14,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,53}}</string>
        <key>sourceSize</key>
        <string>{66,53}</string>
      </dict>
      <key>monster_0133_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,475},{71,56}}</string>
        <key>offset</key>
        <string>{-19,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,56}}</string>
        <key>sourceSize</key>
        <string>{71,56}</string>
      </dict>
      <key>monster_0133_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,166},{78,58}}</string>
        <key>offset</key>
        <string>{-25,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,58}}</string>
        <key>sourceSize</key>
        <string>{78,58}</string>
      </dict>
      <key>monster_0133_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,85},{81,57}}</string>
        <key>offset</key>
        <string>{-28,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,57}}</string>
        <key>sourceSize</key>
        <string>{81,57}</string>
      </dict>
      <key>monster_0133_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,432},{67,56}}</string>
        <key>offset</key>
        <string>{-13,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,56}}</string>
        <key>sourceSize</key>
        <string>{67,56}</string>
      </dict>
      <key>monster_0133_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,441},{68,50}}</string>
        <key>offset</key>
        <string>{-14,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,50}}</string>
        <key>sourceSize</key>
        <string>{68,50}</string>
      </dict>
      <key>monster_0133_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,217},{69,50}}</string>
        <key>offset</key>
        <string>{-15,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>monster_0133_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,394},{71,51}}</string>
        <key>offset</key>
        <string>{-16,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,51}}</string>
        <key>sourceSize</key>
        <string>{71,51}</string>
      </dict>
      <key>monster_0133_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,320},{71,51}}</string>
        <key>offset</key>
        <string>{-16,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,51}}</string>
        <key>sourceSize</key>
        <string>{71,51}</string>
      </dict>
      <key>monster_0133_0_4_1_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,492},{72,51}}</string>
        <key>offset</key>
        <string>{-17,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
      <key>monster_0133_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,493},{54,47}}</string>
        <key>offset</key>
        <string>{-14,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>monster_0133_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,427},{64,57}}</string>
        <key>offset</key>
        <string>{-19,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,57}}</string>
        <key>sourceSize</key>
        <string>{64,57}</string>
      </dict>
      <key>monster_0133_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,73},{70,60}}</string>
        <key>offset</key>
        <string>{-24,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>monster_0133_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,493},{76,62}}</string>
        <key>offset</key>
        <string>{-30,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,62}}</string>
        <key>sourceSize</key>
        <string>{76,62}</string>
      </dict>
      <key>monster_0133_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,251},{80,61}}</string>
        <key>offset</key>
        <string>{-33,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,61}}</string>
        <key>sourceSize</key>
        <string>{80,61}</string>
      </dict>
      <key>monster_0133_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,358},{67,60}}</string>
        <key>offset</key>
        <string>{-20,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,60}}</string>
        <key>sourceSize</key>
        <string>{67,60}</string>
      </dict>
      <key>monster_0133_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,582},{68,49}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,49}}</string>
        <key>sourceSize</key>
        <string>{68,49}</string>
      </dict>
      <key>monster_0133_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,144},{69,50}}</string>
        <key>offset</key>
        <string>{-21,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>monster_0133_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{70,50}}</string>
        <key>offset</key>
        <string>{-22,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>monster_0133_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,566},{72,51}}</string>
        <key>offset</key>
        <string>{-23,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
      <key>monster_0133_0_4_2_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,327},{72,52}}</string>
        <key>offset</key>
        <string>{-23,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,52}}</string>
        <key>sourceSize</key>
        <string>{72,52}</string>
      </dict>
      <key>monster_0133_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,411},{54,47}}</string>
        <key>offset</key>
        <string>{-9,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>monster_0133_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,55},{65,54}}</string>
        <key>offset</key>
        <string>{-15,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,54}}</string>
        <key>sourceSize</key>
        <string>{65,54}</string>
      </dict>
      <key>monster_0133_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,298},{70,59}}</string>
        <key>offset</key>
        <string>{-20,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,59}}</string>
        <key>sourceSize</key>
        <string>{70,59}</string>
      </dict>
      <key>monster_0133_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{77,60}}</string>
        <key>offset</key>
        <string>{-26,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,60}}</string>
        <key>sourceSize</key>
        <string>{77,60}</string>
      </dict>
      <key>monster_0133_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,85},{79,60}}</string>
        <key>offset</key>
        <string>{-28,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>monster_0133_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,511},{68,59}}</string>
        <key>offset</key>
        <string>{-16,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,59}}</string>
        <key>sourceSize</key>
        <string>{68,59}</string>
      </dict>
      <key>monster_0133_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,581},{68,50}}</string>
        <key>offset</key>
        <string>{-16,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,50}}</string>
        <key>sourceSize</key>
        <string>{68,50}</string>
      </dict>
      <key>monster_0133_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,219},{70,50}}</string>
        <key>offset</key>
        <string>{-17,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>monster_0133_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,219},{70,50}}</string>
        <key>offset</key>
        <string>{-17,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>monster_0133_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,548},{71,51}}</string>
        <key>offset</key>
        <string>{-18,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,51}}</string>
        <key>sourceSize</key>
        <string>{71,51}</string>
      </dict>
      <key>monster_0133_0_4_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,246},{72,51}}</string>
        <key>offset</key>
        <string>{-19,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
      <key>monster_0133_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,266},{54,47}}</string>
        <key>offset</key>
        <string>{-2,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>monster_0133_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,111},{65,53}}</string>
        <key>offset</key>
        <string>{-8,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,53}}</string>
        <key>sourceSize</key>
        <string>{65,53}</string>
      </dict>
      <key>monster_0133_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,145},{70,56}}</string>
        <key>offset</key>
        <string>{-13,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,56}}</string>
        <key>sourceSize</key>
        <string>{70,56}</string>
      </dict>
      <key>monster_0133_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,414},{76,58}}</string>
        <key>offset</key>
        <string>{-18,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,58}}</string>
        <key>sourceSize</key>
        <string>{76,58}</string>
      </dict>
      <key>monster_0133_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,166},{79,57}}</string>
        <key>offset</key>
        <string>{-21,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,57}}</string>
        <key>sourceSize</key>
        <string>{79,57}</string>
      </dict>
      <key>monster_0133_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,285},{67,56}}</string>
        <key>offset</key>
        <string>{-8,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,56}}</string>
        <key>sourceSize</key>
        <string>{67,56}</string>
      </dict>
      <key>monster_0133_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,362},{68,49}}</string>
        <key>offset</key>
        <string>{-9,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,49}}</string>
        <key>sourceSize</key>
        <string>{68,49}</string>
      </dict>
      <key>monster_0133_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,72},{69,50}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>monster_0133_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,393},{71,50}}</string>
        <key>offset</key>
        <string>{-11,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,50}}</string>
        <key>sourceSize</key>
        <string>{71,50}</string>
      </dict>
      <key>monster_0133_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,466},{71,51}}</string>
        <key>offset</key>
        <string>{-11,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,51}}</string>
        <key>sourceSize</key>
        <string>{71,51}</string>
      </dict>
      <key>monster_0133_0_4_4_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,401},{72,52}}</string>
        <key>offset</key>
        <string>{-12,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,52}}</string>
        <key>sourceSize</key>
        <string>{72,52}</string>
      </dict>
      <key>monster_0133_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,315},{54,47}}</string>
        <key>offset</key>
        <string>{5,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>monster_0133_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,501},{65,54}}</string>
        <key>offset</key>
        <string>{0,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,54}}</string>
        <key>sourceSize</key>
        <string>{65,54}</string>
      </dict>
      <key>monster_0133_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,539},{71,59}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,59}}</string>
        <key>sourceSize</key>
        <string>{71,59}</string>
      </dict>
      <key>monster_0133_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,414},{77,60}}</string>
        <key>offset</key>
        <string>{-1,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,60}}</string>
        <key>sourceSize</key>
        <string>{77,60}</string>
      </dict>
      <key>monster_0133_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{79,60}}</string>
        <key>offset</key>
        <string>{-1,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>monster_0133_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,288},{68,59}}</string>
        <key>offset</key>
        <string>{-2,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,59}}</string>
        <key>sourceSize</key>
        <string>{68,59}</string>
      </dict>
      <key>monster_0133_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,215},{68,50}}</string>
        <key>offset</key>
        <string>{-2,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,50}}</string>
        <key>sourceSize</key>
        <string>{68,50}</string>
      </dict>
      <key>monster_0133_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,72},{70,50}}</string>
        <key>offset</key>
        <string>{-3,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>monster_0133_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,152},{71,50}}</string>
        <key>offset</key>
        <string>{-3,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,50}}</string>
        <key>sourceSize</key>
        <string>{71,50}</string>
      </dict>
      <key>monster_0133_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,73},{71,51}}</string>
        <key>offset</key>
        <string>{-3,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,51}}</string>
        <key>sourceSize</key>
        <string>{71,51}</string>
      </dict>
      <key>monster_0133_0_4_5_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,327},{73,51}}</string>
        <key>offset</key>
        <string>{-4,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,51}}</string>
        <key>sourceSize</key>
        <string>{73,51}</string>
      </dict>
      <key>monster_0133_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,354},{57,47}}</string>
        <key>offset</key>
        <string>{10,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,47}}</string>
        <key>sourceSize</key>
        <string>{57,47}</string>
      </dict>
      <key>monster_0133_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,213},{67,57}}</string>
        <key>offset</key>
        <string>{5,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,57}}</string>
        <key>sourceSize</key>
        <string>{67,57}</string>
      </dict>
      <key>monster_0133_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,567},{73,60}}</string>
        <key>offset</key>
        <string>{4,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,60}}</string>
        <key>sourceSize</key>
        <string>{73,60}</string>
      </dict>
      <key>monster_0133_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,333},{79,62}}</string>
        <key>offset</key>
        <string>{4,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,62}}</string>
        <key>sourceSize</key>
        <string>{79,62}</string>
      </dict>
      <key>monster_0133_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,61}}</string>
        <key>offset</key>
        <string>{3,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,61}}</string>
        <key>sourceSize</key>
        <string>{83,61}</string>
      </dict>
      <key>monster_0133_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,141},{67,60}}</string>
        <key>offset</key>
        <string>{3,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,60}}</string>
        <key>sourceSize</key>
        <string>{67,60}</string>
      </dict>
      <key>monster_0133_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,143},{68,49}}</string>
        <key>offset</key>
        <string>{2,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,49}}</string>
        <key>sourceSize</key>
        <string>{68,49}</string>
      </dict>
      <key>monster_0133_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{69,50}}</string>
        <key>offset</key>
        <string>{2,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>monster_0133_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{70,50}}</string>
        <key>offset</key>
        <string>{2,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>monster_0133_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,320},{72,51}}</string>
        <key>offset</key>
        <string>{1,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
      <key>monster_0133_0_4_6_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,246},{72,52}}</string>
        <key>offset</key>
        <string>{1,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,52}}</string>
        <key>sourceSize</key>
        <string>{72,52}</string>
      </dict>
      <key>monster_0133_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,282},{55,47}}</string>
        <key>offset</key>
        <string>{4,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,47}}</string>
        <key>sourceSize</key>
        <string>{55,47}</string>
      </dict>
      <key>monster_0133_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,0},{66,53}}</string>
        <key>offset</key>
        <string>{-2,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,53}}</string>
        <key>sourceSize</key>
        <string>{66,53}</string>
      </dict>
      <key>monster_0133_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{71,56}}</string>
        <key>offset</key>
        <string>{-2,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,56}}</string>
        <key>sourceSize</key>
        <string>{71,56}</string>
      </dict>
      <key>monster_0133_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,81},{78,58}}</string>
        <key>offset</key>
        <string>{-3,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,58}}</string>
        <key>sourceSize</key>
        <string>{78,58}</string>
      </dict>
      <key>monster_0133_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,168},{81,57}}</string>
        <key>offset</key>
        <string>{-3,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,57}}</string>
        <key>sourceSize</key>
        <string>{81,57}</string>
      </dict>
      <key>monster_0133_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,69},{67,56}}</string>
        <key>offset</key>
        <string>{-4,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,56}}</string>
        <key>sourceSize</key>
        <string>{67,56}</string>
      </dict>
      <key>monster_0133_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,71},{68,50}}</string>
        <key>offset</key>
        <string>{-4,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,50}}</string>
        <key>sourceSize</key>
        <string>{68,50}</string>
      </dict>
      <key>monster_0133_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,441},{69,50}}</string>
        <key>offset</key>
        <string>{-4,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,50}}</string>
        <key>sourceSize</key>
        <string>{69,50}</string>
      </dict>
      <key>monster_0133_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,225},{71,51}}</string>
        <key>offset</key>
        <string>{-5,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,51}}</string>
        <key>sourceSize</key>
        <string>{71,51}</string>
      </dict>
      <key>monster_0133_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,146},{71,51}}</string>
        <key>offset</key>
        <string>{-5,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,51}}</string>
        <key>sourceSize</key>
        <string>{71,51}</string>
      </dict>
      <key>monster_0133_0_4_7_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,161},{72,51}}</string>
        <key>offset</key>
        <string>{-5,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0133_0_4.png</string>
      <key>size</key>
      <string>{640,640}</string>
      <key>textureFileName</key>
      <string>monster_0133_0_4.png</string>
    </dict>
  </dict>
</plist>