<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0074_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,319},{44,56}}</string>
        <key>offset</key>
        <string>{10,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,56}}</string>
        <key>sourceSize</key>
        <string>{44,56}</string>
      </dict>
      <key>monster_0074_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,292},{40,46}}</string>
        <key>offset</key>
        <string>{10,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,46}}</string>
        <key>sourceSize</key>
        <string>{40,46}</string>
      </dict>
      <key>monster_0074_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,334},{36,47}}</string>
        <key>offset</key>
        <string>{10,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,47}}</string>
        <key>sourceSize</key>
        <string>{36,47}</string>
      </dict>
      <key>monster_0074_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,80},{61,76}}</string>
        <key>offset</key>
        <string>{10,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,76}}</string>
        <key>sourceSize</key>
        <string>{61,76}</string>
      </dict>
      <key>monster_0074_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{63,81}}</string>
        <key>offset</key>
        <string>{10,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,81}}</string>
        <key>sourceSize</key>
        <string>{63,81}</string>
      </dict>
      <key>monster_0074_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,232},{52,52}}</string>
        <key>offset</key>
        <string>{7,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>monster_0074_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,340},{46,41}}</string>
        <key>offset</key>
        <string>{-1,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,41}}</string>
        <key>sourceSize</key>
        <string>{46,41}</string>
      </dict>
      <key>monster_0074_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,246},{50,44}}</string>
        <key>offset</key>
        <string>{-5,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,44}}</string>
        <key>sourceSize</key>
        <string>{50,44}</string>
      </dict>
      <key>monster_0074_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,243},{69,74}}</string>
        <key>offset</key>
        <string>{58,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>monster_0074_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{72,77}}</string>
        <key>offset</key>
        <string>{16,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>monster_0074_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,323},{57,45}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,45}}</string>
        <key>sourceSize</key>
        <string>{57,45}</string>
      </dict>
      <key>monster_0074_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,286},{52,41}}</string>
        <key>offset</key>
        <string>{-5,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,41}}</string>
        <key>sourceSize</key>
        <string>{52,41}</string>
      </dict>
      <key>monster_0074_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,323},{58,40}}</string>
        <key>offset</key>
        <string>{-13,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,40}}</string>
        <key>sourceSize</key>
        <string>{58,40}</string>
      </dict>
      <key>monster_0074_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{76,69}}</string>
        <key>offset</key>
        <string>{76,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,69}}</string>
        <key>sourceSize</key>
        <string>{76,69}</string>
      </dict>
      <key>monster_0074_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,83},{79,71}}</string>
        <key>offset</key>
        <string>{16,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,71}}</string>
        <key>sourceSize</key>
        <string>{79,71}</string>
      </dict>
      <key>monster_0074_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,196},{51,48}}</string>
        <key>offset</key>
        <string>{7,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,48}}</string>
        <key>sourceSize</key>
        <string>{51,48}</string>
      </dict>
      <key>monster_0074_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,334},{45,47}}</string>
        <key>offset</key>
        <string>{-1,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,47}}</string>
        <key>sourceSize</key>
        <string>{45,47}</string>
      </dict>
      <key>monster_0074_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,340},{50,41}}</string>
        <key>offset</key>
        <string>{-5,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>monster_0074_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,156},{69,74}}</string>
        <key>offset</key>
        <string>{58,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>monster_0074_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,78},{72,76}}</string>
        <key>offset</key>
        <string>{16,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,76}}</string>
        <key>sourceSize</key>
        <string>{72,76}</string>
      </dict>
      <key>monster_0074_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,286},{44,52}}</string>
        <key>offset</key>
        <string>{10,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,52}}</string>
        <key>sourceSize</key>
        <string>{44,52}</string>
      </dict>
      <key>monster_0074_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,292},{40,50}}</string>
        <key>offset</key>
        <string>{10,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>monster_0074_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,383},{36,44}}</string>
        <key>offset</key>
        <string>{10,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,44}}</string>
        <key>sourceSize</key>
        <string>{36,44}</string>
      </dict>
      <key>monster_0074_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,0},{61,78}}</string>
        <key>offset</key>
        <string>{10,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,78}}</string>
        <key>sourceSize</key>
        <string>{61,78}</string>
      </dict>
      <key>monster_0074_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{62,78}}</string>
        <key>offset</key>
        <string>{10,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,78}}</string>
        <key>sourceSize</key>
        <string>{62,78}</string>
      </dict>
      <key>monster_0074_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,232},{52,48}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{52,48}</string>
      </dict>
      <key>monster_0074_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{47,47}}</string>
        <key>offset</key>
        <string>{13,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>monster_0074_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,49},{47,42}}</string>
        <key>offset</key>
        <string>{15,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,42}}</string>
        <key>sourceSize</key>
        <string>{47,42}</string>
      </dict>
      <key>monster_0074_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,232},{69,74}}</string>
        <key>offset</key>
        <string>{-49,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>monster_0074_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{71,76}}</string>
        <key>offset</key>
        <string>{-6,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,76}}</string>
        <key>sourceSize</key>
        <string>{71,76}</string>
      </dict>
      <key>monster_0074_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,78},{57,45}}</string>
        <key>offset</key>
        <string>{0,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,45}}</string>
        <key>sourceSize</key>
        <string>{57,45}</string>
      </dict>
      <key>monster_0074_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,319},{54,41}}</string>
        <key>offset</key>
        <string>{11,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,41}}</string>
        <key>sourceSize</key>
        <string>{54,41}</string>
      </dict>
      <key>monster_0074_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,308},{54,39}}</string>
        <key>offset</key>
        <string>{15,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,39}}</string>
        <key>sourceSize</key>
        <string>{54,39}</string>
      </dict>
      <key>monster_0074_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{76,69}}</string>
        <key>offset</key>
        <string>{-75,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,69}}</string>
        <key>sourceSize</key>
        <string>{76,69}</string>
      </dict>
      <key>monster_0074_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,71},{76,71}}</string>
        <key>offset</key>
        <string>{-13,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,71}}</string>
        <key>sourceSize</key>
        <string>{76,71}</string>
      </dict>
      <key>monster_0074_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,144},{50,52}}</string>
        <key>offset</key>
        <string>{5,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,52}}</string>
        <key>sourceSize</key>
        <string>{50,52}</string>
      </dict>
      <key>monster_0074_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,93},{47,42}}</string>
        <key>offset</key>
        <string>{13,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,42}}</string>
        <key>sourceSize</key>
        <string>{47,42}</string>
      </dict>
      <key>monster_0074_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{47,44}}</string>
        <key>offset</key>
        <string>{15,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,44}}</string>
        <key>sourceSize</key>
        <string>{47,44}</string>
      </dict>
      <key>monster_0074_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,156},{69,74}}</string>
        <key>offset</key>
        <string>{-49,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>monster_0074_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,164},{71,77}}</string>
        <key>offset</key>
        <string>{-6,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,77}}</string>
        <key>sourceSize</key>
        <string>{71,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0074_0_2.png</string>
      <key>size</key>
      <string>{408,429}</string>
      <key>textureFileName</key>
      <string>monster_0074_0_2.png</string>
    </dict>
  </dict>
</plist>