<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0458_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,402},{145,137}}</string>
        <key>offset</key>
        <string>{-18,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,137}}</string>
        <key>sourceSize</key>
        <string>{145,137}</string>
      </dict>
      <key>monster_0458_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,364},{173,123}}</string>
        <key>offset</key>
        <string>{-39,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,123}}</string>
        <key>sourceSize</key>
        <string>{173,123}</string>
      </dict>
      <key>monster_0458_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,513},{157,139}}</string>
        <key>offset</key>
        <string>{-34,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,139}}</string>
        <key>sourceSize</key>
        <string>{157,139}</string>
      </dict>
      <key>monster_0458_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,675},{158,156}}</string>
        <key>offset</key>
        <string>{-32,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,156}}</string>
        <key>sourceSize</key>
        <string>{158,156}</string>
      </dict>
      <key>monster_0458_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,835},{132,114}}</string>
        <key>offset</key>
        <string>{-36,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,114}}</string>
        <key>sourceSize</key>
        <string>{132,114}</string>
      </dict>
      <key>monster_0458_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,276},{124,149}}</string>
        <key>offset</key>
        <string>{5,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,149}}</string>
        <key>sourceSize</key>
        <string>{124,149}</string>
      </dict>
      <key>monster_0458_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,182},{165,130}}</string>
        <key>offset</key>
        <string>{-31,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,130}}</string>
        <key>sourceSize</key>
        <string>{165,130}</string>
      </dict>
      <key>monster_0458_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,133}}</string>
        <key>offset</key>
        <string>{-29,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,133}}</string>
        <key>sourceSize</key>
        <string>{180,133}</string>
      </dict>
      <key>monster_0458_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,707},{162,148}}</string>
        <key>offset</key>
        <string>{-16,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,148}}</string>
        <key>sourceSize</key>
        <string>{162,148}</string>
      </dict>
      <key>monster_0458_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,329},{156,102}}</string>
        <key>offset</key>
        <string>{-35,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,102}}</string>
        <key>sourceSize</key>
        <string>{156,102}</string>
      </dict>
      <key>monster_0458_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,541},{144,145}}</string>
        <key>offset</key>
        <string>{-15,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>monster_0458_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,672},{119,149}}</string>
        <key>offset</key>
        <string>{0,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,149}}</string>
        <key>sourceSize</key>
        <string>{119,149}</string>
      </dict>
      <key>monster_0458_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,166},{161,140}}</string>
        <key>offset</key>
        <string>{-10,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,140}}</string>
        <key>sourceSize</key>
        <string>{161,140}</string>
      </dict>
      <key>monster_0458_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,162},{154,139}}</string>
        <key>offset</key>
        <string>{-1,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,139}}</string>
        <key>sourceSize</key>
        <string>{154,139}</string>
      </dict>
      <key>monster_0458_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,0},{165,85}}</string>
        <key>offset</key>
        <string>{-32,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,85}}</string>
        <key>sourceSize</key>
        <string>{165,85}</string>
      </dict>
      <key>monster_0458_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,717},{173,127}}</string>
        <key>offset</key>
        <string>{-43,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,127}}</string>
        <key>sourceSize</key>
        <string>{173,127}</string>
      </dict>
      <key>monster_0458_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,624},{135,147}}</string>
        <key>offset</key>
        <string>{-18,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,147}}</string>
        <key>sourceSize</key>
        <string>{135,147}</string>
      </dict>
      <key>monster_0458_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,276},{119,141}}</string>
        <key>offset</key>
        <string>{7,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,141}}</string>
        <key>sourceSize</key>
        <string>{119,141}</string>
      </dict>
      <key>monster_0458_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{160,136}}</string>
        <key>offset</key>
        <string>{-8,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,136}}</string>
        <key>sourceSize</key>
        <string>{160,136}</string>
      </dict>
      <key>monster_0458_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{154,78}}</string>
        <key>offset</key>
        <string>{-35,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,78}}</string>
        <key>sourceSize</key>
        <string>{154,78}</string>
      </dict>
      <key>monster_0458_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{152,138}}</string>
        <key>offset</key>
        <string>{-39,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,138}}</string>
        <key>sourceSize</key>
        <string>{152,138}</string>
      </dict>
      <key>monster_0458_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{175,123}}</string>
        <key>offset</key>
        <string>{-51,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,123}}</string>
        <key>sourceSize</key>
        <string>{175,123}</string>
      </dict>
      <key>monster_0458_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,318},{154,134}}</string>
        <key>offset</key>
        <string>{-31,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,134}}</string>
        <key>sourceSize</key>
        <string>{154,134}</string>
      </dict>
      <key>monster_0458_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{164,122}}</string>
        <key>offset</key>
        <string>{-37,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,122}}</string>
        <key>sourceSize</key>
        <string>{164,122}</string>
      </dict>
      <key>monster_0458_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,860},{128,89}}</string>
        <key>offset</key>
        <string>{-36,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,89}}</string>
        <key>sourceSize</key>
        <string>{128,89}</string>
      </dict>
      <key>monster_0458_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,474},{124,148}}</string>
        <key>offset</key>
        <string>{-28,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,148}}</string>
        <key>sourceSize</key>
        <string>{124,148}</string>
      </dict>
      <key>monster_0458_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,539},{166,133}}</string>
        <key>offset</key>
        <string>{-58,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,133}}</string>
        <key>sourceSize</key>
        <string>{166,133}</string>
      </dict>
      <key>monster_0458_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,541},{174,125}}</string>
        <key>offset</key>
        <string>{-67,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,125}}</string>
        <key>sourceSize</key>
        <string>{174,125}</string>
      </dict>
      <key>monster_0458_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,349},{162,117}}</string>
        <key>offset</key>
        <string>{-53,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,117}}</string>
        <key>sourceSize</key>
        <string>{162,117}</string>
      </dict>
      <key>monster_0458_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,773},{146,85}}</string>
        <key>offset</key>
        <string>{-58,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,85}}</string>
        <key>sourceSize</key>
        <string>{146,85}</string>
      </dict>
      <key>monster_0458_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,0},{152,141}}</string>
        <key>offset</key>
        <string>{-48,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,141}}</string>
        <key>sourceSize</key>
        <string>{152,141}</string>
      </dict>
      <key>monster_0458_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,805},{117,142}}</string>
        <key>offset</key>
        <string>{-29,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,142}}</string>
        <key>sourceSize</key>
        <string>{117,142}</string>
      </dict>
      <key>monster_0458_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,143},{152,131}}</string>
        <key>offset</key>
        <string>{-68,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,131}}</string>
        <key>sourceSize</key>
        <string>{152,131}</string>
      </dict>
      <key>monster_0458_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,0},{140,131}}</string>
        <key>offset</key>
        <string>{-54,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,131}}</string>
        <key>sourceSize</key>
        <string>{140,131}</string>
      </dict>
      <key>monster_0458_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,513},{160,92}}</string>
        <key>offset</key>
        <string>{-75,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,92}}</string>
        <key>sourceSize</key>
        <string>{160,92}</string>
      </dict>
      <key>monster_0458_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{180,132}}</string>
        <key>offset</key>
        <string>{-49,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,132}}</string>
        <key>sourceSize</key>
        <string>{180,132}</string>
      </dict>
      <key>monster_0458_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,133},{135,140}}</string>
        <key>offset</key>
        <string>{-25,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,140}}</string>
        <key>sourceSize</key>
        <string>{135,140}</string>
      </dict>
      <key>monster_0458_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,687},{116,144}}</string>
        <key>offset</key>
        <string>{-28,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,144}}</string>
        <key>sourceSize</key>
        <string>{116,144}</string>
      </dict>
      <key>monster_0458_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,156},{142,154}}</string>
        <key>offset</key>
        <string>{-55,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,154}}</string>
        <key>sourceSize</key>
        <string>{142,154}</string>
      </dict>
      <key>monster_0458_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,805},{143,108}}</string>
        <key>offset</key>
        <string>{-55,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,108}}</string>
        <key>sourceSize</key>
        <string>{143,108}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0458_0_4.png</string>
      <key>size</key>
      <string>{1014,952}</string>
      <key>textureFileName</key>
      <string>monster_0458_0_4.png</string>
    </dict>
  </dict>
</plist>