<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0020_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{82,76}}</string>
        <key>offset</key>
        <string>{-6,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,76}</string>
      </dict>
      <key>monster_0020_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,325},{76,86}}</string>
        <key>offset</key>
        <string>{-3,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,86}}</string>
        <key>sourceSize</key>
        <string>{76,86}</string>
      </dict>
      <key>monster_0020_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,101},{79,93}}</string>
        <key>offset</key>
        <string>{0,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,93}}</string>
        <key>sourceSize</key>
        <string>{79,93}</string>
      </dict>
      <key>monster_0020_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,361},{74,85}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,85}}</string>
        <key>sourceSize</key>
        <string>{74,85}</string>
      </dict>
      <key>monster_0020_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,78},{72,88}}</string>
        <key>offset</key>
        <string>{-11,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,88}}</string>
        <key>sourceSize</key>
        <string>{72,88}</string>
      </dict>
      <key>monster_0020_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,226},{86,97}}</string>
        <key>offset</key>
        <string>{-5,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,97}}</string>
        <key>sourceSize</key>
        <string>{86,97}</string>
      </dict>
      <key>monster_0020_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,305},{69,86}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,86}}</string>
        <key>sourceSize</key>
        <string>{69,86}</string>
      </dict>
      <key>monster_0020_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{128,85}}</string>
        <key>offset</key>
        <string>{-42,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,85}}</string>
        <key>sourceSize</key>
        <string>{128,85}</string>
      </dict>
      <key>monster_0020_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{117,91}}</string>
        <key>offset</key>
        <string>{-28,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,91}}</string>
        <key>sourceSize</key>
        <string>{117,91}</string>
      </dict>
      <key>monster_0020_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,196},{88,88}}</string>
        <key>offset</key>
        <string>{-19,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,88}}</string>
        <key>sourceSize</key>
        <string>{88,88}</string>
      </dict>
      <key>monster_0020_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{123,78}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,78}}</string>
        <key>sourceSize</key>
        <string>{123,78}</string>
      </dict>
      <key>monster_0020_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,119},{105,82}}</string>
        <key>offset</key>
        <string>{-23,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,82}}</string>
        <key>sourceSize</key>
        <string>{105,82}</string>
      </dict>
      <key>monster_0020_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,223},{87,80}}</string>
        <key>offset</key>
        <string>{-12,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,80}}</string>
        <key>sourceSize</key>
        <string>{87,80}</string>
      </dict>
      <key>monster_0020_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{89,90}}</string>
        <key>offset</key>
        <string>{-14,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>monster_0020_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{99,84}}</string>
        <key>offset</key>
        <string>{-22,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,84}}</string>
        <key>sourceSize</key>
        <string>{99,84}</string>
      </dict>
      <key>monster_0020_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,286},{88,80}}</string>
        <key>offset</key>
        <string>{-17,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,80}}</string>
        <key>sourceSize</key>
        <string>{88,80}</string>
      </dict>
      <key>monster_0020_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,286},{75,88}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,88}}</string>
        <key>sourceSize</key>
        <string>{75,88}</string>
      </dict>
      <key>monster_0020_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,376},{84,81}}</string>
        <key>offset</key>
        <string>{-7,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,81}}</string>
        <key>sourceSize</key>
        <string>{84,81}</string>
      </dict>
      <key>monster_0020_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,376},{72,76}}</string>
        <key>offset</key>
        <string>{-4,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,76}}</string>
        <key>sourceSize</key>
        <string>{72,76}</string>
      </dict>
      <key>monster_0020_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{126,76}}</string>
        <key>offset</key>
        <string>{-21,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,76}}</string>
        <key>sourceSize</key>
        <string>{126,76}</string>
      </dict>
      <key>monster_0020_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,253},{106,78}}</string>
        <key>offset</key>
        <string>{-16,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,78}}</string>
        <key>sourceSize</key>
        <string>{106,78}</string>
      </dict>
      <key>monster_0020_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,152},{88,69}}</string>
        <key>offset</key>
        <string>{-6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,69}}</string>
        <key>sourceSize</key>
        <string>{88,69}</string>
      </dict>
      <key>monster_0020_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,130},{121,73}}</string>
        <key>offset</key>
        <string>{-23,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,73}}</string>
        <key>sourceSize</key>
        <string>{121,73}</string>
      </dict>
      <key>monster_0020_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{89,76}}</string>
        <key>offset</key>
        <string>{-6,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,76}}</string>
        <key>sourceSize</key>
        <string>{89,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0020_0_7.png</string>
      <key>size</key>
      <string>{512,469}</string>
      <key>textureFileName</key>
      <string>monster_0020_0_7.png</string>
    </dict>
  </dict>
</plist>