<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0165_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1077,365},{204,161}}</string>
        <key>offset</key>
        <string>{-29,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,161}}</string>
        <key>sourceSize</key>
        <string>{204,161}</string>
      </dict>
      <key>monster_0165_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,0},{161,167}}</string>
        <key>offset</key>
        <string>{-36,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,167}}</string>
        <key>sourceSize</key>
        <string>{161,167}</string>
      </dict>
      <key>monster_0165_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,565},{265,175}}</string>
        <key>offset</key>
        <string>{-116,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,175}}</string>
        <key>sourceSize</key>
        <string>{265,175}</string>
      </dict>
      <key>monster_0165_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1277,314},{126,157}}</string>
        <key>offset</key>
        <string>{-35,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,157}}</string>
        <key>sourceSize</key>
        <string>{126,157}</string>
      </dict>
      <key>monster_0165_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,0},{140,128}}</string>
        <key>offset</key>
        <string>{-37,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,128}}</string>
        <key>sourceSize</key>
        <string>{140,128}</string>
      </dict>
      <key>monster_0165_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1277,442},{152,152}}</string>
        <key>offset</key>
        <string>{-30,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,152}}</string>
        <key>sourceSize</key>
        <string>{152,152}</string>
      </dict>
      <key>monster_0165_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,0},{154,209}}</string>
        <key>offset</key>
        <string>{-18,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,209}}</string>
        <key>sourceSize</key>
        <string>{154,209}</string>
      </dict>
      <key>monster_0165_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1052,1021},{177,179}}</string>
        <key>offset</key>
        <string>{-49,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,179}}</string>
        <key>sourceSize</key>
        <string>{177,179}</string>
      </dict>
      <key>monster_0165_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,0},{213,186}}</string>
        <key>offset</key>
        <string>{-113,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,186}}</string>
        <key>sourceSize</key>
        <string>{213,186}</string>
      </dict>
      <key>monster_0165_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,946},{213,167}}</string>
        <key>offset</key>
        <string>{-39,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,167}}</string>
        <key>sourceSize</key>
        <string>{213,167}</string>
      </dict>
      <key>monster_0165_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,994},{183,127}}</string>
        <key>offset</key>
        <string>{-16,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,127}}</string>
        <key>sourceSize</key>
        <string>{183,127}</string>
      </dict>
      <key>monster_0165_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,695},{199,133}}</string>
        <key>offset</key>
        <string>{-13,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,133}}</string>
        <key>sourceSize</key>
        <string>{199,133}</string>
      </dict>
      <key>monster_0165_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,1130},{146,208}}</string>
        <key>offset</key>
        <string>{-23,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,208}}</string>
        <key>sourceSize</key>
        <string>{146,208}</string>
      </dict>
      <key>monster_0165_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,156},{193,209}}</string>
        <key>offset</key>
        <string>{-72,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,209}}</string>
        <key>sourceSize</key>
        <string>{193,209}</string>
      </dict>
      <key>monster_0165_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,830},{162,186}}</string>
        <key>offset</key>
        <string>{-44,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,186}}</string>
        <key>sourceSize</key>
        <string>{162,186}</string>
      </dict>
      <key>monster_0165_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,551},{246,158}}</string>
        <key>offset</key>
        <string>{-11,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,158}}</string>
        <key>sourceSize</key>
        <string>{246,158}</string>
      </dict>
      <key>monster_0165_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,490},{231,123}}</string>
        <key>offset</key>
        <string>{-4,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,123}}</string>
        <key>sourceSize</key>
        <string>{231,123}</string>
      </dict>
      <key>monster_0165_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,351},{208,158}}</string>
        <key>offset</key>
        <string>{-42,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,158}}</string>
        <key>sourceSize</key>
        <string>{208,158}</string>
      </dict>
      <key>monster_0165_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{252,161}}</string>
        <key>offset</key>
        <string>{-113,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,161}}</string>
        <key>sourceSize</key>
        <string>{252,161}</string>
      </dict>
      <key>monster_0165_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,253},{201,227}}</string>
        <key>offset</key>
        <string>{-53,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,227}}</string>
        <key>sourceSize</key>
        <string>{201,227}</string>
      </dict>
      <key>monster_0165_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,918},{210,182}}</string>
        <key>offset</key>
        <string>{-66,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,182}}</string>
        <key>sourceSize</key>
        <string>{210,182}</string>
      </dict>
      <key>monster_0165_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,511},{182,204}}</string>
        <key>offset</key>
        <string>{-5,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,204}}</string>
        <key>sourceSize</key>
        <string>{182,204}</string>
      </dict>
      <key>monster_0165_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1241,865},{176,176}}</string>
        <key>offset</key>
        <string>{-5,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,176}}</string>
        <key>sourceSize</key>
        <string>{176,176}</string>
      </dict>
      <key>monster_0165_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,1123},{157,179}}</string>
        <key>offset</key>
        <string>{-34,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,179}}</string>
        <key>sourceSize</key>
        <string>{157,179}</string>
      </dict>
      <key>monster_0165_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,799},{246,152}}</string>
        <key>offset</key>
        <string>{-124,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,152}}</string>
        <key>sourceSize</key>
        <string>{246,152}</string>
      </dict>
      <key>monster_0165_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{175,251}}</string>
        <key>offset</key>
        <string>{-38,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,251}}</string>
        <key>sourceSize</key>
        <string>{175,251}</string>
      </dict>
      <key>monster_0165_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1084},{248,181}}</string>
        <key>offset</key>
        <string>{-44,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,181}}</string>
        <key>sourceSize</key>
        <string>{248,181}</string>
      </dict>
      <key>monster_0165_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,723},{144,221}}</string>
        <key>offset</key>
        <string>{-13,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,221}}</string>
        <key>sourceSize</key>
        <string>{144,221}</string>
      </dict>
      <key>monster_0165_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,156},{139,207}}</string>
        <key>offset</key>
        <string>{-15,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,207}}</string>
        <key>sourceSize</key>
        <string>{139,207}</string>
      </dict>
      <key>monster_0165_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1055,865},{184,154}}</string>
        <key>offset</key>
        <string>{-62,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,154}}</string>
        <key>sourceSize</key>
        <string>{184,154}</string>
      </dict>
      <key>monster_0165_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,163},{149,165}}</string>
        <key>offset</key>
        <string>{-48,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,165}}</string>
        <key>sourceSize</key>
        <string>{149,165}</string>
      </dict>
      <key>monster_0165_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1047},{210,236}}</string>
        <key>offset</key>
        <string>{-19,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,236}}</string>
        <key>sourceSize</key>
        <string>{210,236}</string>
      </dict>
      <key>monster_0165_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,703},{213,179}}</string>
        <key>offset</key>
        <string>{-10,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,179}}</string>
        <key>sourceSize</key>
        <string>{213,179}</string>
      </dict>
      <key>monster_0165_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,292},{257,172}}</string>
        <key>offset</key>
        <string>{-120,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,172}}</string>
        <key>sourceSize</key>
        <string>{257,172}</string>
      </dict>
      <key>monster_0165_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,225},{215,171}}</string>
        <key>offset</key>
        <string>{-114,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,171}}</string>
        <key>sourceSize</key>
        <string>{215,171}</string>
      </dict>
      <key>monster_0165_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{227,119}}</string>
        <key>offset</key>
        <string>{-127,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,119}}</string>
        <key>sourceSize</key>
        <string>{227,119}</string>
      </dict>
      <key>monster_0165_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,1161},{116,163}}</string>
        <key>offset</key>
        <string>{-25,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,163}}</string>
        <key>sourceSize</key>
        <string>{116,163}</string>
      </dict>
      <key>monster_0165_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,832},{250,189}}</string>
        <key>offset</key>
        <string>{-37,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,189}}</string>
        <key>sourceSize</key>
        <string>{250,189}</string>
      </dict>
      <key>monster_0165_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,442},{167,206}}</string>
        <key>offset</key>
        <string>{-24,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,206}}</string>
        <key>sourceSize</key>
        <string>{167,206}</string>
      </dict>
      <key>monster_0165_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{290,120}}</string>
        <key>offset</key>
        <string>{-182,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,120}}</string>
        <key>sourceSize</key>
        <string>{290,120}</string>
      </dict>
      <key>monster_0165_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{271,117}}</string>
        <key>offset</key>
        <string>{-173,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,117}}</string>
        <key>sourceSize</key>
        <string>{271,117}</string>
      </dict>
      <key>monster_0165_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,0},{223,137}}</string>
        <key>offset</key>
        <string>{-107,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,137}}</string>
        <key>sourceSize</key>
        <string>{223,137}</string>
      </dict>
      <key>monster_0165_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,571},{202,151}}</string>
        <key>offset</key>
        <string>{-37,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,151}}</string>
        <key>sourceSize</key>
        <string>{202,151}</string>
      </dict>
      <key>monster_0165_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,253},{235,165}}</string>
        <key>offset</key>
        <string>{-48,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,165}}</string>
        <key>sourceSize</key>
        <string>{235,165}</string>
      </dict>
      <key>monster_0165_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,482},{219,208}}</string>
        <key>offset</key>
        <string>{-48,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,208}}</string>
        <key>sourceSize</key>
        <string>{219,208}</string>
      </dict>
      <key>monster_0165_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,724},{198,139}}</string>
        <key>offset</key>
        <string>{-123,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,139}}</string>
        <key>sourceSize</key>
        <string>{198,139}</string>
      </dict>
      <key>monster_0165_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,650},{206,120}}</string>
        <key>offset</key>
        <string>{-117,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,120}}</string>
        <key>sourceSize</key>
        <string>{206,120}</string>
      </dict>
      <key>monster_0165_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1277,596},{142,144}}</string>
        <key>offset</key>
        <string>{-35,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,144}}</string>
        <key>sourceSize</key>
        <string>{142,144}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0165_0_2.png</string>
      <key>size</key>
      <string>{1436,1282}</string>
      <key>textureFileName</key>
      <string>monster_0165_0_2.png</string>
    </dict>
  </dict>
</plist>