<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0074_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,0},{44,56}}</string>
        <key>offset</key>
        <string>{10,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,56}}</string>
        <key>sourceSize</key>
        <string>{44,56}</string>
      </dict>
      <key>monster_0074_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,58},{44,56}}</string>
        <key>offset</key>
        <string>{10,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,56}}</string>
        <key>sourceSize</key>
        <string>{44,56}</string>
      </dict>
      <key>monster_0074_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{52,52}}</string>
        <key>offset</key>
        <string>{7,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>monster_0074_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,58},{52,53}}</string>
        <key>offset</key>
        <string>{7,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,53}}</string>
        <key>sourceSize</key>
        <string>{52,53}</string>
      </dict>
      <key>monster_0074_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{57,45}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,45}}</string>
        <key>sourceSize</key>
        <string>{57,45}</string>
      </dict>
      <key>monster_0074_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,45}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,45}}</string>
        <key>sourceSize</key>
        <string>{58,45}</string>
      </dict>
      <key>monster_0074_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,54},{51,48}}</string>
        <key>offset</key>
        <string>{7,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,48}}</string>
        <key>sourceSize</key>
        <string>{51,48}</string>
      </dict>
      <key>monster_0074_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{52,48}}</string>
        <key>offset</key>
        <string>{7,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{52,48}</string>
      </dict>
      <key>monster_0074_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,50},{44,52}}</string>
        <key>offset</key>
        <string>{10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,52}}</string>
        <key>sourceSize</key>
        <string>{44,52}</string>
      </dict>
      <key>monster_0074_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,54},{44,52}}</string>
        <key>offset</key>
        <string>{10,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,52}}</string>
        <key>sourceSize</key>
        <string>{44,52}</string>
      </dict>
      <key>monster_0074_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,96},{52,48}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{52,48}</string>
      </dict>
      <key>monster_0074_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,113},{52,48}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{52,48}</string>
      </dict>
      <key>monster_0074_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,120},{57,45}}</string>
        <key>offset</key>
        <string>{0,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,45}}</string>
        <key>sourceSize</key>
        <string>{57,45}</string>
      </dict>
      <key>monster_0074_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{58,45}}</string>
        <key>offset</key>
        <string>{-1,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,45}}</string>
        <key>sourceSize</key>
        <string>{58,45}</string>
      </dict>
      <key>monster_0074_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{50,52}}</string>
        <key>offset</key>
        <string>{5,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,52}}</string>
        <key>sourceSize</key>
        <string>{50,52}</string>
      </dict>
      <key>monster_0074_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{51,53}}</string>
        <key>offset</key>
        <string>{4,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{51,53}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0074_0_0.png</string>
      <key>size</key>
      <string>{306,194}</string>
      <key>textureFileName</key>
      <string>monster_0074_0_0.png</string>
    </dict>
  </dict>
</plist>