<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0381_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1531,183},{179,171}}</string>
        <key>offset</key>
        <string>{-30,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,171}}</string>
        <key>sourceSize</key>
        <string>{179,171}</string>
      </dict>
      <key>monster_0381_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1148,360},{162,198}}</string>
        <key>offset</key>
        <string>{-28,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,198}}</string>
        <key>sourceSize</key>
        <string>{162,198}</string>
      </dict>
      <key>monster_0381_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1460,0},{156,181}}</string>
        <key>offset</key>
        <string>{-30,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,181}}</string>
        <key>sourceSize</key>
        <string>{156,181}</string>
      </dict>
      <key>monster_0381_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1247,894},{168,184}}</string>
        <key>offset</key>
        <string>{-34,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,184}}</string>
        <key>sourceSize</key>
        <string>{168,184}</string>
      </dict>
      <key>monster_0381_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,716},{167,196}}</string>
        <key>offset</key>
        <string>{-35,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,196}}</string>
        <key>sourceSize</key>
        <string>{167,196}</string>
      </dict>
      <key>monster_0381_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1348,360},{181,198}}</string>
        <key>offset</key>
        <string>{-61,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,198}}</string>
        <key>sourceSize</key>
        <string>{181,198}</string>
      </dict>
      <key>monster_0381_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,208},{169,202}}</string>
        <key>offset</key>
        <string>{-47,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,202}}</string>
        <key>sourceSize</key>
        <string>{169,202}</string>
      </dict>
      <key>monster_0381_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1247,1064},{156,183}}</string>
        <key>offset</key>
        <string>{-28,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,183}}</string>
        <key>sourceSize</key>
        <string>{156,183}</string>
      </dict>
      <key>monster_0381_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,1151},{205,171}}</string>
        <key>offset</key>
        <string>{-58,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,171}}</string>
        <key>sourceSize</key>
        <string>{205,171}</string>
      </dict>
      <key>monster_0381_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,1243},{183,191}}</string>
        <key>offset</key>
        <string>{-16,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,191}}</string>
        <key>sourceSize</key>
        <string>{183,191}</string>
      </dict>
      <key>monster_0381_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,0},{164,200}}</string>
        <key>offset</key>
        <string>{-27,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,200}}</string>
        <key>sourceSize</key>
        <string>{164,200}</string>
      </dict>
      <key>monster_0381_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,885},{162,193}}</string>
        <key>offset</key>
        <string>{-34,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,193}}</string>
        <key>sourceSize</key>
        <string>{162,193}</string>
      </dict>
      <key>monster_0381_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,1225},{173,214}}</string>
        <key>offset</key>
        <string>{-5,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,214}}</string>
        <key>sourceSize</key>
        <string>{173,214}</string>
      </dict>
      <key>monster_0381_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,1251},{230,196}}</string>
        <key>offset</key>
        <string>{-88,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,196}}</string>
        <key>sourceSize</key>
        <string>{230,196}</string>
      </dict>
      <key>monster_0381_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,889},{205,200}}</string>
        <key>offset</key>
        <string>{-65,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,200}}</string>
        <key>sourceSize</key>
        <string>{205,200}</string>
      </dict>
      <key>monster_0381_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,524},{190,198}}</string>
        <key>offset</key>
        <string>{-72,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,198}}</string>
        <key>sourceSize</key>
        <string>{190,198}</string>
      </dict>
      <key>monster_0381_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,0},{186,202}}</string>
        <key>offset</key>
        <string>{-75,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,202}}</string>
        <key>sourceSize</key>
        <string>{186,202}</string>
      </dict>
      <key>monster_0381_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,771},{225,179}}</string>
        <key>offset</key>
        <string>{-42,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,179}}</string>
        <key>sourceSize</key>
        <string>{225,179}</string>
      </dict>
      <key>monster_0381_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,436},{163,208}}</string>
        <key>offset</key>
        <string>{-13,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,208}}</string>
        <key>sourceSize</key>
        <string>{163,208}</string>
      </dict>
      <key>monster_0381_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,530},{239,192}}</string>
        <key>offset</key>
        <string>{-42,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,192}}</string>
        <key>sourceSize</key>
        <string>{239,192}</string>
      </dict>
      <key>monster_0381_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,1096},{202,182}}</string>
        <key>offset</key>
        <string>{-6,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,182}}</string>
        <key>sourceSize</key>
        <string>{202,182}</string>
      </dict>
      <key>monster_0381_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1015},{234,202}}</string>
        <key>offset</key>
        <string>{-78,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,202}}</string>
        <key>sourceSize</key>
        <string>{234,202}</string>
      </dict>
      <key>monster_0381_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,250},{239,206}}</string>
        <key>offset</key>
        <string>{-87,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,206}}</string>
        <key>sourceSize</key>
        <string>{239,206}</string>
      </dict>
      <key>monster_0381_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,166},{192,200}}</string>
        <key>offset</key>
        <string>{-62,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,200}}</string>
        <key>sourceSize</key>
        <string>{192,200}</string>
      </dict>
      <key>monster_0381_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,1049},{165,192}}</string>
        <key>offset</key>
        <string>{-36,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,192}}</string>
        <key>sourceSize</key>
        <string>{165,192}</string>
      </dict>
      <key>monster_0381_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,676},{211,163}}</string>
        <key>offset</key>
        <string>{-69,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,163}}</string>
        <key>sourceSize</key>
        <string>{211,163}</string>
      </dict>
      <key>monster_0381_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,998},{171,225}}</string>
        <key>offset</key>
        <string>{-8,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,225}}</string>
        <key>sourceSize</key>
        <string>{171,225}</string>
      </dict>
      <key>monster_0381_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{248,201}}</string>
        <key>offset</key>
        <string>{-44,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,201}}</string>
        <key>sourceSize</key>
        <string>{248,201}</string>
      </dict>
      <key>monster_0381_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{236,156}}</string>
        <key>offset</key>
        <string>{-58,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,156}}</string>
        <key>sourceSize</key>
        <string>{236,156}</string>
      </dict>
      <key>monster_0381_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,0},{217,193}}</string>
        <key>offset</key>
        <string>{-86,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,193}}</string>
        <key>sourceSize</key>
        <string>{217,193}</string>
      </dict>
      <key>monster_0381_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,217},{206,205}}</string>
        <key>offset</key>
        <string>{-79,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,205}}</string>
        <key>sourceSize</key>
        <string>{206,205}</string>
      </dict>
      <key>monster_0381_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,646},{205,192}}</string>
        <key>offset</key>
        <string>{-73,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,192}}</string>
        <key>sourceSize</key>
        <string>{205,192}</string>
      </dict>
      <key>monster_0381_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,459},{215,171}}</string>
        <key>offset</key>
        <string>{-85,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,171}}</string>
        <key>sourceSize</key>
        <string>{215,171}</string>
      </dict>
      <key>monster_0381_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1470,560},{173,166}}</string>
        <key>offset</key>
        <string>{-44,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,166}}</string>
        <key>sourceSize</key>
        <string>{173,166}</string>
      </dict>
      <key>monster_0381_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,238},{180,219}}</string>
        <key>offset</key>
        <string>{-20,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,219}}</string>
        <key>sourceSize</key>
        <string>{180,219}</string>
      </dict>
      <key>monster_0381_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,1006},{163,226}}</string>
        <key>offset</key>
        <string>{-19,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,226}}</string>
        <key>sourceSize</key>
        <string>{163,226}</string>
      </dict>
      <key>monster_0381_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1257,728},{195,164}}</string>
        <key>offset</key>
        <string>{-65,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,164}}</string>
        <key>sourceSize</key>
        <string>{195,164}</string>
      </dict>
      <key>monster_0381_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1251},{232,178}}</string>
        <key>offset</key>
        <string>{-60,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,178}}</string>
        <key>sourceSize</key>
        <string>{232,178}</string>
      </dict>
      <key>monster_0381_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,425},{203,194}}</string>
        <key>offset</key>
        <string>{-32,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,194}}</string>
        <key>sourceSize</key>
        <string>{203,194}</string>
      </dict>
      <key>monster_0381_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,219},{215,189}}</string>
        <key>offset</key>
        <string>{-74,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,189}}</string>
        <key>sourceSize</key>
        <string>{215,189}</string>
      </dict>
      <key>monster_0381_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,773},{240,176}}</string>
        <key>offset</key>
        <string>{-83,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,176}}</string>
        <key>sourceSize</key>
        <string>{240,176}</string>
      </dict>
      <key>monster_0381_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1432,1246},{180,171}}</string>
        <key>offset</key>
        <string>{-58,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,171}}</string>
        <key>sourceSize</key>
        <string>{180,171}</string>
      </dict>
      <key>monster_0381_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,0},{206,186}}</string>
        <key>offset</key>
        <string>{-70,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,186}}</string>
        <key>sourceSize</key>
        <string>{206,186}</string>
      </dict>
      <key>monster_0381_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,491},{170,225}}</string>
        <key>offset</key>
        <string>{-18,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,225}}</string>
        <key>sourceSize</key>
        <string>{170,225}</string>
      </dict>
      <key>monster_0381_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1531,364},{173,167}}</string>
        <key>offset</key>
        <string>{-65,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,167}}</string>
        <key>sourceSize</key>
        <string>{173,167}</string>
      </dict>
      <key>monster_0381_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,530},{241,169}}</string>
        <key>offset</key>
        <string>{-42,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,169}}</string>
        <key>sourceSize</key>
        <string>{241,169}</string>
      </dict>
      <key>monster_0381_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,771},{233,175}}</string>
        <key>offset</key>
        <string>{-45,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,175}}</string>
        <key>sourceSize</key>
        <string>{233,175}</string>
      </dict>
      <key>monster_0381_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,1300},{202,176}}</string>
        <key>offset</key>
        <string>{-17,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,176}}</string>
        <key>sourceSize</key>
        <string>{202,176}</string>
      </dict>
      <key>monster_0381_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1271,560},{197,166}}</string>
        <key>offset</key>
        <string>{-23,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,166}}</string>
        <key>sourceSize</key>
        <string>{197,166}</string>
      </dict>
      <key>monster_0381_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1432,1072},{181,172}}</string>
        <key>offset</key>
        <string>{-73,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,172}}</string>
        <key>sourceSize</key>
        <string>{181,172}</string>
      </dict>
      <key>monster_0381_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,1358},{203,176}}</string>
        <key>offset</key>
        <string>{-83,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,176}}</string>
        <key>sourceSize</key>
        <string>{203,176}</string>
      </dict>
      <key>monster_0381_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{258,187}}</string>
        <key>offset</key>
        <string>{-88,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,187}}</string>
        <key>sourceSize</key>
        <string>{258,187}</string>
      </dict>
      <key>monster_0381_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1077,1049},{188,168}}</string>
        <key>offset</key>
        <string>{-86,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,168}}</string>
        <key>sourceSize</key>
        <string>{188,168}</string>
      </dict>
      <key>monster_0381_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,718},{217,162}}</string>
        <key>offset</key>
        <string>{-55,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,162}}</string>
        <key>sourceSize</key>
        <string>{217,162}</string>
      </dict>
      <key>monster_0381_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,937},{212,164}}</string>
        <key>offset</key>
        <string>{-57,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,164}}</string>
        <key>sourceSize</key>
        <string>{212,164}</string>
      </dict>
      <key>monster_0381_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,0},{215,163}}</string>
        <key>offset</key>
        <string>{-41,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,163}}</string>
        <key>sourceSize</key>
        <string>{215,163}</string>
      </dict>
      <key>monster_0381_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1256,1394},{166,162}}</string>
        <key>offset</key>
        <string>{-32,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,162}}</string>
        <key>sourceSize</key>
        <string>{166,162}</string>
      </dict>
      <key>monster_0381_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1089,1436},{165,167}}</string>
        <key>offset</key>
        <string>{-35,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,167}}</string>
        <key>sourceSize</key>
        <string>{165,167}</string>
      </dict>
      <key>monster_0381_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,1436},{151,169}}</string>
        <key>offset</key>
        <string>{-41,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,169}}</string>
        <key>sourceSize</key>
        <string>{151,169}</string>
      </dict>
      <key>monster_0381_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{268,159}}</string>
        <key>offset</key>
        <string>{-96,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,159}}</string>
        <key>sourceSize</key>
        <string>{268,159}</string>
      </dict>
      <key>monster_0381_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1247,1222},{183,170}}</string>
        <key>offset</key>
        <string>{-57,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,170}}</string>
        <key>sourceSize</key>
        <string>{183,170}</string>
      </dict>
      <key>monster_0381_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1433,894},{176,182}}</string>
        <key>offset</key>
        <string>{-30,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,182}}</string>
        <key>sourceSize</key>
        <string>{176,182}</string>
      </dict>
      <key>monster_0381_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1454,728},{163,180}}</string>
        <key>offset</key>
        <string>{-30,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,180}}</string>
        <key>sourceSize</key>
        <string>{163,180}</string>
      </dict>
      <key>monster_0381_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,1441},{170,166}}</string>
        <key>offset</key>
        <string>{-39,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,166}}</string>
        <key>sourceSize</key>
        <string>{170,166}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0381_0_2.png</string>
      <key>size</key>
      <string>{1706,1621}</string>
      <key>textureFileName</key>
      <string>monster_0381_0_2.png</string>
    </dict>
  </dict>
</plist>