<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0215_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,538},{129,100}}</string>
        <key>offset</key>
        <string>{-33,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,100}}</string>
        <key>sourceSize</key>
        <string>{129,100}</string>
      </dict>
      <key>monster_0215_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,400},{124,111}}</string>
        <key>offset</key>
        <string>{-33,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,111}}</string>
        <key>sourceSize</key>
        <string>{124,111}</string>
      </dict>
      <key>monster_0215_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,133},{127,105}}</string>
        <key>offset</key>
        <string>{-34,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,105}}</string>
        <key>sourceSize</key>
        <string>{127,105}</string>
      </dict>
      <key>monster_0215_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,285},{137,116}}</string>
        <key>offset</key>
        <string>{-36,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,116}}</string>
        <key>sourceSize</key>
        <string>{137,116}</string>
      </dict>
      <key>monster_0215_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,262},{124,120}}</string>
        <key>offset</key>
        <string>{-35,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,120}}</string>
        <key>sourceSize</key>
        <string>{124,120}</string>
      </dict>
      <key>monster_0215_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,273},{131,117}}</string>
        <key>offset</key>
        <string>{-35,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,117}}</string>
        <key>sourceSize</key>
        <string>{131,117}</string>
      </dict>
      <key>monster_0215_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,119},{101,112}}</string>
        <key>offset</key>
        <string>{-18,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,112}}</string>
        <key>sourceSize</key>
        <string>{101,112}</string>
      </dict>
      <key>monster_0215_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,526},{122,111}}</string>
        <key>offset</key>
        <string>{-31,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,111}}</string>
        <key>sourceSize</key>
        <string>{122,111}</string>
      </dict>
      <key>monster_0215_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,250},{112,110}}</string>
        <key>offset</key>
        <string>{-23,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,110}}</string>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>monster_0215_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,424},{135,112}}</string>
        <key>offset</key>
        <string>{-32,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,112}}</string>
        <key>sourceSize</key>
        <string>{135,112}</string>
      </dict>
      <key>monster_0215_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,106}}</string>
        <key>offset</key>
        <string>{-40,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,106}}</string>
        <key>sourceSize</key>
        <string>{142,106}</string>
      </dict>
      <key>monster_0215_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{139,106}}</string>
        <key>offset</key>
        <string>{-35,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,106}}</string>
        <key>sourceSize</key>
        <string>{139,106}</string>
      </dict>
      <key>monster_0215_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,406},{130,104}}</string>
        <key>offset</key>
        <string>{-30,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,104}}</string>
        <key>sourceSize</key>
        <string>{130,104}</string>
      </dict>
      <key>monster_0215_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,137},{134,103}}</string>
        <key>offset</key>
        <string>{-27,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,103}}</string>
        <key>sourceSize</key>
        <string>{134,103}</string>
      </dict>
      <key>monster_0215_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,137},{131,100}}</string>
        <key>offset</key>
        <string>{-28,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,100}}</string>
        <key>sourceSize</key>
        <string>{131,100}</string>
      </dict>
      <key>monster_0215_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{136,108}}</string>
        <key>offset</key>
        <string>{-27,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,108}}</string>
        <key>sourceSize</key>
        <string>{136,108}</string>
      </dict>
      <key>monster_0215_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,129},{119,111}}</string>
        <key>offset</key>
        <string>{-15,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,111}}</string>
        <key>sourceSize</key>
        <string>{119,111}</string>
      </dict>
      <key>monster_0215_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{127,109}}</string>
        <key>offset</key>
        <string>{-23,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,109}}</string>
        <key>sourceSize</key>
        <string>{127,109}</string>
      </dict>
      <key>monster_0215_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{107,117}}</string>
        <key>offset</key>
        <string>{-17,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,117}}</string>
        <key>sourceSize</key>
        <string>{107,117}</string>
      </dict>
      <key>monster_0215_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,506},{111,114}}</string>
        <key>offset</key>
        <string>{-16,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,114}}</string>
        <key>sourceSize</key>
        <string>{111,114}</string>
      </dict>
      <key>monster_0215_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,388},{105,116}}</string>
        <key>offset</key>
        <string>{-17,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,116}}</string>
        <key>sourceSize</key>
        <string>{105,116}</string>
      </dict>
      <key>monster_0215_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,270},{128,114}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,114}}</string>
        <key>sourceSize</key>
        <string>{128,114}</string>
      </dict>
      <key>monster_0215_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{135,107}}</string>
        <key>offset</key>
        <string>{-31,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,107}}</string>
        <key>sourceSize</key>
        <string>{135,107}</string>
      </dict>
      <key>monster_0215_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{131,109}}</string>
        <key>offset</key>
        <string>{-31,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,109}}</string>
        <key>sourceSize</key>
        <string>{131,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0215_0_7.png</string>
      <key>size</key>
      <string>{640,640}</string>
      <key>textureFileName</key>
      <string>monster_0215_0_7.png</string>
    </dict>
  </dict>
</plist>