<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0242_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,832},{157,325}}</string>
        <key>offset</key>
        <string>{-35,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,325}}</string>
        <key>sourceSize</key>
        <string>{157,325}</string>
      </dict>
      <key>monster_0242_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,322},{151,305}}</string>
        <key>offset</key>
        <string>{-40,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,305}}</string>
        <key>sourceSize</key>
        <string>{151,305}</string>
      </dict>
      <key>monster_0242_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,503},{168,322}}</string>
        <key>offset</key>
        <string>{-21,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,322}}</string>
        <key>sourceSize</key>
        <string>{168,322}</string>
      </dict>
      <key>monster_0242_0_7_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,0},{154,320}}</string>
        <key>offset</key>
        <string>{-25,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,320}}</string>
        <key>sourceSize</key>
        <string>{154,320}</string>
      </dict>
      <key>monster_0242_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,0},{354,258}}</string>
        <key>offset</key>
        <string>{-169,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,258}}</string>
        <key>sourceSize</key>
        <string>{354,258}</string>
      </dict>
      <key>monster_0242_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,260},{342,241}}</string>
        <key>offset</key>
        <string>{-177,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,241}}</string>
        <key>sourceSize</key>
        <string>{342,241}</string>
      </dict>
      <key>monster_0242_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,442},{398,233}}</string>
        <key>offset</key>
        <string>{-180,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,233}}</string>
        <key>sourceSize</key>
        <string>{398,233}</string>
      </dict>
      <key>monster_0242_0_7_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{381,237}}</string>
        <key>offset</key>
        <string>{-170,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,237}}</string>
        <key>sourceSize</key>
        <string>{381,237}</string>
      </dict>
      <key>monster_0242_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,461},{456,144}}</string>
        <key>offset</key>
        <string>{-230,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,144}}</string>
        <key>sourceSize</key>
        <string>{456,144}</string>
      </dict>
      <key>monster_0242_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{459,154}}</string>
        <key>offset</key>
        <string>{-231,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{459,154}}</string>
        <key>sourceSize</key>
        <string>{459,154}</string>
      </dict>
      <key>monster_0242_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{440,156}}</string>
        <key>offset</key>
        <string>{-226,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,156}}</string>
        <key>sourceSize</key>
        <string>{440,156}</string>
      </dict>
      <key>monster_0242_0_7_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,461},{448,145}}</string>
        <key>offset</key>
        <string>{-229,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,145}}</string>
        <key>sourceSize</key>
        <string>{448,145}</string>
      </dict>
      <key>monster_0242_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,503},{327,178}}</string>
        <key>offset</key>
        <string>{-143,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,178}}</string>
        <key>sourceSize</key>
        <string>{327,178}</string>
      </dict>
      <key>monster_0242_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,842},{335,169}}</string>
        <key>offset</key>
        <string>{-138,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,169}}</string>
        <key>sourceSize</key>
        <string>{335,169}</string>
      </dict>
      <key>monster_0242_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,1013},{286,179}}</string>
        <key>offset</key>
        <string>{-128,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,179}}</string>
        <key>sourceSize</key>
        <string>{286,179}</string>
      </dict>
      <key>monster_0242_0_7_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1013},{293,184}}</string>
        <key>offset</key>
        <string>{-144,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,184}}</string>
        <key>sourceSize</key>
        <string>{293,184}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0242_0_7_0.png</string>
      <key>size</key>
      <string>{1103,1209}</string>
      <key>textureFileName</key>
      <string>monster_0242_0_7_0.png</string>
    </dict>
  </dict>
</plist>