<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0261_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,710},{50,106}}</string>
        <key>offset</key>
        <string>{6,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,106}}</string>
        <key>sourceSize</key>
        <string>{50,106}</string>
      </dict>
      <key>monster_0261_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,0},{55,101}}</string>
        <key>offset</key>
        <string>{5,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,101}}</string>
        <key>sourceSize</key>
        <string>{55,101}</string>
      </dict>
      <key>monster_0261_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,246},{57,100}}</string>
        <key>offset</key>
        <string>{5,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,100}}</string>
        <key>sourceSize</key>
        <string>{57,100}</string>
      </dict>
      <key>monster_0261_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,568},{56,105}}</string>
        <key>offset</key>
        <string>{8,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,105}}</string>
        <key>sourceSize</key>
        <string>{56,105}</string>
      </dict>
      <key>monster_0261_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,448},{55,105}}</string>
        <key>offset</key>
        <string>{8,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,105}}</string>
        <key>sourceSize</key>
        <string>{55,105}</string>
      </dict>
      <key>monster_0261_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,555},{54,104}}</string>
        <key>offset</key>
        <string>{8,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,104}}</string>
        <key>sourceSize</key>
        <string>{54,104}</string>
      </dict>
      <key>monster_0261_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,448},{55,104}}</string>
        <key>offset</key>
        <string>{7,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,104}}</string>
        <key>sourceSize</key>
        <string>{55,104}</string>
      </dict>
      <key>monster_0261_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,340},{53,106}}</string>
        <key>offset</key>
        <string>{7,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,106}}</string>
        <key>sourceSize</key>
        <string>{53,106}</string>
      </dict>
      <key>monster_0261_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,116},{113,90}}</string>
        <key>offset</key>
        <string>{-24,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,90}}</string>
        <key>sourceSize</key>
        <string>{113,90}</string>
      </dict>
      <key>monster_0261_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{113,87}}</string>
        <key>offset</key>
        <string>{-23,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,87}}</string>
        <key>sourceSize</key>
        <string>{113,87}</string>
      </dict>
      <key>monster_0261_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,230},{108,86}}</string>
        <key>offset</key>
        <string>{-17,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,86}}</string>
        <key>sourceSize</key>
        <string>{108,86}</string>
      </dict>
      <key>monster_0261_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,0},{113,91}}</string>
        <key>offset</key>
        <string>{-19,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,91}}</string>
        <key>sourceSize</key>
        <string>{113,91}</string>
      </dict>
      <key>monster_0261_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,371},{113,91}}</string>
        <key>offset</key>
        <string>{-20,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,91}}</string>
        <key>sourceSize</key>
        <string>{113,91}</string>
      </dict>
      <key>monster_0261_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,231},{113,92}}</string>
        <key>offset</key>
        <string>{-21,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,92}}</string>
        <key>sourceSize</key>
        <string>{113,92}</string>
      </dict>
      <key>monster_0261_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,115},{113,89}}</string>
        <key>offset</key>
        <string>{-22,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,89}}</string>
        <key>sourceSize</key>
        <string>{113,89}</string>
      </dict>
      <key>monster_0261_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,486},{113,91}}</string>
        <key>offset</key>
        <string>{-22,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,91}}</string>
        <key>sourceSize</key>
        <string>{113,91}</string>
      </dict>
      <key>monster_0261_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{149,62}}</string>
        <key>offset</key>
        <string>{-41,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,62}}</string>
        <key>sourceSize</key>
        <string>{149,62}</string>
      </dict>
      <key>monster_0261_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,596},{142,63}}</string>
        <key>offset</key>
        <string>{-33,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,63}}</string>
        <key>sourceSize</key>
        <string>{142,63}</string>
      </dict>
      <key>monster_0261_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,149},{140,62}}</string>
        <key>offset</key>
        <string>{-32,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,62}}</string>
        <key>sourceSize</key>
        <string>{140,62}</string>
      </dict>
      <key>monster_0261_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{144,64}}</string>
        <key>offset</key>
        <string>{-34,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,64}}</string>
        <key>sourceSize</key>
        <string>{144,64}</string>
      </dict>
      <key>monster_0261_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{144,62}}</string>
        <key>offset</key>
        <string>{-36,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,62}}</string>
        <key>sourceSize</key>
        <string>{144,62}</string>
      </dict>
      <key>monster_0261_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,302},{146,63}}</string>
        <key>offset</key>
        <string>{-38,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,63}}</string>
        <key>sourceSize</key>
        <string>{146,63}</string>
      </dict>
      <key>monster_0261_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{147,63}}</string>
        <key>offset</key>
        <string>{-39,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,63}}</string>
        <key>sourceSize</key>
        <string>{147,63}</string>
      </dict>
      <key>monster_0261_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,151},{149,63}}</string>
        <key>offset</key>
        <string>{-39,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,63}}</string>
        <key>sourceSize</key>
        <string>{149,63}</string>
      </dict>
      <key>monster_0261_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,676},{117,81}}</string>
        <key>offset</key>
        <string>{-24,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,81}}</string>
        <key>sourceSize</key>
        <string>{117,81}</string>
      </dict>
      <key>monster_0261_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,601},{107,78}}</string>
        <key>offset</key>
        <string>{-17,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,78}}</string>
        <key>sourceSize</key>
        <string>{107,78}</string>
      </dict>
      <key>monster_0261_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,340},{106,75}}</string>
        <key>offset</key>
        <string>{-17,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,75}}</string>
        <key>sourceSize</key>
        <string>{106,75}</string>
      </dict>
      <key>monster_0261_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,459},{107,75}}</string>
        <key>offset</key>
        <string>{-18,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,75}}</string>
        <key>sourceSize</key>
        <string>{107,75}</string>
      </dict>
      <key>monster_0261_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{114,76}}</string>
        <key>offset</key>
        <string>{-25,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,76}}</string>
        <key>sourceSize</key>
        <string>{114,76}</string>
      </dict>
      <key>monster_0261_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,137},{116,75}}</string>
        <key>offset</key>
        <string>{-28,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,75}}</string>
        <key>sourceSize</key>
        <string>{116,75}</string>
      </dict>
      <key>monster_0261_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,346},{111,75}}</string>
        <key>offset</key>
        <string>{-22,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,75}}</string>
        <key>sourceSize</key>
        <string>{111,75}</string>
      </dict>
      <key>monster_0261_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,255},{114,76}}</string>
        <key>offset</key>
        <string>{-22,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,76}}</string>
        <key>sourceSize</key>
        <string>{114,76}</string>
      </dict>
      <key>monster_0261_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,324},{53,90}}</string>
        <key>offset</key>
        <string>{8,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,90}}</string>
        <key>sourceSize</key>
        <string>{53,90}</string>
      </dict>
      <key>monster_0261_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,609},{53,90}}</string>
        <key>offset</key>
        <string>{7,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,90}}</string>
        <key>sourceSize</key>
        <string>{53,90}</string>
      </dict>
      <key>monster_0261_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,609},{53,89}}</string>
        <key>offset</key>
        <string>{6,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,89}}</string>
        <key>sourceSize</key>
        <string>{53,89}</string>
      </dict>
      <key>monster_0261_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,506},{52,88}}</string>
        <key>offset</key>
        <string>{6,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,88}}</string>
        <key>sourceSize</key>
        <string>{52,88}</string>
      </dict>
      <key>monster_0261_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,324},{51,89}}</string>
        <key>offset</key>
        <string>{6,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,89}}</string>
        <key>sourceSize</key>
        <string>{51,89}</string>
      </dict>
      <key>monster_0261_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,701},{52,90}}</string>
        <key>offset</key>
        <string>{6,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,90}}</string>
        <key>sourceSize</key>
        <string>{52,90}</string>
      </dict>
      <key>monster_0261_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,415},{52,89}}</string>
        <key>offset</key>
        <string>{7,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,89}}</string>
        <key>sourceSize</key>
        <string>{52,89}</string>
      </dict>
      <key>monster_0261_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,700},{53,89}}</string>
        <key>offset</key>
        <string>{8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,89}}</string>
        <key>sourceSize</key>
        <string>{53,89}</string>
      </dict>
      <key>monster_0261_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{102,76}}</string>
        <key>offset</key>
        <string>{-21,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,76}}</string>
        <key>sourceSize</key>
        <string>{102,76}</string>
      </dict>
      <key>monster_0261_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,171},{100,75}}</string>
        <key>offset</key>
        <string>{-22,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,75}}</string>
        <key>sourceSize</key>
        <string>{100,75}</string>
      </dict>
      <key>monster_0261_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,248},{100,74}}</string>
        <key>offset</key>
        <string>{-24,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,74}}</string>
        <key>sourceSize</key>
        <string>{100,74}</string>
      </dict>
      <key>monster_0261_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,78},{102,73}}</string>
        <key>offset</key>
        <string>{-25,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,73}}</string>
        <key>sourceSize</key>
        <string>{102,73}</string>
      </dict>
      <key>monster_0261_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,92},{102,77}}</string>
        <key>offset</key>
        <string>{-24,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,77}}</string>
        <key>sourceSize</key>
        <string>{102,77}</string>
      </dict>
      <key>monster_0261_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,554},{104,80}}</string>
        <key>offset</key>
        <string>{-24,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,80}}</string>
        <key>sourceSize</key>
        <string>{104,80}</string>
      </dict>
      <key>monster_0261_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,660},{104,75}}</string>
        <key>offset</key>
        <string>{-24,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,75}}</string>
        <key>sourceSize</key>
        <string>{104,75}</string>
      </dict>
      <key>monster_0261_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,246},{101,75}}</string>
        <key>offset</key>
        <string>{-23,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,75}}</string>
        <key>sourceSize</key>
        <string>{101,75}</string>
      </dict>
      <key>monster_0261_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,291},{138,62}}</string>
        <key>offset</key>
        <string>{-40,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,62}}</string>
        <key>sourceSize</key>
        <string>{138,62}</string>
      </dict>
      <key>monster_0261_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,137},{134,63}}</string>
        <key>offset</key>
        <string>{-41,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,63}}</string>
        <key>sourceSize</key>
        <string>{134,63}</string>
      </dict>
      <key>monster_0261_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,408},{132,65}}</string>
        <key>offset</key>
        <string>{-41,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,65}}</string>
        <key>sourceSize</key>
        <string>{132,65}</string>
      </dict>
      <key>monster_0261_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,542},{132,66}}</string>
        <key>offset</key>
        <string>{-40,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,66}}</string>
        <key>sourceSize</key>
        <string>{132,66}</string>
      </dict>
      <key>monster_0261_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,273},{133,63}}</string>
        <key>offset</key>
        <string>{-39,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,63}}</string>
        <key>sourceSize</key>
        <string>{133,63}</string>
      </dict>
      <key>monster_0261_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{135,65}}</string>
        <key>offset</key>
        <string>{-40,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,65}}</string>
        <key>sourceSize</key>
        <string>{135,65}</string>
      </dict>
      <key>monster_0261_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,431},{137,65}}</string>
        <key>offset</key>
        <string>{-41,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,65}}</string>
        <key>sourceSize</key>
        <string>{137,65}</string>
      </dict>
      <key>monster_0261_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,570},{136,64}}</string>
        <key>offset</key>
        <string>{-41,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,64}}</string>
        <key>sourceSize</key>
        <string>{136,64}</string>
      </dict>
      <key>monster_0261_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,675},{105,91}}</string>
        <key>offset</key>
        <string>{-24,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,91}}</string>
        <key>sourceSize</key>
        <string>{105,91}</string>
      </dict>
      <key>monster_0261_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,323},{101,91}}</string>
        <key>offset</key>
        <string>{-23,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,91}}</string>
        <key>sourceSize</key>
        <string>{101,91}</string>
      </dict>
      <key>monster_0261_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,324},{99,87}}</string>
        <key>offset</key>
        <string>{-22,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,87}}</string>
        <key>sourceSize</key>
        <string>{99,87}</string>
      </dict>
      <key>monster_0261_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,425},{98,90}}</string>
        <key>offset</key>
        <string>{-21,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{98,90}</string>
      </dict>
      <key>monster_0261_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,517},{98,90}}</string>
        <key>offset</key>
        <string>{-19,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{98,90}</string>
      </dict>
      <key>monster_0261_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,0},{103,90}}</string>
        <key>offset</key>
        <string>{-20,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,90}}</string>
        <key>sourceSize</key>
        <string>{103,90}</string>
      </dict>
      <key>monster_0261_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,426},{101,90}}</string>
        <key>offset</key>
        <string>{-22,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,90}}</string>
        <key>sourceSize</key>
        <string>{101,90}</string>
      </dict>
      <key>monster_0261_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,153},{102,91}}</string>
        <key>offset</key>
        <string>{-23,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,91}}</string>
        <key>sourceSize</key>
        <string>{102,91}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0261_0_2.png</string>
      <key>size</key>
      <string>{793,769}</string>
      <key>textureFileName</key>
      <string>monster_0261_0_2.png</string>
    </dict>
  </dict>
</plist>