<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0342_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,816},{401,341}}</string>
        <key>offset</key>
        <string>{-139,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,341}}</string>
        <key>sourceSize</key>
        <string>{401,341}</string>
      </dict>
      <key>monster_0342_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,835},{404,362}}</string>
        <key>offset</key>
        <string>{-140,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,362}}</string>
        <key>sourceSize</key>
        <string>{404,362}</string>
      </dict>
      <key>monster_0342_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{408,365}}</string>
        <key>offset</key>
        <string>{-142,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,365}}</string>
        <key>sourceSize</key>
        <string>{408,365}</string>
      </dict>
      <key>monster_0342_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,410},{401,336}}</string>
        <key>offset</key>
        <string>{-139,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,336}}</string>
        <key>sourceSize</key>
        <string>{401,336}</string>
      </dict>
      <key>monster_0342_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,0},{401,338}}</string>
        <key>offset</key>
        <string>{-139,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,338}}</string>
        <key>sourceSize</key>
        <string>{401,338}</string>
      </dict>
      <key>monster_0342_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,813},{401,339}}</string>
        <key>offset</key>
        <string>{-139,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,339}}</string>
        <key>sourceSize</key>
        <string>{401,339}</string>
      </dict>
      <key>monster_0342_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,410},{404,348}}</string>
        <key>offset</key>
        <string>{-151,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,348}}</string>
        <key>sourceSize</key>
        <string>{404,348}</string>
      </dict>
      <key>monster_0342_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{416,351}}</string>
        <key>offset</key>
        <string>{-153,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,351}}</string>
        <key>sourceSize</key>
        <string>{416,351}</string>
      </dict>
      <key>monster_0342_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,418},{415,352}}</string>
        <key>offset</key>
        <string>{-154,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,352}}</string>
        <key>sourceSize</key>
        <string>{415,352}</string>
      </dict>
      <key>monster_0342_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1060,0},{397,346}}</string>
        <key>offset</key>
        <string>{-151,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,346}}</string>
        <key>sourceSize</key>
        <string>{397,346}</string>
      </dict>
      <key>monster_0342_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,804},{397,347}}</string>
        <key>offset</key>
        <string>{-151,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,347}}</string>
        <key>sourceSize</key>
        <string>{397,347}</string>
      </dict>
      <key>monster_0342_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,403},{399,348}}</string>
        <key>offset</key>
        <string>{-151,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,348}}</string>
        <key>sourceSize</key>
        <string>{399,348}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0342_0_2_2.png</string>
      <key>size</key>
      <string>{1536,1280}</string>
      <key>textureFileName</key>
      <string>monster_0342_0_2_2.png</string>
    </dict>
  </dict>
</plist>