<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0147_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,86},{71,81}}</string>
        <key>offset</key>
        <string>{-5,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,81}}</string>
        <key>sourceSize</key>
        <string>{71,81}</string>
      </dict>
      <key>monster_0147_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,479},{72,88}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,88}}</string>
        <key>sourceSize</key>
        <string>{72,88}</string>
      </dict>
      <key>monster_0147_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,161},{72,81}}</string>
        <key>offset</key>
        <string>{-5,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,81}}</string>
        <key>sourceSize</key>
        <string>{72,81}</string>
      </dict>
      <key>monster_0147_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,309},{72,79}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,79}}</string>
        <key>sourceSize</key>
        <string>{72,79}</string>
      </dict>
      <key>monster_0147_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,235},{72,81}}</string>
        <key>offset</key>
        <string>{-5,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,81}}</string>
        <key>sourceSize</key>
        <string>{72,81}</string>
      </dict>
      <key>monster_0147_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,382},{72,88}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,88}}</string>
        <key>sourceSize</key>
        <string>{72,88}</string>
      </dict>
      <key>monster_0147_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,537},{72,81}}</string>
        <key>offset</key>
        <string>{-5,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,81}}</string>
        <key>sourceSize</key>
        <string>{72,81}</string>
      </dict>
      <key>monster_0147_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,346},{72,80}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,80}}</string>
        <key>sourceSize</key>
        <string>{72,80}</string>
      </dict>
      <key>monster_0147_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,189},{78,90}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>monster_0147_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,97}}</string>
        <key>offset</key>
        <string>{-3,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,97}}</string>
        <key>sourceSize</key>
        <string>{78,97}</string>
      </dict>
      <key>monster_0147_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,289},{78,91}}</string>
        <key>offset</key>
        <string>{-3,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,91}}</string>
        <key>sourceSize</key>
        <string>{78,91}</string>
      </dict>
      <key>monster_0147_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,262},{79,82}}</string>
        <key>offset</key>
        <string>{-4,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>monster_0147_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,174},{78,82}}</string>
        <key>offset</key>
        <string>{-4,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,82}}</string>
        <key>sourceSize</key>
        <string>{78,82}</string>
      </dict>
      <key>monster_0147_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,472},{88,87}}</string>
        <key>offset</key>
        <string>{-13,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,87}}</string>
        <key>sourceSize</key>
        <string>{88,87}</string>
      </dict>
      <key>monster_0147_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,281},{78,87}}</string>
        <key>offset</key>
        <string>{-3,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,87}}</string>
        <key>sourceSize</key>
        <string>{78,87}</string>
      </dict>
      <key>monster_0147_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{78,89}}</string>
        <key>offset</key>
        <string>{-3,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,89}}</string>
        <key>sourceSize</key>
        <string>{78,89}</string>
      </dict>
      <key>monster_0147_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,195},{68,92}}</string>
        <key>offset</key>
        <string>{-1,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,92}}</string>
        <key>sourceSize</key>
        <string>{68,92}</string>
      </dict>
      <key>monster_0147_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,95},{80,90}}</string>
        <key>offset</key>
        <string>{-12,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,90}}</string>
        <key>sourceSize</key>
        <string>{80,90}</string>
      </dict>
      <key>monster_0147_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{64,90}}</string>
        <key>offset</key>
        <string>{4,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,90}}</string>
        <key>sourceSize</key>
        <string>{64,90}</string>
      </dict>
      <key>monster_0147_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,95},{63,92}}</string>
        <key>offset</key>
        <string>{4,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,92}}</string>
        <key>sourceSize</key>
        <string>{63,92}</string>
      </dict>
      <key>monster_0147_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{67,92}}</string>
        <key>offset</key>
        <string>{-1,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,92}}</string>
        <key>sourceSize</key>
        <string>{67,92}</string>
      </dict>
      <key>monster_0147_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{78,93}}</string>
        <key>offset</key>
        <string>{-11,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,93}}</string>
        <key>sourceSize</key>
        <string>{78,93}</string>
      </dict>
      <key>monster_0147_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{65,93}}</string>
        <key>offset</key>
        <string>{3,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,93}}</string>
        <key>sourceSize</key>
        <string>{65,93}</string>
      </dict>
      <key>monster_0147_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{66,93}}</string>
        <key>offset</key>
        <string>{2,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,93}}</string>
        <key>sourceSize</key>
        <string>{66,93}</string>
      </dict>
      <key>monster_0147_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,0},{82,84}}</string>
        <key>offset</key>
        <string>{-3,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,84}}</string>
        <key>sourceSize</key>
        <string>{82,84}</string>
      </dict>
      <key>monster_0147_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{94,84}}</string>
        <key>offset</key>
        <string>{-15,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,84}}</string>
        <key>sourceSize</key>
        <string>{94,84}</string>
      </dict>
      <key>monster_0147_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,276},{82,85}}</string>
        <key>offset</key>
        <string>{-2,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,85}}</string>
        <key>sourceSize</key>
        <string>{82,85}</string>
      </dict>
      <key>monster_0147_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,187},{78,87}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,87}}</string>
        <key>sourceSize</key>
        <string>{78,87}</string>
      </dict>
      <key>monster_0147_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,382},{78,88}}</string>
        <key>offset</key>
        <string>{1,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,88}}</string>
        <key>sourceSize</key>
        <string>{78,88}</string>
      </dict>
      <key>monster_0147_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,91},{78,87}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,87}}</string>
        <key>sourceSize</key>
        <string>{78,87}</string>
      </dict>
      <key>monster_0147_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,180},{79,85}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,85}}</string>
        <key>sourceSize</key>
        <string>{79,85}</string>
      </dict>
      <key>monster_0147_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,0},{78,84}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,84}}</string>
        <key>sourceSize</key>
        <string>{78,84}</string>
      </dict>
      <key>monster_0147_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,88},{85,79}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,79}}</string>
        <key>sourceSize</key>
        <string>{85,79}</string>
      </dict>
      <key>monster_0147_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,80},{84,79}}</string>
        <key>offset</key>
        <string>{0,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,79}}</string>
        <key>sourceSize</key>
        <string>{84,79}</string>
      </dict>
      <key>monster_0147_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,354},{84,80}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,80}}</string>
        <key>sourceSize</key>
        <string>{84,80}</string>
      </dict>
      <key>monster_0147_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,0},{85,79}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,79}}</string>
        <key>sourceSize</key>
        <string>{85,79}</string>
      </dict>
      <key>monster_0147_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,560},{85,78}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0147_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{86,79}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,79}}</string>
        <key>sourceSize</key>
        <string>{86,79}</string>
      </dict>
      <key>monster_0147_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,472},{86,80}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,80}}</string>
        <key>sourceSize</key>
        <string>{86,80}</string>
      </dict>
      <key>monster_0147_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,370},{86,79}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,79}}</string>
        <key>sourceSize</key>
        <string>{86,79}</string>
      </dict>
      <key>monster_0147_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,562},{85,76}}</string>
        <key>offset</key>
        <string>{-10,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,76}}</string>
        <key>sourceSize</key>
        <string>{85,76}</string>
      </dict>
      <key>monster_0147_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,458},{85,77}}</string>
        <key>offset</key>
        <string>{-10,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,77}}</string>
        <key>sourceSize</key>
        <string>{85,77}</string>
      </dict>
      <key>monster_0147_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,545},{85,78}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0147_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,363},{85,78}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0147_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,450},{85,77}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,77}}</string>
        <key>sourceSize</key>
        <string>{85,77}</string>
      </dict>
      <key>monster_0147_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,267},{85,78}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0147_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,175},{85,78}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0147_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,87},{85,77}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,77}}</string>
        <key>sourceSize</key>
        <string>{85,77}</string>
      </dict>
      <key>monster_0147_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,459},{78,74}}</string>
        <key>offset</key>
        <string>{-10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,74}}</string>
        <key>sourceSize</key>
        <string>{78,74}</string>
      </dict>
      <key>monster_0147_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,699},{76,75}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,75}}</string>
        <key>sourceSize</key>
        <string>{76,75}</string>
      </dict>
      <key>monster_0147_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,620},{77,76}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,76}}</string>
        <key>sourceSize</key>
        <string>{77,76}</string>
      </dict>
      <key>monster_0147_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,611},{77,75}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>monster_0147_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,383},{79,74}}</string>
        <key>offset</key>
        <string>{-9,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,74}}</string>
        <key>sourceSize</key>
        <string>{79,74}</string>
      </dict>
      <key>monster_0147_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,523},{79,73}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,73}}</string>
        <key>sourceSize</key>
        <string>{79,73}</string>
      </dict>
      <key>monster_0147_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,523},{79,74}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,74}}</string>
        <key>sourceSize</key>
        <string>{79,74}</string>
      </dict>
      <key>monster_0147_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,535},{78,74}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,74}}</string>
        <key>sourceSize</key>
        <string>{78,74}</string>
      </dict>
      <key>monster_0147_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{77,70}}</string>
        <key>offset</key>
        <string>{-10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,70}}</string>
        <key>sourceSize</key>
        <string>{77,70}</string>
      </dict>
      <key>monster_0147_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,611},{77,72}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,72}}</string>
        <key>sourceSize</key>
        <string>{77,72}</string>
      </dict>
      <key>monster_0147_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,632},{78,72}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>monster_0147_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,699},{76,74}}</string>
        <key>offset</key>
        <string>{-9,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,74}}</string>
        <key>sourceSize</key>
        <string>{76,74}</string>
      </dict>
      <key>monster_0147_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,640},{77,75}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>monster_0147_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,440},{77,81}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,81}}</string>
        <key>sourceSize</key>
        <string>{77,81}</string>
      </dict>
      <key>monster_0147_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,632},{78,76}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,76}}</string>
        <key>sourceSize</key>
        <string>{78,76}</string>
      </dict>
      <key>monster_0147_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,640},{77,71}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,71}}</string>
        <key>sourceSize</key>
        <string>{77,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0147_0_1.png</string>
      <key>size</key>
      <string>{644,786}</string>
      <key>textureFileName</key>
      <string>monster_0147_0_1.png</string>
    </dict>
  </dict>
</plist>