<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0090_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,55},{82,58}}</string>
        <key>offset</key>
        <string>{-16,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,58}}</string>
        <key>sourceSize</key>
        <string>{82,58}</string>
      </dict>
      <key>monster_0090_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,115},{81,51}}</string>
        <key>offset</key>
        <string>{-16,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,51}}</string>
        <key>sourceSize</key>
        <string>{81,51}</string>
      </dict>
      <key>monster_0090_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,168},{81,62}}</string>
        <key>offset</key>
        <string>{-16,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,62}}</string>
        <key>sourceSize</key>
        <string>{81,62}</string>
      </dict>
      <key>monster_0090_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{91,61}}</string>
        <key>offset</key>
        <string>{-21,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,61}}</string>
        <key>sourceSize</key>
        <string>{91,61}</string>
      </dict>
      <key>monster_0090_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,190},{91,55}}</string>
        <key>offset</key>
        <string>{-21,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,55}}</string>
        <key>sourceSize</key>
        <string>{91,55}</string>
      </dict>
      <key>monster_0090_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,94},{91,59}}</string>
        <key>offset</key>
        <string>{-21,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,59}}</string>
        <key>sourceSize</key>
        <string>{91,59}</string>
      </dict>
      <key>monster_0090_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,273},{84,54}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,54}}</string>
        <key>sourceSize</key>
        <string>{84,54}</string>
      </dict>
      <key>monster_0090_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{83,53}}</string>
        <key>offset</key>
        <string>{-13,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,53}}</string>
        <key>sourceSize</key>
        <string>{83,53}</string>
      </dict>
      <key>monster_0090_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,280},{87,53}}</string>
        <key>offset</key>
        <string>{-22,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,53}}</string>
        <key>sourceSize</key>
        <string>{87,53}</string>
      </dict>
      <key>monster_0090_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{92,63}}</string>
        <key>offset</key>
        <string>{-22,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,63}}</string>
        <key>sourceSize</key>
        <string>{92,63}</string>
      </dict>
      <key>monster_0090_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{91,63}}</string>
        <key>offset</key>
        <string>{-21,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,63}}</string>
        <key>sourceSize</key>
        <string>{91,63}</string>
      </dict>
      <key>monster_0090_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,283},{91,60}}</string>
        <key>offset</key>
        <string>{-21,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,60}}</string>
        <key>sourceSize</key>
        <string>{91,60}</string>
      </dict>
      <key>monster_0090_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,232},{81,60}}</string>
        <key>offset</key>
        <string>{-16,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,60}}</string>
        <key>sourceSize</key>
        <string>{81,60}</string>
      </dict>
      <key>monster_0090_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,294},{81,60}}</string>
        <key>offset</key>
        <string>{-16,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,60}}</string>
        <key>sourceSize</key>
        <string>{81,60}</string>
      </dict>
      <key>monster_0090_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,359},{81,59}}</string>
        <key>offset</key>
        <string>{-16,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,59}}</string>
        <key>sourceSize</key>
        <string>{81,59}</string>
      </dict>
      <key>monster_0090_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,93},{90,64}}</string>
        <key>offset</key>
        <string>{-20,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,64}}</string>
        <key>sourceSize</key>
        <string>{90,64}</string>
      </dict>
      <key>monster_0090_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,187},{91,66}}</string>
        <key>offset</key>
        <string>{-21,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,66}}</string>
        <key>sourceSize</key>
        <string>{91,66}</string>
      </dict>
      <key>monster_0090_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{90,63}}</string>
        <key>offset</key>
        <string>{-20,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,63}}</string>
        <key>sourceSize</key>
        <string>{90,63}</string>
      </dict>
      <key>monster_0090_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,185},{86,54}}</string>
        <key>offset</key>
        <string>{-16,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,54}}</string>
        <key>sourceSize</key>
        <string>{86,54}</string>
      </dict>
      <key>monster_0090_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,280},{88,57}}</string>
        <key>offset</key>
        <string>{-15,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,57}}</string>
        <key>sourceSize</key>
        <string>{88,57}</string>
      </dict>
      <key>monster_0090_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,92},{86,53}}</string>
        <key>offset</key>
        <string>{-8,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,53}}</string>
        <key>sourceSize</key>
        <string>{86,53}</string>
      </dict>
      <key>monster_0090_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{92,60}}</string>
        <key>offset</key>
        <string>{-21,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,60}}</string>
        <key>sourceSize</key>
        <string>{92,60}</string>
      </dict>
      <key>monster_0090_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93,56}}</string>
        <key>offset</key>
        <string>{-21,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,56}}</string>
        <key>sourceSize</key>
        <string>{93,56}</string>
      </dict>
      <key>monster_0090_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,95},{93,65}}</string>
        <key>offset</key>
        <string>{-20,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,65}}</string>
        <key>sourceSize</key>
        <string>{93,65}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0090_0_7.png</string>
      <key>size</key>
      <string>{386,442}</string>
      <key>textureFileName</key>
      <string>monster_0090_0_7.png</string>
    </dict>
  </dict>
</plist>