<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0370_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,685},{187,280}}</string>
        <key>offset</key>
        <string>{-50,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,280}}</string>
        <key>sourceSize</key>
        <string>{187,280}</string>
      </dict>
      <key>monster_0370_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{250,319}}</string>
        <key>offset</key>
        <string>{-50,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,319}}</string>
        <key>sourceSize</key>
        <string>{250,319}</string>
      </dict>
      <key>monster_0370_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{285,255}}</string>
        <key>offset</key>
        <string>{-137,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,255}}</string>
        <key>sourceSize</key>
        <string>{285,255}</string>
      </dict>
      <key>monster_0370_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,252},{297,289}}</string>
        <key>offset</key>
        <string>{-117,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,289}}</string>
        <key>sourceSize</key>
        <string>{297,289}</string>
      </dict>
      <key>monster_0370_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{349,242}}</string>
        <key>offset</key>
        <string>{-195,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,242}}</string>
        <key>sourceSize</key>
        <string>{349,242}</string>
      </dict>
      <key>monster_0370_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{360,285}}</string>
        <key>offset</key>
        <string>{-163,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,285}}</string>
        <key>sourceSize</key>
        <string>{360,285}</string>
      </dict>
      <key>monster_0370_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,543},{288,263}}</string>
        <key>offset</key>
        <string>{-141,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,263}}</string>
        <key>sourceSize</key>
        <string>{288,263}</string>
      </dict>
      <key>monster_0370_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,362},{304,321}}</string>
        <key>offset</key>
        <string>{-123,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,321}}</string>
        <key>sourceSize</key>
        <string>{304,321}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0370_0_7_1.png</string>
      <key>size</key>
      <string>{898,1026}</string>
      <key>textureFileName</key>
      <string>monster_0370_0_7_1.png</string>
    </dict>
  </dict>
</plist>