<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0382_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,810},{394,373}}</string>
        <key>offset</key>
        <string>{-147,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,373}}</string>
        <key>sourceSize</key>
        <string>{394,373}</string>
      </dict>
      <key>monster_0382_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,406},{402,358}}</string>
        <key>offset</key>
        <string>{-169,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,358}}</string>
        <key>sourceSize</key>
        <string>{402,358}</string>
      </dict>
      <key>monster_0382_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{416,372}}</string>
        <key>offset</key>
        <string>{-154,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,372}}</string>
        <key>sourceSize</key>
        <string>{416,372}</string>
      </dict>
      <key>monster_0382_0_7_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{435,379}}</string>
        <key>offset</key>
        <string>{-154,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,379}}</string>
        <key>sourceSize</key>
        <string>{435,379}</string>
      </dict>
      <key>monster_0382_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,0},{409,306}}</string>
        <key>offset</key>
        <string>{-151,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,306}}</string>
        <key>sourceSize</key>
        <string>{409,306}</string>
      </dict>
      <key>monster_0382_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,855},{401,308}}</string>
        <key>offset</key>
        <string>{-147,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,308}}</string>
        <key>sourceSize</key>
        <string>{401,308}</string>
      </dict>
      <key>monster_0382_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,0},{404,317}}</string>
        <key>offset</key>
        <string>{-146,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,317}}</string>
        <key>sourceSize</key>
        <string>{404,317}</string>
      </dict>
      <key>monster_0382_0_7_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,437},{412,317}}</string>
        <key>offset</key>
        <string>{-149,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,317}}</string>
        <key>sourceSize</key>
        <string>{412,317}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0382_0_7_1.png</string>
      <key>size</key>
      <string>{1282,1204}</string>
      <key>textureFileName</key>
      <string>monster_0382_0_7_1.png</string>
    </dict>
  </dict>
</plist>