<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0010_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,341},{113,109}}</string>
        <key>offset</key>
        <string>{-19,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,109}}</string>
        <key>sourceSize</key>
        <string>{113,109}</string>
      </dict>
      <key>monster_0010_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,0},{114,112}}</string>
        <key>offset</key>
        <string>{-20,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,112}}</string>
        <key>sourceSize</key>
        <string>{114,112}</string>
      </dict>
      <key>monster_0010_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,511},{114,114}}</string>
        <key>offset</key>
        <string>{-20,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>monster_0010_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,252},{115,115}}</string>
        <key>offset</key>
        <string>{-21,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,115}}</string>
        <key>sourceSize</key>
        <string>{115,115}</string>
      </dict>
      <key>monster_0010_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,116},{114,112}}</string>
        <key>offset</key>
        <string>{-20,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,112}}</string>
        <key>sourceSize</key>
        <string>{114,112}</string>
      </dict>
      <key>monster_0010_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,452},{113,109}}</string>
        <key>offset</key>
        <string>{-19,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,109}}</string>
        <key>sourceSize</key>
        <string>{113,109}</string>
      </dict>
      <key>monster_0010_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,133},{124,115}}</string>
        <key>offset</key>
        <string>{-30,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,115}}</string>
        <key>sourceSize</key>
        <string>{124,115}</string>
      </dict>
      <key>monster_0010_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{124,118}}</string>
        <key>offset</key>
        <string>{-30,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,118}}</string>
        <key>sourceSize</key>
        <string>{124,118}</string>
      </dict>
      <key>monster_0010_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,524},{124,120}}</string>
        <key>offset</key>
        <string>{-30,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,120}}</string>
        <key>sourceSize</key>
        <string>{124,120}</string>
      </dict>
      <key>monster_0010_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,396},{124,120}}</string>
        <key>offset</key>
        <string>{-30,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,120}}</string>
        <key>sourceSize</key>
        <string>{124,120}</string>
      </dict>
      <key>monster_0010_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,259},{124,117}}</string>
        <key>offset</key>
        <string>{-30,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,117}}</string>
        <key>sourceSize</key>
        <string>{124,117}</string>
      </dict>
      <key>monster_0010_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,650},{124,114}}</string>
        <key>offset</key>
        <string>{-30,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,114}}</string>
        <key>sourceSize</key>
        <string>{124,114}</string>
      </dict>
      <key>monster_0010_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,563},{108,112}}</string>
        <key>offset</key>
        <string>{-36,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,112}}</string>
        <key>sourceSize</key>
        <string>{108,112}</string>
      </dict>
      <key>monster_0010_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,230},{109,114}}</string>
        <key>offset</key>
        <string>{-36,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,114}}</string>
        <key>sourceSize</key>
        <string>{109,114}</string>
      </dict>
      <key>monster_0010_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,126},{110,115}}</string>
        <key>offset</key>
        <string>{-36,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,115}}</string>
        <key>sourceSize</key>
        <string>{110,115}</string>
      </dict>
      <key>monster_0010_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,0},{108,115}}</string>
        <key>offset</key>
        <string>{-36,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,115}}</string>
        <key>sourceSize</key>
        <string>{108,115}</string>
      </dict>
      <key>monster_0010_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,0},{106,112}}</string>
        <key>offset</key>
        <string>{-36,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,112}}</string>
        <key>sourceSize</key>
        <string>{106,112}</string>
      </dict>
      <key>monster_0010_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,114},{106,111}}</string>
        <key>offset</key>
        <string>{-36,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,111}}</string>
        <key>sourceSize</key>
        <string>{106,111}</string>
      </dict>
      <key>monster_0010_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{131,109}}</string>
        <key>offset</key>
        <string>{-54,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,109}}</string>
        <key>sourceSize</key>
        <string>{131,109}</string>
      </dict>
      <key>monster_0010_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,541},{131,111}}</string>
        <key>offset</key>
        <string>{-54,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,111}}</string>
        <key>sourceSize</key>
        <string>{131,111}</string>
      </dict>
      <key>monster_0010_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,408},{131,112}}</string>
        <key>offset</key>
        <string>{-54,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,112}}</string>
        <key>sourceSize</key>
        <string>{131,112}</string>
      </dict>
      <key>monster_0010_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,272},{131,113}}</string>
        <key>offset</key>
        <string>{-54,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,113}}</string>
        <key>sourceSize</key>
        <string>{131,113}</string>
      </dict>
      <key>monster_0010_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,136},{131,112}}</string>
        <key>offset</key>
        <string>{-54,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,112}}</string>
        <key>sourceSize</key>
        <string>{131,112}</string>
      </dict>
      <key>monster_0010_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,0},{131,110}}</string>
        <key>offset</key>
        <string>{-54,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,110}}</string>
        <key>sourceSize</key>
        <string>{131,110}</string>
      </dict>
      <key>monster_0010_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,405},{126,98}}</string>
        <key>offset</key>
        <string>{-49,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,98}}</string>
        <key>sourceSize</key>
        <string>{126,98}</string>
      </dict>
      <key>monster_0010_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,541},{127,98}}</string>
        <key>offset</key>
        <string>{-49,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,98}}</string>
        <key>sourceSize</key>
        <string>{127,98}</string>
      </dict>
      <key>monster_0010_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,269},{126,100}}</string>
        <key>offset</key>
        <string>{-49,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,100}}</string>
        <key>sourceSize</key>
        <string>{126,100}</string>
      </dict>
      <key>monster_0010_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,541},{127,101}}</string>
        <key>offset</key>
        <string>{-49,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,101}}</string>
        <key>sourceSize</key>
        <string>{127,101}</string>
      </dict>
      <key>monster_0010_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,661},{125,102}}</string>
        <key>offset</key>
        <string>{-49,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,102}}</string>
        <key>sourceSize</key>
        <string>{125,102}</string>
      </dict>
      <key>monster_0010_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,533},{126,100}}</string>
        <key>offset</key>
        <string>{-49,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,100}}</string>
        <key>sourceSize</key>
        <string>{126,100}</string>
      </dict>
      <key>monster_0010_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,397},{125,106}}</string>
        <key>offset</key>
        <string>{-49,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,106}}</string>
        <key>sourceSize</key>
        <string>{125,106}</string>
      </dict>
      <key>monster_0010_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,522},{124,106}}</string>
        <key>offset</key>
        <string>{-49,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,106}}</string>
        <key>sourceSize</key>
        <string>{124,106}</string>
      </dict>
      <key>monster_0010_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,126},{124,107}}</string>
        <key>offset</key>
        <string>{-49,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,107}}</string>
        <key>sourceSize</key>
        <string>{124,107}</string>
      </dict>
      <key>monster_0010_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,648},{124,109}}</string>
        <key>offset</key>
        <string>{-49,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,109}}</string>
        <key>sourceSize</key>
        <string>{124,109}</string>
      </dict>
      <key>monster_0010_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,385},{124,110}}</string>
        <key>offset</key>
        <string>{-49,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,110}}</string>
        <key>sourceSize</key>
        <string>{124,110}</string>
      </dict>
      <key>monster_0010_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,269},{125,108}}</string>
        <key>offset</key>
        <string>{-49,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,108}}</string>
        <key>sourceSize</key>
        <string>{125,108}</string>
      </dict>
      <key>monster_0010_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,0},{105,99}}</string>
        <key>offset</key>
        <string>{-24,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,99}}</string>
        <key>sourceSize</key>
        <string>{105,99}</string>
      </dict>
      <key>monster_0010_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,222},{105,100}}</string>
        <key>offset</key>
        <string>{-24,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,100}}</string>
        <key>sourceSize</key>
        <string>{105,100}</string>
      </dict>
      <key>monster_0010_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,324},{105,102}}</string>
        <key>offset</key>
        <string>{-24,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,102}}</string>
        <key>sourceSize</key>
        <string>{105,102}</string>
      </dict>
      <key>monster_0010_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,428},{105,103}}</string>
        <key>offset</key>
        <string>{-24,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,103}}</string>
        <key>sourceSize</key>
        <string>{105,103}</string>
      </dict>
      <key>monster_0010_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,533},{105,103}}</string>
        <key>offset</key>
        <string>{-24,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,103}}</string>
        <key>sourceSize</key>
        <string>{105,103}</string>
      </dict>
      <key>monster_0010_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,638},{105,101}}</string>
        <key>offset</key>
        <string>{-24,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,101}}</string>
        <key>sourceSize</key>
        <string>{105,101}</string>
      </dict>
      <key>monster_0010_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{134,108}}</string>
        <key>offset</key>
        <string>{-33,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,108}}</string>
        <key>sourceSize</key>
        <string>{134,108}</string>
      </dict>
      <key>monster_0010_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{134,110}}</string>
        <key>offset</key>
        <string>{-33,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,110}}</string>
        <key>sourceSize</key>
        <string>{134,110}</string>
      </dict>
      <key>monster_0010_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{134,112}}</string>
        <key>offset</key>
        <string>{-33,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,112}}</string>
        <key>sourceSize</key>
        <string>{134,112}</string>
      </dict>
      <key>monster_0010_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{134,113}}</string>
        <key>offset</key>
        <string>{-33,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,113}}</string>
        <key>sourceSize</key>
        <string>{134,113}</string>
      </dict>
      <key>monster_0010_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,136},{134,112}}</string>
        <key>offset</key>
        <string>{-33,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,112}}</string>
        <key>sourceSize</key>
        <string>{134,112}</string>
      </dict>
      <key>monster_0010_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{134,109}}</string>
        <key>offset</key>
        <string>{-33,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,109}}</string>
        <key>sourceSize</key>
        <string>{134,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0010_0_0.png</string>
      <key>size</key>
      <string>{1002,770}</string>
      <key>textureFileName</key>
      <string>monster_0010_0_0.png</string>
    </dict>
  </dict>
</plist>