<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0170_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,93},{54,87}}</string>
        <key>offset</key>
        <string>{2,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,87}}</string>
        <key>sourceSize</key>
        <string>{54,87}</string>
      </dict>
      <key>monster_0170_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,178},{53,86}}</string>
        <key>offset</key>
        <string>{2,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,86}}</string>
        <key>sourceSize</key>
        <string>{53,86}</string>
      </dict>
      <key>monster_0170_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{53,87}}</string>
        <key>offset</key>
        <string>{2,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,87}}</string>
        <key>sourceSize</key>
        <string>{53,87}</string>
      </dict>
      <key>monster_0170_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,89},{53,87}}</string>
        <key>offset</key>
        <string>{2,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,87}}</string>
        <key>sourceSize</key>
        <string>{53,87}</string>
      </dict>
      <key>monster_0170_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,362},{92,77}}</string>
        <key>offset</key>
        <string>{-21,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,77}}</string>
        <key>sourceSize</key>
        <string>{92,77}</string>
      </dict>
      <key>monster_0170_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,240},{92,77}}</string>
        <key>offset</key>
        <string>{-21,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,77}}</string>
        <key>sourceSize</key>
        <string>{92,77}</string>
      </dict>
      <key>monster_0170_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,119},{92,77}}</string>
        <key>offset</key>
        <string>{-22,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,77}}</string>
        <key>sourceSize</key>
        <string>{92,77}</string>
      </dict>
      <key>monster_0170_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,94},{91,77}}</string>
        <key>offset</key>
        <string>{-21,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,77}}</string>
        <key>sourceSize</key>
        <string>{91,77}</string>
      </dict>
      <key>monster_0170_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,0},{117,66}}</string>
        <key>offset</key>
        <string>{-36,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,66}}</string>
        <key>sourceSize</key>
        <string>{117,66}</string>
      </dict>
      <key>monster_0170_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{118,66}}</string>
        <key>offset</key>
        <string>{-36,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,66}}</string>
        <key>sourceSize</key>
        <string>{118,66}</string>
      </dict>
      <key>monster_0170_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{119,65}}</string>
        <key>offset</key>
        <string>{-37,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,65}}</string>
        <key>sourceSize</key>
        <string>{119,65}</string>
      </dict>
      <key>monster_0170_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{118,65}}</string>
        <key>offset</key>
        <string>{-37,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,65}}</string>
        <key>sourceSize</key>
        <string>{118,65}</string>
      </dict>
      <key>monster_0170_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{92,76}}</string>
        <key>offset</key>
        <string>{-20,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,76}}</string>
        <key>sourceSize</key>
        <string>{92,76}</string>
      </dict>
      <key>monster_0170_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,334},{92,77}}</string>
        <key>offset</key>
        <string>{-20,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,77}}</string>
        <key>sourceSize</key>
        <string>{92,77}</string>
      </dict>
      <key>monster_0170_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,428},{92,75}}</string>
        <key>offset</key>
        <string>{-21,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,75}}</string>
        <key>sourceSize</key>
        <string>{92,75}</string>
      </dict>
      <key>monster_0170_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{91,75}}</string>
        <key>offset</key>
        <string>{-20,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,75}}</string>
        <key>sourceSize</key>
        <string>{91,75}</string>
      </dict>
      <key>monster_0170_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,280},{54,83}}</string>
        <key>offset</key>
        <string>{3,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,83}}</string>
        <key>sourceSize</key>
        <string>{54,83}</string>
      </dict>
      <key>monster_0170_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,266},{54,84}}</string>
        <key>offset</key>
        <string>{3,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,84}}</string>
        <key>sourceSize</key>
        <string>{54,84}</string>
      </dict>
      <key>monster_0170_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,352},{53,83}}</string>
        <key>offset</key>
        <string>{3,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,83}}</string>
        <key>sourceSize</key>
        <string>{53,83}</string>
      </dict>
      <key>monster_0170_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,365},{53,82}}</string>
        <key>offset</key>
        <string>{3,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,82}}</string>
        <key>sourceSize</key>
        <string>{53,82}</string>
      </dict>
      <key>monster_0170_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,213},{92,76}}</string>
        <key>offset</key>
        <string>{-11,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,76}}</string>
        <key>sourceSize</key>
        <string>{92,76}</string>
      </dict>
      <key>monster_0170_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,94},{92,76}}</string>
        <key>offset</key>
        <string>{-11,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,76}}</string>
        <key>sourceSize</key>
        <string>{92,76}</string>
      </dict>
      <key>monster_0170_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{92,75}}</string>
        <key>offset</key>
        <string>{-11,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,75}}</string>
        <key>sourceSize</key>
        <string>{92,75}</string>
      </dict>
      <key>monster_0170_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,307},{92,75}}</string>
        <key>offset</key>
        <string>{-11,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,75}}</string>
        <key>sourceSize</key>
        <string>{92,75}</string>
      </dict>
      <key>monster_0170_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{118,67}}</string>
        <key>offset</key>
        <string>{-20,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,67}}</string>
        <key>sourceSize</key>
        <string>{118,67}</string>
      </dict>
      <key>monster_0170_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,242},{118,66}}</string>
        <key>offset</key>
        <string>{-20,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,66}}</string>
        <key>sourceSize</key>
        <string>{118,66}</string>
      </dict>
      <key>monster_0170_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{119,66}}</string>
        <key>offset</key>
        <string>{-20,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,66}}</string>
        <key>sourceSize</key>
        <string>{119,66}</string>
      </dict>
      <key>monster_0170_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,120},{118,66}}</string>
        <key>offset</key>
        <string>{-20,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,66}}</string>
        <key>sourceSize</key>
        <string>{118,66}</string>
      </dict>
      <key>monster_0170_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,282},{91,77}}</string>
        <key>offset</key>
        <string>{-10,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,77}}</string>
        <key>sourceSize</key>
        <string>{91,77}</string>
      </dict>
      <key>monster_0170_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,401},{92,77}}</string>
        <key>offset</key>
        <string>{-10,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,77}}</string>
        <key>sourceSize</key>
        <string>{92,77}</string>
      </dict>
      <key>monster_0170_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,188},{92,76}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,76}}</string>
        <key>sourceSize</key>
        <string>{92,76}</string>
      </dict>
      <key>monster_0170_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,187},{91,76}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,76}}</string>
        <key>sourceSize</key>
        <string>{91,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0170_0_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_0170_0_0.png</string>
    </dict>
  </dict>
</plist>