<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0162_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{61,60}}</string>
        <key>offset</key>
        <string>{1,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,60}}</string>
        <key>sourceSize</key>
        <string>{61,60}</string>
      </dict>
      <key>monster_0162_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,291},{61,61}}</string>
        <key>offset</key>
        <string>{1,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,61}}</string>
        <key>sourceSize</key>
        <string>{61,61}</string>
      </dict>
      <key>monster_0162_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,71},{62,60}}</string>
        <key>offset</key>
        <string>{1,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,60}}</string>
        <key>sourceSize</key>
        <string>{62,60}</string>
      </dict>
      <key>monster_0162_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,135},{59,60}}</string>
        <key>offset</key>
        <string>{3,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,60}}</string>
        <key>sourceSize</key>
        <string>{59,60}</string>
      </dict>
      <key>monster_0162_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,85},{75,56}}</string>
        <key>offset</key>
        <string>{-6,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,56}}</string>
        <key>sourceSize</key>
        <string>{75,56}</string>
      </dict>
      <key>monster_0162_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,0},{75,55}}</string>
        <key>offset</key>
        <string>{-6,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>monster_0162_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,162},{75,56}}</string>
        <key>offset</key>
        <string>{-5,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,56}}</string>
        <key>sourceSize</key>
        <string>{75,56}</string>
      </dict>
      <key>monster_0162_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,77},{72,58}}</string>
        <key>offset</key>
        <string>{-3,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,58}}</string>
        <key>sourceSize</key>
        <string>{72,58}</string>
      </dict>
      <key>monster_0162_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,85},{82,49}}</string>
        <key>offset</key>
        <string>{-12,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,49}}</string>
        <key>sourceSize</key>
        <string>{82,49}</string>
      </dict>
      <key>monster_0162_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{82,49}}</string>
        <key>offset</key>
        <string>{-11,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,49}}</string>
        <key>sourceSize</key>
        <string>{82,49}</string>
      </dict>
      <key>monster_0162_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,253},{82,48}}</string>
        <key>offset</key>
        <string>{-11,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,48}}</string>
        <key>sourceSize</key>
        <string>{82,48}</string>
      </dict>
      <key>monster_0162_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,51}}</string>
        <key>offset</key>
        <string>{-12,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,51}}</string>
        <key>sourceSize</key>
        <string>{83,51}</string>
      </dict>
      <key>monster_0162_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,239},{74,45}}</string>
        <key>offset</key>
        <string>{-5,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,45}}</string>
        <key>sourceSize</key>
        <string>{74,45}</string>
      </dict>
      <key>monster_0162_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,331},{75,42}}</string>
        <key>offset</key>
        <string>{-5,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,42}}</string>
        <key>sourceSize</key>
        <string>{75,42}</string>
      </dict>
      <key>monster_0162_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,253},{76,41}}</string>
        <key>offset</key>
        <string>{-6,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,41}}</string>
        <key>sourceSize</key>
        <string>{76,41}</string>
      </dict>
      <key>monster_0162_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{78,44}}</string>
        <key>offset</key>
        <string>{-8,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,44}}</string>
        <key>sourceSize</key>
        <string>{78,44}</string>
      </dict>
      <key>monster_0162_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,63},{60,43}}</string>
        <key>offset</key>
        <string>{2,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,43}}</string>
        <key>sourceSize</key>
        <string>{60,43}</string>
      </dict>
      <key>monster_0162_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,217},{61,43}}</string>
        <key>offset</key>
        <string>{2,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,43}}</string>
        <key>sourceSize</key>
        <string>{61,43}</string>
      </dict>
      <key>monster_0162_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{59,43}}</string>
        <key>offset</key>
        <string>{2,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,43}}</string>
        <key>sourceSize</key>
        <string>{59,43}</string>
      </dict>
      <key>monster_0162_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,151},{64,43}}</string>
        <key>offset</key>
        <string>{-1,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,43}}</string>
        <key>sourceSize</key>
        <string>{64,43}</string>
      </dict>
      <key>monster_0162_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,61},{57,41}}</string>
        <key>offset</key>
        <string>{0,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,41}}</string>
        <key>sourceSize</key>
        <string>{57,41}</string>
      </dict>
      <key>monster_0162_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,118},{57,44}}</string>
        <key>offset</key>
        <string>{-1,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,44}}</string>
        <key>sourceSize</key>
        <string>{57,44}</string>
      </dict>
      <key>monster_0162_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,280},{58,44}}</string>
        <key>offset</key>
        <string>{-2,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,44}}</string>
        <key>sourceSize</key>
        <string>{58,44}</string>
      </dict>
      <key>monster_0162_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,222},{55,43}}</string>
        <key>offset</key>
        <string>{-1,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,43}}</string>
        <key>sourceSize</key>
        <string>{55,43}</string>
      </dict>
      <key>monster_0162_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,151},{68,50}}</string>
        <key>offset</key>
        <string>{-6,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,50}}</string>
        <key>sourceSize</key>
        <string>{68,50}</string>
      </dict>
      <key>monster_0162_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,221},{68,52}}</string>
        <key>offset</key>
        <string>{-7,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,52}}</string>
        <key>sourceSize</key>
        <string>{68,52}</string>
      </dict>
      <key>monster_0162_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{70,50}}</string>
        <key>offset</key>
        <string>{-8,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>monster_0162_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{69,49}}</string>
        <key>offset</key>
        <string>{-7,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,49}}</string>
        <key>sourceSize</key>
        <string>{69,49}</string>
      </dict>
      <key>monster_0162_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,197},{56,57}}</string>
        <key>offset</key>
        <string>{0,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>monster_0162_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{59,59}}</string>
        <key>offset</key>
        <string>{-3,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,59}}</string>
        <key>sourceSize</key>
        <string>{59,59}</string>
      </dict>
      <key>monster_0162_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,164},{57,56}}</string>
        <key>offset</key>
        <string>{-1,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,56}}</string>
        <key>sourceSize</key>
        <string>{57,56}</string>
      </dict>
      <key>monster_0162_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,61},{59,55}}</string>
        <key>offset</key>
        <string>{0,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,55}}</string>
        <key>sourceSize</key>
        <string>{59,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0162_0_1.png</string>
      <key>size</key>
      <string>{384,384}</string>
      <key>textureFileName</key>
      <string>monster_0162_0_1.png</string>
    </dict>
  </dict>
</plist>