<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0242_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,1052},{156,210}}</string>
        <key>offset</key>
        <string>{-39,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,210}}</string>
        <key>sourceSize</key>
        <string>{156,210}</string>
      </dict>
      <key>monster_0242_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,731},{158,217}}</string>
        <key>offset</key>
        <string>{-37,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,217}}</string>
        <key>sourceSize</key>
        <string>{158,217}</string>
      </dict>
      <key>monster_0242_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,707},{161,229}}</string>
        <key>offset</key>
        <string>{-35,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,229}}</string>
        <key>sourceSize</key>
        <string>{161,229}</string>
      </dict>
      <key>monster_0242_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1026,571},{158,231}}</string>
        <key>offset</key>
        <string>{-32,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,231}}</string>
        <key>sourceSize</key>
        <string>{158,231}</string>
      </dict>
      <key>monster_0242_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,996},{159,220}}</string>
        <key>offset</key>
        <string>{-34,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,220}}</string>
        <key>sourceSize</key>
        <string>{159,220}</string>
      </dict>
      <key>monster_0242_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,891},{159,211}}</string>
        <key>offset</key>
        <string>{-38,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,211}}</string>
        <key>sourceSize</key>
        <string>{159,211}</string>
      </dict>
      <key>monster_0242_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,0},{305,171}}</string>
        <key>offset</key>
        <string>{-80,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,171}}</string>
        <key>sourceSize</key>
        <string>{305,171}</string>
      </dict>
      <key>monster_0242_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,259},{284,173}}</string>
        <key>offset</key>
        <string>{-76,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,173}}</string>
        <key>sourceSize</key>
        <string>{284,173}</string>
      </dict>
      <key>monster_0242_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1040,297},{272,188}}</string>
        <key>offset</key>
        <string>{-75,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,188}}</string>
        <key>sourceSize</key>
        <string>{272,188}</string>
      </dict>
      <key>monster_0242_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,996},{270,192}}</string>
        <key>offset</key>
        <string>{-79,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,192}}</string>
        <key>sourceSize</key>
        <string>{270,192}</string>
      </dict>
      <key>monster_0242_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,303},{283,173}}</string>
        <key>offset</key>
        <string>{-83,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,173}}</string>
        <key>sourceSize</key>
        <string>{283,173}</string>
      </dict>
      <key>monster_0242_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1056,0},{295,170}}</string>
        <key>offset</key>
        <string>{-80,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,170}}</string>
        <key>sourceSize</key>
        <string>{295,170}</string>
      </dict>
      <key>monster_0242_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,811},{395,155}}</string>
        <key>offset</key>
        <string>{-120,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,155}}</string>
        <key>sourceSize</key>
        <string>{395,155}</string>
      </dict>
      <key>monster_0242_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{396,158}}</string>
        <key>offset</key>
        <string>{-121,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,158}}</string>
        <key>sourceSize</key>
        <string>{396,158}</string>
      </dict>
      <key>monster_0242_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{409,154}}</string>
        <key>offset</key>
        <string>{-119,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,154}}</string>
        <key>sourceSize</key>
        <string>{409,154}</string>
      </dict>
      <key>monster_0242_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,411},{409,153}}</string>
        <key>offset</key>
        <string>{-120,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,153}}</string>
        <key>sourceSize</key>
        <string>{409,153}</string>
      </dict>
      <key>monster_0242_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,411},{398,157}}</string>
        <key>offset</key>
        <string>{-121,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,157}}</string>
        <key>sourceSize</key>
        <string>{398,157}</string>
      </dict>
      <key>monster_0242_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,822},{399,155}}</string>
        <key>offset</key>
        <string>{-119,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,155}}</string>
        <key>sourceSize</key>
        <string>{399,155}</string>
      </dict>
      <key>monster_0242_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,722},{272,270}}</string>
        <key>offset</key>
        <string>{-80,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,270}}</string>
        <key>sourceSize</key>
        <string>{272,270}</string>
      </dict>
      <key>monster_0242_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{301,263}}</string>
        <key>offset</key>
        <string>{-83,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,263}}</string>
        <key>sourceSize</key>
        <string>{301,263}</string>
      </dict>
      <key>monster_0242_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,398},{322,254}}</string>
        <key>offset</key>
        <string>{-81,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,254}}</string>
        <key>sourceSize</key>
        <string>{322,254}</string>
      </dict>
      <key>monster_0242_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,811},{324,239}}</string>
        <key>offset</key>
        <string>{-79,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,239}}</string>
        <key>sourceSize</key>
        <string>{324,239}</string>
      </dict>
      <key>monster_0242_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,0},{300,257}}</string>
        <key>offset</key>
        <string>{-76,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,257}}</string>
        <key>sourceSize</key>
        <string>{300,257}</string>
      </dict>
      <key>monster_0242_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,434},{279,271}}</string>
        <key>offset</key>
        <string>{-76,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,271}}</string>
        <key>sourceSize</key>
        <string>{279,271}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0242_0_1_1.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>monster_0242_0_1_1.png</string>
    </dict>
  </dict>
</plist>