<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0025_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,155},{68,64}}</string>
        <key>offset</key>
        <string>{-2,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,64}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>monster_0025_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,311},{69,59}}</string>
        <key>offset</key>
        <string>{-3,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,59}}</string>
        <key>sourceSize</key>
        <string>{69,59}</string>
      </dict>
      <key>monster_0025_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,239},{70,65}}</string>
        <key>offset</key>
        <string>{-4,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,65}}</string>
        <key>sourceSize</key>
        <string>{70,65}</string>
      </dict>
      <key>monster_0025_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,84},{69,59}}</string>
        <key>offset</key>
        <string>{-3,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,59}}</string>
        <key>sourceSize</key>
        <string>{69,59}</string>
      </dict>
      <key>monster_0025_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,65},{56,64}}</string>
        <key>offset</key>
        <string>{3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>monster_0025_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,70},{67,63}}</string>
        <key>offset</key>
        <string>{-1,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,63}}</string>
        <key>sourceSize</key>
        <string>{67,63}</string>
      </dict>
      <key>monster_0025_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,84},{79,61}}</string>
        <key>offset</key>
        <string>{-7,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,61}}</string>
        <key>sourceSize</key>
        <string>{79,61}</string>
      </dict>
      <key>monster_0025_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{67,63}}</string>
        <key>offset</key>
        <string>{-1,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,63}}</string>
        <key>sourceSize</key>
        <string>{67,63}</string>
      </dict>
      <key>monster_0025_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,293},{64,60}}</string>
        <key>offset</key>
        <string>{-3,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,60}}</string>
        <key>sourceSize</key>
        <string>{64,60}</string>
      </dict>
      <key>monster_0025_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,308},{57,62}}</string>
        <key>offset</key>
        <string>{5,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,62}}</string>
        <key>sourceSize</key>
        <string>{57,62}</string>
      </dict>
      <key>monster_0025_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,183},{63,62}}</string>
        <key>offset</key>
        <string>{0,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,62}}</string>
        <key>sourceSize</key>
        <string>{63,62}</string>
      </dict>
      <key>monster_0025_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,308},{57,62}}</string>
        <key>offset</key>
        <string>{5,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,62}}</string>
        <key>sourceSize</key>
        <string>{57,62}</string>
      </dict>
      <key>monster_0025_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,240},{72,61}}</string>
        <key>offset</key>
        <string>{-9,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,61}}</string>
        <key>sourceSize</key>
        <string>{72,61}</string>
      </dict>
      <key>monster_0025_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,225},{66,64}}</string>
        <key>offset</key>
        <string>{-5,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,64}}</string>
        <key>sourceSize</key>
        <string>{66,64}</string>
      </dict>
      <key>monster_0025_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,139},{60,66}}</string>
        <key>offset</key>
        <string>{-2,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,66}}</string>
        <key>sourceSize</key>
        <string>{60,66}</string>
      </dict>
      <key>monster_0025_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,69},{66,64}}</string>
        <key>offset</key>
        <string>{-5,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,64}}</string>
        <key>sourceSize</key>
        <string>{66,64}</string>
      </dict>
      <key>monster_0025_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,203},{63,61}}</string>
        <key>offset</key>
        <string>{2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,61}}</string>
        <key>sourceSize</key>
        <string>{63,61}</string>
      </dict>
      <key>monster_0025_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{65,59}}</string>
        <key>offset</key>
        <string>{1,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>monster_0025_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,0},{68,61}}</string>
        <key>offset</key>
        <string>{-2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,61}}</string>
        <key>sourceSize</key>
        <string>{68,61}</string>
      </dict>
      <key>monster_0025_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{65,59}}</string>
        <key>offset</key>
        <string>{1,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>monster_0025_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,247},{59,63}}</string>
        <key>offset</key>
        <string>{1,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,63}}</string>
        <key>sourceSize</key>
        <string>{59,63}</string>
      </dict>
      <key>monster_0025_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,165},{73,57}}</string>
        <key>offset</key>
        <string>{-7,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,57}}</string>
        <key>sourceSize</key>
        <string>{73,57}</string>
      </dict>
      <key>monster_0025_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{82,63}}</string>
        <key>offset</key>
        <string>{-13,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,63}}</string>
        <key>sourceSize</key>
        <string>{82,63}</string>
      </dict>
      <key>monster_0025_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,165},{72,61}}</string>
        <key>offset</key>
        <string>{-7,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,61}}</string>
        <key>sourceSize</key>
        <string>{72,61}</string>
      </dict>
      <key>monster_0025_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,308},{62,62}}</string>
        <key>offset</key>
        <string>{3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>monster_0025_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,67},{58,64}}</string>
        <key>offset</key>
        <string>{1,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,64}}</string>
        <key>sourceSize</key>
        <string>{58,64}</string>
      </dict>
      <key>monster_0025_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,0},{63,65}}</string>
        <key>offset</key>
        <string>{-4,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,65}}</string>
        <key>sourceSize</key>
        <string>{63,65}</string>
      </dict>
      <key>monster_0025_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,123},{58,64}}</string>
        <key>offset</key>
        <string>{1,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,64}}</string>
        <key>sourceSize</key>
        <string>{58,64}</string>
      </dict>
      <key>monster_0025_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{71,62}}</string>
        <key>offset</key>
        <string>{0,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,62}}</string>
        <key>sourceSize</key>
        <string>{71,62}</string>
      </dict>
      <key>monster_0025_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,65},{60,61}}</string>
        <key>offset</key>
        <string>{7,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,61}}</string>
        <key>sourceSize</key>
        <string>{60,61}</string>
      </dict>
      <key>monster_0025_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,137},{62,64}}</string>
        <key>offset</key>
        <string>{1,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,64}}</string>
        <key>sourceSize</key>
        <string>{62,64}</string>
      </dict>
      <key>monster_0025_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,127},{60,61}}</string>
        <key>offset</key>
        <string>{7,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,61}}</string>
        <key>sourceSize</key>
        <string>{60,61}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0025_0_1.png</string>
      <key>size</key>
      <string>{444,386}</string>
      <key>textureFileName</key>
      <string>monster_0025_0_1.png</string>
    </dict>
  </dict>
</plist>