<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1009_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,95},{84,91}}</string>
        <key>offset</key>
        <string>{-17,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,91}}</string>
        <key>sourceSize</key>
        <string>{84,91}</string>
      </dict>
      <key>monster_1009_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,373},{81,74}}</string>
        <key>offset</key>
        <string>{-17,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,74}}</string>
        <key>sourceSize</key>
        <string>{81,74}</string>
      </dict>
      <key>monster_1009_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,188},{83,84}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,84}}</string>
        <key>sourceSize</key>
        <string>{83,84}</string>
      </dict>
      <key>monster_1009_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{100,83}}</string>
        <key>offset</key>
        <string>{-22,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,83}}</string>
        <key>sourceSize</key>
        <string>{100,83}</string>
      </dict>
      <key>monster_1009_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{95,64}}</string>
        <key>offset</key>
        <string>{-22,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,64}}</string>
        <key>sourceSize</key>
        <string>{95,64}</string>
      </dict>
      <key>monster_1009_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{99,73}}</string>
        <key>offset</key>
        <string>{-22,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,73}}</string>
        <key>sourceSize</key>
        <string>{99,73}</string>
      </dict>
      <key>monster_1009_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,70}}</string>
        <key>offset</key>
        <string>{-28,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,70}}</string>
        <key>sourceSize</key>
        <string>{115,70}</string>
      </dict>
      <key>monster_1009_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,102},{100,68}}</string>
        <key>offset</key>
        <string>{-28,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,68}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>monster_1009_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{111,67}}</string>
        <key>offset</key>
        <string>{-28,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,67}}</string>
        <key>sourceSize</key>
        <string>{111,67}</string>
      </dict>
      <key>monster_1009_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,204},{99,76}}</string>
        <key>offset</key>
        <string>{-22,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,76}}</string>
        <key>sourceSize</key>
        <string>{99,76}</string>
      </dict>
      <key>monster_1009_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{86,81}}</string>
        <key>offset</key>
        <string>{-22,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,81}}</string>
        <key>sourceSize</key>
        <string>{86,81}</string>
      </dict>
      <key>monster_1009_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,202},{94,79}}</string>
        <key>offset</key>
        <string>{-22,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,79}}</string>
        <key>sourceSize</key>
        <string>{94,79}</string>
      </dict>
      <key>monster_1009_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,336},{83,75}}</string>
        <key>offset</key>
        <string>{-16,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>monster_1009_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,286},{85,77}}</string>
        <key>offset</key>
        <string>{-16,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,77}}</string>
        <key>sourceSize</key>
        <string>{85,77}</string>
      </dict>
      <key>monster_1009_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,273},{84,78}}</string>
        <key>offset</key>
        <string>{-16,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,78}}</string>
        <key>sourceSize</key>
        <string>{84,78}</string>
      </dict>
      <key>monster_1009_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,298},{92,76}}</string>
        <key>offset</key>
        <string>{-19,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,76}}</string>
        <key>sourceSize</key>
        <string>{92,76}</string>
      </dict>
      <key>monster_1009_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,230},{103,77}}</string>
        <key>offset</key>
        <string>{-20,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,77}}</string>
        <key>sourceSize</key>
        <string>{103,77}</string>
      </dict>
      <key>monster_1009_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,305},{98,77}}</string>
        <key>offset</key>
        <string>{-19,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,77}}</string>
        <key>sourceSize</key>
        <string>{98,77}</string>
      </dict>
      <key>monster_1009_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,117},{101,70}}</string>
        <key>offset</key>
        <string>{-27,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,70}}</string>
        <key>sourceSize</key>
        <string>{101,70}</string>
      </dict>
      <key>monster_1009_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,101},{99,67}}</string>
        <key>offset</key>
        <string>{-15,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,67}}</string>
        <key>sourceSize</key>
        <string>{99,67}</string>
      </dict>
      <key>monster_1009_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{104,66}}</string>
        <key>offset</key>
        <string>{-24,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,66}}</string>
        <key>sourceSize</key>
        <string>{104,66}</string>
      </dict>
      <key>monster_1009_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,192},{92,83}}</string>
        <key>offset</key>
        <string>{-19,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,83}}</string>
        <key>sourceSize</key>
        <string>{92,83}</string>
      </dict>
      <key>monster_1009_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,97},{93,74}}</string>
        <key>offset</key>
        <string>{-19,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,74}}</string>
        <key>sourceSize</key>
        <string>{93,74}</string>
      </dict>
      <key>monster_1009_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{93,78}}</string>
        <key>offset</key>
        <string>{-19,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,78}}</string>
        <key>sourceSize</key>
        <string>{93,78}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1009_0_7.png</string>
      <key>size</key>
      <string>{514,458}</string>
      <key>textureFileName</key>
      <string>monster_1009_0_7.png</string>
    </dict>
  </dict>
</plist>