<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0221_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,553},{106,101}}</string>
        <key>offset</key>
        <string>{-10,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,101}}</string>
        <key>sourceSize</key>
        <string>{106,101}</string>
      </dict>
      <key>monster_0221_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,341},{100,104}}</string>
        <key>offset</key>
        <string>{-4,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,104}}</string>
        <key>sourceSize</key>
        <string>{100,104}</string>
      </dict>
      <key>monster_0221_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,388},{98,119}}</string>
        <key>offset</key>
        <string>{-3,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,119}}</string>
        <key>sourceSize</key>
        <string>{98,119}</string>
      </dict>
      <key>monster_0221_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,266},{98,120}}</string>
        <key>offset</key>
        <string>{-3,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,120}}</string>
        <key>sourceSize</key>
        <string>{98,120}</string>
      </dict>
      <key>monster_0221_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,453},{98,119}}</string>
        <key>offset</key>
        <string>{-3,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,119}}</string>
        <key>sourceSize</key>
        <string>{98,119}</string>
      </dict>
      <key>monster_0221_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,657},{110,103}}</string>
        <key>offset</key>
        <string>{-5,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,103}}</string>
        <key>sourceSize</key>
        <string>{110,103}</string>
      </dict>
      <key>monster_0221_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,453},{91,105}}</string>
        <key>offset</key>
        <string>{11,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,105}}</string>
        <key>sourceSize</key>
        <string>{91,105}</string>
      </dict>
      <key>monster_0221_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,0},{127,98}}</string>
        <key>offset</key>
        <string>{-28,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,98}}</string>
        <key>sourceSize</key>
        <string>{127,98}</string>
      </dict>
      <key>monster_0221_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,626},{140,105}}</string>
        <key>offset</key>
        <string>{17,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,105}}</string>
        <key>sourceSize</key>
        <string>{140,105}</string>
      </dict>
      <key>monster_0221_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,538},{153,104}}</string>
        <key>offset</key>
        <string>{16,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,104}}</string>
        <key>sourceSize</key>
        <string>{153,104}</string>
      </dict>
      <key>monster_0221_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,626},{140,105}}</string>
        <key>offset</key>
        <string>{17,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,105}}</string>
        <key>sourceSize</key>
        <string>{140,105}</string>
      </dict>
      <key>monster_0221_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,0},{94,106}}</string>
        <key>offset</key>
        <string>{17,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,106}}</string>
        <key>sourceSize</key>
        <string>{94,106}</string>
      </dict>
      <key>monster_0221_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,657},{101,109}}</string>
        <key>offset</key>
        <string>{8,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,109}}</string>
        <key>sourceSize</key>
        <string>{101,109}</string>
      </dict>
      <key>monster_0221_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,135},{129,111}}</string>
        <key>offset</key>
        <string>{-26,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,111}}</string>
        <key>sourceSize</key>
        <string>{129,111}</string>
      </dict>
      <key>monster_0221_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{178,99}}</string>
        <key>offset</key>
        <string>{14,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,99}}</string>
        <key>sourceSize</key>
        <string>{178,99}</string>
      </dict>
      <key>monster_0221_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{182,96}}</string>
        <key>offset</key>
        <string>{15,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,96}}</string>
        <key>sourceSize</key>
        <string>{182,96}</string>
      </dict>
      <key>monster_0221_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{178,99}}</string>
        <key>offset</key>
        <string>{14,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,99}}</string>
        <key>sourceSize</key>
        <string>{178,99}</string>
      </dict>
      <key>monster_0221_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{144,102}}</string>
        <key>offset</key>
        <string>{12,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,102}}</string>
        <key>sourceSize</key>
        <string>{144,102}</string>
      </dict>
      <key>monster_0221_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,235},{101,100}}</string>
        <key>offset</key>
        <string>{2,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,100}}</string>
        <key>sourceSize</key>
        <string>{101,100}</string>
      </dict>
      <key>monster_0221_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,509},{94,118}}</string>
        <key>offset</key>
        <string>{0,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,118}}</string>
        <key>sourceSize</key>
        <string>{94,118}</string>
      </dict>
      <key>monster_0221_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,174},{149,111}}</string>
        <key>offset</key>
        <string>{0,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,111}}</string>
        <key>sourceSize</key>
        <string>{149,111}</string>
      </dict>
      <key>monster_0221_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,146},{134,122}}</string>
        <key>offset</key>
        <string>{6,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,122}}</string>
        <key>sourceSize</key>
        <string>{134,122}</string>
      </dict>
      <key>monster_0221_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{149,111}}</string>
        <key>offset</key>
        <string>{0,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,111}}</string>
        <key>sourceSize</key>
        <string>{149,111}</string>
      </dict>
      <key>monster_0221_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,325},{149,99}}</string>
        <key>offset</key>
        <string>{-7,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,99}}</string>
        <key>sourceSize</key>
        <string>{149,99}</string>
      </dict>
      <key>monster_0221_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,553},{113,102}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,102}}</string>
        <key>sourceSize</key>
        <string>{113,102}</string>
      </dict>
      <key>monster_0221_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,235},{104,121}}</string>
        <key>offset</key>
        <string>{-1,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,121}}</string>
        <key>sourceSize</key>
        <string>{104,121}</string>
      </dict>
      <key>monster_0221_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,136},{87,133}}</string>
        <key>offset</key>
        <string>{-4,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,133}}</string>
        <key>sourceSize</key>
        <string>{87,133}</string>
      </dict>
      <key>monster_0221_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,0},{81,134}}</string>
        <key>offset</key>
        <string>{-1,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,134}}</string>
        <key>sourceSize</key>
        <string>{81,134}</string>
      </dict>
      <key>monster_0221_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,0},{87,133}}</string>
        <key>offset</key>
        <string>{-4,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,133}}</string>
        <key>sourceSize</key>
        <string>{87,133}</string>
      </dict>
      <key>monster_0221_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,341},{110,120}}</string>
        <key>offset</key>
        <string>{-18,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,120}}</string>
        <key>sourceSize</key>
        <string>{110,120}</string>
      </dict>
      <key>monster_0221_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,605},{94,115}}</string>
        <key>offset</key>
        <string>{-16,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,115}}</string>
        <key>sourceSize</key>
        <string>{94,115}</string>
      </dict>
      <key>monster_0221_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,438},{134,125}}</string>
        <key>offset</key>
        <string>{-4,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,125}}</string>
        <key>sourceSize</key>
        <string>{134,125}</string>
      </dict>
      <key>monster_0221_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,474},{137,112}}</string>
        <key>offset</key>
        <string>{-63,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,112}}</string>
        <key>sourceSize</key>
        <string>{137,112}</string>
      </dict>
      <key>monster_0221_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,538},{153,107}}</string>
        <key>offset</key>
        <string>{-76,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,107}}</string>
        <key>sourceSize</key>
        <string>{153,107}</string>
      </dict>
      <key>monster_0221_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,613},{137,112}}</string>
        <key>offset</key>
        <string>{-63,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,112}}</string>
        <key>sourceSize</key>
        <string>{137,112}</string>
      </dict>
      <key>monster_0221_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,0},{91,121}}</string>
        <key>offset</key>
        <string>{-27,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,121}}</string>
        <key>sourceSize</key>
        <string>{91,121}</string>
      </dict>
      <key>monster_0221_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,96},{92,106}}</string>
        <key>offset</key>
        <string>{-24,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,106}}</string>
        <key>sourceSize</key>
        <string>{92,106}</string>
      </dict>
      <key>monster_0221_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,300},{136,112}}</string>
        <key>offset</key>
        <string>{-9,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,112}}</string>
        <key>sourceSize</key>
        <string>{136,112}</string>
      </dict>
      <key>monster_0221_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{172,104}}</string>
        <key>offset</key>
        <string>{-94,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,104}}</string>
        <key>sourceSize</key>
        <string>{172,104}</string>
      </dict>
      <key>monster_0221_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,180},{172,103}}</string>
        <key>offset</key>
        <string>{-99,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,103}}</string>
        <key>sourceSize</key>
        <string>{172,103}</string>
      </dict>
      <key>monster_0221_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{172,104}}</string>
        <key>offset</key>
        <string>{-94,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,104}}</string>
        <key>sourceSize</key>
        <string>{172,104}</string>
      </dict>
      <key>monster_0221_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,476},{148,105}}</string>
        <key>offset</key>
        <string>{-72,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,105}}</string>
        <key>sourceSize</key>
        <string>{148,105}</string>
      </dict>
      <key>monster_0221_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,605},{116,100}}</string>
        <key>offset</key>
        <string>{-33,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,100}}</string>
        <key>sourceSize</key>
        <string>{116,100}</string>
      </dict>
      <key>monster_0221_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,129},{122,104}}</string>
        <key>offset</key>
        <string>{-17,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,104}}</string>
        <key>sourceSize</key>
        <string>{122,104}</string>
      </dict>
      <key>monster_0221_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,325},{147,103}}</string>
        <key>offset</key>
        <string>{-56,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,103}}</string>
        <key>sourceSize</key>
        <string>{147,103}</string>
      </dict>
      <key>monster_0221_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,282},{134,108}}</string>
        <key>offset</key>
        <string>{-49,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,108}}</string>
        <key>sourceSize</key>
        <string>{134,108}</string>
      </dict>
      <key>monster_0221_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,151},{147,103}}</string>
        <key>offset</key>
        <string>{-56,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,103}}</string>
        <key>sourceSize</key>
        <string>{147,103}</string>
      </dict>
      <key>monster_0221_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,354},{151,102}}</string>
        <key>offset</key>
        <string>{-59,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,102}}</string>
        <key>sourceSize</key>
        <string>{151,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0221_0_2.png</string>
      <key>size</key>
      <string>{996,770}</string>
      <key>textureFileName</key>
      <string>monster_0221_0_2.png</string>
    </dict>
  </dict>
</plist>