<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0374_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,505},{94,111}}</string>
        <key>offset</key>
        <string>{-7,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,111}}</string>
        <key>sourceSize</key>
        <string>{94,111}</string>
      </dict>
      <key>monster_0374_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,589},{90,101}}</string>
        <key>offset</key>
        <string>{-7,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,101}}</string>
        <key>sourceSize</key>
        <string>{90,101}</string>
      </dict>
      <key>monster_0374_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,621},{87,102}}</string>
        <key>offset</key>
        <string>{-7,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,102}}</string>
        <key>sourceSize</key>
        <string>{87,102}</string>
      </dict>
      <key>monster_0374_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,396},{114,107}}</string>
        <key>offset</key>
        <string>{5,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,107}}</string>
        <key>sourceSize</key>
        <string>{114,107}</string>
      </dict>
      <key>monster_0374_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,621},{105,104}}</string>
        <key>offset</key>
        <string>{1,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,104}}</string>
        <key>sourceSize</key>
        <string>{105,104}</string>
      </dict>
      <key>monster_0374_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,505},{113,105}}</string>
        <key>offset</key>
        <string>{-7,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,105}}</string>
        <key>sourceSize</key>
        <string>{113,105}</string>
      </dict>
      <key>monster_0374_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,508},{158,111}}</string>
        <key>offset</key>
        <string>{-11,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,111}}</string>
        <key>sourceSize</key>
        <string>{158,111}</string>
      </dict>
      <key>monster_0374_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,172},{155,112}}</string>
        <key>offset</key>
        <string>{-23,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,112}}</string>
        <key>sourceSize</key>
        <string>{155,112}</string>
      </dict>
      <key>monster_0374_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,341},{157,106}}</string>
        <key>offset</key>
        <string>{-26,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,106}}</string>
        <key>sourceSize</key>
        <string>{157,106}</string>
      </dict>
      <key>monster_0374_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{134,126}}</string>
        <key>offset</key>
        <string>{-16,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,126}}</string>
        <key>sourceSize</key>
        <string>{134,126}</string>
      </dict>
      <key>monster_0374_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,284},{132,128}}</string>
        <key>offset</key>
        <string>{-24,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,128}}</string>
        <key>sourceSize</key>
        <string>{132,128}</string>
      </dict>
      <key>monster_0374_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,136},{132,119}}</string>
        <key>offset</key>
        <string>{-25,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,119}}</string>
        <key>sourceSize</key>
        <string>{132,119}</string>
      </dict>
      <key>monster_0374_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{88,143}}</string>
        <key>offset</key>
        <string>{-6,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,143}}</string>
        <key>sourceSize</key>
        <string>{88,143}</string>
      </dict>
      <key>monster_0374_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,500},{87,143}}</string>
        <key>offset</key>
        <string>{-4,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,143}}</string>
        <key>sourceSize</key>
        <string>{87,143}</string>
      </dict>
      <key>monster_0374_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,145},{89,137}}</string>
        <key>offset</key>
        <string>{-4,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,137}}</string>
        <key>sourceSize</key>
        <string>{89,137}</string>
      </dict>
      <key>monster_0374_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,136},{129,126}}</string>
        <key>offset</key>
        <string>{-46,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,126}}</string>
        <key>sourceSize</key>
        <string>{129,126}</string>
      </dict>
      <key>monster_0374_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,267},{127,127}}</string>
        <key>offset</key>
        <string>{-36,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,127}}</string>
        <key>sourceSize</key>
        <string>{127,127}</string>
      </dict>
      <key>monster_0374_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{129,121}}</string>
        <key>offset</key>
        <string>{-35,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,121}}</string>
        <key>sourceSize</key>
        <string>{129,121}</string>
      </dict>
      <key>monster_0374_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,113}}</string>
        <key>offset</key>
        <string>{-74,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,113}}</string>
        <key>sourceSize</key>
        <string>{170,113}</string>
      </dict>
      <key>monster_0374_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{167,112}}</string>
        <key>offset</key>
        <string>{-62,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,112}}</string>
        <key>sourceSize</key>
        <string>{167,112}</string>
      </dict>
      <key>monster_0374_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,341},{165,106}}</string>
        <key>offset</key>
        <string>{-60,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,106}}</string>
        <key>sourceSize</key>
        <string>{165,106}</string>
      </dict>
      <key>monster_0374_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{145,105}}</string>
        <key>offset</key>
        <string>{-45,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,105}}</string>
        <key>sourceSize</key>
        <string>{145,105}</string>
      </dict>
      <key>monster_0374_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,329},{141,96}}</string>
        <key>offset</key>
        <string>{-37,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,96}}</string>
        <key>sourceSize</key>
        <string>{141,96}</string>
      </dict>
      <key>monster_0374_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,472},{141,92}}</string>
        <key>offset</key>
        <string>{-37,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,92}}</string>
        <key>sourceSize</key>
        <string>{141,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0374_0_7.png</string>
      <key>size</key>
      <string>{642,744}</string>
      <key>textureFileName</key>
      <string>monster_0374_0_7.png</string>
    </dict>
  </dict>
</plist>