<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0222_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{63,132}}</string>
        <key>offset</key>
        <string>{1,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,132}}</string>
        <key>sourceSize</key>
        <string>{63,132}</string>
      </dict>
      <key>monster_0222_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,132},{62,119}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,119}}</string>
        <key>sourceSize</key>
        <string>{62,119}</string>
      </dict>
      <key>monster_0222_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{130,111}}</string>
        <key>offset</key>
        <string>{-37,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,111}}</string>
        <key>sourceSize</key>
        <string>{130,111}</string>
      </dict>
      <key>monster_0222_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,147},{134,95}}</string>
        <key>offset</key>
        <string>{-42,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,95}}</string>
        <key>sourceSize</key>
        <string>{134,95}</string>
      </dict>
      <key>monster_0222_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{167,72}}</string>
        <key>offset</key>
        <string>{-58,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,72}}</string>
        <key>sourceSize</key>
        <string>{167,72}</string>
      </dict>
      <key>monster_0222_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{164,56}}</string>
        <key>offset</key>
        <string>{-65,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,56}}</string>
        <key>sourceSize</key>
        <string>{164,56}</string>
      </dict>
      <key>monster_0222_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,283},{127,74}}</string>
        <key>offset</key>
        <string>{-34,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,74}}</string>
        <key>sourceSize</key>
        <string>{127,74}</string>
      </dict>
      <key>monster_0222_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,132},{117,76}}</string>
        <key>offset</key>
        <string>{-39,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,76}}</string>
        <key>sourceSize</key>
        <string>{117,76}</string>
      </dict>
      <key>monster_0222_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,287},{63,85}}</string>
        <key>offset</key>
        <string>{1,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,85}}</string>
        <key>sourceSize</key>
        <string>{63,85}</string>
      </dict>
      <key>monster_0222_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,223},{62,87}}</string>
        <key>offset</key>
        <string>{-3,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,87}}</string>
        <key>sourceSize</key>
        <string>{62,87}</string>
      </dict>
      <key>monster_0222_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,251},{109,79}}</string>
        <key>offset</key>
        <string>{-19,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,79}}</string>
        <key>sourceSize</key>
        <string>{109,79}</string>
      </dict>
      <key>monster_0222_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,253},{119,79}}</string>
        <key>offset</key>
        <string>{-25,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,79}}</string>
        <key>sourceSize</key>
        <string>{119,79}</string>
      </dict>
      <key>monster_0222_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{145,74}}</string>
        <key>offset</key>
        <string>{-34,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,74}}</string>
        <key>sourceSize</key>
        <string>{145,74}</string>
      </dict>
      <key>monster_0222_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,169},{150,62}}</string>
        <key>offset</key>
        <string>{-33,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,62}}</string>
        <key>sourceSize</key>
        <string>{150,62}</string>
      </dict>
      <key>monster_0222_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{106,113}}</string>
        <key>offset</key>
        <string>{-19,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,113}}</string>
        <key>sourceSize</key>
        <string>{106,113}</string>
      </dict>
      <key>monster_0222_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,115},{106,102}}</string>
        <key>offset</key>
        <string>{-15,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0222_0_7.png</string>
      <key>size</key>
      <string>{512,384}</string>
      <key>textureFileName</key>
      <string>monster_0222_0_7.png</string>
    </dict>
  </dict>
</plist>