<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0080_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,159},{154,65}}</string>
        <key>offset</key>
        <string>{-43,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,65}}</string>
        <key>sourceSize</key>
        <string>{154,65}</string>
      </dict>
      <key>monster_0080_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{157,64}}</string>
        <key>offset</key>
        <string>{-45,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,64}}</string>
        <key>sourceSize</key>
        <string>{157,64}</string>
      </dict>
      <key>monster_0080_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{152,64}}</string>
        <key>offset</key>
        <string>{-43,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,64}}</string>
        <key>sourceSize</key>
        <string>{152,64}</string>
      </dict>
      <key>monster_0080_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,154},{119,88}}</string>
        <key>offset</key>
        <string>{-13,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,88}}</string>
        <key>sourceSize</key>
        <string>{119,88}</string>
      </dict>
      <key>monster_0080_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,315},{120,88}}</string>
        <key>offset</key>
        <string>{-14,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>monster_0080_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,121},{117,87}}</string>
        <key>offset</key>
        <string>{-12,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,87}}</string>
        <key>sourceSize</key>
        <string>{117,87}</string>
      </dict>
      <key>monster_0080_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,347},{66,102}}</string>
        <key>offset</key>
        <string>{10,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,102}}</string>
        <key>sourceSize</key>
        <string>{66,102}</string>
      </dict>
      <key>monster_0080_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,173},{66,103}}</string>
        <key>offset</key>
        <string>{10,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,103}}</string>
        <key>sourceSize</key>
        <string>{66,103}</string>
      </dict>
      <key>monster_0080_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,241},{67,101}}</string>
        <key>offset</key>
        <string>{9,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,101}}</string>
        <key>sourceSize</key>
        <string>{67,101}</string>
      </dict>
      <key>monster_0080_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,275},{118,84}}</string>
        <key>offset</key>
        <string>{-13,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,84}}</string>
        <key>sourceSize</key>
        <string>{118,84}</string>
      </dict>
      <key>monster_0080_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{119,82}}</string>
        <key>offset</key>
        <string>{-14,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,82}}</string>
        <key>sourceSize</key>
        <string>{119,82}</string>
      </dict>
      <key>monster_0080_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,395},{118,82}}</string>
        <key>offset</key>
        <string>{-12,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,82}}</string>
        <key>sourceSize</key>
        <string>{118,82}</string>
      </dict>
      <key>monster_0080_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{155,47}}</string>
        <key>offset</key>
        <string>{-44,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,47}}</string>
        <key>sourceSize</key>
        <string>{155,47}</string>
      </dict>
      <key>monster_0080_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{156,44}}</string>
        <key>offset</key>
        <string>{-45,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,44}}</string>
        <key>sourceSize</key>
        <string>{156,44}</string>
      </dict>
      <key>monster_0080_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,315},{152,45}}</string>
        <key>offset</key>
        <string>{-44,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,45}}</string>
        <key>sourceSize</key>
        <string>{152,45}</string>
      </dict>
      <key>monster_0080_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,119},{116,84}}</string>
        <key>offset</key>
        <string>{-39,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,84}}</string>
        <key>sourceSize</key>
        <string>{116,84}</string>
      </dict>
      <key>monster_0080_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{117,82}}</string>
        <key>offset</key>
        <string>{-40,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,82}}</string>
        <key>sourceSize</key>
        <string>{117,82}</string>
      </dict>
      <key>monster_0080_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,88},{114,83}}</string>
        <key>offset</key>
        <string>{-40,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,83}}</string>
        <key>sourceSize</key>
        <string>{114,83}</string>
      </dict>
      <key>monster_0080_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,241},{51,103}}</string>
        <key>offset</key>
        <string>{-9,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,103}}</string>
        <key>sourceSize</key>
        <string>{51,103}</string>
      </dict>
      <key>monster_0080_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,294},{51,103}}</string>
        <key>offset</key>
        <string>{-9,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,103}}</string>
        <key>sourceSize</key>
        <string>{51,103}</string>
      </dict>
      <key>monster_0080_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,359},{53,101}}</string>
        <key>offset</key>
        <string>{-9,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,101}}</string>
        <key>sourceSize</key>
        <string>{53,101}</string>
      </dict>
      <key>monster_0080_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,240},{117,88}}</string>
        <key>offset</key>
        <string>{-39,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,88}}</string>
        <key>sourceSize</key>
        <string>{117,88}</string>
      </dict>
      <key>monster_0080_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{116,87}}</string>
        <key>offset</key>
        <string>{-39,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,87}}</string>
        <key>sourceSize</key>
        <string>{116,87}</string>
      </dict>
      <key>monster_0080_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,0},{115,86}}</string>
        <key>offset</key>
        <string>{-40,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,86}}</string>
        <key>sourceSize</key>
        <string>{115,86}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0080_0_0.png</string>
      <key>size</key>
      <string>{545,513}</string>
      <key>textureFileName</key>
      <string>monster_0080_0_0.png</string>
    </dict>
  </dict>
</plist>