<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1005_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1192,791},{108,236}}</string>
        <key>offset</key>
        <string>{-3,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,236}}</string>
        <key>sourceSize</key>
        <string>{108,236}</string>
      </dict>
      <key>monster_1005_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,641},{139,256}}</string>
        <key>offset</key>
        <string>{-19,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,256}}</string>
        <key>sourceSize</key>
        <string>{139,256}</string>
      </dict>
      <key>monster_1005_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,460},{207,264}}</string>
        <key>offset</key>
        <string>{-7,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,264}}</string>
        <key>sourceSize</key>
        <string>{207,264}</string>
      </dict>
      <key>monster_1005_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1190,901},{189,230}}</string>
        <key>offset</key>
        <string>{-1,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,230}}</string>
        <key>sourceSize</key>
        <string>{189,230}</string>
      </dict>
      <key>monster_1005_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,1010},{173,206}}</string>
        <key>offset</key>
        <string>{-3,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,206}}</string>
        <key>sourceSize</key>
        <string>{173,206}</string>
      </dict>
      <key>monster_1005_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1317,284},{272,200}}</string>
        <key>offset</key>
        <string>{-107,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,200}}</string>
        <key>sourceSize</key>
        <string>{272,200}</string>
      </dict>
      <key>monster_1005_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,228},{276,230}}</string>
        <key>offset</key>
        <string>{-111,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,230}}</string>
        <key>sourceSize</key>
        <string>{276,230}</string>
      </dict>
      <key>monster_1005_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1225,558},{231,260}}</string>
        <key>offset</key>
        <string>{-49,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,260}}</string>
        <key>sourceSize</key>
        <string>{231,260}</string>
      </dict>
      <key>monster_1005_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,669},{238,223}}</string>
        <key>offset</key>
        <string>{-52,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,223}}</string>
        <key>sourceSize</key>
        <string>{238,223}</string>
      </dict>
      <key>monster_1005_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,894},{236,198}}</string>
        <key>offset</key>
        <string>{-59,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,198}}</string>
        <key>sourceSize</key>
        <string>{236,198}</string>
      </dict>
      <key>monster_1005_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,368},{361,127}}</string>
        <key>offset</key>
        <string>{-154,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,127}}</string>
        <key>sourceSize</key>
        <string>{361,127}</string>
      </dict>
      <key>monster_1005_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,407},{391,145}}</string>
        <key>offset</key>
        <string>{-170,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,145}}</string>
        <key>sourceSize</key>
        <string>{391,145}</string>
      </dict>
      <key>monster_1005_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{361,177}}</string>
        <key>offset</key>
        <string>{-127,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,177}}</string>
        <key>sourceSize</key>
        <string>{361,177}</string>
      </dict>
      <key>monster_1005_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,800},{381,140}}</string>
        <key>offset</key>
        <string>{-148,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,140}}</string>
        <key>sourceSize</key>
        <string>{381,140}</string>
      </dict>
      <key>monster_1005_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,385},{372,110}}</string>
        <key>offset</key>
        <string>{-159,-38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,110}}</string>
        <key>sourceSize</key>
        <string>{372,110}</string>
      </dict>
      <key>monster_1005_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,0},{283,226}}</string>
        <key>offset</key>
        <string>{-123,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,226}}</string>
        <key>sourceSize</key>
        <string>{283,226}</string>
      </dict>
      <key>monster_1005_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,1079},{328,216}}</string>
        <key>offset</key>
        <string>{-143,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,216}}</string>
        <key>sourceSize</key>
        <string>{328,216}</string>
      </dict>
      <key>monster_1005_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,753},{363,145}}</string>
        <key>offset</key>
        <string>{-169,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,145}}</string>
        <key>sourceSize</key>
        <string>{363,145}</string>
      </dict>
      <key>monster_1005_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,385},{366,137}}</string>
        <key>offset</key>
        <string>{-196,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,137}}</string>
        <key>sourceSize</key>
        <string>{366,137}</string>
      </dict>
      <key>monster_1005_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,731},{346,141}}</string>
        <key>offset</key>
        <string>{-201,-17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,141}}</string>
        <key>sourceSize</key>
        <string>{346,141}</string>
      </dict>
      <key>monster_1005_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,1409},{109,273}}</string>
        <key>offset</key>
        <string>{-17,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,273}}</string>
        <key>sourceSize</key>
        <string>{109,273}</string>
      </dict>
      <key>monster_1005_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1324,0},{151,282}}</string>
        <key>offset</key>
        <string>{-35,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,282}}</string>
        <key>sourceSize</key>
        <string>{151,282}</string>
      </dict>
      <key>monster_1005_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,1290},{217,224}}</string>
        <key>offset</key>
        <string>{-123,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,224}}</string>
        <key>sourceSize</key>
        <string>{217,224}</string>
      </dict>
      <key>monster_1005_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,1012},{185,232}}</string>
        <key>offset</key>
        <string>{-132,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,232}}</string>
        <key>sourceSize</key>
        <string>{185,232}</string>
      </dict>
      <key>monster_1005_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1430,791},{169,217}}</string>
        <key>offset</key>
        <string>{-128,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,217}}</string>
        <key>sourceSize</key>
        <string>{169,217}</string>
      </dict>
      <key>monster_1005_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,343},{296,226}}</string>
        <key>offset</key>
        <string>{-96,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,226}}</string>
        <key>sourceSize</key>
        <string>{296,226}</string>
      </dict>
      <key>monster_1005_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,0},{289,241}}</string>
        <key>offset</key>
        <string>{-87,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,241}}</string>
        <key>sourceSize</key>
        <string>{289,241}</string>
      </dict>
      <key>monster_1005_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1190,1092},{196,225}}</string>
        <key>offset</key>
        <string>{-97,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,225}}</string>
        <key>sourceSize</key>
        <string>{196,225}</string>
      </dict>
      <key>monster_1005_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,1290},{224,222}}</string>
        <key>offset</key>
        <string>{-127,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,222}}</string>
        <key>sourceSize</key>
        <string>{224,222}</string>
      </dict>
      <key>monster_1005_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,1246},{232,202}}</string>
        <key>offset</key>
        <string>{-131,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,202}}</string>
        <key>sourceSize</key>
        <string>{232,202}</string>
      </dict>
      <key>monster_1005_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,800},{377,140}}</string>
        <key>offset</key>
        <string>{-137,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,140}}</string>
        <key>sourceSize</key>
        <string>{377,140}</string>
      </dict>
      <key>monster_1005_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{405,140}}</string>
        <key>offset</key>
        <string>{-143,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,140}}</string>
        <key>sourceSize</key>
        <string>{405,140}</string>
      </dict>
      <key>monster_1005_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,0},{341,163}}</string>
        <key>offset</key>
        <string>{-142,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,163}}</string>
        <key>sourceSize</key>
        <string>{341,163}</string>
      </dict>
      <key>monster_1005_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{383,136}}</string>
        <key>offset</key>
        <string>{-173,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,136}}</string>
        <key>sourceSize</key>
        <string>{383,136}</string>
      </dict>
      <key>monster_1005_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1183},{380,102}}</string>
        <key>offset</key>
        <string>{-175,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,102}}</string>
        <key>sourceSize</key>
        <string>{380,102}</string>
      </dict>
      <key>monster_1005_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,710},{300,204}}</string>
        <key>offset</key>
        <string>{-90,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,204}}</string>
        <key>sourceSize</key>
        <string>{300,204}</string>
      </dict>
      <key>monster_1005_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1287},{338,210}}</string>
        <key>offset</key>
        <string>{-107,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,210}}</string>
        <key>sourceSize</key>
        <string>{338,210}</string>
      </dict>
      <key>monster_1005_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,363},{345,202}}</string>
        <key>offset</key>
        <string>{-101,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,202}}</string>
        <key>sourceSize</key>
        <string>{345,202}</string>
      </dict>
      <key>monster_1005_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{366,170}}</string>
        <key>offset</key>
        <string>{-109,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,170}}</string>
        <key>sourceSize</key>
        <string>{366,170}</string>
      </dict>
      <key>monster_1005_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,1118},{353,152}}</string>
        <key>offset</key>
        <string>{-108,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,152}}</string>
        <key>sourceSize</key>
        <string>{353,152}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1005_0_4.png</string>
      <key>size</key>
      <string>{1620,1537}</string>
      <key>textureFileName</key>
      <string>monster_1005_0_4.png</string>
    </dict>
  </dict>
</plist>