<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0251_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,108},{88,126}}</string>
        <key>offset</key>
        <string>{-10,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,126}}</string>
        <key>sourceSize</key>
        <string>{88,126}</string>
      </dict>
      <key>monster_0251_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,198},{88,125}}</string>
        <key>offset</key>
        <string>{-10,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,125}}</string>
        <key>sourceSize</key>
        <string>{88,125}</string>
      </dict>
      <key>monster_0251_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{87,124}}</string>
        <key>offset</key>
        <string>{-10,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,124}}</string>
        <key>sourceSize</key>
        <string>{87,124}</string>
      </dict>
      <key>monster_0251_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,89},{88,124}}</string>
        <key>offset</key>
        <string>{-10,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,124}}</string>
        <key>sourceSize</key>
        <string>{88,124}</string>
      </dict>
      <key>monster_0251_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{163,117}}</string>
        <key>offset</key>
        <string>{-25,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,117}}</string>
        <key>sourceSize</key>
        <string>{163,117}</string>
      </dict>
      <key>monster_0251_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,165},{161,114}}</string>
        <key>offset</key>
        <string>{-26,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,114}}</string>
        <key>sourceSize</key>
        <string>{161,114}</string>
      </dict>
      <key>monster_0251_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,330},{162,113}}</string>
        <key>offset</key>
        <string>{-25,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,113}}</string>
        <key>sourceSize</key>
        <string>{162,113}</string>
      </dict>
      <key>monster_0251_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,380},{163,115}}</string>
        <key>offset</key>
        <string>{-25,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,115}}</string>
        <key>sourceSize</key>
        <string>{163,115}</string>
      </dict>
      <key>monster_0251_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{190,101}}</string>
        <key>offset</key>
        <string>{-49,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,101}}</string>
        <key>sourceSize</key>
        <string>{190,101}</string>
      </dict>
      <key>monster_0251_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{190,100}}</string>
        <key>offset</key>
        <string>{-51,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,100}}</string>
        <key>sourceSize</key>
        <string>{190,100}</string>
      </dict>
      <key>monster_0251_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,384},{188,98}}</string>
        <key>offset</key>
        <string>{-49,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,98}}</string>
        <key>sourceSize</key>
        <string>{188,98}</string>
      </dict>
      <key>monster_0251_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{190,100}}</string>
        <key>offset</key>
        <string>{-49,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,100}}</string>
        <key>sourceSize</key>
        <string>{190,100}</string>
      </dict>
      <key>monster_0251_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,288},{117,125}}</string>
        <key>offset</key>
        <string>{-31,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,125}}</string>
        <key>sourceSize</key>
        <string>{117,125}</string>
      </dict>
      <key>monster_0251_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,407},{116,125}}</string>
        <key>offset</key>
        <string>{-32,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,125}}</string>
        <key>sourceSize</key>
        <string>{116,125}</string>
      </dict>
      <key>monster_0251_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,525},{115,125}}</string>
        <key>offset</key>
        <string>{-31,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,125}}</string>
        <key>sourceSize</key>
        <string>{115,125}</string>
      </dict>
      <key>monster_0251_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,525},{115,125}}</string>
        <key>offset</key>
        <string>{-30,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,125}}</string>
        <key>sourceSize</key>
        <string>{115,125}</string>
      </dict>
      <key>monster_0251_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{106,127}}</string>
        <key>offset</key>
        <string>{-15,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,127}}</string>
        <key>sourceSize</key>
        <string>{106,127}</string>
      </dict>
      <key>monster_0251_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,491},{106,129}}</string>
        <key>offset</key>
        <string>{-15,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,129}}</string>
        <key>sourceSize</key>
        <string>{106,129}</string>
      </dict>
      <key>monster_0251_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,163},{107,129}}</string>
        <key>offset</key>
        <string>{-16,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,129}}</string>
        <key>sourceSize</key>
        <string>{107,129}</string>
      </dict>
      <key>monster_0251_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,0},{106,129}}</string>
        <key>offset</key>
        <string>{-15,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,129}}</string>
        <key>sourceSize</key>
        <string>{106,129}</string>
      </dict>
      <key>monster_0251_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,0},{161,96}}</string>
        <key>offset</key>
        <string>{-76,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,96}}</string>
        <key>sourceSize</key>
        <string>{161,96}</string>
      </dict>
      <key>monster_0251_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,494},{161,97}}</string>
        <key>offset</key>
        <string>{-75,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,97}}</string>
        <key>sourceSize</key>
        <string>{161,97}</string>
      </dict>
      <key>monster_0251_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,165},{163,96}}</string>
        <key>offset</key>
        <string>{-77,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,96}}</string>
        <key>sourceSize</key>
        <string>{163,96}</string>
      </dict>
      <key>monster_0251_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,328},{161,96}}</string>
        <key>offset</key>
        <string>{-77,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,96}}</string>
        <key>sourceSize</key>
        <string>{161,96}</string>
      </dict>
      <key>monster_0251_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,192},{188,96}}</string>
        <key>offset</key>
        <string>{-79,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,96}}</string>
        <key>sourceSize</key>
        <string>{188,96}</string>
      </dict>
      <key>monster_0251_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{188,94}}</string>
        <key>offset</key>
        <string>{-78,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,94}}</string>
        <key>sourceSize</key>
        <string>{188,94}</string>
      </dict>
      <key>monster_0251_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{188,93}}</string>
        <key>offset</key>
        <string>{-79,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,93}}</string>
        <key>sourceSize</key>
        <string>{188,93}</string>
      </dict>
      <key>monster_0251_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,190},{188,94}}</string>
        <key>offset</key>
        <string>{-80,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,94}}</string>
        <key>sourceSize</key>
        <string>{188,94}</string>
      </dict>
      <key>monster_0251_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,407},{114,113}}</string>
        <key>offset</key>
        <string>{-22,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,113}}</string>
        <key>sourceSize</key>
        <string>{114,113}</string>
      </dict>
      <key>monster_0251_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,293},{113,111}}</string>
        <key>offset</key>
        <string>{-21,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,111}}</string>
        <key>sourceSize</key>
        <string>{113,111}</string>
      </dict>
      <key>monster_0251_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,545},{113,110}}</string>
        <key>offset</key>
        <string>{-21,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,110}}</string>
        <key>sourceSize</key>
        <string>{113,110}</string>
      </dict>
      <key>monster_0251_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,179},{114,112}}</string>
        <key>offset</key>
        <string>{-22,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,112}}</string>
        <key>sourceSize</key>
        <string>{114,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0251_0_0.png</string>
      <key>size</key>
      <string>{883,697}</string>
      <key>textureFileName</key>
      <string>monster_0251_0_0.png</string>
    </dict>
  </dict>
</plist>