<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1001_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,224},{67,108}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,108}}</string>
        <key>sourceSize</key>
        <string>{67,108}</string>
      </dict>
      <key>monster_1001_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{66,108}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,108}}</string>
        <key>sourceSize</key>
        <string>{66,108}</string>
      </dict>
      <key>monster_1001_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,0},{67,108}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,108}}</string>
        <key>sourceSize</key>
        <string>{67,108}</string>
      </dict>
      <key>monster_1001_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,244},{79,111}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,111}}</string>
        <key>sourceSize</key>
        <string>{79,111}</string>
      </dict>
      <key>monster_1001_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{81,111}}</string>
        <key>offset</key>
        <string>{-9,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,111}}</string>
        <key>sourceSize</key>
        <string>{81,111}</string>
      </dict>
      <key>monster_1001_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,113},{81,111}}</string>
        <key>offset</key>
        <string>{-9,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,111}}</string>
        <key>sourceSize</key>
        <string>{81,111}</string>
      </dict>
      <key>monster_1001_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,226},{111,91}}</string>
        <key>offset</key>
        <string>{-39,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,91}}</string>
        <key>sourceSize</key>
        <string>{111,91}</string>
      </dict>
      <key>monster_1001_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{110,90}}</string>
        <key>offset</key>
        <string>{-40,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,90}}</string>
        <key>sourceSize</key>
        <string>{110,90}</string>
      </dict>
      <key>monster_1001_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,112},{110,90}}</string>
        <key>offset</key>
        <string>{-40,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,90}}</string>
        <key>sourceSize</key>
        <string>{110,90}</string>
      </dict>
      <key>monster_1001_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{120,76}}</string>
        <key>offset</key>
        <string>{-45,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,76}}</string>
        <key>sourceSize</key>
        <string>{120,76}</string>
      </dict>
      <key>monster_1001_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{119,76}}</string>
        <key>offset</key>
        <string>{-45,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,76}}</string>
        <key>sourceSize</key>
        <string>{119,76}</string>
      </dict>
      <key>monster_1001_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{120,76}}</string>
        <key>offset</key>
        <string>{-45,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,76}}</string>
        <key>sourceSize</key>
        <string>{120,76}</string>
      </dict>
      <key>monster_1001_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,342},{84,79}}</string>
        <key>offset</key>
        <string>{-11,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,79}}</string>
        <key>sourceSize</key>
        <string>{84,79}</string>
      </dict>
      <key>monster_1001_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,356},{83,79}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,79}}</string>
        <key>sourceSize</key>
        <string>{83,79}</string>
      </dict>
      <key>monster_1001_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,357},{84,79}}</string>
        <key>offset</key>
        <string>{-11,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,79}}</string>
        <key>sourceSize</key>
        <string>{84,79}</string>
      </dict>
      <key>monster_1001_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{57,82}}</string>
        <key>offset</key>
        <string>{9,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,82}}</string>
        <key>sourceSize</key>
        <string>{57,82}</string>
      </dict>
      <key>monster_1001_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,84},{56,82}}</string>
        <key>offset</key>
        <string>{10,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,82}}</string>
        <key>sourceSize</key>
        <string>{56,82}</string>
      </dict>
      <key>monster_1001_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{56,82}}</string>
        <key>offset</key>
        <string>{9,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,82}}</string>
        <key>sourceSize</key>
        <string>{56,82}</string>
      </dict>
      <key>monster_1001_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,164},{91,82}}</string>
        <key>offset</key>
        <string>{3,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,82}}</string>
        <key>sourceSize</key>
        <string>{91,82}</string>
      </dict>
      <key>monster_1001_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,257},{92,83}}</string>
        <key>offset</key>
        <string>{3,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,83}}</string>
        <key>sourceSize</key>
        <string>{92,83}</string>
      </dict>
      <key>monster_1001_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,339},{92,83}}</string>
        <key>offset</key>
        <string>{3,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,83}}</string>
        <key>sourceSize</key>
        <string>{92,83}</string>
      </dict>
      <key>monster_1001_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,164},{97,91}}</string>
        <key>offset</key>
        <string>{3,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,91}}</string>
        <key>sourceSize</key>
        <string>{97,91}</string>
      </dict>
      <key>monster_1001_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,257},{97,93}}</string>
        <key>offset</key>
        <string>{3,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,93}}</string>
        <key>sourceSize</key>
        <string>{97,93}</string>
      </dict>
      <key>monster_1001_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,68},{99,94}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,94}}</string>
        <key>sourceSize</key>
        <string>{99,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1001_0_0.png</string>
      <key>size</key>
      <string>{514,464}</string>
      <key>textureFileName</key>
      <string>monster_1001_0_0.png</string>
    </dict>
  </dict>
</plist>