<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0383_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,547},{249,201}}</string>
        <key>offset</key>
        <string>{-65,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,201}}</string>
        <key>sourceSize</key>
        <string>{249,201}</string>
      </dict>
      <key>monster_0383_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,828},{238,223}}</string>
        <key>offset</key>
        <string>{-62,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,223}}</string>
        <key>sourceSize</key>
        <string>{238,223}</string>
      </dict>
      <key>monster_0383_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,509},{238,216}}</string>
        <key>offset</key>
        <string>{-60,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,216}}</string>
        <key>sourceSize</key>
        <string>{238,216}</string>
      </dict>
      <key>monster_0383_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,828},{229,236}}</string>
        <key>offset</key>
        <string>{-47,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,236}}</string>
        <key>sourceSize</key>
        <string>{229,236}</string>
      </dict>
      <key>monster_0383_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,258},{215,249}}</string>
        <key>offset</key>
        <string>{-74,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,249}}</string>
        <key>sourceSize</key>
        <string>{215,249}</string>
      </dict>
      <key>monster_0383_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,547},{211,253}}</string>
        <key>offset</key>
        <string>{-60,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,253}}</string>
        <key>sourceSize</key>
        <string>{211,253}</string>
      </dict>
      <key>monster_0383_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{194,258}}</string>
        <key>offset</key>
        <string>{-21,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,258}}</string>
        <key>sourceSize</key>
        <string>{194,258}</string>
      </dict>
      <key>monster_0383_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,282},{254,263}}</string>
        <key>offset</key>
        <string>{-89,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,263}}</string>
        <key>sourceSize</key>
        <string>{254,263}</string>
      </dict>
      <key>monster_0383_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{259,280}}</string>
        <key>offset</key>
        <string>{-71,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,280}}</string>
        <key>sourceSize</key>
        <string>{259,280}</string>
      </dict>
      <key>monster_0383_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{223,276}}</string>
        <key>offset</key>
        <string>{-49,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,276}}</string>
        <key>sourceSize</key>
        <string>{223,276}</string>
      </dict>
      <key>monster_0383_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,0},{256,255}}</string>
        <key>offset</key>
        <string>{-81,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,255}}</string>
        <key>sourceSize</key>
        <string>{256,255}</string>
      </dict>
      <key>monster_0383_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,560},{262,266}}</string>
        <key>offset</key>
        <string>{-64,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,266}}</string>
        <key>sourceSize</key>
        <string>{262,266}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0383_0_7_0.png</string>
      <key>size</key>
      <string>{898,1118}</string>
      <key>textureFileName</key>
      <string>monster_0383_0_7_0.png</string>
    </dict>
  </dict>
</plist>