<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0202_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,247},{120,92}}</string>
        <key>offset</key>
        <string>{-21,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,92}}</string>
        <key>sourceSize</key>
        <string>{120,92}</string>
      </dict>
      <key>monster_0202_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{122,79}}</string>
        <key>offset</key>
        <string>{-22,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,79}}</string>
        <key>sourceSize</key>
        <string>{122,79}</string>
      </dict>
      <key>monster_0202_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,483},{116,62}}</string>
        <key>offset</key>
        <string>{-29,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,62}}</string>
        <key>sourceSize</key>
        <string>{116,62}</string>
      </dict>
      <key>monster_0202_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{127,59}}</string>
        <key>offset</key>
        <string>{-36,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,59}}</string>
        <key>sourceSize</key>
        <string>{127,59}</string>
      </dict>
      <key>monster_0202_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,391},{127,59}}</string>
        <key>offset</key>
        <string>{-36,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,59}}</string>
        <key>sourceSize</key>
        <string>{127,59}</string>
      </dict>
      <key>monster_0202_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,519},{123,95}}</string>
        <key>offset</key>
        <string>{-22,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,95}}</string>
        <key>sourceSize</key>
        <string>{123,95}</string>
      </dict>
      <key>monster_0202_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,116},{113,94}}</string>
        <key>offset</key>
        <string>{-46,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,94}}</string>
        <key>sourceSize</key>
        <string>{113,94}</string>
      </dict>
      <key>monster_0202_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,196},{112,63}}</string>
        <key>offset</key>
        <string>{-64,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,63}}</string>
        <key>sourceSize</key>
        <string>{112,63}</string>
      </dict>
      <key>monster_0202_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,196},{110,68}}</string>
        <key>offset</key>
        <string>{-62,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,68}}</string>
        <key>sourceSize</key>
        <string>{110,68}</string>
      </dict>
      <key>monster_0202_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,231},{110,68}}</string>
        <key>offset</key>
        <string>{-62,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,68}}</string>
        <key>sourceSize</key>
        <string>{110,68}</string>
      </dict>
      <key>monster_0202_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,625},{97,93}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,93}}</string>
        <key>sourceSize</key>
        <string>{97,93}</string>
      </dict>
      <key>monster_0202_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,460},{81,107}}</string>
        <key>offset</key>
        <string>{-34,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,107}}</string>
        <key>sourceSize</key>
        <string>{81,107}</string>
      </dict>
      <key>monster_0202_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,533},{102,82}}</string>
        <key>offset</key>
        <string>{-59,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,82}}</string>
        <key>sourceSize</key>
        <string>{102,82}</string>
      </dict>
      <key>monster_0202_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,543},{101,80}}</string>
        <key>offset</key>
        <string>{-58,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,80}}</string>
        <key>sourceSize</key>
        <string>{101,80}</string>
      </dict>
      <key>monster_0202_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,616},{101,80}}</string>
        <key>offset</key>
        <string>{-58,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,80}}</string>
        <key>sourceSize</key>
        <string>{101,80}</string>
      </dict>
      <key>monster_0202_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,343},{109,100}}</string>
        <key>offset</key>
        <string>{-15,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,100}}</string>
        <key>sourceSize</key>
        <string>{109,100}</string>
      </dict>
      <key>monster_0202_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,124},{100,121}}</string>
        <key>offset</key>
        <string>{-39,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,121}}</string>
        <key>sourceSize</key>
        <string>{100,121}</string>
      </dict>
      <key>monster_0202_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,367},{109,91}}</string>
        <key>offset</key>
        <string>{-62,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,91}}</string>
        <key>sourceSize</key>
        <string>{109,91}</string>
      </dict>
      <key>monster_0202_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,123},{119,68}}</string>
        <key>offset</key>
        <string>{-73,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,68}}</string>
        <key>sourceSize</key>
        <string>{119,68}</string>
      </dict>
      <key>monster_0202_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,123},{119,68}}</string>
        <key>offset</key>
        <string>{-73,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,68}}</string>
        <key>sourceSize</key>
        <string>{119,68}</string>
      </dict>
      <key>monster_0202_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,364},{117,94}}</string>
        <key>offset</key>
        <string>{-21,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,94}}</string>
        <key>sourceSize</key>
        <string>{117,94}</string>
      </dict>
      <key>monster_0202_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{121,117}}</string>
        <key>offset</key>
        <string>{-14,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,117}}</string>
        <key>sourceSize</key>
        <string>{121,117}</string>
      </dict>
      <key>monster_0202_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,445},{109,86}}</string>
        <key>offset</key>
        <string>{-25,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,86}}</string>
        <key>sourceSize</key>
        <string>{109,86}</string>
      </dict>
      <key>monster_0202_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{129,66}}</string>
        <key>offset</key>
        <string>{-43,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,66}}</string>
        <key>sourceSize</key>
        <string>{129,66}</string>
      </dict>
      <key>monster_0202_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{129,66}}</string>
        <key>offset</key>
        <string>{-43,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,66}}</string>
        <key>sourceSize</key>
        <string>{129,66}</string>
      </dict>
      <key>monster_0202_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,483},{115,99}}</string>
        <key>offset</key>
        <string>{-22,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,99}}</string>
        <key>sourceSize</key>
        <string>{115,99}</string>
      </dict>
      <key>monster_0202_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,391},{126,122}}</string>
        <key>offset</key>
        <string>{6,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,122}}</string>
        <key>sourceSize</key>
        <string>{126,122}</string>
      </dict>
      <key>monster_0202_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,262},{125,84}}</string>
        <key>offset</key>
        <string>{0,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,84}}</string>
        <key>sourceSize</key>
        <string>{125,84}</string>
      </dict>
      <key>monster_0202_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{114,69}}</string>
        <key>offset</key>
        <string>{-1,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,69}}</string>
        <key>sourceSize</key>
        <string>{114,69}</string>
      </dict>
      <key>monster_0202_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{114,69}}</string>
        <key>offset</key>
        <string>{-1,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,69}}</string>
        <key>sourceSize</key>
        <string>{114,69}</string>
      </dict>
      <key>monster_0202_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,620},{95,98}}</string>
        <key>offset</key>
        <string>{-2,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,98}}</string>
        <key>sourceSize</key>
        <string>{95,98}</string>
      </dict>
      <key>monster_0202_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,86},{114,108}}</string>
        <key>offset</key>
        <string>{6,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,108}}</string>
        <key>sourceSize</key>
        <string>{114,108}</string>
      </dict>
      <key>monster_0202_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{115,84}}</string>
        <key>offset</key>
        <string>{7,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,84}}</string>
        <key>sourceSize</key>
        <string>{115,84}</string>
      </dict>
      <key>monster_0202_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,308},{99,72}}</string>
        <key>offset</key>
        <string>{5,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,72}}</string>
        <key>sourceSize</key>
        <string>{99,72}</string>
      </dict>
      <key>monster_0202_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,600},{99,72}}</string>
        <key>offset</key>
        <string>{5,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,72}}</string>
        <key>sourceSize</key>
        <string>{99,72}</string>
      </dict>
      <key>monster_0202_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,261},{110,104}}</string>
        <key>offset</key>
        <string>{-18,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,104}}</string>
        <key>sourceSize</key>
        <string>{110,104}</string>
      </dict>
      <key>monster_0202_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,520},{125,98}}</string>
        <key>offset</key>
        <string>{0,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,98}}</string>
        <key>sourceSize</key>
        <string>{125,98}</string>
      </dict>
      <key>monster_0202_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,244},{118,67}}</string>
        <key>offset</key>
        <string>{5,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,67}}</string>
        <key>sourceSize</key>
        <string>{118,67}</string>
      </dict>
      <key>monster_0202_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{119,60}}</string>
        <key>offset</key>
        <string>{1,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,60}}</string>
        <key>sourceSize</key>
        <string>{119,60}</string>
      </dict>
      <key>monster_0202_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,369},{119,60}}</string>
        <key>offset</key>
        <string>{1,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,60}}</string>
        <key>sourceSize</key>
        <string>{119,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0202_0_4.png</string>
      <key>size</key>
      <string>{690,720}</string>
      <key>textureFileName</key>
      <string>monster_0202_0_4.png</string>
    </dict>
  </dict>
</plist>