<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1006_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{192,159}}</string>
        <key>offset</key>
        <string>{-62,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,159}}</string>
        <key>sourceSize</key>
        <string>{192,159}</string>
      </dict>
      <key>monster_1006_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,630},{176,160}}</string>
        <key>offset</key>
        <string>{-65,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,160}}</string>
        <key>sourceSize</key>
        <string>{176,160}</string>
      </dict>
      <key>monster_1006_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,630},{175,158}}</string>
        <key>offset</key>
        <string>{-64,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,158}}</string>
        <key>sourceSize</key>
        <string>{175,158}</string>
      </dict>
      <key>monster_1006_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{219,163}}</string>
        <key>offset</key>
        <string>{-36,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,163}}</string>
        <key>sourceSize</key>
        <string>{219,163}</string>
      </dict>
      <key>monster_1006_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{231,161}}</string>
        <key>offset</key>
        <string>{-46,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,161}}</string>
        <key>sourceSize</key>
        <string>{231,161}</string>
      </dict>
      <key>monster_1006_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{225,163}}</string>
        <key>offset</key>
        <string>{-43,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,163}}</string>
        <key>sourceSize</key>
        <string>{225,163}</string>
      </dict>
      <key>monster_1006_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,459},{214,169}}</string>
        <key>offset</key>
        <string>{-53,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,169}}</string>
        <key>sourceSize</key>
        <string>{214,169}</string>
      </dict>
      <key>monster_1006_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,233},{227,159}}</string>
        <key>offset</key>
        <string>{-41,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,159}}</string>
        <key>sourceSize</key>
        <string>{227,159}</string>
      </dict>
      <key>monster_1006_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,233},{224,160}}</string>
        <key>offset</key>
        <string>{-44,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,160}}</string>
        <key>sourceSize</key>
        <string>{224,160}</string>
      </dict>
      <key>monster_1006_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,539},{187,185}}</string>
        <key>offset</key>
        <string>{-52,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,185}}</string>
        <key>sourceSize</key>
        <string>{187,185}</string>
      </dict>
      <key>monster_1006_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,349},{188,188}}</string>
        <key>offset</key>
        <string>{-57,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,188}}</string>
        <key>sourceSize</key>
        <string>{188,188}</string>
      </dict>
      <key>monster_1006_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,161},{189,186}}</string>
        <key>offset</key>
        <string>{-56,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,186}}</string>
        <key>sourceSize</key>
        <string>{189,186}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1006_0_7_0.png</string>
      <key>size</key>
      <string>{642,812}</string>
      <key>textureFileName</key>
      <string>monster_1006_0_7_0.png</string>
    </dict>
  </dict>
</plist>