<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0415_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,93},{89,84}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,84}}</string>
        <key>sourceSize</key>
        <string>{89,84}</string>
      </dict>
      <key>monster_0415_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,174},{73,81}}</string>
        <key>offset</key>
        <string>{-1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,81}}</string>
        <key>sourceSize</key>
        <string>{73,81}</string>
      </dict>
      <key>monster_0415_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,189},{90,81}}</string>
        <key>offset</key>
        <string>{-10,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,81}}</string>
        <key>sourceSize</key>
        <string>{90,81}</string>
      </dict>
      <key>monster_0415_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,88},{81,84}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,84}}</string>
        <key>sourceSize</key>
        <string>{81,84}</string>
      </dict>
      <key>monster_0415_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,166},{82,78}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,78}}</string>
        <key>sourceSize</key>
        <string>{82,78}</string>
      </dict>
      <key>monster_0415_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{71,93}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,93}}</string>
        <key>sourceSize</key>
        <string>{71,93}</string>
      </dict>
      <key>monster_0415_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{75,89}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,89}}</string>
        <key>sourceSize</key>
        <string>{75,89}</string>
      </dict>
      <key>monster_0415_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,266},{80,82}}</string>
        <key>offset</key>
        <string>{-3,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,82}}</string>
        <key>sourceSize</key>
        <string>{80,82}</string>
      </dict>
      <key>monster_0415_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{79,91}}</string>
        <key>offset</key>
        <string>{-13,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,91}}</string>
        <key>sourceSize</key>
        <string>{79,91}</string>
      </dict>
      <key>monster_0415_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,184},{86,85}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,85}}</string>
        <key>sourceSize</key>
        <string>{86,85}</string>
      </dict>
      <key>monster_0415_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,281},{88,83}}</string>
        <key>offset</key>
        <string>{-12,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,83}}</string>
        <key>sourceSize</key>
        <string>{88,83}</string>
      </dict>
      <key>monster_0415_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,75}}</string>
        <key>offset</key>
        <string>{-24,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,75}}</string>
        <key>sourceSize</key>
        <string>{101,75}</string>
      </dict>
      <key>monster_0415_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{93,74}}</string>
        <key>offset</key>
        <string>{-21,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,74}}</string>
        <key>sourceSize</key>
        <string>{93,74}</string>
      </dict>
      <key>monster_0415_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,272},{85,74}}</string>
        <key>offset</key>
        <string>{-22,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,74}}</string>
        <key>sourceSize</key>
        <string>{85,74}</string>
      </dict>
      <key>monster_0415_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{94,76}}</string>
        <key>offset</key>
        <string>{-23,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,76}}</string>
        <key>sourceSize</key>
        <string>{94,76}</string>
      </dict>
      <key>monster_0415_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,91},{86,82}}</string>
        <key>offset</key>
        <string>{-23,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,82}}</string>
        <key>sourceSize</key>
        <string>{86,82}</string>
      </dict>
      <key>monster_0415_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,95},{92,75}}</string>
        <key>offset</key>
        <string>{-25,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,75}}</string>
        <key>sourceSize</key>
        <string>{92,75}</string>
      </dict>
      <key>monster_0415_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,246},{68,80}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,80}}</string>
        <key>sourceSize</key>
        <string>{68,80}</string>
      </dict>
      <key>monster_0415_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,0},{65,84}}</string>
        <key>offset</key>
        <string>{-2,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,84}}</string>
        <key>sourceSize</key>
        <string>{65,84}</string>
      </dict>
      <key>monster_0415_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,86},{83,78}}</string>
        <key>offset</key>
        <string>{-17,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,78}}</string>
        <key>sourceSize</key>
        <string>{83,78}</string>
      </dict>
      <key>monster_0415_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,316},{79,77}}</string>
        <key>offset</key>
        <string>{-8,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,77}}</string>
        <key>sourceSize</key>
        <string>{79,77}</string>
      </dict>
      <key>monster_0415_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,179},{85,78}}</string>
        <key>offset</key>
        <string>{-14,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,78}}</string>
        <key>sourceSize</key>
        <string>{85,78}</string>
      </dict>
      <key>monster_0415_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{86,74}}</string>
        <key>offset</key>
        <string>{-17,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,74}}</string>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>monster_0415_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{95,75}}</string>
        <key>offset</key>
        <string>{-19,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,75}}</string>
        <key>sourceSize</key>
        <string>{95,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0415_0_7.png</string>
      <key>size</key>
      <string>{513,422}</string>
      <key>textureFileName</key>
      <string>monster_0415_0_7.png</string>
    </dict>
  </dict>
</plist>