<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0213_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,0},{137,102}}</string>
        <key>offset</key>
        <string>{-39,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,102}}</string>
        <key>sourceSize</key>
        <string>{137,102}</string>
      </dict>
      <key>monster_0213_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,161},{153,106}}</string>
        <key>offset</key>
        <string>{-41,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,106}}</string>
        <key>sourceSize</key>
        <string>{153,106}</string>
      </dict>
      <key>monster_0213_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,697},{164,122}}</string>
        <key>offset</key>
        <string>{-42,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,122}}</string>
        <key>sourceSize</key>
        <string>{164,122}</string>
      </dict>
      <key>monster_0213_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,139},{136,116}}</string>
        <key>offset</key>
        <string>{-46,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,116}}</string>
        <key>sourceSize</key>
        <string>{136,116}</string>
      </dict>
      <key>monster_0213_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,735},{134,109}}</string>
        <key>offset</key>
        <string>{-43,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,109}}</string>
        <key>sourceSize</key>
        <string>{134,109}</string>
      </dict>
      <key>monster_0213_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,790},{139,103}}</string>
        <key>offset</key>
        <string>{-42,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,103}}</string>
        <key>sourceSize</key>
        <string>{139,103}</string>
      </dict>
      <key>monster_0213_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,154},{149,109}}</string>
        <key>offset</key>
        <string>{-38,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,109}}</string>
        <key>sourceSize</key>
        <string>{149,109}</string>
      </dict>
      <key>monster_0213_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,277},{128,101}}</string>
        <key>offset</key>
        <string>{-25,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,101}}</string>
        <key>sourceSize</key>
        <string>{128,101}</string>
      </dict>
      <key>monster_0213_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,0},{136,101}}</string>
        <key>offset</key>
        <string>{-35,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,101}}</string>
        <key>sourceSize</key>
        <string>{136,101}</string>
      </dict>
      <key>monster_0213_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,332},{155,104}}</string>
        <key>offset</key>
        <string>{-51,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,104}}</string>
        <key>sourceSize</key>
        <string>{155,104}</string>
      </dict>
      <key>monster_0213_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,0},{145,103}}</string>
        <key>offset</key>
        <string>{-50,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,103}}</string>
        <key>sourceSize</key>
        <string>{145,103}</string>
      </dict>
      <key>monster_0213_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{152,102}}</string>
        <key>offset</key>
        <string>{-43,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,102}}</string>
        <key>sourceSize</key>
        <string>{152,102}</string>
      </dict>
      <key>monster_0213_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,0},{118,114}}</string>
        <key>offset</key>
        <string>{-8,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,114}}</string>
        <key>sourceSize</key>
        <string>{118,114}</string>
      </dict>
      <key>monster_0213_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,598},{132,111}}</string>
        <key>offset</key>
        <string>{-43,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,111}}</string>
        <key>sourceSize</key>
        <string>{132,111}</string>
      </dict>
      <key>monster_0213_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,305},{147,115}}</string>
        <key>offset</key>
        <string>{-55,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,115}}</string>
        <key>sourceSize</key>
        <string>{147,115}</string>
      </dict>
      <key>monster_0213_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{169,109}}</string>
        <key>offset</key>
        <string>{-25,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,109}}</string>
        <key>sourceSize</key>
        <string>{169,109}</string>
      </dict>
      <key>monster_0213_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,151},{146,108}}</string>
        <key>offset</key>
        <string>{-25,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,108}}</string>
        <key>sourceSize</key>
        <string>{146,108}</string>
      </dict>
      <key>monster_0213_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,147},{140,109}}</string>
        <key>offset</key>
        <string>{-17,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,109}}</string>
        <key>sourceSize</key>
        <string>{140,109}</string>
      </dict>
      <key>monster_0213_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,636},{114,117}}</string>
        <key>offset</key>
        <string>{-21,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,117}}</string>
        <key>sourceSize</key>
        <string>{114,117}</string>
      </dict>
      <key>monster_0213_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,138},{136,135}}</string>
        <key>offset</key>
        <string>{-34,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,135}}</string>
        <key>sourceSize</key>
        <string>{136,135}</string>
      </dict>
      <key>monster_0213_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,454},{137,142}}</string>
        <key>offset</key>
        <string>{-30,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,142}}</string>
        <key>sourceSize</key>
        <string>{137,142}</string>
      </dict>
      <key>monster_0213_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,275},{136,120}}</string>
        <key>offset</key>
        <string>{-6,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,120}}</string>
        <key>sourceSize</key>
        <string>{136,120}</string>
      </dict>
      <key>monster_0213_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,763},{113,120}}</string>
        <key>offset</key>
        <string>{-6,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,120}}</string>
        <key>sourceSize</key>
        <string>{113,120}</string>
      </dict>
      <key>monster_0213_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,708},{97,121}}</string>
        <key>offset</key>
        <string>{-5,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,121}}</string>
        <key>sourceSize</key>
        <string>{97,121}</string>
      </dict>
      <key>monster_0213_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,576},{130,113}}</string>
        <key>offset</key>
        <string>{-26,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,113}}</string>
        <key>sourceSize</key>
        <string>{130,113}</string>
      </dict>
      <key>monster_0213_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,489},{135,152}}</string>
        <key>offset</key>
        <string>{-26,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,152}}</string>
        <key>sourceSize</key>
        <string>{135,152}</string>
      </dict>
      <key>monster_0213_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,171},{137,159}}</string>
        <key>offset</key>
        <string>{-26,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,159}}</string>
        <key>sourceSize</key>
        <string>{137,159}</string>
      </dict>
      <key>monster_0213_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,598},{116,135}}</string>
        <key>offset</key>
        <string>{-7,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,135}}</string>
        <key>sourceSize</key>
        <string>{116,135}</string>
      </dict>
      <key>monster_0213_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,732},{118,131}}</string>
        <key>offset</key>
        <string>{-10,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,131}}</string>
        <key>sourceSize</key>
        <string>{118,131}</string>
      </dict>
      <key>monster_0213_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,636},{126,125}}</string>
        <key>offset</key>
        <string>{-20,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,125}}</string>
        <key>sourceSize</key>
        <string>{126,125}</string>
      </dict>
      <key>monster_0213_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{149,116}}</string>
        <key>offset</key>
        <string>{-42,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,116}}</string>
        <key>sourceSize</key>
        <string>{149,116}</string>
      </dict>
      <key>monster_0213_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,693},{127,157}}</string>
        <key>offset</key>
        <string>{-17,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,157}}</string>
        <key>sourceSize</key>
        <string>{127,157}</string>
      </dict>
      <key>monster_0213_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,358},{136,161}}</string>
        <key>offset</key>
        <string>{-9,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,161}}</string>
        <key>sourceSize</key>
        <string>{136,161}</string>
      </dict>
      <key>monster_0213_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,693},{158,125}}</string>
        <key>offset</key>
        <string>{-36,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,125}}</string>
        <key>sourceSize</key>
        <string>{158,125}</string>
      </dict>
      <key>monster_0213_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,316},{150,120}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,120}}</string>
        <key>sourceSize</key>
        <string>{150,120}</string>
      </dict>
      <key>monster_0213_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,521},{157,111}}</string>
        <key>offset</key>
        <string>{-43,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,111}}</string>
        <key>sourceSize</key>
        <string>{157,111}</string>
      </dict>
      <key>monster_0213_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,397},{125,128}}</string>
        <key>offset</key>
        <string>{-39,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,128}}</string>
        <key>sourceSize</key>
        <string>{125,128}</string>
      </dict>
      <key>monster_0213_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{159,142}}</string>
        <key>offset</key>
        <string>{-21,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,142}}</string>
        <key>sourceSize</key>
        <string>{159,142}</string>
      </dict>
      <key>monster_0213_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{176,157}}</string>
        <key>offset</key>
        <string>{-28,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,157}}</string>
        <key>sourceSize</key>
        <string>{176,157}</string>
      </dict>
      <key>monster_0213_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{178,127}}</string>
        <key>offset</key>
        <string>{-78,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,127}}</string>
        <key>sourceSize</key>
        <string>{178,127}</string>
      </dict>
      <key>monster_0213_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,529},{162,126}}</string>
        <key>offset</key>
        <string>{-64,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,126}}</string>
        <key>sourceSize</key>
        <string>{162,126}</string>
      </dict>
      <key>monster_0213_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,643},{145,129}}</string>
        <key>offset</key>
        <string>{-57,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,129}}</string>
        <key>sourceSize</key>
        <string>{145,129}</string>
      </dict>
      <key>monster_0213_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,763},{112,121}}</string>
        <key>offset</key>
        <string>{-21,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,121}}</string>
        <key>sourceSize</key>
        <string>{112,121}</string>
      </dict>
      <key>monster_0213_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,529},{166,121}}</string>
        <key>offset</key>
        <string>{-36,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,121}}</string>
        <key>sourceSize</key>
        <string>{166,121}</string>
      </dict>
      <key>monster_0213_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,358},{169,132}}</string>
        <key>offset</key>
        <string>{-44,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,132}}</string>
        <key>sourceSize</key>
        <string>{169,132}</string>
      </dict>
      <key>monster_0213_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,299},{141,132}}</string>
        <key>offset</key>
        <string>{-62,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,132}}</string>
        <key>sourceSize</key>
        <string>{141,132}</string>
      </dict>
      <key>monster_0213_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,442},{127,132}}</string>
        <key>offset</key>
        <string>{-49,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,132}}</string>
        <key>sourceSize</key>
        <string>{127,132}</string>
      </dict>
      <key>monster_0213_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,524},{110,127}}</string>
        <key>offset</key>
        <string>{-25,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,127}}</string>
        <key>sourceSize</key>
        <string>{110,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0213_0_2.png</string>
      <key>size</key>
      <string>{1137,898}</string>
      <key>textureFileName</key>
      <string>monster_0213_0_2.png</string>
    </dict>
  </dict>
</plist>