<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0652_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,252},{248,160}}</string>
        <key>offset</key>
        <string>{-71,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>monster_0652_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{250,163}}</string>
        <key>offset</key>
        <string>{-72,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,163}}</string>
        <key>sourceSize</key>
        <string>{250,163}</string>
      </dict>
      <key>monster_0652_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,502},{248,165}}</string>
        <key>offset</key>
        <string>{-72,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,165}}</string>
        <key>sourceSize</key>
        <string>{248,165}</string>
      </dict>
      <key>monster_0652_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{246,168}}</string>
        <key>offset</key>
        <string>{-69,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,168}}</string>
        <key>sourceSize</key>
        <string>{246,168}</string>
      </dict>
      <key>monster_0652_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,502},{245,168}}</string>
        <key>offset</key>
        <string>{-68,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,168}}</string>
        <key>sourceSize</key>
        <string>{245,168}</string>
      </dict>
      <key>monster_0652_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,252},{248,165}}</string>
        <key>offset</key>
        <string>{-69,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,165}}</string>
        <key>sourceSize</key>
        <string>{248,165}</string>
      </dict>
      <key>monster_0652_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{247,160}}</string>
        <key>offset</key>
        <string>{-70,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,160}}</string>
        <key>sourceSize</key>
        <string>{247,160}</string>
      </dict>
      <key>monster_0652_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,248},{245,158}}</string>
        <key>offset</key>
        <string>{-70,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,158}}</string>
        <key>sourceSize</key>
        <string>{245,158}</string>
      </dict>
      <key>monster_0652_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,432},{213,191}}</string>
        <key>offset</key>
        <string>{-39,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,191}}</string>
        <key>sourceSize</key>
        <string>{213,191}</string>
      </dict>
      <key>monster_0652_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,248},{216,191}}</string>
        <key>offset</key>
        <string>{-42,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,191}}</string>
        <key>sourceSize</key>
        <string>{216,191}</string>
      </dict>
      <key>monster_0652_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,495},{217,192}}</string>
        <key>offset</key>
        <string>{-43,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,192}}</string>
        <key>sourceSize</key>
        <string>{217,192}</string>
      </dict>
      <key>monster_0652_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,0},{214,193}}</string>
        <key>offset</key>
        <string>{-41,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,193}}</string>
        <key>sourceSize</key>
        <string>{214,193}</string>
      </dict>
      <key>monster_0652_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,752},{212,195}}</string>
        <key>offset</key>
        <string>{-38,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,195}}</string>
        <key>sourceSize</key>
        <string>{212,195}</string>
      </dict>
      <key>monster_0652_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,647},{213,194}}</string>
        <key>offset</key>
        <string>{-40,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,194}}</string>
        <key>sourceSize</key>
        <string>{213,194}</string>
      </dict>
      <key>monster_0652_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,216},{214,192}}</string>
        <key>offset</key>
        <string>{-42,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,192}}</string>
        <key>sourceSize</key>
        <string>{214,192}</string>
      </dict>
      <key>monster_0652_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,714},{213,191}}</string>
        <key>offset</key>
        <string>{-41,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,191}}</string>
        <key>sourceSize</key>
        <string>{213,191}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0652_0_1_2.png</string>
      <key>size</key>
      <string>{898,960}</string>
      <key>textureFileName</key>
      <string>monster_0652_0_1_2.png</string>
    </dict>
  </dict>
</plist>