<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0635_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,94},{71,81}}</string>
        <key>offset</key>
        <string>{2,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,81}}</string>
        <key>sourceSize</key>
        <string>{71,81}</string>
      </dict>
      <key>monster_0635_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,383},{72,83}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,83}}</string>
        <key>sourceSize</key>
        <string>{72,83}</string>
      </dict>
      <key>monster_0635_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,232},{74,86}}</string>
        <key>offset</key>
        <string>{1,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,86}}</string>
        <key>sourceSize</key>
        <string>{74,86}</string>
      </dict>
      <key>monster_0635_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,490},{73,89}}</string>
        <key>offset</key>
        <string>{1,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,89}}</string>
        <key>sourceSize</key>
        <string>{73,89}</string>
      </dict>
      <key>monster_0635_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,293},{72,87}}</string>
        <key>offset</key>
        <string>{1,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,87}}</string>
        <key>sourceSize</key>
        <string>{72,87}</string>
      </dict>
      <key>monster_0635_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,459},{72,83}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,83}}</string>
        <key>sourceSize</key>
        <string>{72,83}</string>
      </dict>
      <key>monster_0635_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,312},{98,77}}</string>
        <key>offset</key>
        <string>{13,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,77}}</string>
        <key>sourceSize</key>
        <string>{98,77}</string>
      </dict>
      <key>monster_0635_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,323},{101,77}}</string>
        <key>offset</key>
        <string>{10,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,77}}</string>
        <key>sourceSize</key>
        <string>{101,77}</string>
      </dict>
      <key>monster_0635_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,536},{102,78}}</string>
        <key>offset</key>
        <string>{10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,78}}</string>
        <key>sourceSize</key>
        <string>{102,78}</string>
      </dict>
      <key>monster_0635_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,426},{101,79}}</string>
        <key>offset</key>
        <string>{10,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,79}}</string>
        <key>sourceSize</key>
        <string>{101,79}</string>
      </dict>
      <key>monster_0635_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,536},{102,79}}</string>
        <key>offset</key>
        <string>{10,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,79}}</string>
        <key>sourceSize</key>
        <string>{102,79}</string>
      </dict>
      <key>monster_0635_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,415},{99,78}}</string>
        <key>offset</key>
        <string>{11,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,78}}</string>
        <key>sourceSize</key>
        <string>{99,78}</string>
      </dict>
      <key>monster_0635_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{95,78}}</string>
        <key>offset</key>
        <string>{16,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,78}}</string>
        <key>sourceSize</key>
        <string>{95,78}</string>
      </dict>
      <key>monster_0635_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,102},{97,78}}</string>
        <key>offset</key>
        <string>{14,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,78}}</string>
        <key>sourceSize</key>
        <string>{97,78}</string>
      </dict>
      <key>monster_0635_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,205},{98,79}}</string>
        <key>offset</key>
        <string>{15,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,79}}</string>
        <key>sourceSize</key>
        <string>{98,79}</string>
      </dict>
      <key>monster_0635_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,313},{100,80}}</string>
        <key>offset</key>
        <string>{16,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,80}}</string>
        <key>sourceSize</key>
        <string>{100,80}</string>
      </dict>
      <key>monster_0635_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,210},{100,79}}</string>
        <key>offset</key>
        <string>{16,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,79}}</string>
        <key>sourceSize</key>
        <string>{100,79}</string>
      </dict>
      <key>monster_0635_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,102},{97,79}}</string>
        <key>offset</key>
        <string>{16,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,79}}</string>
        <key>sourceSize</key>
        <string>{97,79}</string>
      </dict>
      <key>monster_0635_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{71,92}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,92}}</string>
        <key>sourceSize</key>
        <string>{71,92}</string>
      </dict>
      <key>monster_0635_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,0},{75,92}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,92}}</string>
        <key>sourceSize</key>
        <string>{75,92}</string>
      </dict>
      <key>monster_0635_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,77},{77,92}}</string>
        <key>offset</key>
        <string>{1,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,92}}</string>
        <key>sourceSize</key>
        <string>{77,92}</string>
      </dict>
      <key>monster_0635_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,412},{78,91}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,91}}</string>
        <key>sourceSize</key>
        <string>{78,91}</string>
      </dict>
      <key>monster_0635_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,305},{77,91}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,91}}</string>
        <key>sourceSize</key>
        <string>{77,91}</string>
      </dict>
      <key>monster_0635_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,201},{74,91}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
      <key>monster_0635_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,398},{75,90}}</string>
        <key>offset</key>
        <string>{-1,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,90}}</string>
        <key>sourceSize</key>
        <string>{75,90}</string>
      </dict>
      <key>monster_0635_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,294},{75,90}}</string>
        <key>offset</key>
        <string>{-1,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,90}}</string>
        <key>sourceSize</key>
        <string>{75,90}</string>
      </dict>
      <key>monster_0635_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,505},{76,91}}</string>
        <key>offset</key>
        <string>{-1,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,91}}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>monster_0635_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,505},{76,91}}</string>
        <key>offset</key>
        <string>{0,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,91}}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>monster_0635_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,201},{74,90}}</string>
        <key>offset</key>
        <string>{1,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,90}}</string>
        <key>sourceSize</key>
        <string>{74,90}</string>
      </dict>
      <key>monster_0635_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,386},{75,89}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,89}}</string>
        <key>sourceSize</key>
        <string>{75,89}</string>
      </dict>
      <key>monster_0635_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,78}}</string>
        <key>offset</key>
        <string>{-40,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,78}}</string>
        <key>sourceSize</key>
        <string>{106,78}</string>
      </dict>
      <key>monster_0635_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{105,81}}</string>
        <key>offset</key>
        <string>{-38,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,81}}</string>
        <key>sourceSize</key>
        <string>{105,81}</string>
      </dict>
      <key>monster_0635_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{106,81}}</string>
        <key>offset</key>
        <string>{-38,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,81}}</string>
        <key>sourceSize</key>
        <string>{106,81}</string>
      </dict>
      <key>monster_0635_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{105,81}}</string>
        <key>offset</key>
        <string>{-37,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,81}}</string>
        <key>sourceSize</key>
        <string>{105,81}</string>
      </dict>
      <key>monster_0635_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,430},{104,81}}</string>
        <key>offset</key>
        <string>{-37,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,81}}</string>
        <key>sourceSize</key>
        <string>{104,81}</string>
      </dict>
      <key>monster_0635_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,323},{105,79}}</string>
        <key>offset</key>
        <string>{-38,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,79}}</string>
        <key>sourceSize</key>
        <string>{105,79}</string>
      </dict>
      <key>monster_0635_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,103},{100,79}}</string>
        <key>offset</key>
        <string>{-41,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,79}}</string>
        <key>sourceSize</key>
        <string>{100,79}</string>
      </dict>
      <key>monster_0635_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{100,80}}</string>
        <key>offset</key>
        <string>{-38,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,80}}</string>
        <key>sourceSize</key>
        <string>{100,80}</string>
      </dict>
      <key>monster_0635_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,529},{101,81}}</string>
        <key>offset</key>
        <string>{-39,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,81}}</string>
        <key>sourceSize</key>
        <string>{101,81}</string>
      </dict>
      <key>monster_0635_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,107},{101,81}}</string>
        <key>offset</key>
        <string>{-40,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,81}}</string>
        <key>sourceSize</key>
        <string>{101,81}</string>
      </dict>
      <key>monster_0635_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{101,81}}</string>
        <key>offset</key>
        <string>{-40,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,81}}</string>
        <key>sourceSize</key>
        <string>{101,81}</string>
      </dict>
      <key>monster_0635_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,210},{101,80}}</string>
        <key>offset</key>
        <string>{-40,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,80}}</string>
        <key>sourceSize</key>
        <string>{101,80}</string>
      </dict>
      <key>monster_0635_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,553},{71,81}}</string>
        <key>offset</key>
        <string>{-3,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,81}}</string>
        <key>sourceSize</key>
        <string>{71,81}</string>
      </dict>
      <key>monster_0635_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,468},{72,83}}</string>
        <key>offset</key>
        <string>{-2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,83}}</string>
        <key>sourceSize</key>
        <string>{72,83}</string>
      </dict>
      <key>monster_0635_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,308},{73,86}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,86}}</string>
        <key>sourceSize</key>
        <string>{73,86}</string>
      </dict>
      <key>monster_0635_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,156},{74,87}}</string>
        <key>offset</key>
        <string>{-5,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,87}}</string>
        <key>sourceSize</key>
        <string>{74,87}</string>
      </dict>
      <key>monster_0635_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,383},{74,86}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,86}}</string>
        <key>sourceSize</key>
        <string>{74,86}</string>
      </dict>
      <key>monster_0635_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,553},{73,83}}</string>
        <key>offset</key>
        <string>{-4,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,83}}</string>
        <key>sourceSize</key>
        <string>{73,83}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0635_0_0.png</string>
      <key>size</key>
      <string>{640,640}</string>
      <key>textureFileName</key>
      <string>monster_0635_0_0.png</string>
    </dict>
  </dict>
</plist>