<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0652_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{238,171}}</string>
        <key>offset</key>
        <string>{-68,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,171}}</string>
        <key>sourceSize</key>
        <string>{238,171}</string>
      </dict>
      <key>monster_0652_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{247,166}}</string>
        <key>offset</key>
        <string>{-81,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,166}}</string>
        <key>sourceSize</key>
        <string>{247,166}</string>
      </dict>
      <key>monster_0652_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,240},{215,224}}</string>
        <key>offset</key>
        <string>{-52,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,224}}</string>
        <key>sourceSize</key>
        <string>{215,224}</string>
      </dict>
      <key>monster_0652_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,491},{217,232}}</string>
        <key>offset</key>
        <string>{-58,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,232}}</string>
        <key>sourceSize</key>
        <string>{217,232}</string>
      </dict>
      <key>monster_0652_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,381},{196,189}}</string>
        <key>offset</key>
        <string>{-37,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,189}}</string>
        <key>sourceSize</key>
        <string>{196,189}</string>
      </dict>
      <key>monster_0652_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,0},{217,177}}</string>
        <key>offset</key>
        <string>{-52,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,177}}</string>
        <key>sourceSize</key>
        <string>{217,177}</string>
      </dict>
      <key>monster_0652_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,466},{200,209}}</string>
        <key>offset</key>
        <string>{-42,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,209}}</string>
        <key>sourceSize</key>
        <string>{200,209}</string>
      </dict>
      <key>monster_0652_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,179},{217,200}}</string>
        <key>offset</key>
        <string>{-59,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,200}}</string>
        <key>sourceSize</key>
        <string>{217,200}</string>
      </dict>
      <key>monster_0652_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{205,219}}</string>
        <key>offset</key>
        <string>{-23,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,219}}</string>
        <key>sourceSize</key>
        <string>{205,219}</string>
      </dict>
      <key>monster_0652_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,249},{175,240}}</string>
        <key>offset</key>
        <string>{-22,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,240}}</string>
        <key>sourceSize</key>
        <string>{175,240}</string>
      </dict>
      <key>monster_0652_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,221},{149,198}}</string>
        <key>offset</key>
        <string>{-20,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,198}}</string>
        <key>sourceSize</key>
        <string>{149,198}</string>
      </dict>
      <key>monster_0652_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,572},{182,191}}</string>
        <key>offset</key>
        <string>{-35,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,191}}</string>
        <key>sourceSize</key>
        <string>{182,191}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0652_0_2_2.png</string>
      <key>size</key>
      <string>{768,768}</string>
      <key>textureFileName</key>
      <string>monster_0652_0_2_2.png</string>
    </dict>
  </dict>
</plist>