<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0027_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,148},{83,86}}</string>
        <key>offset</key>
        <string>{0,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,86}}</string>
        <key>sourceSize</key>
        <string>{83,86}</string>
      </dict>
      <key>monster_0027_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,305},{76,82}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,82}}</string>
        <key>sourceSize</key>
        <string>{76,82}</string>
      </dict>
      <key>monster_0027_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,155},{77,83}}</string>
        <key>offset</key>
        <string>{1,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,83}}</string>
        <key>sourceSize</key>
        <string>{77,83}</string>
      </dict>
      <key>monster_0027_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,93}}</string>
        <key>offset</key>
        <string>{8,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,93}}</string>
        <key>sourceSize</key>
        <string>{86,93}</string>
      </dict>
      <key>monster_0027_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,77},{78,87}}</string>
        <key>offset</key>
        <string>{7,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,87}}</string>
        <key>sourceSize</key>
        <string>{78,87}</string>
      </dict>
      <key>monster_0027_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{78,88}}</string>
        <key>offset</key>
        <string>{8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,88}}</string>
        <key>sourceSize</key>
        <string>{78,88}</string>
      </dict>
      <key>monster_0027_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,72},{74,88}}</string>
        <key>offset</key>
        <string>{12,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,88}}</string>
        <key>sourceSize</key>
        <string>{74,88}</string>
      </dict>
      <key>monster_0027_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,157},{71,85}}</string>
        <key>offset</key>
        <string>{8,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,85}}</string>
        <key>sourceSize</key>
        <string>{71,85}</string>
      </dict>
      <key>monster_0027_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,230},{73,84}}</string>
        <key>offset</key>
        <string>{9,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,84}}</string>
        <key>sourceSize</key>
        <string>{73,84}</string>
      </dict>
      <key>monster_0027_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,234},{80,78}}</string>
        <key>offset</key>
        <string>{13,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,78}}</string>
        <key>sourceSize</key>
        <string>{80,78}</string>
      </dict>
      <key>monster_0027_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,307},{76,81}}</string>
        <key>offset</key>
        <string>{10,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,81}}</string>
        <key>sourceSize</key>
        <string>{76,81}</string>
      </dict>
      <key>monster_0027_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,309},{76,80}}</string>
        <key>offset</key>
        <string>{12,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>monster_0027_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,233},{83,74}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,74}}</string>
        <key>sourceSize</key>
        <string>{83,74}</string>
      </dict>
      <key>monster_0027_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,383},{79,80}}</string>
        <key>offset</key>
        <string>{1,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,80}}</string>
        <key>sourceSize</key>
        <string>{79,80}</string>
      </dict>
      <key>monster_0027_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,387},{78,78}}</string>
        <key>offset</key>
        <string>{0,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>monster_0027_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,234},{78,78}}</string>
        <key>offset</key>
        <string>{-11,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>monster_0027_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{72,80}}</string>
        <key>offset</key>
        <string>{-2,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,80}}</string>
        <key>sourceSize</key>
        <string>{72,80}</string>
      </dict>
      <key>monster_0027_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,387},{73,79}}</string>
        <key>offset</key>
        <string>{-4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,79}}</string>
        <key>sourceSize</key>
        <string>{73,79}</string>
      </dict>
      <key>monster_0027_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{70,89}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,89}}</string>
        <key>sourceSize</key>
        <string>{70,89}</string>
      </dict>
      <key>monster_0027_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{70,85}}</string>
        <key>offset</key>
        <string>{3,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,85}}</string>
        <key>sourceSize</key>
        <string>{70,85}</string>
      </dict>
      <key>monster_0027_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{69,84}}</string>
        <key>offset</key>
        <string>{0,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,84}}</string>
        <key>sourceSize</key>
        <string>{69,84}</string>
      </dict>
      <key>monster_0027_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{75,93}}</string>
        <key>offset</key>
        <string>{-10,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,93}}</string>
        <key>sourceSize</key>
        <string>{75,93}</string>
      </dict>
      <key>monster_0027_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{74,87}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,87}}</string>
        <key>sourceSize</key>
        <string>{74,87}</string>
      </dict>
      <key>monster_0027_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,80},{73,87}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,87}}</string>
        <key>sourceSize</key>
        <string>{73,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0027_0_7.png</string>
      <key>size</key>
      <string>{423,513}</string>
      <key>textureFileName</key>
      <string>monster_0027_0_7.png</string>
    </dict>
  </dict>
</plist>