<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0010_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,656},{116,108}}</string>
        <key>offset</key>
        <string>{-22,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,108}}</string>
        <key>sourceSize</key>
        <string>{116,108}</string>
      </dict>
      <key>monster_0010_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,550},{112,100}}</string>
        <key>offset</key>
        <string>{-18,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,100}}</string>
        <key>sourceSize</key>
        <string>{112,100}</string>
      </dict>
      <key>monster_0010_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,652},{110,107}}</string>
        <key>offset</key>
        <string>{-16,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,107}}</string>
        <key>sourceSize</key>
        <string>{110,107}</string>
      </dict>
      <key>monster_0010_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,0},{110,104}}</string>
        <key>offset</key>
        <string>{-16,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,104}}</string>
        <key>sourceSize</key>
        <string>{110,104}</string>
      </dict>
      <key>monster_0010_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,256},{120,94}}</string>
        <key>offset</key>
        <string>{-26,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,94}}</string>
        <key>sourceSize</key>
        <string>{120,94}</string>
      </dict>
      <key>monster_0010_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,402},{125,78}}</string>
        <key>offset</key>
        <string>{-31,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,78}}</string>
        <key>sourceSize</key>
        <string>{125,78}</string>
      </dict>
      <key>monster_0010_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,529},{125,118}}</string>
        <key>offset</key>
        <string>{-30,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,118}}</string>
        <key>sourceSize</key>
        <string>{125,118}</string>
      </dict>
      <key>monster_0010_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,402},{125,118}}</string>
        <key>offset</key>
        <string>{-30,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,118}}</string>
        <key>sourceSize</key>
        <string>{125,118}</string>
      </dict>
      <key>monster_0010_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,262},{125,116}}</string>
        <key>offset</key>
        <string>{-30,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,116}}</string>
        <key>sourceSize</key>
        <string>{125,116}</string>
      </dict>
      <key>monster_0010_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,129},{125,103}}</string>
        <key>offset</key>
        <string>{-30,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,103}}</string>
        <key>sourceSize</key>
        <string>{125,103}</string>
      </dict>
      <key>monster_0010_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,552},{132,86}}</string>
        <key>offset</key>
        <string>{-30,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,86}}</string>
        <key>sourceSize</key>
        <string>{132,86}</string>
      </dict>
      <key>monster_0010_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,686},{131,75}}</string>
        <key>offset</key>
        <string>{-30,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,75}}</string>
        <key>sourceSize</key>
        <string>{131,75}</string>
      </dict>
      <key>monster_0010_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,442},{106,115}}</string>
        <key>offset</key>
        <string>{-36,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,115}}</string>
        <key>sourceSize</key>
        <string>{106,115}</string>
      </dict>
      <key>monster_0010_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,127},{115,117}}</string>
        <key>offset</key>
        <string>{-36,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,117}}</string>
        <key>sourceSize</key>
        <string>{115,117}</string>
      </dict>
      <key>monster_0010_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,246},{116,115}}</string>
        <key>offset</key>
        <string>{-36,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,115}}</string>
        <key>sourceSize</key>
        <string>{116,115}</string>
      </dict>
      <key>monster_0010_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,0},{125,88}}</string>
        <key>offset</key>
        <string>{-36,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,88}}</string>
        <key>sourceSize</key>
        <string>{125,88}</string>
      </dict>
      <key>monster_0010_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{139,81}}</string>
        <key>offset</key>
        <string>{-36,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,81}}</string>
        <key>sourceSize</key>
        <string>{139,81}</string>
      </dict>
      <key>monster_0010_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,138},{134,77}}</string>
        <key>offset</key>
        <string>{-36,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,77}}</string>
        <key>sourceSize</key>
        <string>{134,77}</string>
      </dict>
      <key>monster_0010_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,410},{131,114}}</string>
        <key>offset</key>
        <string>{-54,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,114}}</string>
        <key>sourceSize</key>
        <string>{131,114}</string>
      </dict>
      <key>monster_0010_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,279},{135,110}}</string>
        <key>offset</key>
        <string>{-54,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,110}}</string>
        <key>sourceSize</key>
        <string>{135,110}</string>
      </dict>
      <key>monster_0010_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,552},{132,116}}</string>
        <key>offset</key>
        <string>{-54,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,116}}</string>
        <key>sourceSize</key>
        <string>{132,116}</string>
      </dict>
      <key>monster_0010_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,272},{131,87}}</string>
        <key>offset</key>
        <string>{-54,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,87}}</string>
        <key>sourceSize</key>
        <string>{131,87}</string>
      </dict>
      <key>monster_0010_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,136},{131,74}}</string>
        <key>offset</key>
        <string>{-54,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,74}}</string>
        <key>sourceSize</key>
        <string>{131,74}</string>
      </dict>
      <key>monster_0010_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{131,75}}</string>
        <key>offset</key>
        <string>{-54,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,75}}</string>
        <key>sourceSize</key>
        <string>{131,75}</string>
      </dict>
      <key>monster_0010_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,269},{131,100}}</string>
        <key>offset</key>
        <string>{-49,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,100}}</string>
        <key>sourceSize</key>
        <string>{131,100}</string>
      </dict>
      <key>monster_0010_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,141},{136,84}}</string>
        <key>offset</key>
        <string>{-49,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,84}}</string>
        <key>sourceSize</key>
        <string>{136,84}</string>
      </dict>
      <key>monster_0010_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,656},{125,97}}</string>
        <key>offset</key>
        <string>{-49,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,97}}</string>
        <key>sourceSize</key>
        <string>{125,97}</string>
      </dict>
      <key>monster_0010_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,363},{116,77}}</string>
        <key>offset</key>
        <string>{-49,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,77}}</string>
        <key>sourceSize</key>
        <string>{116,77}</string>
      </dict>
      <key>monster_0010_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,543},{126,69}}</string>
        <key>offset</key>
        <string>{-49,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,69}}</string>
        <key>sourceSize</key>
        <string>{126,69}</string>
      </dict>
      <key>monster_0010_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,0},{127,76}}</string>
        <key>offset</key>
        <string>{-49,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,76}}</string>
        <key>sourceSize</key>
        <string>{127,76}</string>
      </dict>
      <key>monster_0010_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{130,106}}</string>
        <key>offset</key>
        <string>{-49,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,106}}</string>
        <key>sourceSize</key>
        <string>{130,106}</string>
      </dict>
      <key>monster_0010_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,686},{131,79}}</string>
        <key>offset</key>
        <string>{-49,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,79}}</string>
        <key>sourceSize</key>
        <string>{131,79}</string>
      </dict>
      <key>monster_0010_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,132},{128,91}}</string>
        <key>offset</key>
        <string>{-49,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,91}}</string>
        <key>sourceSize</key>
        <string>{128,91}</string>
      </dict>
      <key>monster_0010_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,529},{125,86}}</string>
        <key>offset</key>
        <string>{-49,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,86}}</string>
        <key>sourceSize</key>
        <string>{125,86}</string>
      </dict>
      <key>monster_0010_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,389},{125,75}}</string>
        <key>offset</key>
        <string>{-49,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,75}}</string>
        <key>sourceSize</key>
        <string>{125,75}</string>
      </dict>
      <key>monster_0010_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{132,75}}</string>
        <key>offset</key>
        <string>{-56,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,75}}</string>
        <key>sourceSize</key>
        <string>{132,75}</string>
      </dict>
      <key>monster_0010_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,766},{106,98}}</string>
        <key>offset</key>
        <string>{-24,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,98}}</string>
        <key>sourceSize</key>
        <string>{106,98}</string>
      </dict>
      <key>monster_0010_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{106,69}}</string>
        <key>offset</key>
        <string>{-24,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,69}}</string>
        <key>sourceSize</key>
        <string>{106,69}</string>
      </dict>
      <key>monster_0010_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,767},{106,83}}</string>
        <key>offset</key>
        <string>{-24,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,83}}</string>
        <key>sourceSize</key>
        <string>{106,83}</string>
      </dict>
      <key>monster_0010_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,767},{106,83}}</string>
        <key>offset</key>
        <string>{-24,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,83}}</string>
        <key>sourceSize</key>
        <string>{106,83}</string>
      </dict>
      <key>monster_0010_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,133},{131,74}}</string>
        <key>offset</key>
        <string>{-49,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,74}}</string>
        <key>sourceSize</key>
        <string>{131,74}</string>
      </dict>
      <key>monster_0010_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{136,68}}</string>
        <key>offset</key>
        <string>{-54,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,68}}</string>
        <key>sourceSize</key>
        <string>{136,68}</string>
      </dict>
      <key>monster_0010_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{134,106}}</string>
        <key>offset</key>
        <string>{-33,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,106}}</string>
        <key>sourceSize</key>
        <string>{134,106}</string>
      </dict>
      <key>monster_0010_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{134,89}}</string>
        <key>offset</key>
        <string>{-33,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,89}}</string>
        <key>sourceSize</key>
        <string>{134,89}</string>
      </dict>
      <key>monster_0010_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,552},{134,97}}</string>
        <key>offset</key>
        <string>{-33,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,97}}</string>
        <key>sourceSize</key>
        <string>{134,97}</string>
      </dict>
      <key>monster_0010_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,416},{134,101}}</string>
        <key>offset</key>
        <string>{-33,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,101}}</string>
        <key>sourceSize</key>
        <string>{134,101}</string>
      </dict>
      <key>monster_0010_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,274},{134,91}}</string>
        <key>offset</key>
        <string>{-33,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,91}}</string>
        <key>sourceSize</key>
        <string>{134,91}</string>
      </dict>
      <key>monster_0010_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,136},{134,71}}</string>
        <key>offset</key>
        <string>{-33,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,71}}</string>
        <key>sourceSize</key>
        <string>{134,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0010_0_4.png</string>
      <key>size</key>
      <string>{770,866}</string>
      <key>textureFileName</key>
      <string>monster_0010_0_4.png</string>
    </dict>
  </dict>
</plist>