<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0181_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,232},{109,105}}</string>
        <key>offset</key>
        <string>{-14,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,105}}</string>
        <key>sourceSize</key>
        <string>{109,105}</string>
      </dict>
      <key>monster_0181_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{107,112}}</string>
        <key>offset</key>
        <string>{-13,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,112}}</string>
        <key>sourceSize</key>
        <string>{107,112}</string>
      </dict>
      <key>monster_0181_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,384},{118,101}}</string>
        <key>offset</key>
        <string>{-14,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,101}}</string>
        <key>sourceSize</key>
        <string>{118,101}</string>
      </dict>
      <key>monster_0181_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,278},{131,102}}</string>
        <key>offset</key>
        <string>{-17,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,102}}</string>
        <key>sourceSize</key>
        <string>{131,102}</string>
      </dict>
      <key>monster_0181_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,220},{105,103}}</string>
        <key>offset</key>
        <string>{-18,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,103}}</string>
        <key>sourceSize</key>
        <string>{105,103}</string>
      </dict>
      <key>monster_0181_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,109},{109,111}}</string>
        <key>offset</key>
        <string>{-18,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,111}}</string>
        <key>sourceSize</key>
        <string>{109,111}</string>
      </dict>
      <key>monster_0181_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,117},{113,104}}</string>
        <key>offset</key>
        <string>{-11,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,104}}</string>
        <key>sourceSize</key>
        <string>{113,104}</string>
      </dict>
      <key>monster_0181_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{136,106}}</string>
        <key>offset</key>
        <string>{-37,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,106}}</string>
        <key>sourceSize</key>
        <string>{136,106}</string>
      </dict>
      <key>monster_0181_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,263},{119,115}}</string>
        <key>offset</key>
        <string>{-19,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,115}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>monster_0181_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{115,108}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,108}}</string>
        <key>sourceSize</key>
        <string>{115,108}</string>
      </dict>
      <key>monster_0181_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,278},{133,94}}</string>
        <key>offset</key>
        <string>{-28,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,94}}</string>
        <key>sourceSize</key>
        <string>{133,94}</string>
      </dict>
      <key>monster_0181_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,97}}</string>
        <key>offset</key>
        <string>{-28,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,97}}</string>
        <key>sourceSize</key>
        <string>{138,97}</string>
      </dict>
      <key>monster_0181_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,0},{113,95}}</string>
        <key>offset</key>
        <string>{-26,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,95}}</string>
        <key>sourceSize</key>
        <string>{113,95}</string>
      </dict>
      <key>monster_0181_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,125},{118,95}}</string>
        <key>offset</key>
        <string>{-30,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,95}}</string>
        <key>sourceSize</key>
        <string>{118,95}</string>
      </dict>
      <key>monster_0181_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{135,89}}</string>
        <key>offset</key>
        <string>{-44,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,89}}</string>
        <key>sourceSize</key>
        <string>{135,89}</string>
      </dict>
      <key>monster_0181_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,411},{123,91}}</string>
        <key>offset</key>
        <string>{-47,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,91}}</string>
        <key>sourceSize</key>
        <string>{123,91}</string>
      </dict>
      <key>monster_0181_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,323},{97,100}}</string>
        <key>offset</key>
        <string>{-15,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,100}}</string>
        <key>sourceSize</key>
        <string>{97,100}</string>
      </dict>
      <key>monster_0181_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,0},{98,99}}</string>
        <key>offset</key>
        <string>{-20,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,99}}</string>
        <key>sourceSize</key>
        <string>{98,99}</string>
      </dict>
      <key>monster_0181_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,100},{98,97}}</string>
        <key>offset</key>
        <string>{-26,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,97}}</string>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>monster_0181_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,413},{125,94}}</string>
        <key>offset</key>
        <string>{-24,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,94}}</string>
        <key>sourceSize</key>
        <string>{125,94}</string>
      </dict>
      <key>monster_0181_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,343},{106,99}}</string>
        <key>offset</key>
        <string>{-22,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,99}}</string>
        <key>sourceSize</key>
        <string>{106,99}</string>
      </dict>
      <key>monster_0181_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,220},{101,105}}</string>
        <key>offset</key>
        <string>{-16,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,105}}</string>
        <key>sourceSize</key>
        <string>{101,105}</string>
      </dict>
      <key>monster_0181_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{123,104}}</string>
        <key>offset</key>
        <string>{-32,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,104}}</string>
        <key>sourceSize</key>
        <string>{123,104}</string>
      </dict>
      <key>monster_0181_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,137},{124,109}}</string>
        <key>offset</key>
        <string>{-33,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,109}}</string>
        <key>sourceSize</key>
        <string>{124,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0181_0_7.png</string>
      <key>size</key>
      <string>{738,514}</string>
      <key>textureFileName</key>
      <string>monster_0181_0_7.png</string>
    </dict>
  </dict>
</plist>