<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0253_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{75,97}}</string>
        <key>offset</key>
        <string>{-3,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,97}}</string>
        <key>sourceSize</key>
        <string>{75,97}</string>
      </dict>
      <key>monster_0253_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,76},{75,96}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,96}}</string>
        <key>sourceSize</key>
        <string>{75,96}</string>
      </dict>
      <key>monster_0253_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{74,96}}</string>
        <key>offset</key>
        <string>{-3,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,96}}</string>
        <key>sourceSize</key>
        <string>{74,96}</string>
      </dict>
      <key>monster_0253_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,76},{74,95}}</string>
        <key>offset</key>
        <string>{-3,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,95}}</string>
        <key>sourceSize</key>
        <string>{74,95}</string>
      </dict>
      <key>monster_0253_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{74,96}}</string>
        <key>offset</key>
        <string>{-3,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,96}}</string>
        <key>sourceSize</key>
        <string>{74,96}</string>
      </dict>
      <key>monster_0253_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{74,100}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,100}}</string>
        <key>sourceSize</key>
        <string>{74,100}</string>
      </dict>
      <key>monster_0253_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,76},{71,94}}</string>
        <key>offset</key>
        <string>{-1,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,94}}</string>
        <key>sourceSize</key>
        <string>{71,94}</string>
      </dict>
      <key>monster_0253_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,153},{71,92}}</string>
        <key>offset</key>
        <string>{-1,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,92}}</string>
        <key>sourceSize</key>
        <string>{71,92}</string>
      </dict>
      <key>monster_0253_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,226},{70,92}}</string>
        <key>offset</key>
        <string>{-1,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,92}}</string>
        <key>sourceSize</key>
        <string>{70,92}</string>
      </dict>
      <key>monster_0253_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,226},{71,92}}</string>
        <key>offset</key>
        <string>{-1,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,92}}</string>
        <key>sourceSize</key>
        <string>{71,92}</string>
      </dict>
      <key>monster_0253_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,77},{70,93}}</string>
        <key>offset</key>
        <string>{0,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,93}}</string>
        <key>sourceSize</key>
        <string>{70,93}</string>
      </dict>
      <key>monster_0253_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,0},{74,96}}</string>
        <key>offset</key>
        <string>{-4,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,96}}</string>
        <key>sourceSize</key>
        <string>{74,96}</string>
      </dict>
      <key>monster_0253_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,226},{76,91}}</string>
        <key>offset</key>
        <string>{-5,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,91}}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>monster_0253_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,299},{77,90}}</string>
        <key>offset</key>
        <string>{-7,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,90}}</string>
        <key>sourceSize</key>
        <string>{77,90}</string>
      </dict>
      <key>monster_0253_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,305},{78,90}}</string>
        <key>offset</key>
        <string>{-8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>monster_0253_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,310},{80,89}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,89}}</string>
        <key>sourceSize</key>
        <string>{80,89}</string>
      </dict>
      <key>monster_0253_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,228},{80,90}}</string>
        <key>offset</key>
        <string>{-9,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,90}}</string>
        <key>sourceSize</key>
        <string>{80,90}</string>
      </dict>
      <key>monster_0253_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,304},{85,90}}</string>
        <key>offset</key>
        <string>{-14,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,90}}</string>
        <key>sourceSize</key>
        <string>{85,90}</string>
      </dict>
      <key>monster_0253_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,391},{73,89}}</string>
        <key>offset</key>
        <string>{-2,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,89}}</string>
        <key>sourceSize</key>
        <string>{73,89}</string>
      </dict>
      <key>monster_0253_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,357},{72,90}}</string>
        <key>offset</key>
        <string>{-2,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,90}}</string>
        <key>sourceSize</key>
        <string>{72,90}</string>
      </dict>
      <key>monster_0253_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,378},{69,90}}</string>
        <key>offset</key>
        <string>{-1,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,90}}</string>
        <key>sourceSize</key>
        <string>{69,90}</string>
      </dict>
      <key>monster_0253_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,431},{68,89}}</string>
        <key>offset</key>
        <string>{0,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,89}}</string>
        <key>sourceSize</key>
        <string>{68,89}</string>
      </dict>
      <key>monster_0253_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,449},{69,89}}</string>
        <key>offset</key>
        <string>{0,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,89}}</string>
        <key>sourceSize</key>
        <string>{69,89}</string>
      </dict>
      <key>monster_0253_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,502},{74,89}}</string>
        <key>offset</key>
        <string>{-4,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,89}}</string>
        <key>sourceSize</key>
        <string>{74,89}</string>
      </dict>
      <key>monster_0253_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,310},{78,83}}</string>
        <key>offset</key>
        <string>{-6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,83}}</string>
        <key>sourceSize</key>
        <string>{78,83}</string>
      </dict>
      <key>monster_0253_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,228},{78,83}}</string>
        <key>offset</key>
        <string>{-6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,83}}</string>
        <key>sourceSize</key>
        <string>{78,83}</string>
      </dict>
      <key>monster_0253_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,471},{77,83}}</string>
        <key>offset</key>
        <string>{-6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,83}}</string>
        <key>sourceSize</key>
        <string>{77,83}</string>
      </dict>
      <key>monster_0253_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,550},{77,83}}</string>
        <key>offset</key>
        <string>{-6,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,83}}</string>
        <key>sourceSize</key>
        <string>{77,83}</string>
      </dict>
      <key>monster_0253_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,0},{77,82}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,82}}</string>
        <key>sourceSize</key>
        <string>{77,82}</string>
      </dict>
      <key>monster_0253_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,79},{78,82}}</string>
        <key>offset</key>
        <string>{-6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,82}}</string>
        <key>sourceSize</key>
        <string>{78,82}</string>
      </dict>
      <key>monster_0253_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,520},{77,89}}</string>
        <key>offset</key>
        <string>{-5,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,89}}</string>
        <key>sourceSize</key>
        <string>{77,89}</string>
      </dict>
      <key>monster_0253_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,520},{77,89}}</string>
        <key>offset</key>
        <string>{-5,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,89}}</string>
        <key>sourceSize</key>
        <string>{77,89}</string>
      </dict>
      <key>monster_0253_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,501},{78,89}}</string>
        <key>offset</key>
        <string>{-6,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,89}}</string>
        <key>sourceSize</key>
        <string>{78,89}</string>
      </dict>
      <key>monster_0253_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,392},{77,87}}</string>
        <key>offset</key>
        <string>{-7,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,87}}</string>
        <key>sourceSize</key>
        <string>{77,87}</string>
      </dict>
      <key>monster_0253_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,392},{77,88}}</string>
        <key>offset</key>
        <string>{-7,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,88}}</string>
        <key>sourceSize</key>
        <string>{77,88}</string>
      </dict>
      <key>monster_0253_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,471},{78,88}}</string>
        <key>offset</key>
        <string>{-6,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,88}}</string>
        <key>sourceSize</key>
        <string>{78,88}</string>
      </dict>
      <key>monster_0253_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,298},{57,91}}</string>
        <key>offset</key>
        <string>{9,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,91}}</string>
        <key>sourceSize</key>
        <string>{57,91}</string>
      </dict>
      <key>monster_0253_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{57,90}}</string>
        <key>offset</key>
        <string>{9,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,90}}</string>
        <key>sourceSize</key>
        <string>{57,90}</string>
      </dict>
      <key>monster_0253_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,471},{59,88}}</string>
        <key>offset</key>
        <string>{8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,88}}</string>
        <key>sourceSize</key>
        <string>{59,88}</string>
      </dict>
      <key>monster_0253_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,532},{59,88}}</string>
        <key>offset</key>
        <string>{8,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,88}}</string>
        <key>sourceSize</key>
        <string>{59,88}</string>
      </dict>
      <key>monster_0253_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{57,89}}</string>
        <key>offset</key>
        <string>{8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,89}}</string>
        <key>sourceSize</key>
        <string>{57,89}</string>
      </dict>
      <key>monster_0253_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,444},{56,90}}</string>
        <key>offset</key>
        <string>{9,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,90}}</string>
        <key>sourceSize</key>
        <string>{56,90}</string>
      </dict>
      <key>monster_0253_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,149},{75,94}}</string>
        <key>offset</key>
        <string>{-2,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,94}}</string>
        <key>sourceSize</key>
        <string>{75,94}</string>
      </dict>
      <key>monster_0253_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,149},{75,93}}</string>
        <key>offset</key>
        <string>{-3,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,93}}</string>
        <key>sourceSize</key>
        <string>{75,93}</string>
      </dict>
      <key>monster_0253_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{75,92}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,92}}</string>
        <key>sourceSize</key>
        <string>{75,92}</string>
      </dict>
      <key>monster_0253_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,152},{74,92}}</string>
        <key>offset</key>
        <string>{-3,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,92}}</string>
        <key>sourceSize</key>
        <string>{74,92}</string>
      </dict>
      <key>monster_0253_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{73,93}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,93}}</string>
        <key>sourceSize</key>
        <string>{73,93}</string>
      </dict>
      <key>monster_0253_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,76},{75,95}}</string>
        <key>offset</key>
        <string>{-3,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,95}}</string>
        <key>sourceSize</key>
        <string>{75,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0253_0_0.png</string>
      <key>size</key>
      <string>{589,642}</string>
      <key>textureFileName</key>
      <string>monster_0253_0_0.png</string>
    </dict>
  </dict>
</plist>