<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0224_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,333},{78,80}}</string>
        <key>offset</key>
        <string>{-5,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,80}}</string>
        <key>sourceSize</key>
        <string>{78,80}</string>
      </dict>
      <key>monster_0224_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,187},{66,87}}</string>
        <key>offset</key>
        <string>{-1,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,87}}</string>
        <key>sourceSize</key>
        <string>{66,87}</string>
      </dict>
      <key>monster_0224_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,91},{70,87}}</string>
        <key>offset</key>
        <string>{-2,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,87}}</string>
        <key>sourceSize</key>
        <string>{70,87}</string>
      </dict>
      <key>monster_0224_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,266},{65,83}}</string>
        <key>offset</key>
        <string>{12,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,83}}</string>
        <key>sourceSize</key>
        <string>{65,83}</string>
      </dict>
      <key>monster_0224_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{63,89}}</string>
        <key>offset</key>
        <string>{8,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,89}}</string>
        <key>sourceSize</key>
        <string>{63,89}</string>
      </dict>
      <key>monster_0224_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,95},{64,90}}</string>
        <key>offset</key>
        <string>{17,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,90}}</string>
        <key>sourceSize</key>
        <string>{64,90}</string>
      </dict>
      <key>monster_0224_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,276},{71,85}}</string>
        <key>offset</key>
        <string>{10,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,85}}</string>
        <key>sourceSize</key>
        <string>{71,85}</string>
      </dict>
      <key>monster_0224_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{114,82}}</string>
        <key>offset</key>
        <string>{-14,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,82}}</string>
        <key>sourceSize</key>
        <string>{114,82}</string>
      </dict>
      <key>monster_0224_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,245},{114,82}}</string>
        <key>offset</key>
        <string>{3,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,82}}</string>
        <key>sourceSize</key>
        <string>{114,82}</string>
      </dict>
      <key>monster_0224_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,0},{73,78}}</string>
        <key>offset</key>
        <string>{5,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,78}}</string>
        <key>sourceSize</key>
        <string>{73,78}</string>
      </dict>
      <key>monster_0224_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{120,83}}</string>
        <key>offset</key>
        <string>{-20,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,83}}</string>
        <key>sourceSize</key>
        <string>{120,83}</string>
      </dict>
      <key>monster_0224_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,74}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,74}}</string>
        <key>sourceSize</key>
        <string>{121,74}</string>
      </dict>
      <key>monster_0224_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,322},{83,78}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,78}}</string>
        <key>sourceSize</key>
        <string>{83,78}</string>
      </dict>
      <key>monster_0224_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{80,93}}</string>
        <key>offset</key>
        <string>{-5,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,93}}</string>
        <key>sourceSize</key>
        <string>{80,93}</string>
      </dict>
      <key>monster_0224_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,226},{79,94}}</string>
        <key>offset</key>
        <string>{-4,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,94}}</string>
        <key>sourceSize</key>
        <string>{79,94}</string>
      </dict>
      <key>monster_0224_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,299},{71,88}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,88}}</string>
        <key>sourceSize</key>
        <string>{71,88}</string>
      </dict>
      <key>monster_0224_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,205},{69,92}}</string>
        <key>offset</key>
        <string>{-2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,92}}</string>
        <key>sourceSize</key>
        <string>{69,92}</string>
      </dict>
      <key>monster_0224_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,109},{68,94}}</string>
        <key>offset</key>
        <string>{-12,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,94}}</string>
        <key>sourceSize</key>
        <string>{68,94}</string>
      </dict>
      <key>monster_0224_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,180},{69,84}}</string>
        <key>offset</key>
        <string>{-16,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,84}}</string>
        <key>sourceSize</key>
        <string>{69,84}</string>
      </dict>
      <key>monster_0224_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,116},{108,80}}</string>
        <key>offset</key>
        <string>{-33,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,80}}</string>
        <key>sourceSize</key>
        <string>{108,80}</string>
      </dict>
      <key>monster_0224_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{107,83}}</string>
        <key>offset</key>
        <string>{-48,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,83}}</string>
        <key>sourceSize</key>
        <string>{107,83}</string>
      </dict>
      <key>monster_0224_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{86,79}}</string>
        <key>offset</key>
        <string>{-22,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,79}}</string>
        <key>sourceSize</key>
        <string>{86,79}</string>
      </dict>
      <key>monster_0224_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,116},{111,70}}</string>
        <key>offset</key>
        <string>{-32,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,70}}</string>
        <key>sourceSize</key>
        <string>{111,70}</string>
      </dict>
      <key>monster_0224_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,245},{112,82}}</string>
        <key>offset</key>
        <string>{-43,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,82}}</string>
        <key>sourceSize</key>
        <string>{112,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0224_0_7.png</string>
      <key>size</key>
      <string>{549,424}</string>
      <key>textureFileName</key>
      <string>monster_0224_0_7.png</string>
    </dict>
  </dict>
</plist>