<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0323_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,676},{87,103}}</string>
        <key>offset</key>
        <string>{-14,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,103}}</string>
        <key>sourceSize</key>
        <string>{87,103}</string>
      </dict>
      <key>monster_0323_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,570},{92,103}}</string>
        <key>offset</key>
        <string>{-21,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,103}}</string>
        <key>sourceSize</key>
        <string>{92,103}</string>
      </dict>
      <key>monster_0323_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,528},{106,117}}</string>
        <key>offset</key>
        <string>{-12,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,117}}</string>
        <key>sourceSize</key>
        <string>{106,117}</string>
      </dict>
      <key>monster_0323_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,407},{119,106}}</string>
        <key>offset</key>
        <string>{-22,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,106}}</string>
        <key>sourceSize</key>
        <string>{119,106}</string>
      </dict>
      <key>monster_0323_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,649},{118,104}}</string>
        <key>offset</key>
        <string>{-33,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,104}}</string>
        <key>sourceSize</key>
        <string>{118,104}</string>
      </dict>
      <key>monster_0323_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,339},{106,104}}</string>
        <key>offset</key>
        <string>{-25,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,104}}</string>
        <key>sourceSize</key>
        <string>{106,104}</string>
      </dict>
      <key>monster_0323_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,596},{94,100}}</string>
        <key>offset</key>
        <string>{-12,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,100}}</string>
        <key>sourceSize</key>
        <string>{94,100}</string>
      </dict>
      <key>monster_0323_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,305},{104,100}}</string>
        <key>offset</key>
        <string>{-12,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,100}}</string>
        <key>sourceSize</key>
        <string>{104,100}</string>
      </dict>
      <key>monster_0323_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{129,101}}</string>
        <key>offset</key>
        <string>{-22,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,101}}</string>
        <key>sourceSize</key>
        <string>{129,101}</string>
      </dict>
      <key>monster_0323_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{140,99}}</string>
        <key>offset</key>
        <string>{-34,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,99}}</string>
        <key>sourceSize</key>
        <string>{140,99}</string>
      </dict>
      <key>monster_0323_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{139,99}}</string>
        <key>offset</key>
        <string>{-35,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,99}}</string>
        <key>sourceSize</key>
        <string>{139,99}</string>
      </dict>
      <key>monster_0323_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,283},{122,94}}</string>
        <key>offset</key>
        <string>{-27,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,94}}</string>
        <key>sourceSize</key>
        <string>{122,94}</string>
      </dict>
      <key>monster_0323_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,690},{99,96}}</string>
        <key>offset</key>
        <string>{-10,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,96}}</string>
        <key>sourceSize</key>
        <string>{99,96}</string>
      </dict>
      <key>monster_0323_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,447},{103,94}}</string>
        <key>offset</key>
        <string>{-11,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,94}}</string>
        <key>sourceSize</key>
        <string>{103,94}</string>
      </dict>
      <key>monster_0323_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{138,95}}</string>
        <key>offset</key>
        <string>{-23,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,95}}</string>
        <key>sourceSize</key>
        <string>{138,95}</string>
      </dict>
      <key>monster_0323_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,528},{119,95}}</string>
        <key>offset</key>
        <string>{-25,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,95}}</string>
        <key>sourceSize</key>
        <string>{119,95}</string>
      </dict>
      <key>monster_0323_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{114,98}}</string>
        <key>offset</key>
        <string>{-20,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,98}}</string>
        <key>sourceSize</key>
        <string>{114,98}</string>
      </dict>
      <key>monster_0323_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,116},{111,95}}</string>
        <key>offset</key>
        <string>{-16,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,95}}</string>
        <key>sourceSize</key>
        <string>{111,95}</string>
      </dict>
      <key>monster_0323_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,692},{99,99}}</string>
        <key>offset</key>
        <string>{-3,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,99}}</string>
        <key>sourceSize</key>
        <string>{99,99}</string>
      </dict>
      <key>monster_0323_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,469},{110,95}}</string>
        <key>offset</key>
        <string>{-8,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,95}}</string>
        <key>sourceSize</key>
        <string>{110,95}</string>
      </dict>
      <key>monster_0323_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,236},{115,99}}</string>
        <key>offset</key>
        <string>{-12,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,99}}</string>
        <key>sourceSize</key>
        <string>{115,99}</string>
      </dict>
      <key>monster_0323_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,235},{112,99}}</string>
        <key>offset</key>
        <string>{-11,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,99}}</string>
        <key>sourceSize</key>
        <string>{112,99}</string>
      </dict>
      <key>monster_0323_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{116,101}}</string>
        <key>offset</key>
        <string>{-20,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,101}}</string>
        <key>sourceSize</key>
        <string>{116,101}</string>
      </dict>
      <key>monster_0323_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,407},{91,101}}</string>
        <key>offset</key>
        <string>{-2,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,101}}</string>
        <key>sourceSize</key>
        <string>{91,101}</string>
      </dict>
      <key>monster_0323_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,675},{91,103}}</string>
        <key>offset</key>
        <string>{0,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,103}}</string>
        <key>sourceSize</key>
        <string>{91,103}</string>
      </dict>
      <key>monster_0323_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,500},{94,101}}</string>
        <key>offset</key>
        <string>{0,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,101}}</string>
        <key>sourceSize</key>
        <string>{94,101}</string>
      </dict>
      <key>monster_0323_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,102},{105,102}}</string>
        <key>offset</key>
        <string>{-15,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,102}}</string>
        <key>sourceSize</key>
        <string>{105,102}</string>
      </dict>
      <key>monster_0323_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,581},{107,97}}</string>
        <key>offset</key>
        <string>{-15,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,97}}</string>
        <key>sourceSize</key>
        <string>{107,97}</string>
      </dict>
      <key>monster_0323_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,206},{105,97}}</string>
        <key>offset</key>
        <string>{-8,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,97}}</string>
        <key>sourceSize</key>
        <string>{105,97}</string>
      </dict>
      <key>monster_0323_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,657},{102,102}}</string>
        <key>offset</key>
        <string>{-8,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,102}}</string>
        <key>sourceSize</key>
        <string>{102,102}</string>
      </dict>
      <key>monster_0323_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,223},{101,106}}</string>
        <key>offset</key>
        <string>{-16,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,106}}</string>
        <key>sourceSize</key>
        <string>{101,106}</string>
      </dict>
      <key>monster_0323_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,113},{101,106}}</string>
        <key>offset</key>
        <string>{-21,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,106}}</string>
        <key>sourceSize</key>
        <string>{101,106}</string>
      </dict>
      <key>monster_0323_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,229},{108,98}}</string>
        <key>offset</key>
        <string>{-28,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,98}}</string>
        <key>sourceSize</key>
        <string>{108,98}</string>
      </dict>
      <key>monster_0323_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{114,98}}</string>
        <key>offset</key>
        <string>{-25,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,98}}</string>
        <key>sourceSize</key>
        <string>{114,98}</string>
      </dict>
      <key>monster_0323_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,647},{117,99}}</string>
        <key>offset</key>
        <string>{-26,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,99}}</string>
        <key>sourceSize</key>
        <string>{117,99}</string>
      </dict>
      <key>monster_0323_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{106,98}}</string>
        <key>offset</key>
        <string>{-23,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,98}}</string>
        <key>sourceSize</key>
        <string>{106,98}</string>
      </dict>
      <key>monster_0323_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,766},{94,97}}</string>
        <key>offset</key>
        <string>{-22,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,97}}</string>
        <key>sourceSize</key>
        <string>{94,97}</string>
      </dict>
      <key>monster_0323_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,766},{98,95}}</string>
        <key>offset</key>
        <string>{-26,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,95}}</string>
        <key>sourceSize</key>
        <string>{98,95}</string>
      </dict>
      <key>monster_0323_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,118},{116,94}}</string>
        <key>offset</key>
        <string>{-34,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,94}}</string>
        <key>sourceSize</key>
        <string>{116,94}</string>
      </dict>
      <key>monster_0323_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,118},{115,109}}</string>
        <key>offset</key>
        <string>{-12,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,109}}</string>
        <key>sourceSize</key>
        <string>{115,109}</string>
      </dict>
      <key>monster_0323_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,349},{109,110}}</string>
        <key>offset</key>
        <string>{-17,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,110}}</string>
        <key>sourceSize</key>
        <string>{109,110}</string>
      </dict>
      <key>monster_0323_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,461},{96,107}}</string>
        <key>offset</key>
        <string>{-22,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,107}}</string>
        <key>sourceSize</key>
        <string>{96,107}</string>
      </dict>
      <key>monster_0323_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,552},{103,102}}</string>
        <key>offset</key>
        <string>{-30,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,102}}</string>
        <key>sourceSize</key>
        <string>{103,102}</string>
      </dict>
      <key>monster_0323_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,0},{106,100}}</string>
        <key>offset</key>
        <string>{-36,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,100}}</string>
        <key>sourceSize</key>
        <string>{106,100}</string>
      </dict>
      <key>monster_0323_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{99,111}}</string>
        <key>offset</key>
        <string>{-25,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,111}}</string>
        <key>sourceSize</key>
        <string>{99,111}</string>
      </dict>
      <key>monster_0323_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,554},{110,120}}</string>
        <key>offset</key>
        <string>{-21,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,120}}</string>
        <key>sourceSize</key>
        <string>{110,120}</string>
      </dict>
      <key>monster_0323_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,353},{111,114}}</string>
        <key>offset</key>
        <string>{-15,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,114}}</string>
        <key>sourceSize</key>
        <string>{111,114}</string>
      </dict>
      <key>monster_0323_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,113},{92,108}}</string>
        <key>offset</key>
        <string>{-12,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,108}}</string>
        <key>sourceSize</key>
        <string>{92,108}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0323_0_2.png</string>
      <key>size</key>
      <string>{770,863}</string>
      <key>textureFileName</key>
      <string>monster_0323_0_2.png</string>
    </dict>
  </dict>
</plist>