<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0073_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,474},{72,130}}</string>
        <key>offset</key>
        <string>{-7,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,130}}</string>
        <key>sourceSize</key>
        <string>{72,130}</string>
      </dict>
      <key>monster_0073_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,768},{83,88}}</string>
        <key>offset</key>
        <string>{-41,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,88}}</string>
        <key>sourceSize</key>
        <string>{83,88}</string>
      </dict>
      <key>monster_0073_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,155},{102,131}}</string>
        <key>offset</key>
        <string>{-10,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,131}}</string>
        <key>sourceSize</key>
        <string>{102,131}</string>
      </dict>
      <key>monster_0073_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,447},{103,87}}</string>
        <key>offset</key>
        <string>{0,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,87}}</string>
        <key>sourceSize</key>
        <string>{103,87}</string>
      </dict>
      <key>monster_0073_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,347},{98,108}}</string>
        <key>offset</key>
        <string>{-8,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,108}}</string>
        <key>sourceSize</key>
        <string>{98,108}</string>
      </dict>
      <key>monster_0073_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,687},{76,144}}</string>
        <key>offset</key>
        <string>{-13,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,144}}</string>
        <key>sourceSize</key>
        <string>{76,144}</string>
      </dict>
      <key>monster_0073_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,175},{161,114}}</string>
        <key>offset</key>
        <string>{-54,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,114}}</string>
        <key>sourceSize</key>
        <string>{161,114}</string>
      </dict>
      <key>monster_0073_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,657},{98,84}}</string>
        <key>offset</key>
        <string>{-52,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>monster_0073_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,513},{134,111}}</string>
        <key>offset</key>
        <string>{-42,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,111}}</string>
        <key>sourceSize</key>
        <string>{134,111}</string>
      </dict>
      <key>monster_0073_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,133},{128,74}}</string>
        <key>offset</key>
        <string>{-35,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,74}}</string>
        <key>sourceSize</key>
        <string>{128,74}</string>
      </dict>
      <key>monster_0073_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,288},{129,84}}</string>
        <key>offset</key>
        <string>{-48,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,84}}</string>
        <key>sourceSize</key>
        <string>{129,84}</string>
      </dict>
      <key>monster_0073_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{173,116}}</string>
        <key>offset</key>
        <string>{-51,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,116}}</string>
        <key>sourceSize</key>
        <string>{173,116}</string>
      </dict>
      <key>monster_0073_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{203,61}}</string>
        <key>offset</key>
        <string>{-62,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,61}}</string>
        <key>sourceSize</key>
        <string>{203,61}</string>
      </dict>
      <key>monster_0073_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{126,74}}</string>
        <key>offset</key>
        <string>{-65,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,74}}</string>
        <key>sourceSize</key>
        <string>{126,74}</string>
      </dict>
      <key>monster_0073_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,338},{134,87}}</string>
        <key>offset</key>
        <string>{-56,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,87}}</string>
        <key>sourceSize</key>
        <string>{134,87}</string>
      </dict>
      <key>monster_0073_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,419},{124,77}}</string>
        <key>offset</key>
        <string>{-42,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,77}}</string>
        <key>sourceSize</key>
        <string>{124,77}</string>
      </dict>
      <key>monster_0073_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,0},{131,59}}</string>
        <key>offset</key>
        <string>{-63,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,59}}</string>
        <key>sourceSize</key>
        <string>{131,59}</string>
      </dict>
      <key>monster_0073_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{203,61}}</string>
        <key>offset</key>
        <string>{-62,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,61}}</string>
        <key>sourceSize</key>
        <string>{203,61}</string>
      </dict>
      <key>monster_0073_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,410},{175,85}}</string>
        <key>offset</key>
        <string>{-46,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,85}}</string>
        <key>sourceSize</key>
        <string>{175,85}</string>
      </dict>
      <key>monster_0073_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,84},{115,80}}</string>
        <key>offset</key>
        <string>{-43,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>monster_0073_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,758},{98,91}}</string>
        <key>offset</key>
        <string>{-38,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,91}}</string>
        <key>sourceSize</key>
        <string>{98,91}</string>
      </dict>
      <key>monster_0073_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,577},{100,77}}</string>
        <key>offset</key>
        <string>{-40,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,77}}</string>
        <key>sourceSize</key>
        <string>{100,77}</string>
      </dict>
      <key>monster_0073_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,546},{103,64}}</string>
        <key>offset</key>
        <string>{-45,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,64}}</string>
        <key>sourceSize</key>
        <string>{103,64}</string>
      </dict>
      <key>monster_0073_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,687},{167,79}}</string>
        <key>offset</key>
        <string>{-42,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,79}}</string>
        <key>sourceSize</key>
        <string>{167,79}</string>
      </dict>
      <key>monster_0073_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,232},{73,113}}</string>
        <key>offset</key>
        <string>{-5,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,113}}</string>
        <key>sourceSize</key>
        <string>{73,113}</string>
      </dict>
      <key>monster_0073_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{97,88}}</string>
        <key>offset</key>
        <string>{6,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,88}}</string>
        <key>sourceSize</key>
        <string>{97,88}</string>
      </dict>
      <key>monster_0073_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,434},{67,106}}</string>
        <key>offset</key>
        <string>{-1,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,106}}</string>
        <key>sourceSize</key>
        <string>{67,106}</string>
      </dict>
      <key>monster_0073_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,503},{104,72}}</string>
        <key>offset</key>
        <string>{-35,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,72}}</string>
        <key>sourceSize</key>
        <string>{104,72}</string>
      </dict>
      <key>monster_0073_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,657},{75,72}}</string>
        <key>offset</key>
        <string>{-12,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>monster_0073_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,166},{64,114}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>monster_0073_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{154,99}}</string>
        <key>offset</key>
        <string>{-48,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,99}}</string>
        <key>sourceSize</key>
        <string>{154,99}</string>
      </dict>
      <key>monster_0073_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,757},{96,78}}</string>
        <key>offset</key>
        <string>{9,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,78}}</string>
        <key>sourceSize</key>
        <string>{96,78}</string>
      </dict>
      <key>monster_0073_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,447},{97,106}}</string>
        <key>offset</key>
        <string>{0,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,106}}</string>
        <key>sourceSize</key>
        <string>{97,106}</string>
      </dict>
      <key>monster_0073_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,263},{121,79}}</string>
        <key>offset</key>
        <string>{-26,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,79}}</string>
        <key>sourceSize</key>
        <string>{121,79}</string>
      </dict>
      <key>monster_0073_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,552},{103,79}}</string>
        <key>offset</key>
        <string>{-2,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,79}}</string>
        <key>sourceSize</key>
        <string>{103,79}</string>
      </dict>
      <key>monster_0073_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{153,99}}</string>
        <key>offset</key>
        <string>{-47,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,99}}</string>
        <key>sourceSize</key>
        <string>{153,99}</string>
      </dict>
      <key>monster_0073_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,410},{196,53}}</string>
        <key>offset</key>
        <string>{-74,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,53}}</string>
        <key>sourceSize</key>
        <string>{196,53}</string>
      </dict>
      <key>monster_0073_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,0},{119,74}}</string>
        <key>offset</key>
        <string>{-6,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,74}}</string>
        <key>sourceSize</key>
        <string>{119,74}</string>
      </dict>
      <key>monster_0073_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,232},{107,114}}</string>
        <key>offset</key>
        <string>{5,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,114}}</string>
        <key>sourceSize</key>
        <string>{107,114}</string>
      </dict>
      <key>monster_0073_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,0},{116,82}}</string>
        <key>offset</key>
        <string>{-15,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,82}}</string>
        <key>sourceSize</key>
        <string>{116,82}</string>
      </dict>
      <key>monster_0073_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,128},{120,94}}</string>
        <key>offset</key>
        <string>{-8,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,94}}</string>
        <key>sourceSize</key>
        <string>{120,94}</string>
      </dict>
      <key>monster_0073_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,608},{194,77}}</string>
        <key>offset</key>
        <string>{-75,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,77}}</string>
        <key>sourceSize</key>
        <string>{194,77}</string>
      </dict>
      <key>monster_0073_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,175},{167,105}}</string>
        <key>offset</key>
        <string>{-62,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,105}}</string>
        <key>sourceSize</key>
        <string>{167,105}</string>
      </dict>
      <key>monster_0073_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,657},{103,71}}</string>
        <key>offset</key>
        <string>{-12,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,71}}</string>
        <key>sourceSize</key>
        <string>{103,71}</string>
      </dict>
      <key>monster_0073_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,606},{110,130}}</string>
        <key>offset</key>
        <string>{4,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,130}}</string>
        <key>sourceSize</key>
        <string>{110,130}</string>
      </dict>
      <key>monster_0073_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,657},{99,90}}</string>
        <key>offset</key>
        <string>{2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,90}}</string>
        <key>sourceSize</key>
        <string>{99,90}</string>
      </dict>
      <key>monster_0073_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,341},{91,111}}</string>
        <key>offset</key>
        <string>{3,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,111}}</string>
        <key>sourceSize</key>
        <string>{91,111}</string>
      </dict>
      <key>monster_0073_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,344},{167,130}}</string>
        <key>offset</key>
        <string>{-68,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,130}}</string>
        <key>sourceSize</key>
        <string>{167,130}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0073_0_2.png</string>
      <key>size</key>
      <string>{770,858}</string>
      <key>textureFileName</key>
      <string>monster_0073_0_2.png</string>
    </dict>
  </dict>
</plist>