<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0455_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,0},{131,117}}</string>
        <key>offset</key>
        <string>{-27,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,117}}</string>
        <key>sourceSize</key>
        <string>{131,117}</string>
      </dict>
      <key>monster_0455_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,279},{134,115}}</string>
        <key>offset</key>
        <string>{-29,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,115}}</string>
        <key>sourceSize</key>
        <string>{134,115}</string>
      </dict>
      <key>monster_0455_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,581},{138,111}}</string>
        <key>offset</key>
        <string>{-32,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,111}}</string>
        <key>sourceSize</key>
        <string>{138,111}</string>
      </dict>
      <key>monster_0455_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,721},{137,114}}</string>
        <key>offset</key>
        <string>{-31,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,114}}</string>
        <key>sourceSize</key>
        <string>{137,114}</string>
      </dict>
      <key>monster_0455_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,279},{134,117}}</string>
        <key>offset</key>
        <string>{-29,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,117}}</string>
        <key>sourceSize</key>
        <string>{134,117}</string>
      </dict>
      <key>monster_0455_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,709},{135,116}}</string>
        <key>offset</key>
        <string>{-29,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,116}}</string>
        <key>sourceSize</key>
        <string>{135,116}</string>
      </dict>
      <key>monster_0455_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,562},{135,113}}</string>
        <key>offset</key>
        <string>{-29,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,113}}</string>
        <key>sourceSize</key>
        <string>{135,113}</string>
      </dict>
      <key>monster_0455_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,138},{133,107}}</string>
        <key>offset</key>
        <string>{-28,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,107}}</string>
        <key>sourceSize</key>
        <string>{133,107}</string>
      </dict>
      <key>monster_0455_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,312},{153,123}}</string>
        <key>offset</key>
        <string>{-23,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,123}}</string>
        <key>sourceSize</key>
        <string>{153,123}</string>
      </dict>
      <key>monster_0455_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,621},{148,123}}</string>
        <key>offset</key>
        <string>{-18,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,123}}</string>
        <key>sourceSize</key>
        <string>{148,123}</string>
      </dict>
      <key>monster_0455_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,615},{145,124}}</string>
        <key>offset</key>
        <string>{-14,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,124}}</string>
        <key>sourceSize</key>
        <string>{145,124}</string>
      </dict>
      <key>monster_0455_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,570},{137,127}}</string>
        <key>offset</key>
        <string>{-10,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,127}}</string>
        <key>sourceSize</key>
        <string>{137,127}</string>
      </dict>
      <key>monster_0455_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,415},{122,126}}</string>
        <key>offset</key>
        <string>{-8,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,126}}</string>
        <key>sourceSize</key>
        <string>{122,126}</string>
      </dict>
      <key>monster_0455_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,557},{127,125}}</string>
        <key>offset</key>
        <string>{-11,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,125}}</string>
        <key>sourceSize</key>
        <string>{127,125}</string>
      </dict>
      <key>monster_0455_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,709},{137,126}}</string>
        <key>offset</key>
        <string>{-14,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,126}}</string>
        <key>sourceSize</key>
        <string>{137,126}</string>
      </dict>
      <key>monster_0455_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{146,126}}</string>
        <key>offset</key>
        <string>{-16,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,126}}</string>
        <key>sourceSize</key>
        <string>{146,126}</string>
      </dict>
      <key>monster_0455_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,0},{132,127}}</string>
        <key>offset</key>
        <string>{4,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,127}}</string>
        <key>sourceSize</key>
        <string>{132,127}</string>
      </dict>
      <key>monster_0455_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,0},{127,130}}</string>
        <key>offset</key>
        <string>{10,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,130}}</string>
        <key>sourceSize</key>
        <string>{127,130}</string>
      </dict>
      <key>monster_0455_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1098,385},{124,129}}</string>
        <key>offset</key>
        <string>{11,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,129}}</string>
        <key>sourceSize</key>
        <string>{124,129}</string>
      </dict>
      <key>monster_0455_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,699},{126,129}}</string>
        <key>offset</key>
        <string>{-11,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,129}}</string>
        <key>sourceSize</key>
        <string>{126,129}</string>
      </dict>
      <key>monster_0455_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,148},{122,144}}</string>
        <key>offset</key>
        <string>{-26,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,144}}</string>
        <key>sourceSize</key>
        <string>{122,144}</string>
      </dict>
      <key>monster_0455_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{120,143}}</string>
        <key>offset</key>
        <string>{-23,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,143}}</string>
        <key>sourceSize</key>
        <string>{120,143}</string>
      </dict>
      <key>monster_0455_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,420},{120,135}}</string>
        <key>offset</key>
        <string>{-13,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,135}}</string>
        <key>sourceSize</key>
        <string>{120,135}</string>
      </dict>
      <key>monster_0455_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,511},{126,125}}</string>
        <key>offset</key>
        <string>{-2,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,125}}</string>
        <key>sourceSize</key>
        <string>{126,125}</string>
      </dict>
      <key>monster_0455_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,141},{136,124}}</string>
        <key>offset</key>
        <string>{-29,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,124}}</string>
        <key>sourceSize</key>
        <string>{136,124}</string>
      </dict>
      <key>monster_0455_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,134},{132,125}}</string>
        <key>offset</key>
        <string>{-24,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,125}}</string>
        <key>sourceSize</key>
        <string>{132,125}</string>
      </dict>
      <key>monster_0455_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,129},{128,130}}</string>
        <key>offset</key>
        <string>{-22,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,130}}</string>
        <key>sourceSize</key>
        <string>{128,130}</string>
      </dict>
      <key>monster_0455_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{134,140}}</string>
        <key>offset</key>
        <string>{-31,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,140}}</string>
        <key>sourceSize</key>
        <string>{134,140}</string>
      </dict>
      <key>monster_0455_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,430},{138,138}}</string>
        <key>offset</key>
        <string>{-35,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,138}}</string>
        <key>sourceSize</key>
        <string>{138,138}</string>
      </dict>
      <key>monster_0455_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,283},{138,138}}</string>
        <key>offset</key>
        <string>{-34,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,138}}</string>
        <key>sourceSize</key>
        <string>{138,138}</string>
      </dict>
      <key>monster_0455_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,439},{138,140}}</string>
        <key>offset</key>
        <string>{-32,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,140}}</string>
        <key>sourceSize</key>
        <string>{138,140}</string>
      </dict>
      <key>monster_0455_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,142},{139,134}}</string>
        <key>offset</key>
        <string>{-32,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,134}}</string>
        <key>sourceSize</key>
        <string>{139,134}</string>
      </dict>
      <key>monster_0455_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,312},{151,125}}</string>
        <key>offset</key>
        <string>{-43,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,125}}</string>
        <key>sourceSize</key>
        <string>{151,125}</string>
      </dict>
      <key>monster_0455_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,762},{145,119}}</string>
        <key>offset</key>
        <string>{-36,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,119}}</string>
        <key>sourceSize</key>
        <string>{145,119}</string>
      </dict>
      <key>monster_0455_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,570},{137,119}}</string>
        <key>offset</key>
        <string>{-29,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,119}}</string>
        <key>sourceSize</key>
        <string>{137,119}</string>
      </dict>
      <key>monster_0455_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,141},{138,116}}</string>
        <key>offset</key>
        <string>{-31,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,116}}</string>
        <key>sourceSize</key>
        <string>{138,116}</string>
      </dict>
      <key>monster_0455_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{154,107}}</string>
        <key>offset</key>
        <string>{-47,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,107}}</string>
        <key>sourceSize</key>
        <string>{154,107}</string>
      </dict>
      <key>monster_0455_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,467},{153,106}}</string>
        <key>offset</key>
        <string>{-46,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,106}}</string>
        <key>sourceSize</key>
        <string>{153,106}</string>
      </dict>
      <key>monster_0455_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,294},{143,114}}</string>
        <key>offset</key>
        <string>{-35,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,114}}</string>
        <key>sourceSize</key>
        <string>{143,114}</string>
      </dict>
      <key>monster_0455_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,145},{141,120}}</string>
        <key>offset</key>
        <string>{-32,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,120}}</string>
        <key>sourceSize</key>
        <string>{141,120}</string>
      </dict>
      <key>monster_0455_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{154,124}}</string>
        <key>offset</key>
        <string>{-63,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,124}}</string>
        <key>sourceSize</key>
        <string>{154,124}</string>
      </dict>
      <key>monster_0455_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,771},{146,121}}</string>
        <key>offset</key>
        <string>{-60,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,121}}</string>
        <key>sourceSize</key>
        <string>{146,121}</string>
      </dict>
      <key>monster_0455_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,777},{149,113}}</string>
        <key>offset</key>
        <string>{-61,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,113}}</string>
        <key>sourceSize</key>
        <string>{149,113}</string>
      </dict>
      <key>monster_0455_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{153,113}}</string>
        <key>offset</key>
        <string>{-64,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,113}}</string>
        <key>sourceSize</key>
        <string>{153,113}</string>
      </dict>
      <key>monster_0455_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,465},{148,111}}</string>
        <key>offset</key>
        <string>{-59,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,111}}</string>
        <key>sourceSize</key>
        <string>{148,111}</string>
      </dict>
      <key>monster_0455_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,156},{150,112}}</string>
        <key>offset</key>
        <string>{-61,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,112}}</string>
        <key>sourceSize</key>
        <string>{150,112}</string>
      </dict>
      <key>monster_0455_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,467},{152,114}}</string>
        <key>offset</key>
        <string>{-65,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,114}}</string>
        <key>sourceSize</key>
        <string>{152,114}</string>
      </dict>
      <key>monster_0455_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{154,121}}</string>
        <key>offset</key>
        <string>{-67,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,121}}</string>
        <key>sourceSize</key>
        <string>{154,121}</string>
      </dict>
      <key>monster_0455_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,0},{139,125}}</string>
        <key>offset</key>
        <string>{-68,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,125}}</string>
        <key>sourceSize</key>
        <string>{139,125}</string>
      </dict>
      <key>monster_0455_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,423},{137,127}}</string>
        <key>offset</key>
        <string>{-67,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,127}}</string>
        <key>sourceSize</key>
        <string>{137,127}</string>
      </dict>
      <key>monster_0455_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,0},{136,128}}</string>
        <key>offset</key>
        <string>{-67,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,128}}</string>
        <key>sourceSize</key>
        <string>{136,128}</string>
      </dict>
      <key>monster_0455_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,638},{121,123}}</string>
        <key>offset</key>
        <string>{-52,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,123}}</string>
        <key>sourceSize</key>
        <string>{121,123}</string>
      </dict>
      <key>monster_0455_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1182,762},{121,119}}</string>
        <key>offset</key>
        <string>{-28,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,119}}</string>
        <key>sourceSize</key>
        <string>{121,119}</string>
      </dict>
      <key>monster_0455_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,761},{123,119}}</string>
        <key>offset</key>
        <string>{-33,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,119}}</string>
        <key>sourceSize</key>
        <string>{123,119}</string>
      </dict>
      <key>monster_0455_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,686},{126,123}}</string>
        <key>offset</key>
        <string>{-48,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,123}}</string>
        <key>sourceSize</key>
        <string>{126,123}</string>
      </dict>
      <key>monster_0455_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,259},{130,124}}</string>
        <key>offset</key>
        <string>{-60,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,124}}</string>
        <key>sourceSize</key>
        <string>{130,124}</string>
      </dict>
      <key>monster_0455_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1223,511},{119,120}}</string>
        <key>offset</key>
        <string>{-29,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,120}}</string>
        <key>sourceSize</key>
        <string>{119,120}</string>
      </dict>
      <key>monster_0455_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1215,638},{113,122}}</string>
        <key>offset</key>
        <string>{-25,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,122}}</string>
        <key>sourceSize</key>
        <string>{113,122}</string>
      </dict>
      <key>monster_0455_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,259},{107,119}}</string>
        <key>offset</key>
        <string>{-23,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,119}}</string>
        <key>sourceSize</key>
        <string>{107,119}</string>
      </dict>
      <key>monster_0455_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,543},{124,117}}</string>
        <key>offset</key>
        <string>{-34,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,117}}</string>
        <key>sourceSize</key>
        <string>{124,117}</string>
      </dict>
      <key>monster_0455_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,288},{140,117}}</string>
        <key>offset</key>
        <string>{-38,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,117}}</string>
        <key>sourceSize</key>
        <string>{140,117}</string>
      </dict>
      <key>monster_0455_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,281},{137,118}}</string>
        <key>offset</key>
        <string>{-36,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,118}}</string>
        <key>sourceSize</key>
        <string>{137,118}</string>
      </dict>
      <key>monster_0455_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,268},{130,113}}</string>
        <key>offset</key>
        <string>{-33,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,113}}</string>
        <key>sourceSize</key>
        <string>{130,113}</string>
      </dict>
      <key>monster_0455_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1229,385},{120,114}}</string>
        <key>offset</key>
        <string>{-28,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,114}}</string>
        <key>sourceSize</key>
        <string>{120,114}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0455_0_1.png</string>
      <key>size</key>
      <string>{1395,898}</string>
      <key>textureFileName</key>
      <string>monster_0455_0_1.png</string>
    </dict>
  </dict>
</plist>