<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0152_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,251},{66,78}}</string>
        <key>offset</key>
        <string>{-3,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,78}}</string>
        <key>sourceSize</key>
        <string>{66,78}</string>
      </dict>
      <key>monster_0152_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,170},{70,79}}</string>
        <key>offset</key>
        <string>{-4,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,79}}</string>
        <key>sourceSize</key>
        <string>{70,79}</string>
      </dict>
      <key>monster_0152_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,257},{72,81}}</string>
        <key>offset</key>
        <string>{-4,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,81}}</string>
        <key>sourceSize</key>
        <string>{72,81}</string>
      </dict>
      <key>monster_0152_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,346},{67,82}}</string>
        <key>offset</key>
        <string>{-1,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,82}}</string>
        <key>sourceSize</key>
        <string>{67,82}</string>
      </dict>
      <key>monster_0152_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,83},{70,79}}</string>
        <key>offset</key>
        <string>{-3,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,79}}</string>
        <key>sourceSize</key>
        <string>{70,79}</string>
      </dict>
      <key>monster_0152_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,172},{72,81}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,81}}</string>
        <key>sourceSize</key>
        <string>{72,81}</string>
      </dict>
      <key>monster_0152_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,164},{74,78}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,78}}</string>
        <key>sourceSize</key>
        <string>{74,78}</string>
      </dict>
      <key>monster_0152_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,430},{74,82}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>monster_0152_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{70,85}}</string>
        <key>offset</key>
        <string>{-1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,85}}</string>
        <key>sourceSize</key>
        <string>{70,85}</string>
      </dict>
      <key>monster_0152_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{67,86}}</string>
        <key>offset</key>
        <string>{0,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,86}}</string>
        <key>sourceSize</key>
        <string>{67,86}</string>
      </dict>
      <key>monster_0152_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,87},{69,83}}</string>
        <key>offset</key>
        <string>{-1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,83}}</string>
        <key>sourceSize</key>
        <string>{69,83}</string>
      </dict>
      <key>monster_0152_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{71,84}}</string>
        <key>offset</key>
        <string>{-1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,84}}</string>
        <key>sourceSize</key>
        <string>{71,84}</string>
      </dict>
      <key>monster_0152_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,215},{68,73}}</string>
        <key>offset</key>
        <string>{2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,73}}</string>
        <key>sourceSize</key>
        <string>{68,73}</string>
      </dict>
      <key>monster_0152_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{67,76}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,76}}</string>
        <key>sourceSize</key>
        <string>{67,76}</string>
      </dict>
      <key>monster_0152_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,81},{66,78}}</string>
        <key>offset</key>
        <string>{6,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,78}}</string>
        <key>sourceSize</key>
        <string>{66,78}</string>
      </dict>
      <key>monster_0152_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,87},{73,81}}</string>
        <key>offset</key>
        <string>{0,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,81}}</string>
        <key>sourceSize</key>
        <string>{73,81}</string>
      </dict>
      <key>monster_0152_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{64,79}}</string>
        <key>offset</key>
        <string>{7,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,79}}</string>
        <key>sourceSize</key>
        <string>{64,79}</string>
      </dict>
      <key>monster_0152_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{63,79}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,79}}</string>
        <key>sourceSize</key>
        <string>{63,79}</string>
      </dict>
      <key>monster_0152_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{67,69}}</string>
        <key>offset</key>
        <string>{1,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,69}}</string>
        <key>sourceSize</key>
        <string>{67,69}</string>
      </dict>
      <key>monster_0152_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,320},{72,68}}</string>
        <key>offset</key>
        <string>{-4,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,68}}</string>
        <key>sourceSize</key>
        <string>{72,68}</string>
      </dict>
      <key>monster_0152_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,0},{81,75}}</string>
        <key>offset</key>
        <string>{-7,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,75}}</string>
        <key>sourceSize</key>
        <string>{81,75}</string>
      </dict>
      <key>monster_0152_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{83,72}}</string>
        <key>offset</key>
        <string>{-5,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,72}}</string>
        <key>sourceSize</key>
        <string>{83,72}</string>
      </dict>
      <key>monster_0152_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,69},{76,69}}</string>
        <key>offset</key>
        <string>{-1,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,69}}</string>
        <key>sourceSize</key>
        <string>{76,69}</string>
      </dict>
      <key>monster_0152_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,140},{68,71}}</string>
        <key>offset</key>
        <string>{1,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,71}}</string>
        <key>sourceSize</key>
        <string>{68,71}</string>
      </dict>
      <key>monster_0152_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,273},{66,70}}</string>
        <key>offset</key>
        <string>{0,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>monster_0152_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,285},{72,66}}</string>
        <key>offset</key>
        <string>{-3,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,66}}</string>
        <key>sourceSize</key>
        <string>{72,66}</string>
      </dict>
      <key>monster_0152_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,140},{73,75}}</string>
        <key>offset</key>
        <string>{-3,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,75}}</string>
        <key>sourceSize</key>
        <string>{73,75}</string>
      </dict>
      <key>monster_0152_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,353},{72,72}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>monster_0152_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,427},{72,65}}</string>
        <key>offset</key>
        <string>{-2,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,65}}</string>
        <key>sourceSize</key>
        <string>{72,65}</string>
      </dict>
      <key>monster_0152_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,331},{71,74}}</string>
        <key>offset</key>
        <string>{-1,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,74}}</string>
        <key>sourceSize</key>
        <string>{71,74}</string>
      </dict>
      <key>monster_0152_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,244},{74,71}}</string>
        <key>offset</key>
        <string>{-9,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,71}}</string>
        <key>sourceSize</key>
        <string>{74,71}</string>
      </dict>
      <key>monster_0152_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,345},{69,70}}</string>
        <key>offset</key>
        <string>{-5,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>monster_0152_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,427},{66,72}}</string>
        <key>offset</key>
        <string>{-7,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>monster_0152_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,210},{61,71}}</string>
        <key>offset</key>
        <string>{-4,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,71}}</string>
        <key>sourceSize</key>
        <string>{61,71}</string>
      </dict>
      <key>monster_0152_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,417},{60,70}}</string>
        <key>offset</key>
        <string>{0,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>monster_0152_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,418},{71,75}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,75}}</string>
        <key>sourceSize</key>
        <string>{71,75}</string>
      </dict>
      <key>monster_0152_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,422},{65,79}}</string>
        <key>offset</key>
        <string>{-7,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,79}}</string>
        <key>sourceSize</key>
        <string>{65,79}</string>
      </dict>
      <key>monster_0152_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,340},{54,80}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,80}}</string>
        <key>sourceSize</key>
        <string>{54,80}</string>
      </dict>
      <key>monster_0152_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,337},{66,79}}</string>
        <key>offset</key>
        <string>{-9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,79}}</string>
        <key>sourceSize</key>
        <string>{66,79}</string>
      </dict>
      <key>monster_0152_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,407},{67,73}}</string>
        <key>offset</key>
        <string>{-9,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,73}}</string>
        <key>sourceSize</key>
        <string>{67,73}</string>
      </dict>
      <key>monster_0152_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,158},{59,74}}</string>
        <key>offset</key>
        <string>{-3,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,74}}</string>
        <key>sourceSize</key>
        <string>{59,74}</string>
      </dict>
      <key>monster_0152_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,80},{64,76}}</string>
        <key>offset</key>
        <string>{-7,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,76}}</string>
        <key>sourceSize</key>
        <string>{64,76}</string>
      </dict>
      <key>monster_0152_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,430},{60,81}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,81}}</string>
        <key>sourceSize</key>
        <string>{60,81}</string>
      </dict>
      <key>monster_0152_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,172},{59,83}}</string>
        <key>offset</key>
        <string>{1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,83}}</string>
        <key>sourceSize</key>
        <string>{59,83}</string>
      </dict>
      <key>monster_0152_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,0},{74,85}}</string>
        <key>offset</key>
        <string>{-9,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,85}}</string>
        <key>sourceSize</key>
        <string>{74,85}</string>
      </dict>
      <key>monster_0152_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{78,78}}</string>
        <key>offset</key>
        <string>{-13,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>monster_0152_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,255},{72,80}}</string>
        <key>offset</key>
        <string>{-10,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,80}}</string>
        <key>sourceSize</key>
        <string>{72,80}</string>
      </dict>
      <key>monster_0152_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,346},{65,82}}</string>
        <key>offset</key>
        <string>{-6,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,82}}</string>
        <key>sourceSize</key>
        <string>{65,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0152_0_1.png</string>
      <key>size</key>
      <string>{580,514}</string>
      <key>textureFileName</key>
      <string>monster_0152_0_1.png</string>
    </dict>
  </dict>
</plist>