<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0382_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,1254},{405,376}}</string>
        <key>offset</key>
        <string>{-179,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,376}}</string>
        <key>sourceSize</key>
        <string>{405,376}</string>
      </dict>
      <key>monster_0382_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,1090},{410,384}}</string>
        <key>offset</key>
        <string>{-179,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,384}}</string>
        <key>sourceSize</key>
        <string>{410,384}</string>
      </dict>
      <key>monster_0382_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,840},{412,383}}</string>
        <key>offset</key>
        <string>{-177,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,383}}</string>
        <key>sourceSize</key>
        <string>{412,383}</string>
      </dict>
      <key>monster_0382_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,0},{415,379}}</string>
        <key>offset</key>
        <string>{-189,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,379}}</string>
        <key>sourceSize</key>
        <string>{415,379}</string>
      </dict>
      <key>monster_0382_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{425,375}}</string>
        <key>offset</key>
        <string>{-196,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,375}}</string>
        <key>sourceSize</key>
        <string>{425,375}</string>
      </dict>
      <key>monster_0382_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,854},{424,390}}</string>
        <key>offset</key>
        <string>{-179,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,390}}</string>
        <key>sourceSize</key>
        <string>{424,390}</string>
      </dict>
      <key>monster_0382_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{419,397}}</string>
        <key>offset</key>
        <string>{-179,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,397}}</string>
        <key>sourceSize</key>
        <string>{419,397}</string>
      </dict>
      <key>monster_0382_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,703},{412,385}}</string>
        <key>offset</key>
        <string>{-184,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,385}}</string>
        <key>sourceSize</key>
        <string>{412,385}</string>
      </dict>
      <key>monster_0382_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,427},{424,346}}</string>
        <key>offset</key>
        <string>{-212,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,346}}</string>
        <key>sourceSize</key>
        <string>{424,346}</string>
      </dict>
      <key>monster_0382_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,427},{425,345}}</string>
        <key>offset</key>
        <string>{-212,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,345}}</string>
        <key>sourceSize</key>
        <string>{425,345}</string>
      </dict>
      <key>monster_0382_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,0},{415,342}}</string>
        <key>offset</key>
        <string>{-205,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,342}}</string>
        <key>sourceSize</key>
        <string>{415,342}</string>
      </dict>
      <key>monster_0382_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,853},{417,335}}</string>
        <key>offset</key>
        <string>{-206,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,335}}</string>
        <key>sourceSize</key>
        <string>{417,335}</string>
      </dict>
      <key>monster_0382_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,421},{417,329}}</string>
        <key>offset</key>
        <string>{-193,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,329}}</string>
        <key>sourceSize</key>
        <string>{417,329}</string>
      </dict>
      <key>monster_0382_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1280},{407,345}}</string>
        <key>offset</key>
        <string>{-181,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,345}}</string>
        <key>sourceSize</key>
        <string>{407,345}</string>
      </dict>
      <key>monster_0382_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,1280},{406,360}}</string>
        <key>offset</key>
        <string>{-191,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,360}}</string>
        <key>sourceSize</key>
        <string>{406,360}</string>
      </dict>
      <key>monster_0382_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,344},{415,357}}</string>
        <key>offset</key>
        <string>{-206,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,357}}</string>
        <key>sourceSize</key>
        <string>{415,357}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0382_0_1_1.png</string>
      <key>size</key>
      <string>{1794,1896}</string>
      <key>textureFileName</key>
      <string>monster_0382_0_1_1.png</string>
    </dict>
  </dict>
</plist>