<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0357_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,253},{81,92}}</string>
        <key>offset</key>
        <string>{-2,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,92}}</string>
        <key>sourceSize</key>
        <string>{81,92}</string>
      </dict>
      <key>monster_0357_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,228},{76,103}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,103}}</string>
        <key>sourceSize</key>
        <string>{76,103}</string>
      </dict>
      <key>monster_0357_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,336},{90,92}}</string>
        <key>offset</key>
        <string>{2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,92}}</string>
        <key>sourceSize</key>
        <string>{90,92}</string>
      </dict>
      <key>monster_0357_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,84},{88,95}}</string>
        <key>offset</key>
        <string>{14,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,95}}</string>
        <key>sourceSize</key>
        <string>{88,95}</string>
      </dict>
      <key>monster_0357_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,333},{100,95}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,95}}</string>
        <key>sourceSize</key>
        <string>{100,95}</string>
      </dict>
      <key>monster_0357_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,226},{99,88}}</string>
        <key>offset</key>
        <string>{-14,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,88}}</string>
        <key>sourceSize</key>
        <string>{99,88}</string>
      </dict>
      <key>monster_0357_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,121},{105,81}}</string>
        <key>offset</key>
        <string>{-9,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,81}}</string>
        <key>sourceSize</key>
        <string>{105,81}</string>
      </dict>
      <key>monster_0357_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,82}}</string>
        <key>offset</key>
        <string>{-43,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,82}}</string>
        <key>sourceSize</key>
        <string>{138,82}</string>
      </dict>
      <key>monster_0357_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{119,94}}</string>
        <key>offset</key>
        <string>{-18,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,94}}</string>
        <key>sourceSize</key>
        <string>{119,94}</string>
      </dict>
      <key>monster_0357_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,104},{99,84}}</string>
        <key>offset</key>
        <string>{-18,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,84}}</string>
        <key>sourceSize</key>
        <string>{99,84}</string>
      </dict>
      <key>monster_0357_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{117,78}}</string>
        <key>offset</key>
        <string>{-29,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,78}}</string>
        <key>sourceSize</key>
        <string>{117,78}</string>
      </dict>
      <key>monster_0357_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,121},{103,86}}</string>
        <key>offset</key>
        <string>{-10,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,86}}</string>
        <key>sourceSize</key>
        <string>{103,86}</string>
      </dict>
      <key>monster_0357_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,176},{86,76}}</string>
        <key>offset</key>
        <string>{-10,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,76}}</string>
        <key>sourceSize</key>
        <string>{86,76}</string>
      </dict>
      <key>monster_0357_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,90},{88,84}}</string>
        <key>offset</key>
        <string>{-14,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>monster_0357_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,270},{107,84}}</string>
        <key>offset</key>
        <string>{-31,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,84}}</string>
        <key>sourceSize</key>
        <string>{107,84}</string>
      </dict>
      <key>monster_0357_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,0},{96,82}}</string>
        <key>offset</key>
        <string>{-34,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,82}}</string>
        <key>sourceSize</key>
        <string>{96,82}</string>
      </dict>
      <key>monster_0357_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{89,88}}</string>
        <key>offset</key>
        <string>{-10,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,88}}</string>
        <key>sourceSize</key>
        <string>{89,88}</string>
      </dict>
      <key>monster_0357_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{102,88}}</string>
        <key>offset</key>
        <string>{-23,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,88}}</string>
        <key>sourceSize</key>
        <string>{102,88}</string>
      </dict>
      <key>monster_0357_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{99,79}}</string>
        <key>offset</key>
        <string>{-29,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,79}}</string>
        <key>sourceSize</key>
        <string>{99,79}</string>
      </dict>
      <key>monster_0357_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{128,84}}</string>
        <key>offset</key>
        <string>{-24,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,84}}</string>
        <key>sourceSize</key>
        <string>{128,84}</string>
      </dict>
      <key>monster_0357_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,389},{109,86}}</string>
        <key>offset</key>
        <string>{-26,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,86}}</string>
        <key>sourceSize</key>
        <string>{109,86}</string>
      </dict>
      <key>monster_0357_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,174},{93,77}}</string>
        <key>offset</key>
        <string>{-15,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,77}}</string>
        <key>sourceSize</key>
        <string>{93,77}</string>
      </dict>
      <key>monster_0357_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,379},{106,94}}</string>
        <key>offset</key>
        <string>{-16,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,94}}</string>
        <key>sourceSize</key>
        <string>{106,94}</string>
      </dict>
      <key>monster_0357_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,336},{90,89}}</string>
        <key>offset</key>
        <string>{-17,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,89}}</string>
        <key>sourceSize</key>
        <string>{90,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0357_0_7.png</string>
      <key>size</key>
      <string>{556,512}</string>
      <key>textureFileName</key>
      <string>monster_0357_0_7.png</string>
    </dict>
  </dict>
</plist>