<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0372_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,162},{83,98}}</string>
        <key>offset</key>
        <string>{-5,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,98}}</string>
        <key>sourceSize</key>
        <string>{83,98}</string>
      </dict>
      <key>monster_0372_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,361},{83,92}}</string>
        <key>offset</key>
        <string>{-3,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,92}}</string>
        <key>sourceSize</key>
        <string>{83,92}</string>
      </dict>
      <key>monster_0372_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,0},{88,93}}</string>
        <key>offset</key>
        <string>{-3,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,93}}</string>
        <key>sourceSize</key>
        <string>{88,93}</string>
      </dict>
      <key>monster_0372_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,557},{98,97}}</string>
        <key>offset</key>
        <string>{-12,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,97}}</string>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>monster_0372_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,380},{80,109}}</string>
        <key>offset</key>
        <string>{-20,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,109}}</string>
        <key>sourceSize</key>
        <string>{80,109}</string>
      </dict>
      <key>monster_0372_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,233},{62,109}}</string>
        <key>offset</key>
        <string>{-5,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,109}}</string>
        <key>sourceSize</key>
        <string>{62,109}</string>
      </dict>
      <key>monster_0372_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,587},{78,94}}</string>
        <key>offset</key>
        <string>{-12,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,94}}</string>
        <key>sourceSize</key>
        <string>{78,94}</string>
      </dict>
      <key>monster_0372_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,323},{86,96}}</string>
        <key>offset</key>
        <string>{-13,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,96}}</string>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>monster_0372_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,657},{78,98}}</string>
        <key>offset</key>
        <string>{4,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,98}}</string>
        <key>sourceSize</key>
        <string>{78,98}</string>
      </dict>
      <key>monster_0372_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,186},{72,91}}</string>
        <key>offset</key>
        <string>{9,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,91}}</string>
        <key>sourceSize</key>
        <string>{72,91}</string>
      </dict>
      <key>monster_0372_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,459},{82,95}}</string>
        <key>offset</key>
        <string>{-4,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,95}}</string>
        <key>sourceSize</key>
        <string>{82,95}</string>
      </dict>
      <key>monster_0372_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,78},{82,99}}</string>
        <key>offset</key>
        <string>{13,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,99}}</string>
        <key>sourceSize</key>
        <string>{82,99}</string>
      </dict>
      <key>monster_0372_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,120},{111,104}}</string>
        <key>offset</key>
        <string>{-3,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,104}}</string>
        <key>sourceSize</key>
        <string>{111,104}</string>
      </dict>
      <key>monster_0372_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,418},{112,104}}</string>
        <key>offset</key>
        <string>{-4,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,104}}</string>
        <key>sourceSize</key>
        <string>{112,104}</string>
      </dict>
      <key>monster_0372_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,106},{101,96}}</string>
        <key>offset</key>
        <string>{-9,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,96}}</string>
        <key>sourceSize</key>
        <string>{101,96}</string>
      </dict>
      <key>monster_0372_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,162},{83,98}}</string>
        <key>offset</key>
        <string>{-1,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,98}}</string>
        <key>sourceSize</key>
        <string>{83,98}</string>
      </dict>
      <key>monster_0372_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,247},{74,97}}</string>
        <key>offset</key>
        <string>{7,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,97}}</string>
        <key>sourceSize</key>
        <string>{74,97}</string>
      </dict>
      <key>monster_0372_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,600},{103,90}}</string>
        <key>offset</key>
        <string>{-16,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,90}}</string>
        <key>sourceSize</key>
        <string>{103,90}</string>
      </dict>
      <key>monster_0372_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,668},{115,92}}</string>
        <key>offset</key>
        <string>{-25,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,92}}</string>
        <key>sourceSize</key>
        <string>{115,92}</string>
      </dict>
      <key>monster_0372_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,496},{89,95}}</string>
        <key>offset</key>
        <string>{8,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,95}}</string>
        <key>sourceSize</key>
        <string>{89,95}</string>
      </dict>
      <key>monster_0372_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{141,92}}</string>
        <key>offset</key>
        <string>{7,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,92}}</string>
        <key>sourceSize</key>
        <string>{141,92}</string>
      </dict>
      <key>monster_0372_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{141,89}}</string>
        <key>offset</key>
        <string>{7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,89}}</string>
        <key>sourceSize</key>
        <string>{141,89}</string>
      </dict>
      <key>monster_0372_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,452},{103,90}}</string>
        <key>offset</key>
        <string>{9,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,90}}</string>
        <key>sourceSize</key>
        <string>{103,90}</string>
      </dict>
      <key>monster_0372_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,459},{81,93}}</string>
        <key>offset</key>
        <string>{9,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,93}}</string>
        <key>sourceSize</key>
        <string>{81,93}</string>
      </dict>
      <key>monster_0372_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,667},{81,94}}</string>
        <key>offset</key>
        <string>{-4,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,94}}</string>
        <key>sourceSize</key>
        <string>{81,94}</string>
      </dict>
      <key>monster_0372_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,532},{112,87}}</string>
        <key>offset</key>
        <string>{-21,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,87}}</string>
        <key>sourceSize</key>
        <string>{112,87}</string>
      </dict>
      <key>monster_0372_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,550},{116,92}}</string>
        <key>offset</key>
        <string>{-27,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,92}}</string>
        <key>sourceSize</key>
        <string>{116,92}</string>
      </dict>
      <key>monster_0372_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,344},{106,84}}</string>
        <key>offset</key>
        <string>{-1,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,84}}</string>
        <key>sourceSize</key>
        <string>{106,84}</string>
      </dict>
      <key>monster_0372_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,419},{129,93}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,93}}</string>
        <key>sourceSize</key>
        <string>{129,93}</string>
      </dict>
      <key>monster_0372_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,287},{129,92}}</string>
        <key>offset</key>
        <string>{0,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,92}}</string>
        <key>sourceSize</key>
        <string>{129,92}</string>
      </dict>
      <key>monster_0372_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,554},{92,92}}</string>
        <key>offset</key>
        <string>{1,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,92}}</string>
        <key>sourceSize</key>
        <string>{92,92}</string>
      </dict>
      <key>monster_0372_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,648},{86,90}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
      <key>monster_0372_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,556},{87,95}}</string>
        <key>offset</key>
        <string>{-7,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,95}}</string>
        <key>sourceSize</key>
        <string>{87,95}</string>
      </dict>
      <key>monster_0372_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,322},{82,92}}</string>
        <key>offset</key>
        <string>{-5,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,92}}</string>
        <key>sourceSize</key>
        <string>{82,92}</string>
      </dict>
      <key>monster_0372_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,218},{88,102}}</string>
        <key>offset</key>
        <string>{-12,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,102}}</string>
        <key>sourceSize</key>
        <string>{88,102}</string>
      </dict>
      <key>monster_0372_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,653},{94,90}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,90}}</string>
        <key>sourceSize</key>
        <string>{94,90}</string>
      </dict>
      <key>monster_0372_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,332},{96,103}}</string>
        <key>offset</key>
        <string>{-2,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,103}}</string>
        <key>sourceSize</key>
        <string>{96,103}</string>
      </dict>
      <key>monster_0372_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,224},{82,106}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,106}}</string>
        <key>sourceSize</key>
        <string>{82,106}</string>
      </dict>
      <key>monster_0372_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,361},{86,96}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,96}}</string>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>monster_0372_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,705},{89,87}}</string>
        <key>offset</key>
        <string>{-6,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,87}}</string>
        <key>sourceSize</key>
        <string>{89,87}</string>
      </dict>
      <key>monster_0372_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,0},{89,100}}</string>
        <key>offset</key>
        <string>{-14,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,100}}</string>
        <key>sourceSize</key>
        <string>{89,100}</string>
      </dict>
      <key>monster_0372_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,657},{72,98}}</string>
        <key>offset</key>
        <string>{0,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,98}}</string>
        <key>sourceSize</key>
        <string>{72,98}</string>
      </dict>
      <key>monster_0372_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{86,104}}</string>
        <key>offset</key>
        <string>{1,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,104}}</string>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>monster_0372_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,262},{86,97}}</string>
        <key>offset</key>
        <string>{-16,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,97}}</string>
        <key>sourceSize</key>
        <string>{86,97}</string>
      </dict>
      <key>monster_0372_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,646},{112,94}}</string>
        <key>offset</key>
        <string>{-36,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,94}}</string>
        <key>sourceSize</key>
        <string>{112,94}</string>
      </dict>
      <key>monster_0372_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,668},{116,93}}</string>
        <key>offset</key>
        <string>{-37,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,93}}</string>
        <key>sourceSize</key>
        <string>{116,93}</string>
      </dict>
      <key>monster_0372_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,113},{109,91}}</string>
        <key>offset</key>
        <string>{-27,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,91}}</string>
        <key>sourceSize</key>
        <string>{109,91}</string>
      </dict>
      <key>monster_0372_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,95},{93,89}}</string>
        <key>offset</key>
        <string>{-18,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,89}}</string>
        <key>sourceSize</key>
        <string>{93,89}</string>
      </dict>
      <key>monster_0372_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,0},{76,100}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,100}}</string>
        <key>sourceSize</key>
        <string>{76,100}</string>
      </dict>
      <key>monster_0372_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{108,96}}</string>
        <key>offset</key>
        <string>{-16,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,96}}</string>
        <key>sourceSize</key>
        <string>{108,96}</string>
      </dict>
      <key>monster_0372_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,143},{121,98}}</string>
        <key>offset</key>
        <string>{-15,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,98}}</string>
        <key>sourceSize</key>
        <string>{121,98}</string>
      </dict>
      <key>monster_0372_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,411},{94,91}}</string>
        <key>offset</key>
        <string>{-24,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,91}}</string>
        <key>sourceSize</key>
        <string>{94,91}</string>
      </dict>
      <key>monster_0372_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{130,84}}</string>
        <key>offset</key>
        <string>{-76,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,84}}</string>
        <key>sourceSize</key>
        <string>{130,84}</string>
      </dict>
      <key>monster_0372_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,81}}</string>
        <key>offset</key>
        <string>{-76,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,81}}</string>
        <key>sourceSize</key>
        <string>{142,81}</string>
      </dict>
      <key>monster_0372_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{111,84}}</string>
        <key>offset</key>
        <string>{-47,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,84}}</string>
        <key>sourceSize</key>
        <string>{111,84}</string>
      </dict>
      <key>monster_0372_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,260},{82,89}}</string>
        <key>offset</key>
        <string>{-20,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>monster_0372_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,411},{83,96}}</string>
        <key>offset</key>
        <string>{-4,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,96}}</string>
        <key>sourceSize</key>
        <string>{83,96}</string>
      </dict>
      <key>monster_0372_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{118,92}}</string>
        <key>offset</key>
        <string>{-21,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,92}}</string>
        <key>sourceSize</key>
        <string>{118,92}</string>
      </dict>
      <key>monster_0372_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,550},{116,92}}</string>
        <key>offset</key>
        <string>{-15,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,92}}</string>
        <key>sourceSize</key>
        <string>{116,92}</string>
      </dict>
      <key>monster_0372_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,266},{112,87}}</string>
        <key>offset</key>
        <string>{-32,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,87}}</string>
        <key>sourceSize</key>
        <string>{112,87}</string>
      </dict>
      <key>monster_0372_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,110},{106,84}}</string>
        <key>offset</key>
        <string>{-57,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,84}}</string>
        <key>sourceSize</key>
        <string>{106,84}</string>
      </dict>
      <key>monster_0372_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,491},{107,84}}</string>
        <key>offset</key>
        <string>{-58,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,84}}</string>
        <key>sourceSize</key>
        <string>{107,84}</string>
      </dict>
      <key>monster_0372_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,446},{80,85}}</string>
        <key>offset</key>
        <string>{-27,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,85}}</string>
        <key>sourceSize</key>
        <string>{80,85}</string>
      </dict>
      <key>monster_0372_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,736},{75,88}}</string>
        <key>offset</key>
        <string>{-14,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,88}}</string>
        <key>sourceSize</key>
        <string>{75,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0372_0_2.png</string>
      <key>size</key>
      <string>{931,816}</string>
      <key>textureFileName</key>
      <string>monster_0372_0_2.png</string>
    </dict>
  </dict>
</plist>