<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0453_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{114,126}}</string>
        <key>offset</key>
        <string>{-25,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,126}}</string>
        <key>sourceSize</key>
        <string>{114,126}</string>
      </dict>
      <key>monster_0453_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,113},{127,118}}</string>
        <key>offset</key>
        <string>{-25,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,118}}</string>
        <key>sourceSize</key>
        <string>{127,118}</string>
      </dict>
      <key>monster_0453_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{132,111}}</string>
        <key>offset</key>
        <string>{-25,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,111}}</string>
        <key>sourceSize</key>
        <string>{132,111}</string>
      </dict>
      <key>monster_0453_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{127,115}}</string>
        <key>offset</key>
        <string>{-16,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,115}}</string>
        <key>sourceSize</key>
        <string>{127,115}</string>
      </dict>
      <key>monster_0453_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,261},{121,109}}</string>
        <key>offset</key>
        <string>{-16,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,109}}</string>
        <key>sourceSize</key>
        <string>{121,109}</string>
      </dict>
      <key>monster_0453_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,323},{115,100}}</string>
        <key>offset</key>
        <string>{-15,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,100}}</string>
        <key>sourceSize</key>
        <string>{115,100}</string>
      </dict>
      <key>monster_0453_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,335},{117,108}}</string>
        <key>offset</key>
        <string>{-9,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,108}}</string>
        <key>sourceSize</key>
        <string>{117,108}</string>
      </dict>
      <key>monster_0453_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,445},{99,107}}</string>
        <key>offset</key>
        <string>{-9,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,107}}</string>
        <key>sourceSize</key>
        <string>{99,107}</string>
      </dict>
      <key>monster_0453_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,472},{91,99}}</string>
        <key>offset</key>
        <string>{-15,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,99}}</string>
        <key>sourceSize</key>
        <string>{91,99}</string>
      </dict>
      <key>monster_0453_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,521},{103,104}}</string>
        <key>offset</key>
        <string>{-21,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,104}}</string>
        <key>sourceSize</key>
        <string>{103,104}</string>
      </dict>
      <key>monster_0453_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,546},{79,106}}</string>
        <key>offset</key>
        <string>{-16,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,106}}</string>
        <key>sourceSize</key>
        <string>{79,106}</string>
      </dict>
      <key>monster_0453_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,521},{74,104}}</string>
        <key>offset</key>
        <string>{-15,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,104}}</string>
        <key>sourceSize</key>
        <string>{74,104}</string>
      </dict>
      <key>monster_0453_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,521},{98,101}}</string>
        <key>offset</key>
        <string>{-26,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,101}}</string>
        <key>sourceSize</key>
        <string>{98,101}</string>
      </dict>
      <key>monster_0453_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,425},{94,105}}</string>
        <key>offset</key>
        <string>{-25,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,105}}</string>
        <key>sourceSize</key>
        <string>{94,105}</string>
      </dict>
      <key>monster_0453_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,386},{93,109}}</string>
        <key>offset</key>
        <string>{-25,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,109}}</string>
        <key>sourceSize</key>
        <string>{93,109}</string>
      </dict>
      <key>monster_0453_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,372},{98,107}}</string>
        <key>offset</key>
        <string>{-26,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,107}}</string>
        <key>sourceSize</key>
        <string>{98,107}</string>
      </dict>
      <key>monster_0453_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,288},{96,118}}</string>
        <key>offset</key>
        <string>{-18,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,118}}</string>
        <key>sourceSize</key>
        <string>{96,118}</string>
      </dict>
      <key>monster_0453_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,133},{98,126}}</string>
        <key>offset</key>
        <string>{-16,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,126}}</string>
        <key>sourceSize</key>
        <string>{98,126}</string>
      </dict>
      <key>monster_0453_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,233},{88,123}}</string>
        <key>offset</key>
        <string>{-23,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,123}}</string>
        <key>sourceSize</key>
        <string>{88,123}</string>
      </dict>
      <key>monster_0453_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{81,134}}</string>
        <key>offset</key>
        <string>{-6,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,134}}</string>
        <key>sourceSize</key>
        <string>{81,134}</string>
      </dict>
      <key>monster_0453_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100,137}}</string>
        <key>offset</key>
        <string>{-6,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,137}}</string>
        <key>sourceSize</key>
        <string>{100,137}</string>
      </dict>
      <key>monster_0453_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,83},{90,131}}</string>
        <key>offset</key>
        <string>{-16,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,131}}</string>
        <key>sourceSize</key>
        <string>{90,131}</string>
      </dict>
      <key>monster_0453_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{96,131}}</string>
        <key>offset</key>
        <string>{-15,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,131}}</string>
        <key>sourceSize</key>
        <string>{96,131}</string>
      </dict>
      <key>monster_0453_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,175},{111,127}}</string>
        <key>offset</key>
        <string>{-15,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,127}}</string>
        <key>sourceSize</key>
        <string>{111,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0453_0_7.png</string>
      <key>size</key>
      <string>{512,640}</string>
      <key>textureFileName</key>
      <string>monster_0453_0_7.png</string>
    </dict>
  </dict>
</plist>