<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0196_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,753},{103,109}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,109}}</string>
        <key>sourceSize</key>
        <string>{103,109}</string>
      </dict>
      <key>monster_0196_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,683},{152,112}}</string>
        <key>offset</key>
        <string>{-19,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,112}}</string>
        <key>sourceSize</key>
        <string>{152,112}</string>
      </dict>
      <key>monster_0196_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,157},{112,150}}</string>
        <key>offset</key>
        <string>{-24,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,150}}</string>
        <key>sourceSize</key>
        <string>{112,150}</string>
      </dict>
      <key>monster_0196_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,354},{106,166}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,166}}</string>
        <key>sourceSize</key>
        <string>{106,166}</string>
      </dict>
      <key>monster_0196_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,798},{95,136}}</string>
        <key>offset</key>
        <string>{-13,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,136}}</string>
        <key>sourceSize</key>
        <string>{95,136}</string>
      </dict>
      <key>monster_0196_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,627},{85,124}}</string>
        <key>offset</key>
        <string>{-9,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,124}}</string>
        <key>sourceSize</key>
        <string>{85,124}</string>
      </dict>
      <key>monster_0196_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,522},{159,112}}</string>
        <key>offset</key>
        <string>{-32,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,112}}</string>
        <key>sourceSize</key>
        <string>{159,112}</string>
      </dict>
      <key>monster_0196_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,763},{176,106}}</string>
        <key>offset</key>
        <string>{-34,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,106}}</string>
        <key>sourceSize</key>
        <string>{176,106}</string>
      </dict>
      <key>monster_0196_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,583},{178,131}}</string>
        <key>offset</key>
        <string>{-41,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,131}}</string>
        <key>sourceSize</key>
        <string>{178,131}</string>
      </dict>
      <key>monster_0196_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,0},{169,160}}</string>
        <key>offset</key>
        <string>{-37,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,160}}</string>
        <key>sourceSize</key>
        <string>{169,160}</string>
      </dict>
      <key>monster_0196_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,182},{170,119}}</string>
        <key>offset</key>
        <string>{-25,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,119}}</string>
        <key>sourceSize</key>
        <string>{170,119}</string>
      </dict>
      <key>monster_0196_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,617},{186,93}}</string>
        <key>offset</key>
        <string>{-26,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,93}}</string>
        <key>sourceSize</key>
        <string>{186,93}</string>
      </dict>
      <key>monster_0196_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,371},{174,101}}</string>
        <key>offset</key>
        <string>{-39,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,101}}</string>
        <key>sourceSize</key>
        <string>{174,101}</string>
      </dict>
      <key>monster_0196_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,476},{145,121}}</string>
        <key>offset</key>
        <string>{-47,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,121}}</string>
        <key>sourceSize</key>
        <string>{145,121}</string>
      </dict>
      <key>monster_0196_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,626},{191,101}}</string>
        <key>offset</key>
        <string>{-34,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,101}}</string>
        <key>sourceSize</key>
        <string>{191,101}</string>
      </dict>
      <key>monster_0196_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{208,120}}</string>
        <key>offset</key>
        <string>{-30,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,120}}</string>
        <key>sourceSize</key>
        <string>{208,120}</string>
      </dict>
      <key>monster_0196_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{200,91}}</string>
        <key>offset</key>
        <string>{-18,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,91}}</string>
        <key>sourceSize</key>
        <string>{200,91}</string>
      </dict>
      <key>monster_0196_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{207,66}}</string>
        <key>offset</key>
        <string>{-24,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,66}}</string>
        <key>sourceSize</key>
        <string>{207,66}</string>
      </dict>
      <key>monster_0196_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,498},{141,123}}</string>
        <key>offset</key>
        <string>{-47,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,123}}</string>
        <key>sourceSize</key>
        <string>{141,123}</string>
      </dict>
      <key>monster_0196_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,753},{105,122}}</string>
        <key>offset</key>
        <string>{-20,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,122}}</string>
        <key>sourceSize</key>
        <string>{105,122}</string>
      </dict>
      <key>monster_0196_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,547},{169,106}}</string>
        <key>offset</key>
        <string>{-43,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,106}}</string>
        <key>sourceSize</key>
        <string>{169,106}</string>
      </dict>
      <key>monster_0196_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,424},{191,93}}</string>
        <key>offset</key>
        <string>{-24,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,93}}</string>
        <key>sourceSize</key>
        <string>{191,93}</string>
      </dict>
      <key>monster_0196_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,171},{165,113}}</string>
        <key>offset</key>
        <string>{-19,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,113}}</string>
        <key>sourceSize</key>
        <string>{165,113}</string>
      </dict>
      <key>monster_0196_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,381},{145,115}}</string>
        <key>offset</key>
        <string>{-19,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,115}}</string>
        <key>sourceSize</key>
        <string>{145,115}</string>
      </dict>
      <key>monster_0196_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,623},{107,132}}</string>
        <key>offset</key>
        <string>{-18,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,132}}</string>
        <key>sourceSize</key>
        <string>{107,132}</string>
      </dict>
      <key>monster_0196_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,0},{148,106}}</string>
        <key>offset</key>
        <string>{-64,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,106}}</string>
        <key>sourceSize</key>
        <string>{148,106}</string>
      </dict>
      <key>monster_0196_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,381},{112,115}}</string>
        <key>offset</key>
        <string>{-26,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,115}}</string>
        <key>sourceSize</key>
        <string>{112,115}</string>
      </dict>
      <key>monster_0196_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,757},{124,116}}</string>
        <key>offset</key>
        <string>{-25,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,116}}</string>
        <key>sourceSize</key>
        <string>{124,116}</string>
      </dict>
      <key>monster_0196_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,623},{100,125}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,125}}</string>
        <key>sourceSize</key>
        <string>{100,125}</string>
      </dict>
      <key>monster_0196_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,498},{90,127}}</string>
        <key>offset</key>
        <string>{-19,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,127}}</string>
        <key>sourceSize</key>
        <string>{90,127}</string>
      </dict>
      <key>monster_0196_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,323},{151,112}}</string>
        <key>offset</key>
        <string>{-59,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,112}}</string>
        <key>sourceSize</key>
        <string>{151,112}</string>
      </dict>
      <key>monster_0196_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,189},{180,110}}</string>
        <key>offset</key>
        <string>{-74,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,110}}</string>
        <key>sourceSize</key>
        <string>{180,110}</string>
      </dict>
      <key>monster_0196_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,338},{156,103}}</string>
        <key>offset</key>
        <string>{-58,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,103}}</string>
        <key>sourceSize</key>
        <string>{156,103}</string>
      </dict>
      <key>monster_0196_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,650},{146,112}}</string>
        <key>offset</key>
        <string>{-47,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,112}}</string>
        <key>sourceSize</key>
        <string>{146,112}</string>
      </dict>
      <key>monster_0196_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,0},{155,104}}</string>
        <key>offset</key>
        <string>{-74,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,104}}</string>
        <key>sourceSize</key>
        <string>{155,104}</string>
      </dict>
      <key>monster_0196_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,209},{188,93}}</string>
        <key>offset</key>
        <string>{-102,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,93}}</string>
        <key>sourceSize</key>
        <string>{188,93}</string>
      </dict>
      <key>monster_0196_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{180,110}}</string>
        <key>offset</key>
        <string>{-68,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,110}}</string>
        <key>sourceSize</key>
        <string>{180,110}</string>
      </dict>
      <key>monster_0196_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,0},{148,120}}</string>
        <key>offset</key>
        <string>{-29,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,120}}</string>
        <key>sourceSize</key>
        <string>{148,120}</string>
      </dict>
      <key>monster_0196_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,718},{168,112}}</string>
        <key>offset</key>
        <string>{-77,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,112}}</string>
        <key>sourceSize</key>
        <string>{168,112}</string>
      </dict>
      <key>monster_0196_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,399},{182,103}}</string>
        <key>offset</key>
        <string>{-90,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,103}}</string>
        <key>sourceSize</key>
        <string>{182,103}</string>
      </dict>
      <key>monster_0196_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{187,97}}</string>
        <key>offset</key>
        <string>{-111,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,97}}</string>
        <key>sourceSize</key>
        <string>{187,97}</string>
      </dict>
      <key>monster_0196_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,64}}</string>
        <key>offset</key>
        <string>{-126,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,64}}</string>
        <key>sourceSize</key>
        <string>{212,64}</string>
      </dict>
      <key>monster_0196_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,122},{148,113}}</string>
        <key>offset</key>
        <string>{-27,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,113}}</string>
        <key>sourceSize</key>
        <string>{148,113}</string>
      </dict>
      <key>monster_0196_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,237},{104,118}}</string>
        <key>offset</key>
        <string>{-11,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,118}}</string>
        <key>sourceSize</key>
        <string>{104,118}</string>
      </dict>
      <key>monster_0196_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,237},{147,142}}</string>
        <key>offset</key>
        <string>{-43,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,142}}</string>
        <key>sourceSize</key>
        <string>{147,142}</string>
      </dict>
      <key>monster_0196_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,0},{163,144}}</string>
        <key>offset</key>
        <string>{-76,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,144}}</string>
        <key>sourceSize</key>
        <string>{163,144}</string>
      </dict>
      <key>monster_0196_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,165},{156,124}}</string>
        <key>offset</key>
        <string>{-74,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,124}}</string>
        <key>sourceSize</key>
        <string>{156,124}</string>
      </dict>
      <key>monster_0196_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,496},{152,111}}</string>
        <key>offset</key>
        <string>{-69,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,111}}</string>
        <key>sourceSize</key>
        <string>{152,111}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0196_0_4.png</string>
      <key>size</key>
      <string>{1076,897}</string>
      <key>textureFileName</key>
      <string>monster_0196_0_4.png</string>
    </dict>
  </dict>
</plist>