<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1004_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,449},{90,99}}</string>
        <key>offset</key>
        <string>{-8,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,99}}</string>
        <key>sourceSize</key>
        <string>{90,99}</string>
      </dict>
      <key>monster_1004_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,689},{75,115}}</string>
        <key>offset</key>
        <string>{0,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,115}}</string>
        <key>sourceSize</key>
        <string>{75,115}</string>
      </dict>
      <key>monster_1004_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,519},{115,108}}</string>
        <key>offset</key>
        <string>{-7,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,108}}</string>
        <key>sourceSize</key>
        <string>{115,108}</string>
      </dict>
      <key>monster_1004_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{67,129}}</string>
        <key>offset</key>
        <string>{-2,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,129}}</string>
        <key>sourceSize</key>
        <string>{67,129}</string>
      </dict>
      <key>monster_1004_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,541},{77,98}}</string>
        <key>offset</key>
        <string>{-4,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,98}}</string>
        <key>sourceSize</key>
        <string>{77,98}</string>
      </dict>
      <key>monster_1004_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,290},{85,95}}</string>
        <key>offset</key>
        <string>{-4,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,95}}</string>
        <key>sourceSize</key>
        <string>{85,95}</string>
      </dict>
      <key>monster_1004_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,651},{103,104}}</string>
        <key>offset</key>
        <string>{-7,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,104}}</string>
        <key>sourceSize</key>
        <string>{103,104}</string>
      </dict>
      <key>monster_1004_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,121},{84,117}}</string>
        <key>offset</key>
        <string>{-6,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,117}}</string>
        <key>sourceSize</key>
        <string>{84,117}</string>
      </dict>
      <key>monster_1004_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,0},{101,104}}</string>
        <key>offset</key>
        <string>{-9,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,104}}</string>
        <key>sourceSize</key>
        <string>{101,104}</string>
      </dict>
      <key>monster_1004_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,273},{122,118}}</string>
        <key>offset</key>
        <string>{7,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,118}}</string>
        <key>sourceSize</key>
        <string>{122,118}</string>
      </dict>
      <key>monster_1004_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,189},{101,99}}</string>
        <key>offset</key>
        <string>{6,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,99}}</string>
        <key>sourceSize</key>
        <string>{101,99}</string>
      </dict>
      <key>monster_1004_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,493},{114,96}}</string>
        <key>offset</key>
        <string>{-3,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,96}}</string>
        <key>sourceSize</key>
        <string>{114,96}</string>
      </dict>
      <key>monster_1004_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,609},{108,99}}</string>
        <key>offset</key>
        <string>{-6,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,99}}</string>
        <key>sourceSize</key>
        <string>{108,99}</string>
      </dict>
      <key>monster_1004_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,130},{110,122}}</string>
        <key>offset</key>
        <string>{-23,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,122}}</string>
        <key>sourceSize</key>
        <string>{110,122}</string>
      </dict>
      <key>monster_1004_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,636},{89,115}}</string>
        <key>offset</key>
        <string>{-19,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,115}}</string>
        <key>sourceSize</key>
        <string>{89,115}</string>
      </dict>
      <key>monster_1004_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{157,97}}</string>
        <key>offset</key>
        <string>{6,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,97}}</string>
        <key>sourceSize</key>
        <string>{157,97}</string>
      </dict>
      <key>monster_1004_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,311},{144,94}}</string>
        <key>offset</key>
        <string>{2,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,94}}</string>
        <key>sourceSize</key>
        <string>{144,94}</string>
      </dict>
      <key>monster_1004_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,440},{125,90}}</string>
        <key>offset</key>
        <string>{6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,90}}</string>
        <key>sourceSize</key>
        <string>{125,90}</string>
      </dict>
      <key>monster_1004_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,341},{91,106}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,106}}</string>
        <key>sourceSize</key>
        <string>{91,106}</string>
      </dict>
      <key>monster_1004_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,123},{103,119}}</string>
        <key>offset</key>
        <string>{-13,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,119}}</string>
        <key>sourceSize</key>
        <string>{103,119}</string>
      </dict>
      <key>monster_1004_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{90,128}}</string>
        <key>offset</key>
        <string>{-10,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,128}}</string>
        <key>sourceSize</key>
        <string>{90,128}</string>
      </dict>
      <key>monster_1004_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,305},{133,108}}</string>
        <key>offset</key>
        <string>{4,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,108}}</string>
        <key>sourceSize</key>
        <string>{133,108}</string>
      </dict>
      <key>monster_1004_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,231},{117,108}}</string>
        <key>offset</key>
        <string>{3,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,108}}</string>
        <key>sourceSize</key>
        <string>{117,108}</string>
      </dict>
      <key>monster_1004_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,469},{97,108}}</string>
        <key>offset</key>
        <string>{1,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,108}}</string>
        <key>sourceSize</key>
        <string>{97,108}</string>
      </dict>
      <key>monster_1004_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,341},{92,107}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,107}}</string>
        <key>sourceSize</key>
        <string>{92,107}</string>
      </dict>
      <key>monster_1004_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,397},{87,120}}</string>
        <key>offset</key>
        <string>{-3,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,120}}</string>
        <key>sourceSize</key>
        <string>{87,120}</string>
      </dict>
      <key>monster_1004_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,457},{99,135}}</string>
        <key>offset</key>
        <string>{-16,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,135}}</string>
        <key>sourceSize</key>
        <string>{99,135}</string>
      </dict>
      <key>monster_1004_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,567},{75,124}}</string>
        <key>offset</key>
        <string>{-1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,124}}</string>
        <key>sourceSize</key>
        <string>{75,124}</string>
      </dict>
      <key>monster_1004_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,440},{70,124}}</string>
        <key>offset</key>
        <string>{1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,124}}</string>
        <key>sourceSize</key>
        <string>{70,124}</string>
      </dict>
      <key>monster_1004_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,609},{77,112}}</string>
        <key>offset</key>
        <string>{-2,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,112}}</string>
        <key>sourceSize</key>
        <string>{77,112}</string>
      </dict>
      <key>monster_1004_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,553},{105,96}}</string>
        <key>offset</key>
        <string>{-33,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,96}}</string>
        <key>sourceSize</key>
        <string>{105,96}</string>
      </dict>
      <key>monster_1004_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,254},{107,120}}</string>
        <key>offset</key>
        <string>{-10,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,120}}</string>
        <key>sourceSize</key>
        <string>{107,120}</string>
      </dict>
      <key>monster_1004_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{111,139}}</string>
        <key>offset</key>
        <string>{-2,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,139}}</string>
        <key>sourceSize</key>
        <string>{111,139}</string>
      </dict>
      <key>monster_1004_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,244},{117,108}}</string>
        <key>offset</key>
        <string>{-50,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,108}}</string>
        <key>sourceSize</key>
        <string>{117,108}</string>
      </dict>
      <key>monster_1004_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,354},{112,113}}</string>
        <key>offset</key>
        <string>{-48,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,113}}</string>
        <key>sourceSize</key>
        <string>{112,113}</string>
      </dict>
      <key>monster_1004_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{121,100}}</string>
        <key>offset</key>
        <string>{-49,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,100}}</string>
        <key>sourceSize</key>
        <string>{121,100}</string>
      </dict>
      <key>monster_1004_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,450},{106,101}}</string>
        <key>offset</key>
        <string>{-39,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,101}}</string>
        <key>sourceSize</key>
        <string>{106,101}</string>
      </dict>
      <key>monster_1004_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,0},{119,114}}</string>
        <key>offset</key>
        <string>{-7,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,114}}</string>
        <key>sourceSize</key>
        <string>{119,114}</string>
      </dict>
      <key>monster_1004_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,594},{118,128}}</string>
        <key>offset</key>
        <string>{1,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,128}}</string>
        <key>sourceSize</key>
        <string>{118,128}</string>
      </dict>
      <key>monster_1004_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,159},{144,91}}</string>
        <key>offset</key>
        <string>{-84,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,91}}</string>
        <key>sourceSize</key>
        <string>{144,91}</string>
      </dict>
      <key>monster_1004_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{150,91}}</string>
        <key>offset</key>
        <string>{-86,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,91}}</string>
        <key>sourceSize</key>
        <string>{150,91}</string>
      </dict>
      <key>monster_1004_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,141},{130,95}}</string>
        <key>offset</key>
        <string>{-69,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,95}}</string>
        <key>sourceSize</key>
        <string>{130,95}</string>
      </dict>
      <key>monster_1004_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,103},{84,103}}</string>
        <key>offset</key>
        <string>{-8,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,103}}</string>
        <key>sourceSize</key>
        <string>{84,103}</string>
      </dict>
      <key>monster_1004_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,376},{106,115}}</string>
        <key>offset</key>
        <string>{-4,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,115}}</string>
        <key>sourceSize</key>
        <string>{106,115}</string>
      </dict>
      <key>monster_1004_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,0},{119,115}}</string>
        <key>offset</key>
        <string>{-5,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,115}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>monster_1004_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,117},{118,112}}</string>
        <key>offset</key>
        <string>{-56,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,112}}</string>
        <key>sourceSize</key>
        <string>{118,112}</string>
      </dict>
      <key>monster_1004_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,566},{121,94}}</string>
        <key>offset</key>
        <string>{-61,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,94}}</string>
        <key>sourceSize</key>
        <string>{121,94}</string>
      </dict>
      <key>monster_1004_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,620},{98,95}}</string>
        <key>offset</key>
        <string>{-36,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,95}}</string>
        <key>sourceSize</key>
        <string>{98,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1004_0_2.png</string>
      <key>size</key>
      <string>{860,770}</string>
      <key>textureFileName</key>
      <string>monster_1004_0_2.png</string>
    </dict>
  </dict>
</plist>