<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0170_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,90},{54,87}}</string>
        <key>offset</key>
        <string>{2,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,87}}</string>
        <key>sourceSize</key>
        <string>{54,87}</string>
      </dict>
      <key>monster_0170_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,93},{53,88}}</string>
        <key>offset</key>
        <string>{2,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,88}}</string>
        <key>sourceSize</key>
        <string>{53,88}</string>
      </dict>
      <key>monster_0170_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,179},{50,87}}</string>
        <key>offset</key>
        <string>{2,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,87}}</string>
        <key>sourceSize</key>
        <string>{50,87}</string>
      </dict>
      <key>monster_0170_0_7_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,382},{53,86}}</string>
        <key>offset</key>
        <string>{2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,86}}</string>
        <key>sourceSize</key>
        <string>{53,86}</string>
      </dict>
      <key>monster_0170_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,309},{93,76}}</string>
        <key>offset</key>
        <string>{-22,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,76}}</string>
        <key>sourceSize</key>
        <string>{93,76}</string>
      </dict>
      <key>monster_0170_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{97,77}}</string>
        <key>offset</key>
        <string>{-22,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,77}}</string>
        <key>sourceSize</key>
        <string>{97,77}</string>
      </dict>
      <key>monster_0170_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,213},{94,73}}</string>
        <key>offset</key>
        <string>{-26,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,73}}</string>
        <key>sourceSize</key>
        <string>{94,73}</string>
      </dict>
      <key>monster_0170_0_7_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,331},{95,72}}</string>
        <key>offset</key>
        <string>{-25,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,72}}</string>
        <key>sourceSize</key>
        <string>{95,72}</string>
      </dict>
      <key>monster_0170_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{116,66}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,66}}</string>
        <key>sourceSize</key>
        <string>{116,66}</string>
      </dict>
      <key>monster_0170_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{118,66}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,66}}</string>
        <key>sourceSize</key>
        <string>{118,66}</string>
      </dict>
      <key>monster_0170_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{113,64}}</string>
        <key>offset</key>
        <string>{-39,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,64}}</string>
        <key>sourceSize</key>
        <string>{113,64}</string>
      </dict>
      <key>monster_0170_0_7_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,362},{116,65}}</string>
        <key>offset</key>
        <string>{-38,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,65}}</string>
        <key>sourceSize</key>
        <string>{116,65}</string>
      </dict>
      <key>monster_0170_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,96},{91,77}}</string>
        <key>offset</key>
        <string>{-19,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,77}}</string>
        <key>sourceSize</key>
        <string>{91,77}</string>
      </dict>
      <key>monster_0170_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,428},{95,77}}</string>
        <key>offset</key>
        <string>{-19,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,77}}</string>
        <key>sourceSize</key>
        <string>{95,77}</string>
      </dict>
      <key>monster_0170_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,382},{86,81}}</string>
        <key>offset</key>
        <string>{-21,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,81}}</string>
        <key>sourceSize</key>
        <string>{86,81}</string>
      </dict>
      <key>monster_0170_0_7_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,189},{89,81}}</string>
        <key>offset</key>
        <string>{-21,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,81}}</string>
        <key>sourceSize</key>
        <string>{89,81}</string>
      </dict>
      <key>monster_0170_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,323},{54,83}}</string>
        <key>offset</key>
        <string>{3,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,83}}</string>
        <key>sourceSize</key>
        <string>{54,83}</string>
      </dict>
      <key>monster_0170_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,323},{55,84}}</string>
        <key>offset</key>
        <string>{3,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,84}}</string>
        <key>sourceSize</key>
        <string>{55,84}</string>
      </dict>
      <key>monster_0170_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,268},{53,87}}</string>
        <key>offset</key>
        <string>{3,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,87}}</string>
        <key>sourceSize</key>
        <string>{53,87}</string>
      </dict>
      <key>monster_0170_0_7_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,0},{54,88}}</string>
        <key>offset</key>
        <string>{3,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,88}}</string>
        <key>sourceSize</key>
        <string>{54,88}</string>
      </dict>
      <key>monster_0170_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,99},{94,75}}</string>
        <key>offset</key>
        <string>{-11,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,75}}</string>
        <key>sourceSize</key>
        <string>{94,75}</string>
      </dict>
      <key>monster_0170_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,0},{94,75}}</string>
        <key>offset</key>
        <string>{-11,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,75}}</string>
        <key>sourceSize</key>
        <string>{94,75}</string>
      </dict>
      <key>monster_0170_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,230},{99,78}}</string>
        <key>offset</key>
        <string>{-11,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,78}}</string>
        <key>sourceSize</key>
        <string>{99,78}</string>
      </dict>
      <key>monster_0170_0_7_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,113},{98,79}}</string>
        <key>offset</key>
        <string>{-11,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,79}}</string>
        <key>sourceSize</key>
        <string>{98,79}</string>
      </dict>
      <key>monster_0170_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{118,67}}</string>
        <key>offset</key>
        <string>{-20,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,67}}</string>
        <key>sourceSize</key>
        <string>{118,67}</string>
      </dict>
      <key>monster_0170_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{120,66}}</string>
        <key>offset</key>
        <string>{-23,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,66}}</string>
        <key>sourceSize</key>
        <string>{120,66}</string>
      </dict>
      <key>monster_0170_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{111,63}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,63}}</string>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
      <key>monster_0170_0_7_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,115},{113,66}}</string>
        <key>offset</key>
        <string>{-11,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,66}}</string>
        <key>sourceSize</key>
        <string>{113,66}</string>
      </dict>
      <key>monster_0170_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,0},{91,78}}</string>
        <key>offset</key>
        <string>{-10,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,78}}</string>
        <key>sourceSize</key>
        <string>{91,78}</string>
      </dict>
      <key>monster_0170_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,290},{90,79}}</string>
        <key>offset</key>
        <string>{-10,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,79}}</string>
        <key>sourceSize</key>
        <string>{90,79}</string>
      </dict>
      <key>monster_0170_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,404},{93,78}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,78}}</string>
        <key>sourceSize</key>
        <string>{93,78}</string>
      </dict>
      <key>monster_0170_0_7_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,195},{93,76}}</string>
        <key>offset</key>
        <string>{-10,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,76}}</string>
        <key>sourceSize</key>
        <string>{93,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0170_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_0170_0_7.png</string>
    </dict>
  </dict>
</plist>