<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1006_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1195,1378},{328,266}}</string>
        <key>offset</key>
        <string>{-124,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,266}}</string>
        <key>sourceSize</key>
        <string>{328,266}</string>
      </dict>
      <key>monster_1006_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,864},{239,387}}</string>
        <key>offset</key>
        <string>{-70,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,387}}</string>
        <key>sourceSize</key>
        <string>{239,387}</string>
      </dict>
      <key>monster_1006_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,0},{360,400}}</string>
        <key>offset</key>
        <string>{-61,328}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,400}}</string>
        <key>sourceSize</key>
        <string>{360,400}</string>
      </dict>
      <key>monster_1006_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1195,954},{218,339}}</string>
        <key>offset</key>
        <string>{-57,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,339}}</string>
        <key>sourceSize</key>
        <string>{218,339}</string>
      </dict>
      <key>monster_1006_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1195,1174},{202,333}}</string>
        <key>offset</key>
        <string>{-48,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,333}}</string>
        <key>sourceSize</key>
        <string>{202,333}</string>
      </dict>
      <key>monster_1006_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1333,0},{274,303}}</string>
        <key>offset</key>
        <string>{-79,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,303}}</string>
        <key>sourceSize</key>
        <string>{274,303}</string>
      </dict>
      <key>monster_1006_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,864},{366,253}}</string>
        <key>offset</key>
        <string>{-203,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,253}}</string>
        <key>sourceSize</key>
        <string>{366,253}</string>
      </dict>
      <key>monster_1006_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,0},{273,395}}</string>
        <key>offset</key>
        <string>{-64,321}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,395}}</string>
        <key>sourceSize</key>
        <string>{273,395}</string>
      </dict>
      <key>monster_1006_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{473,319}}</string>
        <key>offset</key>
        <string>{-73,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{473,319}}</string>
        <key>sourceSize</key>
        <string>{473,319}</string>
      </dict>
      <key>monster_1006_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{441,251}}</string>
        <key>offset</key>
        <string>{-246,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,251}}</string>
        <key>sourceSize</key>
        <string>{441,251}</string>
      </dict>
      <key>monster_1006_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,1232},{354,296}}</string>
        <key>offset</key>
        <string>{-161,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,296}}</string>
        <key>sourceSize</key>
        <string>{354,296}</string>
      </dict>
      <key>monster_1006_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,930},{433,234}}</string>
        <key>offset</key>
        <string>{-236,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,234}}</string>
        <key>sourceSize</key>
        <string>{433,234}</string>
      </dict>
      <key>monster_1006_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1411},{311,243}}</string>
        <key>offset</key>
        <string>{-159,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,243}}</string>
        <key>sourceSize</key>
        <string>{311,243}</string>
      </dict>
      <key>monster_1006_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,592},{360,366}}</string>
        <key>offset</key>
        <string>{-95,298}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,366}}</string>
        <key>sourceSize</key>
        <string>{360,366}</string>
      </dict>
      <key>monster_1006_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,475},{453,225}}</string>
        <key>offset</key>
        <string>{-88,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,225}}</string>
        <key>sourceSize</key>
        <string>{453,225}</string>
      </dict>
      <key>monster_1006_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,475},{470,211}}</string>
        <key>offset</key>
        <string>{-285,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,211}}</string>
        <key>sourceSize</key>
        <string>{470,211}</string>
      </dict>
      <key>monster_1006_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,947},{462,213}}</string>
        <key>offset</key>
        <string>{-278,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,213}}</string>
        <key>sourceSize</key>
        <string>{462,213}</string>
      </dict>
      <key>monster_1006_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,443},{419,254}}</string>
        <key>offset</key>
        <string>{-249,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,254}}</string>
        <key>sourceSize</key>
        <string>{419,254}</string>
      </dict>
      <key>monster_1006_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,402},{275,225}}</string>
        <key>offset</key>
        <string>{-106,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,225}}</string>
        <key>sourceSize</key>
        <string>{275,225}</string>
      </dict>
      <key>monster_1006_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,275},{388,315}}</string>
        <key>offset</key>
        <string>{-101,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,315}}</string>
        <key>sourceSize</key>
        <string>{388,315}</string>
      </dict>
      <key>monster_1006_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1326,276},{301,274}}</string>
        <key>offset</key>
        <string>{-88,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,274}}</string>
        <key>sourceSize</key>
        <string>{301,274}</string>
      </dict>
      <key>monster_1006_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,1530},{307,254}}</string>
        <key>offset</key>
        <string>{-156,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,254}}</string>
        <key>sourceSize</key>
        <string>{307,254}</string>
      </dict>
      <key>monster_1006_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,1253},{386,242}}</string>
        <key>offset</key>
        <string>{-228,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,242}}</string>
        <key>sourceSize</key>
        <string>{386,242}</string>
      </dict>
      <key>monster_1006_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,1530},{258,275}}</string>
        <key>offset</key>
        <string>{-109,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,275}}</string>
        <key>sourceSize</key>
        <string>{258,275}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1006_0_2_1.png</string>
      <key>size</key>
      <string>{1675,1797}</string>
      <key>textureFileName</key>
      <string>monster_1006_0_2_1.png</string>
    </dict>
  </dict>
</plist>