<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0024_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,209},{27,46}}</string>
        <key>offset</key>
        <string>{12,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,46}}</string>
        <key>sourceSize</key>
        <string>{27,46}</string>
      </dict>
      <key>monster_0024_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{29,45}}</string>
        <key>offset</key>
        <string>{12,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,45}}</string>
        <key>sourceSize</key>
        <string>{29,45}</string>
      </dict>
      <key>monster_0024_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,179},{28,51}}</string>
        <key>offset</key>
        <string>{12,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,51}}</string>
        <key>sourceSize</key>
        <string>{28,51}</string>
      </dict>
      <key>monster_0024_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,179},{27,48}}</string>
        <key>offset</key>
        <string>{12,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,48}}</string>
        <key>sourceSize</key>
        <string>{27,48}</string>
      </dict>
      <key>monster_0024_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{56,38}}</string>
        <key>offset</key>
        <string>{1,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,38}}</string>
        <key>sourceSize</key>
        <string>{56,38}</string>
      </dict>
      <key>monster_0024_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,102},{54,38}}</string>
        <key>offset</key>
        <string>{1,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,38}}</string>
        <key>sourceSize</key>
        <string>{54,38}</string>
      </dict>
      <key>monster_0024_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,147},{59,43}}</string>
        <key>offset</key>
        <string>{3,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,43}}</string>
        <key>sourceSize</key>
        <string>{59,43}</string>
      </dict>
      <key>monster_0024_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,71},{58,39}}</string>
        <key>offset</key>
        <string>{1,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,39}}</string>
        <key>sourceSize</key>
        <string>{58,39}</string>
      </dict>
      <key>monster_0024_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,0},{73,23}}</string>
        <key>offset</key>
        <string>{-8,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,23}}</string>
        <key>sourceSize</key>
        <string>{73,23}</string>
      </dict>
      <key>monster_0024_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,0},{69,26}}</string>
        <key>offset</key>
        <string>{-7,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,26}}</string>
        <key>sourceSize</key>
        <string>{69,26}</string>
      </dict>
      <key>monster_0024_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,25}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,25}}</string>
        <key>sourceSize</key>
        <string>{78,25}</string>
      </dict>
      <key>monster_0024_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,80},{76,23}}</string>
        <key>offset</key>
        <string>{-6,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,23}}</string>
        <key>sourceSize</key>
        <string>{76,23}</string>
      </dict>
      <key>monster_0024_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,131},{56,35}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,35}}</string>
        <key>sourceSize</key>
        <string>{56,35}</string>
      </dict>
      <key>monster_0024_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,174},{54,35}}</string>
        <key>offset</key>
        <string>{1,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,35}}</string>
        <key>sourceSize</key>
        <string>{54,35}</string>
      </dict>
      <key>monster_0024_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,208},{59,34}}</string>
        <key>offset</key>
        <string>{3,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,34}}</string>
        <key>sourceSize</key>
        <string>{59,34}</string>
      </dict>
      <key>monster_0024_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{58,35}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,35}}</string>
        <key>sourceSize</key>
        <string>{58,35}</string>
      </dict>
      <key>monster_0024_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,229},{27,45}}</string>
        <key>offset</key>
        <string>{12,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,45}}</string>
        <key>sourceSize</key>
        <string>{27,45}</string>
      </dict>
      <key>monster_0024_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,47},{29,44}}</string>
        <key>offset</key>
        <string>{12,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,44}}</string>
        <key>sourceSize</key>
        <string>{29,44}</string>
      </dict>
      <key>monster_0024_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,142},{28,43}}</string>
        <key>offset</key>
        <string>{12,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,43}}</string>
        <key>sourceSize</key>
        <string>{28,43}</string>
      </dict>
      <key>monster_0024_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{28,45}}</string>
        <key>offset</key>
        <string>{12,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,45}}</string>
        <key>sourceSize</key>
        <string>{28,45}</string>
      </dict>
      <key>monster_0024_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,189},{56,35}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,35}}</string>
        <key>sourceSize</key>
        <string>{56,35}</string>
      </dict>
      <key>monster_0024_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,142},{54,35}}</string>
        <key>offset</key>
        <string>{-3,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,35}}</string>
        <key>sourceSize</key>
        <string>{54,35}</string>
      </dict>
      <key>monster_0024_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{55,34}}</string>
        <key>offset</key>
        <string>{-8,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,34}}</string>
        <key>sourceSize</key>
        <string>{55,34}</string>
      </dict>
      <key>monster_0024_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,58},{56,35}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,35}}</string>
        <key>sourceSize</key>
        <string>{56,35}</string>
      </dict>
      <key>monster_0024_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,156},{73,23}}</string>
        <key>offset</key>
        <string>{-15,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,23}}</string>
        <key>sourceSize</key>
        <string>{73,23}</string>
      </dict>
      <key>monster_0024_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,75},{70,26}}</string>
        <key>offset</key>
        <string>{-11,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,26}}</string>
        <key>sourceSize</key>
        <string>{70,26}</string>
      </dict>
      <key>monster_0024_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{75,25}}</string>
        <key>offset</key>
        <string>{-21,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,25}}</string>
        <key>sourceSize</key>
        <string>{75,25}</string>
      </dict>
      <key>monster_0024_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,80},{74,23}}</string>
        <key>offset</key>
        <string>{-18,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,23}}</string>
        <key>sourceSize</key>
        <string>{74,23}</string>
      </dict>
      <key>monster_0024_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,116},{56,37}}</string>
        <key>offset</key>
        <string>{-5,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,37}}</string>
        <key>sourceSize</key>
        <string>{56,37}</string>
      </dict>
      <key>monster_0024_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{55,38}}</string>
        <key>offset</key>
        <string>{-4,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,38}}</string>
        <key>sourceSize</key>
        <string>{55,38}</string>
      </dict>
      <key>monster_0024_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,57},{55,43}}</string>
        <key>offset</key>
        <string>{-8,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,43}}</string>
        <key>sourceSize</key>
        <string>{55,43}</string>
      </dict>
      <key>monster_0024_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,58},{56,39}}</string>
        <key>offset</key>
        <string>{-7,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,39}}</string>
        <key>sourceSize</key>
        <string>{56,39}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0024_0_2.png</string>
      <key>size</key>
      <string>{296,259}</string>
      <key>textureFileName</key>
      <string>monster_0024_0_2.png</string>
    </dict>
  </dict>
</plist>