<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0111_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,137},{64,59}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,59}}</string>
        <key>sourceSize</key>
        <string>{64,59}</string>
      </dict>
      <key>monster_0111_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,205},{64,65}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,65}}</string>
        <key>sourceSize</key>
        <string>{64,65}</string>
      </dict>
      <key>monster_0111_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,176},{74,63}}</string>
        <key>offset</key>
        <string>{-1,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,63}}</string>
        <key>sourceSize</key>
        <string>{74,63}</string>
      </dict>
      <key>monster_0111_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{71,64}}</string>
        <key>offset</key>
        <string>{7,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,64}}</string>
        <key>sourceSize</key>
        <string>{71,64}</string>
      </dict>
      <key>monster_0111_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,73},{57,65}}</string>
        <key>offset</key>
        <string>{6,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,65}}</string>
        <key>sourceSize</key>
        <string>{57,65}</string>
      </dict>
      <key>monster_0111_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,324},{56,69}}</string>
        <key>offset</key>
        <string>{10,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>monster_0111_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,137},{64,66}}</string>
        <key>offset</key>
        <string>{11,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,66}}</string>
        <key>sourceSize</key>
        <string>{64,66}</string>
      </dict>
      <key>monster_0111_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,89},{85,67}}</string>
        <key>offset</key>
        <string>{-11,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,67}}</string>
        <key>sourceSize</key>
        <string>{85,67}</string>
      </dict>
      <key>monster_0111_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,266},{78,75}}</string>
        <key>offset</key>
        <string>{-3,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>monster_0111_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{69,70}}</string>
        <key>offset</key>
        <string>{-2,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>monster_0111_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{86,65}}</string>
        <key>offset</key>
        <string>{-9,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,65}}</string>
        <key>sourceSize</key>
        <string>{86,65}</string>
      </dict>
      <key>monster_0111_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{87,70}}</string>
        <key>offset</key>
        <string>{-6,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>monster_0111_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,227},{67,65}}</string>
        <key>offset</key>
        <string>{-3,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,65}}</string>
        <key>sourceSize</key>
        <string>{67,65}</string>
      </dict>
      <key>monster_0111_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,82},{73,65}}</string>
        <key>offset</key>
        <string>{-8,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,65}}</string>
        <key>sourceSize</key>
        <string>{73,65}</string>
      </dict>
      <key>monster_0111_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{87,60}}</string>
        <key>offset</key>
        <string>{-21,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,60}}</string>
        <key>sourceSize</key>
        <string>{87,60}</string>
      </dict>
      <key>monster_0111_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{79,60}}</string>
        <key>offset</key>
        <string>{-21,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>monster_0111_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,296},{63,67}}</string>
        <key>offset</key>
        <string>{-7,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,67}}</string>
        <key>sourceSize</key>
        <string>{63,67}</string>
      </dict>
      <key>monster_0111_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,71},{70,64}}</string>
        <key>offset</key>
        <string>{-14,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,64}}</string>
        <key>sourceSize</key>
        <string>{70,64}</string>
      </dict>
      <key>monster_0111_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,157},{68,62}}</string>
        <key>offset</key>
        <string>{-17,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,62}}</string>
        <key>sourceSize</key>
        <string>{68,62}</string>
      </dict>
      <key>monster_0111_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{80,59}}</string>
        <key>offset</key>
        <string>{-11,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,59}}</string>
        <key>sourceSize</key>
        <string>{80,59}</string>
      </dict>
      <key>monster_0111_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,252},{70,63}}</string>
        <key>offset</key>
        <string>{-9,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,63}}</string>
        <key>sourceSize</key>
        <string>{70,63}</string>
      </dict>
      <key>monster_0111_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,272},{64,59}}</string>
        <key>offset</key>
        <string>{-2,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,59}}</string>
        <key>sourceSize</key>
        <string>{64,59}</string>
      </dict>
      <key>monster_0111_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{81,57}}</string>
        <key>offset</key>
        <string>{-15,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,57}}</string>
        <key>sourceSize</key>
        <string>{81,57}</string>
      </dict>
      <key>monster_0111_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,176},{77,59}}</string>
        <key>offset</key>
        <string>{-15,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,59}}</string>
        <key>sourceSize</key>
        <string>{77,59}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0111_0_7.png</string>
      <key>size</key>
      <string>{384,384}</string>
      <key>textureFileName</key>
      <string>monster_0111_0_7.png</string>
    </dict>
  </dict>
</plist>