<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0213_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,140},{135,103}}</string>
        <key>offset</key>
        <string>{-38,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,103}}</string>
        <key>sourceSize</key>
        <string>{135,103}</string>
      </dict>
      <key>monster_0213_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,885},{137,103}}</string>
        <key>offset</key>
        <string>{-39,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,103}}</string>
        <key>sourceSize</key>
        <string>{137,103}</string>
      </dict>
      <key>monster_0213_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,150},{138,105}}</string>
        <key>offset</key>
        <string>{-40,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,105}}</string>
        <key>sourceSize</key>
        <string>{138,105}</string>
      </dict>
      <key>monster_0213_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{138,106}}</string>
        <key>offset</key>
        <string>{-41,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,106}}</string>
        <key>sourceSize</key>
        <string>{138,106}</string>
      </dict>
      <key>monster_0213_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,605},{138,106}}</string>
        <key>offset</key>
        <string>{-41,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,106}}</string>
        <key>sourceSize</key>
        <string>{138,106}</string>
      </dict>
      <key>monster_0213_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,451},{138,106}}</string>
        <key>offset</key>
        <string>{-41,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,106}}</string>
        <key>sourceSize</key>
        <string>{138,106}</string>
      </dict>
      <key>monster_0213_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,745},{138,106}}</string>
        <key>offset</key>
        <string>{-40,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,106}}</string>
        <key>sourceSize</key>
        <string>{138,106}</string>
      </dict>
      <key>monster_0213_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,290},{138,105}}</string>
        <key>offset</key>
        <string>{-40,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,105}}</string>
        <key>sourceSize</key>
        <string>{138,105}</string>
      </dict>
      <key>monster_0213_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,108}}</string>
        <key>offset</key>
        <string>{-39,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,108}}</string>
        <key>sourceSize</key>
        <string>{151,108}</string>
      </dict>
      <key>monster_0213_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{150,109}}</string>
        <key>offset</key>
        <string>{-38,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,109}}</string>
        <key>sourceSize</key>
        <string>{150,109}</string>
      </dict>
      <key>monster_0213_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{148,112}}</string>
        <key>offset</key>
        <string>{-37,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,112}}</string>
        <key>sourceSize</key>
        <string>{148,112}</string>
      </dict>
      <key>monster_0213_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,910},{145,111}}</string>
        <key>offset</key>
        <string>{-36,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,111}}</string>
        <key>sourceSize</key>
        <string>{145,111}</string>
      </dict>
      <key>monster_0213_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,905},{143,111}}</string>
        <key>offset</key>
        <string>{-36,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,111}}</string>
        <key>sourceSize</key>
        <string>{143,111}</string>
      </dict>
      <key>monster_0213_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,758},{145,112}}</string>
        <key>offset</key>
        <string>{-36,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,112}}</string>
        <key>sourceSize</key>
        <string>{145,112}</string>
      </dict>
      <key>monster_0213_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{148,112}}</string>
        <key>offset</key>
        <string>{-37,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,112}}</string>
        <key>sourceSize</key>
        <string>{148,112}</string>
      </dict>
      <key>monster_0213_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,306},{149,109}}</string>
        <key>offset</key>
        <string>{-38,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,109}}</string>
        <key>sourceSize</key>
        <string>{149,109}</string>
      </dict>
      <key>monster_0213_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,130},{121,113}}</string>
        <key>offset</key>
        <string>{-10,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,113}}</string>
        <key>sourceSize</key>
        <string>{121,113}</string>
      </dict>
      <key>monster_0213_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,956},{117,115}}</string>
        <key>offset</key>
        <string>{-8,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,115}}</string>
        <key>sourceSize</key>
        <string>{117,115}</string>
      </dict>
      <key>monster_0213_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,992},{114,115}}</string>
        <key>offset</key>
        <string>{-8,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,115}}</string>
        <key>sourceSize</key>
        <string>{114,115}</string>
      </dict>
      <key>monster_0213_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,366},{118,114}}</string>
        <key>offset</key>
        <string>{-15,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,114}}</string>
        <key>sourceSize</key>
        <string>{118,114}</string>
      </dict>
      <key>monster_0213_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,960},{118,113}}</string>
        <key>offset</key>
        <string>{-17,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,113}}</string>
        <key>sourceSize</key>
        <string>{118,113}</string>
      </dict>
      <key>monster_0213_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1023},{114,114}}</string>
        <key>offset</key>
        <string>{-11,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>monster_0213_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,1018},{116,115}}</string>
        <key>offset</key>
        <string>{-10,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,115}}</string>
        <key>sourceSize</key>
        <string>{116,115}</string>
      </dict>
      <key>monster_0213_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,960},{118,113}}</string>
        <key>offset</key>
        <string>{-9,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,113}}</string>
        <key>sourceSize</key>
        <string>{118,113}</string>
      </dict>
      <key>monster_0213_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,965},{113,118}}</string>
        <key>offset</key>
        <string>{-20,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,118}}</string>
        <key>sourceSize</key>
        <string>{113,118}</string>
      </dict>
      <key>monster_0213_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,363},{115,120}}</string>
        <key>offset</key>
        <string>{-21,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,120}}</string>
        <key>sourceSize</key>
        <string>{115,120}</string>
      </dict>
      <key>monster_0213_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,366},{119,120}}</string>
        <key>offset</key>
        <string>{-24,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,120}}</string>
        <key>sourceSize</key>
        <string>{119,120}</string>
      </dict>
      <key>monster_0213_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,480},{119,120}}</string>
        <key>offset</key>
        <string>{-25,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,120}}</string>
        <key>sourceSize</key>
        <string>{119,120}</string>
      </dict>
      <key>monster_0213_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,245},{121,119}}</string>
        <key>offset</key>
        <string>{-26,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,119}}</string>
        <key>sourceSize</key>
        <string>{121,119}</string>
      </dict>
      <key>monster_0213_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,487},{119,120}}</string>
        <key>offset</key>
        <string>{-25,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,120}}</string>
        <key>sourceSize</key>
        <string>{119,120}</string>
      </dict>
      <key>monster_0213_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,601},{119,120}}</string>
        <key>offset</key>
        <string>{-24,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,120}}</string>
        <key>sourceSize</key>
        <string>{119,120}</string>
      </dict>
      <key>monster_0213_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,840},{114,119}}</string>
        <key>offset</key>
        <string>{-22,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,119}}</string>
        <key>sourceSize</key>
        <string>{114,119}</string>
      </dict>
      <key>monster_0213_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,564},{131,114}}</string>
        <key>offset</key>
        <string>{-27,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,114}}</string>
        <key>sourceSize</key>
        <string>{131,114}</string>
      </dict>
      <key>monster_0213_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,726},{132,115}}</string>
        <key>offset</key>
        <string>{-26,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,115}}</string>
        <key>sourceSize</key>
        <string>{132,115}</string>
      </dict>
      <key>monster_0213_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,140},{133,114}}</string>
        <key>offset</key>
        <string>{-26,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,114}}</string>
        <key>sourceSize</key>
        <string>{133,114}</string>
      </dict>
      <key>monster_0213_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{133,113}}</string>
        <key>offset</key>
        <string>{-25,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,113}}</string>
        <key>sourceSize</key>
        <string>{133,113}</string>
      </dict>
      <key>monster_0213_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,430},{132,111}}</string>
        <key>offset</key>
        <string>{-25,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,111}}</string>
        <key>sourceSize</key>
        <string>{132,111}</string>
      </dict>
      <key>monster_0213_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,0},{133,112}}</string>
        <key>offset</key>
        <string>{-25,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,112}}</string>
        <key>sourceSize</key>
        <string>{133,112}</string>
      </dict>
      <key>monster_0213_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,591},{133,114}}</string>
        <key>offset</key>
        <string>{-26,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,114}}</string>
        <key>sourceSize</key>
        <string>{133,114}</string>
      </dict>
      <key>monster_0213_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,275},{132,114}}</string>
        <key>offset</key>
        <string>{-26,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,114}}</string>
        <key>sourceSize</key>
        <string>{132,114}</string>
      </dict>
      <key>monster_0213_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{151,115}}</string>
        <key>offset</key>
        <string>{-43,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,115}}</string>
        <key>sourceSize</key>
        <string>{151,115}</string>
      </dict>
      <key>monster_0213_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{151,116}}</string>
        <key>offset</key>
        <string>{-43,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,116}}</string>
        <key>sourceSize</key>
        <string>{151,116}</string>
      </dict>
      <key>monster_0213_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,153},{149,119}}</string>
        <key>offset</key>
        <string>{-43,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,119}}</string>
        <key>sourceSize</key>
        <string>{149,119}</string>
      </dict>
      <key>monster_0213_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,610},{146,120}}</string>
        <key>offset</key>
        <string>{-42,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,120}}</string>
        <key>sourceSize</key>
        <string>{146,120}</string>
      </dict>
      <key>monster_0213_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,304},{145,119}}</string>
        <key>offset</key>
        <string>{-42,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,119}}</string>
        <key>sourceSize</key>
        <string>{145,119}</string>
      </dict>
      <key>monster_0213_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,457},{146,120}}</string>
        <key>offset</key>
        <string>{-42,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,120}}</string>
        <key>sourceSize</key>
        <string>{146,120}</string>
      </dict>
      <key>monster_0213_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,760},{148,120}}</string>
        <key>offset</key>
        <string>{-42,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,120}}</string>
        <key>sourceSize</key>
        <string>{148,120}</string>
      </dict>
      <key>monster_0213_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{150,116}}</string>
        <key>offset</key>
        <string>{-43,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,116}}</string>
        <key>sourceSize</key>
        <string>{150,116}</string>
      </dict>
      <key>monster_0213_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,0},{128,128}}</string>
        <key>offset</key>
        <string>{-41,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>monster_0213_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,829},{127,129}}</string>
        <key>offset</key>
        <string>{-40,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,129}}</string>
        <key>sourceSize</key>
        <string>{127,129}</string>
      </dict>
      <key>monster_0213_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,409},{124,130}}</string>
        <key>offset</key>
        <string>{-38,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,130}}</string>
        <key>sourceSize</key>
        <string>{124,130}</string>
      </dict>
      <key>monster_0213_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,860},{121,130}}</string>
        <key>offset</key>
        <string>{-36,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,130}}</string>
        <key>sourceSize</key>
        <string>{121,130}</string>
      </dict>
      <key>monster_0213_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,673},{118,129}}</string>
        <key>offset</key>
        <string>{-35,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,129}}</string>
        <key>sourceSize</key>
        <string>{118,129}</string>
      </dict>
      <key>monster_0213_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,697},{121,130}}</string>
        <key>offset</key>
        <string>{-36,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,130}}</string>
        <key>sourceSize</key>
        <string>{121,130}</string>
      </dict>
      <key>monster_0213_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,541},{124,130}}</string>
        <key>offset</key>
        <string>{-38,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,130}}</string>
        <key>sourceSize</key>
        <string>{124,130}</string>
      </dict>
      <key>monster_0213_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,804},{127,129}}</string>
        <key>offset</key>
        <string>{-40,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,129}}</string>
        <key>sourceSize</key>
        <string>{127,129}</string>
      </dict>
      <key>monster_0213_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,0},{110,122}}</string>
        <key>offset</key>
        <string>{-20,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,122}}</string>
        <key>sourceSize</key>
        <string>{110,122}</string>
      </dict>
      <key>monster_0213_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,124},{113,122}}</string>
        <key>offset</key>
        <string>{-21,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,122}}</string>
        <key>sourceSize</key>
        <string>{113,122}</string>
      </dict>
      <key>monster_0213_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,608},{117,120}}</string>
        <key>offset</key>
        <string>{-24,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,120}}</string>
        <key>sourceSize</key>
        <string>{117,120}</string>
      </dict>
      <key>monster_0213_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,846},{119,117}}</string>
        <key>offset</key>
        <string>{-26,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,117}}</string>
        <key>sourceSize</key>
        <string>{119,117}</string>
      </dict>
      <key>monster_0213_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,722},{120,116}}</string>
        <key>offset</key>
        <string>{-27,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,116}}</string>
        <key>sourceSize</key>
        <string>{120,116}</string>
      </dict>
      <key>monster_0213_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,245},{119,117}}</string>
        <key>offset</key>
        <string>{-26,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,117}}</string>
        <key>sourceSize</key>
        <string>{119,117}</string>
      </dict>
      <key>monster_0213_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,727},{117,120}}</string>
        <key>offset</key>
        <string>{-24,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,120}}</string>
        <key>sourceSize</key>
        <string>{117,120}</string>
      </dict>
      <key>monster_0213_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,248},{113,121}}</string>
        <key>offset</key>
        <string>{-21,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,121}}</string>
        <key>sourceSize</key>
        <string>{113,121}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0213_0_1.png</string>
      <key>size</key>
      <string>{1140,1139}</string>
      <key>textureFileName</key>
      <string>monster_0213_0_1.png</string>
    </dict>
  </dict>
</plist>