<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0030_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,457},{101,105}}</string>
        <key>offset</key>
        <string>{-15,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,105}}</string>
        <key>sourceSize</key>
        <string>{101,105}</string>
      </dict>
      <key>monster_0030_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,337},{90,105}}</string>
        <key>offset</key>
        <string>{-5,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,105}}</string>
        <key>sourceSize</key>
        <string>{90,105}</string>
      </dict>
      <key>monster_0030_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,332},{103,96}}</string>
        <key>offset</key>
        <string>{-20,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,96}}</string>
        <key>sourceSize</key>
        <string>{103,96}</string>
      </dict>
      <key>monster_0030_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,438},{93,87}}</string>
        <key>offset</key>
        <string>{-12,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,87}}</string>
        <key>sourceSize</key>
        <string>{93,87}</string>
      </dict>
      <key>monster_0030_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,101},{97,97}}</string>
        <key>offset</key>
        <string>{-11,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>monster_0030_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,436},{79,71}}</string>
        <key>offset</key>
        <string>{-14,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,71}}</string>
        <key>sourceSize</key>
        <string>{79,71}</string>
      </dict>
      <key>monster_0030_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,234},{110,98}}</string>
        <key>offset</key>
        <string>{-26,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,98}}</string>
        <key>sourceSize</key>
        <string>{110,98}</string>
      </dict>
      <key>monster_0030_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,118},{114,90}}</string>
        <key>offset</key>
        <string>{-24,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,90}}</string>
        <key>sourceSize</key>
        <string>{114,90}</string>
      </dict>
      <key>monster_0030_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,107},{99,93}}</string>
        <key>offset</key>
        <string>{-4,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,93}}</string>
        <key>sourceSize</key>
        <string>{99,93}</string>
      </dict>
      <key>monster_0030_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{116,93}}</string>
        <key>offset</key>
        <string>{-15,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,93}}</string>
        <key>sourceSize</key>
        <string>{116,93}</string>
      </dict>
      <key>monster_0030_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{115,96}}</string>
        <key>offset</key>
        <string>{-11,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,96}}</string>
        <key>sourceSize</key>
        <string>{115,96}</string>
      </dict>
      <key>monster_0030_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,533},{93,67}}</string>
        <key>offset</key>
        <string>{-4,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,67}}</string>
        <key>sourceSize</key>
        <string>{93,67}</string>
      </dict>
      <key>monster_0030_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{113,97}}</string>
        <key>offset</key>
        <string>{-26,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,97}}</string>
        <key>sourceSize</key>
        <string>{113,97}</string>
      </dict>
      <key>monster_0030_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{121,89}}</string>
        <key>offset</key>
        <string>{-29,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,89}}</string>
        <key>sourceSize</key>
        <string>{121,89}</string>
      </dict>
      <key>monster_0030_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,478},{111,87}}</string>
        <key>offset</key>
        <string>{-24,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,87}}</string>
        <key>sourceSize</key>
        <string>{111,87}</string>
      </dict>
      <key>monster_0030_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,216},{101,87}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,87}}</string>
        <key>sourceSize</key>
        <string>{101,87}</string>
      </dict>
      <key>monster_0030_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,225},{105,89}}</string>
        <key>offset</key>
        <string>{4,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,89}}</string>
        <key>sourceSize</key>
        <string>{105,89}</string>
      </dict>
      <key>monster_0030_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{112,56}}</string>
        <key>offset</key>
        <string>{-13,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,56}}</string>
        <key>sourceSize</key>
        <string>{112,56}</string>
      </dict>
      <key>monster_0030_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,632},{88,87}}</string>
        <key>offset</key>
        <string>{-3,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,87}}</string>
        <key>sourceSize</key>
        <string>{88,87}</string>
      </dict>
      <key>monster_0030_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,364},{111,72}}</string>
        <key>offset</key>
        <string>{-19,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,72}}</string>
        <key>sourceSize</key>
        <string>{111,72}</string>
      </dict>
      <key>monster_0030_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,227},{108,84}}</string>
        <key>offset</key>
        <string>{-24,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,84}}</string>
        <key>sourceSize</key>
        <string>{108,84}</string>
      </dict>
      <key>monster_0030_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,591},{92,85}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,85}}</string>
        <key>sourceSize</key>
        <string>{92,85}</string>
      </dict>
      <key>monster_0030_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,109},{105,98}}</string>
        <key>offset</key>
        <string>{-9,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,98}}</string>
        <key>sourceSize</key>
        <string>{105,98}</string>
      </dict>
      <key>monster_0030_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,437},{102,54}}</string>
        <key>offset</key>
        <string>{-9,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,54}}</string>
        <key>sourceSize</key>
        <string>{102,54}</string>
      </dict>
      <key>monster_0030_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,0},{107,78}}</string>
        <key>offset</key>
        <string>{-23,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,78}}</string>
        <key>sourceSize</key>
        <string>{107,78}</string>
      </dict>
      <key>monster_0030_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{99,80}}</string>
        <key>offset</key>
        <string>{-23,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,80}}</string>
        <key>sourceSize</key>
        <string>{99,80}</string>
      </dict>
      <key>monster_0030_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,564},{103,70}}</string>
        <key>offset</key>
        <string>{-23,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,70}}</string>
        <key>sourceSize</key>
        <string>{103,70}</string>
      </dict>
      <key>monster_0030_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,266},{96,76}}</string>
        <key>offset</key>
        <string>{-12,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,76}}</string>
        <key>sourceSize</key>
        <string>{96,76}</string>
      </dict>
      <key>monster_0030_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,444},{104,89}}</string>
        <key>offset</key>
        <string>{-18,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,89}}</string>
        <key>sourceSize</key>
        <string>{104,89}</string>
      </dict>
      <key>monster_0030_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,636},{79,66}}</string>
        <key>offset</key>
        <string>{-13,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,66}}</string>
        <key>sourceSize</key>
        <string>{79,66}</string>
      </dict>
      <key>monster_0030_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,541},{102,89}}</string>
        <key>offset</key>
        <string>{-19,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,89}}</string>
        <key>sourceSize</key>
        <string>{102,89}</string>
      </dict>
      <key>monster_0030_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,636},{87,86}}</string>
        <key>offset</key>
        <string>{-15,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,86}}</string>
        <key>sourceSize</key>
        <string>{87,86}</string>
      </dict>
      <key>monster_0030_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,0},{99,76}}</string>
        <key>offset</key>
        <string>{-36,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,76}}</string>
        <key>sourceSize</key>
        <string>{99,76}</string>
      </dict>
      <key>monster_0030_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,477},{109,83}}</string>
        <key>offset</key>
        <string>{-33,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,83}}</string>
        <key>sourceSize</key>
        <string>{109,83}</string>
      </dict>
      <key>monster_0030_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,69}}</string>
        <key>offset</key>
        <string>{-35,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,69}}</string>
        <key>sourceSize</key>
        <string>{122,69}</string>
      </dict>
      <key>monster_0030_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{88,58}}</string>
        <key>offset</key>
        <string>{-32,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,58}}</string>
        <key>sourceSize</key>
        <string>{88,58}</string>
      </dict>
      <key>monster_0030_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,344},{92,95}}</string>
        <key>offset</key>
        <string>{-8,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,95}}</string>
        <key>sourceSize</key>
        <string>{92,95}</string>
      </dict>
      <key>monster_0030_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,115},{108,87}}</string>
        <key>offset</key>
        <string>{-30,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,87}}</string>
        <key>sourceSize</key>
        <string>{108,87}</string>
      </dict>
      <key>monster_0030_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,628},{92,82}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,82}}</string>
        <key>sourceSize</key>
        <string>{92,82}</string>
      </dict>
      <key>monster_0030_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,438},{93,90}}</string>
        <key>offset</key>
        <string>{-32,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,90}}</string>
        <key>sourceSize</key>
        <string>{93,90}</string>
      </dict>
      <key>monster_0030_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,550},{103,79}}</string>
        <key>offset</key>
        <string>{-32,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,79}}</string>
        <key>sourceSize</key>
        <string>{103,79}</string>
      </dict>
      <key>monster_0030_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,115},{110,58}}</string>
        <key>offset</key>
        <string>{-46,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,58}}</string>
        <key>sourceSize</key>
        <string>{110,58}</string>
      </dict>
      <key>monster_0030_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,0},{94,105}}</string>
        <key>offset</key>
        <string>{-22,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,105}}</string>
        <key>sourceSize</key>
        <string>{94,105}</string>
      </dict>
      <key>monster_0030_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,346},{109,100}}</string>
        <key>offset</key>
        <string>{-29,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,100}}</string>
        <key>sourceSize</key>
        <string>{109,100}</string>
      </dict>
      <key>monster_0030_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,632},{90,82}}</string>
        <key>offset</key>
        <string>{-15,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,82}}</string>
        <key>sourceSize</key>
        <string>{90,82}</string>
      </dict>
      <key>monster_0030_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,533},{74,93}}</string>
        <key>offset</key>
        <string>{-8,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,93}}</string>
        <key>sourceSize</key>
        <string>{74,93}</string>
      </dict>
      <key>monster_0030_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,344},{90,93}}</string>
        <key>offset</key>
        <string>{-21,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,93}}</string>
        <key>sourceSize</key>
        <string>{90,93}</string>
      </dict>
      <key>monster_0030_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,200},{97,64}}</string>
        <key>offset</key>
        <string>{-35,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,64}}</string>
        <key>sourceSize</key>
        <string>{97,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0030_0_4.png</string>
      <key>size</key>
      <string>{687,724}</string>
      <key>textureFileName</key>
      <string>monster_0030_0_4.png</string>
    </dict>
  </dict>
</plist>