<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0452_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1562,999},{204,221}}</string>
        <key>offset</key>
        <string>{-64,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,221}}</string>
        <key>sourceSize</key>
        <string>{204,221}</string>
      </dict>
      <key>monster_0452_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,267},{257,212}}</string>
        <key>offset</key>
        <string>{-64,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,212}}</string>
        <key>sourceSize</key>
        <string>{257,212}</string>
      </dict>
      <key>monster_0452_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,848},{264,210}}</string>
        <key>offset</key>
        <string>{-64,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,210}}</string>
        <key>sourceSize</key>
        <string>{264,210}</string>
      </dict>
      <key>monster_0452_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1562,615},{188,223}}</string>
        <key>offset</key>
        <string>{-64,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,223}}</string>
        <key>sourceSize</key>
        <string>{188,223}</string>
      </dict>
      <key>monster_0452_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1562,805},{192,223}}</string>
        <key>offset</key>
        <string>{-64,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,223}}</string>
        <key>sourceSize</key>
        <string>{192,223}</string>
      </dict>
      <key>monster_0452_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1293,1266},{192,235}}</string>
        <key>offset</key>
        <string>{-64,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,235}}</string>
        <key>sourceSize</key>
        <string>{192,235}</string>
      </dict>
      <key>monster_0452_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,1279},{278,219}}</string>
        <key>offset</key>
        <string>{-74,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,219}}</string>
        <key>sourceSize</key>
        <string>{278,219}</string>
      </dict>
      <key>monster_0452_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,988},{227,209}}</string>
        <key>offset</key>
        <string>{-74,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,209}}</string>
        <key>sourceSize</key>
        <string>{227,209}</string>
      </dict>
      <key>monster_0452_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1420,211},{245,209}}</string>
        <key>offset</key>
        <string>{-106,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,209}}</string>
        <key>sourceSize</key>
        <string>{245,209}</string>
      </dict>
      <key>monster_0452_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,297},{276,216}}</string>
        <key>offset</key>
        <string>{-74,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,216}}</string>
        <key>sourceSize</key>
        <string>{276,216}</string>
      </dict>
      <key>monster_0452_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,277},{269,227}}</string>
        <key>offset</key>
        <string>{-74,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,227}}</string>
        <key>sourceSize</key>
        <string>{269,227}</string>
      </dict>
      <key>monster_0452_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,0},{295,228}}</string>
        <key>offset</key>
        <string>{-74,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,228}}</string>
        <key>sourceSize</key>
        <string>{295,228}</string>
      </dict>
      <key>monster_0452_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,996},{293,181}}</string>
        <key>offset</key>
        <string>{-102,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,181}}</string>
        <key>sourceSize</key>
        <string>{293,181}</string>
      </dict>
      <key>monster_0452_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,259},{253,181}}</string>
        <key>offset</key>
        <string>{-117,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,181}}</string>
        <key>sourceSize</key>
        <string>{253,181}</string>
      </dict>
      <key>monster_0452_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,548},{261,199}}</string>
        <key>offset</key>
        <string>{-120,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,199}}</string>
        <key>sourceSize</key>
        <string>{261,199}</string>
      </dict>
      <key>monster_0452_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{348,181}}</string>
        <key>offset</key>
        <string>{-97,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,181}}</string>
        <key>sourceSize</key>
        <string>{348,181}</string>
      </dict>
      <key>monster_0452_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{336,191}}</string>
        <key>offset</key>
        <string>{-94,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,191}}</string>
        <key>sourceSize</key>
        <string>{336,191}</string>
      </dict>
      <key>monster_0452_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{327,187}}</string>
        <key>offset</key>
        <string>{-97,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,187}}</string>
        <key>sourceSize</key>
        <string>{327,187}</string>
      </dict>
      <key>monster_0452_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1240,514},{237,174}}</string>
        <key>offset</key>
        <string>{-94,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,174}}</string>
        <key>sourceSize</key>
        <string>{237,174}</string>
      </dict>
      <key>monster_0452_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,0},{257,230}}</string>
        <key>offset</key>
        <string>{-123,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,230}}</string>
        <key>sourceSize</key>
        <string>{257,230}</string>
      </dict>
      <key>monster_0452_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1266,753},{223,233}}</string>
        <key>offset</key>
        <string>{-94,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,233}}</string>
        <key>sourceSize</key>
        <string>{223,233}</string>
      </dict>
      <key>monster_0452_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,635},{278,198}}</string>
        <key>offset</key>
        <string>{-94,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,198}}</string>
        <key>sourceSize</key>
        <string>{278,198}</string>
      </dict>
      <key>monster_0452_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,575},{271,195}}</string>
        <key>offset</key>
        <string>{-94,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,195}}</string>
        <key>sourceSize</key>
        <string>{271,195}</string>
      </dict>
      <key>monster_0452_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,1026},{238,188}}</string>
        <key>offset</key>
        <string>{-94,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,188}}</string>
        <key>sourceSize</key>
        <string>{238,188}</string>
      </dict>
      <key>monster_0452_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,1396},{183,156}}</string>
        <key>offset</key>
        <string>{-56,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,156}}</string>
        <key>sourceSize</key>
        <string>{183,156}</string>
      </dict>
      <key>monster_0452_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,0},{189,275}}</string>
        <key>offset</key>
        <string>{-65,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,275}}</string>
        <key>sourceSize</key>
        <string>{189,275}</string>
      </dict>
      <key>monster_0452_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,1069},{202,244}}</string>
        <key>offset</key>
        <string>{-68,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,244}}</string>
        <key>sourceSize</key>
        <string>{202,244}</string>
      </dict>
      <key>monster_0452_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,211},{181,213}}</string>
        <key>offset</key>
        <string>{-53,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,213}}</string>
        <key>sourceSize</key>
        <string>{181,213}</string>
      </dict>
      <key>monster_0452_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1671,0},{188,207}}</string>
        <key>offset</key>
        <string>{-53,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,207}}</string>
        <key>sourceSize</key>
        <string>{188,207}</string>
      </dict>
      <key>monster_0452_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1645,1396},{182,178}}</string>
        <key>offset</key>
        <string>{-53,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,178}}</string>
        <key>sourceSize</key>
        <string>{182,178}</string>
      </dict>
      <key>monster_0452_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,1273},{244,163}}</string>
        <key>offset</key>
        <string>{-111,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,163}}</string>
        <key>sourceSize</key>
        <string>{244,163}</string>
      </dict>
      <key>monster_0452_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,1291},{210,290}}</string>
        <key>offset</key>
        <string>{-45,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,290}}</string>
        <key>sourceSize</key>
        <string>{210,290}</string>
      </dict>
      <key>monster_0452_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,1279},{252,258}}</string>
        <key>offset</key>
        <string>{-29,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,258}}</string>
        <key>sourceSize</key>
        <string>{252,258}</string>
      </dict>
      <key>monster_0452_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,0},{265,193}}</string>
        <key>offset</key>
        <string>{-129,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,193}}</string>
        <key>sourceSize</key>
        <string>{265,193}</string>
      </dict>
      <key>monster_0452_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1230,0},{253,188}}</string>
        <key>offset</key>
        <string>{-122,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,188}}</string>
        <key>sourceSize</key>
        <string>{253,188}</string>
      </dict>
      <key>monster_0452_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,1114},{264,163}}</string>
        <key>offset</key>
        <string>{-133,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,163}}</string>
        <key>sourceSize</key>
        <string>{264,163}</string>
      </dict>
      <key>monster_0452_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,811},{256,190}}</string>
        <key>offset</key>
        <string>{-98,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,190}}</string>
        <key>sourceSize</key>
        <string>{256,190}</string>
      </dict>
      <key>monster_0452_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,333},{300,260}}</string>
        <key>offset</key>
        <string>{-47,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,260}}</string>
        <key>sourceSize</key>
        <string>{300,260}</string>
      </dict>
      <key>monster_0452_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,996},{281,263}}</string>
        <key>offset</key>
        <string>{-44,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,263}}</string>
        <key>sourceSize</key>
        <string>{281,263}</string>
      </dict>
      <key>monster_0452_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{331,197}}</string>
        <key>offset</key>
        <string>{-178,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,197}}</string>
        <key>sourceSize</key>
        <string>{331,197}</string>
      </dict>
      <key>monster_0452_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1017},{318,199}}</string>
        <key>offset</key>
        <string>{-168,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,199}}</string>
        <key>sourceSize</key>
        <string>{318,199}</string>
      </dict>
      <key>monster_0452_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1337},{294,197}}</string>
        <key>offset</key>
        <string>{-141,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,197}}</string>
        <key>sourceSize</key>
        <string>{294,197}</string>
      </dict>
      <key>monster_0452_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1562,1205},{189,218}}</string>
        <key>offset</key>
        <string>{-51,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,218}}</string>
        <key>sourceSize</key>
        <string>{189,218}</string>
      </dict>
      <key>monster_0452_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,688},{306,212}}</string>
        <key>offset</key>
        <string>{-47,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,212}}</string>
        <key>sourceSize</key>
        <string>{306,212}</string>
      </dict>
      <key>monster_0452_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,526},{255,237}}</string>
        <key>offset</key>
        <string>{-47,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,237}}</string>
        <key>sourceSize</key>
        <string>{255,237}</string>
      </dict>
      <key>monster_0452_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1420,0},{249,209}}</string>
        <key>offset</key>
        <string>{-111,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,209}}</string>
        <key>sourceSize</key>
        <string>{249,209}</string>
      </dict>
      <key>monster_0452_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1053,783},{241,211}}</string>
        <key>offset</key>
        <string>{-103,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,211}}</string>
        <key>sourceSize</key>
        <string>{241,211}</string>
      </dict>
      <key>monster_0452_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1562,422},{191,225}}</string>
        <key>offset</key>
        <string>{-53,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,225}}</string>
        <key>sourceSize</key>
        <string>{191,225}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0452_0_2.png</string>
      <key>size</key>
      <string>{1883,1615}</string>
      <key>textureFileName</key>
      <string>monster_0452_0_2.png</string>
    </dict>
  </dict>
</plist>