<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0022_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,165},{82,91}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,91}}</string>
        <key>sourceSize</key>
        <string>{82,91}</string>
      </dict>
      <key>monster_0022_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,83},{80,92}}</string>
        <key>offset</key>
        <string>{-8,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,92}}</string>
        <key>sourceSize</key>
        <string>{80,92}</string>
      </dict>
      <key>monster_0022_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{81,93}}</string>
        <key>offset</key>
        <string>{-9,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,93}}</string>
        <key>sourceSize</key>
        <string>{81,93}</string>
      </dict>
      <key>monster_0022_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{98,89}}</string>
        <key>offset</key>
        <string>{-8,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,89}}</string>
        <key>sourceSize</key>
        <string>{98,89}</string>
      </dict>
      <key>monster_0022_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{94,88}}</string>
        <key>offset</key>
        <string>{-13,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,88}}</string>
        <key>sourceSize</key>
        <string>{94,88}</string>
      </dict>
      <key>monster_0022_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,100},{97,87}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,87}}</string>
        <key>sourceSize</key>
        <string>{97,87}</string>
      </dict>
      <key>monster_0022_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{104,77}}</string>
        <key>offset</key>
        <string>{-30,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,77}}</string>
        <key>sourceSize</key>
        <string>{104,77}</string>
      </dict>
      <key>monster_0022_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,106},{101,84}}</string>
        <key>offset</key>
        <string>{-39,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,84}}</string>
        <key>sourceSize</key>
        <string>{101,84}</string>
      </dict>
      <key>monster_0022_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{104,76}}</string>
        <key>offset</key>
        <string>{-33,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,76}}</string>
        <key>sourceSize</key>
        <string>{104,76}</string>
      </dict>
      <key>monster_0022_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,204},{98,84}}</string>
        <key>offset</key>
        <string>{-31,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>monster_0022_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,165},{87,92}}</string>
        <key>offset</key>
        <string>{-30,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,92}}</string>
        <key>sourceSize</key>
        <string>{87,92}</string>
      </dict>
      <key>monster_0022_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,254},{89,84}}</string>
        <key>offset</key>
        <string>{-30,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,84}}</string>
        <key>sourceSize</key>
        <string>{89,84}</string>
      </dict>
      <key>monster_0022_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,258},{87,73}}</string>
        <key>offset</key>
        <string>{-20,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_0022_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{86,86}}</string>
        <key>offset</key>
        <string>{-20,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,86}}</string>
        <key>sourceSize</key>
        <string>{86,86}</string>
      </dict>
      <key>monster_0022_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,88},{84,77}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,77}}</string>
        <key>sourceSize</key>
        <string>{84,77}</string>
      </dict>
      <key>monster_0022_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,64}}</string>
        <key>offset</key>
        <string>{-39,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,64}}</string>
        <key>sourceSize</key>
        <string>{107,64}</string>
      </dict>
      <key>monster_0022_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{100,81}}</string>
        <key>offset</key>
        <string>{-31,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,81}}</string>
        <key>sourceSize</key>
        <string>{100,81}</string>
      </dict>
      <key>monster_0022_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,215},{104,69}}</string>
        <key>offset</key>
        <string>{-36,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,69}}</string>
        <key>sourceSize</key>
        <string>{104,69}</string>
      </dict>
      <key>monster_0022_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,215},{102,72}}</string>
        <key>offset</key>
        <string>{-23,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,72}}</string>
        <key>sourceSize</key>
        <string>{102,72}</string>
      </dict>
      <key>monster_0022_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,209},{100,81}}</string>
        <key>offset</key>
        <string>{-12,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,81}}</string>
        <key>sourceSize</key>
        <string>{100,81}</string>
      </dict>
      <key>monster_0022_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,102},{100,77}}</string>
        <key>offset</key>
        <string>{-19,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,77}}</string>
        <key>sourceSize</key>
        <string>{100,77}</string>
      </dict>
      <key>monster_0022_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,167},{78,76}}</string>
        <key>offset</key>
        <string>{1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,76}}</string>
        <key>sourceSize</key>
        <string>{78,76}</string>
      </dict>
      <key>monster_0022_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,304},{77,81}}</string>
        <key>offset</key>
        <string>{2,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,81}}</string>
        <key>sourceSize</key>
        <string>{77,81}</string>
      </dict>
      <key>monster_0022_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,245},{76,78}}</string>
        <key>offset</key>
        <string>{2,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,78}}</string>
        <key>sourceSize</key>
        <string>{76,78}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0022_0_7.png</string>
      <key>size</key>
      <string>{598,386}</string>
      <key>textureFileName</key>
      <string>monster_0022_0_7.png</string>
    </dict>
  </dict>
</plist>