<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0050_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,65},{65,82}}</string>
        <key>offset</key>
        <string>{7,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,82}}</string>
        <key>sourceSize</key>
        <string>{65,82}</string>
      </dict>
      <key>monster_0050_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,131},{65,78}}</string>
        <key>offset</key>
        <string>{6,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,78}}</string>
        <key>sourceSize</key>
        <string>{65,78}</string>
      </dict>
      <key>monster_0050_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,131},{66,79}}</string>
        <key>offset</key>
        <string>{4,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,79}}</string>
        <key>sourceSize</key>
        <string>{66,79}</string>
      </dict>
      <key>monster_0050_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,86}}</string>
        <key>offset</key>
        <string>{4,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,86}}</string>
        <key>sourceSize</key>
        <string>{64,86}</string>
      </dict>
      <key>monster_0050_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{63,84}}</string>
        <key>offset</key>
        <string>{5,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,84}}</string>
        <key>sourceSize</key>
        <string>{63,84}</string>
      </dict>
      <key>monster_0050_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,0},{63,82}}</string>
        <key>offset</key>
        <string>{5,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,82}}</string>
        <key>sourceSize</key>
        <string>{63,82}</string>
      </dict>
      <key>monster_0050_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{64,85}}</string>
        <key>offset</key>
        <string>{5,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,85}}</string>
        <key>sourceSize</key>
        <string>{64,85}</string>
      </dict>
      <key>monster_0050_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{64,84}}</string>
        <key>offset</key>
        <string>{6,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,84}}</string>
        <key>sourceSize</key>
        <string>{64,84}</string>
      </dict>
      <key>monster_0050_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,147},{68,79}}</string>
        <key>offset</key>
        <string>{15,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,79}}</string>
        <key>sourceSize</key>
        <string>{68,79}</string>
      </dict>
      <key>monster_0050_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,199},{66,76}}</string>
        <key>offset</key>
        <string>{16,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,76}}</string>
        <key>sourceSize</key>
        <string>{66,76}</string>
      </dict>
      <key>monster_0050_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,261},{64,75}}</string>
        <key>offset</key>
        <string>{17,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>monster_0050_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{66,79}}</string>
        <key>offset</key>
        <string>{13,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,79}}</string>
        <key>sourceSize</key>
        <string>{66,79}</string>
      </dict>
      <key>monster_0050_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,134},{67,78}}</string>
        <key>offset</key>
        <string>{11,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,78}}</string>
        <key>sourceSize</key>
        <string>{67,78}</string>
      </dict>
      <key>monster_0050_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,202},{63,76}}</string>
        <key>offset</key>
        <string>{16,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,76}}</string>
        <key>sourceSize</key>
        <string>{63,76}</string>
      </dict>
      <key>monster_0050_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,0},{62,81}}</string>
        <key>offset</key>
        <string>{18,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,81}}</string>
        <key>sourceSize</key>
        <string>{62,81}</string>
      </dict>
      <key>monster_0050_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,65},{64,80}}</string>
        <key>offset</key>
        <string>{14,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,80}}</string>
        <key>sourceSize</key>
        <string>{64,80}</string>
      </dict>
      <key>monster_0050_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,456},{71,72}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>monster_0050_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,284},{63,73}}</string>
        <key>offset</key>
        <string>{21,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>monster_0050_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,333},{61,73}}</string>
        <key>offset</key>
        <string>{26,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,73}}</string>
        <key>sourceSize</key>
        <string>{61,73}</string>
      </dict>
      <key>monster_0050_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{75,72}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>monster_0050_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{77,71}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,71}}</string>
        <key>sourceSize</key>
        <string>{77,71}</string>
      </dict>
      <key>monster_0050_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,349},{70,71}}</string>
        <key>offset</key>
        <string>{15,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>monster_0050_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,327},{75,71}}</string>
        <key>offset</key>
        <string>{12,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,71}}</string>
        <key>sourceSize</key>
        <string>{75,71}</string>
      </dict>
      <key>monster_0050_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,260},{76,72}}</string>
        <key>offset</key>
        <string>{8,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,72}}</string>
        <key>sourceSize</key>
        <string>{76,72}</string>
      </dict>
      <key>monster_0050_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{67,72}}</string>
        <key>offset</key>
        <string>{10,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,72}}</string>
        <key>sourceSize</key>
        <string>{67,72}</string>
      </dict>
      <key>monster_0050_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,523},{60,70}}</string>
        <key>offset</key>
        <string>{19,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>monster_0050_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,537},{57,72}}</string>
        <key>offset</key>
        <string>{23,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,72}}</string>
        <key>sourceSize</key>
        <string>{57,72}</string>
      </dict>
      <key>monster_0050_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{64,75}}</string>
        <key>offset</key>
        <string>{15,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>monster_0050_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,537},{67,72}}</string>
        <key>offset</key>
        <string>{13,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,72}}</string>
        <key>sourceSize</key>
        <string>{67,72}</string>
      </dict>
      <key>monster_0050_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,217},{68,68}}</string>
        <key>offset</key>
        <string>{13,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,68}}</string>
        <key>sourceSize</key>
        <string>{68,68}</string>
      </dict>
      <key>monster_0050_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,603},{67,65}}</string>
        <key>offset</key>
        <string>{13,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,65}}</string>
        <key>sourceSize</key>
        <string>{67,65}</string>
      </dict>
      <key>monster_0050_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,349},{67,68}}</string>
        <key>offset</key>
        <string>{11,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,68}}</string>
        <key>sourceSize</key>
        <string>{67,68}</string>
      </dict>
      <key>monster_0050_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,135},{65,77}}</string>
        <key>offset</key>
        <string>{2,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,77}}</string>
        <key>sourceSize</key>
        <string>{65,77}</string>
      </dict>
      <key>monster_0050_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,338},{64,73}}</string>
        <key>offset</key>
        <string>{3,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>monster_0050_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,421},{65,70}}</string>
        <key>offset</key>
        <string>{4,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,70}}</string>
        <key>sourceSize</key>
        <string>{65,70}</string>
      </dict>
      <key>monster_0050_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,217},{65,75}}</string>
        <key>offset</key>
        <string>{4,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>monster_0050_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,529},{62,72}}</string>
        <key>offset</key>
        <string>{6,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,72}}</string>
        <key>sourceSize</key>
        <string>{62,72}</string>
      </dict>
      <key>monster_0050_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,419},{63,66}}</string>
        <key>offset</key>
        <string>{6,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,66}}</string>
        <key>sourceSize</key>
        <string>{63,66}</string>
      </dict>
      <key>monster_0050_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,602},{64,67}}</string>
        <key>offset</key>
        <string>{5,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,67}}</string>
        <key>sourceSize</key>
        <string>{64,67}</string>
      </dict>
      <key>monster_0050_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,458},{64,70}}</string>
        <key>offset</key>
        <string>{4,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,70}}</string>
        <key>sourceSize</key>
        <string>{64,70}</string>
      </dict>
      <key>monster_0050_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,267},{69,75}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,75}}</string>
        <key>sourceSize</key>
        <string>{69,75}</string>
      </dict>
      <key>monster_0050_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,397},{66,73}}</string>
        <key>offset</key>
        <string>{-10,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>monster_0050_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,602},{63,67}}</string>
        <key>offset</key>
        <string>{-8,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,67}}</string>
        <key>sourceSize</key>
        <string>{63,67}</string>
      </dict>
      <key>monster_0050_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,530},{62,70}}</string>
        <key>offset</key>
        <string>{-7,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,70}}</string>
        <key>sourceSize</key>
        <string>{62,70}</string>
      </dict>
      <key>monster_0050_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,488},{59,69}}</string>
        <key>offset</key>
        <string>{-4,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,69}}</string>
        <key>sourceSize</key>
        <string>{59,69}</string>
      </dict>
      <key>monster_0050_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,493},{53,69}}</string>
        <key>offset</key>
        <string>{2,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,69}}</string>
        <key>sourceSize</key>
        <string>{53,69}</string>
      </dict>
      <key>monster_0050_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,421},{54,70}}</string>
        <key>offset</key>
        <string>{1,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,70}}</string>
        <key>sourceSize</key>
        <string>{54,70}</string>
      </dict>
      <key>monster_0050_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,465},{60,72}}</string>
        <key>offset</key>
        <string>{-4,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,72}}</string>
        <key>sourceSize</key>
        <string>{60,72}</string>
      </dict>
      <key>monster_0050_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,549},{65,69}}</string>
        <key>offset</key>
        <string>{-13,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,69}}</string>
        <key>sourceSize</key>
        <string>{65,69}</string>
      </dict>
      <key>monster_0050_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,465},{56,71}}</string>
        <key>offset</key>
        <string>{-8,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,71}}</string>
        <key>sourceSize</key>
        <string>{56,71}</string>
      </dict>
      <key>monster_0050_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,400},{54,73}}</string>
        <key>offset</key>
        <string>{-8,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,73}}</string>
        <key>sourceSize</key>
        <string>{54,73}</string>
      </dict>
      <key>monster_0050_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,396},{60,71}}</string>
        <key>offset</key>
        <string>{-12,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,71}}</string>
        <key>sourceSize</key>
        <string>{60,71}</string>
      </dict>
      <key>monster_0050_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,564},{61,69}}</string>
        <key>offset</key>
        <string>{-8,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,69}}</string>
        <key>sourceSize</key>
        <string>{61,69}</string>
      </dict>
      <key>monster_0050_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,527},{55,72}}</string>
        <key>offset</key>
        <string>{-6,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,72}}</string>
        <key>sourceSize</key>
        <string>{55,72}</string>
      </dict>
      <key>monster_0050_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{50,73}}</string>
        <key>offset</key>
        <string>{-4,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,73}}</string>
        <key>sourceSize</key>
        <string>{50,73}</string>
      </dict>
      <key>monster_0050_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,404},{59,71}}</string>
        <key>offset</key>
        <string>{-7,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,71}}</string>
        <key>sourceSize</key>
        <string>{59,71}</string>
      </dict>
      <key>monster_0050_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,267},{64,75}}</string>
        <key>offset</key>
        <string>{-7,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>monster_0050_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,334},{61,74}}</string>
        <key>offset</key>
        <string>{-5,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,74}}</string>
        <key>sourceSize</key>
        <string>{61,74}</string>
      </dict>
      <key>monster_0050_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,200},{58,77}}</string>
        <key>offset</key>
        <string>{-2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,77}}</string>
        <key>sourceSize</key>
        <string>{58,77}</string>
      </dict>
      <key>monster_0050_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,83},{62,80}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,80}}</string>
        <key>sourceSize</key>
        <string>{62,80}</string>
      </dict>
      <key>monster_0050_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,66},{67,80}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,80}}</string>
        <key>sourceSize</key>
        <string>{67,80}</string>
      </dict>
      <key>monster_0050_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,132},{66,78}}</string>
        <key>offset</key>
        <string>{-8,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,78}}</string>
        <key>sourceSize</key>
        <string>{66,78}</string>
      </dict>
      <key>monster_0050_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,66},{63,79}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,79}}</string>
        <key>sourceSize</key>
        <string>{63,79}</string>
      </dict>
      <key>monster_0050_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,198},{61,78}}</string>
        <key>offset</key>
        <string>{-5,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,78}}</string>
        <key>sourceSize</key>
        <string>{61,78}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0050_0_1.png</string>
      <key>size</key>
      <string>{578,674}</string>
      <key>textureFileName</key>
      <string>monster_0050_0_1.png</string>
    </dict>
  </dict>
</plist>