<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0072_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,329},{65,66}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>monster_0072_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,356},{65,66}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>monster_0072_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,423},{66,66}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>monster_0072_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,357},{65,66}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>monster_0072_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,424},{66,66}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>monster_0072_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,424},{65,66}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>monster_0072_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,262},{65,68}}</string>
        <key>offset</key>
        <string>{9,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>monster_0072_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,329},{65,68}}</string>
        <key>offset</key>
        <string>{9,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>monster_0072_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,262},{65,68}}</string>
        <key>offset</key>
        <string>{9,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>monster_0072_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,272},{66,68}}</string>
        <key>offset</key>
        <string>{9,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>monster_0072_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,288},{66,68}}</string>
        <key>offset</key>
        <string>{9,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>monster_0072_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,289},{66,68}}</string>
        <key>offset</key>
        <string>{9,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>monster_0072_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,130},{48,77}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,77}}</string>
        <key>sourceSize</key>
        <string>{48,77}</string>
      </dict>
      <key>monster_0072_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,131},{48,77}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,77}}</string>
        <key>sourceSize</key>
        <string>{48,77}</string>
      </dict>
      <key>monster_0072_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,130},{47,78}}</string>
        <key>offset</key>
        <string>{12,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,78}}</string>
        <key>sourceSize</key>
        <string>{47,78}</string>
      </dict>
      <key>monster_0072_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{48,78}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,78}}</string>
        <key>sourceSize</key>
        <string>{48,78}</string>
      </dict>
      <key>monster_0072_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,180},{48,77}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,77}}</string>
        <key>sourceSize</key>
        <string>{48,77}</string>
      </dict>
      <key>monster_0072_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,181},{48,77}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,77}}</string>
        <key>sourceSize</key>
        <string>{48,77}</string>
      </dict>
      <key>monster_0072_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,0},{54,78}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,78}}</string>
        <key>sourceSize</key>
        <string>{54,78}</string>
      </dict>
      <key>monster_0072_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,74},{54,78}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,78}}</string>
        <key>sourceSize</key>
        <string>{54,78}</string>
      </dict>
      <key>monster_0072_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,74},{54,78}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,78}}</string>
        <key>sourceSize</key>
        <string>{54,78}</string>
      </dict>
      <key>monster_0072_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,410},{54,79}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,79}}</string>
        <key>sourceSize</key>
        <string>{54,79}</string>
      </dict>
      <key>monster_0072_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{54,79}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,79}}</string>
        <key>sourceSize</key>
        <string>{54,79}</string>
      </dict>
      <key>monster_0072_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{55,79}}</string>
        <key>offset</key>
        <string>{8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,79}}</string>
        <key>sourceSize</key>
        <string>{55,79}</string>
      </dict>
      <key>monster_0072_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{80,69}}</string>
        <key>offset</key>
        <string>{-12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>monster_0072_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{80,69}}</string>
        <key>offset</key>
        <string>{-12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>monster_0072_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{80,69}}</string>
        <key>offset</key>
        <string>{-12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>monster_0072_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{80,69}}</string>
        <key>offset</key>
        <string>{-12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>monster_0072_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{80,69}}</string>
        <key>offset</key>
        <string>{-12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>monster_0072_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,410},{80,69}}</string>
        <key>offset</key>
        <string>{-12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>monster_0072_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,130},{78,72}}</string>
        <key>offset</key>
        <string>{-14,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>monster_0072_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,56},{79,72}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
      <key>monster_0072_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,0},{79,72}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
      <key>monster_0072_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,57},{79,72}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
      <key>monster_0072_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,130},{79,72}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
      <key>monster_0072_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,0},{79,72}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
      <key>monster_0072_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,130},{55,69}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,69}}</string>
        <key>sourceSize</key>
        <string>{55,69}</string>
      </dict>
      <key>monster_0072_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,201},{55,69}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,69}}</string>
        <key>sourceSize</key>
        <string>{55,69}</string>
      </dict>
      <key>monster_0072_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,204},{56,69}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>monster_0072_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,204},{56,69}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>monster_0072_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,230},{56,69}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>monster_0072_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,231},{56,69}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>monster_0072_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,423},{57,65}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,65}}</string>
        <key>sourceSize</key>
        <string>{57,65}</string>
      </dict>
      <key>monster_0072_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,340},{57,65}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,65}}</string>
        <key>sourceSize</key>
        <string>{57,65}</string>
      </dict>
      <key>monster_0072_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,399},{57,65}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,65}}</string>
        <key>sourceSize</key>
        <string>{57,65}</string>
      </dict>
      <key>monster_0072_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,399},{57,65}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,65}}</string>
        <key>sourceSize</key>
        <string>{57,65}</string>
      </dict>
      <key>monster_0072_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,340},{57,65}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,65}}</string>
        <key>sourceSize</key>
        <string>{57,65}</string>
      </dict>
      <key>monster_0072_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,272},{57,65}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,65}}</string>
        <key>sourceSize</key>
        <string>{57,65}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0072_0_0.png</string>
      <key>size</key>
      <string>{568,514}</string>
      <key>textureFileName</key>
      <string>monster_0072_0_0.png</string>
    </dict>
  </dict>
</plist>