<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0374_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,129},{86,125}}</string>
        <key>offset</key>
        <string>{2,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,125}}</string>
        <key>sourceSize</key>
        <string>{86,125}</string>
      </dict>
      <key>monster_0374_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,395},{88,130}}</string>
        <key>offset</key>
        <string>{1,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,130}}</string>
        <key>sourceSize</key>
        <string>{88,130}</string>
      </dict>
      <key>monster_0374_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,880},{90,126}}</string>
        <key>offset</key>
        <string>{0,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,126}}</string>
        <key>sourceSize</key>
        <string>{90,126}</string>
      </dict>
      <key>monster_0374_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,396},{90,127}}</string>
        <key>offset</key>
        <string>{0,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,127}}</string>
        <key>sourceSize</key>
        <string>{90,127}</string>
      </dict>
      <key>monster_0374_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,880},{92,129}}</string>
        <key>offset</key>
        <string>{-1,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,129}}</string>
        <key>sourceSize</key>
        <string>{92,129}</string>
      </dict>
      <key>monster_0374_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,130},{90,131}}</string>
        <key>offset</key>
        <string>{0,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,131}}</string>
        <key>sourceSize</key>
        <string>{90,131}</string>
      </dict>
      <key>monster_0374_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,1011},{89,117}}</string>
        <key>offset</key>
        <string>{1,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,117}}</string>
        <key>sourceSize</key>
        <string>{89,117}</string>
      </dict>
      <key>monster_0374_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,1010},{87,116}}</string>
        <key>offset</key>
        <string>{2,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,116}}</string>
        <key>sourceSize</key>
        <string>{87,116}</string>
      </dict>
      <key>monster_0374_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,1011},{117,110}}</string>
        <key>offset</key>
        <string>{5,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,110}}</string>
        <key>sourceSize</key>
        <string>{117,110}</string>
      </dict>
      <key>monster_0374_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,748},{119,117}}</string>
        <key>offset</key>
        <string>{3,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,117}}</string>
        <key>sourceSize</key>
        <string>{119,117}</string>
      </dict>
      <key>monster_0374_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1019},{119,116}}</string>
        <key>offset</key>
        <string>{3,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,116}}</string>
        <key>sourceSize</key>
        <string>{119,116}</string>
      </dict>
      <key>monster_0374_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,967},{123,108}}</string>
        <key>offset</key>
        <string>{-1,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,108}}</string>
        <key>sourceSize</key>
        <string>{123,108}</string>
      </dict>
      <key>monster_0374_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,967},{124,110}}</string>
        <key>offset</key>
        <string>{-2,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,110}}</string>
        <key>sourceSize</key>
        <string>{124,110}</string>
      </dict>
      <key>monster_0374_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,406},{131,112}}</string>
        <key>offset</key>
        <string>{-9,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,112}}</string>
        <key>sourceSize</key>
        <string>{131,112}</string>
      </dict>
      <key>monster_0374_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,972},{120,105}}</string>
        <key>offset</key>
        <string>{2,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,105}}</string>
        <key>sourceSize</key>
        <string>{120,105}</string>
      </dict>
      <key>monster_0374_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,1010},{112,108}}</string>
        <key>offset</key>
        <string>{9,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,108}}</string>
        <key>sourceSize</key>
        <string>{112,108}</string>
      </dict>
      <key>monster_0374_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,851},{166,107}}</string>
        <key>offset</key>
        <string>{-9,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,107}}</string>
        <key>sourceSize</key>
        <string>{166,107}</string>
      </dict>
      <key>monster_0374_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,110}}</string>
        <key>offset</key>
        <string>{-11,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,110}}</string>
        <key>sourceSize</key>
        <string>{169,110}</string>
      </dict>
      <key>monster_0374_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,0},{160,112}}</string>
        <key>offset</key>
        <string>{-2,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,112}}</string>
        <key>sourceSize</key>
        <string>{160,112}</string>
      </dict>
      <key>monster_0374_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,169},{162,109}}</string>
        <key>offset</key>
        <string>{-3,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,109}}</string>
        <key>sourceSize</key>
        <string>{162,109}</string>
      </dict>
      <key>monster_0374_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,340},{164,106}}</string>
        <key>offset</key>
        <string>{-5,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,106}}</string>
        <key>sourceSize</key>
        <string>{164,106}</string>
      </dict>
      <key>monster_0374_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{169,107}}</string>
        <key>offset</key>
        <string>{-11,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,107}}</string>
        <key>sourceSize</key>
        <string>{169,107}</string>
      </dict>
      <key>monster_0374_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,850},{158,107}}</string>
        <key>offset</key>
        <string>{-2,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,107}}</string>
        <key>sourceSize</key>
        <string>{158,107}</string>
      </dict>
      <key>monster_0374_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,680},{155,107}}</string>
        <key>offset</key>
        <string>{-2,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,107}}</string>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>monster_0374_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,0},{143,127}}</string>
        <key>offset</key>
        <string>{-13,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,127}}</string>
        <key>sourceSize</key>
        <string>{143,127}</string>
      </dict>
      <key>monster_0374_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,752},{145,126}}</string>
        <key>offset</key>
        <string>{-14,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,126}}</string>
        <key>sourceSize</key>
        <string>{145,126}</string>
      </dict>
      <key>monster_0374_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,456},{146,126}}</string>
        <key>offset</key>
        <string>{-14,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,126}}</string>
        <key>sourceSize</key>
        <string>{146,126}</string>
      </dict>
      <key>monster_0374_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,816},{149,126}}</string>
        <key>offset</key>
        <string>{-14,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,126}}</string>
        <key>sourceSize</key>
        <string>{149,126}</string>
      </dict>
      <key>monster_0374_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,490},{150,124}}</string>
        <key>offset</key>
        <string>{-14,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,124}}</string>
        <key>sourceSize</key>
        <string>{150,124}</string>
      </dict>
      <key>monster_0374_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,642},{147,126}}</string>
        <key>offset</key>
        <string>{-14,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,126}}</string>
        <key>sourceSize</key>
        <string>{147,126}</string>
      </dict>
      <key>monster_0374_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,0},{143,128}}</string>
        <key>offset</key>
        <string>{-14,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,128}}</string>
        <key>sourceSize</key>
        <string>{143,128}</string>
      </dict>
      <key>monster_0374_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,130},{138,131}}</string>
        <key>offset</key>
        <string>{-13,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,131}}</string>
        <key>sourceSize</key>
        <string>{138,131}</string>
      </dict>
      <key>monster_0374_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,470},{93,147}}</string>
        <key>offset</key>
        <string>{-9,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,147}}</string>
        <key>sourceSize</key>
        <string>{93,147}</string>
      </dict>
      <key>monster_0374_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,791},{94,146}}</string>
        <key>offset</key>
        <string>{-9,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,146}}</string>
        <key>sourceSize</key>
        <string>{94,146}</string>
      </dict>
      <key>monster_0374_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,604},{95,145}}</string>
        <key>offset</key>
        <string>{-10,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,145}}</string>
        <key>sourceSize</key>
        <string>{95,145}</string>
      </dict>
      <key>monster_0374_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,791},{97,146}}</string>
        <key>offset</key>
        <string>{-11,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,146}}</string>
        <key>sourceSize</key>
        <string>{97,146}</string>
      </dict>
      <key>monster_0374_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,899},{97,144}}</string>
        <key>offset</key>
        <string>{-11,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,144}}</string>
        <key>sourceSize</key>
        <string>{97,144}</string>
      </dict>
      <key>monster_0374_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,604},{96,146}}</string>
        <key>offset</key>
        <string>{-11,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,146}}</string>
        <key>sourceSize</key>
        <string>{96,146}</string>
      </dict>
      <key>monster_0374_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,307},{95,147}}</string>
        <key>offset</key>
        <string>{-10,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,147}}</string>
        <key>sourceSize</key>
        <string>{95,147}</string>
      </dict>
      <key>monster_0374_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,318},{91,150}}</string>
        <key>offset</key>
        <string>{-9,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,150}}</string>
        <key>sourceSize</key>
        <string>{91,150}</string>
      </dict>
      <key>monster_0374_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,539},{130,130}}</string>
        <key>offset</key>
        <string>{-47,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,130}}</string>
        <key>sourceSize</key>
        <string>{130,130}</string>
      </dict>
      <key>monster_0374_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,485},{130,130}}</string>
        <key>offset</key>
        <string>{-46,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,130}}</string>
        <key>sourceSize</key>
        <string>{130,130}</string>
      </dict>
      <key>monster_0374_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,617},{129,130}}</string>
        <key>offset</key>
        <string>{-45,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,130}}</string>
        <key>sourceSize</key>
        <string>{129,130}</string>
      </dict>
      <key>monster_0374_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,263},{129,131}}</string>
        <key>offset</key>
        <string>{-44,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,131}}</string>
        <key>sourceSize</key>
        <string>{129,131}</string>
      </dict>
      <key>monster_0374_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,748},{128,130}}</string>
        <key>offset</key>
        <string>{-43,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,130}}</string>
        <key>sourceSize</key>
        <string>{128,130}</string>
      </dict>
      <key>monster_0374_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,129},{130,131}}</string>
        <key>offset</key>
        <string>{-45,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,131}}</string>
        <key>sourceSize</key>
        <string>{130,131}</string>
      </dict>
      <key>monster_0374_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,262},{131,131}}</string>
        <key>offset</key>
        <string>{-47,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,131}}</string>
        <key>sourceSize</key>
        <string>{131,131}</string>
      </dict>
      <key>monster_0374_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,270},{134,132}}</string>
        <key>offset</key>
        <string>{-50,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,132}}</string>
        <key>sourceSize</key>
        <string>{134,132}</string>
      </dict>
      <key>monster_0374_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{168,103}}</string>
        <key>offset</key>
        <string>{-82,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,103}}</string>
        <key>sourceSize</key>
        <string>{168,103}</string>
      </dict>
      <key>monster_0374_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,171},{167,106}}</string>
        <key>offset</key>
        <string>{-81,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>monster_0374_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{167,105}}</string>
        <key>offset</key>
        <string>{-81,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,105}}</string>
        <key>sourceSize</key>
        <string>{167,105}</string>
      </dict>
      <key>monster_0374_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{168,106}}</string>
        <key>offset</key>
        <string>{-81,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,106}}</string>
        <key>sourceSize</key>
        <string>{168,106}</string>
      </dict>
      <key>monster_0374_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,682},{166,106}}</string>
        <key>offset</key>
        <string>{-80,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,106}}</string>
        <key>sourceSize</key>
        <string>{166,106}</string>
      </dict>
      <key>monster_0374_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,512},{166,108}}</string>
        <key>offset</key>
        <string>{-81,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,108}}</string>
        <key>sourceSize</key>
        <string>{166,108}</string>
      </dict>
      <key>monster_0374_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,682},{167,103}}</string>
        <key>offset</key>
        <string>{-82,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,103}}</string>
        <key>sourceSize</key>
        <string>{167,103}</string>
      </dict>
      <key>monster_0374_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,342},{168,107}}</string>
        <key>offset</key>
        <string>{-82,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,107}}</string>
        <key>sourceSize</key>
        <string>{168,107}</string>
      </dict>
      <key>monster_0374_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,663},{151,105}}</string>
        <key>offset</key>
        <string>{-55,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,105}}</string>
        <key>sourceSize</key>
        <string>{151,105}</string>
      </dict>
      <key>monster_0374_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{153,110}}</string>
        <key>offset</key>
        <string>{-56,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,110}}</string>
        <key>sourceSize</key>
        <string>{153,110}</string>
      </dict>
      <key>monster_0374_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,0},{153,106}}</string>
        <key>offset</key>
        <string>{-56,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,106}}</string>
        <key>sourceSize</key>
        <string>{153,106}</string>
      </dict>
      <key>monster_0374_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,506},{155,109}}</string>
        <key>offset</key>
        <string>{-57,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,109}}</string>
        <key>sourceSize</key>
        <string>{155,109}</string>
      </dict>
      <key>monster_0374_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,333},{155,109}}</string>
        <key>offset</key>
        <string>{-57,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,109}}</string>
        <key>sourceSize</key>
        <string>{155,109}</string>
      </dict>
      <key>monster_0374_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,162},{154,117}}</string>
        <key>offset</key>
        <string>{-56,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,117}}</string>
        <key>sourceSize</key>
        <string>{154,117}</string>
      </dict>
      <key>monster_0374_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,837},{153,106}}</string>
        <key>offset</key>
        <string>{-55,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,106}}</string>
        <key>sourceSize</key>
        <string>{153,106}</string>
      </dict>
      <key>monster_0374_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,155},{150,104}}</string>
        <key>offset</key>
        <string>{-53,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,104}}</string>
        <key>sourceSize</key>
        <string>{150,104}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0374_0_1.png</string>
      <key>size</key>
      <string>{1026,1137}</string>
      <key>textureFileName</key>
      <string>monster_0374_0_1.png</string>
    </dict>
  </dict>
</plist>