<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0379_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,0},{91,109}}</string>
        <key>offset</key>
        <string>{-14,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,109}}</string>
        <key>sourceSize</key>
        <string>{91,109}</string>
      </dict>
      <key>monster_0379_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,93},{97,109}}</string>
        <key>offset</key>
        <string>{-23,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,109}}</string>
        <key>sourceSize</key>
        <string>{97,109}</string>
      </dict>
      <key>monster_0379_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,299},{99,107}}</string>
        <key>offset</key>
        <string>{-23,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,107}}</string>
        <key>sourceSize</key>
        <string>{99,107}</string>
      </dict>
      <key>monster_0379_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,365},{110,112}}</string>
        <key>offset</key>
        <string>{-16,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,112}}</string>
        <key>sourceSize</key>
        <string>{110,112}</string>
      </dict>
      <key>monster_0379_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,121},{114,111}}</string>
        <key>offset</key>
        <string>{-26,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,111}}</string>
        <key>sourceSize</key>
        <string>{114,111}</string>
      </dict>
      <key>monster_0379_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,350},{109,107}}</string>
        <key>offset</key>
        <string>{-14,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,107}}</string>
        <key>sourceSize</key>
        <string>{109,107}</string>
      </dict>
      <key>monster_0379_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,369},{118,104}}</string>
        <key>offset</key>
        <string>{-20,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,104}}</string>
        <key>sourceSize</key>
        <string>{118,104}</string>
      </dict>
      <key>monster_0379_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{120,106}}</string>
        <key>offset</key>
        <string>{-34,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,106}}</string>
        <key>sourceSize</key>
        <string>{120,106}</string>
      </dict>
      <key>monster_0379_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,124},{120,103}}</string>
        <key>offset</key>
        <string>{-26,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
      <key>monster_0379_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{121,101}}</string>
        <key>offset</key>
        <string>{-31,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,101}}</string>
        <key>sourceSize</key>
        <string>{121,101}</string>
      </dict>
      <key>monster_0379_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,105}}</string>
        <key>offset</key>
        <string>{-35,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,105}}</string>
        <key>sourceSize</key>
        <string>{122,105}</string>
      </dict>
      <key>monster_0379_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,237},{111,105}}</string>
        <key>offset</key>
        <string>{-27,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,105}}</string>
        <key>sourceSize</key>
        <string>{111,105}</string>
      </dict>
      <key>monster_0379_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,112},{93,106}}</string>
        <key>offset</key>
        <string>{-12,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,106}}</string>
        <key>sourceSize</key>
        <string>{93,106}</string>
      </dict>
      <key>monster_0379_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,369},{93,117}}</string>
        <key>offset</key>
        <string>{-4,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,117}}</string>
        <key>sourceSize</key>
        <string>{93,117}</string>
      </dict>
      <key>monster_0379_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{90,114}}</string>
        <key>offset</key>
        <string>{-2,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,114}}</string>
        <key>sourceSize</key>
        <string>{90,114}</string>
      </dict>
      <key>monster_0379_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,115},{105,111}}</string>
        <key>offset</key>
        <string>{-23,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,111}}</string>
        <key>sourceSize</key>
        <string>{105,111}</string>
      </dict>
      <key>monster_0379_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{105,119}}</string>
        <key>offset</key>
        <string>{-14,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,119}}</string>
        <key>sourceSize</key>
        <string>{105,119}</string>
      </dict>
      <key>monster_0379_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,246},{100,117}}</string>
        <key>offset</key>
        <string>{-19,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,117}}</string>
        <key>sourceSize</key>
        <string>{100,117}</string>
      </dict>
      <key>monster_0379_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,237},{112,106}}</string>
        <key>offset</key>
        <string>{-26,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,106}}</string>
        <key>sourceSize</key>
        <string>{112,106}</string>
      </dict>
      <key>monster_0379_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,0},{109,110}}</string>
        <key>offset</key>
        <string>{-12,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,110}}</string>
        <key>sourceSize</key>
        <string>{109,110}</string>
      </dict>
      <key>monster_0379_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,192},{105,108}}</string>
        <key>offset</key>
        <string>{-18,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,108}}</string>
        <key>sourceSize</key>
        <string>{105,108}</string>
      </dict>
      <key>monster_0379_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,351},{112,106}}</string>
        <key>offset</key>
        <string>{-15,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,106}}</string>
        <key>sourceSize</key>
        <string>{112,106}</string>
      </dict>
      <key>monster_0379_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{113,105}}</string>
        <key>offset</key>
        <string>{-15,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,105}}</string>
        <key>sourceSize</key>
        <string>{113,105}</string>
      </dict>
      <key>monster_0379_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,228},{103,102}}</string>
        <key>offset</key>
        <string>{-15,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,102}}</string>
        <key>sourceSize</key>
        <string>{103,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0379_0_7.png</string>
      <key>size</key>
      <string>{640,512}</string>
      <key>textureFileName</key>
      <string>monster_0379_0_7.png</string>
    </dict>
  </dict>
</plist>