<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0259_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,231},{80,100}}</string>
        <key>offset</key>
        <string>{-6,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,100}}</string>
        <key>sourceSize</key>
        <string>{80,100}</string>
      </dict>
      <key>monster_0259_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{119,96}}</string>
        <key>offset</key>
        <string>{-17,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,96}}</string>
        <key>sourceSize</key>
        <string>{119,96}</string>
      </dict>
      <key>monster_0259_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,205},{104,98}}</string>
        <key>offset</key>
        <string>{-12,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,98}}</string>
        <key>sourceSize</key>
        <string>{104,98}</string>
      </dict>
      <key>monster_0259_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{116,104}}</string>
        <key>offset</key>
        <string>{-5,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,104}}</string>
        <key>sourceSize</key>
        <string>{116,104}</string>
      </dict>
      <key>monster_0259_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,406},{129,102}}</string>
        <key>offset</key>
        <string>{-14,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,102}}</string>
        <key>sourceSize</key>
        <string>{129,102}</string>
      </dict>
      <key>monster_0259_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,274},{126,105}}</string>
        <key>offset</key>
        <string>{-11,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,105}}</string>
        <key>sourceSize</key>
        <string>{126,105}</string>
      </dict>
      <key>monster_0259_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,242},{111,95}}</string>
        <key>offset</key>
        <string>{5,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,95}}</string>
        <key>sourceSize</key>
        <string>{111,95}</string>
      </dict>
      <key>monster_0259_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,0},{105,109}}</string>
        <key>offset</key>
        <string>{-15,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,109}}</string>
        <key>sourceSize</key>
        <string>{105,109}</string>
      </dict>
      <key>monster_0259_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{109,105}}</string>
        <key>offset</key>
        <string>{-8,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,105}}</string>
        <key>sourceSize</key>
        <string>{109,105}</string>
      </dict>
      <key>monster_0259_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,111},{94,107}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,107}}</string>
        <key>sourceSize</key>
        <string>{94,107}</string>
      </dict>
      <key>monster_0259_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{93,117}}</string>
        <key>offset</key>
        <string>{-21,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,117}}</string>
        <key>sourceSize</key>
        <string>{93,117}</string>
      </dict>
      <key>monster_0259_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,242},{93,114}}</string>
        <key>offset</key>
        <string>{-17,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,114}}</string>
        <key>sourceSize</key>
        <string>{93,114}</string>
      </dict>
      <key>monster_0259_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,107},{96,108}}</string>
        <key>offset</key>
        <string>{-7,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,108}}</string>
        <key>sourceSize</key>
        <string>{96,108}</string>
      </dict>
      <key>monster_0259_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,402},{124,105}}</string>
        <key>offset</key>
        <string>{-35,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,105}}</string>
        <key>sourceSize</key>
        <string>{124,105}</string>
      </dict>
      <key>monster_0259_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,358},{114,105}}</string>
        <key>offset</key>
        <string>{-26,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,105}}</string>
        <key>sourceSize</key>
        <string>{114,105}</string>
      </dict>
      <key>monster_0259_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{130,88}}</string>
        <key>offset</key>
        <string>{-46,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,88}}</string>
        <key>sourceSize</key>
        <string>{130,88}</string>
      </dict>
      <key>monster_0259_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,100}}</string>
        <key>offset</key>
        <string>{-46,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,100}}</string>
        <key>sourceSize</key>
        <string>{135,100}</string>
      </dict>
      <key>monster_0259_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{135,97}}</string>
        <key>offset</key>
        <string>{-47,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,97}}</string>
        <key>sourceSize</key>
        <string>{135,97}</string>
      </dict>
      <key>monster_0259_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,137},{125,93}}</string>
        <key>offset</key>
        <string>{-50,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,93}}</string>
        <key>sourceSize</key>
        <string>{125,93}</string>
      </dict>
      <key>monster_0259_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,118},{111,103}}</string>
        <key>offset</key>
        <string>{-21,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,103}}</string>
        <key>sourceSize</key>
        <string>{111,103}</string>
      </dict>
      <key>monster_0259_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,121},{119,101}}</string>
        <key>offset</key>
        <string>{-32,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,101}}</string>
        <key>sourceSize</key>
        <string>{119,101}</string>
      </dict>
      <key>monster_0259_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,305},{86,100}}</string>
        <key>offset</key>
        <string>{-12,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,100}}</string>
        <key>sourceSize</key>
        <string>{86,100}</string>
      </dict>
      <key>monster_0259_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,394},{84,94}}</string>
        <key>offset</key>
        <string>{-3,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,94}}</string>
        <key>sourceSize</key>
        <string>{84,94}</string>
      </dict>
      <key>monster_0259_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,313},{79,97}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,97}}</string>
        <key>sourceSize</key>
        <string>{79,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0259_0_7.png</string>
      <key>size</key>
      <string>{640,512}</string>
      <key>textureFileName</key>
      <string>monster_0259_0_7.png</string>
    </dict>
  </dict>
</plist>