<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0377_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{132,154}}</string>
        <key>offset</key>
        <string>{-35,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,154}}</string>
        <key>sourceSize</key>
        <string>{132,154}</string>
      </dict>
      <key>monster_0377_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,180},{138,173}}</string>
        <key>offset</key>
        <string>{-29,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,173}}</string>
        <key>sourceSize</key>
        <string>{138,173}</string>
      </dict>
      <key>monster_0377_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,568},{153,172}}</string>
        <key>offset</key>
        <string>{-4,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,172}}</string>
        <key>sourceSize</key>
        <string>{153,172}</string>
      </dict>
      <key>monster_0377_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,831},{136,124}}</string>
        <key>offset</key>
        <string>{8,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,124}}</string>
        <key>sourceSize</key>
        <string>{136,124}</string>
      </dict>
      <key>monster_0377_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,516},{158,139}}</string>
        <key>offset</key>
        <string>{-54,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,139}}</string>
        <key>sourceSize</key>
        <string>{158,139}</string>
      </dict>
      <key>monster_0377_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{178,165}}</string>
        <key>offset</key>
        <string>{-60,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,165}}</string>
        <key>sourceSize</key>
        <string>{178,165}</string>
      </dict>
      <key>monster_0377_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{189,146}}</string>
        <key>offset</key>
        <string>{-56,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,146}}</string>
        <key>sourceSize</key>
        <string>{189,146}</string>
      </dict>
      <key>monster_0377_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,180},{168,103}}</string>
        <key>offset</key>
        <string>{-53,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,103}}</string>
        <key>sourceSize</key>
        <string>{168,103}</string>
      </dict>
      <key>monster_0377_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{214,118}}</string>
        <key>offset</key>
        <string>{-87,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,118}}</string>
        <key>sourceSize</key>
        <string>{214,118}</string>
      </dict>
      <key>monster_0377_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{208,134}}</string>
        <key>offset</key>
        <string>{-94,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,134}}</string>
        <key>sourceSize</key>
        <string>{208,134}</string>
      </dict>
      <key>monster_0377_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{199,136}}</string>
        <key>offset</key>
        <string>{-89,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,136}}</string>
        <key>sourceSize</key>
        <string>{199,136}</string>
      </dict>
      <key>monster_0377_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,527},{164,103}}</string>
        <key>offset</key>
        <string>{-74,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,103}}</string>
        <key>sourceSize</key>
        <string>{164,103}</string>
      </dict>
      <key>monster_0377_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,391},{175,133}}</string>
        <key>offset</key>
        <string>{-54,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>monster_0377_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,617},{178,142}}</string>
        <key>offset</key>
        <string>{-58,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,142}}</string>
        <key>sourceSize</key>
        <string>{178,142}</string>
      </dict>
      <key>monster_0377_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,0},{161,130}}</string>
        <key>offset</key>
        <string>{-69,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,130}}</string>
        <key>sourceSize</key>
        <string>{161,130}</string>
      </dict>
      <key>monster_0377_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,491},{148,103}}</string>
        <key>offset</key>
        <string>{-85,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,103}}</string>
        <key>sourceSize</key>
        <string>{148,103}</string>
      </dict>
      <key>monster_0377_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,163},{126,137}}</string>
        <key>offset</key>
        <string>{-16,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,137}}</string>
        <key>sourceSize</key>
        <string>{126,137}</string>
      </dict>
      <key>monster_0377_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,596},{139,145}}</string>
        <key>offset</key>
        <string>{-22,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,145}}</string>
        <key>sourceSize</key>
        <string>{139,145}</string>
      </dict>
      <key>monster_0377_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,693},{159,143}}</string>
        <key>offset</key>
        <string>{-60,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,143}}</string>
        <key>sourceSize</key>
        <string>{159,143}</string>
      </dict>
      <key>monster_0377_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,797},{133,109}}</string>
        <key>offset</key>
        <string>{-83,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,109}}</string>
        <key>sourceSize</key>
        <string>{133,109}</string>
      </dict>
      <key>monster_0377_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,737},{140,137}}</string>
        <key>offset</key>
        <string>{-28,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,137}}</string>
        <key>sourceSize</key>
        <string>{140,137}</string>
      </dict>
      <key>monster_0377_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,676},{153,143}}</string>
        <key>offset</key>
        <string>{-28,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,143}}</string>
        <key>sourceSize</key>
        <string>{153,143}</string>
      </dict>
      <key>monster_0377_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,350},{164,148}}</string>
        <key>offset</key>
        <string>{-49,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,148}}</string>
        <key>sourceSize</key>
        <string>{164,148}</string>
      </dict>
      <key>monster_0377_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,0},{167,110}}</string>
        <key>offset</key>
        <string>{-62,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,110}}</string>
        <key>sourceSize</key>
        <string>{167,110}</string>
      </dict>
      <key>monster_0377_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,201},{188,130}}</string>
        <key>offset</key>
        <string>{-47,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,130}}</string>
        <key>sourceSize</key>
        <string>{188,130}</string>
      </dict>
      <key>monster_0377_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,617},{178,129}}</string>
        <key>offset</key>
        <string>{-33,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,129}}</string>
        <key>sourceSize</key>
        <string>{178,129}</string>
      </dict>
      <key>monster_0377_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,742},{166,135}}</string>
        <key>offset</key>
        <string>{-24,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,135}}</string>
        <key>sourceSize</key>
        <string>{166,135}</string>
      </dict>
      <key>monster_0377_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,169},{162,112}}</string>
        <key>offset</key>
        <string>{-37,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,112}}</string>
        <key>sourceSize</key>
        <string>{162,112}</string>
      </dict>
      <key>monster_0377_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,312},{150,138}}</string>
        <key>offset</key>
        <string>{-37,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,138}}</string>
        <key>sourceSize</key>
        <string>{150,138}</string>
      </dict>
      <key>monster_0377_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,333},{156,156}}</string>
        <key>offset</key>
        <string>{-30,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,156}}</string>
        <key>sourceSize</key>
        <string>{156,156}</string>
      </dict>
      <key>monster_0377_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,355},{170,163}}</string>
        <key>offset</key>
        <string>{-14,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,163}}</string>
        <key>sourceSize</key>
        <string>{170,163}</string>
      </dict>
      <key>monster_0377_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,156},{154,131}}</string>
        <key>offset</key>
        <string>{-6,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,131}}</string>
        <key>sourceSize</key>
        <string>{154,131}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0377_0_4.png</string>
      <key>size</key>
      <string>{897,958}</string>
      <key>textureFileName</key>
      <string>monster_0377_0_4.png</string>
    </dict>
  </dict>
</plist>