<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0036_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,43},{71,73}}</string>
        <key>offset</key>
        <string>{-6,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,73}}</string>
        <key>sourceSize</key>
        <string>{71,73}</string>
      </dict>
      <key>monster_0036_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,118},{71,72}}</string>
        <key>offset</key>
        <string>{-6,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>monster_0036_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,191},{71,70}}</string>
        <key>offset</key>
        <string>{-6,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>monster_0036_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,263},{71,70}}</string>
        <key>offset</key>
        <string>{-6,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>monster_0036_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{97,64}}</string>
        <key>offset</key>
        <string>{-17,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,64}}</string>
        <key>sourceSize</key>
        <string>{97,64}</string>
      </dict>
      <key>monster_0036_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,219},{98,64}}</string>
        <key>offset</key>
        <string>{-18,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,64}}</string>
        <key>sourceSize</key>
        <string>{98,64}</string>
      </dict>
      <key>monster_0036_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{95,63}}</string>
        <key>offset</key>
        <string>{-17,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,63}}</string>
        <key>sourceSize</key>
        <string>{95,63}</string>
      </dict>
      <key>monster_0036_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,319},{96,63}}</string>
        <key>offset</key>
        <string>{-18,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,63}}</string>
        <key>sourceSize</key>
        <string>{96,63}</string>
      </dict>
      <key>monster_0036_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,44}}</string>
        <key>offset</key>
        <string>{-14,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,44}}</string>
        <key>sourceSize</key>
        <string>{108,44}</string>
      </dict>
      <key>monster_0036_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{107,44}}</string>
        <key>offset</key>
        <string>{-13,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,44}}</string>
        <key>sourceSize</key>
        <string>{107,44}</string>
      </dict>
      <key>monster_0036_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{105,43}}</string>
        <key>offset</key>
        <string>{-12,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,43}}</string>
        <key>sourceSize</key>
        <string>{105,43}</string>
      </dict>
      <key>monster_0036_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{105,44}}</string>
        <key>offset</key>
        <string>{-12,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,44}}</string>
        <key>sourceSize</key>
        <string>{105,44}</string>
      </dict>
      <key>monster_0036_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{91,42}}</string>
        <key>offset</key>
        <string>{-11,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,42}}</string>
        <key>sourceSize</key>
        <string>{91,42}</string>
      </dict>
      <key>monster_0036_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,193},{91,43}}</string>
        <key>offset</key>
        <string>{-11,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,43}}</string>
        <key>sourceSize</key>
        <string>{91,43}</string>
      </dict>
      <key>monster_0036_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,93},{91,43}}</string>
        <key>offset</key>
        <string>{-11,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,43}}</string>
        <key>sourceSize</key>
        <string>{91,43}</string>
      </dict>
      <key>monster_0036_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{90,43}}</string>
        <key>offset</key>
        <string>{-11,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,43}}</string>
        <key>sourceSize</key>
        <string>{90,43}</string>
      </dict>
      <key>monster_0036_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,335},{71,48}}</string>
        <key>offset</key>
        <string>{1,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,48}}</string>
        <key>sourceSize</key>
        <string>{71,48}</string>
      </dict>
      <key>monster_0036_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,356},{71,47}}</string>
        <key>offset</key>
        <string>{1,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,47}}</string>
        <key>sourceSize</key>
        <string>{71,47}</string>
      </dict>
      <key>monster_0036_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,338},{71,47}}</string>
        <key>offset</key>
        <string>{1,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,47}}</string>
        <key>sourceSize</key>
        <string>{71,47}</string>
      </dict>
      <key>monster_0036_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{70,47}}</string>
        <key>offset</key>
        <string>{1,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,47}}</string>
        <key>sourceSize</key>
        <string>{70,47}</string>
      </dict>
      <key>monster_0036_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{87,41}}</string>
        <key>offset</key>
        <string>{-5,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,41}}</string>
        <key>sourceSize</key>
        <string>{87,41}</string>
      </dict>
      <key>monster_0036_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,87},{84,42}}</string>
        <key>offset</key>
        <string>{-4,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,42}}</string>
        <key>sourceSize</key>
        <string>{84,42}</string>
      </dict>
      <key>monster_0036_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,43},{86,42}}</string>
        <key>offset</key>
        <string>{-4,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,42}}</string>
        <key>sourceSize</key>
        <string>{86,42}</string>
      </dict>
      <key>monster_0036_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,186},{84,42}}</string>
        <key>offset</key>
        <string>{-4,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,42}}</string>
        <key>sourceSize</key>
        <string>{84,42}</string>
      </dict>
      <key>monster_0036_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,99},{96,47}}</string>
        <key>offset</key>
        <string>{-18,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,47}}</string>
        <key>sourceSize</key>
        <string>{96,47}</string>
      </dict>
      <key>monster_0036_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,99},{96,46}}</string>
        <key>offset</key>
        <string>{-19,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,46}}</string>
        <key>sourceSize</key>
        <string>{96,46}</string>
      </dict>
      <key>monster_0036_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,97},{94,46}}</string>
        <key>offset</key>
        <string>{-18,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,46}}</string>
        <key>sourceSize</key>
        <string>{94,46}</string>
      </dict>
      <key>monster_0036_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,197},{95,46}}</string>
        <key>offset</key>
        <string>{-18,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,46}}</string>
        <key>sourceSize</key>
        <string>{95,46}</string>
      </dict>
      <key>monster_0036_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,199},{81,68}}</string>
        <key>offset</key>
        <string>{-5,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,68}}</string>
        <key>sourceSize</key>
        <string>{81,68}</string>
      </dict>
      <key>monster_0036_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,272},{82,67}}</string>
        <key>offset</key>
        <string>{-6,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,67}}</string>
        <key>sourceSize</key>
        <string>{82,67}</string>
      </dict>
      <key>monster_0036_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,131},{82,66}}</string>
        <key>offset</key>
        <string>{-6,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,66}}</string>
        <key>sourceSize</key>
        <string>{82,66}</string>
      </dict>
      <key>monster_0036_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,269},{81,67}}</string>
        <key>offset</key>
        <string>{-5,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,67}}</string>
        <key>sourceSize</key>
        <string>{81,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0036_0_0.png</string>
      <key>size</key>
      <string>{456,432}</string>
      <key>textureFileName</key>
      <string>monster_0036_0_0.png</string>
    </dict>
  </dict>
</plist>