<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0362_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{68,103}}</string>
        <key>offset</key>
        <string>{0,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,103}}</string>
        <key>sourceSize</key>
        <string>{68,103}</string>
      </dict>
      <key>monster_0362_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{76,89}}</string>
        <key>offset</key>
        <string>{8,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,89}}</string>
        <key>sourceSize</key>
        <string>{76,89}</string>
      </dict>
      <key>monster_0362_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,290},{81,92}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,92}}</string>
        <key>sourceSize</key>
        <string>{81,92}</string>
      </dict>
      <key>monster_0362_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,210},{96,90}}</string>
        <key>offset</key>
        <string>{-9,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,90}}</string>
        <key>sourceSize</key>
        <string>{96,90}</string>
      </dict>
      <key>monster_0362_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,106},{102,73}}</string>
        <key>offset</key>
        <string>{-13,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,73}}</string>
        <key>sourceSize</key>
        <string>{102,73}</string>
      </dict>
      <key>monster_0362_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,225},{103,79}}</string>
        <key>offset</key>
        <string>{-13,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,79}}</string>
        <key>sourceSize</key>
        <string>{103,79}</string>
      </dict>
      <key>monster_0362_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{116,79}}</string>
        <key>offset</key>
        <string>{-20,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,79}}</string>
        <key>sourceSize</key>
        <string>{116,79}</string>
      </dict>
      <key>monster_0362_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{97,82}}</string>
        <key>offset</key>
        <string>{-16,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,82}}</string>
        <key>sourceSize</key>
        <string>{97,82}</string>
      </dict>
      <key>monster_0362_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{105,88}}</string>
        <key>offset</key>
        <string>{-19,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,88}}</string>
        <key>sourceSize</key>
        <string>{105,88}</string>
      </dict>
      <key>monster_0362_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,99},{90,80}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,80}}</string>
        <key>sourceSize</key>
        <string>{90,80}</string>
      </dict>
      <key>monster_0362_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,181},{74,82}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>monster_0362_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,261},{85,84}}</string>
        <key>offset</key>
        <string>{-3,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,84}}</string>
        <key>sourceSize</key>
        <string>{85,84}</string>
      </dict>
      <key>monster_0362_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,80},{69,77}}</string>
        <key>offset</key>
        <string>{2,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,77}}</string>
        <key>sourceSize</key>
        <string>{69,77}</string>
      </dict>
      <key>monster_0362_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{78,83}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,83}}</string>
        <key>sourceSize</key>
        <string>{78,83}</string>
      </dict>
      <key>monster_0362_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,91},{88,81}}</string>
        <key>offset</key>
        <string>{-17,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,81}}</string>
        <key>sourceSize</key>
        <string>{88,81}</string>
      </dict>
      <key>monster_0362_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{89,77}}</string>
        <key>offset</key>
        <string>{-18,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,77}}</string>
        <key>sourceSize</key>
        <string>{89,77}</string>
      </dict>
      <key>monster_0362_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,90},{83,86}}</string>
        <key>offset</key>
        <string>{-9,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,86}}</string>
        <key>sourceSize</key>
        <string>{83,86}</string>
      </dict>
      <key>monster_0362_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{88,84}}</string>
        <key>offset</key>
        <string>{-14,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>monster_0362_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{104,81}}</string>
        <key>offset</key>
        <string>{-22,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,81}}</string>
        <key>sourceSize</key>
        <string>{104,81}</string>
      </dict>
      <key>monster_0362_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,175},{86,84}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>monster_0362_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,195},{93,85}}</string>
        <key>offset</key>
        <string>{-14,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,85}}</string>
        <key>sourceSize</key>
        <string>{93,85}</string>
      </dict>
      <key>monster_0362_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,308},{74,94}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,94}}</string>
        <key>sourceSize</key>
        <string>{74,94}</string>
      </dict>
      <key>monster_0362_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,290},{76,91}}</string>
        <key>offset</key>
        <string>{-6,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,91}}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>monster_0362_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,99},{80,94}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,94}}</string>
        <key>sourceSize</key>
        <string>{80,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0362_0_7.png</string>
      <key>size</key>
      <string>{590,386}</string>
      <key>textureFileName</key>
      <string>monster_0362_0_7.png</string>
    </dict>
  </dict>
</plist>