<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0321_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,313},{59,96}}</string>
        <key>offset</key>
        <string>{7,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,96}}</string>
        <key>sourceSize</key>
        <string>{59,96}</string>
      </dict>
      <key>monster_0321_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{61,96}}</string>
        <key>offset</key>
        <string>{6,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,96}}</string>
        <key>sourceSize</key>
        <string>{61,96}</string>
      </dict>
      <key>monster_0321_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,98},{60,96}}</string>
        <key>offset</key>
        <string>{7,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,96}}</string>
        <key>sourceSize</key>
        <string>{60,96}</string>
      </dict>
      <key>monster_0321_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,287},{81,88}}</string>
        <key>offset</key>
        <string>{1,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,88}}</string>
        <key>sourceSize</key>
        <string>{81,88}</string>
      </dict>
      <key>monster_0321_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,196},{83,89}}</string>
        <key>offset</key>
        <string>{0,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,89}}</string>
        <key>sourceSize</key>
        <string>{83,89}</string>
      </dict>
      <key>monster_0321_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,98},{81,88}}</string>
        <key>offset</key>
        <string>{1,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,88}}</string>
        <key>sourceSize</key>
        <string>{81,88}</string>
      </dict>
      <key>monster_0321_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{102,84}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,84}}</string>
        <key>sourceSize</key>
        <string>{102,84}</string>
      </dict>
      <key>monster_0321_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{103,84}}</string>
        <key>offset</key>
        <string>{-9,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,84}}</string>
        <key>sourceSize</key>
        <string>{103,84}</string>
      </dict>
      <key>monster_0321_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,209},{102,84}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,84}}</string>
        <key>sourceSize</key>
        <string>{102,84}</string>
      </dict>
      <key>monster_0321_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{87,77}}</string>
        <key>offset</key>
        <string>{-5,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,77}}</string>
        <key>sourceSize</key>
        <string>{87,77}</string>
      </dict>
      <key>monster_0321_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{86,77}}</string>
        <key>offset</key>
        <string>{-4,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,77}}</string>
        <key>sourceSize</key>
        <string>{86,77}</string>
      </dict>
      <key>monster_0321_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,277},{86,77}}</string>
        <key>offset</key>
        <string>{-4,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,77}}</string>
        <key>sourceSize</key>
        <string>{86,77}</string>
      </dict>
      <key>monster_0321_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,238},{69,79}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,79}}</string>
        <key>sourceSize</key>
        <string>{69,79}</string>
      </dict>
      <key>monster_0321_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,168},{68,80}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,80}}</string>
        <key>sourceSize</key>
        <string>{68,80}</string>
      </dict>
      <key>monster_0321_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{69,79}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,79}}</string>
        <key>sourceSize</key>
        <string>{69,79}</string>
      </dict>
      <key>monster_0321_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,263},{73,81}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,81}}</string>
        <key>sourceSize</key>
        <string>{73,81}</string>
      </dict>
      <key>monster_0321_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,173},{73,81}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,81}}</string>
        <key>sourceSize</key>
        <string>{73,81}</string>
      </dict>
      <key>monster_0321_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,85},{73,81}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,81}}</string>
        <key>sourceSize</key>
        <string>{73,81}</string>
      </dict>
      <key>monster_0321_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,178},{79,83}}</string>
        <key>offset</key>
        <string>{-20,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,83}}</string>
        <key>sourceSize</key>
        <string>{79,83}</string>
      </dict>
      <key>monster_0321_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,88},{81,83}}</string>
        <key>offset</key>
        <string>{-21,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,83}}</string>
        <key>sourceSize</key>
        <string>{81,83}</string>
      </dict>
      <key>monster_0321_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{79,83}}</string>
        <key>offset</key>
        <string>{-20,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,83}}</string>
        <key>sourceSize</key>
        <string>{79,83}</string>
      </dict>
      <key>monster_0321_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{69,87}}</string>
        <key>offset</key>
        <string>{-8,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,87}}</string>
        <key>sourceSize</key>
        <string>{69,87}</string>
      </dict>
      <key>monster_0321_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,188},{70,87}}</string>
        <key>offset</key>
        <string>{-8,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,87}}</string>
        <key>sourceSize</key>
        <string>{70,87}</string>
      </dict>
      <key>monster_0321_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,89},{69,87}}</string>
        <key>offset</key>
        <string>{-8,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,87}}</string>
        <key>sourceSize</key>
        <string>{69,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0321_0_0.png</string>
      <key>size</key>
      <string>{546,385}</string>
      <key>textureFileName</key>
      <string>monster_0321_0_0.png</string>
    </dict>
  </dict>
</plist>