<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0151_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,632},{125,135}}</string>
        <key>offset</key>
        <string>{-18,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,135}}</string>
        <key>sourceSize</key>
        <string>{125,135}</string>
      </dict>
      <key>monster_0151_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{139,176}}</string>
        <key>offset</key>
        <string>{-25,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,176}}</string>
        <key>sourceSize</key>
        <string>{139,176}</string>
      </dict>
      <key>monster_0151_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{174,183}}</string>
        <key>offset</key>
        <string>{-33,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,183}}</string>
        <key>sourceSize</key>
        <string>{174,183}</string>
      </dict>
      <key>monster_0151_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,202},{187,114}}</string>
        <key>offset</key>
        <string>{-36,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,114}}</string>
        <key>sourceSize</key>
        <string>{187,114}</string>
      </dict>
      <key>monster_0151_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{200,165}}</string>
        <key>offset</key>
        <string>{-48,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,165}}</string>
        <key>sourceSize</key>
        <string>{200,165}</string>
      </dict>
      <key>monster_0151_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,414},{194,181}}</string>
        <key>offset</key>
        <string>{-47,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,181}}</string>
        <key>sourceSize</key>
        <string>{194,181}</string>
      </dict>
      <key>monster_0151_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,414},{198,114}}</string>
        <key>offset</key>
        <string>{-43,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,114}}</string>
        <key>sourceSize</key>
        <string>{198,114}</string>
      </dict>
      <key>monster_0151_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{210,126}}</string>
        <key>offset</key>
        <string>{-28,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,126}}</string>
        <key>sourceSize</key>
        <string>{210,126}</string>
      </dict>
      <key>monster_0151_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{200,165}}</string>
        <key>offset</key>
        <string>{-20,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,165}}</string>
        <key>sourceSize</key>
        <string>{200,165}</string>
      </dict>
      <key>monster_0151_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,500},{157,130}}</string>
        <key>offset</key>
        <string>{-10,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,130}}</string>
        <key>sourceSize</key>
        <string>{157,130}</string>
      </dict>
      <key>monster_0151_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,202},{188,113}}</string>
        <key>offset</key>
        <string>{-38,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,113}}</string>
        <key>sourceSize</key>
        <string>{188,113}</string>
      </dict>
      <key>monster_0151_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,614},{195,123}}</string>
        <key>offset</key>
        <string>{-38,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,123}}</string>
        <key>sourceSize</key>
        <string>{195,123}</string>
      </dict>
      <key>monster_0151_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,765},{127,125}}</string>
        <key>offset</key>
        <string>{-33,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,125}}</string>
        <key>sourceSize</key>
        <string>{127,125}</string>
      </dict>
      <key>monster_0151_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,500},{131,126}}</string>
        <key>offset</key>
        <string>{-42,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,126}}</string>
        <key>sourceSize</key>
        <string>{131,126}</string>
      </dict>
      <key>monster_0151_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,176},{173,113}}</string>
        <key>offset</key>
        <string>{-77,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,113}}</string>
        <key>sourceSize</key>
        <string>{173,113}</string>
      </dict>
      <key>monster_0151_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,141},{175,126}}</string>
        <key>offset</key>
        <string>{-75,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,126}}</string>
        <key>sourceSize</key>
        <string>{175,126}</string>
      </dict>
      <key>monster_0151_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,500},{160,108}}</string>
        <key>offset</key>
        <string>{-51,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>monster_0151_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,390},{168,108}}</string>
        <key>offset</key>
        <string>{-58,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,108}}</string>
        <key>sourceSize</key>
        <string>{168,108}</string>
      </dict>
      <key>monster_0151_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{186,106}}</string>
        <key>offset</key>
        <string>{-79,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,106}}</string>
        <key>sourceSize</key>
        <string>{186,106}</string>
      </dict>
      <key>monster_0151_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,269},{173,119}}</string>
        <key>offset</key>
        <string>{-81,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,119}}</string>
        <key>sourceSize</key>
        <string>{173,119}</string>
      </dict>
      <key>monster_0151_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,610},{158,135}}</string>
        <key>offset</key>
        <string>{-74,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,135}}</string>
        <key>sourceSize</key>
        <string>{158,135}</string>
      </dict>
      <key>monster_0151_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,632},{152,129}}</string>
        <key>offset</key>
        <string>{-72,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,129}}</string>
        <key>sourceSize</key>
        <string>{152,129}</string>
      </dict>
      <key>monster_0151_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,291},{153,171}}</string>
        <key>offset</key>
        <string>{-50,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,171}}</string>
        <key>sourceSize</key>
        <string>{153,171}</string>
      </dict>
      <key>monster_0151_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,610},{153,180}}</string>
        <key>offset</key>
        <string>{-52,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,180}}</string>
        <key>sourceSize</key>
        <string>{153,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0151_0_7.png</string>
      <key>size</key>
      <string>{832,894}</string>
      <key>textureFileName</key>
      <string>monster_0151_0_7.png</string>
    </dict>
  </dict>
</plist>