<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0251_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,398},{80,124}}</string>
        <key>offset</key>
        <string>{-6,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,124}}</string>
        <key>sourceSize</key>
        <string>{80,124}</string>
      </dict>
      <key>monster_0251_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,318},{121,152}}</string>
        <key>offset</key>
        <string>{-3,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,152}}</string>
        <key>sourceSize</key>
        <string>{121,152}</string>
      </dict>
      <key>monster_0251_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,524},{123,159}}</string>
        <key>offset</key>
        <string>{-3,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,159}}</string>
        <key>sourceSize</key>
        <string>{123,159}</string>
      </dict>
      <key>monster_0251_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,325},{96,154}}</string>
        <key>offset</key>
        <string>{-3,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,154}}</string>
        <key>sourceSize</key>
        <string>{96,154}</string>
      </dict>
      <key>monster_0251_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,0},{91,100}}</string>
        <key>offset</key>
        <string>{-4,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,100}}</string>
        <key>sourceSize</key>
        <string>{91,100}</string>
      </dict>
      <key>monster_0251_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,685},{137,120}}</string>
        <key>offset</key>
        <string>{-9,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,120}}</string>
        <key>sourceSize</key>
        <string>{137,120}</string>
      </dict>
      <key>monster_0251_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,441},{134,151}}</string>
        <key>offset</key>
        <string>{-3,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,151}}</string>
        <key>sourceSize</key>
        <string>{134,151}</string>
      </dict>
      <key>monster_0251_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,577},{130,151}}</string>
        <key>offset</key>
        <string>{1,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,151}}</string>
        <key>sourceSize</key>
        <string>{130,151}</string>
      </dict>
      <key>monster_0251_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,192},{168,142}}</string>
        <key>offset</key>
        <string>{-3,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,142}}</string>
        <key>sourceSize</key>
        <string>{168,142}</string>
      </dict>
      <key>monster_0251_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,391},{179,75}}</string>
        <key>offset</key>
        <string>{-4,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,75}}</string>
        <key>sourceSize</key>
        <string>{179,75}</string>
      </dict>
      <key>monster_0251_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{190,94}}</string>
        <key>offset</key>
        <string>{-46,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,94}}</string>
        <key>sourceSize</key>
        <string>{190,94}</string>
      </dict>
      <key>monster_0251_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,398},{115,152}}</string>
        <key>offset</key>
        <string>{5,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,152}}</string>
        <key>sourceSize</key>
        <string>{115,152}</string>
      </dict>
      <key>monster_0251_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,89},{121,153}}</string>
        <key>offset</key>
        <string>{1,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,153}}</string>
        <key>sourceSize</key>
        <string>{121,153}</string>
      </dict>
      <key>monster_0251_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,197},{192,95}}</string>
        <key>offset</key>
        <string>{-14,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,95}}</string>
        <key>sourceSize</key>
        <string>{192,95}</string>
      </dict>
      <key>monster_0251_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,391},{181,61}}</string>
        <key>offset</key>
        <string>{-5,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,61}}</string>
        <key>sourceSize</key>
        <string>{181,61}</string>
      </dict>
      <key>monster_0251_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,650},{137,122}}</string>
        <key>offset</key>
        <string>{-42,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,122}}</string>
        <key>sourceSize</key>
        <string>{137,122}</string>
      </dict>
      <key>monster_0251_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,157},{86,154}}</string>
        <key>offset</key>
        <string>{7,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,154}}</string>
        <key>sourceSize</key>
        <string>{86,154}</string>
      </dict>
      <key>monster_0251_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{90,154}}</string>
        <key>offset</key>
        <string>{3,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,154}}</string>
        <key>sourceSize</key>
        <string>{90,154}</string>
      </dict>
      <key>monster_0251_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,572},{169,85}}</string>
        <key>offset</key>
        <string>{-46,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,85}}</string>
        <key>sourceSize</key>
        <string>{169,85}</string>
      </dict>
      <key>monster_0251_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,650},{118,103}}</string>
        <key>offset</key>
        <string>{-25,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,103}}</string>
        <key>sourceSize</key>
        <string>{118,103}</string>
      </dict>
      <key>monster_0251_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,730},{94,129}}</string>
        <key>offset</key>
        <string>{-5,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,129}}</string>
        <key>sourceSize</key>
        <string>{94,129}</string>
      </dict>
      <key>monster_0251_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,0},{92,153}}</string>
        <key>offset</key>
        <string>{-9,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,153}}</string>
        <key>sourceSize</key>
        <string>{92,153}</string>
      </dict>
      <key>monster_0251_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,155},{87,153}}</string>
        <key>offset</key>
        <string>{-12,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,153}}</string>
        <key>sourceSize</key>
        <string>{87,153}</string>
      </dict>
      <key>monster_0251_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,789},{109,86}}</string>
        <key>offset</key>
        <string>{-38,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,86}}</string>
        <key>sourceSize</key>
        <string>{109,86}</string>
      </dict>
      <key>monster_0251_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,755},{98,103}}</string>
        <key>offset</key>
        <string>{-39,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,103}}</string>
        <key>sourceSize</key>
        <string>{98,103}</string>
      </dict>
      <key>monster_0251_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,168},{155,103}}</string>
        <key>offset</key>
        <string>{-71,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,103}}</string>
        <key>sourceSize</key>
        <string>{155,103}</string>
      </dict>
      <key>monster_0251_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,212},{104,153}}</string>
        <key>offset</key>
        <string>{-23,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,153}}</string>
        <key>sourceSize</key>
        <string>{104,153}</string>
      </dict>
      <key>monster_0251_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,310},{86,153}}</string>
        <key>offset</key>
        <string>{-24,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,153}}</string>
        <key>sourceSize</key>
        <string>{86,153}</string>
      </dict>
      <key>monster_0251_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,757},{132,67}}</string>
        <key>offset</key>
        <string>{-80,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,67}}</string>
        <key>sourceSize</key>
        <string>{132,67}</string>
      </dict>
      <key>monster_0251_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,574},{180,65}}</string>
        <key>offset</key>
        <string>{-127,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,65}}</string>
        <key>sourceSize</key>
        <string>{180,65}</string>
      </dict>
      <key>monster_0251_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{195,93}}</string>
        <key>offset</key>
        <string>{-86,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,93}}</string>
        <key>sourceSize</key>
        <string>{195,93}</string>
      </dict>
      <key>monster_0251_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,0},{87,154}}</string>
        <key>offset</key>
        <string>{-12,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,154}}</string>
        <key>sourceSize</key>
        <string>{87,154}</string>
      </dict>
      <key>monster_0251_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,362},{75,157}}</string>
        <key>offset</key>
        <string>{-13,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,157}}</string>
        <key>sourceSize</key>
        <string>{75,157}</string>
      </dict>
      <key>monster_0251_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{155,105}}</string>
        <key>offset</key>
        <string>{-93,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,105}}</string>
        <key>sourceSize</key>
        <string>{155,105}</string>
      </dict>
      <key>monster_0251_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,574},{181,51}}</string>
        <key>offset</key>
        <string>{-128,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,51}}</string>
        <key>sourceSize</key>
        <string>{181,51}</string>
      </dict>
      <key>monster_0251_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,577},{142,103}}</string>
        <key>offset</key>
        <string>{-36,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,103}}</string>
        <key>sourceSize</key>
        <string>{142,103}</string>
      </dict>
      <key>monster_0251_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,362},{97,160}}</string>
        <key>offset</key>
        <string>{-5,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,160}}</string>
        <key>sourceSize</key>
        <string>{97,160}</string>
      </dict>
      <key>monster_0251_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{99,166}}</string>
        <key>offset</key>
        <string>{-8,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,166}}</string>
        <key>sourceSize</key>
        <string>{99,166}</string>
      </dict>
      <key>monster_0251_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,515},{133,141}}</string>
        <key>offset</key>
        <string>{-39,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,141}}</string>
        <key>sourceSize</key>
        <string>{133,141}</string>
      </dict>
      <key>monster_0251_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,524},{115,98}}</string>
        <key>offset</key>
        <string>{-42,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,98}}</string>
        <key>sourceSize</key>
        <string>{115,98}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0251_0_4.png</string>
      <key>size</key>
      <string>{862,879}</string>
      <key>textureFileName</key>
      <string>monster_0251_0_4.png</string>
    </dict>
  </dict>
</plist>