<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1006_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,0},{214,173}}</string>
        <key>offset</key>
        <string>{-75,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,173}}</string>
        <key>sourceSize</key>
        <string>{214,173}</string>
      </dict>
      <key>monster_1006_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,336},{195,196}}</string>
        <key>offset</key>
        <string>{-51,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,196}}</string>
        <key>sourceSize</key>
        <string>{195,196}</string>
      </dict>
      <key>monster_1006_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,336},{196,191}}</string>
        <key>offset</key>
        <string>{-54,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,191}}</string>
        <key>sourceSize</key>
        <string>{196,191}</string>
      </dict>
      <key>monster_1006_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,243},{239,165}}</string>
        <key>offset</key>
        <string>{-127,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,165}}</string>
        <key>sourceSize</key>
        <string>{239,165}</string>
      </dict>
      <key>monster_1006_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{250,164}}</string>
        <key>offset</key>
        <string>{-124,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,164}}</string>
        <key>sourceSize</key>
        <string>{250,164}</string>
      </dict>
      <key>monster_1006_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,252},{245,165}}</string>
        <key>offset</key>
        <string>{-124,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,165}}</string>
        <key>sourceSize</key>
        <string>{245,165}</string>
      </dict>
      <key>monster_1006_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,175},{203,159}}</string>
        <key>offset</key>
        <string>{-98,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,159}}</string>
        <key>sourceSize</key>
        <string>{203,159}</string>
      </dict>
      <key>monster_1006_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{241,151}}</string>
        <key>offset</key>
        <string>{-120,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,151}}</string>
        <key>sourceSize</key>
        <string>{241,151}</string>
      </dict>
      <key>monster_1006_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,0},{231,155}}</string>
        <key>offset</key>
        <string>{-116,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,155}}</string>
        <key>sourceSize</key>
        <string>{231,155}</string>
      </dict>
      <key>monster_1006_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,529},{178,147}}</string>
        <key>offset</key>
        <string>{-63,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,147}}</string>
        <key>sourceSize</key>
        <string>{178,147}</string>
      </dict>
      <key>monster_1006_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,534},{177,152}}</string>
        <key>offset</key>
        <string>{-55,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,152}}</string>
        <key>sourceSize</key>
        <string>{177,152}</string>
      </dict>
      <key>monster_1006_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,484},{178,148}}</string>
        <key>offset</key>
        <string>{-59,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,148}}</string>
        <key>sourceSize</key>
        <string>{178,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1006_0_7_1.png</string>
      <key>size</key>
      <string>{769,713}</string>
      <key>textureFileName</key>
      <string>monster_1006_0_7_1.png</string>
    </dict>
  </dict>
</plist>