<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1014_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,199},{200,215}}</string>
        <key>offset</key>
        <string>{-41,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,215}}</string>
        <key>sourceSize</key>
        <string>{200,215}</string>
      </dict>
      <key>monster_1014_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,981},{203,214}}</string>
        <key>offset</key>
        <string>{-48,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,214}}</string>
        <key>sourceSize</key>
        <string>{203,214}</string>
      </dict>
      <key>monster_1014_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,807},{202,208}}</string>
        <key>offset</key>
        <string>{-50,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,208}}</string>
        <key>sourceSize</key>
        <string>{202,208}</string>
      </dict>
      <key>monster_1014_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,1011},{199,202}}</string>
        <key>offset</key>
        <string>{-49,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,202}}</string>
        <key>sourceSize</key>
        <string>{199,202}</string>
      </dict>
      <key>monster_1014_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,609},{196,212}}</string>
        <key>offset</key>
        <string>{-45,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,212}}</string>
        <key>sourceSize</key>
        <string>{196,212}</string>
      </dict>
      <key>monster_1014_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,0},{197,216}}</string>
        <key>offset</key>
        <string>{-40,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,216}}</string>
        <key>sourceSize</key>
        <string>{197,216}</string>
      </dict>
      <key>monster_1014_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,1011},{201,208}}</string>
        <key>offset</key>
        <string>{-39,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,208}}</string>
        <key>sourceSize</key>
        <string>{201,208}</string>
      </dict>
      <key>monster_1014_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1278},{201,200}}</string>
        <key>offset</key>
        <string>{-38,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,200}}</string>
        <key>sourceSize</key>
        <string>{201,200}</string>
      </dict>
      <key>monster_1014_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,234},{214,218}}</string>
        <key>offset</key>
        <string>{-56,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,218}}</string>
        <key>sourceSize</key>
        <string>{214,218}</string>
      </dict>
      <key>monster_1014_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,753},{208,226}}</string>
        <key>offset</key>
        <string>{-49,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,226}}</string>
        <key>sourceSize</key>
        <string>{208,226}</string>
      </dict>
      <key>monster_1014_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,0},{209,218}}</string>
        <key>offset</key>
        <string>{-41,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,218}}</string>
        <key>sourceSize</key>
        <string>{209,218}</string>
      </dict>
      <key>monster_1014_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,676},{187,213}}</string>
        <key>offset</key>
        <string>{-41,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,213}}</string>
        <key>sourceSize</key>
        <string>{187,213}</string>
      </dict>
      <key>monster_1014_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,234},{173,219}}</string>
        <key>offset</key>
        <string>{-43,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,219}}</string>
        <key>sourceSize</key>
        <string>{173,219}</string>
      </dict>
      <key>monster_1014_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,486},{182,222}}</string>
        <key>offset</key>
        <string>{-38,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,222}}</string>
        <key>sourceSize</key>
        <string>{182,222}</string>
      </dict>
      <key>monster_1014_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,455},{178,219}}</string>
        <key>offset</key>
        <string>{-30,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,219}}</string>
        <key>sourceSize</key>
        <string>{178,219}</string>
      </dict>
      <key>monster_1014_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,401},{206,214}}</string>
        <key>offset</key>
        <string>{-50,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,214}}</string>
        <key>sourceSize</key>
        <string>{206,214}</string>
      </dict>
      <key>monster_1014_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,261},{255,219}}</string>
        <key>offset</key>
        <string>{-50,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,219}}</string>
        <key>sourceSize</key>
        <string>{255,219}</string>
      </dict>
      <key>monster_1014_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1040},{249,229}}</string>
        <key>offset</key>
        <string>{-48,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,229}}</string>
        <key>sourceSize</key>
        <string>{249,229}</string>
      </dict>
      <key>monster_1014_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,518},{225,233}}</string>
        <key>offset</key>
        <string>{-45,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,233}}</string>
        <key>sourceSize</key>
        <string>{225,233}</string>
      </dict>
      <key>monster_1014_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,1025},{181,238}}</string>
        <key>offset</key>
        <string>{-46,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,238}}</string>
        <key>sourceSize</key>
        <string>{181,238}</string>
      </dict>
      <key>monster_1014_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,780},{164,249}}</string>
        <key>offset</key>
        <string>{-49,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,249}}</string>
        <key>sourceSize</key>
        <string>{164,249}</string>
      </dict>
      <key>monster_1014_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,782},{171,256}}</string>
        <key>offset</key>
        <string>{-49,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,256}}</string>
        <key>sourceSize</key>
        <string>{171,256}</string>
      </dict>
      <key>monster_1014_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,252},{192,232}}</string>
        <key>offset</key>
        <string>{-46,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,232}}</string>
        <key>sourceSize</key>
        <string>{192,232}</string>
      </dict>
      <key>monster_1014_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,0},{232,224}}</string>
        <key>offset</key>
        <string>{-45,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,224}}</string>
        <key>sourceSize</key>
        <string>{232,224}</string>
      </dict>
      <key>monster_1014_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,780},{211,243}}</string>
        <key>offset</key>
        <string>{-44,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,243}}</string>
        <key>sourceSize</key>
        <string>{211,243}</string>
      </dict>
      <key>monster_1014_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,1031},{198,245}}</string>
        <key>offset</key>
        <string>{-35,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,245}}</string>
        <key>sourceSize</key>
        <string>{198,245}</string>
      </dict>
      <key>monster_1014_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,522},{167,258}}</string>
        <key>offset</key>
        <string>{-33,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,258}}</string>
        <key>sourceSize</key>
        <string>{167,258}</string>
      </dict>
      <key>monster_1014_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,522},{176,256}}</string>
        <key>offset</key>
        <string>{-45,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,256}}</string>
        <key>sourceSize</key>
        <string>{176,256}</string>
      </dict>
      <key>monster_1014_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{191,250}}</string>
        <key>offset</key>
        <string>{-54,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,250}}</string>
        <key>sourceSize</key>
        <string>{191,250}</string>
      </dict>
      <key>monster_1014_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,259}}</string>
        <key>offset</key>
        <string>{-47,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,259}}</string>
        <key>sourceSize</key>
        <string>{188,259}</string>
      </dict>
      <key>monster_1014_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{171,259}}</string>
        <key>offset</key>
        <string>{-42,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,259}}</string>
        <key>sourceSize</key>
        <string>{171,259}</string>
      </dict>
      <key>monster_1014_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{181,255}}</string>
        <key>offset</key>
        <string>{-41,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,255}}</string>
        <key>sourceSize</key>
        <string>{181,255}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1014_0_1_0.png</string>
      <key>size</key>
      <string>{1282,1480}</string>
      <key>textureFileName</key>
      <string>monster_1014_0_1_0.png</string>
    </dict>
  </dict>
</plist>