<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0206_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{73,102}}</string>
        <key>offset</key>
        <string>{3,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,102}}</string>
        <key>sourceSize</key>
        <string>{73,102}</string>
      </dict>
      <key>monster_0206_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{79,97}}</string>
        <key>offset</key>
        <string>{-6,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,97}}</string>
        <key>sourceSize</key>
        <string>{79,97}</string>
      </dict>
      <key>monster_0206_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,507},{81,97}}</string>
        <key>offset</key>
        <string>{-6,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,97}}</string>
        <key>sourceSize</key>
        <string>{81,97}</string>
      </dict>
      <key>monster_0206_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,290},{101,100}}</string>
        <key>offset</key>
        <string>{-5,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,100}}</string>
        <key>sourceSize</key>
        <string>{101,100}</string>
      </dict>
      <key>monster_0206_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,290},{100,95}}</string>
        <key>offset</key>
        <string>{-14,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,95}}</string>
        <key>sourceSize</key>
        <string>{100,95}</string>
      </dict>
      <key>monster_0206_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,116},{112,92}}</string>
        <key>offset</key>
        <string>{-19,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,92}}</string>
        <key>sourceSize</key>
        <string>{112,92}</string>
      </dict>
      <key>monster_0206_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,411},{122,94}}</string>
        <key>offset</key>
        <string>{-25,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,94}}</string>
        <key>sourceSize</key>
        <string>{122,94}</string>
      </dict>
      <key>monster_0206_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,280},{119,93}}</string>
        <key>offset</key>
        <string>{-38,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,93}}</string>
        <key>sourceSize</key>
        <string>{119,93}</string>
      </dict>
      <key>monster_0206_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,134},{117,97}}</string>
        <key>offset</key>
        <string>{-37,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,97}}</string>
        <key>sourceSize</key>
        <string>{117,97}</string>
      </dict>
      <key>monster_0206_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,116},{101,110}}</string>
        <key>offset</key>
        <string>{-23,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,110}}</string>
        <key>sourceSize</key>
        <string>{101,110}</string>
      </dict>
      <key>monster_0206_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{96,109}}</string>
        <key>offset</key>
        <string>{-27,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,109}}</string>
        <key>sourceSize</key>
        <string>{96,109}</string>
      </dict>
      <key>monster_0206_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,368},{87,112}}</string>
        <key>offset</key>
        <string>{-19,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,112}}</string>
        <key>sourceSize</key>
        <string>{87,112}</string>
      </dict>
      <key>monster_0206_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,253},{77,113}}</string>
        <key>offset</key>
        <string>{-1,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,113}}</string>
        <key>sourceSize</key>
        <string>{77,113}</string>
      </dict>
      <key>monster_0206_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,230},{78,111}}</string>
        <key>offset</key>
        <string>{-2,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,111}}</string>
        <key>sourceSize</key>
        <string>{78,111}</string>
      </dict>
      <key>monster_0206_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,98},{88,106}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,106}}</string>
        <key>sourceSize</key>
        <string>{88,106}</string>
      </dict>
      <key>monster_0206_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{114,98}}</string>
        <key>offset</key>
        <string>{-34,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,98}}</string>
        <key>sourceSize</key>
        <string>{114,98}</string>
      </dict>
      <key>monster_0206_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,401},{118,97}}</string>
        <key>offset</key>
        <string>{-25,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,97}}</string>
        <key>sourceSize</key>
        <string>{118,97}</string>
      </dict>
      <key>monster_0206_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{129,96}}</string>
        <key>offset</key>
        <string>{-32,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,96}}</string>
        <key>sourceSize</key>
        <string>{129,96}</string>
      </dict>
      <key>monster_0206_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{139,93}}</string>
        <key>offset</key>
        <string>{-35,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,93}}</string>
        <key>sourceSize</key>
        <string>{139,93}</string>
      </dict>
      <key>monster_0206_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,141},{137,98}}</string>
        <key>offset</key>
        <string>{-21,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,98}}</string>
        <key>sourceSize</key>
        <string>{137,98}</string>
      </dict>
      <key>monster_0206_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{132,98}}</string>
        <key>offset</key>
        <string>{-18,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,98}}</string>
        <key>sourceSize</key>
        <string>{132,98}</string>
      </dict>
      <key>monster_0206_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,188},{104,100}}</string>
        <key>offset</key>
        <string>{-1,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,100}}</string>
        <key>sourceSize</key>
        <string>{104,100}</string>
      </dict>
      <key>monster_0206_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,392},{101,97}}</string>
        <key>offset</key>
        <string>{4,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,97}}</string>
        <key>sourceSize</key>
        <string>{101,97}</string>
      </dict>
      <key>monster_0206_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,387},{91,98}}</string>
        <key>offset</key>
        <string>{6,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,98}}</string>
        <key>sourceSize</key>
        <string>{91,98}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0206_0_7.png</string>
      <key>size</key>
      <string>{562,608}</string>
      <key>textureFileName</key>
      <string>monster_0206_0_7.png</string>
    </dict>
  </dict>
</plist>