<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0180_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,120},{79,117}}</string>
        <key>offset</key>
        <string>{-17,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,117}}</string>
        <key>sourceSize</key>
        <string>{79,117}</string>
      </dict>
      <key>monster_0180_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,506},{80,119}}</string>
        <key>offset</key>
        <string>{-17,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,119}}</string>
        <key>sourceSize</key>
        <string>{80,119}</string>
      </dict>
      <key>monster_0180_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,423},{81,119}}</string>
        <key>offset</key>
        <string>{-17,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,119}}</string>
        <key>sourceSize</key>
        <string>{81,119}</string>
      </dict>
      <key>monster_0180_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,506},{82,118}}</string>
        <key>offset</key>
        <string>{-17,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,118}}</string>
        <key>sourceSize</key>
        <string>{82,118}</string>
      </dict>
      <key>monster_0180_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,674},{83,119}}</string>
        <key>offset</key>
        <string>{-17,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,119}}</string>
        <key>sourceSize</key>
        <string>{83,119}</string>
      </dict>
      <key>monster_0180_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,799},{84,118}}</string>
        <key>offset</key>
        <string>{-17,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,118}}</string>
        <key>sourceSize</key>
        <string>{84,118}</string>
      </dict>
      <key>monster_0180_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,326},{84,119}}</string>
        <key>offset</key>
        <string>{-17,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,119}}</string>
        <key>sourceSize</key>
        <string>{84,119}</string>
      </dict>
      <key>monster_0180_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,0},{82,118}}</string>
        <key>offset</key>
        <string>{-17,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,118}}</string>
        <key>sourceSize</key>
        <string>{82,118}</string>
      </dict>
      <key>monster_0180_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{176,91}}</string>
        <key>offset</key>
        <string>{-56,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,91}}</string>
        <key>sourceSize</key>
        <string>{176,91}</string>
      </dict>
      <key>monster_0180_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,428},{173,93}}</string>
        <key>offset</key>
        <string>{-53,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,93}}</string>
        <key>sourceSize</key>
        <string>{173,93}</string>
      </dict>
      <key>monster_0180_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{172,95}}</string>
        <key>offset</key>
        <string>{-50,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,95}}</string>
        <key>sourceSize</key>
        <string>{172,95}</string>
      </dict>
      <key>monster_0180_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,698},{168,96}}</string>
        <key>offset</key>
        <string>{-45,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,96}}</string>
        <key>sourceSize</key>
        <string>{168,96}</string>
      </dict>
      <key>monster_0180_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,169},{166,98}}</string>
        <key>offset</key>
        <string>{-42,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,98}}</string>
        <key>sourceSize</key>
        <string>{166,98}</string>
      </dict>
      <key>monster_0180_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,517},{168,97}}</string>
        <key>offset</key>
        <string>{-45,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,97}}</string>
        <key>sourceSize</key>
        <string>{168,97}</string>
      </dict>
      <key>monster_0180_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,174},{170,96}}</string>
        <key>offset</key>
        <string>{-49,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,96}}</string>
        <key>sourceSize</key>
        <string>{170,96}</string>
      </dict>
      <key>monster_0180_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,603},{172,94}}</string>
        <key>offset</key>
        <string>{-52,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,94}}</string>
        <key>sourceSize</key>
        <string>{172,94}</string>
      </dict>
      <key>monster_0180_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,431},{212,49}}</string>
        <key>offset</key>
        <string>{-71,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,49}}</string>
        <key>sourceSize</key>
        <string>{212,49}</string>
      </dict>
      <key>monster_0180_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,215},{212,51}}</string>
        <key>offset</key>
        <string>{-70,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,51}}</string>
        <key>sourceSize</key>
        <string>{212,51}</string>
      </dict>
      <key>monster_0180_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{214,55}}</string>
        <key>offset</key>
        <string>{-70,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,55}}</string>
        <key>sourceSize</key>
        <string>{214,55}</string>
      </dict>
      <key>monster_0180_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{214,55}}</string>
        <key>offset</key>
        <string>{-68,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,55}}</string>
        <key>sourceSize</key>
        <string>{214,55}</string>
      </dict>
      <key>monster_0180_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,432},{214,55}}</string>
        <key>offset</key>
        <string>{-68,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,55}}</string>
        <key>sourceSize</key>
        <string>{214,55}</string>
      </dict>
      <key>monster_0180_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,216},{213,54}}</string>
        <key>offset</key>
        <string>{-68,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,54}}</string>
        <key>sourceSize</key>
        <string>{213,54}</string>
      </dict>
      <key>monster_0180_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,648},{214,52}}</string>
        <key>offset</key>
        <string>{-71,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,52}}</string>
        <key>sourceSize</key>
        <string>{214,52}</string>
      </dict>
      <key>monster_0180_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{212,51}}</string>
        <key>offset</key>
        <string>{-70,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,51}}</string>
        <key>sourceSize</key>
        <string>{212,51}</string>
      </dict>
      <key>monster_0180_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,337},{155,106}}</string>
        <key>offset</key>
        <string>{-39,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,106}}</string>
        <key>sourceSize</key>
        <string>{155,106}</string>
      </dict>
      <key>monster_0180_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,0},{161,104}}</string>
        <key>offset</key>
        <string>{-44,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,104}}</string>
        <key>sourceSize</key>
        <string>{161,104}</string>
      </dict>
      <key>monster_0180_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,513},{167,101}}</string>
        <key>offset</key>
        <string>{-48,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,101}}</string>
        <key>sourceSize</key>
        <string>{167,101}</string>
      </dict>
      <key>monster_0180_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,527},{169,99}}</string>
        <key>offset</key>
        <string>{-49,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,99}}</string>
        <key>sourceSize</key>
        <string>{169,99}</string>
      </dict>
      <key>monster_0180_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,346},{169,97}}</string>
        <key>offset</key>
        <string>{-49,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,97}}</string>
        <key>sourceSize</key>
        <string>{169,97}</string>
      </dict>
      <key>monster_0180_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,343},{168,99}}</string>
        <key>offset</key>
        <string>{-49,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,99}}</string>
        <key>sourceSize</key>
        <string>{168,99}</string>
      </dict>
      <key>monster_0180_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,341},{167,101}}</string>
        <key>offset</key>
        <string>{-49,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,101}}</string>
        <key>sourceSize</key>
        <string>{167,101}</string>
      </dict>
      <key>monster_0180_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,163},{161,103}}</string>
        <key>offset</key>
        <string>{-45,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,103}}</string>
        <key>sourceSize</key>
        <string>{161,103}</string>
      </dict>
      <key>monster_0180_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,674},{79,123}}</string>
        <key>offset</key>
        <string>{-16,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,123}}</string>
        <key>sourceSize</key>
        <string>{79,123}</string>
      </dict>
      <key>monster_0180_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,801},{80,125}}</string>
        <key>offset</key>
        <string>{-17,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,125}}</string>
        <key>sourceSize</key>
        <string>{80,125}</string>
      </dict>
      <key>monster_0180_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,423},{81,126}}</string>
        <key>offset</key>
        <string>{-18,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,126}}</string>
        <key>sourceSize</key>
        <string>{81,126}</string>
      </dict>
      <key>monster_0180_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,506},{82,125}}</string>
        <key>offset</key>
        <string>{-19,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,125}}</string>
        <key>sourceSize</key>
        <string>{82,125}</string>
      </dict>
      <key>monster_0180_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,674},{83,123}}</string>
        <key>offset</key>
        <string>{-20,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,123}}</string>
        <key>sourceSize</key>
        <string>{83,123}</string>
      </dict>
      <key>monster_0180_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,673},{84,126}}</string>
        <key>offset</key>
        <string>{-21,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,126}}</string>
        <key>sourceSize</key>
        <string>{84,126}</string>
      </dict>
      <key>monster_0180_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,168},{84,127}}</string>
        <key>offset</key>
        <string>{-21,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,127}}</string>
        <key>sourceSize</key>
        <string>{84,127}</string>
      </dict>
      <key>monster_0180_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,590},{82,125}}</string>
        <key>offset</key>
        <string>{-19,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,125}}</string>
        <key>sourceSize</key>
        <string>{82,125}</string>
      </dict>
      <key>monster_0180_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,643},{176,93}}</string>
        <key>offset</key>
        <string>{-74,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,93}}</string>
        <key>sourceSize</key>
        <string>{176,93}</string>
      </dict>
      <key>monster_0180_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,178},{173,95}}</string>
        <key>offset</key>
        <string>{-74,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,95}}</string>
        <key>sourceSize</key>
        <string>{173,95}</string>
      </dict>
      <key>monster_0180_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,777},{172,97}}</string>
        <key>offset</key>
        <string>{-76,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,97}}</string>
        <key>sourceSize</key>
        <string>{172,97}</string>
      </dict>
      <key>monster_0180_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,171},{168,100}}</string>
        <key>offset</key>
        <string>{-77,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,100}}</string>
        <key>sourceSize</key>
        <string>{168,100}</string>
      </dict>
      <key>monster_0180_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,0},{166,100}}</string>
        <key>offset</key>
        <string>{-78,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,100}}</string>
        <key>sourceSize</key>
        <string>{166,100}</string>
      </dict>
      <key>monster_0180_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,0},{168,99}}</string>
        <key>offset</key>
        <string>{-77,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,99}}</string>
        <key>sourceSize</key>
        <string>{168,99}</string>
      </dict>
      <key>monster_0180_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{170,97}}</string>
        <key>offset</key>
        <string>{-75,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,97}}</string>
        <key>sourceSize</key>
        <string>{170,97}</string>
      </dict>
      <key>monster_0180_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,353},{172,95}}</string>
        <key>offset</key>
        <string>{-74,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,95}}</string>
        <key>sourceSize</key>
        <string>{172,95}</string>
      </dict>
      <key>monster_0180_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,645},{212,49}}</string>
        <key>offset</key>
        <string>{-95,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,49}}</string>
        <key>sourceSize</key>
        <string>{212,49}</string>
      </dict>
      <key>monster_0180_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,429},{212,49}}</string>
        <key>offset</key>
        <string>{-96,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,49}}</string>
        <key>sourceSize</key>
        <string>{212,49}</string>
      </dict>
      <key>monster_0180_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,648},{214,48}}</string>
        <key>offset</key>
        <string>{-98,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,48}}</string>
        <key>sourceSize</key>
        <string>{214,48}</string>
      </dict>
      <key>monster_0180_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{213,49}}</string>
        <key>offset</key>
        <string>{-99,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,49}}</string>
        <key>sourceSize</key>
        <string>{213,49}</string>
      </dict>
      <key>monster_0180_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,0},{214,50}}</string>
        <key>offset</key>
        <string>{-100,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,50}}</string>
        <key>sourceSize</key>
        <string>{214,50}</string>
      </dict>
      <key>monster_0180_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,431},{213,51}}</string>
        <key>offset</key>
        <string>{-99,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,51}}</string>
        <key>sourceSize</key>
        <string>{213,51}</string>
      </dict>
      <key>monster_0180_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,646},{213,52}}</string>
        <key>offset</key>
        <string>{-97,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,52}}</string>
        <key>sourceSize</key>
        <string>{213,52}</string>
      </dict>
      <key>monster_0180_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,214},{212,49}}</string>
        <key>offset</key>
        <string>{-96,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,49}}</string>
        <key>sourceSize</key>
        <string>{212,49}</string>
      </dict>
      <key>monster_0180_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,326},{154,95}}</string>
        <key>offset</key>
        <string>{-69,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,95}}</string>
        <key>sourceSize</key>
        <string>{154,95}</string>
      </dict>
      <key>monster_0180_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,682},{161,95}}</string>
        <key>offset</key>
        <string>{-71,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,95}}</string>
        <key>sourceSize</key>
        <string>{161,95}</string>
      </dict>
      <key>monster_0180_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,170},{167,94}}</string>
        <key>offset</key>
        <string>{-73,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,94}}</string>
        <key>sourceSize</key>
        <string>{167,94}</string>
      </dict>
      <key>monster_0180_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,172},{169,91}}</string>
        <key>offset</key>
        <string>{-74,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,91}}</string>
        <key>sourceSize</key>
        <string>{169,91}</string>
      </dict>
      <key>monster_0180_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{169,90}}</string>
        <key>offset</key>
        <string>{-74,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,90}}</string>
        <key>sourceSize</key>
        <string>{169,90}</string>
      </dict>
      <key>monster_0180_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,687},{168,92}}</string>
        <key>offset</key>
        <string>{-73,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,92}}</string>
        <key>sourceSize</key>
        <string>{168,92}</string>
      </dict>
      <key>monster_0180_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,0},{167,93}}</string>
        <key>offset</key>
        <string>{-72,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,93}}</string>
        <key>sourceSize</key>
        <string>{167,93}</string>
      </dict>
      <key>monster_0180_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,510},{161,95}}</string>
        <key>offset</key>
        <string>{-70,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,95}}</string>
        <key>sourceSize</key>
        <string>{161,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0180_0_1.png</string>
      <key>size</key>
      <string>{1105,898}</string>
      <key>textureFileName</key>
      <string>monster_0180_0_1.png</string>
    </dict>
  </dict>
</plist>