<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0330_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{134,74}}</string>
        <key>offset</key>
        <string>{-27,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,74}}</string>
        <key>sourceSize</key>
        <string>{134,74}</string>
      </dict>
      <key>monster_0330_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,112},{106,93}}</string>
        <key>offset</key>
        <string>{-28,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,93}}</string>
        <key>sourceSize</key>
        <string>{106,93}</string>
      </dict>
      <key>monster_0330_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,679},{123,82}}</string>
        <key>offset</key>
        <string>{-27,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,82}}</string>
        <key>sourceSize</key>
        <string>{123,82}</string>
      </dict>
      <key>monster_0330_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,118},{112,86}}</string>
        <key>offset</key>
        <string>{-15,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,86}}</string>
        <key>sourceSize</key>
        <string>{112,86}</string>
      </dict>
      <key>monster_0330_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,243},{82,83}}</string>
        <key>offset</key>
        <string>{1,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,83}}</string>
        <key>sourceSize</key>
        <string>{82,83}</string>
      </dict>
      <key>monster_0330_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,598},{82,94}}</string>
        <key>offset</key>
        <string>{-13,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,94}}</string>
        <key>sourceSize</key>
        <string>{82,94}</string>
      </dict>
      <key>monster_0330_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,0},{93,106}}</string>
        <key>offset</key>
        <string>{-25,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,106}}</string>
        <key>sourceSize</key>
        <string>{93,106}</string>
      </dict>
      <key>monster_0330_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,0},{112,86}}</string>
        <key>offset</key>
        <string>{-27,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,86}}</string>
        <key>sourceSize</key>
        <string>{112,86}</string>
      </dict>
      <key>monster_0330_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,134},{117,88}}</string>
        <key>offset</key>
        <string>{-39,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,88}}</string>
        <key>sourceSize</key>
        <string>{117,88}</string>
      </dict>
      <key>monster_0330_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,252},{71,101}}</string>
        <key>offset</key>
        <string>{-13,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,101}}</string>
        <key>sourceSize</key>
        <string>{71,101}</string>
      </dict>
      <key>monster_0330_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,682},{86,93}}</string>
        <key>offset</key>
        <string>{-25,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,93}}</string>
        <key>sourceSize</key>
        <string>{86,93}</string>
      </dict>
      <key>monster_0330_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,608},{109,95}}</string>
        <key>offset</key>
        <string>{-39,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,95}}</string>
        <key>sourceSize</key>
        <string>{109,95}</string>
      </dict>
      <key>monster_0330_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,250},{81,88}}</string>
        <key>offset</key>
        <string>{-2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,88}}</string>
        <key>sourceSize</key>
        <string>{81,88}</string>
      </dict>
      <key>monster_0330_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,430},{88,91}}</string>
        <key>offset</key>
        <string>{-11,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,91}}</string>
        <key>sourceSize</key>
        <string>{88,91}</string>
      </dict>
      <key>monster_0330_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,0},{90,106}}</string>
        <key>offset</key>
        <string>{-21,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,106}}</string>
        <key>sourceSize</key>
        <string>{90,106}</string>
      </dict>
      <key>monster_0330_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,0},{64,92}}</string>
        <key>offset</key>
        <string>{-1,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,92}}</string>
        <key>sourceSize</key>
        <string>{64,92}</string>
      </dict>
      <key>monster_0330_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,325},{71,100}}</string>
        <key>offset</key>
        <string>{-14,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,100}}</string>
        <key>sourceSize</key>
        <string>{71,100}</string>
      </dict>
      <key>monster_0330_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,395},{119,82}}</string>
        <key>offset</key>
        <string>{-41,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,82}}</string>
        <key>sourceSize</key>
        <string>{119,82}</string>
      </dict>
      <key>monster_0330_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,682},{83,92}}</string>
        <key>offset</key>
        <string>{-26,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,92}}</string>
        <key>sourceSize</key>
        <string>{83,92}</string>
      </dict>
      <key>monster_0330_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,66},{90,87}}</string>
        <key>offset</key>
        <string>{-26,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,87}}</string>
        <key>sourceSize</key>
        <string>{90,87}</string>
      </dict>
      <key>monster_0330_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,518},{96,78}}</string>
        <key>offset</key>
        <string>{-17,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,78}}</string>
        <key>sourceSize</key>
        <string>{96,78}</string>
      </dict>
      <key>monster_0330_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,633},{114,76}}</string>
        <key>offset</key>
        <string>{-18,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,76}}</string>
        <key>sourceSize</key>
        <string>{114,76}</string>
      </dict>
      <key>monster_0330_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,286},{132,87}}</string>
        <key>offset</key>
        <string>{-27,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,87}}</string>
        <key>sourceSize</key>
        <string>{132,87}</string>
      </dict>
      <key>monster_0330_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,257},{119,76}}</string>
        <key>offset</key>
        <string>{-21,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,76}}</string>
        <key>sourceSize</key>
        <string>{119,76}</string>
      </dict>
      <key>monster_0330_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,232},{110,87}}</string>
        <key>offset</key>
        <string>{-38,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,87}}</string>
        <key>sourceSize</key>
        <string>{110,87}</string>
      </dict>
      <key>monster_0330_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{135,74}}</string>
        <key>offset</key>
        <string>{-31,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,74}}</string>
        <key>sourceSize</key>
        <string>{135,74}</string>
      </dict>
      <key>monster_0330_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,368},{111,80}}</string>
        <key>offset</key>
        <string>{-40,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,80}}</string>
        <key>sourceSize</key>
        <string>{111,80}</string>
      </dict>
      <key>monster_0330_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,226},{108,82}}</string>
        <key>offset</key>
        <string>{-45,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,82}}</string>
        <key>sourceSize</key>
        <string>{108,82}</string>
      </dict>
      <key>monster_0330_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,92},{106,77}}</string>
        <key>offset</key>
        <string>{-27,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,77}}</string>
        <key>sourceSize</key>
        <string>{106,77}</string>
      </dict>
      <key>monster_0330_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,171},{106,79}}</string>
        <key>offset</key>
        <string>{-10,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,79}}</string>
        <key>sourceSize</key>
        <string>{106,79}</string>
      </dict>
      <key>monster_0330_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,551},{126,90}}</string>
        <key>offset</key>
        <string>{-8,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,90}}</string>
        <key>sourceSize</key>
        <string>{126,90}</string>
      </dict>
      <key>monster_0330_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,137},{132,86}}</string>
        <key>offset</key>
        <string>{-19,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,86}}</string>
        <key>sourceSize</key>
        <string>{132,86}</string>
      </dict>
      <key>monster_0330_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{135,71}}</string>
        <key>offset</key>
        <string>{-33,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,71}}</string>
        <key>sourceSize</key>
        <string>{135,71}</string>
      </dict>
      <key>monster_0330_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,252},{101,84}}</string>
        <key>offset</key>
        <string>{0,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,84}}</string>
        <key>sourceSize</key>
        <string>{101,84}</string>
      </dict>
      <key>monster_0330_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,134},{121,77}}</string>
        <key>offset</key>
        <string>{-21,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,77}}</string>
        <key>sourceSize</key>
        <string>{121,77}</string>
      </dict>
      <key>monster_0330_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,378},{114,81}}</string>
        <key>offset</key>
        <string>{-25,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,81}}</string>
        <key>sourceSize</key>
        <string>{114,81}</string>
      </dict>
      <key>monster_0330_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,158},{83,84}}</string>
        <key>offset</key>
        <string>{-7,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,84}}</string>
        <key>sourceSize</key>
        <string>{83,84}</string>
      </dict>
      <key>monster_0330_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,691},{74,91}}</string>
        <key>offset</key>
        <string>{11,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
      <key>monster_0330_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,481},{84,109}}</string>
        <key>offset</key>
        <string>{16,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,109}}</string>
        <key>sourceSize</key>
        <string>{84,109}</string>
      </dict>
      <key>monster_0330_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,516},{97,115}}</string>
        <key>offset</key>
        <string>{-5,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,115}}</string>
        <key>sourceSize</key>
        <string>{97,115}</string>
      </dict>
      <key>monster_0330_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,253},{113,82}}</string>
        <key>offset</key>
        <string>{-1,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,82}}</string>
        <key>sourceSize</key>
        <string>{113,82}</string>
      </dict>
      <key>monster_0330_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,355},{73,100}}</string>
        <key>offset</key>
        <string>{12,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,100}}</string>
        <key>sourceSize</key>
        <string>{73,100}</string>
      </dict>
      <key>monster_0330_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,158},{90,88}}</string>
        <key>offset</key>
        <string>{11,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,88}}</string>
        <key>sourceSize</key>
        <string>{90,88}</string>
      </dict>
      <key>monster_0330_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,430},{100,86}}</string>
        <key>offset</key>
        <string>{13,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,86}}</string>
        <key>sourceSize</key>
        <string>{100,86}</string>
      </dict>
      <key>monster_0330_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,340},{80,88}}</string>
        <key>offset</key>
        <string>{0,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,88}}</string>
        <key>sourceSize</key>
        <string>{80,88}</string>
      </dict>
      <key>monster_0330_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,598},{82,89}}</string>
        <key>offset</key>
        <string>{-1,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>monster_0330_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,114},{86,110}}</string>
        <key>offset</key>
        <string>{9,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,110}}</string>
        <key>sourceSize</key>
        <string>{86,110}</string>
      </dict>
      <key>monster_0330_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,271},{67,122}}</string>
        <key>offset</key>
        <string>{15,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,122}}</string>
        <key>sourceSize</key>
        <string>{67,122}</string>
      </dict>
      <key>monster_0330_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,561},{75,97}}</string>
        <key>offset</key>
        <string>{13,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,97}}</string>
        <key>sourceSize</key>
        <string>{75,97}</string>
      </dict>
      <key>monster_0330_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{116,90}}</string>
        <key>offset</key>
        <string>{-3,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,90}}</string>
        <key>sourceSize</key>
        <string>{116,90}</string>
      </dict>
      <key>monster_0330_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,518},{78,96}}</string>
        <key>offset</key>
        <string>{16,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,96}}</string>
        <key>sourceSize</key>
        <string>{78,96}</string>
      </dict>
      <key>monster_0330_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,682},{85,89}}</string>
        <key>offset</key>
        <string>{16,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,89}}</string>
        <key>sourceSize</key>
        <string>{85,89}</string>
      </dict>
      <key>monster_0330_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,660},{97,76}}</string>
        <key>offset</key>
        <string>{-5,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,76}}</string>
        <key>sourceSize</key>
        <string>{97,76}</string>
      </dict>
      <key>monster_0330_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,494},{112,80}}</string>
        <key>offset</key>
        <string>{-18,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,80}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_0330_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,559},{130,94}}</string>
        <key>offset</key>
        <string>{-23,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,94}}</string>
        <key>sourceSize</key>
        <string>{130,94}</string>
      </dict>
      <key>monster_0330_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{132,104}}</string>
        <key>offset</key>
        <string>{-27,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,104}}</string>
        <key>sourceSize</key>
        <string>{132,104}</string>
      </dict>
      <key>monster_0330_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,592},{105,91}}</string>
        <key>offset</key>
        <string>{6,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,91}}</string>
        <key>sourceSize</key>
        <string>{105,91}</string>
      </dict>
      <key>monster_0330_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{136,80}}</string>
        <key>offset</key>
        <string>{-32,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,80}}</string>
        <key>sourceSize</key>
        <string>{136,80}</string>
      </dict>
      <key>monster_0330_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{110,85}}</string>
        <key>offset</key>
        <string>{1,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,85}}</string>
        <key>sourceSize</key>
        <string>{110,85}</string>
      </dict>
      <key>monster_0330_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,336},{103,96}}</string>
        <key>offset</key>
        <string>{14,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,96}}</string>
        <key>sourceSize</key>
        <string>{103,96}</string>
      </dict>
      <key>monster_0330_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,344},{109,79}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,79}}</string>
        <key>sourceSize</key>
        <string>{109,79}</string>
      </dict>
      <key>monster_0330_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,455},{104,81}}</string>
        <key>offset</key>
        <string>{-19,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,81}}</string>
        <key>sourceSize</key>
        <string>{104,81}</string>
      </dict>
      <key>monster_0330_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,420},{129,84}}</string>
        <key>offset</key>
        <string>{-37,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,84}}</string>
        <key>sourceSize</key>
        <string>{129,84}</string>
      </dict>
      <key>monster_0330_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{146,75}}</string>
        <key>offset</key>
        <string>{-42,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,75}}</string>
        <key>sourceSize</key>
        <string>{146,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0330_0_2.png</string>
      <key>size</key>
      <string>{936,772}</string>
      <key>textureFileName</key>
      <string>monster_0330_0_2.png</string>
    </dict>
  </dict>
</plist>