<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0153_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,155},{94,132}}</string>
        <key>offset</key>
        <string>{-15,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,132}}</string>
        <key>sourceSize</key>
        <string>{94,132}</string>
      </dict>
      <key>monster_0153_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,456},{94,126}}</string>
        <key>offset</key>
        <string>{-9,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,126}}</string>
        <key>sourceSize</key>
        <string>{94,126}</string>
      </dict>
      <key>monster_0153_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,154},{99,141}}</string>
        <key>offset</key>
        <string>{-14,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,141}}</string>
        <key>sourceSize</key>
        <string>{99,141}</string>
      </dict>
      <key>monster_0153_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{170,119}}</string>
        <key>offset</key>
        <string>{-46,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,119}}</string>
        <key>sourceSize</key>
        <string>{170,119}</string>
      </dict>
      <key>monster_0153_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,0},{156,108}}</string>
        <key>offset</key>
        <string>{-46,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,108}}</string>
        <key>sourceSize</key>
        <string>{156,108}</string>
      </dict>
      <key>monster_0153_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,344},{162,127}}</string>
        <key>offset</key>
        <string>{-46,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,127}}</string>
        <key>sourceSize</key>
        <string>{162,127}</string>
      </dict>
      <key>monster_0153_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{196,87}}</string>
        <key>offset</key>
        <string>{-71,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,87}}</string>
        <key>sourceSize</key>
        <string>{196,87}</string>
      </dict>
      <key>monster_0153_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{179,91}}</string>
        <key>offset</key>
        <string>{-71,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,91}}</string>
        <key>sourceSize</key>
        <string>{179,91}</string>
      </dict>
      <key>monster_0153_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,379},{170,112}}</string>
        <key>offset</key>
        <string>{-71,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,112}}</string>
        <key>sourceSize</key>
        <string>{170,112}</string>
      </dict>
      <key>monster_0153_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,0},{152,99}}</string>
        <key>offset</key>
        <string>{-53,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,99}}</string>
        <key>sourceSize</key>
        <string>{152,99}</string>
      </dict>
      <key>monster_0153_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,297},{133,104}}</string>
        <key>offset</key>
        <string>{-53,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,104}}</string>
        <key>sourceSize</key>
        <string>{133,104}</string>
      </dict>
      <key>monster_0153_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,508},{138,122}}</string>
        <key>offset</key>
        <string>{-53,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,122}}</string>
        <key>sourceSize</key>
        <string>{138,122}</string>
      </dict>
      <key>monster_0153_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,513},{94,115}}</string>
        <key>offset</key>
        <string>{-33,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,115}}</string>
        <key>sourceSize</key>
        <string>{94,115}</string>
      </dict>
      <key>monster_0153_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,513},{94,106}}</string>
        <key>offset</key>
        <string>{-39,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,106}}</string>
        <key>sourceSize</key>
        <string>{94,106}</string>
      </dict>
      <key>monster_0153_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{98,106}}</string>
        <key>offset</key>
        <string>{-39,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,106}}</string>
        <key>sourceSize</key>
        <string>{98,106}</string>
      </dict>
      <key>monster_0153_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,172},{170,88}}</string>
        <key>offset</key>
        <string>{-78,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,88}}</string>
        <key>sourceSize</key>
        <string>{170,88}</string>
      </dict>
      <key>monster_0153_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,158},{156,88}}</string>
        <key>offset</key>
        <string>{-64,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,88}}</string>
        <key>sourceSize</key>
        <string>{156,88}</string>
      </dict>
      <key>monster_0153_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,172},{162,93}}</string>
        <key>offset</key>
        <string>{-70,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,93}}</string>
        <key>sourceSize</key>
        <string>{162,93}</string>
      </dict>
      <key>monster_0153_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{196,69}}</string>
        <key>offset</key>
        <string>{-79,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,69}}</string>
        <key>sourceSize</key>
        <string>{196,69}</string>
      </dict>
      <key>monster_0153_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,198},{179,73}}</string>
        <key>offset</key>
        <string>{-62,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,73}}</string>
        <key>sourceSize</key>
        <string>{179,73}</string>
      </dict>
      <key>monster_0153_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{170,85}}</string>
        <key>offset</key>
        <string>{-53,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,85}}</string>
        <key>sourceSize</key>
        <string>{170,85}</string>
      </dict>
      <key>monster_0153_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{153,112}}</string>
        <key>offset</key>
        <string>{-54,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,112}}</string>
        <key>sourceSize</key>
        <string>{153,112}</string>
      </dict>
      <key>monster_0153_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,403},{133,108}}</string>
        <key>offset</key>
        <string>{-34,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,108}}</string>
        <key>sourceSize</key>
        <string>{133,108}</string>
      </dict>
      <key>monster_0153_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,316},{138,127}}</string>
        <key>offset</key>
        <string>{-39,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,127}}</string>
        <key>sourceSize</key>
        <string>{138,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0153_0_7.png</string>
      <key>size</key>
      <string>{738,642}</string>
      <key>textureFileName</key>
      <string>monster_0153_0_7.png</string>
    </dict>
  </dict>
</plist>