<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0474_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,512},{119,113}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,113}}</string>
        <key>sourceSize</key>
        <string>{119,113}</string>
      </dict>
      <key>monster_0474_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,363},{118,112}}</string>
        <key>offset</key>
        <string>{-5,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,112}}</string>
        <key>sourceSize</key>
        <string>{118,112}</string>
      </dict>
      <key>monster_0474_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,633},{119,112}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,112}}</string>
        <key>sourceSize</key>
        <string>{119,112}</string>
      </dict>
      <key>monster_0474_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,633},{119,113}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,113}}</string>
        <key>sourceSize</key>
        <string>{119,113}</string>
      </dict>
      <key>monster_0474_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{119,113}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,113}}</string>
        <key>sourceSize</key>
        <string>{119,113}</string>
      </dict>
      <key>monster_0474_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,121},{119,113}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,113}}</string>
        <key>sourceSize</key>
        <string>{119,113}</string>
      </dict>
      <key>monster_0474_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,242},{118,105}}</string>
        <key>offset</key>
        <string>{3,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,105}}</string>
        <key>sourceSize</key>
        <string>{118,105}</string>
      </dict>
      <key>monster_0474_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,482},{117,105}}</string>
        <key>offset</key>
        <string>{4,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,105}}</string>
        <key>sourceSize</key>
        <string>{117,105}</string>
      </dict>
      <key>monster_0474_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,601},{117,105}}</string>
        <key>offset</key>
        <string>{4,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,105}}</string>
        <key>sourceSize</key>
        <string>{117,105}</string>
      </dict>
      <key>monster_0474_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,483},{118,105}}</string>
        <key>offset</key>
        <string>{3,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,105}}</string>
        <key>sourceSize</key>
        <string>{118,105}</string>
      </dict>
      <key>monster_0474_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,242},{119,106}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,106}}</string>
        <key>sourceSize</key>
        <string>{119,106}</string>
      </dict>
      <key>monster_0474_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,362},{118,105}}</string>
        <key>offset</key>
        <string>{3,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,105}}</string>
        <key>sourceSize</key>
        <string>{118,105}</string>
      </dict>
      <key>monster_0474_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,314},{97,101}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,101}}</string>
        <key>sourceSize</key>
        <string>{97,101}</string>
      </dict>
      <key>monster_0474_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,413},{96,101}}</string>
        <key>offset</key>
        <string>{12,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,101}}</string>
        <key>sourceSize</key>
        <string>{96,101}</string>
      </dict>
      <key>monster_0474_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,511},{96,101}}</string>
        <key>offset</key>
        <string>{12,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,101}}</string>
        <key>sourceSize</key>
        <string>{96,101}</string>
      </dict>
      <key>monster_0474_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,511},{97,101}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,101}}</string>
        <key>sourceSize</key>
        <string>{97,101}</string>
      </dict>
      <key>monster_0474_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,609},{98,101}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,101}}</string>
        <key>sourceSize</key>
        <string>{98,101}</string>
      </dict>
      <key>monster_0474_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,610},{97,101}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,101}}</string>
        <key>sourceSize</key>
        <string>{97,101}</string>
      </dict>
      <key>monster_0474_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,118},{94,103}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,103}}</string>
        <key>sourceSize</key>
        <string>{94,103}</string>
      </dict>
      <key>monster_0474_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,0},{93,103}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,103}}</string>
        <key>sourceSize</key>
        <string>{93,103}</string>
      </dict>
      <key>monster_0474_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,354},{93,103}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,103}}</string>
        <key>sourceSize</key>
        <string>{93,103}</string>
      </dict>
      <key>monster_0474_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,223},{93,103}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,103}}</string>
        <key>sourceSize</key>
        <string>{93,103}</string>
      </dict>
      <key>monster_0474_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,105},{94,103}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,103}}</string>
        <key>sourceSize</key>
        <string>{94,103}</string>
      </dict>
      <key>monster_0474_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,328},{94,103}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,103}}</string>
        <key>sourceSize</key>
        <string>{94,103}</string>
      </dict>
      <key>monster_0474_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,709},{101,99}}</string>
        <key>offset</key>
        <string>{-24,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,99}}</string>
        <key>sourceSize</key>
        <string>{101,99}</string>
      </dict>
      <key>monster_0474_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,709},{101,99}}</string>
        <key>offset</key>
        <string>{-24,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,99}}</string>
        <key>sourceSize</key>
        <string>{101,99}</string>
      </dict>
      <key>monster_0474_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,720},{101,99}}</string>
        <key>offset</key>
        <string>{-24,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,99}}</string>
        <key>sourceSize</key>
        <string>{101,99}</string>
      </dict>
      <key>monster_0474_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,754},{101,99}}</string>
        <key>offset</key>
        <string>{-24,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,99}}</string>
        <key>sourceSize</key>
        <string>{101,99}</string>
      </dict>
      <key>monster_0474_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,754},{101,99}}</string>
        <key>offset</key>
        <string>{-24,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,99}}</string>
        <key>sourceSize</key>
        <string>{101,99}</string>
      </dict>
      <key>monster_0474_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,210},{102,99}}</string>
        <key>offset</key>
        <string>{-24,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,99}}</string>
        <key>sourceSize</key>
        <string>{102,99}</string>
      </dict>
      <key>monster_0474_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{93,116}}</string>
        <key>offset</key>
        <string>{-33,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,116}}</string>
        <key>sourceSize</key>
        <string>{93,116}</string>
      </dict>
      <key>monster_0474_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,118},{93,116}}</string>
        <key>offset</key>
        <string>{-33,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,116}}</string>
        <key>sourceSize</key>
        <string>{93,116}</string>
      </dict>
      <key>monster_0474_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,118},{95,116}}</string>
        <key>offset</key>
        <string>{-34,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,116}}</string>
        <key>sourceSize</key>
        <string>{95,116}</string>
      </dict>
      <key>monster_0474_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{95,116}}</string>
        <key>offset</key>
        <string>{-34,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,116}}</string>
        <key>sourceSize</key>
        <string>{95,116}</string>
      </dict>
      <key>monster_0474_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,0},{93,116}}</string>
        <key>offset</key>
        <string>{-34,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,116}}</string>
        <key>sourceSize</key>
        <string>{93,116}</string>
      </dict>
      <key>monster_0474_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,236},{94,116}}</string>
        <key>offset</key>
        <string>{-34,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,116}}</string>
        <key>sourceSize</key>
        <string>{94,116}</string>
      </dict>
      <key>monster_0474_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,126}}</string>
        <key>offset</key>
        <string>{-26,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,126}}</string>
        <key>sourceSize</key>
        <string>{83,126}</string>
      </dict>
      <key>monster_0474_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{83,126}}</string>
        <key>offset</key>
        <string>{-26,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,126}}</string>
        <key>sourceSize</key>
        <string>{83,126}</string>
      </dict>
      <key>monster_0474_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{83,126}}</string>
        <key>offset</key>
        <string>{-26,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,126}}</string>
        <key>sourceSize</key>
        <string>{83,126}</string>
      </dict>
      <key>monster_0474_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{83,126}}</string>
        <key>offset</key>
        <string>{-26,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,126}}</string>
        <key>sourceSize</key>
        <string>{83,126}</string>
      </dict>
      <key>monster_0474_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{81,126}}</string>
        <key>offset</key>
        <string>{-26,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,126}}</string>
        <key>sourceSize</key>
        <string>{81,126}</string>
      </dict>
      <key>monster_0474_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{81,126}}</string>
        <key>offset</key>
        <string>{-26,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,126}}</string>
        <key>sourceSize</key>
        <string>{81,126}</string>
      </dict>
      <key>monster_0474_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,640},{102,126}}</string>
        <key>offset</key>
        <string>{-17,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,126}}</string>
        <key>sourceSize</key>
        <string>{102,126}</string>
      </dict>
      <key>monster_0474_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,512},{101,126}}</string>
        <key>offset</key>
        <string>{-16,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,126}}</string>
        <key>sourceSize</key>
        <string>{101,126}</string>
      </dict>
      <key>monster_0474_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{101,126}}</string>
        <key>offset</key>
        <string>{-16,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,126}}</string>
        <key>sourceSize</key>
        <string>{101,126}</string>
      </dict>
      <key>monster_0474_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,128},{101,126}}</string>
        <key>offset</key>
        <string>{-16,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,126}}</string>
        <key>sourceSize</key>
        <string>{101,126}</string>
      </dict>
      <key>monster_0474_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,256},{102,126}}</string>
        <key>offset</key>
        <string>{-17,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,126}}</string>
        <key>sourceSize</key>
        <string>{102,126}</string>
      </dict>
      <key>monster_0474_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,384},{103,126}}</string>
        <key>offset</key>
        <string>{-18,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,126}}</string>
        <key>sourceSize</key>
        <string>{103,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0474_0_0.png</string>
      <key>size</key>
      <string>{770,866}</string>
      <key>textureFileName</key>
      <string>monster_0474_0_0.png</string>
    </dict>
  </dict>
</plist>