<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0242_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,1225},{154,320}}</string>
        <key>offset</key>
        <string>{-30,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,320}}</string>
        <key>sourceSize</key>
        <string>{154,320}</string>
      </dict>
      <key>monster_0242_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,1225},{155,321}}</string>
        <key>offset</key>
        <string>{-33,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,321}}</string>
        <key>sourceSize</key>
        <string>{155,321}</string>
      </dict>
      <key>monster_0242_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{157,327}}</string>
        <key>offset</key>
        <string>{-37,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,327}}</string>
        <key>sourceSize</key>
        <string>{157,327}</string>
      </dict>
      <key>monster_0242_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,1225},{157,314}}</string>
        <key>offset</key>
        <string>{-38,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,314}}</string>
        <key>sourceSize</key>
        <string>{157,314}</string>
      </dict>
      <key>monster_0242_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,1225},{156,315}}</string>
        <key>offset</key>
        <string>{-36,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,315}}</string>
        <key>sourceSize</key>
        <string>{156,315}</string>
      </dict>
      <key>monster_0242_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,0},{157,325}}</string>
        <key>offset</key>
        <string>{-33,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,325}}</string>
        <key>sourceSize</key>
        <string>{157,325}</string>
      </dict>
      <key>monster_0242_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,797},{356,250}}</string>
        <key>offset</key>
        <string>{-174,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,250}}</string>
        <key>sourceSize</key>
        <string>{356,250}</string>
      </dict>
      <key>monster_0242_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{339,266}}</string>
        <key>offset</key>
        <string>{-156,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,266}}</string>
        <key>sourceSize</key>
        <string>{339,266}</string>
      </dict>
      <key>monster_0242_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1225},{324,277}}</string>
        <key>offset</key>
        <string>{-141,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,277}}</string>
        <key>sourceSize</key>
        <string>{324,277}</string>
      </dict>
      <key>monster_0242_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,327},{309,269}}</string>
        <key>offset</key>
        <string>{-125,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,269}}</string>
        <key>sourceSize</key>
        <string>{309,269}</string>
      </dict>
      <key>monster_0242_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,341},{332,262}}</string>
        <key>offset</key>
        <string>{-142,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,262}}</string>
        <key>sourceSize</key>
        <string>{332,262}</string>
      </dict>
      <key>monster_0242_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,797},{351,260}}</string>
        <key>offset</key>
        <string>{-162,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,260}}</string>
        <key>sourceSize</key>
        <string>{351,260}</string>
      </dict>
      <key>monster_0242_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,920},{450,147}}</string>
        <key>offset</key>
        <string>{-224,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,147}}</string>
        <key>sourceSize</key>
        <string>{450,147}</string>
      </dict>
      <key>monster_0242_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,1069},{449,149}}</string>
        <key>offset</key>
        <string>{-221,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,149}}</string>
        <key>sourceSize</key>
        <string>{449,149}</string>
      </dict>
      <key>monster_0242_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{462,150}}</string>
        <key>offset</key>
        <string>{-234,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,150}}</string>
        <key>sourceSize</key>
        <string>{462,150}</string>
      </dict>
      <key>monster_0242_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1069},{450,152}}</string>
        <key>offset</key>
        <string>{-224,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,152}}</string>
        <key>sourceSize</key>
        <string>{450,152}</string>
      </dict>
      <key>monster_0242_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,0},{446,154}}</string>
        <key>offset</key>
        <string>{-217,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{446,154}}</string>
        <key>sourceSize</key>
        <string>{446,154}</string>
      </dict>
      <key>monster_0242_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{454,150}}</string>
        <key>offset</key>
        <string>{-226,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,150}}</string>
        <key>sourceSize</key>
        <string>{454,150}</string>
      </dict>
      <key>monster_0242_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,1225},{320,176}}</string>
        <key>offset</key>
        <string>{-134,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,176}}</string>
        <key>sourceSize</key>
        <string>{320,176}</string>
      </dict>
      <key>monster_0242_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,0},{348,173}}</string>
        <key>offset</key>
        <string>{-158,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,173}}</string>
        <key>sourceSize</key>
        <string>{348,173}</string>
      </dict>
      <key>monster_0242_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,448},{368,172}}</string>
        <key>offset</key>
        <string>{-178,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,172}}</string>
        <key>sourceSize</key>
        <string>{368,172}</string>
      </dict>
      <key>monster_0242_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,622},{365,173}}</string>
        <key>offset</key>
        <string>{-181,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,173}}</string>
        <key>sourceSize</key>
        <string>{365,173}</string>
      </dict>
      <key>monster_0242_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,1049},{345,174}}</string>
        <key>offset</key>
        <string>{-163,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,174}}</string>
        <key>sourceSize</key>
        <string>{345,174}</string>
      </dict>
      <key>monster_0242_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,341},{333,173}}</string>
        <key>offset</key>
        <string>{-149,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,173}}</string>
        <key>sourceSize</key>
        <string>{333,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0242_0_1_0.png</string>
      <key>size</key>
      <string>{1282,1556}</string>
      <key>textureFileName</key>
      <string>monster_0242_0_1_0.png</string>
    </dict>
  </dict>
</plist>