<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0038_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,218},{66,71}}</string>
        <key>offset</key>
        <string>{-1,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,71}}</string>
        <key>sourceSize</key>
        <string>{66,71}</string>
      </dict>
      <key>monster_0038_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,0},{66,75}}</string>
        <key>offset</key>
        <string>{-6,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,75}}</string>
        <key>sourceSize</key>
        <string>{66,75}</string>
      </dict>
      <key>monster_0038_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,261},{72,70}}</string>
        <key>offset</key>
        <string>{-5,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,70}}</string>
        <key>sourceSize</key>
        <string>{72,70}</string>
      </dict>
      <key>monster_0038_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,286},{71,71}}</string>
        <key>offset</key>
        <string>{-4,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>monster_0038_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,149},{67,73}}</string>
        <key>offset</key>
        <string>{4,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,73}}</string>
        <key>sourceSize</key>
        <string>{67,73}</string>
      </dict>
      <key>monster_0038_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,77},{70,74}}</string>
        <key>offset</key>
        <string>{-2,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,74}}</string>
        <key>sourceSize</key>
        <string>{70,74}</string>
      </dict>
      <key>monster_0038_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,434},{97,66}}</string>
        <key>offset</key>
        <string>{-19,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,66}}</string>
        <key>sourceSize</key>
        <string>{97,66}</string>
      </dict>
      <key>monster_0038_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,192},{90,64}}</string>
        <key>offset</key>
        <string>{-10,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,64}}</string>
        <key>sourceSize</key>
        <string>{90,64}</string>
      </dict>
      <key>monster_0038_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,97},{93,64}}</string>
        <key>offset</key>
        <string>{-12,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,64}}</string>
        <key>sourceSize</key>
        <string>{93,64}</string>
      </dict>
      <key>monster_0038_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,334},{98,66}}</string>
        <key>offset</key>
        <string>{-18,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,66}}</string>
        <key>sourceSize</key>
        <string>{98,66}</string>
      </dict>
      <key>monster_0038_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{95,62}}</string>
        <key>offset</key>
        <string>{-16,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,62}}</string>
        <key>sourceSize</key>
        <string>{95,62}</string>
      </dict>
      <key>monster_0038_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,215},{97,65}}</string>
        <key>offset</key>
        <string>{-20,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,65}}</string>
        <key>sourceSize</key>
        <string>{97,65}</string>
      </dict>
      <key>monster_0038_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,335},{105,44}}</string>
        <key>offset</key>
        <string>{-13,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,44}}</string>
        <key>sourceSize</key>
        <string>{105,44}</string>
      </dict>
      <key>monster_0038_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{113,38}}</string>
        <key>offset</key>
        <string>{-21,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,38}}</string>
        <key>sourceSize</key>
        <string>{113,38}</string>
      </dict>
      <key>monster_0038_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,227},{105,40}}</string>
        <key>offset</key>
        <string>{-13,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,40}}</string>
        <key>sourceSize</key>
        <string>{105,40}</string>
      </dict>
      <key>monster_0038_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,227},{106,39}}</string>
        <key>offset</key>
        <string>{-15,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,39}}</string>
        <key>sourceSize</key>
        <string>{106,39}</string>
      </dict>
      <key>monster_0038_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{109,44}}</string>
        <key>offset</key>
        <string>{-18,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,44}}</string>
        <key>sourceSize</key>
        <string>{109,44}</string>
      </dict>
      <key>monster_0038_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{110,44}}</string>
        <key>offset</key>
        <string>{-18,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,44}}</string>
        <key>sourceSize</key>
        <string>{110,44}</string>
      </dict>
      <key>monster_0038_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{96,42}}</string>
        <key>offset</key>
        <string>{-17,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,42}}</string>
        <key>sourceSize</key>
        <string>{96,42}</string>
      </dict>
      <key>monster_0038_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,292},{92,40}}</string>
        <key>offset</key>
        <string>{-15,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,40}}</string>
        <key>sourceSize</key>
        <string>{92,40}</string>
      </dict>
      <key>monster_0038_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,386},{90,43}}</string>
        <key>offset</key>
        <string>{-15,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,43}}</string>
        <key>sourceSize</key>
        <string>{90,43}</string>
      </dict>
      <key>monster_0038_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,98},{96,46}}</string>
        <key>offset</key>
        <string>{-20,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,46}}</string>
        <key>sourceSize</key>
        <string>{96,46}</string>
      </dict>
      <key>monster_0038_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{88,43}}</string>
        <key>offset</key>
        <string>{-10,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,43}}</string>
        <key>sourceSize</key>
        <string>{88,43}</string>
      </dict>
      <key>monster_0038_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{93,43}}</string>
        <key>offset</key>
        <string>{-13,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,43}}</string>
        <key>sourceSize</key>
        <string>{93,43}</string>
      </dict>
      <key>monster_0038_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,459},{68,48}}</string>
        <key>offset</key>
        <string>{-1,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,48}}</string>
        <key>sourceSize</key>
        <string>{68,48}</string>
      </dict>
      <key>monster_0038_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,411},{65,51}}</string>
        <key>offset</key>
        <string>{5,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,51}}</string>
        <key>sourceSize</key>
        <string>{65,51}</string>
      </dict>
      <key>monster_0038_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,459},{71,47}}</string>
        <key>offset</key>
        <string>{-1,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,47}}</string>
        <key>sourceSize</key>
        <string>{71,47}</string>
      </dict>
      <key>monster_0038_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,408},{70,49}}</string>
        <key>offset</key>
        <string>{-2,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,49}}</string>
        <key>sourceSize</key>
        <string>{70,49}</string>
      </dict>
      <key>monster_0038_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,359},{68,50}}</string>
        <key>offset</key>
        <string>{-7,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,50}}</string>
        <key>sourceSize</key>
        <string>{68,50}</string>
      </dict>
      <key>monster_0038_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,335},{71,49}}</string>
        <key>offset</key>
        <string>{-4,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,49}}</string>
        <key>sourceSize</key>
        <string>{71,49}</string>
      </dict>
      <key>monster_0038_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,284},{87,44}}</string>
        <key>offset</key>
        <string>{-4,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,44}}</string>
        <key>sourceSize</key>
        <string>{87,44}</string>
      </dict>
      <key>monster_0038_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,87},{80,42}}</string>
        <key>offset</key>
        <string>{-6,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,42}}</string>
        <key>sourceSize</key>
        <string>{80,42}</string>
      </dict>
      <key>monster_0038_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,431},{84,40}}</string>
        <key>offset</key>
        <string>{-7,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,40}}</string>
        <key>sourceSize</key>
        <string>{84,40}</string>
      </dict>
      <key>monster_0038_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,95},{90,42}}</string>
        <key>offset</key>
        <string>{-7,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,42}}</string>
        <key>sourceSize</key>
        <string>{90,42}</string>
      </dict>
      <key>monster_0038_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{85,40}}</string>
        <key>offset</key>
        <string>{-5,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,40}}</string>
        <key>sourceSize</key>
        <string>{85,40}</string>
      </dict>
      <key>monster_0038_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,284},{87,42}}</string>
        <key>offset</key>
        <string>{-3,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,42}}</string>
        <key>sourceSize</key>
        <string>{87,42}</string>
      </dict>
      <key>monster_0038_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,314},{95,41}}</string>
        <key>offset</key>
        <string>{-18,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,41}}</string>
        <key>sourceSize</key>
        <string>{95,41}</string>
      </dict>
      <key>monster_0038_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,111},{102,44}}</string>
        <key>offset</key>
        <string>{-17,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,44}}</string>
        <key>sourceSize</key>
        <string>{102,44}</string>
      </dict>
      <key>monster_0038_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,196},{94,45}}</string>
        <key>offset</key>
        <string>{-17,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,45}}</string>
        <key>sourceSize</key>
        <string>{94,45}</string>
      </dict>
      <key>monster_0038_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,102},{97,44}}</string>
        <key>offset</key>
        <string>{-17,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,44}}</string>
        <key>sourceSize</key>
        <string>{97,44}</string>
      </dict>
      <key>monster_0038_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,442},{99,39}}</string>
        <key>offset</key>
        <string>{-17,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,39}}</string>
        <key>sourceSize</key>
        <string>{99,39}</string>
      </dict>
      <key>monster_0038_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{100,41}}</string>
        <key>offset</key>
        <string>{-18,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,41}}</string>
        <key>sourceSize</key>
        <string>{100,41}</string>
      </dict>
      <key>monster_0038_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,187},{86,66}}</string>
        <key>offset</key>
        <string>{-5,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,66}}</string>
        <key>sourceSize</key>
        <string>{86,66}</string>
      </dict>
      <key>monster_0038_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,275},{82,63}}</string>
        <key>offset</key>
        <string>{-3,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,63}}</string>
        <key>sourceSize</key>
        <string>{82,63}</string>
      </dict>
      <key>monster_0038_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,178},{81,65}}</string>
        <key>offset</key>
        <string>{-1,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,65}}</string>
        <key>sourceSize</key>
        <string>{81,65}</string>
      </dict>
      <key>monster_0038_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,90},{86,67}}</string>
        <key>offset</key>
        <string>{-2,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,67}}</string>
        <key>sourceSize</key>
        <string>{86,67}</string>
      </dict>
      <key>monster_0038_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{78,65}}</string>
        <key>offset</key>
        <string>{-4,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,65}}</string>
        <key>sourceSize</key>
        <string>{78,65}</string>
      </dict>
      <key>monster_0038_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,373},{84,67}}</string>
        <key>offset</key>
        <string>{-6,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,67}}</string>
        <key>sourceSize</key>
        <string>{84,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0038_0_1.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_0038_0_1.png</string>
    </dict>
  </dict>
</plist>