<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0350_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,309},{70,116}}</string>
        <key>offset</key>
        <string>{-2,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,116}}</string>
        <key>sourceSize</key>
        <string>{70,116}</string>
      </dict>
      <key>monster_0350_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,607},{69,106}}</string>
        <key>offset</key>
        <string>{1,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,106}}</string>
        <key>sourceSize</key>
        <string>{69,106}</string>
      </dict>
      <key>monster_0350_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{91,137}}</string>
        <key>offset</key>
        <string>{-7,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,137}}</string>
        <key>sourceSize</key>
        <string>{91,137}</string>
      </dict>
      <key>monster_0350_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,301},{104,122}}</string>
        <key>offset</key>
        <string>{-23,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,122}}</string>
        <key>sourceSize</key>
        <string>{104,122}</string>
      </dict>
      <key>monster_0350_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,0},{96,77}}</string>
        <key>offset</key>
        <string>{-26,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,77}}</string>
        <key>sourceSize</key>
        <string>{96,77}</string>
      </dict>
      <key>monster_0350_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,138},{93,77}}</string>
        <key>offset</key>
        <string>{-25,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,77}}</string>
        <key>sourceSize</key>
        <string>{93,77}</string>
      </dict>
      <key>monster_0350_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,305},{121,109}}</string>
        <key>offset</key>
        <string>{-20,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,109}}</string>
        <key>sourceSize</key>
        <string>{121,109}</string>
      </dict>
      <key>monster_0350_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,651},{100,103}}</string>
        <key>offset</key>
        <string>{-7,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,103}}</string>
        <key>sourceSize</key>
        <string>{100,103}</string>
      </dict>
      <key>monster_0350_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{109,139}}</string>
        <key>offset</key>
        <string>{-24,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,139}}</string>
        <key>sourceSize</key>
        <string>{109,139}</string>
      </dict>
      <key>monster_0350_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,111},{129,124}}</string>
        <key>offset</key>
        <string>{-44,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,124}}</string>
        <key>sourceSize</key>
        <string>{129,124}</string>
      </dict>
      <key>monster_0350_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,526},{111,79}}</string>
        <key>offset</key>
        <string>{-50,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,79}}</string>
        <key>sourceSize</key>
        <string>{111,79}</string>
      </dict>
      <key>monster_0350_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,484},{110,78}}</string>
        <key>offset</key>
        <string>{-49,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,78}}</string>
        <key>sourceSize</key>
        <string>{110,78}</string>
      </dict>
      <key>monster_0350_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{136,91}}</string>
        <key>offset</key>
        <string>{-17,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,91}}</string>
        <key>sourceSize</key>
        <string>{136,91}</string>
      </dict>
      <key>monster_0350_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,346},{120,98}}</string>
        <key>offset</key>
        <string>{-14,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,98}}</string>
        <key>sourceSize</key>
        <string>{120,98}</string>
      </dict>
      <key>monster_0350_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,93},{108,130}}</string>
        <key>offset</key>
        <string>{-20,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,130}}</string>
        <key>sourceSize</key>
        <string>{108,130}</string>
      </dict>
      <key>monster_0350_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,95},{126,104}}</string>
        <key>offset</key>
        <string>{-33,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,104}}</string>
        <key>sourceSize</key>
        <string>{126,104}</string>
      </dict>
      <key>monster_0350_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,221},{119,64}}</string>
        <key>offset</key>
        <string>{-45,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,64}}</string>
        <key>sourceSize</key>
        <string>{119,64}</string>
      </dict>
      <key>monster_0350_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,407},{120,64}}</string>
        <key>offset</key>
        <string>{-46,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,64}}</string>
        <key>sourceSize</key>
        <string>{120,64}</string>
      </dict>
      <key>monster_0350_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,416},{113,93}}</string>
        <key>offset</key>
        <string>{-14,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,93}}</string>
        <key>sourceSize</key>
        <string>{113,93}</string>
      </dict>
      <key>monster_0350_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,715},{100,98}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,98}}</string>
        <key>sourceSize</key>
        <string>{100,98}</string>
      </dict>
      <key>monster_0350_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,201},{106,124}}</string>
        <key>offset</key>
        <string>{-22,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,124}}</string>
        <key>sourceSize</key>
        <string>{106,124}</string>
      </dict>
      <key>monster_0350_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{131,93}}</string>
        <key>offset</key>
        <string>{-47,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,93}}</string>
        <key>sourceSize</key>
        <string>{131,93}</string>
      </dict>
      <key>monster_0350_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,446},{112,56}}</string>
        <key>offset</key>
        <string>{-52,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,56}}</string>
        <key>sourceSize</key>
        <string>{112,56}</string>
      </dict>
      <key>monster_0350_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,439},{111,56}}</string>
        <key>offset</key>
        <string>{-51,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,56}}</string>
        <key>sourceSize</key>
        <string>{111,56}</string>
      </dict>
      <key>monster_0350_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,571},{67,102}}</string>
        <key>offset</key>
        <string>{-1,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,102}}</string>
        <key>sourceSize</key>
        <string>{67,102}</string>
      </dict>
      <key>monster_0350_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,607},{68,108}}</string>
        <key>offset</key>
        <string>{0,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,108}}</string>
        <key>sourceSize</key>
        <string>{68,108}</string>
      </dict>
      <key>monster_0350_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,342},{95,116}}</string>
        <key>offset</key>
        <string>{-12,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,116}}</string>
        <key>sourceSize</key>
        <string>{95,116}</string>
      </dict>
      <key>monster_0350_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,564},{104,85}}</string>
        <key>offset</key>
        <string>{-26,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,85}}</string>
        <key>sourceSize</key>
        <string>{104,85}</string>
      </dict>
      <key>monster_0350_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,79},{96,57}}</string>
        <key>offset</key>
        <string>{-28,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,57}}</string>
        <key>sourceSize</key>
        <string>{96,57}</string>
      </dict>
      <key>monster_0350_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,319},{94,58}}</string>
        <key>offset</key>
        <string>{-27,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,58}}</string>
        <key>sourceSize</key>
        <string>{94,58}</string>
      </dict>
      <key>monster_0350_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,640},{102,93}}</string>
        <key>offset</key>
        <string>{-25,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,93}}</string>
        <key>sourceSize</key>
        <string>{102,93}</string>
      </dict>
      <key>monster_0350_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,744},{95,98}}</string>
        <key>offset</key>
        <string>{-14,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,98}}</string>
        <key>sourceSize</key>
        <string>{95,98}</string>
      </dict>
      <key>monster_0350_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,203},{100,124}}</string>
        <key>offset</key>
        <string>{-6,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,124}}</string>
        <key>sourceSize</key>
        <string>{100,124}</string>
      </dict>
      <key>monster_0350_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,651},{104,83}}</string>
        <key>offset</key>
        <string>{-7,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,83}}</string>
        <key>sourceSize</key>
        <string>{104,83}</string>
      </dict>
      <key>monster_0350_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,497},{103,53}}</string>
        <key>offset</key>
        <string>{-10,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,53}}</string>
        <key>sourceSize</key>
        <string>{103,53}</string>
      </dict>
      <key>monster_0350_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,717},{102,53}}</string>
        <key>offset</key>
        <string>{-10,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,53}}</string>
        <key>sourceSize</key>
        <string>{102,53}</string>
      </dict>
      <key>monster_0350_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,95},{124,94}}</string>
        <key>offset</key>
        <string>{-43,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,94}}</string>
        <key>sourceSize</key>
        <string>{124,94}</string>
      </dict>
      <key>monster_0350_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,381},{116,101}}</string>
        <key>offset</key>
        <string>{-28,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,101}}</string>
        <key>sourceSize</key>
        <string>{116,101}</string>
      </dict>
      <key>monster_0350_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,197},{102,129}}</string>
        <key>offset</key>
        <string>{3,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,129}}</string>
        <key>sourceSize</key>
        <string>{102,129}</string>
      </dict>
      <key>monster_0350_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,221},{96,100}}</string>
        <key>offset</key>
        <string>{-9,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,100}}</string>
        <key>sourceSize</key>
        <string>{96,100}</string>
      </dict>
      <key>monster_0350_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,511},{110,52}}</string>
        <key>offset</key>
        <string>{-23,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,52}}</string>
        <key>sourceSize</key>
        <string>{110,52}</string>
      </dict>
      <key>monster_0350_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,473},{112,51}}</string>
        <key>offset</key>
        <string>{-23,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,51}}</string>
        <key>sourceSize</key>
        <string>{112,51}</string>
      </dict>
      <key>monster_0350_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,504},{98,112}}</string>
        <key>offset</key>
        <string>{-23,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,112}}</string>
        <key>sourceSize</key>
        <string>{98,112}</string>
      </dict>
      <key>monster_0350_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,604},{95,106}}</string>
        <key>offset</key>
        <string>{-13,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,106}}</string>
        <key>sourceSize</key>
        <string>{95,106}</string>
      </dict>
      <key>monster_0350_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{102,140}}</string>
        <key>offset</key>
        <string>{-6,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,140}}</string>
        <key>sourceSize</key>
        <string>{102,140}</string>
      </dict>
      <key>monster_0350_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,237},{107,124}}</string>
        <key>offset</key>
        <string>{-7,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,124}}</string>
        <key>sourceSize</key>
        <string>{107,124}</string>
      </dict>
      <key>monster_0350_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,497},{105,72}}</string>
        <key>offset</key>
        <string>{-11,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,72}}</string>
        <key>sourceSize</key>
        <string>{105,72}</string>
      </dict>
      <key>monster_0350_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,651},{104,71}}</string>
        <key>offset</key>
        <string>{-11,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,71}}</string>
        <key>sourceSize</key>
        <string>{104,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0350_0_4.png</string>
      <key>size</key>
      <string>{738,845}</string>
      <key>textureFileName</key>
      <string>monster_0350_0_4.png</string>
    </dict>
  </dict>
</plist>