<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0151_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,398},{125,135}}</string>
        <key>offset</key>
        <string>{-18,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,135}}</string>
        <key>sourceSize</key>
        <string>{125,135}</string>
      </dict>
      <key>monster_0151_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,653},{124,132}}</string>
        <key>offset</key>
        <string>{-18,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,132}}</string>
        <key>sourceSize</key>
        <string>{124,132}</string>
      </dict>
      <key>monster_0151_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,653},{124,131}}</string>
        <key>offset</key>
        <string>{-19,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,131}}</string>
        <key>sourceSize</key>
        <string>{124,131}</string>
      </dict>
      <key>monster_0151_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,525},{126,133}}</string>
        <key>offset</key>
        <string>{-20,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,133}}</string>
        <key>sourceSize</key>
        <string>{126,133}</string>
      </dict>
      <key>monster_0151_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,845},{127,136}}</string>
        <key>offset</key>
        <string>{-20,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,136}}</string>
        <key>sourceSize</key>
        <string>{127,136}</string>
      </dict>
      <key>monster_0151_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,497},{126,136}}</string>
        <key>offset</key>
        <string>{-19,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,136}}</string>
        <key>sourceSize</key>
        <string>{126,136}</string>
      </dict>
      <key>monster_0151_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,791},{187,114}}</string>
        <key>offset</key>
        <string>{-36,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,114}}</string>
        <key>sourceSize</key>
        <string>{187,114}</string>
      </dict>
      <key>monster_0151_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,601},{187,112}}</string>
        <key>offset</key>
        <string>{-38,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,112}}</string>
        <key>sourceSize</key>
        <string>{187,112}</string>
      </dict>
      <key>monster_0151_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,790},{186,111}}</string>
        <key>offset</key>
        <string>{-39,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,111}}</string>
        <key>sourceSize</key>
        <string>{186,111}</string>
      </dict>
      <key>monster_0151_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,587},{186,114}}</string>
        <key>offset</key>
        <string>{-38,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,114}}</string>
        <key>sourceSize</key>
        <string>{186,114}</string>
      </dict>
      <key>monster_0151_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,398},{187,117}}</string>
        <key>offset</key>
        <string>{-37,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,117}}</string>
        <key>sourceSize</key>
        <string>{187,117}</string>
      </dict>
      <key>monster_0151_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,382},{186,117}}</string>
        <key>offset</key>
        <string>{-36,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,117}}</string>
        <key>sourceSize</key>
        <string>{186,117}</string>
      </dict>
      <key>monster_0151_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,403},{196,114}}</string>
        <key>offset</key>
        <string>{-43,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,114}}</string>
        <key>sourceSize</key>
        <string>{196,114}</string>
      </dict>
      <key>monster_0151_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,202},{194,115}}</string>
        <key>offset</key>
        <string>{-43,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,115}}</string>
        <key>sourceSize</key>
        <string>{194,115}</string>
      </dict>
      <key>monster_0151_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{191,114}}</string>
        <key>offset</key>
        <string>{-43,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,114}}</string>
        <key>sourceSize</key>
        <string>{191,114}</string>
      </dict>
      <key>monster_0151_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{194,114}}</string>
        <key>offset</key>
        <string>{-43,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,114}}</string>
        <key>sourceSize</key>
        <string>{194,114}</string>
      </dict>
      <key>monster_0151_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{199,113}}</string>
        <key>offset</key>
        <string>{-44,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,113}}</string>
        <key>sourceSize</key>
        <string>{199,113}</string>
      </dict>
      <key>monster_0151_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,114}}</string>
        <key>offset</key>
        <string>{-44,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,114}}</string>
        <key>sourceSize</key>
        <string>{200,114}</string>
      </dict>
      <key>monster_0151_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,733},{157,130}}</string>
        <key>offset</key>
        <string>{-10,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,130}}</string>
        <key>sourceSize</key>
        <string>{157,130}</string>
      </dict>
      <key>monster_0151_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,892},{156,129}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,129}}</string>
        <key>sourceSize</key>
        <string>{156,129}</string>
      </dict>
      <key>monster_0151_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,0},{155,129}}</string>
        <key>offset</key>
        <string>{-10,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,129}}</string>
        <key>sourceSize</key>
        <string>{155,129}</string>
      </dict>
      <key>monster_0151_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,533},{156,127}}</string>
        <key>offset</key>
        <string>{-9,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,127}}</string>
        <key>sourceSize</key>
        <string>{156,127}</string>
      </dict>
      <key>monster_0151_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,176},{161,127}}</string>
        <key>offset</key>
        <string>{-11,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,127}}</string>
        <key>sourceSize</key>
        <string>{161,127}</string>
      </dict>
      <key>monster_0151_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{160,129}}</string>
        <key>offset</key>
        <string>{-12,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,129}}</string>
        <key>sourceSize</key>
        <string>{160,129}</string>
      </dict>
      <key>monster_0151_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,779},{128,125}}</string>
        <key>offset</key>
        <string>{-33,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,125}}</string>
        <key>sourceSize</key>
        <string>{128,125}</string>
      </dict>
      <key>monster_0151_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,906},{125,125}}</string>
        <key>offset</key>
        <string>{-31,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,125}}</string>
        <key>sourceSize</key>
        <string>{125,125}</string>
      </dict>
      <key>monster_0151_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,779},{125,125}}</string>
        <key>offset</key>
        <string>{-30,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,125}}</string>
        <key>sourceSize</key>
        <string>{125,125}</string>
      </dict>
      <key>monster_0151_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,525},{125,125}}</string>
        <key>offset</key>
        <string>{-29,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,125}}</string>
        <key>sourceSize</key>
        <string>{125,125}</string>
      </dict>
      <key>monster_0151_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,959},{127,125}}</string>
        <key>offset</key>
        <string>{-30,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,125}}</string>
        <key>sourceSize</key>
        <string>{127,125}</string>
      </dict>
      <key>monster_0151_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,906},{127,126}}</string>
        <key>offset</key>
        <string>{-31,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,126}}</string>
        <key>sourceSize</key>
        <string>{127,126}</string>
      </dict>
      <key>monster_0151_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,381},{176,126}}</string>
        <key>offset</key>
        <string>{-75,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,126}}</string>
        <key>sourceSize</key>
        <string>{176,126}</string>
      </dict>
      <key>monster_0151_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,184},{174,128}}</string>
        <key>offset</key>
        <string>{-73,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,128}}</string>
        <key>sourceSize</key>
        <string>{174,128}</string>
      </dict>
      <key>monster_0151_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,360},{171,128}}</string>
        <key>offset</key>
        <string>{-70,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,128}}</string>
        <key>sourceSize</key>
        <string>{171,128}</string>
      </dict>
      <key>monster_0151_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,752},{172,129}}</string>
        <key>offset</key>
        <string>{-71,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,129}}</string>
        <key>sourceSize</key>
        <string>{172,129}</string>
      </dict>
      <key>monster_0151_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,559},{172,128}}</string>
        <key>offset</key>
        <string>{-73,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,128}}</string>
        <key>sourceSize</key>
        <string>{172,128}</string>
      </dict>
      <key>monster_0151_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{174,127}}</string>
        <key>offset</key>
        <string>{-74,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,127}}</string>
        <key>sourceSize</key>
        <string>{174,127}</string>
      </dict>
      <key>monster_0151_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,193},{186,108}}</string>
        <key>offset</key>
        <string>{-79,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,108}}</string>
        <key>sourceSize</key>
        <string>{186,108}</string>
      </dict>
      <key>monster_0151_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{182,109}}</string>
        <key>offset</key>
        <string>{-76,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,109}}</string>
        <key>sourceSize</key>
        <string>{182,109}</string>
      </dict>
      <key>monster_0151_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,570},{180,110}}</string>
        <key>offset</key>
        <string>{-75,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,110}}</string>
        <key>sourceSize</key>
        <string>{180,110}</string>
      </dict>
      <key>monster_0151_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,775},{182,110}}</string>
        <key>offset</key>
        <string>{-77,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,110}}</string>
        <key>sourceSize</key>
        <string>{182,110}</string>
      </dict>
      <key>monster_0151_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,193},{187,109}}</string>
        <key>offset</key>
        <string>{-80,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,109}}</string>
        <key>sourceSize</key>
        <string>{187,109}</string>
      </dict>
      <key>monster_0151_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,601},{188,108}}</string>
        <key>offset</key>
        <string>{-80,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,108}}</string>
        <key>sourceSize</key>
        <string>{188,108}</string>
      </dict>
      <key>monster_0151_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,133},{152,130}}</string>
        <key>offset</key>
        <string>{-72,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,130}}</string>
        <key>sourceSize</key>
        <string>{152,130}</string>
      </dict>
      <key>monster_0151_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,265},{152,131}}</string>
        <key>offset</key>
        <string>{-71,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,131}}</string>
        <key>sourceSize</key>
        <string>{152,131}</string>
      </dict>
      <key>monster_0151_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,691},{152,132}}</string>
        <key>offset</key>
        <string>{-70,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,132}}</string>
        <key>sourceSize</key>
        <string>{152,132}</string>
      </dict>
      <key>monster_0151_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,339},{156,133}}</string>
        <key>offset</key>
        <string>{-73,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,133}}</string>
        <key>sourceSize</key>
        <string>{156,133}</string>
      </dict>
      <key>monster_0151_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,162},{156,133}}</string>
        <key>offset</key>
        <string>{-74,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,133}}</string>
        <key>sourceSize</key>
        <string>{156,133}</string>
      </dict>
      <key>monster_0151_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{154,131}}</string>
        <key>offset</key>
        <string>{-74,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,131}}</string>
        <key>sourceSize</key>
        <string>{154,131}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0151_0_0.png</string>
      <key>size</key>
      <string>{1149,1088}</string>
      <key>textureFileName</key>
      <string>monster_0151_0_0.png</string>
    </dict>
  </dict>
</plist>