<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0350_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{70,116}}</string>
        <key>offset</key>
        <string>{-2,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,116}}</string>
        <key>sourceSize</key>
        <string>{70,116}</string>
      </dict>
      <key>monster_0350_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,242},{105,116}}</string>
        <key>offset</key>
        <string>{-6,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,116}}</string>
        <key>sourceSize</key>
        <string>{105,116}</string>
      </dict>
      <key>monster_0350_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,122},{84,118}}</string>
        <key>offset</key>
        <string>{-4,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,118}}</string>
        <key>sourceSize</key>
        <string>{84,118}</string>
      </dict>
      <key>monster_0350_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,138},{121,109}}</string>
        <key>offset</key>
        <string>{-20,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,109}}</string>
        <key>sourceSize</key>
        <string>{121,109}</string>
      </dict>
      <key>monster_0350_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,96}}</string>
        <key>offset</key>
        <string>{-26,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,96}}</string>
        <key>sourceSize</key>
        <string>{144,96}</string>
      </dict>
      <key>monster_0350_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{137,104}}</string>
        <key>offset</key>
        <string>{-24,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,104}}</string>
        <key>sourceSize</key>
        <string>{137,104}</string>
      </dict>
      <key>monster_0350_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{136,91}}</string>
        <key>offset</key>
        <string>{-17,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,91}}</string>
        <key>sourceSize</key>
        <string>{136,91}</string>
      </dict>
      <key>monster_0350_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,285},{125,86}}</string>
        <key>offset</key>
        <string>{-21,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,86}}</string>
        <key>sourceSize</key>
        <string>{125,86}</string>
      </dict>
      <key>monster_0350_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,285},{135,88}}</string>
        <key>offset</key>
        <string>{-20,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,88}}</string>
        <key>sourceSize</key>
        <string>{135,88}</string>
      </dict>
      <key>monster_0350_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{113,93}}</string>
        <key>offset</key>
        <string>{-14,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,93}}</string>
        <key>sourceSize</key>
        <string>{113,93}</string>
      </dict>
      <key>monster_0350_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,95},{78,100}}</string>
        <key>offset</key>
        <string>{-13,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,100}}</string>
        <key>sourceSize</key>
        <string>{78,100}</string>
      </dict>
      <key>monster_0350_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,197},{98,98}}</string>
        <key>offset</key>
        <string>{-14,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,98}}</string>
        <key>sourceSize</key>
        <string>{98,98}</string>
      </dict>
      <key>monster_0350_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,306},{67,102}}</string>
        <key>offset</key>
        <string>{-1,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,102}}</string>
        <key>sourceSize</key>
        <string>{67,102}</string>
      </dict>
      <key>monster_0350_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{86,98}}</string>
        <key>offset</key>
        <string>{-17,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,98}}</string>
        <key>sourceSize</key>
        <string>{86,98}</string>
      </dict>
      <key>monster_0350_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,375},{66,101}}</string>
        <key>offset</key>
        <string>{0,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,101}}</string>
        <key>sourceSize</key>
        <string>{66,101}</string>
      </dict>
      <key>monster_0350_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,375},{102,93}}</string>
        <key>offset</key>
        <string>{-25,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,93}}</string>
        <key>sourceSize</key>
        <string>{102,93}</string>
      </dict>
      <key>monster_0350_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{120,97}}</string>
        <key>offset</key>
        <string>{-36,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,97}}</string>
        <key>sourceSize</key>
        <string>{120,97}</string>
      </dict>
      <key>monster_0350_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,118},{116,91}}</string>
        <key>offset</key>
        <string>{-34,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,91}}</string>
        <key>sourceSize</key>
        <string>{116,91}</string>
      </dict>
      <key>monster_0350_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,412},{124,94}}</string>
        <key>offset</key>
        <string>{-43,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,94}}</string>
        <key>sourceSize</key>
        <string>{124,94}</string>
      </dict>
      <key>monster_0350_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,195},{109,109}}</string>
        <key>offset</key>
        <string>{-22,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,109}}</string>
        <key>sourceSize</key>
        <string>{109,109}</string>
      </dict>
      <key>monster_0350_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,261},{120,100}}</string>
        <key>offset</key>
        <string>{-36,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,100}}</string>
        <key>sourceSize</key>
        <string>{120,100}</string>
      </dict>
      <key>monster_0350_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,95},{98,112}}</string>
        <key>offset</key>
        <string>{-23,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,112}}</string>
        <key>sourceSize</key>
        <string>{98,112}</string>
      </dict>
      <key>monster_0350_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,422},{76,126}}</string>
        <key>offset</key>
        <string>{2,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,126}}</string>
        <key>sourceSize</key>
        <string>{76,126}</string>
      </dict>
      <key>monster_0350_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,383},{81,120}}</string>
        <key>offset</key>
        <string>{-5,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,120}}</string>
        <key>sourceSize</key>
        <string>{81,120}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0350_0_7.png</string>
      <key>size</key>
      <string>{639,515}</string>
      <key>textureFileName</key>
      <string>monster_0350_0_7.png</string>
    </dict>
  </dict>
</plist>