<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0026_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{82,76}}</string>
        <key>offset</key>
        <string>{-8,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,76}</string>
      </dict>
      <key>monster_0026_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,84},{82,75}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,75}}</string>
        <key>sourceSize</key>
        <string>{82,75}</string>
      </dict>
      <key>monster_0026_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,168},{82,75}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,75}}</string>
        <key>sourceSize</key>
        <string>{82,75}</string>
      </dict>
      <key>monster_0026_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,84},{82,75}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,75}}</string>
        <key>sourceSize</key>
        <string>{82,75}</string>
      </dict>
      <key>monster_0026_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{82,75}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,75}}</string>
        <key>sourceSize</key>
        <string>{82,75}</string>
      </dict>
      <key>monster_0026_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,252},{82,75}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,75}}</string>
        <key>sourceSize</key>
        <string>{82,75}</string>
      </dict>
      <key>monster_0026_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{86,64}}</string>
        <key>offset</key>
        <string>{3,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>monster_0026_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{87,64}}</string>
        <key>offset</key>
        <string>{2,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,64}}</string>
        <key>sourceSize</key>
        <string>{87,64}</string>
      </dict>
      <key>monster_0026_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,177},{86,63}}</string>
        <key>offset</key>
        <string>{2,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,63}}</string>
        <key>sourceSize</key>
        <string>{86,63}</string>
      </dict>
      <key>monster_0026_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{86,62}}</string>
        <key>offset</key>
        <string>{2,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,62}}</string>
        <key>sourceSize</key>
        <string>{86,62}</string>
      </dict>
      <key>monster_0026_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,353},{86,63}}</string>
        <key>offset</key>
        <string>{2,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,63}}</string>
        <key>sourceSize</key>
        <string>{86,63}</string>
      </dict>
      <key>monster_0026_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,265},{86,64}}</string>
        <key>offset</key>
        <string>{3,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>monster_0026_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,168},{81,60}}</string>
        <key>offset</key>
        <string>{4,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,60}}</string>
        <key>sourceSize</key>
        <string>{81,60}</string>
      </dict>
      <key>monster_0026_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,84},{80,60}}</string>
        <key>offset</key>
        <string>{4,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>monster_0026_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{79,60}}</string>
        <key>offset</key>
        <string>{5,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>monster_0026_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,336},{79,59}}</string>
        <key>offset</key>
        <string>{5,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,59}}</string>
        <key>sourceSize</key>
        <string>{79,59}</string>
      </dict>
      <key>monster_0026_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,251},{79,59}}</string>
        <key>offset</key>
        <string>{5,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,59}}</string>
        <key>sourceSize</key>
        <string>{79,59}</string>
      </dict>
      <key>monster_0026_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,166},{79,60}}</string>
        <key>offset</key>
        <string>{5,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>monster_0026_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,377},{54,66}}</string>
        <key>offset</key>
        <string>{7,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,66}}</string>
        <key>sourceSize</key>
        <string>{54,66}</string>
      </dict>
      <key>monster_0026_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,445},{54,66}}</string>
        <key>offset</key>
        <string>{7,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,66}}</string>
        <key>sourceSize</key>
        <string>{54,66}</string>
      </dict>
      <key>monster_0026_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,472},{54,67}}</string>
        <key>offset</key>
        <string>{7,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,67}}</string>
        <key>sourceSize</key>
        <string>{54,67}</string>
      </dict>
      <key>monster_0026_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,371},{54,67}}</string>
        <key>offset</key>
        <string>{7,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,67}}</string>
        <key>sourceSize</key>
        <string>{54,67}</string>
      </dict>
      <key>monster_0026_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,239},{53,67}}</string>
        <key>offset</key>
        <string>{7,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,67}}</string>
        <key>sourceSize</key>
        <string>{53,67}</string>
      </dict>
      <key>monster_0026_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,308},{54,67}}</string>
        <key>offset</key>
        <string>{7,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,67}}</string>
        <key>sourceSize</key>
        <string>{54,67}</string>
      </dict>
      <key>monster_0026_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,327},{71,65}}</string>
        <key>offset</key>
        <string>{-6,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,65}}</string>
        <key>sourceSize</key>
        <string>{71,65}</string>
      </dict>
      <key>monster_0026_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,242},{71,65}}</string>
        <key>offset</key>
        <string>{-6,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,65}}</string>
        <key>sourceSize</key>
        <string>{71,65}</string>
      </dict>
      <key>monster_0026_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,400},{70,64}}</string>
        <key>offset</key>
        <string>{-6,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,64}}</string>
        <key>sourceSize</key>
        <string>{70,64}</string>
      </dict>
      <key>monster_0026_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,472},{70,64}}</string>
        <key>offset</key>
        <string>{-6,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,64}}</string>
        <key>sourceSize</key>
        <string>{70,64}</string>
      </dict>
      <key>monster_0026_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,239},{71,64}}</string>
        <key>offset</key>
        <string>{-6,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,64}}</string>
        <key>sourceSize</key>
        <string>{71,64}</string>
      </dict>
      <key>monster_0026_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,305},{71,64}}</string>
        <key>offset</key>
        <string>{-6,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,64}}</string>
        <key>sourceSize</key>
        <string>{71,64}</string>
      </dict>
      <key>monster_0026_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,177},{84,61}}</string>
        <key>offset</key>
        <string>{-21,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,61}}</string>
        <key>sourceSize</key>
        <string>{84,61}</string>
      </dict>
      <key>monster_0026_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,439},{83,61}}</string>
        <key>offset</key>
        <string>{-20,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,61}}</string>
        <key>sourceSize</key>
        <string>{83,61}</string>
      </dict>
      <key>monster_0026_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,353},{83,61}}</string>
        <key>offset</key>
        <string>{-20,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,61}}</string>
        <key>sourceSize</key>
        <string>{83,61}</string>
      </dict>
      <key>monster_0026_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,438},{83,61}}</string>
        <key>offset</key>
        <string>{-20,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,61}}</string>
        <key>sourceSize</key>
        <string>{83,61}</string>
      </dict>
      <key>monster_0026_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,441},{84,61}}</string>
        <key>offset</key>
        <string>{-21,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,61}}</string>
        <key>sourceSize</key>
        <string>{84,61}</string>
      </dict>
      <key>monster_0026_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,353},{84,61}}</string>
        <key>offset</key>
        <string>{-21,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,61}}</string>
        <key>sourceSize</key>
        <string>{84,61}</string>
      </dict>
      <key>monster_0026_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,81},{79,76}}</string>
        <key>offset</key>
        <string>{-16,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,76}}</string>
        <key>sourceSize</key>
        <string>{79,76}</string>
      </dict>
      <key>monster_0026_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{78,76}}</string>
        <key>offset</key>
        <string>{-16,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,76}}</string>
        <key>sourceSize</key>
        <string>{78,76}</string>
      </dict>
      <key>monster_0026_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,332},{78,75}}</string>
        <key>offset</key>
        <string>{-16,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>monster_0026_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,247},{78,74}}</string>
        <key>offset</key>
        <string>{-16,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,74}}</string>
        <key>sourceSize</key>
        <string>{78,74}</string>
      </dict>
      <key>monster_0026_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,162},{78,75}}</string>
        <key>offset</key>
        <string>{-16,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>monster_0026_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,80},{78,76}}</string>
        <key>offset</key>
        <string>{-16,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,76}}</string>
        <key>sourceSize</key>
        <string>{78,76}</string>
      </dict>
      <key>monster_0026_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,0},{63,78}}</string>
        <key>offset</key>
        <string>{-1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
      </dict>
      <key>monster_0026_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,160},{63,77}}</string>
        <key>offset</key>
        <string>{-1,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,77}}</string>
        <key>sourceSize</key>
        <string>{63,77}</string>
      </dict>
      <key>monster_0026_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{62,78}}</string>
        <key>offset</key>
        <string>{0,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,78}}</string>
        <key>sourceSize</key>
        <string>{62,78}</string>
      </dict>
      <key>monster_0026_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,80},{62,78}}</string>
        <key>offset</key>
        <string>{0,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,78}}</string>
        <key>sourceSize</key>
        <string>{62,78}</string>
      </dict>
      <key>monster_0026_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,412},{63,77}}</string>
        <key>offset</key>
        <string>{-1,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,77}}</string>
        <key>sourceSize</key>
        <string>{63,77}</string>
      </dict>
      <key>monster_0026_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,412},{63,77}}</string>
        <key>offset</key>
        <string>{-1,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,77}}</string>
        <key>sourceSize</key>
        <string>{63,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0026_0_0.png</string>
      <key>size</key>
      <string>{566,546}</string>
      <key>textureFileName</key>
      <string>monster_0026_0_0.png</string>
    </dict>
  </dict>
</plist>