<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0111_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,197},{64,59}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,59}}</string>
        <key>sourceSize</key>
        <string>{64,59}</string>
      </dict>
      <key>monster_0111_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,130},{65,59}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>monster_0111_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,449},{66,59}}</string>
        <key>offset</key>
        <string>{-2,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,59}}</string>
        <key>sourceSize</key>
        <string>{66,59}</string>
      </dict>
      <key>monster_0111_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,215},{66,60}}</string>
        <key>offset</key>
        <string>{-2,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>monster_0111_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,142},{66,60}}</string>
        <key>offset</key>
        <string>{-2,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>monster_0111_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,430},{65,59}}</string>
        <key>offset</key>
        <string>{-2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>monster_0111_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{71,64}}</string>
        <key>offset</key>
        <string>{7,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,64}}</string>
        <key>sourceSize</key>
        <string>{71,64}</string>
      </dict>
      <key>monster_0111_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,245},{74,65}}</string>
        <key>offset</key>
        <string>{6,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,65}}</string>
        <key>sourceSize</key>
        <string>{74,65}</string>
      </dict>
      <key>monster_0111_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,82},{75,65}}</string>
        <key>offset</key>
        <string>{6,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,65}}</string>
        <key>sourceSize</key>
        <string>{75,65}</string>
      </dict>
      <key>monster_0111_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{75,65}}</string>
        <key>offset</key>
        <string>{6,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,65}}</string>
        <key>sourceSize</key>
        <string>{75,65}</string>
      </dict>
      <key>monster_0111_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{75,66}}</string>
        <key>offset</key>
        <string>{6,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,66}}</string>
        <key>sourceSize</key>
        <string>{75,66}</string>
      </dict>
      <key>monster_0111_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,159},{74,65}}</string>
        <key>offset</key>
        <string>{6,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,65}}</string>
        <key>sourceSize</key>
        <string>{74,65}</string>
      </dict>
      <key>monster_0111_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,362},{64,66}}</string>
        <key>offset</key>
        <string>{11,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,66}}</string>
        <key>sourceSize</key>
        <string>{64,66}</string>
      </dict>
      <key>monster_0111_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,283},{63,66}}</string>
        <key>offset</key>
        <string>{12,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,66}}</string>
        <key>sourceSize</key>
        <string>{63,66}</string>
      </dict>
      <key>monster_0111_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,210},{63,66}}</string>
        <key>offset</key>
        <string>{13,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,66}}</string>
        <key>sourceSize</key>
        <string>{63,66}</string>
      </dict>
      <key>monster_0111_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,430},{65,65}}</string>
        <key>offset</key>
        <string>{13,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,65}}</string>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>monster_0111_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,351},{65,64}}</string>
        <key>offset</key>
        <string>{13,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,64}}</string>
        <key>sourceSize</key>
        <string>{65,64}</string>
      </dict>
      <key>monster_0111_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,263},{63,64}}</string>
        <key>offset</key>
        <string>{13,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,64}}</string>
        <key>sourceSize</key>
        <string>{63,64}</string>
      </dict>
      <key>monster_0111_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,151},{69,70}}</string>
        <key>offset</key>
        <string>{-2,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>monster_0111_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,403},{69,71}}</string>
        <key>offset</key>
        <string>{-3,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,71}}</string>
        <key>sourceSize</key>
        <string>{69,71}</string>
      </dict>
      <key>monster_0111_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,77},{70,72}}</string>
        <key>offset</key>
        <string>{-3,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>monster_0111_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,321},{70,71}}</string>
        <key>offset</key>
        <string>{-2,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>monster_0111_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,235},{71,70}}</string>
        <key>offset</key>
        <string>{-2,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>monster_0111_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,73},{70,70}}</string>
        <key>offset</key>
        <string>{-2,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>monster_0111_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,293},{67,65}}</string>
        <key>offset</key>
        <string>{-3,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,65}}</string>
        <key>sourceSize</key>
        <string>{67,65}</string>
      </dict>
      <key>monster_0111_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,223},{68,65}}</string>
        <key>offset</key>
        <string>{-4,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,65}}</string>
        <key>sourceSize</key>
        <string>{68,65}</string>
      </dict>
      <key>monster_0111_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{70,67}}</string>
        <key>offset</key>
        <string>{-5,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,67}}</string>
        <key>sourceSize</key>
        <string>{70,67}</string>
      </dict>
      <key>monster_0111_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,394},{69,66}}</string>
        <key>offset</key>
        <string>{-4,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,66}}</string>
        <key>sourceSize</key>
        <string>{69,66}</string>
      </dict>
      <key>monster_0111_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,145},{68,66}}</string>
        <key>offset</key>
        <string>{-3,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,66}}</string>
        <key>sourceSize</key>
        <string>{68,66}</string>
      </dict>
      <key>monster_0111_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,72},{68,66}}</string>
        <key>offset</key>
        <string>{-3,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,66}}</string>
        <key>sourceSize</key>
        <string>{68,66}</string>
      </dict>
      <key>monster_0111_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{79,60}}</string>
        <key>offset</key>
        <string>{-21,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>monster_0111_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{80,61}}</string>
        <key>offset</key>
        <string>{-22,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,61}}</string>
        <key>sourceSize</key>
        <string>{80,61}</string>
      </dict>
      <key>monster_0111_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{80,62}}</string>
        <key>offset</key>
        <string>{-22,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,62}}</string>
        <key>sourceSize</key>
        <string>{80,62}</string>
      </dict>
      <key>monster_0111_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{80,62}}</string>
        <key>offset</key>
        <string>{-22,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,62}}</string>
        <key>sourceSize</key>
        <string>{80,62}</string>
      </dict>
      <key>monster_0111_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,245},{79,61}}</string>
        <key>offset</key>
        <string>{-21,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,61}}</string>
        <key>sourceSize</key>
        <string>{79,61}</string>
      </dict>
      <key>monster_0111_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,164},{79,60}}</string>
        <key>offset</key>
        <string>{-21,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>monster_0111_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{68,62}}</string>
        <key>offset</key>
        <string>{-17,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,62}}</string>
        <key>sourceSize</key>
        <string>{68,62}</string>
      </dict>
      <key>monster_0111_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,0},{68,63}}</string>
        <key>offset</key>
        <string>{-17,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,63}}</string>
        <key>sourceSize</key>
        <string>{68,63}</string>
      </dict>
      <key>monster_0111_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,394},{69,63}}</string>
        <key>offset</key>
        <string>{-18,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,63}}</string>
        <key>sourceSize</key>
        <string>{69,63}</string>
      </dict>
      <key>monster_0111_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,65},{68,63}}</string>
        <key>offset</key>
        <string>{-18,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,63}}</string>
        <key>sourceSize</key>
        <string>{68,63}</string>
      </dict>
      <key>monster_0111_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,308},{69,63}}</string>
        <key>offset</key>
        <string>{-19,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,63}}</string>
        <key>sourceSize</key>
        <string>{69,63}</string>
      </dict>
      <key>monster_0111_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,379},{68,62}}</string>
        <key>offset</key>
        <string>{-18,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,62}}</string>
        <key>sourceSize</key>
        <string>{68,62}</string>
      </dict>
      <key>monster_0111_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,329},{64,59}}</string>
        <key>offset</key>
        <string>{-2,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,59}}</string>
        <key>sourceSize</key>
        <string>{64,59}</string>
      </dict>
      <key>monster_0111_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,278},{65,60}}</string>
        <key>offset</key>
        <string>{-2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,60}}</string>
        <key>sourceSize</key>
        <string>{65,60}</string>
      </dict>
      <key>monster_0111_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,390},{64,61}}</string>
        <key>offset</key>
        <string>{-2,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,61}}</string>
        <key>sourceSize</key>
        <string>{64,61}</string>
      </dict>
      <key>monster_0111_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,476},{64,61}}</string>
        <key>offset</key>
        <string>{-2,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,61}}</string>
        <key>sourceSize</key>
        <string>{64,61}</string>
      </dict>
      <key>monster_0111_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,476},{64,60}}</string>
        <key>offset</key>
        <string>{-3,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,60}}</string>
        <key>sourceSize</key>
        <string>{64,60}</string>
      </dict>
      <key>monster_0111_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,465},{64,60}}</string>
        <key>offset</key>
        <string>{-3,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,60}}</string>
        <key>sourceSize</key>
        <string>{64,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0111_0_0.png</string>
      <key>size</key>
      <string>{513,542}</string>
      <key>textureFileName</key>
      <string>monster_0111_0_0.png</string>
    </dict>
  </dict>
</plist>