<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0430_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{98,80}}</string>
        <key>offset</key>
        <string>{-13,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,80}}</string>
        <key>sourceSize</key>
        <string>{98,80}</string>
      </dict>
      <key>monster_0430_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,440},{100,69}}</string>
        <key>offset</key>
        <string>{-14,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,69}}</string>
        <key>sourceSize</key>
        <string>{100,69}</string>
      </dict>
      <key>monster_0430_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,337},{101,71}}</string>
        <key>offset</key>
        <string>{-14,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,71}}</string>
        <key>sourceSize</key>
        <string>{101,71}</string>
      </dict>
      <key>monster_0430_0_7_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,217},{100,76}}</string>
        <key>offset</key>
        <string>{-14,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,76}}</string>
        <key>sourceSize</key>
        <string>{100,76}</string>
      </dict>
      <key>monster_0430_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,177},{90,87}}</string>
        <key>offset</key>
        <string>{-5,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,87}}</string>
        <key>sourceSize</key>
        <string>{90,87}</string>
      </dict>
      <key>monster_0430_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,395},{90,79}}</string>
        <key>offset</key>
        <string>{-8,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,79}}</string>
        <key>sourceSize</key>
        <string>{90,79}</string>
      </dict>
      <key>monster_0430_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,292},{90,81}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,81}}</string>
        <key>sourceSize</key>
        <string>{90,81}</string>
      </dict>
      <key>monster_0430_0_7_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,266},{89,85}}</string>
        <key>offset</key>
        <string>{-5,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,85}}</string>
        <key>sourceSize</key>
        <string>{89,85}</string>
      </dict>
      <key>monster_0430_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{80,95}}</string>
        <key>offset</key>
        <string>{1,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,95}}</string>
        <key>sourceSize</key>
        <string>{80,95}</string>
      </dict>
      <key>monster_0430_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,97},{92,91}}</string>
        <key>offset</key>
        <string>{-5,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,91}}</string>
        <key>sourceSize</key>
        <string>{92,91}</string>
      </dict>
      <key>monster_0430_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{88,92}}</string>
        <key>offset</key>
        <string>{-3,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,92}}</string>
        <key>sourceSize</key>
        <string>{88,92}</string>
      </dict>
      <key>monster_0430_0_7_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,197},{81,93}}</string>
        <key>offset</key>
        <string>{2,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,93}}</string>
        <key>sourceSize</key>
        <string>{81,93}</string>
      </dict>
      <key>monster_0430_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,200},{79,96}}</string>
        <key>offset</key>
        <string>{-3,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,96}}</string>
        <key>sourceSize</key>
        <string>{79,96}</string>
      </dict>
      <key>monster_0430_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,420},{80,98}}</string>
        <key>offset</key>
        <string>{-1,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,98}}</string>
        <key>sourceSize</key>
        <string>{80,98}</string>
      </dict>
      <key>monster_0430_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,209},{80,98}}</string>
        <key>offset</key>
        <string>{-1,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,98}}</string>
        <key>sourceSize</key>
        <string>{80,98}</string>
      </dict>
      <key>monster_0430_0_7_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,100},{80,98}}</string>
        <key>offset</key>
        <string>{-2,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,98}}</string>
        <key>sourceSize</key>
        <string>{80,98}</string>
      </dict>
      <key>monster_0430_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{97,105}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,105}}</string>
        <key>sourceSize</key>
        <string>{97,105}</string>
      </dict>
      <key>monster_0430_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{97,107}}</string>
        <key>offset</key>
        <string>{-16,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,107}}</string>
        <key>sourceSize</key>
        <string>{97,107}</string>
      </dict>
      <key>monster_0430_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{97,107}}</string>
        <key>offset</key>
        <string>{-16,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,107}}</string>
        <key>sourceSize</key>
        <string>{97,107}</string>
      </dict>
      <key>monster_0430_0_7_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,109},{97,106}}</string>
        <key>offset</key>
        <string>{-16,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,106}}</string>
        <key>sourceSize</key>
        <string>{97,106}</string>
      </dict>
      <key>monster_0430_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,319},{98,99}}</string>
        <key>offset</key>
        <string>{-16,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,99}}</string>
        <key>sourceSize</key>
        <string>{98,99}</string>
      </dict>
      <key>monster_0430_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,319},{100,97}}</string>
        <key>offset</key>
        <string>{-11,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,97}}</string>
        <key>sourceSize</key>
        <string>{100,97}</string>
      </dict>
      <key>monster_0430_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,217},{100,97}}</string>
        <key>offset</key>
        <string>{-12,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,97}}</string>
        <key>sourceSize</key>
        <string>{100,97}</string>
      </dict>
      <key>monster_0430_0_7_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,108},{99,99}}</string>
        <key>offset</key>
        <string>{-14,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,99}}</string>
        <key>sourceSize</key>
        <string>{99,99}</string>
      </dict>
      <key>monster_0430_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,421},{100,86}}</string>
        <key>offset</key>
        <string>{-26,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,86}}</string>
        <key>sourceSize</key>
        <string>{100,86}</string>
      </dict>
      <key>monster_0430_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{113,81}}</string>
        <key>offset</key>
        <string>{-29,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,81}}</string>
        <key>sourceSize</key>
        <string>{113,81}</string>
      </dict>
      <key>monster_0430_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{111,82}}</string>
        <key>offset</key>
        <string>{-28,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,82}}</string>
        <key>sourceSize</key>
        <string>{111,82}</string>
      </dict>
      <key>monster_0430_0_7_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{106,84}}</string>
        <key>offset</key>
        <string>{-27,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,84}}</string>
        <key>sourceSize</key>
        <string>{106,84}</string>
      </dict>
      <key>monster_0430_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,94},{92,81}}</string>
        <key>offset</key>
        <string>{-22,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,81}}</string>
        <key>sourceSize</key>
        <string>{92,81}</string>
      </dict>
      <key>monster_0430_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{97,76}}</string>
        <key>offset</key>
        <string>{-21,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,76}}</string>
        <key>sourceSize</key>
        <string>{97,76}</string>
      </dict>
      <key>monster_0430_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,99},{96,76}}</string>
        <key>offset</key>
        <string>{-21,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,76}}</string>
        <key>sourceSize</key>
        <string>{96,76}</string>
      </dict>
      <key>monster_0430_0_7_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,298},{95,77}}</string>
        <key>offset</key>
        <string>{-22,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,77}}</string>
        <key>sourceSize</key>
        <string>{95,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0430_0_7.png</string>
      <key>size</key>
      <string>{640,512}</string>
      <key>textureFileName</key>
      <string>monster_0430_0_7.png</string>
    </dict>
  </dict>
</plist>