<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0130_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,158},{91,131}}</string>
        <key>offset</key>
        <string>{-18,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,131}}</string>
        <key>sourceSize</key>
        <string>{91,131}</string>
      </dict>
      <key>monster_0130_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,251},{104,126}}</string>
        <key>offset</key>
        <string>{-15,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,126}}</string>
        <key>sourceSize</key>
        <string>{104,126}</string>
      </dict>
      <key>monster_0130_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{117,129}}</string>
        <key>offset</key>
        <string>{-21,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,129}}</string>
        <key>sourceSize</key>
        <string>{117,129}</string>
      </dict>
      <key>monster_0130_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,365},{166,105}}</string>
        <key>offset</key>
        <string>{-50,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,105}}</string>
        <key>sourceSize</key>
        <string>{166,105}</string>
      </dict>
      <key>monster_0130_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,341},{161,112}}</string>
        <key>offset</key>
        <string>{-37,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,112}}</string>
        <key>sourceSize</key>
        <string>{161,112}</string>
      </dict>
      <key>monster_0130_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,504},{158,111}}</string>
        <key>offset</key>
        <string>{-42,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,111}}</string>
        <key>sourceSize</key>
        <string>{158,111}</string>
      </dict>
      <key>monster_0130_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,64}}</string>
        <key>offset</key>
        <string>{-75,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,64}}</string>
        <key>sourceSize</key>
        <string>{200,64}</string>
      </dict>
      <key>monster_0130_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{182,72}}</string>
        <key>offset</key>
        <string>{-59,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,72}}</string>
        <key>sourceSize</key>
        <string>{182,72}</string>
      </dict>
      <key>monster_0130_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{184,73}}</string>
        <key>offset</key>
        <string>{-65,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,73}}</string>
        <key>sourceSize</key>
        <string>{184,73}</string>
      </dict>
      <key>monster_0130_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,164},{161,91}}</string>
        <key>offset</key>
        <string>{-44,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,91}}</string>
        <key>sourceSize</key>
        <string>{161,91}</string>
      </dict>
      <key>monster_0130_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,177},{162,79}}</string>
        <key>offset</key>
        <string>{-47,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,79}}</string>
        <key>sourceSize</key>
        <string>{162,79}</string>
      </dict>
      <key>monster_0130_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{162,81}}</string>
        <key>offset</key>
        <string>{-47,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,81}}</string>
        <key>sourceSize</key>
        <string>{162,81}</string>
      </dict>
      <key>monster_0130_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,357},{92,109}}</string>
        <key>offset</key>
        <string>{-15,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,109}}</string>
        <key>sourceSize</key>
        <string>{92,109}</string>
      </dict>
      <key>monster_0130_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,533},{93,99}}</string>
        <key>offset</key>
        <string>{-23,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,99}}</string>
        <key>sourceSize</key>
        <string>{93,99}</string>
      </dict>
      <key>monster_0130_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,451},{109,99}}</string>
        <key>offset</key>
        <string>{-31,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,99}}</string>
        <key>sourceSize</key>
        <string>{109,99}</string>
      </dict>
      <key>monster_0130_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,0},{160,89}}</string>
        <key>offset</key>
        <string>{-56,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,89}}</string>
        <key>sourceSize</key>
        <string>{160,89}</string>
      </dict>
      <key>monster_0130_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,320},{147,84}}</string>
        <key>offset</key>
        <string>{-56,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,84}}</string>
        <key>sourceSize</key>
        <string>{147,84}</string>
      </dict>
      <key>monster_0130_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,485},{148,84}}</string>
        <key>offset</key>
        <string>{-52,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,84}}</string>
        <key>sourceSize</key>
        <string>{148,84}</string>
      </dict>
      <key>monster_0130_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{193,65}}</string>
        <key>offset</key>
        <string>{-65,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,65}}</string>
        <key>sourceSize</key>
        <string>{193,65}</string>
      </dict>
      <key>monster_0130_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,186},{177,79}}</string>
        <key>offset</key>
        <string>{-68,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,79}}</string>
        <key>sourceSize</key>
        <string>{177,79}</string>
      </dict>
      <key>monster_0130_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,0},{175,83}}</string>
        <key>offset</key>
        <string>{-57,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,83}}</string>
        <key>sourceSize</key>
        <string>{175,83}</string>
      </dict>
      <key>monster_0130_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,327},{156,107}}</string>
        <key>offset</key>
        <string>{-59,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,107}}</string>
        <key>sourceSize</key>
        <string>{156,107}</string>
      </dict>
      <key>monster_0130_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,162},{156,111}}</string>
        <key>offset</key>
        <string>{-59,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,111}}</string>
        <key>sourceSize</key>
        <string>{156,111}</string>
      </dict>
      <key>monster_0130_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{156,106}}</string>
        <key>offset</key>
        <string>{-59,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,106}}</string>
        <key>sourceSize</key>
        <string>{156,106}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0130_0_7.png</string>
      <key>size</key>
      <string>{640,640}</string>
      <key>textureFileName</key>
      <string>monster_0130_0_7.png</string>
    </dict>
  </dict>
</plist>