<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0103_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,412},{109,105}}</string>
        <key>offset</key>
        <string>{-14,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,105}}</string>
        <key>sourceSize</key>
        <string>{109,105}</string>
      </dict>
      <key>monster_0103_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,304},{111,106}}</string>
        <key>offset</key>
        <string>{-14,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,106}}</string>
        <key>sourceSize</key>
        <string>{111,106}</string>
      </dict>
      <key>monster_0103_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,214},{112,107}}</string>
        <key>offset</key>
        <string>{-14,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,107}}</string>
        <key>sourceSize</key>
        <string>{112,107}</string>
      </dict>
      <key>monster_0103_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,214},{112,106}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,106}}</string>
        <key>sourceSize</key>
        <string>{112,106}</string>
      </dict>
      <key>monster_0103_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,323},{111,107}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,107}}</string>
        <key>sourceSize</key>
        <string>{111,107}</string>
      </dict>
      <key>monster_0103_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,430},{109,106}}</string>
        <key>offset</key>
        <string>{-14,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,106}}</string>
        <key>sourceSize</key>
        <string>{109,106}</string>
      </dict>
      <key>monster_0103_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,0},{131,102}}</string>
        <key>offset</key>
        <string>{-17,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,102}}</string>
        <key>sourceSize</key>
        <string>{131,102}</string>
      </dict>
      <key>monster_0103_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,135},{132,102}}</string>
        <key>offset</key>
        <string>{-16,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,102}}</string>
        <key>sourceSize</key>
        <string>{132,102}</string>
      </dict>
      <key>monster_0103_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{134,102}}</string>
        <key>offset</key>
        <string>{-16,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,102}}</string>
        <key>sourceSize</key>
        <string>{134,102}</string>
      </dict>
      <key>monster_0103_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{133,103}}</string>
        <key>offset</key>
        <string>{-15,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,103}}</string>
        <key>sourceSize</key>
        <string>{133,103}</string>
      </dict>
      <key>monster_0103_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{134,102}}</string>
        <key>offset</key>
        <string>{-16,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,102}}</string>
        <key>sourceSize</key>
        <string>{134,102}</string>
      </dict>
      <key>monster_0103_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{133,101}}</string>
        <key>offset</key>
        <string>{-17,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,101}}</string>
        <key>sourceSize</key>
        <string>{133,101}</string>
      </dict>
      <key>monster_0103_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,620},{113,104}}</string>
        <key>offset</key>
        <string>{-11,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,104}}</string>
        <key>sourceSize</key>
        <string>{113,104}</string>
      </dict>
      <key>monster_0103_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,0},{113,106}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,106}}</string>
        <key>sourceSize</key>
        <string>{113,106}</string>
      </dict>
      <key>monster_0103_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,322},{112,106}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,106}}</string>
        <key>sourceSize</key>
        <string>{112,106}</string>
      </dict>
      <key>monster_0103_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{113,105}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,105}}</string>
        <key>sourceSize</key>
        <string>{113,105}</string>
      </dict>
      <key>monster_0103_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,117},{114,104}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,104}}</string>
        <key>sourceSize</key>
        <string>{114,104}</string>
      </dict>
      <key>monster_0103_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,107},{113,105}}</string>
        <key>offset</key>
        <string>{-10,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,105}}</string>
        <key>sourceSize</key>
        <string>{113,105}</string>
      </dict>
      <key>monster_0103_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{115,108}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,108}}</string>
        <key>sourceSize</key>
        <string>{115,108}</string>
      </dict>
      <key>monster_0103_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,394},{116,109}}</string>
        <key>offset</key>
        <string>{-18,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,109}}</string>
        <key>sourceSize</key>
        <string>{116,109}</string>
      </dict>
      <key>monster_0103_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,653},{117,110}}</string>
        <key>offset</key>
        <string>{-18,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,110}}</string>
        <key>sourceSize</key>
        <string>{117,110}</string>
      </dict>
      <key>monster_0103_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,533},{118,110}}</string>
        <key>offset</key>
        <string>{-18,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,110}}</string>
        <key>sourceSize</key>
        <string>{118,110}</string>
      </dict>
      <key>monster_0103_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,269},{116,109}}</string>
        <key>offset</key>
        <string>{-16,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,109}}</string>
        <key>sourceSize</key>
        <string>{116,109}</string>
      </dict>
      <key>monster_0103_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,133},{116,108}}</string>
        <key>offset</key>
        <string>{-16,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,108}}</string>
        <key>sourceSize</key>
        <string>{116,108}</string>
      </dict>
      <key>monster_0103_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,108},{113,95}}</string>
        <key>offset</key>
        <string>{-26,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,95}}</string>
        <key>sourceSize</key>
        <string>{113,95}</string>
      </dict>
      <key>monster_0103_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{114,97}}</string>
        <key>offset</key>
        <string>{-27,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,97}}</string>
        <key>sourceSize</key>
        <string>{114,97}</string>
      </dict>
      <key>monster_0103_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,387},{115,96}}</string>
        <key>offset</key>
        <string>{-27,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,96}}</string>
        <key>sourceSize</key>
        <string>{115,96}</string>
      </dict>
      <key>monster_0103_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,251},{115,96}}</string>
        <key>offset</key>
        <string>{-26,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,96}}</string>
        <key>sourceSize</key>
        <string>{115,96}</string>
      </dict>
      <key>monster_0103_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,504},{114,96}}</string>
        <key>offset</key>
        <string>{-25,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,96}}</string>
        <key>sourceSize</key>
        <string>{114,96}</string>
      </dict>
      <key>monster_0103_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,205},{113,97}}</string>
        <key>offset</key>
        <string>{-25,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,97}}</string>
        <key>sourceSize</key>
        <string>{113,97}</string>
      </dict>
      <key>monster_0103_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,269},{123,91}}</string>
        <key>offset</key>
        <string>{-47,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,91}}</string>
        <key>sourceSize</key>
        <string>{123,91}</string>
      </dict>
      <key>monster_0103_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,661},{124,92}}</string>
        <key>offset</key>
        <string>{-48,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,92}}</string>
        <key>sourceSize</key>
        <string>{124,92}</string>
      </dict>
      <key>monster_0103_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,407},{125,93}}</string>
        <key>offset</key>
        <string>{-49,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,93}}</string>
        <key>sourceSize</key>
        <string>{125,93}</string>
      </dict>
      <key>monster_0103_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,534},{125,93}}</string>
        <key>offset</key>
        <string>{-49,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,93}}</string>
        <key>sourceSize</key>
        <string>{125,93}</string>
      </dict>
      <key>monster_0103_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,407},{124,93}}</string>
        <key>offset</key>
        <string>{-49,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,93}}</string>
        <key>sourceSize</key>
        <string>{124,93}</string>
      </dict>
      <key>monster_0103_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,533},{124,92}}</string>
        <key>offset</key>
        <string>{-48,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,92}}</string>
        <key>sourceSize</key>
        <string>{124,92}</string>
      </dict>
      <key>monster_0103_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,723},{98,97}}</string>
        <key>offset</key>
        <string>{-26,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,97}}</string>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>monster_0103_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,765},{99,98}}</string>
        <key>offset</key>
        <string>{-27,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,98}}</string>
        <key>sourceSize</key>
        <string>{99,98}</string>
      </dict>
      <key>monster_0103_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,765},{100,98}}</string>
        <key>offset</key>
        <string>{-28,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,98}}</string>
        <key>sourceSize</key>
        <string>{100,98}</string>
      </dict>
      <key>monster_0103_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,765},{101,98}}</string>
        <key>offset</key>
        <string>{-30,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,98}}</string>
        <key>sourceSize</key>
        <string>{101,98}</string>
      </dict>
      <key>monster_0103_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,765},{100,98}}</string>
        <key>offset</key>
        <string>{-30,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,98}}</string>
        <key>sourceSize</key>
        <string>{100,98}</string>
      </dict>
      <key>monster_0103_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,538},{99,97}}</string>
        <key>offset</key>
        <string>{-29,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,97}}</string>
        <key>sourceSize</key>
        <string>{99,97}</string>
      </dict>
      <key>monster_0103_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,637},{101,105}}</string>
        <key>offset</key>
        <string>{-16,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,105}}</string>
        <key>sourceSize</key>
        <string>{101,105}</string>
      </dict>
      <key>monster_0103_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,637},{101,106}}</string>
        <key>offset</key>
        <string>{-15,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,106}}</string>
        <key>sourceSize</key>
        <string>{101,106}</string>
      </dict>
      <key>monster_0103_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,432},{101,107}}</string>
        <key>offset</key>
        <string>{-15,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,107}}</string>
        <key>sourceSize</key>
        <string>{101,107}</string>
      </dict>
      <key>monster_0103_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,519},{100,107}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,107}}</string>
        <key>sourceSize</key>
        <string>{100,107}</string>
      </dict>
      <key>monster_0103_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,535},{100,107}}</string>
        <key>offset</key>
        <string>{-17,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,107}}</string>
        <key>sourceSize</key>
        <string>{100,107}</string>
      </dict>
      <key>monster_0103_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,621},{100,107}}</string>
        <key>offset</key>
        <string>{-17,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,107}}</string>
        <key>sourceSize</key>
        <string>{100,107}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0103_0_0.png</string>
      <key>size</key>
      <string>{770,866}</string>
      <key>textureFileName</key>
      <string>monster_0103_0_0.png</string>
    </dict>
  </dict>
</plist>