<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0103_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,0},{108,107}}</string>
        <key>offset</key>
        <string>{-13,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,107}}</string>
        <key>sourceSize</key>
        <string>{108,107}</string>
      </dict>
      <key>monster_0103_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,353},{105,110}}</string>
        <key>offset</key>
        <string>{-12,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,110}}</string>
        <key>sourceSize</key>
        <string>{105,110}</string>
      </dict>
      <key>monster_0103_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,353},{107,109}}</string>
        <key>offset</key>
        <string>{-11,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,109}}</string>
        <key>sourceSize</key>
        <string>{107,109}</string>
      </dict>
      <key>monster_0103_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,229},{109,108}}</string>
        <key>offset</key>
        <string>{-13,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,108}}</string>
        <key>sourceSize</key>
        <string>{109,108}</string>
      </dict>
      <key>monster_0103_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,116},{111,108}}</string>
        <key>offset</key>
        <string>{-14,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,108}}</string>
        <key>sourceSize</key>
        <string>{111,108}</string>
      </dict>
      <key>monster_0103_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,109},{108,107}}</string>
        <key>offset</key>
        <string>{-13,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,107}}</string>
        <key>sourceSize</key>
        <string>{108,107}</string>
      </dict>
      <key>monster_0103_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,218},{107,108}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,108}}</string>
        <key>sourceSize</key>
        <string>{107,108}</string>
      </dict>
      <key>monster_0103_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,688},{108,106}}</string>
        <key>offset</key>
        <string>{-13,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,106}}</string>
        <key>sourceSize</key>
        <string>{108,106}</string>
      </dict>
      <key>monster_0103_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{132,99}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,99}}</string>
        <key>sourceSize</key>
        <string>{132,99}</string>
      </dict>
      <key>monster_0103_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,270},{130,99}}</string>
        <key>offset</key>
        <string>{-7,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,99}}</string>
        <key>sourceSize</key>
        <string>{130,99}</string>
      </dict>
      <key>monster_0103_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{132,99}}</string>
        <key>offset</key>
        <string>{-6,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,99}}</string>
        <key>sourceSize</key>
        <string>{132,99}</string>
      </dict>
      <key>monster_0103_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,402},{122,99}}</string>
        <key>offset</key>
        <string>{-6,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,99}}</string>
        <key>sourceSize</key>
        <string>{122,99}</string>
      </dict>
      <key>monster_0103_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,465},{107,110}}</string>
        <key>offset</key>
        <string>{-7,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,110}}</string>
        <key>sourceSize</key>
        <string>{107,110}</string>
      </dict>
      <key>monster_0103_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{108,114}}</string>
        <key>offset</key>
        <string>{-7,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,114}}</string>
        <key>sourceSize</key>
        <string>{108,114}</string>
      </dict>
      <key>monster_0103_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,577},{108,106}}</string>
        <key>offset</key>
        <string>{-7,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,106}}</string>
        <key>sourceSize</key>
        <string>{108,106}</string>
      </dict>
      <key>monster_0103_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,670},{127,100}}</string>
        <key>offset</key>
        <string>{-6,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,100}}</string>
        <key>sourceSize</key>
        <string>{127,100}</string>
      </dict>
      <key>monster_0103_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,404},{132,101}}</string>
        <key>offset</key>
        <string>{-14,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,101}}</string>
        <key>sourceSize</key>
        <string>{132,101}</string>
      </dict>
      <key>monster_0103_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{134,102}}</string>
        <key>offset</key>
        <string>{-14,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,102}}</string>
        <key>sourceSize</key>
        <string>{134,102}</string>
      </dict>
      <key>monster_0103_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{130,99}}</string>
        <key>offset</key>
        <string>{-13,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,99}}</string>
        <key>sourceSize</key>
        <string>{130,99}</string>
      </dict>
      <key>monster_0103_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,387},{119,110}}</string>
        <key>offset</key>
        <string>{-14,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,110}}</string>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
      <key>monster_0103_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{120,117}}</string>
        <key>offset</key>
        <string>{-15,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,117}}</string>
        <key>sourceSize</key>
        <string>{120,117}</string>
      </dict>
      <key>monster_0103_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,264},{119,121}}</string>
        <key>offset</key>
        <string>{-14,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,121}}</string>
        <key>sourceSize</key>
        <string>{119,121}</string>
      </dict>
      <key>monster_0103_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,648},{117,119}}</string>
        <key>offset</key>
        <string>{-13,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,119}}</string>
        <key>sourceSize</key>
        <string>{117,119}</string>
      </dict>
      <key>monster_0103_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,769},{119,106}}</string>
        <key>offset</key>
        <string>{-13,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,106}}</string>
        <key>sourceSize</key>
        <string>{119,106}</string>
      </dict>
      <key>monster_0103_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,113},{109,106}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,106}}</string>
        <key>sourceSize</key>
        <string>{109,106}</string>
      </dict>
      <key>monster_0103_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,687},{106,104}}</string>
        <key>offset</key>
        <string>{-6,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,104}}</string>
        <key>sourceSize</key>
        <string>{106,104}</string>
      </dict>
      <key>monster_0103_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,464},{103,108}}</string>
        <key>offset</key>
        <string>{-2,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,108}}</string>
        <key>sourceSize</key>
        <string>{103,108}</string>
      </dict>
      <key>monster_0103_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,504},{108,113}}</string>
        <key>offset</key>
        <string>{-6,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,113}}</string>
        <key>sourceSize</key>
        <string>{108,113}</string>
      </dict>
      <key>monster_0103_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,387},{115,106}}</string>
        <key>offset</key>
        <string>{-13,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,106}}</string>
        <key>sourceSize</key>
        <string>{115,106}</string>
      </dict>
      <key>monster_0103_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,508},{118,106}}</string>
        <key>offset</key>
        <string>{-16,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,106}}</string>
        <key>sourceSize</key>
        <string>{118,106}</string>
      </dict>
      <key>monster_0103_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,734},{105,112}}</string>
        <key>offset</key>
        <string>{-4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,112}}</string>
        <key>sourceSize</key>
        <string>{105,112}</string>
      </dict>
      <key>monster_0103_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,239},{109,112}}</string>
        <key>offset</key>
        <string>{-9,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,112}}</string>
        <key>sourceSize</key>
        <string>{109,112}</string>
      </dict>
      <key>monster_0103_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,327},{106,100}}</string>
        <key>offset</key>
        <string>{-18,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,100}}</string>
        <key>sourceSize</key>
        <string>{106,100}</string>
      </dict>
      <key>monster_0103_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,524},{104,100}}</string>
        <key>offset</key>
        <string>{-15,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,100}}</string>
        <key>sourceSize</key>
        <string>{104,100}</string>
      </dict>
      <key>monster_0103_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,340},{108,101}}</string>
        <key>offset</key>
        <string>{-19,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,101}}</string>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>monster_0103_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,526},{120,97}}</string>
        <key>offset</key>
        <string>{-31,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,97}}</string>
        <key>sourceSize</key>
        <string>{120,97}</string>
      </dict>
      <key>monster_0103_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,136},{132,88}}</string>
        <key>offset</key>
        <string>{-42,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,88}}</string>
        <key>sourceSize</key>
        <string>{132,88}</string>
      </dict>
      <key>monster_0103_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,132},{130,88}}</string>
        <key>offset</key>
        <string>{-41,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,88}}</string>
        <key>sourceSize</key>
        <string>{130,88}</string>
      </dict>
      <key>monster_0103_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,538},{127,90}}</string>
        <key>offset</key>
        <string>{-38,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,90}}</string>
        <key>sourceSize</key>
        <string>{127,90}</string>
      </dict>
      <key>monster_0103_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,744},{113,102}}</string>
        <key>offset</key>
        <string>{-24,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,102}}</string>
        <key>sourceSize</key>
        <string>{113,102}</string>
      </dict>
      <key>monster_0103_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,800},{127,94}}</string>
        <key>offset</key>
        <string>{-48,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,94}}</string>
        <key>sourceSize</key>
        <string>{127,94}</string>
      </dict>
      <key>monster_0103_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,799},{123,93}}</string>
        <key>offset</key>
        <string>{-45,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,93}}</string>
        <key>sourceSize</key>
        <string>{123,93}</string>
      </dict>
      <key>monster_0103_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,670},{128,90}}</string>
        <key>offset</key>
        <string>{-50,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,90}}</string>
        <key>sourceSize</key>
        <string>{128,90}</string>
      </dict>
      <key>monster_0103_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,0},{130,91}}</string>
        <key>offset</key>
        <string>{-51,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,91}}</string>
        <key>sourceSize</key>
        <string>{130,91}</string>
      </dict>
      <key>monster_0103_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,628},{114,90}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,90}}</string>
        <key>sourceSize</key>
        <string>{114,90}</string>
      </dict>
      <key>monster_0103_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,0},{111,91}}</string>
        <key>offset</key>
        <string>{-32,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,91}}</string>
        <key>sourceSize</key>
        <string>{111,91}</string>
      </dict>
      <key>monster_0103_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,132},{121,91}}</string>
        <key>offset</key>
        <string>{-42,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,91}}</string>
        <key>sourceSize</key>
        <string>{121,91}</string>
      </dict>
      <key>monster_0103_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,538},{130,91}}</string>
        <key>offset</key>
        <string>{-52,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,91}}</string>
        <key>sourceSize</key>
        <string>{130,91}</string>
      </dict>
      <key>monster_0103_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,255},{115,99}}</string>
        <key>offset</key>
        <string>{-42,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,99}}</string>
        <key>sourceSize</key>
        <string>{115,99}</string>
      </dict>
      <key>monster_0103_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,122},{115,99}}</string>
        <key>offset</key>
        <string>{-43,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,99}}</string>
        <key>sourceSize</key>
        <string>{115,99}</string>
      </dict>
      <key>monster_0103_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,619},{113,99}}</string>
        <key>offset</key>
        <string>{-42,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,99}}</string>
        <key>sourceSize</key>
        <string>{113,99}</string>
      </dict>
      <key>monster_0103_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,96},{99,98}}</string>
        <key>offset</key>
        <string>{-27,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,98}}</string>
        <key>sourceSize</key>
        <string>{99,98}</string>
      </dict>
      <key>monster_0103_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,626},{93,96}}</string>
        <key>offset</key>
        <string>{-20,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>monster_0103_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,524},{91,97}}</string>
        <key>offset</key>
        <string>{-20,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,97}}</string>
        <key>sourceSize</key>
        <string>{91,97}</string>
      </dict>
      <key>monster_0103_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,323},{90,98}}</string>
        <key>offset</key>
        <string>{-19,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,98}}</string>
        <key>sourceSize</key>
        <string>{90,98}</string>
      </dict>
      <key>monster_0103_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,0},{109,99}}</string>
        <key>offset</key>
        <string>{-37,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,99}}</string>
        <key>sourceSize</key>
        <string>{109,99}</string>
      </dict>
      <key>monster_0103_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,798},{95,107}}</string>
        <key>offset</key>
        <string>{-14,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,107}}</string>
        <key>sourceSize</key>
        <string>{95,107}</string>
      </dict>
      <key>monster_0103_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,577},{94,109}}</string>
        <key>offset</key>
        <string>{-15,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,109}}</string>
        <key>sourceSize</key>
        <string>{94,109}</string>
      </dict>
      <key>monster_0103_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,429},{93,106}}</string>
        <key>offset</key>
        <string>{-16,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,106}}</string>
        <key>sourceSize</key>
        <string>{93,106}</string>
      </dict>
      <key>monster_0103_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,626},{94,103}}</string>
        <key>offset</key>
        <string>{-17,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,103}}</string>
        <key>sourceSize</key>
        <string>{94,103}</string>
      </dict>
      <key>monster_0103_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,795},{97,102}}</string>
        <key>offset</key>
        <string>{-19,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,102}}</string>
        <key>sourceSize</key>
        <string>{97,102}</string>
      </dict>
      <key>monster_0103_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,722},{95,103}}</string>
        <key>offset</key>
        <string>{-18,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,103}}</string>
        <key>sourceSize</key>
        <string>{95,103}</string>
      </dict>
      <key>monster_0103_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,218},{93,103}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,103}}</string>
        <key>sourceSize</key>
        <string>{93,103}</string>
      </dict>
      <key>monster_0103_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,0},{94,102}}</string>
        <key>offset</key>
        <string>{-15,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,102}}</string>
        <key>sourceSize</key>
        <string>{94,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0103_0_1.png</string>
      <key>size</key>
      <string>{987,898}</string>
      <key>textureFileName</key>
      <string>monster_0103_0_1.png</string>
    </dict>
  </dict>
</plist>