<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0045_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,310},{76,97}}</string>
        <key>offset</key>
        <string>{-6,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,97}}</string>
        <key>sourceSize</key>
        <string>{76,97}</string>
      </dict>
      <key>monster_0045_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,409},{81,97}}</string>
        <key>offset</key>
        <string>{-9,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,97}}</string>
        <key>sourceSize</key>
        <string>{81,97}</string>
      </dict>
      <key>monster_0045_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,205},{76,97}}</string>
        <key>offset</key>
        <string>{-5,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,97}}</string>
        <key>sourceSize</key>
        <string>{76,97}</string>
      </dict>
      <key>monster_0045_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,101},{73,97}}</string>
        <key>offset</key>
        <string>{-3,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,97}}</string>
        <key>sourceSize</key>
        <string>{73,97}</string>
      </dict>
      <key>monster_0045_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{102,86}}</string>
        <key>offset</key>
        <string>{-26,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,86}}</string>
        <key>sourceSize</key>
        <string>{102,86}</string>
      </dict>
      <key>monster_0045_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,242},{105,85}}</string>
        <key>offset</key>
        <string>{-26,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,85}}</string>
        <key>sourceSize</key>
        <string>{105,85}</string>
      </dict>
      <key>monster_0045_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,210},{102,85}}</string>
        <key>offset</key>
        <string>{-27,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,85}}</string>
        <key>sourceSize</key>
        <string>{102,85}</string>
      </dict>
      <key>monster_0045_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,314},{101,85}}</string>
        <key>offset</key>
        <string>{-27,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,85}}</string>
        <key>sourceSize</key>
        <string>{101,85}</string>
      </dict>
      <key>monster_0045_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{118,65}}</string>
        <key>offset</key>
        <string>{-42,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,65}}</string>
        <key>sourceSize</key>
        <string>{118,65}</string>
      </dict>
      <key>monster_0045_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{119,66}}</string>
        <key>offset</key>
        <string>{-42,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,66}}</string>
        <key>sourceSize</key>
        <string>{119,66}</string>
      </dict>
      <key>monster_0045_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{119,66}}</string>
        <key>offset</key>
        <string>{-43,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,66}}</string>
        <key>sourceSize</key>
        <string>{119,66}</string>
      </dict>
      <key>monster_0045_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{118,66}}</string>
        <key>offset</key>
        <string>{-43,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,66}}</string>
        <key>sourceSize</key>
        <string>{118,66}</string>
      </dict>
      <key>monster_0045_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{103,68}}</string>
        <key>offset</key>
        <string>{-26,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,68}}</string>
        <key>sourceSize</key>
        <string>{103,68}</string>
      </dict>
      <key>monster_0045_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,349},{105,68}}</string>
        <key>offset</key>
        <string>{-25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,68}}</string>
        <key>sourceSize</key>
        <string>{105,68}</string>
      </dict>
      <key>monster_0045_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,104},{102,67}}</string>
        <key>offset</key>
        <string>{-25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,67}}</string>
        <key>sourceSize</key>
        <string>{102,67}</string>
      </dict>
      <key>monster_0045_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,208},{100,68}}</string>
        <key>offset</key>
        <string>{-25,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,68}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>monster_0045_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,508},{76,62}}</string>
        <key>offset</key>
        <string>{-6,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,62}}</string>
        <key>sourceSize</key>
        <string>{76,62}</string>
      </dict>
      <key>monster_0045_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{81,63}}</string>
        <key>offset</key>
        <string>{-8,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,63}}</string>
        <key>sourceSize</key>
        <string>{81,63}</string>
      </dict>
      <key>monster_0045_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,455},{79,64}}</string>
        <key>offset</key>
        <string>{-9,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,64}}</string>
        <key>sourceSize</key>
        <string>{79,64}</string>
      </dict>
      <key>monster_0045_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,508},{77,63}}</string>
        <key>offset</key>
        <string>{-8,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,63}}</string>
        <key>sourceSize</key>
        <string>{77,63}</string>
      </dict>
      <key>monster_0045_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{97,68}}</string>
        <key>offset</key>
        <string>{-14,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,68}}</string>
        <key>sourceSize</key>
        <string>{97,68}</string>
      </dict>
      <key>monster_0045_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,104},{99,67}}</string>
        <key>offset</key>
        <string>{-16,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,67}}</string>
        <key>sourceSize</key>
        <string>{99,67}</string>
      </dict>
      <key>monster_0045_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,417},{98,67}}</string>
        <key>offset</key>
        <string>{-14,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,67}}</string>
        <key>sourceSize</key>
        <string>{98,67}</string>
      </dict>
      <key>monster_0045_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,200},{96,68}}</string>
        <key>offset</key>
        <string>{-12,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,68}}</string>
        <key>sourceSize</key>
        <string>{96,68}</string>
      </dict>
      <key>monster_0045_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,105},{103,65}}</string>
        <key>offset</key>
        <string>{-2,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,65}}</string>
        <key>sourceSize</key>
        <string>{103,65}</string>
      </dict>
      <key>monster_0045_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,105},{103,66}}</string>
        <key>offset</key>
        <string>{-3,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,66}}</string>
        <key>sourceSize</key>
        <string>{103,66}</string>
      </dict>
      <key>monster_0045_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,349},{104,64}}</string>
        <key>offset</key>
        <string>{-3,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,64}}</string>
        <key>sourceSize</key>
        <string>{104,64}</string>
      </dict>
      <key>monster_0045_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{102,63}}</string>
        <key>offset</key>
        <string>{-1,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,63}}</string>
        <key>sourceSize</key>
        <string>{102,63}</string>
      </dict>
      <key>monster_0045_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,99},{96,86}}</string>
        <key>offset</key>
        <string>{-13,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,86}}</string>
        <key>sourceSize</key>
        <string>{96,86}</string>
      </dict>
      <key>monster_0045_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,0},{99,85}}</string>
        <key>offset</key>
        <string>{-16,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,85}}</string>
        <key>sourceSize</key>
        <string>{99,85}</string>
      </dict>
      <key>monster_0045_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,304},{97,86}}</string>
        <key>offset</key>
        <string>{-15,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,86}}</string>
        <key>sourceSize</key>
        <string>{97,86}</string>
      </dict>
      <key>monster_0045_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,403},{94,86}}</string>
        <key>offset</key>
        <string>{-11,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,86}}</string>
        <key>sourceSize</key>
        <string>{94,86}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0045_0_0.png</string>
      <key>size</key>
      <string>{514,574}</string>
      <key>textureFileName</key>
      <string>monster_0045_0_0.png</string>
    </dict>
  </dict>
</plist>