<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0373_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,0},{79,117}}</string>
        <key>offset</key>
        <string>{-2,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,117}}</string>
        <key>sourceSize</key>
        <string>{79,117}</string>
      </dict>
      <key>monster_0373_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{87,105}}</string>
        <key>offset</key>
        <string>{-2,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,105}}</string>
        <key>sourceSize</key>
        <string>{87,105}</string>
      </dict>
      <key>monster_0373_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,399},{81,96}}</string>
        <key>offset</key>
        <string>{-2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,96}}</string>
        <key>sourceSize</key>
        <string>{81,96}</string>
      </dict>
      <key>monster_0373_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,81},{106,117}}</string>
        <key>offset</key>
        <string>{-4,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,117}}</string>
        <key>sourceSize</key>
        <string>{106,117}</string>
      </dict>
      <key>monster_0373_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,123},{118,101}}</string>
        <key>offset</key>
        <string>{-3,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,101}}</string>
        <key>sourceSize</key>
        <string>{118,101}</string>
      </dict>
      <key>monster_0373_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,405},{127,98}}</string>
        <key>offset</key>
        <string>{-7,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,98}}</string>
        <key>sourceSize</key>
        <string>{127,98}</string>
      </dict>
      <key>monster_0373_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,287},{133,106}}</string>
        <key>offset</key>
        <string>{-3,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,106}}</string>
        <key>sourceSize</key>
        <string>{133,106}</string>
      </dict>
      <key>monster_0373_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,140},{133,106}}</string>
        <key>offset</key>
        <string>{-2,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,106}}</string>
        <key>sourceSize</key>
        <string>{133,106}</string>
      </dict>
      <key>monster_0373_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,131},{127,99}}</string>
        <key>offset</key>
        <string>{-5,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,99}}</string>
        <key>sourceSize</key>
        <string>{127,99}</string>
      </dict>
      <key>monster_0373_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{129,109}}</string>
        <key>offset</key>
        <string>{-10,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,109}}</string>
        <key>sourceSize</key>
        <string>{129,109}</string>
      </dict>
      <key>monster_0373_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{114,121}}</string>
        <key>offset</key>
        <string>{-13,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,121}}</string>
        <key>sourceSize</key>
        <string>{114,121}</string>
      </dict>
      <key>monster_0373_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,258},{105,120}}</string>
        <key>offset</key>
        <string>{-17,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,120}}</string>
        <key>sourceSize</key>
        <string>{105,120}</string>
      </dict>
      <key>monster_0373_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,189},{98,117}}</string>
        <key>offset</key>
        <string>{-10,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,117}}</string>
        <key>sourceSize</key>
        <string>{98,117}</string>
      </dict>
      <key>monster_0373_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,131},{92,125}}</string>
        <key>offset</key>
        <string>{-11,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,125}}</string>
        <key>sourceSize</key>
        <string>{92,125}</string>
      </dict>
      <key>monster_0373_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,380},{98,120}}</string>
        <key>offset</key>
        <string>{-12,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,120}}</string>
        <key>sourceSize</key>
        <string>{98,120}</string>
      </dict>
      <key>monster_0373_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,289},{117,108}}</string>
        <key>offset</key>
        <string>{-24,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,108}}</string>
        <key>sourceSize</key>
        <string>{117,108}</string>
      </dict>
      <key>monster_0373_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,275},{128,111}}</string>
        <key>offset</key>
        <string>{-42,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,111}}</string>
        <key>sourceSize</key>
        <string>{128,111}</string>
      </dict>
      <key>monster_0373_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{141,113}}</string>
        <key>offset</key>
        <string>{-49,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,113}}</string>
        <key>sourceSize</key>
        <string>{141,113}</string>
      </dict>
      <key>monster_0373_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{135,104}}</string>
        <key>offset</key>
        <string>{-47,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,104}}</string>
        <key>sourceSize</key>
        <string>{135,104}</string>
      </dict>
      <key>monster_0373_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,103}}</string>
        <key>offset</key>
        <string>{-56,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,103}}</string>
        <key>sourceSize</key>
        <string>{142,103}</string>
      </dict>
      <key>monster_0373_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{138,106}}</string>
        <key>offset</key>
        <string>{-51,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,106}}</string>
        <key>sourceSize</key>
        <string>{138,106}</string>
      </dict>
      <key>monster_0373_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,399},{114,98}}</string>
        <key>offset</key>
        <string>{-34,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,98}}</string>
        <key>sourceSize</key>
        <string>{114,98}</string>
      </dict>
      <key>monster_0373_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,422},{110,98}}</string>
        <key>offset</key>
        <string>{-27,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,98}}</string>
        <key>sourceSize</key>
        <string>{110,98}</string>
      </dict>
      <key>monster_0373_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,505},{99,94}}</string>
        <key>offset</key>
        <string>{-19,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,94}}</string>
        <key>sourceSize</key>
        <string>{99,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0373_0_7.png</string>
      <key>size</key>
      <string>{642,608}</string>
      <key>textureFileName</key>
      <string>monster_0373_0_7.png</string>
    </dict>
  </dict>
</plist>