<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0214_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,811},{154,117}}</string>
        <key>offset</key>
        <string>{-43,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,117}}</string>
        <key>sourceSize</key>
        <string>{154,117}</string>
      </dict>
      <key>monster_0214_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,158},{155,118}}</string>
        <key>offset</key>
        <string>{-44,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,118}}</string>
        <key>sourceSize</key>
        <string>{155,118}</string>
      </dict>
      <key>monster_0214_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,162},{156,119}}</string>
        <key>offset</key>
        <string>{-45,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,119}}</string>
        <key>sourceSize</key>
        <string>{156,119}</string>
      </dict>
      <key>monster_0214_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,654},{157,120}}</string>
        <key>offset</key>
        <string>{-46,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,120}}</string>
        <key>sourceSize</key>
        <string>{157,120}</string>
      </dict>
      <key>monster_0214_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,493},{157,121}}</string>
        <key>offset</key>
        <string>{-47,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,121}}</string>
        <key>sourceSize</key>
        <string>{157,121}</string>
      </dict>
      <key>monster_0214_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,652},{157,121}}</string>
        <key>offset</key>
        <string>{-46,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,121}}</string>
        <key>sourceSize</key>
        <string>{157,121}</string>
      </dict>
      <key>monster_0214_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{156,121}}</string>
        <key>offset</key>
        <string>{-45,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,121}}</string>
        <key>sourceSize</key>
        <string>{156,121}</string>
      </dict>
      <key>monster_0214_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{155,119}}</string>
        <key>offset</key>
        <string>{-44,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,119}}</string>
        <key>sourceSize</key>
        <string>{155,119}</string>
      </dict>
      <key>monster_0214_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,165},{160,131}}</string>
        <key>offset</key>
        <string>{-52,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,131}}</string>
        <key>sourceSize</key>
        <string>{160,131}</string>
      </dict>
      <key>monster_0214_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,654},{158,134}}</string>
        <key>offset</key>
        <string>{-51,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,134}}</string>
        <key>sourceSize</key>
        <string>{158,134}</string>
      </dict>
      <key>monster_0214_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,486},{156,136}}</string>
        <key>offset</key>
        <string>{-50,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,136}}</string>
        <key>sourceSize</key>
        <string>{156,136}</string>
      </dict>
      <key>monster_0214_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,0},{151,136}}</string>
        <key>offset</key>
        <string>{-48,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,136}}</string>
        <key>sourceSize</key>
        <string>{151,136}</string>
      </dict>
      <key>monster_0214_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,785},{148,135}}</string>
        <key>offset</key>
        <string>{-47,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,135}}</string>
        <key>sourceSize</key>
        <string>{148,135}</string>
      </dict>
      <key>monster_0214_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,800},{151,136}}</string>
        <key>offset</key>
        <string>{-48,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,136}}</string>
        <key>sourceSize</key>
        <string>{151,136}</string>
      </dict>
      <key>monster_0214_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,644},{154,136}}</string>
        <key>offset</key>
        <string>{-49,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,136}}</string>
        <key>sourceSize</key>
        <string>{154,136}</string>
      </dict>
      <key>monster_0214_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,814},{158,134}}</string>
        <key>offset</key>
        <string>{-51,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,134}}</string>
        <key>sourceSize</key>
        <string>{158,134}</string>
      </dict>
      <key>monster_0214_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,890},{116,133}}</string>
        <key>offset</key>
        <string>{-21,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,133}}</string>
        <key>sourceSize</key>
        <string>{116,133}</string>
      </dict>
      <key>monster_0214_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,416},{112,134}}</string>
        <key>offset</key>
        <string>{-18,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,134}}</string>
        <key>sourceSize</key>
        <string>{112,134}</string>
      </dict>
      <key>monster_0214_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,278},{104,134}}</string>
        <key>offset</key>
        <string>{-14,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,134}}</string>
        <key>sourceSize</key>
        <string>{104,134}</string>
      </dict>
      <key>monster_0214_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1226,696},{106,132}}</string>
        <key>offset</key>
        <string>{-14,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,132}}</string>
        <key>sourceSize</key>
        <string>{106,132}</string>
      </dict>
      <key>monster_0214_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1226,830},{107,131}}</string>
        <key>offset</key>
        <string>{-15,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,131}}</string>
        <key>sourceSize</key>
        <string>{107,131}</string>
      </dict>
      <key>monster_0214_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1189,0},{107,133}}</string>
        <key>offset</key>
        <string>{-15,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,133}}</string>
        <key>sourceSize</key>
        <string>{107,133}</string>
      </dict>
      <key>monster_0214_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,916},{104,134}}</string>
        <key>offset</key>
        <string>{-14,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,134}}</string>
        <key>sourceSize</key>
        <string>{104,134}</string>
      </dict>
      <key>monster_0214_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1187,138},{110,134}}</string>
        <key>offset</key>
        <string>{-17,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,134}}</string>
        <key>sourceSize</key>
        <string>{110,134}</string>
      </dict>
      <key>monster_0214_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1152,557},{135,137}}</string>
        <key>offset</key>
        <string>{-30,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,137}}</string>
        <key>sourceSize</key>
        <string>{135,137}</string>
      </dict>
      <key>monster_0214_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1085,697},{137,138}}</string>
        <key>offset</key>
        <string>{-32,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,138}}</string>
        <key>sourceSize</key>
        <string>{137,138}</string>
      </dict>
      <key>monster_0214_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1043,138},{142,138}}</string>
        <key>offset</key>
        <string>{-35,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,138}}</string>
        <key>sourceSize</key>
        <string>{142,138}</string>
      </dict>
      <key>monster_0214_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,772},{142,136}}</string>
        <key>offset</key>
        <string>{-36,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,136}}</string>
        <key>sourceSize</key>
        <string>{142,136}</string>
      </dict>
      <key>monster_0214_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,0},{144,135}}</string>
        <key>offset</key>
        <string>{-37,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,135}}</string>
        <key>sourceSize</key>
        <string>{144,135}</string>
      </dict>
      <key>monster_0214_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1043,0},{144,136}}</string>
        <key>offset</key>
        <string>{-36,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,136}}</string>
        <key>sourceSize</key>
        <string>{144,136}</string>
      </dict>
      <key>monster_0214_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,604},{142,138}}</string>
        <key>offset</key>
        <string>{-35,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,138}}</string>
        <key>sourceSize</key>
        <string>{142,138}</string>
      </dict>
      <key>monster_0214_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1086,837},{138,138}}</string>
        <key>offset</key>
        <string>{-32,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,138}}</string>
        <key>sourceSize</key>
        <string>{138,138}</string>
      </dict>
      <key>monster_0214_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,632},{151,125}}</string>
        <key>offset</key>
        <string>{-34,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,125}}</string>
        <key>sourceSize</key>
        <string>{151,125}</string>
      </dict>
      <key>monster_0214_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,478},{152,121}}</string>
        <key>offset</key>
        <string>{-34,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,121}}</string>
        <key>sourceSize</key>
        <string>{152,121}</string>
      </dict>
      <key>monster_0214_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,315},{152,120}}</string>
        <key>offset</key>
        <string>{-33,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,120}}</string>
        <key>sourceSize</key>
        <string>{152,120}</string>
      </dict>
      <key>monster_0214_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,469},{151,125}}</string>
        <key>offset</key>
        <string>{-32,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,125}}</string>
        <key>sourceSize</key>
        <string>{151,125}</string>
      </dict>
      <key>monster_0214_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,0},{150,124}}</string>
        <key>offset</key>
        <string>{-32,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,124}}</string>
        <key>sourceSize</key>
        <string>{150,124}</string>
      </dict>
      <key>monster_0214_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,311},{151,120}}</string>
        <key>offset</key>
        <string>{-32,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,120}}</string>
        <key>sourceSize</key>
        <string>{151,120}</string>
      </dict>
      <key>monster_0214_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,157},{152,121}}</string>
        <key>offset</key>
        <string>{-33,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,121}}</string>
        <key>sourceSize</key>
        <string>{152,121}</string>
      </dict>
      <key>monster_0214_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,153},{151,126}}</string>
        <key>offset</key>
        <string>{-33,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,126}}</string>
        <key>sourceSize</key>
        <string>{151,126}</string>
      </dict>
      <key>monster_0214_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{163,136}}</string>
        <key>offset</key>
        <string>{-39,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,136}}</string>
        <key>sourceSize</key>
        <string>{163,136}</string>
      </dict>
      <key>monster_0214_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,165},{162,135}}</string>
        <key>offset</key>
        <string>{-37,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,135}}</string>
        <key>sourceSize</key>
        <string>{162,135}</string>
      </dict>
      <key>monster_0214_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{160,136}}</string>
        <key>offset</key>
        <string>{-35,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,136}}</string>
        <key>sourceSize</key>
        <string>{160,136}</string>
      </dict>
      <key>monster_0214_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,814},{158,137}}</string>
        <key>offset</key>
        <string>{-35,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,137}}</string>
        <key>sourceSize</key>
        <string>{158,137}</string>
      </dict>
      <key>monster_0214_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,320},{156,138}}</string>
        <key>offset</key>
        <string>{-34,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,138}}</string>
        <key>sourceSize</key>
        <string>{156,138}</string>
      </dict>
      <key>monster_0214_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,327},{157,138}}</string>
        <key>offset</key>
        <string>{-34,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,138}}</string>
        <key>sourceSize</key>
        <string>{157,138}</string>
      </dict>
      <key>monster_0214_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,493},{159,136}}</string>
        <key>offset</key>
        <string>{-35,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,136}}</string>
        <key>sourceSize</key>
        <string>{159,136}</string>
      </dict>
      <key>monster_0214_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,329},{162,137}}</string>
        <key>offset</key>
        <string>{-37,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,137}}</string>
        <key>sourceSize</key>
        <string>{162,137}</string>
      </dict>
      <key>monster_0214_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,148},{124,145}}</string>
        <key>offset</key>
        <string>{-25,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,145}}</string>
        <key>sourceSize</key>
        <string>{124,145}</string>
      </dict>
      <key>monster_0214_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{120,146}}</string>
        <key>offset</key>
        <string>{-23,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,146}}</string>
        <key>sourceSize</key>
        <string>{120,146}</string>
      </dict>
      <key>monster_0214_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,622},{117,148}}</string>
        <key>offset</key>
        <string>{-20,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,148}}</string>
        <key>sourceSize</key>
        <string>{117,148}</string>
      </dict>
      <key>monster_0214_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,464},{112,148}}</string>
        <key>offset</key>
        <string>{-17,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,148}}</string>
        <key>sourceSize</key>
        <string>{112,148}</string>
      </dict>
      <key>monster_0214_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,456},{110,146}}</string>
        <key>offset</key>
        <string>{-16,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,146}}</string>
        <key>sourceSize</key>
        <string>{110,146}</string>
      </dict>
      <key>monster_0214_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,306},{113,148}}</string>
        <key>offset</key>
        <string>{-17,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,148}}</string>
        <key>sourceSize</key>
        <string>{113,148}</string>
      </dict>
      <key>monster_0214_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,152},{116,148}}</string>
        <key>offset</key>
        <string>{-19,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,148}}</string>
        <key>sourceSize</key>
        <string>{116,148}</string>
      </dict>
      <key>monster_0214_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,302},{119,146}}</string>
        <key>offset</key>
        <string>{-22,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,146}}</string>
        <key>sourceSize</key>
        <string>{119,146}</string>
      </dict>
      <key>monster_0214_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,450},{133,141}}</string>
        <key>offset</key>
        <string>{-30,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,141}}</string>
        <key>sourceSize</key>
        <string>{133,141}</string>
      </dict>
      <key>monster_0214_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,295},{136,141}}</string>
        <key>offset</key>
        <string>{-32,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,141}}</string>
        <key>sourceSize</key>
        <string>{136,141}</string>
      </dict>
      <key>monster_0214_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,416},{139,140}}</string>
        <key>offset</key>
        <string>{-33,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,140}}</string>
        <key>sourceSize</key>
        <string>{139,140}</string>
      </dict>
      <key>monster_0214_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,557},{140,138}}</string>
        <key>offset</key>
        <string>{-34,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,138}}</string>
        <key>sourceSize</key>
        <string>{140,138}</string>
      </dict>
      <key>monster_0214_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,748},{140,136}}</string>
        <key>offset</key>
        <string>{-34,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,136}}</string>
        <key>sourceSize</key>
        <string>{140,136}</string>
      </dict>
      <key>monster_0214_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,697},{140,138}}</string>
        <key>offset</key>
        <string>{-34,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,138}}</string>
        <key>sourceSize</key>
        <string>{140,138}</string>
      </dict>
      <key>monster_0214_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,839},{139,140}}</string>
        <key>offset</key>
        <string>{-33,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,140}}</string>
        <key>sourceSize</key>
        <string>{139,140}</string>
      </dict>
      <key>monster_0214_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,278},{136,141}}</string>
        <key>offset</key>
        <string>{-32,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,141}}</string>
        <key>sourceSize</key>
        <string>{136,141}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0214_0_1.png</string>
      <key>size</key>
      <string>{1347,1025}</string>
      <key>textureFileName</key>
      <string>monster_0214_0_1.png</string>
    </dict>
  </dict>
</plist>