<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1001_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{132,56}}</string>
        <key>offset</key>
        <string>{27,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,56}}</string>
        <key>sourceSize</key>
        <string>{132,56}</string>
      </dict>
      <key>weapon_1001_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,134},{127,73}}</string>
        <key>offset</key>
        <string>{27,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,73}}</string>
        <key>sourceSize</key>
        <string>{127,73}</string>
      </dict>
      <key>weapon_1001_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,263},{120,88}}</string>
        <key>offset</key>
        <string>{29,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>weapon_1001_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,353},{102,19}}</string>
        <key>offset</key>
        <string>{9,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,19}}</string>
        <key>sourceSize</key>
        <string>{102,19}</string>
      </dict>
      <key>weapon_1001_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{125,22}}</string>
        <key>offset</key>
        <string>{18,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,22}}</string>
        <key>sourceSize</key>
        <string>{125,22}</string>
      </dict>
      <key>weapon_1001_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{133,32}}</string>
        <key>offset</key>
        <string>{22,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,32}}</string>
        <key>sourceSize</key>
        <string>{133,32}</string>
      </dict>
      <key>weapon_1001_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,125},{16,42}}</string>
        <key>offset</key>
        <string>{2,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,42}}</string>
        <key>sourceSize</key>
        <string>{16,42}</string>
      </dict>
      <key>weapon_1001_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{53,45}}</string>
        <key>offset</key>
        <string>{11,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,45}}</string>
        <key>sourceSize</key>
        <string>{53,45}</string>
      </dict>
      <key>weapon_1001_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,223},{76,34}}</string>
        <key>offset</key>
        <string>{14,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,34}}</string>
        <key>sourceSize</key>
        <string>{76,34}</string>
      </dict>
      <key>weapon_1001_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,223},{95,29}}</string>
        <key>offset</key>
        <string>{-83,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,29}}</string>
        <key>sourceSize</key>
        <string>{95,29}</string>
      </dict>
      <key>weapon_1001_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,382},{62,48}}</string>
        <key>offset</key>
        <string>{-47,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,48}}</string>
        <key>sourceSize</key>
        <string>{62,48}</string>
      </dict>
      <key>weapon_1001_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,55},{29,46}}</string>
        <key>offset</key>
        <string>{-13,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,46}}</string>
        <key>sourceSize</key>
        <string>{29,46}</string>
      </dict>
      <key>weapon_1001_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,0},{132,47}}</string>
        <key>offset</key>
        <string>{-109,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,47}}</string>
        <key>sourceSize</key>
        <string>{132,47}</string>
      </dict>
      <key>weapon_1001_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{124,24}}</string>
        <key>offset</key>
        <string>{-103,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,24}}</string>
        <key>sourceSize</key>
        <string>{124,24}</string>
      </dict>
      <key>weapon_1001_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,353},{110,27}}</string>
        <key>offset</key>
        <string>{-91,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,27}}</string>
        <key>sourceSize</key>
        <string>{110,27}</string>
      </dict>
      <key>weapon_1001_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,223},{98,96}}</string>
        <key>offset</key>
        <string>{-63,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,96}}</string>
        <key>sourceSize</key>
        <string>{98,96}</string>
      </dict>
      <key>weapon_1001_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{124,71}}</string>
        <key>offset</key>
        <string>{-91,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,71}}</string>
        <key>sourceSize</key>
        <string>{124,71}</string>
      </dict>
      <key>weapon_1001_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,269},{130,52}}</string>
        <key>offset</key>
        <string>{-104,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,52}}</string>
        <key>sourceSize</key>
        <string>{130,52}</string>
      </dict>
      <key>weapon_1001_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,323},{25,122}}</string>
        <key>offset</key>
        <string>{26,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,122}}</string>
        <key>sourceSize</key>
        <string>{25,122}</string>
      </dict>
      <key>weapon_1001_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,65},{58,113}}</string>
        <key>offset</key>
        <string>{-12,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,113}}</string>
        <key>sourceSize</key>
        <string>{58,113}</string>
      </dict>
      <key>weapon_1001_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,126},{80,104}}</string>
        <key>offset</key>
        <string>{-43,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,104}}</string>
        <key>sourceSize</key>
        <string>{80,104}</string>
      </dict>
      <key>weapon_1001_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,125},{96,111}}</string>
        <key>offset</key>
        <string>{36,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,111}}</string>
        <key>sourceSize</key>
        <string>{96,111}</string>
      </dict>
      <key>weapon_1001_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{63,118}}</string>
        <key>offset</key>
        <string>{33,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,118}}</string>
        <key>sourceSize</key>
        <string>{63,118}</string>
      </dict>
      <key>weapon_1001_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{32,116}}</string>
        <key>offset</key>
        <string>{29,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,116}}</string>
        <key>sourceSize</key>
        <string>{32,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1001_0_7.png</string>
      <key>size</key>
      <string>{386,432}</string>
      <key>textureFileName</key>
      <string>weapon_1001_0_7.png</string>
    </dict>
  </dict>
</plist>