<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1000_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{163,96}}</string>
        <key>offset</key>
        <string>{1,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,96}}</string>
        <key>sourceSize</key>
        <string>{163,96}</string>
      </dict>
      <key>weapon_1000_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,317},{142,108}}</string>
        <key>offset</key>
        <string>{-3,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,108}}</string>
        <key>sourceSize</key>
        <string>{142,108}</string>
      </dict>
      <key>weapon_1000_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,165},{150,126}}</string>
        <key>offset</key>
        <string>{-1,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,126}}</string>
        <key>sourceSize</key>
        <string>{150,126}</string>
      </dict>
      <key>weapon_1000_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,461},{100,45}}</string>
        <key>offset</key>
        <string>{2,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,45}}</string>
        <key>sourceSize</key>
        <string>{100,45}</string>
      </dict>
      <key>weapon_1000_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,152},{135,100}}</string>
        <key>offset</key>
        <string>{5,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,100}}</string>
        <key>sourceSize</key>
        <string>{135,100}</string>
      </dict>
      <key>weapon_1000_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,102},{131,89}}</string>
        <key>offset</key>
        <string>{7,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,89}}</string>
        <key>sourceSize</key>
        <string>{131,89}</string>
      </dict>
      <key>weapon_1000_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,467},{33,76}}</string>
        <key>offset</key>
        <string>{-6,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,76}}</string>
        <key>sourceSize</key>
        <string>{33,76}</string>
      </dict>
      <key>weapon_1000_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,124},{62,59}}</string>
        <key>offset</key>
        <string>{-1,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,59}}</string>
        <key>sourceSize</key>
        <string>{62,59}</string>
      </dict>
      <key>weapon_1000_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{85,55}}</string>
        <key>offset</key>
        <string>{-2,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,55}}</string>
        <key>sourceSize</key>
        <string>{85,55}</string>
      </dict>
      <key>weapon_1000_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,406},{103,104}}</string>
        <key>offset</key>
        <string>{-71,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,104}}</string>
        <key>sourceSize</key>
        <string>{103,104}</string>
      </dict>
      <key>weapon_1000_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,424},{72,86}}</string>
        <key>offset</key>
        <string>{-47,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,86}}</string>
        <key>sourceSize</key>
        <string>{72,86}</string>
      </dict>
      <key>weapon_1000_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,87},{45,82}}</string>
        <key>offset</key>
        <string>{-20,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,82}}</string>
        <key>sourceSize</key>
        <string>{45,82}</string>
      </dict>
      <key>weapon_1000_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{135,106}}</string>
        <key>offset</key>
        <string>{-100,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,106}}</string>
        <key>sourceSize</key>
        <string>{135,106}</string>
      </dict>
      <key>weapon_1000_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{150,104}}</string>
        <key>offset</key>
        <string>{-118,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,104}}</string>
        <key>sourceSize</key>
        <string>{150,104}</string>
      </dict>
      <key>weapon_1000_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,193},{130,91}}</string>
        <key>offset</key>
        <string>{-100,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,91}}</string>
        <key>sourceSize</key>
        <string>{130,91}</string>
      </dict>
      <key>weapon_1000_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{101,148}}</string>
        <key>offset</key>
        <string>{-53,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,148}}</string>
        <key>sourceSize</key>
        <string>{101,148}</string>
      </dict>
      <key>weapon_1000_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,286},{127,118}}</string>
        <key>offset</key>
        <string>{-83,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,118}}</string>
        <key>sourceSize</key>
        <string>{127,118}</string>
      </dict>
      <key>weapon_1000_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{132,100}}</string>
        <key>offset</key>
        <string>{-90,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,100}}</string>
        <key>sourceSize</key>
        <string>{132,100}</string>
      </dict>
      <key>weapon_1000_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,0},{52,122}}</string>
        <key>offset</key>
        <string>{18,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,122}}</string>
        <key>sourceSize</key>
        <string>{52,122}</string>
      </dict>
      <key>weapon_1000_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,289},{61,111}}</string>
        <key>offset</key>
        <string>{-9,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,111}}</string>
        <key>sourceSize</key>
        <string>{61,111}</string>
      </dict>
      <key>weapon_1000_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,406},{81,104}}</string>
        <key>offset</key>
        <string>{-35,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,104}}</string>
        <key>sourceSize</key>
        <string>{81,104}</string>
      </dict>
      <key>weapon_1000_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,316},{106,110}}</string>
        <key>offset</key>
        <string>{17,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,110}}</string>
        <key>sourceSize</key>
        <string>{106,110}</string>
      </dict>
      <key>weapon_1000_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,193},{83,121}}</string>
        <key>offset</key>
        <string>{20,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,121}}</string>
        <key>sourceSize</key>
        <string>{83,121}</string>
      </dict>
      <key>weapon_1000_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,152},{63,142}}</string>
        <key>offset</key>
        <string>{20,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,142}}</string>
        <key>sourceSize</key>
        <string>{63,142}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1000_0_7.png</string>
      <key>size</key>
      <string>{565,513}</string>
      <key>textureFileName</key>
      <string>weapon_1000_0_7.png</string>
    </dict>
  </dict>
</plist>