<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1002_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,69},{86,156}}</string>
        <key>offset</key>
        <string>{4,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,156}}</string>
        <key>sourceSize</key>
        <string>{86,156}</string>
      </dict>
      <key>weapon_1002_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{74,139}}</string>
        <key>offset</key>
        <string>{4,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,139}}</string>
        <key>sourceSize</key>
        <string>{74,139}</string>
      </dict>
      <key>weapon_1002_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{49,123}}</string>
        <key>offset</key>
        <string>{-5,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,123}}</string>
        <key>sourceSize</key>
        <string>{49,123}</string>
      </dict>
      <key>weapon_1002_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,341},{43,117}}</string>
        <key>offset</key>
        <string>{-24,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,117}}</string>
        <key>sourceSize</key>
        <string>{43,117}</string>
      </dict>
      <key>weapon_1002_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,205},{70,126}}</string>
        <key>offset</key>
        <string>{-40,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,126}}</string>
        <key>sourceSize</key>
        <string>{70,126}</string>
      </dict>
      <key>weapon_1002_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,205},{70,134}}</string>
        <key>offset</key>
        <string>{-33,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,134}}</string>
        <key>sourceSize</key>
        <string>{70,134}</string>
      </dict>
      <key>weapon_1002_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{46,156}}</string>
        <key>offset</key>
        <string>{3,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,156}}</string>
        <key>sourceSize</key>
        <string>{46,156}</string>
      </dict>
      <key>weapon_1002_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{67,160}}</string>
        <key>offset</key>
        <string>{4,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,160}}</string>
        <key>sourceSize</key>
        <string>{67,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1002_0_11.png</string>
      <key>size</key>
      <string>{269,387}</string>
      <key>textureFileName</key>
      <string>weapon_1002_0_11.png</string>
    </dict>
  </dict>
</plist>