<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1000_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{30,63}}</string>
        <key>offset</key>
        <string>{21,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,63}}</string>
        <key>sourceSize</key>
        <string>{30,63}</string>
      </dict>
      <key>weapon_1000_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,108},{48,78}}</string>
        <key>offset</key>
        <string>{-2,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,78}}</string>
        <key>sourceSize</key>
        <string>{48,78}</string>
      </dict>
      <key>weapon_1000_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,208},{115,64}}</string>
        <key>offset</key>
        <string>{18,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,64}}</string>
        <key>sourceSize</key>
        <string>{115,64}</string>
      </dict>
      <key>weapon_1000_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,349},{84,67}}</string>
        <key>offset</key>
        <string>{26,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,67}}</string>
        <key>sourceSize</key>
        <string>{84,67}</string>
      </dict>
      <key>weapon_1000_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{131,71}}</string>
        <key>offset</key>
        <string>{6,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,71}}</string>
        <key>sourceSize</key>
        <string>{131,71}</string>
      </dict>
      <key>weapon_1000_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,74}}</string>
        <key>offset</key>
        <string>{20,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,74}}</string>
        <key>sourceSize</key>
        <string>{138,74}</string>
      </dict>
      <key>weapon_1000_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,248},{99,106}}</string>
        <key>offset</key>
        <string>{-1,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,106}}</string>
        <key>sourceSize</key>
        <string>{99,106}</string>
      </dict>
      <key>weapon_1000_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,110},{124,96}}</string>
        <key>offset</key>
        <string>{1,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,96}}</string>
        <key>sourceSize</key>
        <string>{124,96}</string>
      </dict>
      <key>weapon_1000_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,279},{65,123}}</string>
        <key>offset</key>
        <string>{-14,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,123}}</string>
        <key>sourceSize</key>
        <string>{65,123}</string>
      </dict>
      <key>weapon_1000_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{60,126}}</string>
        <key>offset</key>
        <string>{-7,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,126}}</string>
        <key>sourceSize</key>
        <string>{60,126}</string>
      </dict>
      <key>weapon_1000_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,128},{103,118}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,118}}</string>
        <key>sourceSize</key>
        <string>{103,118}</string>
      </dict>
      <key>weapon_1000_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{94,106}}</string>
        <key>offset</key>
        <string>{-68,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,106}}</string>
        <key>sourceSize</key>
        <string>{94,106}</string>
      </dict>
      <key>weapon_1000_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{130,108}}</string>
        <key>offset</key>
        <string>{-88,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,108}}</string>
        <key>sourceSize</key>
        <string>{130,108}</string>
      </dict>
      <key>weapon_1000_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{137,107}}</string>
        <key>offset</key>
        <string>{-104,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,107}}</string>
        <key>sourceSize</key>
        <string>{137,107}</string>
      </dict>
      <key>weapon_1000_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,325},{113,87}}</string>
        <key>offset</key>
        <string>{-64,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,87}}</string>
        <key>sourceSize</key>
        <string>{113,87}</string>
      </dict>
      <key>weapon_1000_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,248},{116,81}}</string>
        <key>offset</key>
        <string>{-80,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,81}}</string>
        <key>sourceSize</key>
        <string>{116,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1000_1_8.png</string>
      <key>size</key>
      <string>{481,429}</string>
      <key>textureFileName</key>
      <string>weapon_1000_1_8.png</string>
    </dict>
  </dict>
</plist>