<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1000_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{77,129}}</string>
        <key>offset</key>
        <string>{25,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,129}}</string>
        <key>sourceSize</key>
        <string>{77,129}</string>
      </dict>
      <key>weapon_1000_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,203},{73,119}}</string>
        <key>offset</key>
        <string>{22,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,119}}</string>
        <key>sourceSize</key>
        <string>{73,119}</string>
      </dict>
      <key>weapon_1000_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{44,113}}</string>
        <key>offset</key>
        <string>{5,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,113}}</string>
        <key>sourceSize</key>
        <string>{44,113}</string>
      </dict>
      <key>weapon_1000_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,201},{65,128}}</string>
        <key>offset</key>
        <string>{-27,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,128}}</string>
        <key>sourceSize</key>
        <string>{65,128}</string>
      </dict>
      <key>weapon_1000_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,74},{65,127}}</string>
        <key>offset</key>
        <string>{-36,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,127}}</string>
        <key>sourceSize</key>
        <string>{65,127}</string>
      </dict>
      <key>weapon_1000_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{69,138}}</string>
        <key>offset</key>
        <string>{-30,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,138}}</string>
        <key>sourceSize</key>
        <string>{69,138}</string>
      </dict>
      <key>weapon_1000_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,156}}</string>
        <key>offset</key>
        <string>{-13,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,156}}</string>
        <key>sourceSize</key>
        <string>{72,156}</string>
      </dict>
      <key>weapon_1000_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{54,149}}</string>
        <key>offset</key>
        <string>{22,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,149}}</string>
        <key>sourceSize</key>
        <string>{54,149}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1000_0_11.png</string>
      <key>size</key>
      <string>{268,387}</string>
      <key>textureFileName</key>
      <string>weapon_1000_0_11.png</string>
    </dict>
  </dict>
</plist>