<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1002_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,277},{42,63}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,63}}</string>
        <key>sourceSize</key>
        <string>{42,63}</string>
      </dict>
      <key>weapon_1002_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,178},{53,62}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,62}}</string>
        <key>sourceSize</key>
        <string>{53,62}</string>
      </dict>
      <key>weapon_1002_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,342},{52,61}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,61}}</string>
        <key>sourceSize</key>
        <string>{52,61}</string>
      </dict>
      <key>weapon_1002_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,122},{99,61}}</string>
        <key>offset</key>
        <string>{4,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,61}}</string>
        <key>sourceSize</key>
        <string>{99,61}</string>
      </dict>
      <key>weapon_1002_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,332},{97,63}}</string>
        <key>offset</key>
        <string>{4,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,63}}</string>
        <key>sourceSize</key>
        <string>{97,63}</string>
      </dict>
      <key>weapon_1002_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,350},{97,62}}</string>
        <key>offset</key>
        <string>{4,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,62}}</string>
        <key>sourceSize</key>
        <string>{97,62}</string>
      </dict>
      <key>weapon_1002_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{154,60}}</string>
        <key>offset</key>
        <string>{-15,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,60}}</string>
        <key>sourceSize</key>
        <string>{154,60}</string>
      </dict>
      <key>weapon_1002_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{154,60}}</string>
        <key>offset</key>
        <string>{-14,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,60}}</string>
        <key>sourceSize</key>
        <string>{154,60}</string>
      </dict>
      <key>weapon_1002_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,312},{153,62}}</string>
        <key>offset</key>
        <string>{-13,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,62}}</string>
        <key>sourceSize</key>
        <string>{153,62}</string>
      </dict>
      <key>weapon_1002_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{120,102}}</string>
        <key>offset</key>
        <string>{-13,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,102}}</string>
        <key>sourceSize</key>
        <string>{120,102}</string>
      </dict>
      <key>weapon_1002_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,122},{120,104}}</string>
        <key>offset</key>
        <string>{-13,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,104}}</string>
        <key>sourceSize</key>
        <string>{120,104}</string>
      </dict>
      <key>weapon_1002_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{120,105}}</string>
        <key>offset</key>
        <string>{-14,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,105}}</string>
        <key>sourceSize</key>
        <string>{120,105}</string>
      </dict>
      <key>weapon_1002_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,150},{46,132}}</string>
        <key>offset</key>
        <string>{-11,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,132}}</string>
        <key>sourceSize</key>
        <string>{46,132}</string>
      </dict>
      <key>weapon_1002_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,287},{43,133}}</string>
        <key>offset</key>
        <string>{-8,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,133}}</string>
        <key>sourceSize</key>
        <string>{43,133}</string>
      </dict>
      <key>weapon_1002_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,150},{42,135}}</string>
        <key>offset</key>
        <string>{-16,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,135}}</string>
        <key>sourceSize</key>
        <string>{42,135}</string>
      </dict>
      <key>weapon_1002_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,244},{104,96}}</string>
        <key>offset</key>
        <string>{-76,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,96}}</string>
        <key>sourceSize</key>
        <string>{104,96}</string>
      </dict>
      <key>weapon_1002_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,178},{103,97}}</string>
        <key>offset</key>
        <string>{-75,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,97}}</string>
        <key>sourceSize</key>
        <string>{103,97}</string>
      </dict>
      <key>weapon_1002_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,277},{102,98}}</string>
        <key>offset</key>
        <string>{-75,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,98}}</string>
        <key>sourceSize</key>
        <string>{102,98}</string>
      </dict>
      <key>weapon_1002_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{150,61}}</string>
        <key>offset</key>
        <string>{-92,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,61}}</string>
        <key>sourceSize</key>
        <string>{150,61}</string>
      </dict>
      <key>weapon_1002_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,152},{150,62}}</string>
        <key>offset</key>
        <string>{-94,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,62}}</string>
        <key>sourceSize</key>
        <string>{150,62}</string>
      </dict>
      <key>weapon_1002_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{148,62}}</string>
        <key>offset</key>
        <string>{-93,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,62}}</string>
        <key>sourceSize</key>
        <string>{148,62}</string>
      </dict>
      <key>weapon_1002_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{109,58}}</string>
        <key>offset</key>
        <string>{-52,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,58}}</string>
        <key>sourceSize</key>
        <string>{109,58}</string>
      </dict>
      <key>weapon_1002_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,60},{108,57}}</string>
        <key>offset</key>
        <string>{-51,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,57}}</string>
        <key>sourceSize</key>
        <string>{108,57}</string>
      </dict>
      <key>weapon_1002_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,119},{108,57}}</string>
        <key>offset</key>
        <string>{-52,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,57}}</string>
        <key>sourceSize</key>
        <string>{108,57}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1002_0_7.png</string>
      <key>size</key>
      <string>{560,416}</string>
      <key>textureFileName</key>
      <string>weapon_1002_0_7.png</string>
    </dict>
  </dict>
</plist>