<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1002_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,407},{45,62}}</string>
        <key>offset</key>
        <string>{4,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,62}}</string>
        <key>sourceSize</key>
        <string>{45,62}</string>
      </dict>
      <key>weapon_1002_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,403},{57,62}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,62}}</string>
        <key>sourceSize</key>
        <string>{57,62}</string>
      </dict>
      <key>weapon_1002_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,462},{58,61}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,61}}</string>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>weapon_1002_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,504},{46,61}}</string>
        <key>offset</key>
        <string>{4,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,61}}</string>
        <key>sourceSize</key>
        <string>{46,61}</string>
      </dict>
      <key>weapon_1002_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,340},{99,61}}</string>
        <key>offset</key>
        <string>{4,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,61}}</string>
        <key>sourceSize</key>
        <string>{99,61}</string>
      </dict>
      <key>weapon_1002_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,403},{99,64}}</string>
        <key>offset</key>
        <string>{4,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,64}}</string>
        <key>sourceSize</key>
        <string>{99,64}</string>
      </dict>
      <key>weapon_1002_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,506},{99,62}}</string>
        <key>offset</key>
        <string>{4,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,62}}</string>
        <key>sourceSize</key>
        <string>{99,62}</string>
      </dict>
      <key>weapon_1002_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,277},{100,61}}</string>
        <key>offset</key>
        <string>{4,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,61}}</string>
        <key>sourceSize</key>
        <string>{100,61}</string>
      </dict>
      <key>weapon_1002_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{153,60}}</string>
        <key>offset</key>
        <string>{-14,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,60}}</string>
        <key>sourceSize</key>
        <string>{153,60}</string>
      </dict>
      <key>weapon_1002_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,60}}</string>
        <key>offset</key>
        <string>{-14,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,60}}</string>
        <key>sourceSize</key>
        <string>{155,60}</string>
      </dict>
      <key>weapon_1002_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{154,62}}</string>
        <key>offset</key>
        <string>{-14,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,62}}</string>
        <key>sourceSize</key>
        <string>{154,62}</string>
      </dict>
      <key>weapon_1002_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,313},{152,60}}</string>
        <key>offset</key>
        <string>{-14,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,60}}</string>
        <key>sourceSize</key>
        <string>{152,60}</string>
      </dict>
      <key>weapon_1002_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{120,102}}</string>
        <key>offset</key>
        <string>{-13,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,102}}</string>
        <key>sourceSize</key>
        <string>{120,102}</string>
      </dict>
      <key>weapon_1002_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,285},{120,104}}</string>
        <key>offset</key>
        <string>{-13,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,104}}</string>
        <key>sourceSize</key>
        <string>{120,104}</string>
      </dict>
      <key>weapon_1002_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,122},{119,105}}</string>
        <key>offset</key>
        <string>{-13,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,105}}</string>
        <key>sourceSize</key>
        <string>{119,105}</string>
      </dict>
      <key>weapon_1002_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,0},{118,105}}</string>
        <key>offset</key>
        <string>{-12,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,105}}</string>
        <key>sourceSize</key>
        <string>{118,105}</string>
      </dict>
      <key>weapon_1002_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,151},{46,132}}</string>
        <key>offset</key>
        <string>{-11,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,132}}</string>
        <key>sourceSize</key>
        <string>{46,132}</string>
      </dict>
      <key>weapon_1002_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,457},{43,133}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,133}}</string>
        <key>sourceSize</key>
        <string>{43,133}</string>
      </dict>
      <key>weapon_1002_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,467},{42,134}}</string>
        <key>offset</key>
        <string>{-16,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,134}}</string>
        <key>sourceSize</key>
        <string>{42,134}</string>
      </dict>
      <key>weapon_1002_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,151},{47,133}}</string>
        <key>offset</key>
        <string>{-12,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,133}}</string>
        <key>sourceSize</key>
        <string>{47,133}</string>
      </dict>
      <key>weapon_1002_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,407},{104,97}}</string>
        <key>offset</key>
        <string>{-77,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,97}}</string>
        <key>sourceSize</key>
        <string>{104,97}</string>
      </dict>
      <key>weapon_1002_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,178},{103,97}}</string>
        <key>offset</key>
        <string>{-76,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,97}}</string>
        <key>sourceSize</key>
        <string>{103,97}</string>
      </dict>
      <key>weapon_1002_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,277},{102,98}}</string>
        <key>offset</key>
        <string>{-76,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,98}}</string>
        <key>sourceSize</key>
        <string>{102,98}</string>
      </dict>
      <key>weapon_1002_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,511},{99,97}}</string>
        <key>offset</key>
        <string>{-77,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,97}}</string>
        <key>sourceSize</key>
        <string>{99,97}</string>
      </dict>
      <key>weapon_1002_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,313},{150,61}}</string>
        <key>offset</key>
        <string>{-92,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,61}}</string>
        <key>sourceSize</key>
        <string>{150,61}</string>
      </dict>
      <key>weapon_1002_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,155},{150,62}}</string>
        <key>offset</key>
        <string>{-91,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,62}}</string>
        <key>sourceSize</key>
        <string>{150,62}</string>
      </dict>
      <key>weapon_1002_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,307},{148,62}}</string>
        <key>offset</key>
        <string>{-90,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,62}}</string>
        <key>sourceSize</key>
        <string>{148,62}</string>
      </dict>
      <key>weapon_1002_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{149,61}}</string>
        <key>offset</key>
        <string>{-91,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,61}}</string>
        <key>sourceSize</key>
        <string>{149,61}</string>
      </dict>
      <key>weapon_1002_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{109,58}}</string>
        <key>offset</key>
        <string>{-52,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,58}}</string>
        <key>sourceSize</key>
        <string>{109,58}</string>
      </dict>
      <key>weapon_1002_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,60},{108,57}}</string>
        <key>offset</key>
        <string>{-51,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,57}}</string>
        <key>sourceSize</key>
        <string>{108,57}</string>
      </dict>
      <key>weapon_1002_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,119},{108,57}}</string>
        <key>offset</key>
        <string>{-51,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,57}}</string>
        <key>sourceSize</key>
        <string>{108,57}</string>
      </dict>
      <key>weapon_1002_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,120},{107,56}}</string>
        <key>offset</key>
        <string>{-51,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,56}}</string>
        <key>sourceSize</key>
        <string>{107,56}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1002_0_0.png</string>
      <key>size</key>
      <string>{515,622}</string>
      <key>textureFileName</key>
      <string>weapon_1002_0_0.png</string>
    </dict>
  </dict>
</plist>