<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_2009_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,865},{315,286}}</string>
        <key>offset</key>
        <string>{-141,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,286}}</string>
        <key>sourceSize</key>
        <string>{315,286}</string>
      </dict>
      <key>npc_2009_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{317,289}}</string>
        <key>offset</key>
        <string>{-141,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,289}}</string>
        <key>sourceSize</key>
        <string>{317,289}</string>
      </dict>
      <key>npc_2009_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,956},{315,285}}</string>
        <key>offset</key>
        <string>{-141,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,285}}</string>
        <key>sourceSize</key>
        <string>{315,285}</string>
      </dict>
      <key>npc_2009_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,547},{316,294}}</string>
        <key>offset</key>
        <string>{-141,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,294}}</string>
        <key>sourceSize</key>
        <string>{316,294}</string>
      </dict>
      <key>npc_2009_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,638},{316,279}}</string>
        <key>offset</key>
        <string>{-141,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,279}}</string>
        <key>sourceSize</key>
        <string>{316,279}</string>
      </dict>
      <key>npc_2009_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{320,268}}</string>
        <key>offset</key>
        <string>{-141,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,268}}</string>
        <key>sourceSize</key>
        <string>{320,268}</string>
      </dict>
      <key>npc_2009_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,0},{317,268}}</string>
        <key>offset</key>
        <string>{-141,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,268}}</string>
        <key>sourceSize</key>
        <string>{317,268}</string>
      </dict>
      <key>npc_2009_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{318,271}}</string>
        <key>offset</key>
        <string>{-141,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,271}}</string>
        <key>sourceSize</key>
        <string>{318,271}</string>
      </dict>
      <key>npc_2009_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,270},{317,275}}</string>
        <key>offset</key>
        <string>{-141,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,275}}</string>
        <key>sourceSize</key>
        <string>{317,275}</string>
      </dict>
      <key>npc_2009_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,319},{317,281}}</string>
        <key>offset</key>
        <string>{-141,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,281}}</string>
        <key>sourceSize</key>
        <string>{317,281}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_2009_0_0.png</string>
      <key>size</key>
      <string>{1027,1320}</string>
      <key>textureFileName</key>
      <string>npc_2009_0_0.png</string>
    </dict>
  </dict>
</plist>