<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_2011_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,505},{161,197}}</string>
        <key>offset</key>
        <string>{-29,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,197}}</string>
        <key>sourceSize</key>
        <string>{161,197}</string>
      </dict>
      <key>npc_2011_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,668},{161,197}}</string>
        <key>offset</key>
        <string>{-29,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,197}}</string>
        <key>sourceSize</key>
        <string>{161,197}</string>
      </dict>
      <key>npc_2011_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,505},{161,197}}</string>
        <key>offset</key>
        <string>{-29,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,197}}</string>
        <key>sourceSize</key>
        <string>{161,197}</string>
      </dict>
      <key>npc_2011_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,342},{161,198}}</string>
        <key>offset</key>
        <string>{-29,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,198}}</string>
        <key>sourceSize</key>
        <string>{161,198}</string>
      </dict>
      <key>npc_2011_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,163},{162,204}}</string>
        <key>offset</key>
        <string>{-30,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,204}}</string>
        <key>sourceSize</key>
        <string>{162,204}</string>
      </dict>
      <key>npc_2011_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,695},{162,220}}</string>
        <key>offset</key>
        <string>{-30,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,220}}</string>
        <key>sourceSize</key>
        <string>{162,220}</string>
      </dict>
      <key>npc_2011_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,469},{161,224}}</string>
        <key>offset</key>
        <string>{-29,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,224}}</string>
        <key>sourceSize</key>
        <string>{161,224}</string>
      </dict>
      <key>npc_2011_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,541},{163,194}}</string>
        <key>offset</key>
        <string>{-31,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,194}}</string>
        <key>sourceSize</key>
        <string>{163,194}</string>
      </dict>
      <key>npc_2011_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,668},{167,196}}</string>
        <key>offset</key>
        <string>{-35,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,196}}</string>
        <key>sourceSize</key>
        <string>{167,196}</string>
      </dict>
      <key>npc_2011_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,344},{169,195}}</string>
        <key>offset</key>
        <string>{-37,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,195}}</string>
        <key>sourceSize</key>
        <string>{169,195}</string>
      </dict>
      <key>npc_2011_0_0_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,171},{171,200}}</string>
        <key>offset</key>
        <string>{-39,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,200}}</string>
        <key>sourceSize</key>
        <string>{171,200}</string>
      </dict>
      <key>npc_2011_0_0_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,170},{170,203}}</string>
        <key>offset</key>
        <string>{-38,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,203}}</string>
        <key>sourceSize</key>
        <string>{170,203}</string>
      </dict>
      <key>npc_2011_0_0_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,327},{170,199}}</string>
        <key>offset</key>
        <string>{-38,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,199}}</string>
        <key>sourceSize</key>
        <string>{170,199}</string>
      </dict>
      <key>npc_2011_0_0_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,0},{169,209}}</string>
        <key>offset</key>
        <string>{-37,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,209}}</string>
        <key>sourceSize</key>
        <string>{169,209}</string>
      </dict>
      <key>npc_2011_0_0_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{168,217}}</string>
        <key>offset</key>
        <string>{-36,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,217}}</string>
        <key>sourceSize</key>
        <string>{168,217}</string>
      </dict>
      <key>npc_2011_0_0_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,0},{167,194}}</string>
        <key>offset</key>
        <string>{-35,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,194}}</string>
        <key>sourceSize</key>
        <string>{167,194}</string>
      </dict>
      <key>npc_2011_0_0_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,196},{165,194}}</string>
        <key>offset</key>
        <string>{-33,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,194}}</string>
        <key>sourceSize</key>
        <string>{165,194}</string>
      </dict>
      <key>npc_2011_0_0_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,668},{163,196}}</string>
        <key>offset</key>
        <string>{-31,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,196}}</string>
        <key>sourceSize</key>
        <string>{163,196}</string>
      </dict>
      <key>npc_2011_0_0_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{161,217}}</string>
        <key>offset</key>
        <string>{-29,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,217}}</string>
        <key>sourceSize</key>
        <string>{161,217}</string>
      </dict>
      <key>npc_2011_0_0_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,237},{161,230}}</string>
        <key>offset</key>
        <string>{-29,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,230}}</string>
        <key>sourceSize</key>
        <string>{161,230}</string>
      </dict>
      <key>npc_2011_0_0_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{161,235}}</string>
        <key>offset</key>
        <string>{-29,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,235}}</string>
        <key>sourceSize</key>
        <string>{161,235}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_2011_0_0.png</string>
      <key>size</key>
      <string>{1062,898}</string>
      <key>textureFileName</key>
      <string>npc_2011_0_0.png</string>
    </dict>
  </dict>
</plist>