<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_2007_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,0},{473,347}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{473,347}}</string>
        <key>sourceSize</key>
        <string>{473,347}</string>
      </dict>
      <key>npc_2007_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{477,346}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{477,346}}</string>
        <key>sourceSize</key>
        <string>{477,346}</string>
      </dict>
      <key>npc_2007_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,488},{481,344}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{481,344}}</string>
        <key>sourceSize</key>
        <string>{481,344}</string>
      </dict>
      <key>npc_2007_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,488},{484,344}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{484,344}}</string>
        <key>sourceSize</key>
        <string>{484,344}</string>
      </dict>
      <key>npc_2007_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{486,344}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{486,344}}</string>
        <key>sourceSize</key>
        <string>{486,344}</string>
      </dict>
      <key>npc_2007_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1433},{452,346}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,346}}</string>
        <key>sourceSize</key>
        <string>{452,346}</string>
      </dict>
      <key>npc_2007_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,1162},{456,349}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,349}}</string>
        <key>sourceSize</key>
        <string>{456,349}</string>
      </dict>
      <key>npc_2007_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,971},{460,342}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{460,342}}</string>
        <key>sourceSize</key>
        <string>{460,342}</string>
      </dict>
      <key>npc_2007_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,695},{465,346}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{465,346}}</string>
        <key>sourceSize</key>
        <string>{465,346}</string>
      </dict>
      <key>npc_2007_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,349},{469,344}}</string>
        <key>offset</key>
        <string>{-222,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{469,344}}</string>
        <key>sourceSize</key>
        <string>{469,344}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_2007_0_0.png</string>
      <key>size</key>
      <string>{1283,1798}</string>
      <key>textureFileName</key>
      <string>npc_2007_0_0.png</string>
    </dict>
  </dict>
</plist>