<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_2015_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,569},{178,225}}</string>
        <key>offset</key>
        <string>{-50,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,225}}</string>
        <key>sourceSize</key>
        <string>{178,225}</string>
      </dict>
      <key>npc_2015_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,752},{178,227}}</string>
        <key>offset</key>
        <string>{-50,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,227}}</string>
        <key>sourceSize</key>
        <string>{178,227}</string>
      </dict>
      <key>npc_2015_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,569},{181,228}}</string>
        <key>offset</key>
        <string>{-51,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,228}}</string>
        <key>sourceSize</key>
        <string>{181,228}</string>
      </dict>
      <key>npc_2015_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,749},{181,225}}</string>
        <key>offset</key>
        <string>{-51,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,225}}</string>
        <key>sourceSize</key>
        <string>{181,225}</string>
      </dict>
      <key>npc_2015_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,265},{184,245}}</string>
        <key>offset</key>
        <string>{-52,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,245}}</string>
        <key>sourceSize</key>
        <string>{184,245}</string>
      </dict>
      <key>npc_2015_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,549},{184,259}}</string>
        <key>offset</key>
        <string>{-52,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,259}}</string>
        <key>sourceSize</key>
        <string>{184,259}</string>
      </dict>
      <key>npc_2015_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{186,263}}</string>
        <key>offset</key>
        <string>{-53,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,263}}</string>
        <key>sourceSize</key>
        <string>{186,263}</string>
      </dict>
      <key>npc_2015_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,381},{186,230}}</string>
        <key>offset</key>
        <string>{-53,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,230}}</string>
        <key>sourceSize</key>
        <string>{186,230}</string>
      </dict>
      <key>npc_2015_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,191},{188,231}}</string>
        <key>offset</key>
        <string>{-53,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,231}}</string>
        <key>sourceSize</key>
        <string>{188,231}</string>
      </dict>
      <key>npc_2015_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,0},{189,233}}</string>
        <key>offset</key>
        <string>{-54,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,233}}</string>
        <key>sourceSize</key>
        <string>{189,233}</string>
      </dict>
      <key>npc_2015_0_0_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,511},{192,241}}</string>
        <key>offset</key>
        <string>{-55,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,241}}</string>
        <key>sourceSize</key>
        <string>{192,241}</string>
      </dict>
      <key>npc_2015_0_0_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,0},{192,236}}</string>
        <key>offset</key>
        <string>{-55,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,236}}</string>
        <key>sourceSize</key>
        <string>{192,236}</string>
      </dict>
      <key>npc_2015_0_0_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{190,242}}</string>
        <key>offset</key>
        <string>{-55,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,242}}</string>
        <key>sourceSize</key>
        <string>{190,242}</string>
      </dict>
      <key>npc_2015_0_0_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,807},{191,252}}</string>
        <key>offset</key>
        <string>{-56,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,252}}</string>
        <key>sourceSize</key>
        <string>{191,252}</string>
      </dict>
      <key>npc_2015_0_0_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,810},{189,257}}</string>
        <key>offset</key>
        <string>{-56,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,257}}</string>
        <key>sourceSize</key>
        <string>{189,257}</string>
      </dict>
      <key>npc_2015_0_0_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,265},{189,244}}</string>
        <key>offset</key>
        <string>{-56,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,244}}</string>
        <key>sourceSize</key>
        <string>{189,244}</string>
      </dict>
      <key>npc_2015_0_0_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,754},{189,229}}</string>
        <key>offset</key>
        <string>{-57,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,229}}</string>
        <key>sourceSize</key>
        <string>{189,229}</string>
      </dict>
      <key>npc_2015_0_0_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,244},{189,238}}</string>
        <key>offset</key>
        <string>{-57,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,238}}</string>
        <key>sourceSize</key>
        <string>{189,238}</string>
      </dict>
      <key>npc_2015_0_0_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,549},{187,256}}</string>
        <key>offset</key>
        <string>{-57,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,256}}</string>
        <key>sourceSize</key>
        <string>{187,256}</string>
      </dict>
      <key>npc_2015_0_0_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,277},{187,270}}</string>
        <key>offset</key>
        <string>{-57,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,270}}</string>
        <key>sourceSize</key>
        <string>{187,270}</string>
      </dict>
      <key>npc_2015_0_0_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{186,275}}</string>
        <key>offset</key>
        <string>{-58,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,275}}</string>
        <key>sourceSize</key>
        <string>{186,275}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_2015_0_0.png</string>
      <key>size</key>
      <string>{1113,1025}</string>
      <key>textureFileName</key>
      <string>npc_2015_0_0.png</string>
    </dict>
  </dict>
</plist>