<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_2014_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,645},{222,245}}</string>
        <key>offset</key>
        <string>{-92,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,245}}</string>
        <key>sourceSize</key>
        <string>{222,245}</string>
      </dict>
      <key>npc_2014_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,664},{222,245}}</string>
        <key>offset</key>
        <string>{-92,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,245}}</string>
        <key>sourceSize</key>
        <string>{222,245}</string>
      </dict>
      <key>npc_2014_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,424},{219,248}}</string>
        <key>offset</key>
        <string>{-89,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,248}}</string>
        <key>sourceSize</key>
        <string>{219,248}</string>
      </dict>
      <key>npc_2014_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,453},{209,247}}</string>
        <key>offset</key>
        <string>{-79,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,247}}</string>
        <key>sourceSize</key>
        <string>{209,247}</string>
      </dict>
      <key>npc_2014_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,660},{216,246}}</string>
        <key>offset</key>
        <string>{-86,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,246}}</string>
        <key>sourceSize</key>
        <string>{216,246}</string>
      </dict>
      <key>npc_2014_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,215},{207,258}}</string>
        <key>offset</key>
        <string>{-77,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,258}}</string>
        <key>sourceSize</key>
        <string>{207,258}</string>
      </dict>
      <key>npc_2014_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,0},{213,261}}</string>
        <key>offset</key>
        <string>{-78,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,261}}</string>
        <key>sourceSize</key>
        <string>{213,261}</string>
      </dict>
      <key>npc_2014_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,878},{221,243}}</string>
        <key>offset</key>
        <string>{-78,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,243}}</string>
        <key>sourceSize</key>
        <string>{221,243}</string>
      </dict>
      <key>npc_2014_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,888},{216,243}}</string>
        <key>offset</key>
        <string>{-79,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,243}}</string>
        <key>sourceSize</key>
        <string>{216,243}</string>
      </dict>
      <key>npc_2014_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,888},{213,243}}</string>
        <key>offset</key>
        <string>{-80,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,243}}</string>
        <key>sourceSize</key>
        <string>{213,243}</string>
      </dict>
      <key>npc_2014_0_0_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,424},{213,242}}</string>
        <key>offset</key>
        <string>{-80,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,242}}</string>
        <key>sourceSize</key>
        <string>{213,242}</string>
      </dict>
      <key>npc_2014_0_0_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,0},{214,242}}</string>
        <key>offset</key>
        <string>{-81,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,242}}</string>
        <key>sourceSize</key>
        <string>{214,242}</string>
      </dict>
      <key>npc_2014_0_0_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{992,639},{212,242}}</string>
        <key>offset</key>
        <string>{-81,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,242}}</string>
        <key>sourceSize</key>
        <string>{212,242}</string>
      </dict>
      <key>npc_2014_0_0_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,445},{213,249}}</string>
        <key>offset</key>
        <string>{-82,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,249}}</string>
        <key>sourceSize</key>
        <string>{213,249}</string>
      </dict>
      <key>npc_2014_0_0_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,231},{212,256}}</string>
        <key>offset</key>
        <string>{-82,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,256}}</string>
        <key>sourceSize</key>
        <string>{212,256}</string>
      </dict>
      <key>npc_2014_0_0_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,869},{213,243}}</string>
        <key>offset</key>
        <string>{-83,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,243}}</string>
        <key>sourceSize</key>
        <string>{213,243}</string>
      </dict>
      <key>npc_2014_0_0_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,645},{214,243}}</string>
        <key>offset</key>
        <string>{-84,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,243}}</string>
        <key>sourceSize</key>
        <string>{214,243}</string>
      </dict>
      <key>npc_2014_0_0_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,861},{214,243}}</string>
        <key>offset</key>
        <string>{-84,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,243}}</string>
        <key>sourceSize</key>
        <string>{214,243}</string>
      </dict>
      <key>npc_2014_0_0_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,231},{220,256}}</string>
        <key>offset</key>
        <string>{-90,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,256}}</string>
        <key>sourceSize</key>
        <string>{220,256}</string>
      </dict>
      <key>npc_2014_0_0_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{229,269}}</string>
        <key>offset</key>
        <string>{-99,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,269}}</string>
        <key>sourceSize</key>
        <string>{229,269}</string>
      </dict>
      <key>npc_2014_0_0_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{229,280}}</string>
        <key>offset</key>
        <string>{-99,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,280}}</string>
        <key>sourceSize</key>
        <string>{229,280}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_2014_0_0.png</string>
      <key>size</key>
      <string>{1322,1284}</string>
      <key>textureFileName</key>
      <string>npc_2014_0_0.png</string>
    </dict>
  </dict>
</plist>