<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_2013_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{251,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,290}}</string>
        <key>sourceSize</key>
        <string>{251,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{251,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,290}}</string>
        <key>sourceSize</key>
        <string>{251,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,584},{251,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,290}}</string>
        <key>sourceSize</key>
        <string>{251,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,876},{251,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,290}}</string>
        <key>sourceSize</key>
        <string>{251,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,876},{251,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,290}}</string>
        <key>sourceSize</key>
        <string>{251,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{251,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,290}}</string>
        <key>sourceSize</key>
        <string>{251,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{251,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,290}}</string>
        <key>sourceSize</key>
        <string>{251,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,0},{252,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,290}}</string>
        <key>sourceSize</key>
        <string>{252,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,253},{252,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,290}}</string>
        <key>sourceSize</key>
        <string>{252,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,507},{252,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,290}}</string>
        <key>sourceSize</key>
        <string>{252,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,799},{252,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,290}}</string>
        <key>sourceSize</key>
        <string>{252,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,507},{252,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,290}}</string>
        <key>sourceSize</key>
        <string>{252,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,799},{252,290}}</string>
        <key>offset</key>
        <string>{-100,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,290}}</string>
        <key>sourceSize</key>
        <string>{252,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,507},{253,290}}</string>
        <key>offset</key>
        <string>{-101,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,290}}</string>
        <key>sourceSize</key>
        <string>{253,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,254},{253,290}}</string>
        <key>offset</key>
        <string>{-101,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,290}}</string>
        <key>sourceSize</key>
        <string>{253,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,546},{254,290}}</string>
        <key>offset</key>
        <string>{-102,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,290}}</string>
        <key>sourceSize</key>
        <string>{254,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,838},{254,290}}</string>
        <key>offset</key>
        <string>{-102,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,290}}</string>
        <key>sourceSize</key>
        <string>{254,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1272,0},{254,290}}</string>
        <key>offset</key>
        <string>{-102,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,290}}</string>
        <key>sourceSize</key>
        <string>{254,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1272,292},{254,290}}</string>
        <key>offset</key>
        <string>{-102,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,290}}</string>
        <key>sourceSize</key>
        <string>{254,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1272,584},{254,290}}</string>
        <key>offset</key>
        <string>{-102,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,290}}</string>
        <key>sourceSize</key>
        <string>{254,290}</string>
      </dict>
      <key>npc_2013_0_0_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,876},{255,290}}</string>
        <key>offset</key>
        <string>{-102,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,290}}</string>
        <key>sourceSize</key>
        <string>{255,290}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_2013_0_0.png</string>
      <key>size</key>
      <string>{1534,1282}</string>
      <key>textureFileName</key>
      <string>npc_2013_0_0.png</string>
    </dict>
  </dict>
</plist>