<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_2016_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,1205},{278,315}}</string>
        <key>offset</key>
        <string>{-112,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,315}}</string>
        <key>sourceSize</key>
        <string>{278,315}</string>
      </dict>
      <key>npc_2016_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1276,922},{279,315}}</string>
        <key>offset</key>
        <string>{-113,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,315}}</string>
        <key>sourceSize</key>
        <string>{279,315}</string>
      </dict>
      <key>npc_2016_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1143},{281,316}}</string>
        <key>offset</key>
        <string>{-114,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,316}}</string>
        <key>sourceSize</key>
        <string>{281,316}</string>
      </dict>
      <key>npc_2016_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,922},{281,316}}</string>
        <key>offset</key>
        <string>{-114,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,316}}</string>
        <key>sourceSize</key>
        <string>{281,316}</string>
      </dict>
      <key>npc_2016_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,1143},{279,316}}</string>
        <key>offset</key>
        <string>{-114,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,316}}</string>
        <key>sourceSize</key>
        <string>{279,316}</string>
      </dict>
      <key>npc_2016_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,641},{279,317}}</string>
        <key>offset</key>
        <string>{-114,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,317}}</string>
        <key>sourceSize</key>
        <string>{279,317}</string>
      </dict>
      <key>npc_2016_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,859},{278,317}}</string>
        <key>offset</key>
        <string>{-115,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,317}}</string>
        <key>sourceSize</key>
        <string>{278,317}</string>
      </dict>
      <key>npc_2016_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,862},{279,317}}</string>
        <key>offset</key>
        <string>{-116,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,317}}</string>
        <key>sourceSize</key>
        <string>{279,317}</string>
      </dict>
      <key>npc_2016_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,861},{280,317}}</string>
        <key>offset</key>
        <string>{-116,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,317}}</string>
        <key>sourceSize</key>
        <string>{280,317}</string>
      </dict>
      <key>npc_2016_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,1139},{280,317}}</string>
        <key>offset</key>
        <string>{-116,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,317}}</string>
        <key>sourceSize</key>
        <string>{280,317}</string>
      </dict>
      <key>npc_2016_0_0_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{283,318}}</string>
        <key>offset</key>
        <string>{-117,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,318}}</string>
        <key>sourceSize</key>
        <string>{283,318}</string>
      </dict>
      <key>npc_2016_0_0_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,574},{283,318}}</string>
        <key>offset</key>
        <string>{-117,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,318}}</string>
        <key>sourceSize</key>
        <string>{283,318}</string>
      </dict>
      <key>npc_2016_0_0_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,575},{285,318}}</string>
        <key>offset</key>
        <string>{-118,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,318}}</string>
        <key>sourceSize</key>
        <string>{285,318}</string>
      </dict>
      <key>npc_2016_0_0_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,321},{285,318}}</string>
        <key>offset</key>
        <string>{-118,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,318}}</string>
        <key>sourceSize</key>
        <string>{285,318}</string>
      </dict>
      <key>npc_2016_0_0_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,575},{284,318}}</string>
        <key>offset</key>
        <string>{-119,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,318}}</string>
        <key>sourceSize</key>
        <string>{284,318}</string>
      </dict>
      <key>npc_2016_0_0_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{284,319}}</string>
        <key>offset</key>
        <string>{-119,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,319}}</string>
        <key>sourceSize</key>
        <string>{284,319}</string>
      </dict>
      <key>npc_2016_0_0_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,0},{284,319}}</string>
        <key>offset</key>
        <string>{-120,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,319}}</string>
        <key>sourceSize</key>
        <string>{284,319}</string>
      </dict>
      <key>npc_2016_0_0_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,0},{285,319}}</string>
        <key>offset</key>
        <string>{-120,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,319}}</string>
        <key>sourceSize</key>
        <string>{285,319}</string>
      </dict>
      <key>npc_2016_0_0_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,286},{286,319}}</string>
        <key>offset</key>
        <string>{-120,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,319}}</string>
        <key>sourceSize</key>
        <string>{286,319}</string>
      </dict>
      <key>npc_2016_0_0_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,286},{287,319}}</string>
        <key>offset</key>
        <string>{-121,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,319}}</string>
        <key>sourceSize</key>
        <string>{287,319}</string>
      </dict>
      <key>npc_2016_0_0_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{288,320}}</string>
        <key>offset</key>
        <string>{-122,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,320}}</string>
        <key>sourceSize</key>
        <string>{288,320}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_2016_0_0.png</string>
      <key>size</key>
      <string>{1558,1538}</string>
      <key>textureFileName</key>
      <string>npc_2016_0_0.png</string>
    </dict>
  </dict>
</plist>