<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj23_000105.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000106.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000107.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj23_000108.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000109.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000110.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj23_000111.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000112.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000113.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000114.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000115.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000116.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000117.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000118.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000119.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000120.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000121.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000122.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj23_000123.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,770},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj23_000124.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,800}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,800}}</string>
			<key>sourceSize</key>
			<string>{48,800}</string>
		</dict>
		<key>obj23_000125.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,770},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj23_000126.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,800}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,800}}</string>
			<key>sourceSize</key>
			<string>{48,800}</string>
		</dict>
		<key>obj23_000127.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,642},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj23_000128.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,802},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj23_000129.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,800}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,800}}</string>
			<key>sourceSize</key>
			<string>{48,800}</string>
		</dict>
		<key>obj23_000130.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,642},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj23_000131.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,642},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj23_000132.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,802},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj23_000133.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,800}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,800}}</string>
			<key>sourceSize</key>
			<string>{48,800}</string>
		</dict>
		<key>obj23_000134.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,642},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj23_000135.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,642},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj23_000136.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,802},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj23_000137.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,800}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,800}}</string>
			<key>sourceSize</key>
			<string>{48,800}</string>
		</dict>
		<key>obj23_000138.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,642},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj23_000139.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,642},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj23_3.png</string>
		<key>size</key>
		<string>{1184,1280}</string>
		<key>textureFileName</key>
		<string>obj23_3.png</string>
	</dict>
</dict>
</plist>
