<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj23_000315.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000316.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj23_000317.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,674},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj23_000318.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj23_000319.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000320.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,450},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj23_000321.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,674},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj23_000322.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj23_000323.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000324.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj23_000325.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj23_000326.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000327.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj23_000328.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000329.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj23_000330.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000331.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj23_000332.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000333.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj23_000334.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,674},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj23_000335.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000336.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj23_000337.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,674},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj23_000338.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000339.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj23_000340.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,674},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj23_000341.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000342.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj23_000343.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,674},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj23_000344.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000345.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj23_000346.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,674},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj23_000347.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000348.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj23_000349.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,674},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj23_9.png</string>
		<key>size</key>
		<string>{1216,1280}</string>
		<key>textureFileName</key>
		<string>obj23_9.png</string>
	</dict>
</dict>
</plist>
