<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj24_005768.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005769.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005770.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005771.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005772.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005773.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005774.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005775.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005776.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005777.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005778.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005779.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005780.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005781.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005782.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005783.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005784.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005785.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005786.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005787.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005788.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005789.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005790.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005791.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005792.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005793.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005794.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005795.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005796.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005797.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005798.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005799.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005800.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005801.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005802.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005803.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005804.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005805.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005806.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005807.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005808.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005809.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005810.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005811.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005812.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005813.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005814.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005815.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005816.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005817.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005818.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005819.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005820.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005821.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005822.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_005823.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj24_103.png</string>
		<key>size</key>
		<string>{385,272}</string>
		<key>textureFileName</key>
		<string>obj24_103.png</string>
	</dict>
</dict>
</plist>
