<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj24_004032.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004033.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004034.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004035.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004036.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004037.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004038.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004039.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004040.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004041.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004042.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004043.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004044.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004045.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004046.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004047.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004048.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004049.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004050.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004051.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004052.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004053.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004054.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004055.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004056.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004057.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004058.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004059.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004060.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004061.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004062.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004063.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004064.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004065.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004066.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004067.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004068.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004069.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004070.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004071.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004072.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004073.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004074.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004075.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004076.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004077.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004078.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004079.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004080.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004081.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004082.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004083.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004084.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004085.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004086.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_004087.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj24_72.png</string>
		<key>size</key>
		<string>{385,272}</string>
		<key>textureFileName</key>
		<string>obj24_72.png</string>
	</dict>
</dict>
</plist>
