<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj23_000490.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000491.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1026},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj23_000492.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000493.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000494.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,1024}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1024}}</string>
			<key>sourceSize</key>
			<string>{48,1024}</string>
		</dict>
		<key>obj23_000495.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000496.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1026},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj23_000497.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000498.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000499.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,1024}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1024}}</string>
			<key>sourceSize</key>
			<string>{48,1024}</string>
		</dict>
		<key>obj23_000500.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000501.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1026},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj23_000502.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000503.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000504.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,1024}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1024}}</string>
			<key>sourceSize</key>
			<string>{48,1024}</string>
		</dict>
		<key>obj23_000505.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000506.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1026},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj23_000507.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000508.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,1024}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1024}}</string>
			<key>sourceSize</key>
			<string>{48,1024}</string>
		</dict>
		<key>obj23_000509.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000510.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000511.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,1024}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1024}}</string>
			<key>sourceSize</key>
			<string>{48,1024}</string>
		</dict>
		<key>obj23_000512.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,1026},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj23_000513.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000514.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000515.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,1024}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1024}}</string>
			<key>sourceSize</key>
			<string>{48,1024}</string>
		</dict>
		<key>obj23_000516.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1026},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj23_000517.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000518.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000519.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,1026},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj23_000520.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj23_000521.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000522.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,898},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj23_000523.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000524.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,898},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj23_14.png</string>
		<key>size</key>
		<string>{1328,1824}</string>
		<key>textureFileName</key>
		<string>obj23_14.png</string>
	</dict>
</dict>
</plist>
