<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj23_000525.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000526.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1122},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj23_000527.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000528.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1122},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj23_000529.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000530.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000531.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000532.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000533.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000534.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000535.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000536.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000537.png</key>
		<dict>
			<key>frame</key>
			<string>{{1400,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000538.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000539.png</key>
		<dict>
			<key>frame</key>
			<string>{{1450,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000540.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000541.png</key>
		<dict>
			<key>frame</key>
			<string>{{1500,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000542.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000543.png</key>
		<dict>
			<key>frame</key>
			<string>{{1550,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000544.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000545.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,834},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj23_000546.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,1120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1120}}</string>
			<key>sourceSize</key>
			<string>{48,1120}</string>
		</dict>
		<key>obj23_000547.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000548.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,1120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1120}}</string>
			<key>sourceSize</key>
			<string>{48,1120}</string>
		</dict>
		<key>obj23_000549.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000550.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,1120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1120}}</string>
			<key>sourceSize</key>
			<string>{48,1120}</string>
		</dict>
		<key>obj23_000551.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000552.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,1120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1120}}</string>
			<key>sourceSize</key>
			<string>{48,1120}</string>
		</dict>
		<key>obj23_000553.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000554.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,1120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1120}}</string>
			<key>sourceSize</key>
			<string>{48,1120}</string>
		</dict>
		<key>obj23_000555.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000556.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,1120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1120}}</string>
			<key>sourceSize</key>
			<string>{48,1120}</string>
		</dict>
		<key>obj23_000557.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj23_000558.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,1120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1120}}</string>
			<key>sourceSize</key>
			<string>{48,1120}</string>
		</dict>
		<key>obj23_000559.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj23_15.png</string>
		<key>size</key>
		<string>{1616,1680}</string>
		<key>textureFileName</key>
		<string>obj23_15.png</string>
	</dict>
</dict>
</plist>
