<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj24_001064.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001065.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001066.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001067.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001068.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001069.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001070.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001071.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001072.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001073.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001074.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001075.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001076.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001077.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001078.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001079.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001080.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001081.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001082.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001083.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001084.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001085.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001086.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001087.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001088.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001089.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001090.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001091.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001092.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001093.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001094.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001095.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001096.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001097.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001098.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001099.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001100.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001101.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001102.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001103.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001104.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001105.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,170},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001106.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,204},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001107.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001108.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001109.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001110.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001111.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,102},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001112.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,136},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001113.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001114.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001115.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001116.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001117.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001118.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj24_001119.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,238},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj24_19.png</string>
		<key>size</key>
		<string>{385,272}</string>
		<key>textureFileName</key>
		<string>obj24_19.png</string>
	</dict>
</dict>
</plist>
