<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1000_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{126,133}}</string>
        <key>offset</key>
        <string>{-14,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,133}}</string>
        <key>sourceSize</key>
        <string>{126,133}</string>
      </dict>
      <key>player_1000_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{104,154}}</string>
        <key>offset</key>
        <string>{-12,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,154}}</string>
        <key>sourceSize</key>
        <string>{104,154}</string>
      </dict>
      <key>player_1000_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,157}}</string>
        <key>offset</key>
        <string>{-5,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,157}}</string>
        <key>sourceSize</key>
        <string>{78,157}</string>
      </dict>
      <key>player_1000_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{108,131}}</string>
        <key>offset</key>
        <string>{-34,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,131}}</string>
        <key>sourceSize</key>
        <string>{108,131}</string>
      </dict>
      <key>player_1000_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,110},{126,118}}</string>
        <key>offset</key>
        <string>{-58,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,118}}</string>
        <key>sourceSize</key>
        <string>{126,118}</string>
      </dict>
      <key>player_1000_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,230},{105,112}}</string>
        <key>offset</key>
        <string>{-43,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,112}}</string>
        <key>sourceSize</key>
        <string>{105,112}</string>
      </dict>
      <key>player_1000_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,230},{85,107}}</string>
        <key>offset</key>
        <string>{-20,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,107}}</string>
        <key>sourceSize</key>
        <string>{85,107}</string>
      </dict>
      <key>player_1000_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,230},{102,110}}</string>
        <key>offset</key>
        <string>{-24,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,110}}</string>
        <key>sourceSize</key>
        <string>{102,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1000_1_11.png</string>
      <key>size</key>
      <string>{426,385}</string>
      <key>textureFileName</key>
      <string>player_1000_1_11.png</string>
    </dict>
  </dict>
</plist>