<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1000_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,845},{101,91}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,91}}</string>
        <key>sourceSize</key>
        <string>{101,91}</string>
      </dict>
      <key>player_1000_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,713},{128,93}}</string>
        <key>offset</key>
        <string>{-57,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,93}}</string>
        <key>sourceSize</key>
        <string>{128,93}</string>
      </dict>
      <key>player_1000_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,191},{141,116}}</string>
        <key>offset</key>
        <string>{-67,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,116}}</string>
        <key>sourceSize</key>
        <string>{141,116}</string>
      </dict>
      <key>player_1000_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,583},{128,112}}</string>
        <key>offset</key>
        <string>{-54,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,112}}</string>
        <key>sourceSize</key>
        <string>{128,112}</string>
      </dict>
      <key>player_1000_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{145,127}}</string>
        <key>offset</key>
        <string>{-41,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,127}}</string>
        <key>sourceSize</key>
        <string>{145,127}</string>
      </dict>
      <key>player_1000_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,364},{104,97}}</string>
        <key>offset</key>
        <string>{-11,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,97}}</string>
        <key>sourceSize</key>
        <string>{104,97}</string>
      </dict>
      <key>player_1000_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,219},{138,113}}</string>
        <key>offset</key>
        <string>{-35,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,113}}</string>
        <key>sourceSize</key>
        <string>{138,113}</string>
      </dict>
      <key>player_1000_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,464},{109,112}}</string>
        <key>offset</key>
        <string>{-36,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,112}}</string>
        <key>sourceSize</key>
        <string>{109,112}</string>
      </dict>
      <key>player_1000_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,235},{133,137}}</string>
        <key>offset</key>
        <string>{-48,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,137}}</string>
        <key>sourceSize</key>
        <string>{133,137}</string>
      </dict>
      <key>player_1000_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,334},{93,137}}</string>
        <key>offset</key>
        <string>{-19,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,137}}</string>
        <key>sourceSize</key>
        <string>{93,137}</string>
      </dict>
      <key>player_1000_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,336},{137,137}}</string>
        <key>offset</key>
        <string>{-21,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,137}}</string>
        <key>sourceSize</key>
        <string>{137,137}</string>
      </dict>
      <key>player_1000_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,475},{136,119}}</string>
        <key>offset</key>
        <string>{-26,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,119}}</string>
        <key>sourceSize</key>
        <string>{136,119}</string>
      </dict>
      <key>player_1000_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,309},{116,137}}</string>
        <key>offset</key>
        <string>{-42,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,137}}</string>
        <key>sourceSize</key>
        <string>{116,137}</string>
      </dict>
      <key>player_1000_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,464},{117,130}}</string>
        <key>offset</key>
        <string>{-44,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,130}}</string>
        <key>sourceSize</key>
        <string>{117,130}</string>
      </dict>
      <key>player_1000_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,427},{129,134}}</string>
        <key>offset</key>
        <string>{-36,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,134}}</string>
        <key>sourceSize</key>
        <string>{129,134}</string>
      </dict>
      <key>player_1000_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{84,155}}</string>
        <key>offset</key>
        <string>{-4,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,155}}</string>
        <key>sourceSize</key>
        <string>{84,155}</string>
      </dict>
      <key>player_1000_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{97,155}}</string>
        <key>offset</key>
        <string>{-12,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,155}}</string>
        <key>sourceSize</key>
        <string>{97,155}</string>
      </dict>
      <key>player_1000_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,153},{115,143}}</string>
        <key>offset</key>
        <string>{-41,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,143}}</string>
        <key>sourceSize</key>
        <string>{115,143}</string>
      </dict>
      <key>player_1000_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,0},{89,151}}</string>
        <key>offset</key>
        <string>{-17,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,151}}</string>
        <key>sourceSize</key>
        <string>{89,151}</string>
      </dict>
      <key>player_1000_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{131,129}}</string>
        <key>offset</key>
        <string>{-42,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,129}}</string>
        <key>sourceSize</key>
        <string>{131,129}</string>
      </dict>
      <key>player_1000_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,697},{128,109}}</string>
        <key>offset</key>
        <string>{-5,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,109}}</string>
        <key>sourceSize</key>
        <string>{128,109}</string>
      </dict>
      <key>player_1000_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,370},{127,137}}</string>
        <key>offset</key>
        <string>{-22,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,137}}</string>
        <key>sourceSize</key>
        <string>{127,137}</string>
      </dict>
      <key>player_1000_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,0},{89,152}}</string>
        <key>offset</key>
        <string>{-13,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,152}}</string>
        <key>sourceSize</key>
        <string>{89,152}</string>
      </dict>
      <key>player_1000_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{89,153}}</string>
        <key>offset</key>
        <string>{-18,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,153}}</string>
        <key>sourceSize</key>
        <string>{89,153}</string>
      </dict>
      <key>player_1000_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,99},{118,146}}</string>
        <key>offset</key>
        <string>{-52,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,146}}</string>
        <key>sourceSize</key>
        <string>{118,146}</string>
      </dict>
      <key>player_1000_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,822},{120,105}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,105}}</string>
        <key>sourceSize</key>
        <string>{120,105}</string>
      </dict>
      <key>player_1000_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,697},{123,108}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,108}}</string>
        <key>sourceSize</key>
        <string>{123,108}</string>
      </dict>
      <key>player_1000_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,429},{137,121}}</string>
        <key>offset</key>
        <string>{-28,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,121}}</string>
        <key>sourceSize</key>
        <string>{137,121}</string>
      </dict>
      <key>player_1000_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,91},{147,142}}</string>
        <key>offset</key>
        <string>{-50,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,142}}</string>
        <key>sourceSize</key>
        <string>{147,142}</string>
      </dict>
      <key>player_1000_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{119,155}}</string>
        <key>offset</key>
        <string>{-49,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,155}}</string>
        <key>sourceSize</key>
        <string>{119,155}</string>
      </dict>
      <key>player_1000_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,552},{132,133}}</string>
        <key>offset</key>
        <string>{-54,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,133}}</string>
        <key>sourceSize</key>
        <string>{132,133}</string>
      </dict>
      <key>player_1000_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,0},{104,106}}</string>
        <key>offset</key>
        <string>{-12,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,106}}</string>
        <key>sourceSize</key>
        <string>{104,106}</string>
      </dict>
      <key>player_1000_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,713},{103,103}}</string>
        <key>offset</key>
        <string>{-9,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,103}}</string>
        <key>sourceSize</key>
        <string>{103,103}</string>
      </dict>
      <key>player_1000_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,364},{98,136}}</string>
        <key>offset</key>
        <string>{-23,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,136}}</string>
        <key>sourceSize</key>
        <string>{98,136}</string>
      </dict>
      <key>player_1000_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,727},{131,122}}</string>
        <key>offset</key>
        <string>{-59,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,122}}</string>
        <key>sourceSize</key>
        <string>{131,122}</string>
      </dict>
      <key>player_1000_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,499},{134,133}}</string>
        <key>offset</key>
        <string>{-60,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,133}}</string>
        <key>sourceSize</key>
        <string>{134,133}</string>
      </dict>
      <key>player_1000_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,827},{104,113}}</string>
        <key>offset</key>
        <string>{-17,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,113}}</string>
        <key>sourceSize</key>
        <string>{104,113}</string>
      </dict>
      <key>player_1000_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,845},{97,84}}</string>
        <key>offset</key>
        <string>{-8,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,84}}</string>
        <key>sourceSize</key>
        <string>{97,84}</string>
      </dict>
      <key>player_1000_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,558},{130,95}}</string>
        <key>offset</key>
        <string>{-48,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,95}}</string>
        <key>sourceSize</key>
        <string>{130,95}</string>
      </dict>
      <key>player_1000_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,634},{77,130}}</string>
        <key>offset</key>
        <string>{-22,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,130}}</string>
        <key>sourceSize</key>
        <string>{77,130}</string>
      </dict>
      <key>player_1000_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,713},{103,130}}</string>
        <key>offset</key>
        <string>{-42,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,130}}</string>
        <key>sourceSize</key>
        <string>{103,130}</string>
      </dict>
      <key>player_1000_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,822},{111,111}}</string>
        <key>offset</key>
        <string>{-26,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,111}}</string>
        <key>sourceSize</key>
        <string>{111,111}</string>
      </dict>
      <key>player_1000_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,860},{80,109}}</string>
        <key>offset</key>
        <string>{-11,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,109}}</string>
        <key>sourceSize</key>
        <string>{80,109}</string>
      </dict>
      <key>player_1000_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,583},{128,81}}</string>
        <key>offset</key>
        <string>{-43,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,81}}</string>
        <key>sourceSize</key>
        <string>{128,81}</string>
      </dict>
      <key>player_1000_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,91},{144,98}}</string>
        <key>offset</key>
        <string>{-83,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,98}}</string>
        <key>sourceSize</key>
        <string>{144,98}</string>
      </dict>
      <key>player_1000_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,727},{131,125}}</string>
        <key>offset</key>
        <string>{-54,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,125}}</string>
        <key>sourceSize</key>
        <string>{131,125}</string>
      </dict>
      <key>player_1000_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,270},{92,139}}</string>
        <key>offset</key>
        <string>{-26,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,139}}</string>
        <key>sourceSize</key>
        <string>{92,139}</string>
      </dict>
      <key>player_1000_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,860},{76,112}}</string>
        <key>offset</key>
        <string>{-11,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,112}}</string>
        <key>sourceSize</key>
        <string>{76,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1000_0_10.png</string>
      <key>size</key>
      <string>{823,949}</string>
      <key>textureFileName</key>
      <string>player_1000_0_10.png</string>
    </dict>
  </dict>
</plist>