<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1000_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{126,137}}</string>
        <key>offset</key>
        <string>{-14,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,137}}</string>
        <key>sourceSize</key>
        <string>{126,137}</string>
      </dict>
      <key>player_1000_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{104,154}}</string>
        <key>offset</key>
        <string>{-12,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,154}}</string>
        <key>sourceSize</key>
        <string>{104,154}</string>
      </dict>
      <key>player_1000_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,157}}</string>
        <key>offset</key>
        <string>{-5,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,157}}</string>
        <key>sourceSize</key>
        <string>{79,157}</string>
      </dict>
      <key>player_1000_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,0},{109,134}}</string>
        <key>offset</key>
        <string>{-34,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,134}}</string>
        <key>sourceSize</key>
        <string>{109,134}</string>
      </dict>
      <key>player_1000_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,111},{125,123}}</string>
        <key>offset</key>
        <string>{-58,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,123}}</string>
        <key>sourceSize</key>
        <string>{125,123}</string>
      </dict>
      <key>player_1000_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,236},{103,115}}</string>
        <key>offset</key>
        <string>{-43,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,115}}</string>
        <key>sourceSize</key>
        <string>{103,115}</string>
      </dict>
      <key>player_1000_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,111},{87,106}}</string>
        <key>offset</key>
        <string>{-20,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,106}}</string>
        <key>sourceSize</key>
        <string>{87,106}</string>
      </dict>
      <key>player_1000_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,236},{102,115}}</string>
        <key>offset</key>
        <string>{-24,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,115}}</string>
        <key>sourceSize</key>
        <string>{102,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1000_0_11.png</string>
      <key>size</key>
      <string>{427,385}</string>
      <key>textureFileName</key>
      <string>player_1000_0_11.png</string>
    </dict>
  </dict>
</plist>