<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1000_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,483},{111,133}}</string>
        <key>offset</key>
        <string>{-13,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,133}}</string>
        <key>sourceSize</key>
        <string>{111,133}</string>
      </dict>
      <key>player_1000_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{100,141}}</string>
        <key>offset</key>
        <string>{-36,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,141}}</string>
        <key>sourceSize</key>
        <string>{100,141}</string>
      </dict>
      <key>player_1000_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,0},{114,150}}</string>
        <key>offset</key>
        <string>{-37,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,150}}</string>
        <key>sourceSize</key>
        <string>{114,150}</string>
      </dict>
      <key>player_1000_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,586},{131,114}}</string>
        <key>offset</key>
        <string>{-50,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,114}}</string>
        <key>sourceSize</key>
        <string>{131,114}</string>
      </dict>
      <key>player_1000_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,259},{140,112}}</string>
        <key>offset</key>
        <string>{-41,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,112}}</string>
        <key>sourceSize</key>
        <string>{140,112}</string>
      </dict>
      <key>player_1000_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{131,131}}</string>
        <key>offset</key>
        <string>{-13,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,131}}</string>
        <key>sourceSize</key>
        <string>{131,131}</string>
      </dict>
      <key>player_1000_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{113,148}}</string>
        <key>offset</key>
        <string>{-12,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,148}}</string>
        <key>sourceSize</key>
        <string>{113,148}</string>
      </dict>
      <key>player_1000_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,115},{110,147}}</string>
        <key>offset</key>
        <string>{-40,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,147}}</string>
        <key>sourceSize</key>
        <string>{110,147}</string>
      </dict>
      <key>player_1000_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{130,163}}</string>
        <key>offset</key>
        <string>{-57,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,163}}</string>
        <key>sourceSize</key>
        <string>{130,163}</string>
      </dict>
      <key>player_1000_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,132},{125,143}}</string>
        <key>offset</key>
        <string>{-27,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,143}}</string>
        <key>sourceSize</key>
        <string>{125,143}</string>
      </dict>
      <key>player_1000_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,690},{121,124}}</string>
        <key>offset</key>
        <string>{-25,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,124}}</string>
        <key>sourceSize</key>
        <string>{121,124}</string>
      </dict>
      <key>player_1000_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,150},{127,147}}</string>
        <key>offset</key>
        <string>{0,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,147}}</string>
        <key>sourceSize</key>
        <string>{127,147}</string>
      </dict>
      <key>player_1000_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,0},{72,148}}</string>
        <key>offset</key>
        <string>{-3,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,148}}</string>
        <key>sourceSize</key>
        <string>{72,148}</string>
      </dict>
      <key>player_1000_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,237},{120,141}}</string>
        <key>offset</key>
        <string>{-56,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,141}}</string>
        <key>sourceSize</key>
        <string>{120,141}</string>
      </dict>
      <key>player_1000_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,299},{127,144}}</string>
        <key>offset</key>
        <string>{-41,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,144}}</string>
        <key>sourceSize</key>
        <string>{127,144}</string>
      </dict>
      <key>player_1000_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,116},{119,146}}</string>
        <key>offset</key>
        <string>{-27,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,146}}</string>
        <key>sourceSize</key>
        <string>{119,146}</string>
      </dict>
      <key>player_1000_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,227},{84,145}}</string>
        <key>offset</key>
        <string>{-2,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,145}}</string>
        <key>sourceSize</key>
        <string>{84,145}</string>
      </dict>
      <key>player_1000_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{97,170}}</string>
        <key>offset</key>
        <string>{-5,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,170}}</string>
        <key>sourceSize</key>
        <string>{97,170}</string>
      </dict>
      <key>player_1000_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,313},{83,138}}</string>
        <key>offset</key>
        <string>{-15,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,138}}</string>
        <key>sourceSize</key>
        <string>{83,138}</string>
      </dict>
      <key>player_1000_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,459},{135,125}}</string>
        <key>offset</key>
        <string>{-47,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,125}}</string>
        <key>sourceSize</key>
        <string>{135,125}</string>
      </dict>
      <key>player_1000_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,817},{96,112}}</string>
        <key>offset</key>
        <string>{-6,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,112}}</string>
        <key>sourceSize</key>
        <string>{96,112}</string>
      </dict>
      <key>player_1000_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,359},{137,122}}</string>
        <key>offset</key>
        <string>{-32,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,122}}</string>
        <key>sourceSize</key>
        <string>{137,122}</string>
      </dict>
      <key>player_1000_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,743},{104,131}}</string>
        <key>offset</key>
        <string>{-25,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,131}}</string>
        <key>sourceSize</key>
        <string>{104,131}</string>
      </dict>
      <key>player_1000_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{83,156}}</string>
        <key>offset</key>
        <string>{-13,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,156}}</string>
        <key>sourceSize</key>
        <string>{83,156}</string>
      </dict>
      <key>player_1000_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,690},{107,126}}</string>
        <key>offset</key>
        <string>{-44,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,126}}</string>
        <key>sourceSize</key>
        <string>{107,126}</string>
      </dict>
      <key>player_1000_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,773},{100,115}}</string>
        <key>offset</key>
        <string>{-9,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,115}}</string>
        <key>sourceSize</key>
        <string>{100,115}</string>
      </dict>
      <key>player_1000_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,569},{83,119}}</string>
        <key>offset</key>
        <string>{-4,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,119}}</string>
        <key>sourceSize</key>
        <string>{83,119}</string>
      </dict>
      <key>player_1000_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,702},{116,129}}</string>
        <key>offset</key>
        <string>{-12,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,129}}</string>
        <key>sourceSize</key>
        <string>{116,129}</string>
      </dict>
      <key>player_1000_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{136,120}}</string>
        <key>offset</key>
        <string>{-44,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,120}}</string>
        <key>sourceSize</key>
        <string>{136,120}</string>
      </dict>
      <key>player_1000_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,743},{130,126}}</string>
        <key>offset</key>
        <string>{-65,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,126}}</string>
        <key>sourceSize</key>
        <string>{130,126}</string>
      </dict>
      <key>player_1000_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,445},{110,122}}</string>
        <key>offset</key>
        <string>{-49,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,122}}</string>
        <key>sourceSize</key>
        <string>{110,122}</string>
      </dict>
      <key>player_1000_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,123},{87,109}}</string>
        <key>offset</key>
        <string>{0,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,109}}</string>
        <key>sourceSize</key>
        <string>{87,109}</string>
      </dict>
      <key>player_1000_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,833},{118,107}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,107}}</string>
        <key>sourceSize</key>
        <string>{118,107}</string>
      </dict>
      <key>player_1000_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{97,139}}</string>
        <key>offset</key>
        <string>{-20,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,139}}</string>
        <key>sourceSize</key>
        <string>{97,139}</string>
      </dict>
      <key>player_1000_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,445},{121,129}}</string>
        <key>offset</key>
        <string>{-47,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,129}}</string>
        <key>sourceSize</key>
        <string>{121,129}</string>
      </dict>
      <key>player_1000_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,398},{134,125}}</string>
        <key>offset</key>
        <string>{-77,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,125}}</string>
        <key>sourceSize</key>
        <string>{134,125}</string>
      </dict>
      <key>player_1000_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,569},{84,111}}</string>
        <key>offset</key>
        <string>{-14,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,111}}</string>
        <key>sourceSize</key>
        <string>{84,111}</string>
      </dict>
      <key>player_1000_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,299},{102,100}}</string>
        <key>offset</key>
        <string>{-7,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,100}}</string>
        <key>sourceSize</key>
        <string>{102,100}</string>
      </dict>
      <key>player_1000_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,818},{118,101}}</string>
        <key>offset</key>
        <string>{-29,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,101}}</string>
        <key>sourceSize</key>
        <string>{118,101}</string>
      </dict>
      <key>player_1000_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,596},{92,127}}</string>
        <key>offset</key>
        <string>{-16,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,127}}</string>
        <key>sourceSize</key>
        <string>{92,127}</string>
      </dict>
      <key>player_1000_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,373},{84,137}}</string>
        <key>offset</key>
        <string>{-30,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,137}}</string>
        <key>sourceSize</key>
        <string>{84,137}</string>
      </dict>
      <key>player_1000_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,813},{88,115}}</string>
        <key>offset</key>
        <string>{-35,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,115}}</string>
        <key>sourceSize</key>
        <string>{88,115}</string>
      </dict>
      <key>player_1000_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,0},{90,121}}</string>
        <key>offset</key>
        <string>{-15,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,121}}</string>
        <key>sourceSize</key>
        <string>{90,121}</string>
      </dict>
      <key>player_1000_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,525},{127,115}}</string>
        <key>offset</key>
        <string>{-39,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,115}}</string>
        <key>sourceSize</key>
        <string>{127,115}</string>
      </dict>
      <key>player_1000_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,568},{120,126}}</string>
        <key>offset</key>
        <string>{-45,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,126}}</string>
        <key>sourceSize</key>
        <string>{120,126}</string>
      </dict>
      <key>player_1000_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,690},{125,116}}</string>
        <key>offset</key>
        <string>{-52,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,116}}</string>
        <key>sourceSize</key>
        <string>{125,116}</string>
      </dict>
      <key>player_1000_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{101,135}}</string>
        <key>offset</key>
        <string>{-25,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,135}}</string>
        <key>sourceSize</key>
        <string>{101,135}</string>
      </dict>
      <key>player_1000_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,690},{81,116}}</string>
        <key>offset</key>
        <string>{-18,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,116}}</string>
        <key>sourceSize</key>
        <string>{81,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1000_0_2.png</string>
      <key>size</key>
      <string>{866,951}</string>
      <key>textureFileName</key>
      <string>player_1000_0_2.png</string>
    </dict>
  </dict>
</plist>