<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10004_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,338},{147,190}}</string>
        <key>offset</key>
        <string>{38,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,190}}</string>
        <key>sourceSize</key>
        <string>{147,190}</string>
      </dict>
      <key>sfx_10004_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,0},{154,191}}</string>
        <key>offset</key>
        <string>{35,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,191}}</string>
        <key>sourceSize</key>
        <string>{154,191}</string>
      </dict>
      <key>sfx_10004_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,496},{152,193}}</string>
        <key>offset</key>
        <string>{38,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,193}}</string>
        <key>sourceSize</key>
        <string>{152,193}</string>
      </dict>
      <key>sfx_10004_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{157,196}}</string>
        <key>offset</key>
        <string>{35,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,196}}</string>
        <key>sourceSize</key>
        <string>{157,196}</string>
      </dict>
      <key>sfx_10004_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,163},{159,195}}</string>
        <key>offset</key>
        <string>{33,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,195}}</string>
        <key>sourceSize</key>
        <string>{159,195}</string>
      </dict>
      <key>sfx_10004_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{158,194}}</string>
        <key>offset</key>
        <string>{32,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,194}}</string>
        <key>sourceSize</key>
        <string>{158,194}</string>
      </dict>
      <key>sfx_10004_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,486},{156,194}}</string>
        <key>offset</key>
        <string>{31,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,194}}</string>
        <key>sourceSize</key>
        <string>{156,194}</string>
      </dict>
      <key>sfx_10004_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,511},{157,192}}</string>
        <key>offset</key>
        <string>{31,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,192}}</string>
        <key>sourceSize</key>
        <string>{157,192}</string>
      </dict>
      <key>sfx_10004_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,335},{159,194}}</string>
        <key>offset</key>
        <string>{30,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,194}}</string>
        <key>sourceSize</key>
        <string>{159,194}</string>
      </dict>
      <key>sfx_10004_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{160,195}}</string>
        <key>offset</key>
        <string>{31,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,195}}</string>
        <key>sourceSize</key>
        <string>{160,195}</string>
      </dict>
      <key>sfx_10004_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{161,197}}</string>
        <key>offset</key>
        <string>{30,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,197}}</string>
        <key>sourceSize</key>
        <string>{161,197}</string>
      </dict>
      <key>sfx_10004_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,198}}</string>
        <key>offset</key>
        <string>{28,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,198}}</string>
        <key>sourceSize</key>
        <string>{162,198}</string>
      </dict>
      <key>sfx_10004_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,159},{174,196}}</string>
        <key>offset</key>
        <string>{20,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,196}}</string>
        <key>sourceSize</key>
        <string>{174,196}</string>
      </dict>
      <key>sfx_10004_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,324},{185,195}}</string>
        <key>offset</key>
        <string>{13,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,195}}</string>
        <key>sourceSize</key>
        <string>{185,195}</string>
      </dict>
      <key>sfx_10004_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,156},{180,191}}</string>
        <key>offset</key>
        <string>{8,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,191}}</string>
        <key>sourceSize</key>
        <string>{180,191}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10004_0.png</string>
      <key>size</key>
      <string>{794,770}</string>
      <key>textureFileName</key>
      <string>sfx_10004_0.png</string>
    </dict>
  </dict>
</plist>